<table id="cooperItemList" class="table table-condensed table-bordered">
  <tr>
    <th>#</th>
    <th>SKU</th>
    <th>价格</th>
    <th>生产周期(day)</th>
    <th>每箱数量</th>
    <th>最低采购量</th>
    <th>状态</th>
    <th width="120px;"></th>
  </tr>
#{list items:items, as:'itm'}
  <tr>
    <td>${itm.id}</td>
    <td rel="popover" content="${itm.memo}">${itm.sku}</td>
    <td>${itm.price.format('#.##')} ${itm.currency}</td>
    <td>${itm.period}</td>
    <td>${itm.boxSize}</td>
    <td>${itm.lowestOrderNum}</td>
    <td>${itm.status?.label()}</td>
    <td>
      <a href="@{Cooperators.editCooperItem(itm.id)}" class="btn btn-mini"><i class="icon-edit"></i></a>
      <button copItemId='${itm.id}' class="btn btn-mini delelte" rel="tooltip" title="删除">
        <i class="icon-trash"></i></button>
        #{if itm.status?.name() != 'Agree'}
          <a class="btn btn-mini" style="color:green;" rel="tooltip" title="审核通过"
             href="@{Cooperators.agreeCooperItem(itm.id)}"><i class="icon-ok"></i></a>
          <a class="btn btn-mini" style="color:red;" rel="tooltip" title="审核通过"
             href="@{Cooperators.disAgreeCooperItem(itm.id)}"><i class="icon-remove"></i></a>
        #{/if}
    </td>
  </tr>
#{/list}
  <!-- 为此供应商关联新的产品 -->
  <tr>
    <td colspan="8">
      <a href="@{Cooperators.newCooperItem(null, coper.id)}" class="btn btn-primary">
        为[${coper.fullName}]添加新的生产的产品</a>
    </td>
  </tr>
</table>