<table id="cooperItemList" class="table table-condensed table-bordered">
  <tr>
    <th>#</th>
    <th>SKU</th>
    <th>价格</th>
    <th>含税价</th>
    <th>税点</th>
    <th>生产周期(day)</th>
    <th>每箱数量</th>
    <th>最低采购量</th>
    <th>状态</th>
    <th width="120px;">Action</th>
  </tr>
#{list items:items, as:'itm'}
  <tr>
    <td>${itm.id}</td>
    <td data-toggle="tooltip" title="${itm.memo}">${itm.sku}</td>
    <td>${itm.currency} ${itm.price.format('#.##')}</td>
    <td>${itm.taxCurrency} ${itm.taxPrice.format('#.##')} </td>
    <td>#{if itm.taxPoint} ${itm.taxPoint} % #{/if}</td>
    <td>${itm.period}</td>
    <td>${itm.boxSize}</td>
    <td>${itm.lowestOrderNum}</td>
    <td style="color:${itm.status.rgb()}">${itm.status?.label()}</td>
    <td>
      <a href="@{Cooperators.editCooperItem(itm.id)}" class="btn btn-xs btn-info"><i class="icon-pencil"></i></a>
      <a href="@{Cooperators.removeCooperItemById(itm.id)}" class="btn btn-xs btn-danger" rel="tooltip"
         name="itemDel" title="删除"><i class="icon-trash"></i></a>
      
      #{power.ck 'cooperitem.skuauditing'}
          #{if itm.status?.name() != 'Agree'}
            <a class="btn btn-xs" style="color:green;" rel="tooltip" title="审核通过"
               href="@{Cooperators.agreeCooperItem(itm.id)}"><i class="icon-ok"></i></a>
            <a class="btn btn-xs" style="color:red;" rel="tooltip" title="审核不通过"
               href="@{Cooperators.disAgreeCooperItem(itm.id)}"><i class="icon-remove"></i></a>
          #{/if}
      #{/power.ck}
    </td>
  </tr>
#{/list}
  <!-- 为此供应商关联新的产品 -->
  <tr>
    <td colspan="8">
      <a href="@{Cooperators.newCooperItem(null, coper.id)}" class="btn btn-xs btn-warning">
        为[${coper.fullName}]添加新的生产的产品</a>
    </td>
  </tr>
</table>