<table id="cooperItemList" class="table table-condensed table-bordered">
  <tr>
    <th>#</th>
    <th>物料编码</th>
    <th>物料名称</th>
    <th>物料类别</th>
    <th>包装组编号</th>
    <th>规格</th>
    <th width="150px;">工艺</th>
    <th width="150px;">工厂物料代码</th>
    <th>价格</th>
    <th>生产周期(day)</th>
    <th>每箱数量</th>
    <th>最低采购量</th>
    <th width="90px;"></th>
  </tr>
#{list items:items, as:'itm'}
  <tr>
    <td>${itm.id}</td>
    <td rel="popover" content="${itm.memo}">${itm.material?.code}</td>
    <td>${itm.material?.name}</td>
    <td>${itm.material?.type?.label()}</td>
    <td></td>
    <td title="${itm.material?.specification}" data-toggle="tooltip">${itm.material?.specification?.nineLong()}</td>
    <td title="${itm.material?.technology}" data-toggle="tooltip">${itm.material?.technology?.nineLong()}</td>
    <td title="${itm.material?.version}" data-toggle="tooltip">${itm.material?.version?.overLong()}</td>
    <td>${itm.price} ${itm.currency}</td>
    <td>${itm.period}</td>
    <td>${itm.boxSize}</td>
    <td>${itm.lowestOrderNum}</td>
    <td>
      <a href="@{Cooperators.editCooperItem(itm.id)}" class="btn btn-xs btn-info"><i class="icon-pencil"></i></a>
      <a href="@{Cooperators.removeCooperItemById(itm.id)}" class="btn btn-xs btn-danger" data-toggle="tooltip"
         name="itemDel" title="删除"><i class="icon-trash"></i></a>
    </td>
  </tr>
#{/list}
  <!-- 为此供应商关联新的产品 -->
  <tr>
    <td colspan="13">
      <a href="@{Cooperators.newMaterialItem(coper.id)}" class="btn btn-xs btn-warning">为[${coper.fullName}]添加新的生产的物料</a>
    </td>
  </tr>
</table>