#{extends 'main_full.html'/}
#{set title:"Cooperators(${coopers.size()})" /}
#{set 'moreScripts'}
    #{script 'cooperators/index.coffee'/}
    #{script 'jquery.validate.min.js'/}
#{/set}

<div class="row-fluid">
    <div id='nav_bar' class="span2 well">
        <ul class="nav nav-tabs nav-stacked">
            <li><label class="label label-success">合作伙伴</label></li>
        #{list items:coopers, as:'cop'}
            #{if cop_index == 1}
                <li class="active"><a href="#" id="${cop.id}">${cop.fullName}</a></li>
            #{/if}
            #{else}
                <li><a href="#">${cop.fullName}</a></li>
            #{/else}
        #{/list}
        </ul>
        <a href="#" class="btn btn-primary">添加新合作伙伴</a>
    </div>

    <div id='show_cooperator' class="span10 well">
        Loading...
    </div>
</div>