#{extends 'main_full.html'/}
#{set title:"Cooperators(${coopers.size()})" /}
#{set 'moreScripts'}
    #{script name: 'cooperators/index.coffee'/}
    #{script name: 'jquery.validate.min.js'/}
#{/set}

#{if flash.success}
<div class="alert alert-success">
    <button class="close" data-dismiss="alert">×</button>
    <p>${flash.success}</p>
</div>
#{/if}

<div class="row-fluid">
    <div id='nav_bar' class="span3 well">
        <ul class="nav nav-tabs nav-stacked">
            <li><label class="label label-success">合作伙伴</label></li>
        #{list items:coopers, as:'cop'}
            <li>
                <a href="#" id="${cop.id}"><span class="badge badge-info">${cop.cooperItems?.size()}</span>
                ${cop.fullName}
                </a>
            </li>
        #{/list}
        </ul>
        <a href="@{Cooperators.newCooper()}" class="btn btn-primary">添加新合作伙伴</a>
    </div>

    <div id='show_cooperator' class="span9 well">
        Loading...
    </div>
</div>