#{script 'cooperators/show.coffee'/}

#{if flash.success}
<div class="row-fluid">
    <div class="alert alert-success">${flash.success}</div>
</div>
#{/if}

<!-- Cooperator 自己的信息 -->
<div class="row-fluid">
    <form id="cooperator" cid="${coper.id}">
        <label class="label label-info">合作者信息</label>
        <table class="table table-condensed table-bordered">
            <tr>
                <td>FullName:</td>
                <td><input type="text" name="cop.fullName" class="required" value="${coper.fullName}"></td>
                <td>Name:</td>
                <td><input type="text" name="cop.name" class="required" value="${coper.name}"></td>
            </tr>
            <tr>
                <td>Contacter:</td>
                <td><input type="text" name="cop.contacter" class="required" value="${coper.contacter}"></td>
                <td>Phone:</td>
                <td><input type="text" name="cop.phone" class="required" value="${coper.phone}"></td>
            </tr>

            <tr>
                <td>Type:</td>
                <td><input type="text" readonly="" class="required" value="${coper.type.to_s()}"></td>
                <td>Id:</td>
                <td><input type="text" readonly="" name="cop.id" value="${coper.id}"></td>
            </tr>

            <tr>
                <td>Address:</td>
                <td colspan="3">
                    <input type="text" name="cop.address" class="span10" value="${coper.address}">
                </td>
            </tr>


            <tr>
                <td colspan="4">
                    Memo:
                    <textarea rows="8" class="span12" name="cop.memo">${coper.memo}</textarea>
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <a id="cop_update" class="btn btn-primary">更新</a>
                </td>
            </tr>
        </table>
    </form>
</div>


<!-- 其关联的产品的信息 -->
#{if coper.type == models.procure.Cooperator.T.SUPPLIER}
<div class="row-fluid" style="min-height:200px">
    <label class="label label-info">${coper.fullName} 生产的产品</label>
    <table id="cooperItemList" class="table table-condensed table-bordered">
        <tr>
            <th>#</th>
            <th>SKU</th>
            <th>价格</th>
            <th>生产周期(day)</th>
            <th>最低采购量</th>
            <th width="70"></th>
        </tr>
        #{list items:coper.cooperItems, as:'itm'}
            <tr>
                <td>${itm.id}</td>
                <td rel="popover" content="${itm.memo}">${itm.sku}</td>
                <td>${itm.price.format('#.##')} ${itm.currency}</td>
                <td>${itm.period}</td>
                <td>${itm.lowestOrderNum}</td>
                <td>
                    <a href="@{Cooperators.editCooperItem()}?copItem.id=${itm.id}" class="btn btn-mini"><i class="icon-edit"></i></a>
                    <button copItemId='${itm.id}' class="btn btn-mini delelte"><i class="icon-remove"></i></button>
                </td>
            </tr>
        #{/list}
        <!-- 为此供应商关联新的产品 -->
        <tr>
            <td colspan="6">
                <a href="@{Cooperators.newCooperItem(null, coper.id)}" class="btn btn-primary">
                    为[${coper.fullName}]添加新的生产的产品</a>
            </td>
        </tr>
    </table>
</div>
#{/if}

