<table class="table table-condensed table-bordered">
  <tr>
    <td>每箱数量</td>
    <td><input type="text" class="input-mini" name="copItem<%= num %>.boxSize" value="${copItem.boxSize}"></td>
    <td>单箱重量</td>
    <td>
      <input type="text" class="input-mini" name="copItem.singleBoxWeight" value="${copItem.singleBoxWeight}">
    </td>
  </tr>
  <tr>
    <td>箱长</td>
    <td><input type="text" class="input-mini" name="copItem.length" value="${copItem.length}"></td>
    <td>箱宽</td>
    <td><input type="text" class="input-mini" name="copItem.width" value="${copItem.width}"></td>
  </tr>
  <tr>
    <td>箱高</td>
    <td colspan="3"><input type="text" class="input-mini" name="copItem.height" value="${copItem.height}"></td>
  </tr>
</table>