<tr data-toggle="toggle" data-target="#toogle_${acc.id}" style="cursor:pointer">
    <td>${acc.id}</td>
    <td></td>
    <td rel="popover" content="${acc.token}" title="Token" width="auto">${acc.uniqueName}</td>
    <td>${acc.type}</td>
    <td>${acc.merchantId}</td>
    <td>${acc.accessKey}</td>
    <td>#{yesOrNo f:acc.isSaleAcc /}</td>
    <td>#{yesOrNo f:acc.isAUK/}</td>
    <td>#{yesOrNo f:acc.isADE/}</td>
    <td>#{yesOrNo f:acc.isAUS/}</td>
    <td>#{yesOrNo f:acc.isAFR/}</td>
    <td>#{yesOrNo f:acc.isAIT/}</td>
    <td>#{yesOrNo f:acc.isAJP/}</td>
    <td>#{yesOrNo f:acc.closeable/}</td>
</tr>
<tr id="toogle_${acc.id}" style="display:none;">
    <td colspan="10">
        <form>
            <table class="table table-condensed table-bordered">
                <tr>
                    <td>UserName:</td>
                    <td><input type="text" name="a.username" value="${acc.username}"></td>
                    <td>UniqueName:</td>
                    <td><input type="text" name="a.uniqueName" readonly="" value="${acc.uniqueName}"></td>
                </tr>

                <tr>
                    <td>Password:</td>
                    <!-- 如果是非销售账号, 则给出密码 -->
                    <td>
                        <input type="${acc.isSaleAcc ? 'password' : 'text'}" name="a.password" value="${acc.isSaleAcc ? '' : acc.password}">
                    </td>
                    <td>Confirm:</td>
                    <td><input type="${acc.isSaleAcc ? 'password' : 'text'}" name="a.confirm"></td>
                </tr>

                <tr>
                    <td>Type:</td>
                    <td><input type="text" readonly="" value="${acc.type}"></td>

                    <td>Checks:</td>
                    <td>
                        <label class="checkbox inline">
                            <input type="checkbox" name="a.closeable" ${acc.closeable ? 'checked' : ''} value="${acc.closeable}">
                            Closeable
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" name="a.isAUK" ${acc.isAUK ? 'checked' : ''} value="${acc.isAUK}">
                            isAUK
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" name="a.isADE" ${acc.isADE ? 'checked' : ''} value="${acc.isADE}">
                            isADE
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" name="a.isAUS" ${acc.isAUS ? 'checked' : ''} value="${acc.isAUS}">
                            isAUS
                        </label>
                      <label class="checkbox inline">
                           <input type="checkbox" name="a.isAFR" ${acc.isAFR ? 'checked' : ''}
                                                         value="${acc.isAFR}">
                            isAFR
                       </label>
                      <label class="checkbox inline">
                             <input type="checkbox" name="a.isAIT" ${acc.isAIT ? 'checked' : ''}
                                                            value="${acc.isAIT}">
                            isAIT
                      </label>
                      <label class="checkbox inline">
                              <input type="checkbox" name="a.isAJP" ${acc.isAJP ? 'checked' : ''}
                                                            value="${acc.isAJP}">
                            isAJP
                      </label>
                    </td>
                </tr>

                <tr>
                    <td>MerchantID:</td>
                    <td><input type="text" name="a.merchantId" value="${acc.merchantId}"></td>
                    <td>AccessKey:</td>
                    <td><input type="text" name="a.accessKey" value="${acc.accessKey}"></td>
                </tr>

                <tr>
                    <td colspan="4">
                        Token:
                        <textarea rows="8" class="span11" name="a.token">${acc.token}</textarea>
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        <input type="hidden" name="a.id" value="${acc.id}">
                        <button aid="${acc.id}" class="btn btn-primary">更新</button>
                    </td>
                </tr>
            </table>
        </form>
    </td>
</tr>