#{extends 'main.html'/}
#{set title:'用户管理'/}
#{set 'moreScripts'}
    #{script 'accounts/index.coffee'/}
#{/set}


<div class="row">
    <table class="table table-bordered table-striped" id="account_list">
        <tr>
            <th>#</th>
            <th>UniqueName</th>
            <th>Type</th>
            <th>MerchantId</th>
            <th>AccessKey</th>
            <th>IsSaleAcc</th>
            <th><a href="#" rel="tooltip" placement="top" data-original-title="关闭使用此账户">Closeable</a></th>
        </tr>
    #{list items:accs, as:'acc'}
        <tr aid=${acc.id}>
            <td>${acc.id}</td>
            <td>${acc.uniqueName}</td>
            <td>${acc.type}</td>
            <td>${acc.merchantId}</td>
            <td>${acc.accessKey}</td>
            <td ${acc.isSaleAcc ? 'style=background:#009E1A' : ''}>${acc.isSaleAcc}</td>
            <td>${acc.closeable}</td>
        </tr>
        <tr id="acc_${acc.id}" style="display:none;">
            <td colspan="7">
                <form>
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <td>UserName:</td>
                            <td><input type="text" name="a.username" value="${acc.username}"></td>
                            <td>UniqueName:</td>
                            <td><input type="text" name="a.uniqueName" readonly="" value="${acc.uniqueName}"></td>
                        </tr>

                        <tr>
                            <td>Password:</td>
                            <!-- 如果是非销售账号, 则给出密码 -->
                            <td>
                                <input type="${acc.isSaleAcc ? 'password' : 'text'}" name="a.password" value="${acc.isSaleAcc ? '' : acc.password}">
                            </td>
                            <td>Confirm:</td>
                            <td><input type="${acc.isSaleAcc ? 'password' : 'text'}" name="a.confirm"></td>
                        </tr>

                        <tr>
                            <td>Type:</td>
                            <td><input type="text" readonly="" value="${acc.type}"></td>

                            <td>Closeable:</td>
                            <td>
                                <input type="checkbox" name="a.closeable" ${acc.closeable ? 'checked' : ''} value="${acc.closeable}">
                            </td>
                        </tr>

                        <tr>
                            <td>MerchantID:</td>
                            <td><input type="text" name="a.merchantId" value="${acc.merchantId}"></td>
                            <td>AccessKey:</td>
                            <td><input type="text" name="a.accessKey" value="${acc.accessKey}"></td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                Token:
                                <textarea rows="8" class="span11" name="a.token">${acc.token}</textarea>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <input type="hidden" name="a.id" value="${acc.id}">
                                <button aid="${acc.id}" class="btn btn-primary">更新</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    #{/list}
        <tr>
            <td colspan="7">
                <button class="btn btn-success" data-toggle="collapse" data-target="#newUser">添加用户</button>
                <div class="span12 collapse" id="newUser">
                    <form id="newUser_form">
                        <table class="table table-condensed table-bordered">
                            <tr>
                                <td>UserName:</td>
                                <td><input type="text" name="a.username"></td>
                                <td>UniqueName:</td>
                                <td><input type="text" readonly="" placeHolder="会自动创建"></td>
                            </tr>

                            <tr>
                                <td>Password:</td>
                                <td><input type="password" name="a.password"></td>
                                <td>Confirm:</td>
                                <td><input type="password" name="a.confirm"></td>
                            </tr>

                            <tr>
                                <td>Type:</td>
                                <td>
                                #{pickMarkets name:'a.type' /}
                                </td>

                                <td>Checks:</td>
                                <td>
                                    <label class="checkbox inline">
                                        <input type="checkbox" name="a.closeable" value="false">
                                        Closeable
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" name="a.isSaleAcc" value="false">
                                        IsSaleAcc
                                    </label>
                                </td>
                            </tr>

                            <tr>
                                <td>MerchantID:</td>
                                <td><input type="text" name="a.merchantId"></td>
                                <td>AccessKey:</td>
                                <td><input type="text" name="a.accessKey"></td>
                            </tr>

                            <tr>
                                <td colspan="4">
                                    Token:
                                    <textarea rows="8" class="span11" name="a.token"></textarea>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4">
                                    <button nid class="btn btn-primary">创建</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
