#{extends 'main.html'/}
#{set title:'用户管理'/}
#{set 'moreScripts'}
    #{script 'accounts/index.coffee'/}
#{/set}

<div class="row" style="margin-bottom:10px;">
    <a href="@{Accounts.blank()}" class="btn btn-success">添加用户</a>
</div>

<div class="row">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#sales" data-toggle="tab">Sales</a></li>
        <li><a href="#unsale_uk" data-toggle="tab">UnSale UK</a></li>
        <li><a href="#unsale_de" data-toggle="tab">UnSale DE</a></li>
        <li><a href="#unsale_us" data-toggle="tab">UnSale US</a></li>
    </ul>

    <div class="tab-content">
        <!-- 销售账号 -->
        <div id="sales" class="tab-pane fade in active">
            <table class="table table-bordered table-striped account_list">
                <tr>
                    <th>#</th>
                    <th>UniqueName</th>
                    <th>Type</th>
                    <th>MerchantId</th>
                    <th>AccessKey</th>
                    <th>IsSaleAcc</th>
                    <th>IsAUK</th>
                    <th>IsADE</th>
                    <th>IsAUS</th>
                    <th><a href="#" rel="tooltip" placement="top" data-original-title="关闭使用此账户">Closeable</a></th>
                </tr>
            #{list items:accs, as:'acc'}
                #{if acc.isSaleAcc}
                    #{render 'Accounts/acctr.html', acc:acc/}
                #{/if}
            #{/list}
            </table>
        </div>

        <!-- 非销售账号, UK -->
        <div id="unsale_uk" class="tab-pane fade in">
            <table class="table table-bordered table-striped account_list">
                <tr>
                    <th>#</th>
                    <th>UniqueName</th>
                    <th>Type</th>
                    <th>MerchantId</th>
                    <th>AccessKey</th>
                    <th>IsSaleAcc</th>
                    <th>IsAUK</th>
                    <th>IsADE</th>
                    <th>IsAUS</th>
                    <th><a href="#" rel="tooltip" placement="top" data-original-title="关闭使用此账户">Closeable</a></th>
                </tr>
            #{list items:accs, as:'acc'}
                #{if !acc.isSaleAcc && acc.type == models.market.M.AMAZON_UK}
                    #{render 'Accounts/acctr.html', acc:acc/}
                #{/if}
            #{/list}
            </table>
        </div>

        <!-- 非销售账号, DE -->
        <div id="unsale_de" class="tab-pane fade in">
            <table class="table table-bordered table-striped account_list">
                <tr>
                    <th>#</th>
                    <th>UniqueName</th>
                    <th>Type</th>
                    <th>MerchantId</th>
                    <th>AccessKey</th>
                    <th>IsSaleAcc</th>
                    <th>IsAUK</th>
                    <th>IsADE</th>
                    <th>IsAUS</th>
                    <th><a href="#" rel="tooltip" placement="top" data-original-title="关闭使用此账户">Closeable</a></th>
                </tr>
            #{list items:accs, as:'acc'}
                #{if !acc.isSaleAcc && acc.type == models.market.M.AMAZON_DE}
                    #{render 'Accounts/acctr.html', acc:acc/}
                #{/if}
            #{/list}
            </table>
        </div>

        <!-- 非销售账号, US -->
        <div id="unsale_us" class="tab-pane fade in">
            <table class="table table-bordered table-striped account_list">
                <tr>
                    <th>#</th>
                    <th>UniqueName</th>
                    <th>Type</th>
                    <th>MerchantId</th>
                    <th>AccessKey</th>
                    <th>IsSaleAcc</th>
                    <th>IsAUK</th>
                    <th>IsADE</th>
                    <th>IsAUS</th>
                    <th><a href="#" rel="tooltip" placement="top" data-original-title="关闭使用此账户">Closeable</a></th>
                </tr>
            *{#{list items:accs, as:'acc'}}*
            *{#{if !acc.isSaleAcc && acc.type == models.market.M.AMAZON_US}}*
            *{#{render 'Accounts/acctr.html', acc:acc/}}*
            *{#{/if}}*
            *{#{/list}}*
            </table>
        </div>
    </div>
</div>
