#{extends 'main_full_v3.html'/}
#{set title:'用户管理'/}
#{set 'moreScripts'}
    #{script 'accounts/index.coffee'/}
#{/set}

<div class="row">
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#saleAccount" data-toggle='tab'>销售账户</a></li>
        <li><a href="#other" data-toggle='tab'>其他账户</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id='saleAccount'>
        #{render 'Accounts/_account.html', isSale:true, accs:accs/}
        </div>

        <div class="tab-pane" id="other">
        #{render 'Accounts/_account.html', isSale:false, accs:accs/}
        </div>
      </div>

    </div>
  </div>
</div>

