<table class="table table-condensed table-bordered">
    <tr>
        <td>#</td>
        <td>计划到库日期</td>
        <td>计划交货日期</td>
        <td>实际交货日期</td>
        <td>确认采购数量</td>
        <td>实际交货数量</td>
        <td>剩余可运输数量</td>
        <td>供应商</td>
        <td rel="popover" content="<img src='/img/helper/fnsku.png'>" width="auto" placement="right">FnSku</td>
        <td>Selling</td>
        <td>Product</td>
        <td>Price</td>
        <td>金额</td>
        <td>阶段</td>
    </tr>
#{list items:dlmt.units, as:'unit'}
    <tr data-toggle="collapse" href="#unit_${unit.id}">
        <td>${unit.id}</td>
        <td>${unit.plan.planArrivDate.date()}</td>
        <td>${unit.delivery.planDeliveryDate.date()}</td>
        <td>
            #{if unit.delivery.deliveryDate == null}
                <span class="label label-warning">还未交货</span>
            #{/if}
            #{else }
            ${unit.delivery.deliveryDate.date()}
            #{/else}
        </td>
        <td>${unit.delivery.ensureQty}</td>
        <td rel="popover" data-content="${unit.comment}" title="Comment">
            #{if unit.delivery.deliveryQty == null}
                <span class="label label-warning">还未交货</span>
            #{/if}
            #{else }
            ${unit.delivery.deliveryQty}
            #{/else}
        </td>
        #{set leftTransfer: unit.leftTransferQty()/}
        <td>${leftTransfer._1}</td>
        <td>${unit.plan.supplier}</td>
        <td>${unit.selling.fnSku}</td>
        <td><a href="@{Sellings.selling(unit.sid)}" target="_blank">${unit.sid}</a></td>
        <td>${unit.product.sku}</td>
        <td>${unit.plan.unitPrice} ${unit.plan.currency}</td>
    <td>
    ${unit.delivery.ensureQty * unit.plan.unitPrice}
        #{ifnot unit.delivery.deliveryQty == null}|
        ${unit.delivery.deliveryQty * unit.plan.unitPrice}</td>
        #{/ifnot}
        <td style="background:${unit.stage.color()}">${unit.stage}</td>
    </tr>
    <tr id="unit_${unit.id}" style="display:none;">
        <td colspan="13">
            <form><!-- 用于 jquery.validate 插件的 -->
                <table class="table table-condensed table-bordered">
                    <tr>
                        <td>Links:</td>
                        <td>
                            #{procure_links unit:unit/}
                        </td>
                        <td>
                            确认采购量 / 预计采购量
                        </td>
                        <td>
                            <span style="color:green;">${unit.delivery.ensureQty}</span> /
                            <span style="color:#24748c;">${unit.plan.planQty}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>实际交货日期</td>
                        <td>
                            <input name="d.deliveryDate" type="date" class="required" placeHolder="实际交货日期" value="${unit.delivery.deliveryDate.date()}">
                        </td>
                        <td>实际交货数量 / 剩余运输数量</td>
                        <td>
                            <div class="input-append">
                                <input type="text" name="d.deliveryQty" class="required input-mini" value="${unit.delivery.deliveryQty}">
                                <a class="btn btn-info" rel="popover" title="运输单号" content="${leftTransfer._2}">
                                    / ${leftTransfer._1}
                                </a>
                            </div>
                            <input type="hidden" name="id" value="${unit.id}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            留言
                            <textarea rows="4" style="width:99%" name="cmt">${unit.comment}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button rel="update_delivery_info_btn" uid="${unit.id}" class="btn btn-small btn-primary">
                                更新交货信息
                            </button>
                            <a href="@{Sellings.sellingLabel(unit.sid)}" target="_blank" class="btn btn-success">下载最新
                                FBA Label</a>
                        </td>
                        <td colspan="3"></td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
#{/list}
</table>