#{extends 'main.html' /}
#{set title:dlmt.id /}
#{set 'moreScripts'}
    #{script 'jquery.filedrop.js' /}
    #{script 'component/dropUpload.coffee'/}
    #{script 'procures/detail.coffee'/}
#{/set}

<div><span class="label label-info">基础信息</span></div>
<div>
    <table class="table table-condensed table-bordered">
        <tr>
            <td>Id:</td>
            <td id="deliveryId">${dlmt.id}</td>
            <td>State:</td>
            <td>${dlmt.state}</td>
            <td>创建日期</td>
            <td>${dlmt.createDate.format("yyyy-MM-dd hh:mm:ss")}</td>
            <td>User:</td>
            <td>${dlmt.handler.username}</td>
        </tr>
    </table>
</div>

<div><span class="label label-info">付款信息</span></div>
<div>
    <table class="table table-condensed table-bordered" id="paymentInfo">
        <tr>
            <td>#</td>
            <td>Price</td>
            <td>Currency</td>
            <td>Date</td>
            <td>State</td>
            <td>Memo</td>
            <td>Payer</td>
            <td>&nbsp;</td>
        </tr>
    #{list items:dlmt.payments, as:'pay'}
        <tr ${pay.state == models.procure.Payment.S.CLOSE ? 'style=color:#DDD' : 'black'}>
            <td>${pay.id}</td>
            <td>${pay.price}</td>
            <td>${pay.currency}</td>
            <td>${pay.payDate.format('yyyy-MM-dd HH:mm:ss')}</td>
            <td>${pay.state}</td>
            <td>${pay.memo}</td>
            <td>${pay.payer.username}</td>
            <td>
                #{if pay.state == models.procure.Payment.S.CLOSE}
                    <i class="icon-ban-circle"></i>
                #{/if}
                #{else }
                    <button payId="${pay.id}" class="btn btn-mini"><i class="icon-remove"></i></button>
                #{/else}
            </td>
        </tr>
    #{/list}
    </table>

#{if !dlmt.isPaymentComplete()}
    <div class="accordion-group" style="margin-bottom:20px;">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#payment">
                新增付款
            </a>
        </div>
        <div id="payment" class="accordion-body collapse" style="height:0;">
            <table class="table table-condensed">
                <tr>
                    <td><a rel="popover" data-content="此项付款的用途| DELIVERY(采购)">用途</a></td>
                    <td><input disabled="" type="text" name="pay.type" value="DELIVERY"></td>
                    <td>采购单</td>
                    <td><input disabled="" type="text" name="dlmt.id" value="${dlmt.id}"></td>
                </tr>
                <tr>
                    <td>付款</td>
                    <td>
                        <div class="input-prepend">
                            <input type="text" style="width:100px" name="pay.price">
                            <select name="pay.currency" size="1" style="width:80px;">
                                #{list helper.Currency.values()}
                                    <option ${_ == helper.Currency.CNY ? 'selected' : ''} value="${_}">${_}</option>
                                #{/list}
                            </select>
                        </div>
                    </td>
                    <td>付款时间</td>
                    <td>
                        <input type="date" name="pay.payDate" placeHolder="留空则为当前时间">
                    </td>
                </tr>
                <tr>
                    <td>Memo</td>
                    <td colspan="3">
                        <textarea class="span8" name="pay.memo"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <button id="pay_for_the_deliveryment" class="btn btn-small btn-primary">部分付款</button>
                        <button id="payment_clear" rel="popover" data-content="将此采购单标记为款项全清" class="btn btn-small btn-warning">
                            清款检查
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
#{/if}
</div>

<div><span class="label label-info">ProcureUnits</span></div>
<div>
    <table class="table table-condensed table-bordered">
        <tr>
            <td>#</td>
            <td>计划到库日期</td>
            <td>实际交货日期</td>
            <td>计划数量</td>
            <td>实际交货数量</td>
            <td>供应商</td>
            <td>Selling</td>
            <td>Msku</td>
            <td>Product</td>
            <td>Price</td>
            <td>金额</td>
            <td>阶段</td>
        </tr>
    #{list items:dlmt.units, as:'unit'}
        <tr>
            <td>${unit.id}</td>
            <td>${unit.plan.planArrivDate.format('yyyy-MM-dd')}</td>
            <td>
                #{if unit.delivery.deliveryDate == null}
                    <span class="label label-warning">还未交货</span>
                #{/if}
                #{else }
                ${unit.delivery.deliveryDate.format('yyyy-MM-dd')}
                #{/else}
            </td>
            <td>${unit.plan.planQty}</td>
            <td>
                #{if unit.delivery.deliveryQty == null}
                    <span class="label label-warning">还未交货</span>
                #{/if}
                #{else }
                ${unit.delivery.deliveryQty}
                #{/else}
            </td>
            <td>${unit.plan.supplier}</td>
            <td>${unit.selling.sellingId}</td>
            <td>${unit.selling.merchantSKU}</td>
            <td>${unit.product.sku}</td>
            <td>${unit.plan.unitPrice} ${unit.plan.currency}</td>
        <td>
        ${unit.delivery.ensureQty * unit.plan.unitPrice}
            #{ifnot unit.delivery.deliveryQty == null}|
            ${unit.delivery.deliveryQty * unit.plan.unitPrice}</td>
            #{/ifnot}
            <td>${unit.stage}</td>
        </tr>
    #{/list}
    </table>
</div>

<div><span style="line-break:strict;" class="label label-info">附件</span></div>
<div style="min-height:300px;background:#eee;" id="dropbox">
    <ul class="thumbnails" id="uploaded"></ul>
    <div class="message" style="height:150px;padding-top:145px;text-align:center;">Drag & Drop</div>
</div>
