#{extends 'main_full_v3.html'/}
#{set title:"采购单列表 (${deliveryments.size()})" /}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
    #{script 'deliveryments/index.es6'/}
    #{script 'procureunits/_unit_list.coffee'/}
#{/set}

#{flash_alert /}
#{errorMsgs /}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <form action="@{Deliveryments.index()}" class="form-inline" id="deliverys_form">
          <div class="row-fluid">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">From:</div>
                <input style="width:100px;" class="form-control" role="date" name="p.from" value="${p.from.date()}">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">To:</div>
                <input style="width:100px;" class="form-control" role="date" name="p.to" value="${p.to.date()}">
              </div>
            </div>

            <select name="p.dateType" style="width: 150px;" class="form-control">
            #{list items:models.view.post.DeliveryPost.DateType.values(), as:'d'}
              <option value="${d.name()}" ${d.name() == p.dateType.name()? 'selected' : ''}>${d.label()}</option>
            #{/list}
            </select>

            <select name="p.state" style="width: 150px;" class="form-control">
              <option value="">状态</option>
            #{list items:models.procure.Deliveryment.S.values(), as:'t'}
              <option value="${t.name()}" ${t.name() == p.state?.name() ? 'selected' : ''}>${t.label()}</option>
            #{/list}
            </select>

            <select name="p.deliveryType" style="width: 150px;" class="form-control">
              <option value="">类型</option>
            #{list items:models.procure.Deliveryment.T.values(), as:'t'}
              <option value="${t.name()}" ${t.name() == p.deliveryType?.name() ? 'selected' : ''}>${t.label()}</option>
            #{/list}
            </select>

            <select name="p.cooperId" class="form-control selectize" style="width:150px;">
              <option value="">供应商</option>
            #{list items:suppliers, as:'sp'}
              <option ${sp.id == p.cooperId ? 'selected' : ''} value="${sp.id}">${sp.name}</option>
            #{/list}
            </select>

            <div class="input-group">
              <div class="input-group-addon"><i class="icon-search"></i></div>
              <input style="width:200px;" class="form-control" name="p.search" placeHolder="搜索 id 自动识别, +N 语法" value="${p.search}">
              <input type="hidden" name="p.page" value="${p.page}">
            </div>

            <button class="btn btn-primary" data-loading>搜索</button>

          #{power.ck "deliveryments.manual"}
            <a target="_blank" class="btn btn-warning" href='@{Deliveryments.manual()}'>
              <i class="icon-plus"></i>新增手动单
            </a>
          #{/power.ck}
            <a href="@{Excels.deliveryments(p)}" class="btn btn-success" target="_blank"><i
                class="icon-download-alt"></i>下载Excel</a>
          </div>
        </form>
      </div>

      <form class="form-inline" id="data_table">
        <div class="box-body">
          <table class="table table-condensed table-bordered">
            <tr>
              <th width="20px;"></th>
              <th>#</th>
              <th>请款单</th>
              <th>Name</th>
              <th>State</th>
              <th>单据类型</th>
              <th>供应商</th>
              <th>最先交货时间</th>
              <th>最后交货时间</th>
              <th width="200px;">交货进度</th>
              <th>所属公司</th>
              <th>User</th>
              <th>Create</th>
            </tr>
          #{list items:deliveryments, as:'dmt'}
              #{set twoDeliveryDate: dmt.firstAndEndDeliveryDate()/}
              #{set procress: dmt.deliveryProcress()/}
            <tr>
              <td>
                  #{if dmt.apply == null}
                    <input type="checkbox" ${dmt.id in deliverymentIds?'checked':''} name="deliverymentIds" value="${dmt.id}">
                  #{/if}
              </td>
              <td>
                <a href="@{Deliveryments.show(dmt.id)}" target="_blank">${dmt.id}</a>
              </td>
              <td>
                  #{if dmt.apply}
                    <a href="@{Applys.procure(dmt.apply.id)}">${dmt.apply.serialNumber}</a>
                    <i class="icon-question-sign" rel='tooltip' title='剩余 ¥ ${dmt.leftAmount()} 没有请款'></i>
                  #{/if}
                  #{else }没有请款单#{/else}
              </td>
              <td style="cursor:pointer;" name="clickTd" data-id="${dmt.id}" data-url="@{Deliveryments.showProcureUnitList()}">
                <span><i class="icon-reorder"></i></span>
                <span>${dmt.name}</span>
                <span class="badge bg-light-blue">${dmt.units.size()}</span>
              </td>
              <td style="color:${dmt.state.rgb()}">${dmt.state.label()}</td>
              <td>${dmt.deliveryType?.label()}</td>
              <td>${dmt.supplier()?.name}</td>
              <td>#{time_tooltip time:twoDeliveryDate._1/}</td>
              <td>#{time_tooltip time:twoDeliveryDate._2/}</td>
              <td>
                <div class="progress" style="margin-top:0px;position:relative;">
                  <div class="progress-bar ${procress.bgcolor()}" role="progressbar" style="width: ${(procress._1 / procress._2).format('#%')};"></div>
                  <span style="color:black;position:absolute;width:100%;text-align:center;display:block;">
                  ${procress._1} /${procress._2}</span>
                </div>
              </td>
              <td>${dmt.projectName?.label()}</td>
              <td>${dmt.handler.username}</td>
              <td>#{time_tooltip time:dmt.createDate/}</td>
            </tr>
          #{/list}
          </table>
        </div>

        <div class="box-footer">
        #{power.ck 'deliveryments.deliverymenttoapply'}
          <select name="procureApplyId" class="form-control selectize" style="width:250px;">
            <option value="0">新请款单</option>
              #{list items:avaliableApplies, as:'a'}
                <option value="${a.id}">${a.serialNumber}</option>
              #{/list}
          </select>
          <input url='@{Deliveryments.deliverymentToApply()}' type="submit" id="goToDeliverymentApply" class="btn btn-success" value="采购单请款">

        #{/power.ck}
        #{bootstrap_pager_v3 pi:p, url:'' /}
        </div>
      </form>
    </div>
  </div>
</div>
