#{extends 'main.html' /}
#{set title:'新增手动单' /}
#{set 'moreScripts'}
    #{script 'deliveryments/manual.es6'/}
#{/set}
#{errorMsgs /}
#{flash_alert/}

#{info_row title:'手动添加采购单'/}
#{form @Deliveryments.createManual(), method: 'POST',id: 'new_procureunit'}
    #{set copers:unit.product?.cooperators() /}
<table class="table table-condensed table-bordered">
  <tr>
    <th>采购单别名</th>
    <td>
      <input type="text" name="dmt.name" value="${name}">
    </td>

    <th>SKU</th>
    <td>
      <input type="text" name="unit.product.sku" data-provide="typeahead" data-source="${skus}"
             value="${unit.product?.sku}" id="unit_sku" autocomplete="off">
    </td>
  </tr>

  <tr>
    <th>供应商</th>
    <td>
      <select name="dmt.cooperator.id">
        <option value="">请选择</option>
          #{list items:copers, as:'c'}
            <option value="${c.id}">${c.name}</option>
          #{/list}
      </select>
      <input type="hidden" name="dmt.id" value="${dmt.id}">
    </td>

    <th>价格</th>
    <td>
      <div class="input-append inline">
        <input type="text" class="span1 inline" id="unit_price" name="unit.attrs.price" value="${unit.attrs.price}">
          #{pickCurrency id:'unit_currency', name:'unit.attrs.currency',class: 'span1 inline',
          c:unit.attrs.currency?:helper.Currency.CNY, native: 'aaa'/}
      </div>
    </td>
  </tr>

  <tr>
    <th>采购数量</th>
    <td>
      <div class="input-append">
        <input type="text" class="input-mini" placeHolder="具体数量" name="unit.attrs.planQty" value="${unit.attrs.planQty}">
        <input type="text" id="box_num" class="input-mini" placeHolder="箱数">
        <span class="add-on">箱</span>
      </div>
      <input type="hidden" name="unit.attrs.qty" value="${unit.attrs.qty}">
    </td>

    <th>预计交货日期</th>
    <td colspan="4">
      <input type="date" name="unit.attrs.planDeliveryDate" value="${unit.attrs.planDeliveryDate.date()}"
             autocomplete="off">
      <input type="hidden" name="unit.attrs.deliveryDate" value="${unit.attrs.deliveryDate.date()}">
    </td>
  </tr>
  <tr>
    <th>B2B选项</th>
    <td colspan="3">
      <label class="checkbox inline">
        <input type="checkbox" name="unit.isb2b" value="true">B2B
      </label>
    </td>
  </tr>

  <tr>
    <td colspan="4">
      <button class="btn btn-primary">保存</button>
    </td>
  </tr>
</table>
#{/form}
