#{extends 'main_full_v3.html' /}
#{set title:'新增手动单' /}
#{set 'moreScripts'}
    #{script 'deliveryments/manual.es6'/}
#{/set}

#{errorMsgs /}
#{flash_alert/}

<div class="row">
  <div class="col-md-12">
    <form action="@{Deliveryments.createManual()}" class="form-horizontal" method="post" id="new_procureunit">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">手动添加采购单</h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <label for="" class="col-sm-1 control-label">采购单别名</label>
            <div class="col-sm-2">
              <input type="text" name="dmt.name" class="form-control" value="${name}" required>
            </div>
            <label for="" class="col-sm-1 control-label">SKU</label>
            <div class="col-sm-2">
              <input type="text" name="units[0].product.sku" data-provide="typeahead" id="unit_sku" autocomplete="off"
                     value="${units[0]?.product?.sku}" class="form-control">
            </div>
            <label for="" class="col-sm-1 control-label">供应商</label>
            <div class="col-sm-2">
              <select name="dmt.cooperator.id" class="form-control">
                <option value="">请选择</option>
              </select>
              <input type="hidden" name="dmt.id" value="${dmt.id}">
            </div>
            <label for="" class="col-sm-1 control-label">预计交货日期</label>
            <div class="col-sm-2">
              <input role="date" name="units[0].attrs.planDeliveryDate" autocomplete="off" required class="form-control"
                     value="${units[0]?.attrs?.planDeliveryDate?.date()}">
              <input type="hidden" name="units[0].attrs.deliveryDate" value="${units[0]?.attrs?.deliveryDate?.date()}">
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-1 control-label">价格</label>
            <div class="col-sm-2">
              <div class="form-inline">
                <input type="text" class="form-control" id="unit_price" name="units[0].attrs.price" style="width:80px;"
                       value="${units[0]?.attrs?.price}">
              #{pickCurrency id:'unit_currency', name:'units[0].attrs.currency',class: 'form-control',
              c:units[0]?.attrs?.currency?:helper.Currency.CNY, native: 'aaa'/}
                <span id="taxSpan"></span>
              </div>
            </div>
            <label for="" class="col-sm-1 control-label">是否含税</label>
            <div class="col-sm-2">
              <select class="form-control" name="units[0].containTax">
                <option #{if unit.containTax} selected #{/if} value="true">是</option>
                <option #{if !unit.containTax} selected #{/if} value="false">否</option>
              </select>
            </div>

            <label for="" class="col-sm-1 control-label">采购数量</label>
            <div class="col-sm-2 form-inline">
              <input class="form-control" placeHolder="具体数量" name="units[0].attrs.planQty"
                     value="${units[0]?.attrs?.planQty}" style="width:100px;">
              <div class="input-group">
                <input class="form-control" id="box_num" name="box_size" placeHolder="箱数" boxSize=""
                       style="width:100px;">
                <span class="input-group-addon">箱</span>
                <input type="hidden" name="units[0].attrs.qty" value="${units[0]?.attrs?.qty}">
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <div class="col-sm-3">
            <button class="btn btn-primary">保存</button>
          </div>
          <button class="btn btn-warning" id="addSkuBtn">新增SKU</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/template" id="copy">
  <div class="box box-warning" id="box-<%= num %>">
    <div class="box-body">
      <div class="form-group">
        <label for="" class="col-sm-1 control-label">SKU <span style="color:red"><%= num+1 %></span></label>
        <div class="col-sm-2">
          <input class="form-control" name="units[<%= num %>].product.sku" autocomplete="off">
        </div>
        <label for="" class="col-sm-1 control-label">价格</label>
        <div class="col-sm-2">
          <div class="form-inline">
            <input type="text" class="form-control" id="unit_price" name="units[<%= num %>].attrs.price"
                   style="width:80px;">
            <select id="unit_currency" name="units[<%= num %>].attrs.currency" class="form-control">
            #{list items:helper.Currency.values(), as:'cr'}
              <option ${cr == helper.Currency.CNY ? 'selected' : ''} value="${cr}">${cr}</option>
            #{/list}
            </select>
            <span name="taxSpan"></span>
          </div>
        </div>
        <label for="" class="col-sm-1 control-label">采购数量</label>
        <div class="col-sm-2">
          <div class="form-inline">
            <input class="form-control" placeHolder="具体数量" name="units[<%= num %>].attrs.planQty"
                   value="${units[0]?.attrs?.planQty}" style="width:100px;" required>
            <div class="input-group">
              <input class="form-control" name="box_size" placeHolder="箱数" boxSize="" style="width:100px;">
              <span class="input-group-addon">箱</span>
            </div>
          </div>
        </div>
        <label for="" class="col-sm-1 control-label">预计交货日期</label>
        <div class="col-sm-2">
          <input role="date" name="units[<%= num %>].attrs.planDeliveryDate" autocomplete="off" class="form-control" required>
          <input type="hidden" name="units[<%= num %>].attrs.deliveryDate" value="">
        </div>
      </div>
      <div class="form-group" id="tail-form-<%= num %>">
        
      </div>
    </div>
  </div>
</script>

