#{extends 'main_full.html'/}
#{set title:"采购单 #" + dmt.id /}
#{set 'moreScripts'}
    #{script_cdn name: 'jquery.filedrop.js'/}
    #{script_cdn name: 'component/dropUpload.coffee'/}
    #{script_cdn name: 'timeline/timeline_js/timeline-api.js'/}
    #{script_cdn name: 'analyzes/timeline.coffee'/}
    #{script_cdn name: 'deliveryments/show.coffee'/}
#{/set}

#{errorMsgs /}

#{flash_alert /}

#{set isPending: dmt.state == models.procure.Deliveryment.S.PENDING/}
<div class="row-fluid">
  <div class="span12">
    <form action="@{Deliveryments.update()}" method="post">
      <table class="table table-condensed table-bordered">
        <tr>
          <th>Id</th>
          <td>
            <span id="deliverymentId">${dmt.id}</span>
            <input type="hidden" name="dmt.id" value="${dmt.id}">
          </td>

          <th>State</th>
          <td style="color:${dmt.state.rgb()}">${dmt.state}</td>
          <th>CreateDate</th>
          <td>
            <input type="text" readonly="" disabled="" class="input-medium" name="dmt.createDate" value="${dmt.createDate.datetime()}">
          </td>
        </tr>

        <tr>
          <th>Name</th>
          <td colspan="2">
            <input type="text" class="span10" name="dmt.name" value="${dmt.name}">
          </td>

          <th>User</th>
          <td>${dmt.handler.username}</td>
          <td></td>
        </tr>
        <tr>
          <th>供应商</th>
          <td>${dmt.cooperator?.fullName}</td>

          <th>下单时间</th>
          <td>
            <input type="date" name="dmt.orderTime" value="${dmt.orderTime?.datetime()}">
          </td>

          <th>交货时间</th>
          <td>
            <input type="date" name="dmt.deliveryTime" value="${dmt.deliveryTime?.datetime()}">
          </td>
        </tr>

        <tr>
          <td colspan="6">
            <h4>Memo:</h4>
            <textarea rows="5" name="dmt.memo" class="span12">${dmt.memo}</textarea>
          #{power.ck "products.edit"}
            <button class="btn btn-primary">更新</button>
          #{/power.ck}
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
  #{if isPending}
    <form action="@{Deliveryments.confirm()}" method="post" style="display:inline-block;">
      <div class="input-prepend input-append" style="float:left;">
        <span class="add-on" rel="popover" content="确认采购单, 采购单进行确认以后, 才可以在运输单中进行挑选, 并且不再允许添加新的采购计划" placement="right"><i class="icon-question-sign"></i></span>
        <input type="hidden" name="id" value="${dmt.id}">
          #{power.ck "products.edit"}
            <button data-confirm="确认下单吗? 请再检查一次供应商, 与下单的货物" class="btn btn-primary">
              确认
            </button>
          #{/power.ck}
      </div>
    </form>
  #{/if}
  #{power.ck 'deliveryments.cancel'}
    <form action="@{Deliveryments.cancel()}" method="post" style="display:inline-block;">
      <input type="hidden" name="id" value="${dmt.id}">

      <div class="input-append" style="float:left;margin-left:10px;">
        <input type="text" name="msg" value="${msg}" placeHolder="简要填写关闭的原因">
        <button class="btn btn-danger">取消采购单</button>
      </div>
    </form>
  #{/power.ck}
  #{if dmt.apply}
    <div style="float:left;display:inline-block">
      <a href="@{Applys.procure(dmt.apply.id)}" class="btn btn-success">${dmt.apply.serialNumber}
        请款单</a>
    </div>
  #{/if}
  </div>
</div>

<div class="row-fluid">
  <div class="span12 alert">
    <h4 data-toggle="toggle" data-target="#tl">Timeline <i class="icon-reorder"></i></h4>
  </div>
</div>
<div class="row-fluid">
  <div id="tl" class="span12" style="height:350px;"></div>
</div>

#{success_row title:"已经添加进入[采购单]的[采购单元] "/}
<form action="#" id="bulkpost" method="POST">

  <input type="hidden" name="expressid" id="expressid" value="${expressid}">

  <div class="row-fluid">
    <div class="span12" id="unit_list">
    #{render 'ProcureUnits/_unit_list.html', units:dmt.units, checkbox:true, key:'delivery', delivery:true/}
    </div>
  </div>
  <div class="row-fluid">
    <div class="btn-toolbar">
    #{power.ck "products.edit"}
      <a href="javascript:void(0);" data-url='@{Deliveryments.delunits(dmt.id)}' data-method="DELETE"
         id="delunit_form_submit" rel="popover" content="将 DELIVERY 状态的采购计划从采购单中移除出去" placement="right" class="btn btn-warning">
        解除
      </a>
    #{/power.ck}
    #{power.ck 'fbas.deploytoamazon'}
      <a href="javascript:void(0);" data-url='@{FBAs.deploysToAmazon(dmt.id)}' data-method="POST" id="deployFBAs" class="btn btn-success">
        批量创建 FBA
      </a>
    #{/power.ck}
      <a href="javascript:void(0);" data-url="@{Deliveryments.downloadFBAZIP(dmt.id)}" data-method="POST"
         id="downloadFBAZIP" class="btn btn-success" rel="popover" content="将选定的采购单元的 出货FBA
       进行压缩打包 "><i class="icon-download-alt"></i>下载FBA ZIP 包
      </a>

      <a href="javascript:void(0);" data-url="@{Excels.procureunitsOrder(dmt.id)}" data-method="POST"
         id="downloadProcureunitsOrder" class="btn btn-success" rel="popover" content="下载选定的采购单元的出货单">
        <i class="icon-download-alt"></i>下载出货单
      </a>
    </div>
  </div>
  <input id='form_method' type="hidden" name="x-http-method-override" value="POST">

#{include 'Deliveryments/box_number_model.html'/}
</form>
*{ TODO 这个对 http://e.easya.cc/deliveryment/DL%7C201310%7C01 有问题}*
*{#{power.ck 'excels.deliveryment'}}*
<div class="row-fluid">
  <div class="span12 alert">
    <h4 data-toggle="toggle" data-target="#excel">生成采购单信息 <i class="icon-reorder"></i></h4>
  </div>
</div>
#{if dmt.state == models.procure.Deliveryment.S.CANCEL}
<div id="excel" class="row-fluid" style="display:none;">
  <span class="text-error">采购单已经取消, 不需要生成采购单 Excel</span>
</div>
#{/if}
#{else }
<div id="excel" class="row-fluid" style="display:none;">
  <div class="span12">

      #{if brandname=='EASYACC'}
        <form id="generate_excel" method="post" action="@{Excels.deliveryment()}">
      #{/if}
      #{elseif brandname=='Brandworl'}
        <form id="generate_excel" method="post" action="@{Excels.deliverymentbrandworl()}">
      #{/elseif}
    <table class="table table-bordered table-condensed">
      <tr>
        <th>交货地址</th>
        <td colspan="7">
          <textarea rows="3" class="span12" name="excel.deliveryAddress" id="excel_deliveryAddress">
            收货地址: 深圳市光明新区根玉路第七工业区汉海达高新科技园1栋6楼A区

            收货时间: 周一到周五 8:00—18:00 周六 08:00-17:00 (法定假日另行通知 如需周天送货，请提前一天邮件通知，并于司机出发前 30 分钟电话确认再发货！特殊进仓请提前一天书面知会，视情况收取加班作业费！)

            仓库联系人:

            旷杰Jie18692275630 jie@easya.cc
            夏艳红Vivian18098906612 vivian@easya.cc
          </textarea>
        </td>
      </tr>

      <tr>
        <th>交易条款<br>(供应商)</th>
        <td colspan="3">
          <textarea rows="8" name="excel.tradeTerms" id="excel_tradeTerms" class="span12"> ${dmt.cooperator
          .tradingTerms}</textarea>
        </td>
        <th>产品要求<br>(产品线)</th>
        <td colspan="3">
          <div style="overflow:auto;height:150px;width:580px;">
              #{list items:dmt.getCopperItems(), as:'cooperItem'}
                <a href="@{Cooperators.editCooperItem(cooperItem.id)}" target="_blank" class="btn btn-small btn-info"
                   rel="popover" content="${cooperItem.formatProductTerms()}">
                ${cooperItem.product.sku}
                </a>
              #{/list}
          </div>
        </td>
      </tr>

      <tr>
        <th colspan="4"><h5 style="text-align:center">供货方信息</h5></th>
        <th colspan="4"><h5 style="text-align:center">买方信息</h5></th>
      </tr>
      <tr>
        <th>供货方</th>
        <td>
          <input type="text" name="excel.supplierCompany" id="excel_supplierCompany" value="${dmt.cooperator.fullName}">
        </td>
        <th>经办人</th>
        <td>
          <input type="text" name="excel.supplier" id="excel_supplier" value="${dmt.cooperator.contacter}">
        </td>

        <th>买方</th>
        <td>
          <input type="text" name="excel.buyerCompany" id="excel_buyerCompany" value="${models.OperatorConfig.getVal("buyercompany")}">
        </td>
        <th>经办人</th>
        <td><input type="text" name="excel.buyer" id="excel_buyer" value="${models.OperatorConfig.getVal("buyerconcat")}"></td>
      </tr>

      <tr>
        <th>移动电话</th>
        <td>
          <input type="text" name="excel.supplierPhone" id="excel_supplierPhone" value="${dmt.cooperator.phone}">
        </td>
        <th>固定电话</th>
        <td>
          <input type="text" name="excel.supplierTel" id="excel_supplierTel" value="${dmt.cooperator.tel}">
        </td>

        <th>移动电话</th>
        <td><input type="text" name="excel.buyerPhone" id="excel_buyerPhone"></td>
        <th>固定电话</th>
        <td>
          <input type="text" name="excel.buyerTel" id="excel_buyerTel" value="${models.OperatorConfig.getVal("buyertel")}">
        </td>
      </tr>

      <tr>
        <th>传真</th>
        <td>
          <input type="text" name="excel.supplierFax" id="excel_supplierFax" value="${dmt.cooperator.fax}">
        </td>
        <td colspan="2"></td>


        <th>传真</th>
        <td><input type="text" name="excel.buyerFax" id="excel_buyerFax"></td>

        <th>选择经办人</th>
        <td>
          <select id="chosebuyer">
            <option value="">请选择</option>
              #{list items:buyers, as:'br'}
                  #{ifnot br.username == 'wyatt'}
                    <option value="${br.id}">${br.username}</option>
                  #{/ifnot}
              #{/list}
          </select>
        </td>
      </tr>

      <tr>
        <th>地址</th>
        <td colspan="3">
          <input type="text" class="span12" name="excel.supplierAddress" id="excel_supplierAddress" value="${dmt.cooperator.address}">
        </td>

        <th>地址</th>
        <td colspan="3">
          <input type="text" class="span12" name="excel.buyerAddress" id="excel_buyerAddress"
                 value="${models.OperatorConfig.getVal("buyeraddress")}">
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <input type="hidden" name="id" value="${dmt.id}">
          <button class="btn btn-success">生成采购单 Excel</button>
        </td>
      </tr>
    </table>
  </form>
  </div>
</div>
#{/else}
*{#{/power.ck}}*





#{info_row title:'可添加进入[采购单]的[采购单元]'/}
#{form @Deliveryments.addunits(dmt.id), method: 'POST'}
<div class="row-fluid">
  <div class="span12">
    <input type="hidden" name="dmt.id" value="${dmt.id}">
      #{render 'ProcureUnits/_unit_list.html', units:plan_units, checkbox:true, key:'plan'/}
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="pull-left input-prepend input-append">
      <span class="add-on" rel="popover" content="将 PLAN 状态的采购计划添加到采购单中" placement="right"><i class="icon-question-sign"></i></span>
        #{power.ck "products.edit"}
          <button id="plan_form_submit" class="btn btn-primary">添加</button>
        #{/power.ck}
    </div>
  </div>
</div>
#{/form}

#{records records:records/}

<div class="row-fluid">
  <div class="span12">
    <h4 class="alert alert-success">附件 <i class="icon-sort-down"></i></h4>
  </div>
</div>
<div class="row-fluid">
  <div style="min-height:300px;" class="span12 well" id="dropbox">
    <ul class="thumbnails uploaded"></ul>
  #{power.ck "products.edit"}
    <div class="message" style="height:150px;padding-top:145px;text-align:center;">Drag & Drop</div>
  #{/power.ck}
  </div>
</div>



