#{extends 'main_full_v3.html'/}
#{set title:"采购单 #" + dmt.id /}
#{set 'moreScripts'}
    #{script 'jquery.filedrop.js'/}
    #{script 'component/dropUpload.coffee'/}
    #{if !isB2B}
        #{script 'timeline/timeline_js/timeline-api.js'/}
        #{script 'analyzes/timeline.coffee'/}
    #{/if}
    #{script 'deliveryments/show.coffee'/}
    #{script 'deliveryments/show.es6'/}
    #{script 'procureunits/_unit_list.coffee'/}
    #{script 'deliveryments/fba_carton_contents.coffee'/}
#{/set}

#{errorMsgs /}
#{flash_alert /}

#{set isPending: Arrays.asList('PENDING','APPROVE','REJECT').contains(dmt.state.name()) /}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border"><h3 class="box-title">采购单信息</h3></div>
      <form action="@{Deliveryments.update()}" method="post" name="updateDeliverymentForm" id="updateDeliverymentForm"
            class="form-horizontal">
        <div class="box-body">
        #{if dmt.state.name().equals("PENDING_REVIEW")}
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active" id="below_tab">
              <a href="#currentPage" data-toggle='tab'>待审采购单</a>
            </li>
            <li>
              <a href="#relateDelivery" data-toggle='tab'>相关采购单</a>
            </li>
          </ul>
        #{/if}
        #{if dmt.state.name().equals("PENDING_REVIEW")}
        <div class="tab-content">
        <div class="tab-pane fade active in" id='currentPage'>
        #{/if}
          <div class="form-group">
            <label for="p_sku" class="col-sm-1 control-label">ID</label>
            <div class="col-sm-2">
              <input class="form-control" value="${dmt.id}" id="deliverymentId" name="dmt.id" readonly/>
              <input type="hidden" value="${paymentId}" id="paymentId">
            </div>
            <label for="subtitle_input" class="col-sm-1 control-label">State</label>
            <div class="col-sm-2">
              <input type="text" readonly class="form-control"
                     value="${dmt.state.label()}#{if dmt.state.name().equals("PENDING_REVIEW")}(${applyMsg?.split(",")[0]})#{/if}">
            </div>
            <label for="subtitle_input" class="col-sm-1 control-label">CreateDate</label>
            <div class="col-sm-2">
              <input type="text" readonly class="form-control" value="${dmt.createDate.datetime()}">
            </div>
            <label for="p_sku" class="col-sm-1 control-label">Creator</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" value="${dmt.handler.username}" readonly>
            </div>
          </div>

          <div class="form-group">
            <label for="p_sku" class="col-sm-1 control-label">Name</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" name="dmt.name" value="${dmt.name}">
            </div>
            <label for="p_sku" class="col-sm-1 control-label">总额</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" value="${total.format('#,###.##')}" readonly>
            </div>

          </div>

          <div class="form-group">
            <label for="p_sku" class="col-sm-1 control-label">下单时间</label>
            <div class="col-sm-2">
              <input role="date" class="form-control" name="dmt.orderTime" value="${dmt.orderTime?.date()}">
            </div>
            <label for="p_sku" class="col-sm-1 control-label">交货时间</label>
            <div class="col-sm-2">
              <input role="date" class="form-control" name="dmt.deliveryTime" value="${dmt.deliveryTime?.date()}">
            </div>
            <label for="p_sku" class="col-sm-1 control-label">供应商</label>
            <div class="col-sm-2">
              <select name="dmt.cooperator.id" class="form-control">
              #{list items:cooperatorList, as:'c'}
                <option value="${c.id}" ${dmt.cooperator?.id==c.id? 'selected':''}>${c.name}</option>
              #{/list}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="p_sku" class="col-sm-1 control-label">Memo</label>
            <div class="col-sm-11">
              <textarea rows="5" name="dmt.memo" class="form-control">${dmt.memo}</textarea>
            </div>
          </div>
        #{if dmt.state.name().equals("PENDING_REVIEW")}
        </div>
          <div class="tab-pane fade" id='relateDelivery'>
              #{include 'Deliveryments/_relate_index.html'/}
          </div>
        </div>
        </div>
        #{/if}
        </div>
      </form>
      <div class="box-footer form-inline">
      #{if dmt.apply}
        <a href="@{Applys.procure(dmt.apply.id)}" class="btn btn-success">${dmt.apply.serialNumber}
          请款单</a>
      #{/if}
      #{power.ck "products.edit"}
        <button class="btn btn-primary" data-toggle="popover" data-content="更新采购单部分信息" id="update_btn">更新</button>
      #{/power.ck}
      #{if isPending}
        <form action="@{Deliveryments.confirm()}" method="post" style="display:inline-block;" id="confirmForm">
          <input type="hidden" name="id" value="${dmt.id}">
            #{power.ck "products.edit"}
              <input type="button" class="btn btn-warning" id="confirmBtn" value="确认" data-toggle="tooltip"
                     title="确认采购单, 采购单进行确认以后, 才可以在运输单中进行挑选, 并且不再允许添加新的采购计划">
            #{/power.ck}
        </form>
      #{/if}

      #{power.ck 'deliveryments.cancel'}
        <form action="@{Deliveryments.cancel()}" method="post" style="display:inline-block;" class="form-inline">
          <input type="hidden" name="id" value="${dmt.id}">
          <input style="width:220px;" name="msg" value="${msg}" placeHolder="简要填写关闭的原因" class="form-control">
          <button class="btn btn-danger">取消采购单</button>
        </form>
      #{/power.ck}

      #{power.ck 'deliveryments.review'}
          #{if dmt.state.name().equals("PENDING_REVIEW")}
            <form action="@{Deliveryments.review()}" method="post" style="display:inline-block;">
              <input type="hidden" name="id" value="${dmt.id}">
              <select style="width:80px;" name="result" class="form-control">
                <option value="">请选择</option>
                <option value="true">通过</option>
                <option value="false">驳回</option>
              </select>
              <input class="form-control" name="msg" value="${msg}" id="apply_input" style="display:none; width:260px;"
                     placeHolder="如果驳回，简要填写驳回的原因">
              <button class="btn btn-warning">提交审核</button>
            </form>
          #{/if}
      #{/power.ck}
      </div>
    </div>

  #{if !isB2B}
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Timeline <i class="icon-reorder" data-widget="collapse" href="#id"></i></h3>
      </div>
      <div class="box-body" id="col-body">
        <div id="tl" class="col-md-12" style="height:350px;"></div>
      </div>
    </div>
  #{/if}

    <div class="box">
      <div class="box-header"><h3 class="box-title">已经添加进入[采购单]的[采购单元]</h3></div>
      <form action="#" id="bulkpost" method="POST" class="form-inline">
        <div class="box-body" id="unit_list">
        #{if isB2B}
            #{render 'ProcureUnits/_b2b_unit_list.html', units:dmt.units, checkbox:true, key:'delivery', delivery:true/}
        #{/if}
        #{else }
            #{render 'ProcureUnits/_unit_list_v3.html', units:dmt.units, checkbox:true, key:'delivery', delivery:true,paymentId:paymentId/}
        #{/else}
        </div>
        <div class="box-footer">
        #{power.ck "products.edit"}
          <a href="javascript:void(0);" data-url="@{Deliveryments.deleteUnits(dmt.id)}" id="delete_unit_btn"
             data-toggle="popover" data-content="将 DELIVERY 状态的采购计划从采购单中移除出去" class="btn btn-warning">解除</a>
        #{/power.ck}
        #{power.ck 'fbas.deploytoamazon'}
          <a href="javascript:void(0);" data-url='@{FBAs.deploysToAmazon("Deliveryments", dmt.id)}' data-method="POST"
             id="deployFBAs" class="btn btn-success">
            批量创建FBA</a>
          <a href="javascript:void(0);" data-url='@{FBAs.updateCartonContents("Deliveryments", dmt.id)}' data-method="POST"
             id="updateFbaCartonContents" class="btn btn-success">
            批量更新FBA箱内包装信息</a>
        #{/power.ck}
        #{power.ck 'fbas.procureunitsorder'}
          <a href="javascript:void(0);" data-url="@{Excels.procureunitsOrder(dmt.id)}" data-method="POST"
             id="downloadProcureunitsOrder" class="btn btn-success" rel="popover" content="下载选定的采购单元的出货单">
            <i class="icon-download-alt"></i>下载出货单
          </a>
        #{/power.ck}
          <a href="javascript:void(0);" data-url="@{FBAs.downloadZip("Deliveryments", dmt.id)}" data-method="POST"
             id="downloadFBAZIP" class="btn btn-info" rel="popover" content="将选定的采购单元的 出货FBA进行压缩打包">
            <i class="icon-download-alt"></i>下载FBA ZIP 包
          </a>
          <input id='form_method' type="hidden" name="x-http-method-override" value="POST">
        </div>
      #{render 'Deliveryments/_box_number_model.html'/}
      #{render 'Deliveryments/_fba_carton_contents.html'/}
      </form>
    </div>


  #{if dmt.state != models.procure.Deliveryment.S.CANCEL}
    <div class="box box-warning collapsed-box">
      <div class="box-header">
        <h3 class="box-title">生成采购单信息 <i class="icon-reorder" data-widget="collapse"></i></h3>
      </div>
      <form id="generate_excel" method="post" action="@{Excels.deliveryment()}" class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label for="excel_deliveryAddress" class="col-sm-1 control-label">交货地址</label>
            <div class="col-sm-11">
              <textarea rows="6" class="form-control" name="excel.deliveryAddress" id="excel_deliveryAddress">
                          收货时间：法定工作日 8:30-12:00  13:30-18:00，工作日其他时间到货请提前 1 小时联系。
                          仓库地址：深圳市光明新区玉律村汉海达科技创新园 1 栋 A 区 6 楼
                          电   话：0755-21383192-8060/8061
                          收货联系人：
                                  旷杰：  18692275630
                                  杨上德：13724219110
              </textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="excel_tradeTerms" class="col-sm-1 control-label">交易条款<br>(供应商)</label>
            <div class="col-sm-5">
              <textarea rows="10" name="excel.tradeTerms" id="excel_tradeTerms" class="form-control">${dmt.cooperator?.tradingTerms}</textarea>
            </div>
            <label for="excel_deliveryAddress" class="col-sm-1 control-label">产品要求<br>(产品线)</label>
            <div class="col-sm-5">
                #{list items:dmt.getCopperItems(), as:'cooperItem'}
                  <a href="@{Cooperators.editCooperItem(cooperItem.id)}" target="_blank" class="btn btn-xs btn-info"
                     data-toggle="popover" data-content="${cooperItem.formatProductTerms()}">
                  ${cooperItem.product.sku}
                  </a>
                #{/list}
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-6 control-label" style="text-align:center;">供货方信息</label>
            <label for="" class="col-sm-6 control-label" style="text-align:center;">买方信息</label>
          </div>

          <div class="form-group">
            <label for="excel_supplierCompany" class="col-sm-1 control-label">供方</label>
            <div class="col-sm-2">
              <input class="form-control" name="excel.supplierCompany" id="excel_supplierCompany" value="${dmt.cooperator.fullName}">
            </div>
            <label for="excel_supplier" class="col-sm-1 control-label">经办人</label>
            <div class="col-sm-2">
              <input class="form-control" name="excel.supplier" id="excel_supplier" value="${dmt.cooperator.contacter}">
            </div>

            <label for="excel_buyerCompany" class="col-sm-1 control-label">买方</label>
            <div class="col-sm-2">
              <input class="form-control" name="excel.buyerCompany" id="excel_buyerCompany"
                     value="${isB2B ? models.OperatorConfig.getVal("b2bbuyercompany"):models.OperatorConfig.getVal("buyercompany")}">
            </div>
            <label for="excel_tradeTerms" class="col-sm-1 control-label">经办人</label>
            <div class="col-sm-2">
              <input class="form-control" name="excel.buyer" id="excel_buyer" value="${dmt.handler?.username}">
            </div>
          </div>

          <div class="form-group">
            <label for="excel_supplierPhone" class="col-sm-1 control-label">移动电话</label>
            <div class="col-sm-2">
              <input class="form-control" name="excel.supplierPhone" id="excel_supplierPhone" value="${dmt.cooperator.phone}">
            </div>
            <label for="excel_supplierTel" class="col-sm-1 control-label">固定电话</label>
            <div class="col-sm-2">
              <input class="form-control" name="excel.supplierTel" id="excel_supplierTel" value="${dmt.cooperator.tel}">
            </div>

            <label for="excel_buyerPhone" class="col-sm-1 control-label">移动电话</label>
            <div class="col-sm-2">
              <input class="form-control" name="excel.buyerPhone" id="excel_buyerPhone" value="${dmt.handler?.phone}">
            </div>
            <label for="excel_buyerTel" class="col-sm-1 control-label">固定电话</label>
            <div class="col-sm-2">
              <input class="form-control" name="excel.buyerTel" id="excel_buyerTel" value="${isB2B ? '' : models.OperatorConfig.getVal("buyertel")}">
            </div>
          </div>

          <div class="form-group">
            <label for="excel_supplierFax" class="col-sm-1 control-label">传真</label>
            <div class="col-sm-2">
              <input class="form-control" name="excel.supplierFax" id="excel_supplierFax" value="${dmt.cooperator.fax}">
            </div>
            <label for="excel_supplierTel" class="col-sm-1 control-label"></label>
            <div class="col-sm-2"></div>

            <label for="excel_buyerFax" class="col-sm-1 control-label">传真</label>
            <div class="col-sm-2">
              <input class="form-control" name="excel.buyerFax" id="excel_buyerPhone">
            </div>
            <label for="chosebuyer" class="col-sm-1 control-label">选择经办人</label>
            <div class="col-sm-2">
              <select id="chosebuyer" class="form-control">
                <option value="">请选择</option>
                  #{list items:buyers, as:'br'}
                      #{ifnot br.username == 'wyatt'}
                        <option value="${br.id}">${br.username}</option>
                      #{/ifnot}
                  #{/list}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="excel_supplierAddress" class="col-sm-1 control-label">地址</label>
            <div class="col-sm-5">
              <input class="form-control" name="excel.supplierAddress" id="excel_supplierAddress" value="${dmt.cooperator.address}">
            </div>
            <label for="excel_buyerAddress" class="col-sm-1 control-label">地址</label>
            <div class="col-sm-5">
              <input class="form-control" name="excel.buyerAddress" id="excel_buyerAddress"
                     value="${isB2B ? models.OperatorConfig.getVal("b2bbuyeraddress") :models.OperatorConfig.getVal("buyeraddress")}">
            </div>
          </div>
        </div>
        <div class="box-footer">
          <input type="hidden" name="id" value="${dmt.id}">
          <input type="button" id="generate_excel_btn" class="btn btn-success" value="生成采购单 Excel">

          <input type="button" id="generate_export_excel_btn" data-url="@{Excels.exportDeliveryment()}" class="btn btn-warning"
                 value="生成进出口采购合同">
        </div>
      </form>
    </div>
  #{/if}

  #{if Arrays.asList('PENDING','CONFIRM').contains(dmt.state.name())}
    <div class="box">
      <div class="box-header"><h3 class="box-title">可添加进入[采购单]的[采购单元]</h3></div>
      <form action="@{Deliveryments.addunits(dmt.id)}" method="post" class="form-inline">
        <div class="box-body">
            #{if isB2B}
                #{render 'ProcureUnits/_b2b_unit_list.html', units:plan_units, checkbox:true, key:'plan'/}
            #{/if}
            #{else }
            #{render 'ProcureUnits/_unit_list_v3.html', units:plan_units, checkbox:true, key:'plan'/}
        #{/else}
        </div>
        <div class="box-footer">
            #{power.ck "products.edit"}
              <button id="plan_form_submit" class="btn btn-primary" data-toggle="popover" data-content="将 PLAN 状态的采购计划添加到采购单中">
                添加
              </button>
            #{/power.ck}
        </div>
      </form>
    </div>
  #{/if}

    <div class="box">
      <div class="box-header with-border"><h3 class="box-title">附件 <i class="icon-sort-down"></i></h3></div>
      <div class="box-body">
        <div style="min-height:300px;" class="col-md-12 well" id="dropbox">
          <ul class="thumbnails uploaded"></ul>
          <div class="message" style="height:150px;padding-top:145px;text-align:center;">Drag & Drop</div>
        </div>
      </div>
    </div>

  #{records_v3 records:records/}

  </div>
</div>

<input type="hidden" id="isNeedApply" value="${isNeedApply}">
<input type="hidden" id="totalSeven" value="${totalSeven}">

