#{extends 'main_full.html'/}

#{set title:"通知信息列表" /}
#{set 'moreScripts'}
    #{script_cdn name: 'component/pagination.coffee'/}
#{/set}

#{info_row title:"Notifications"/}

#{form @Notifications.index(), class:'search_form', id:'notifications_form'}
<div class="row-fluid">
  <div class="span12">
    <div class="inline">
      <a href="#" class="btn btn-primary" id="updateState" rel="popover" content="将选中的通知标记为已读">
        已查阅
      </a>
    </div>

    <div class="input-prepend  inline">
      <span class="add-on">From:</span>
      <input type="date" name="p.from" value="${p.from.date()}">
    </div>
    <div class="input-prepend inline">
      <span class="add-on">To:</span>
      <input type="date" name="p.to" value="${p.to.date()}">
    </div>

    <div class="inline">
        #{select_enum name:'p.state', items:models.Notification.S.values(), value:p.state}
          <option value="">状态</option>
        #{/select_enum}
    </div>

    <div class="inline">
      <input type="hidden" name="p.page" value="${p.page}">
      <button class="btn btn-primary" data-loading>搜索</button>
    </div>
  </div>
</div>


    #{if notifications.size() == 0}
    <div class="row-fluid" id="order_list">
      <div class="span12">
        暂时还没有通知
      </div>
    </div>
    #{/if}
    #{else }
    <div class="row-fluid">
      <div class="span12">
        <table class="table table-bordered table-condensed">
          <tr>
            <th><label><input type="checkbox" class="checkall"></label></th>
            <th class="span1">#</th>
            <th>标题</th>
            <th>内容</th>
            <th class="span2">创建时间</th>
            <th class="span2">源地址</th>
          </tr>
            #{list items:notifications, as:'noty'}
              <tr>
                <td>
                  <label>
                      #{if noty?.state == models.Notification.S.UNCHECKED}
                        <label><input type="checkbox" name="noteID" value="${noty.id}"></label>
                      #{/if}
                  </label>
                </td>
                <td><a name="${noty.createAt}">${noty.id}</a></td>
                  #{if noty?.state == models.Notification.S.UNCHECKED}
                     <td>
                       <a href="@{Notifications.viewSource(noty.id)}"><font style="font-weight:bold;font-style:italic;" color="red">
                       ${noty.title}</font></a></td>
                     <td>${noty.content}</td>
                     <td>#{time_tooltip time:noty.createAt, datetime:true, short:true/}</td>
                     <td>
                       <a href="@{Notifications.viewSource(noty.id)}"><font style="font-weight:bold;font-style:italic;" color="red">
                       ${noty.sourceURL}</font></a></td>
                   #{/if}
                   #{else }
                     <td><a href="@{Notifications.viewSource(noty.id)}">${noty.title}</a></td>
                     <td>${noty.content}</td>
                     <td>#{time_tooltip time:noty.createAt, datetime:true, short:true/}</td>
                     <td><a href="@{Notifications.viewSource(noty.id)}">${noty.sourceURL}</a></td>
                   #{/else}
              </tr>
            #{/list}
        </table>
      </div>
    </div>
        #{bootstrap_pager pi:p, url:'' /}
    #{/else}
#{/form}


