#{extends 'main.html'/}
#{set title:'入库记录(' + records.size() + ')'/}
#{set 'moreScripts'}
    #{script_cdn name: 'inboundrecords/index.coffee'/}
#{/set}
#{flash_alert /}
#{info_row title:'入库记录' /}

<div class="row-fluid">
  <form action="@{Whouses.inboundRecords()}" method="get" class="search_form" id="search_form">
    <div class="span12">
      <div class="input-prepend input-append inline">
        <span class="add-on">From:</span>
        <input type="date" name="p.from" value="${p.from.date()}">
        <span class="add-on">To:</span>
        <input type="date" name="p.to" value="${p.to.date()}">
      </div>

      <select name="p.origin" class="inline">
        <option value="">入库来源</option>
      #{list items:models.whouse.InboundRecord.O, as:'o'}
        <option ${o == p.origin ? 'selected' : ''} value="${o.name()}">${o.label()}</option>
      #{/list}
      </select>

      <select name="p.state" class="inline">
        <option value="">状态</option>
      #{list items:models.whouse.InboundRecord.S, as:'s'}
        <option ${s == p.state ? 'selected' : ''} value="${s.name()}">${s.label()}</option>
      #{/list}
      </select>

      <div class="input-prepend input-append inline">
        <span class="add-on"><i class="icon-search"></i></span>
        <input type="text" class="input-xxlarge" name="p.search" placeholder="出货计划 Or 质检任务 Or SKU" value="${p.search}">
        <button class="btn btn-primary" data-loading>搜索</button>
      </div>

      <div class="inline">
        <a href="@{InboundRecords.blank()}" target="_blank" class="btn btn-success inline">添加其他入库</a>
        <a target="_blank" class="btn btn-info inline" name="confirm" data-confirm="确认入库?">确认入库</a>
      </div>
    </div>
  </form>


  <div class="span12">
    <form action="@{InboundRecords.confirm()}" name="confirm_form">
      <table class="table table-condensed table-bordered">
        <tr>
          <th>
            <label class="checkbox">
              <input type="checkbox" id="inboundrecord_check_all" class="checkall">
            </label>
          </th>
          <th>#</th>
          <th>状态</th>
          <th>来源</th>
          <th>质检任务 ID</th>
          <th>入库对象</th>
          <th>名称</th>
          <th>预计入库</th>
          <th>实际入库</th>
          <th>不良品入库</th>
          <th>目标仓库</th>
          <th>创建时间</th>
          <th>完成时间</th>
          <th>备注</th>
          <th></th>
        </tr>
      #{list items: records, as: 'r'}
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" name="rids" value="${r.id}" class="inboundrecord">
            </label>
          </td>
          <td>${r.state.label()}</td>
          <td>${r.origin.label()}</td>
          <td>@{CheckTasks.show(r.checkTask)}</td>
          <td>${r.stockObj.showStockObjLink()}</td>
          <td>${r.stockObj.name()}</td>
          <td>${r.planQty}</td>
          <td>
            <input type="text" name="qty" value="${r.qty}" style="width:45px;">
          </td>
          <td>
            <input type="text" name="badQty" value="${r.badQty}" style="width:45px;">
          </td>
          <td>${r.targetWhouse.name}</td>
          <td>#{time_tooltip time: r.createDate/}</td>
          <td>#{time_tooltip time: r.completeDate/}</td>
          <td>
            <input type="text" name="memo" value="${r.memo}">
          </td>
        </tr>
      #{/list}
      </table>
    </form>
  </div>
</div>