<form method="post" action="@{Pmdashboards.salesProfit()}" id="salesProfitform" class="search_form">
  <div class="input-prepend input-append inline">
    <span class="add-on">差异 >=</span>
    <input type="hidden" name="p.abnormalType" value="${p.abnormalType}">
    <input type="text" class="input-medium" name="p.difference" value="${p.difference}">
    <a class="btn btn-primary" id="salesProfitSearch" data-form="salesProfitform" data-div="salesProfit">搜索</a>
  </div>
</form>


<table class="table table-condensed table-bordered">
  <tr>
    <th>SKU</th>
    <th>上周利润率</th>
    <th>历史利润率</th>
    <th title="差值">Diff(%)</th>
  </tr>
    #{list items:dtos, as: 'dto'}
      <tr>
        <td>${dto.sku}</td>
        <td>${dto.today}</td>
        <td>${dto.before}</td>
        <td style="color:${dto.difference.diffRGB()}">
        ${dto.difference.format('#.##')}
          (${dto.difference.format('#.##%')})
        </td>
      </tr>
    #{/list}
</table>
