<table class="table table-condensed table-bordered">
  <tr>
    <th>Rating</th>
    <th>Title</th>
    <th>UserId</th>
    <th>ReviewId</th>
    <th>Reviewer</th>
    <th>ReviewDate</th>
  </tr>
#{list items:reviews, as:'review'}
  <tr>
    <td style="background-color:${review.rating.color()}">${review.rating}</td>

    <td>${review.title}</td>

    <td id="userId">
      <a href="${review.userReviewLink()}" target="_blank"><i class="icon-external-link"></i> ${review.userid}</a>
    </td>

    <td>
      <a href="${review.reviewLink()}" target="_blank"><i class="icon-external-link"></i> ${review.reviewId}
      </a>
    </td>

    <td>${review.username}</td>

    <td>
      ${review.reviewDate.date()}
    </td>
  </tr>
#{/list}
</table>
