#{extends 'main_full.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
    #{script 'highstock.js'/}
    #{script 'Pmdashboards/pm.coffee'/}
    #{script 'Pmdashboards/abnormal.coffee'/}
#{/set}

<div class="row-fluid" id="orders" xmlns="http://www.w3.org/1999/html">
  <div class="span12">
    <div class="input-prepend input-append inline">
      <select name="team" style="width:130px;margin-left:20px;">
      #{list items:teams, as:'t'}
        <option value="${t.teamId}">${t.name}</option>
      #{/list}
      </select>
    </div>

    <div class="input-prepend input-append inline">
      <span class="add-on">年份:</span>

      <select year="${year}" name="year" style="width:130px;margin-left:20px;">
        <option value="${year}">${year}</option>
        <option value="${year-1}">${year-1}</option>
      </select>
    </div>

    <div class="input-prepend input-append inline">
      <span class="add-on"><i class="icon-search"></i></span>
      <button class="btn btn-primary" name="search">搜索</button>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" id="below_tab">
  <li class="active">
    <a href="#task" data-toggle='tab'>年度目标</a>
  </li>
  <li>
    <a href="#product" data-toggle='tab'>产品线状态</a>
  </li>
  <li>
    <a href="#abnormalInfo" data-toggle='tab'>异常信息</a>
  </li>
</ul>

<div id="below_tabContent" class="tab-content">
  <div class="tab-pane fade active in" id='task'>
  #{info_row title:'每月销售额和利润'/}
    <div class="row-fluid">
      <div class="span6" style="height:450px;" id='sale_column'></div>
      <div class="span6" style="height:450px;" id='profitrate_column'></div>
    </div>
  #{info_row title:'全年销售额和利润'/}

    <div class="row-fluid">
      <div class="span6" style="height:450px;" id='sale_percent'></div>
      <div class="span6" style="height:450px;" id='profit_percent'></div>
    </div>
  </div>

  <div class="tab-pane fade" id='product'>
  #{info_row title:'产品线状态'/}
  </div>

  <div class="tab-pane fade" id='abnormalInfo'>
    #{info_row title:'SKU 销售额异常'}
      <ul>
        <li>SKU的昨日销售额对比同期(过去四周当天平均值）突然下降下降20%</li>
      </ul>
    #{/info_row}
    <div id="day1SalesAmount"></div>

    #{info_row title:'SKU 历史销售额异常'}
      <ul>
        <li>上上周六 到 上周五 的销售额 对比 上个周期的销售额（默认差异5%）</li>
      </ul>
    #{/info_row}
    <div id="beforeSalesAmount"></div>

    #{info_row title:'SKU 利润率异常'}
      <ul>
      <li>上上周六 到 上周五 的利润率 对比 上个周期的利润率（默认差异5%）</li>
    </ul>
    #{/info_row}
    <div id="beforeSalesProfit"></div>

    #{info_row title:'Review 异常'/}
    <div id="review"></div>
  </div>
</div>

