#{extends 'main_full.html'/}
#{set title:'Home' /}
#{set 'moreScripts'}
    #{script name: 'highstock.js'/}
    #{script name: 'Pmdashboards/pmdashboards.coffee'/}
    #{script name: 'Pmdashboards/reviewrecords.coffee'/}
#{/set}
#{errorMsgs /}
#{flash_alert /}

<div class="row-fluid search_form" id="orders">
  <div class="span12">
    <div class="input-prepend input-append inline">
      <select name="team" style="width:130px;margin-left:1px;">
      #{list items:teams, as:'t'}
        <option value="${t.teamId}">${t.name}</option>
      #{/list}
      </select>
    </div>

    <div class="inline" style="margin-left:5px;">
      年份:
      <select year="${year}" name="year">
        <option value="${year}">${year}</option>
        <option value="${year-1}">${year-1}</option>
        <option value="${year-2}">${year-2}</option>
        <option value="${year-3}">${year-3}</option>
      </select>
    </div>

    <div class="inline" style="margin-left:5px;">
      Category:
      <select name="cate">
      #{list items:cates, as:'cate'}
        <option value="${cate.categoryId}">${cate.categoryId}</option>
      #{/list}
      </select>
    </div>

    <div class="inline">
      <button class="btn btn-primary" name="search">查询</button>
    </div>

    <input type="hidden" name="productvalue" value="0">
    <input type="hidden" name="abnormalInfovalue" value="0">
    <input type="hidden" name="categoryvalue" value="0">
    <input type="hidden" name="taskvalue" value="0">

  </div>
</div>

<ul class="nav nav-tabs" id="below_tab">
  <li class="active">
    <a href="#product" data-toggle='tab'>产品线状态</a>
  </li>

  <li>
    <a href="#abnormalInfo" data-toggle='tab'>
      异常信息<span style="color:#ff0000">（${abnormalSize}）</span>
    </a>
  </li>

  <li>
    <a href="#category" data-toggle='tab'>Category目标</a>
  </li>

  <li>
    <a href="#task" data-toggle='tab'>年度目标</a>
  </li>
</ul>

<div id="below_tabContent" class="tab-content">
  <div class="tab-pane fade active in" id='product' data-method="ajaxFetchProductInfos">
  #{info_row title:'产品线状态'/}
    <div class="row-fluid">
      <div class="span6" style="height:450px;width:47%" id='salefee_line' data-url="/pmdashboards/percent"></div>
      <div class="span6" style="height:450px;width:47%" id='saleqty_line' data-url="/pmdashboards/percent"></div>
    </div>
    <div id="reviewAnalyzes">
    #{include 'Pmdashboards/reviewRecords.html'/}
    </div>
  </div>

  <div class="tab-pane fade" id='category' data-method="ajaxFetchCategorySaleTargets">
  #{info_row title:'Category每月销售额和利润率'/}
    <div class="span6" style="height:450px;width:47%" id='category_column' data-url="/pmdashboards/ajaxCategorySalesAmount"></div>
    <div class="span6" style="height:450px;width:47%" id='category_line' data-url="/pmdashboards/ajaxCategorySalesProfit"></div>
  </div>


  <div class="tab-pane fade" id='task' data-method="ajaxFetchAnnualTargets">
  #{info_row title:'每月销售额和利润率'/}
    <div class="row-fluid">
      <div class="span6" style="height:450px;" id='sale_column' data-url="/pmdashboards/percent"></div>
      <div class="span6" style="height:450px;" id='profitrate_line' data-url="/pmdashboards/percent"></div>
    </div>
  #{info_row title:'全年销售额和利润'/}
    <div class="row-fluid">
      <div class="span6" style="height:450px;" id='sale_percent' data-url="/pmdashboards/percent"></div>
      <div class="span6" style="height:450px;" id='profit_percent' data-url="/pmdashboards/percent"></div>
    </div>

  #{info_row title:'TEAM所占比重'/}
    <div class="row-fluid">
      <div class="span6" style="height:450px;" id='teamsale_percent' data-url="/pmdashboards/percent"></div>
      <div class="span6" style="height:450px;" id='teamprofit_percent' data-url="/pmdashboards/percent"></div>
    </div>
  </div>

  <div class="tab-pane fade" id='abnormalInfo' data-method="ajaxFetchAbnormals">
    <div class="well well-small">
      <div class="row-fluid">
      #{info_row title:'SKU 销量异常'}
        <ul>
          <li>SKU的昨日销量对比同期突然下降20%</li>
        </ul>
      #{/info_row}
        <div id="salesQty"></div>
      </div>
    </div>

    <div class="well well-small">
      <div class="row-fluid">
      #{info_row title:'SKU 销售额异常'}
        <ul>
          <li>上上周六 到 上周五 的销售额 对比 上个周期的销售额（默认差异5%）</li>
        </ul>
      #{/info_row}
        <div id="salesAmount"></div>
      </div>
    </div>

    <div class="well well-small">
      <div class="row-fluid">
      #{info_row title:'SKU 利润率异常'}
        <ul>
          <li>上上周六 到 上周五 的利润率 对比 上个周期的利润率（默认差异5%）</li>
        </ul>
      #{/info_row}
        <div id="salesProfit"></div>
      </div>
    </div>

    <div class="well well-small">
      <div class="row-fluid">
      #{info_row title:'Review 异常'/}
        <div id="review"></div>
      </div>
    </div>
  </div>
</div>