#{info_row title:'Category Review 星级与中差评趋势'/}
<div class="span12" style="margin-left:1px;">
  <form action="@{Pmdashboards.exportReviewRecords()}" method="get" class="search_form" target="_blank">
    <div class="input-prepend input-append inline">
      <span class="add-on">From:</span>
      <input type="date" name="from" value="${from.date()}">
      <span class="add-on">To:</span>
      <input type="date" name="to" value="${to.date()}">
    </div>

    <div class="inline" style="margin-left:5px;">
      Category:
      <select name="category">
        <option value="all">ALL</option>
      #{list items:cates, as:'cate'}
        <option value="${cate.categoryId}" ${cate_index == 1 ? "selected" : ""}>${cate.categoryId}</option>
      #{/list}
      </select>
    </div>
    <div class="inline">
    #{power.ck "pmdashboards.reviewrecords"}
      <a data-href="@{Pmdashboards.reviewRecords()}" class="btn btn-primary inline" id="reviewRecords">查询</a>
      <a data-href="@{Pmdashboards.exportReviewRecords()}" class="btn btn-primary inline" id="exportReviewRecords">导出
        Excel</a>
    #{/power.ck}
    </div>
  </form>
</div>

<div class="span6" style="height:450px;width:49%;margin-left: 0px;" id='reviews_rating_line'
     data-url="@{Pmdashboards.reviewRatingLine()}"></div>
<div class="span6" style="height:450px;width:49%;margin-left: 10px;" id='poor_ratings_line'
     data-url="@{Pmdashboards.poorRatingLine()}"></div>
