#{extends 'main.html'/}
#{set title:'Review异常' /}
#{set 'moreScripts'}
#{/set}

#{info_row title:"所有 Review 异常 SKU 信息"/}

<table class="table table-condensed table-bordered">
  <tr>
    <td>SKU</td>
    <td>Count</td>
  </tr>
#{list items:dtos, as: 'dto'}
    #{set reviews: dto.reviews()/}
  <tr>
    <td>${dto.sku}</td>
    <td style="cursor:pointer;" data-toggle="toggle" data-target="#dto_${dto_index}">
      <span><i class="icon-reorder"></i></span>
      <span class="badge badge-info">${reviews.size()}</span>
    </td>
  </tr>
  <tr id="dto_${dto_index}" style="display:none;">
    <td colspan="3">
        #{render 'Pmdashboards/_tr_review_info.html', reviews: reviews/}
    </td>
  </tr>
#{/list}
</table>

