#{extends 'main_full_v3.html'/}
#{set title:'Analyze'/}
#{set 'moreScripts'}
    #{script 'jquery.dataTables.js'/}
    #{script 'highstock.js'/}
    #{script 'timeline/timeline_js/timeline-api.js'/}
    #{script 'analyzes/timeline.coffee'/}
    #{script 'analyzes/analyzes.coffee'/}
#{/set}


<div class="box box-default">
  <div class="box-body">
    <div class="row">
      <div class="col-md-6" style="height:300px;">
        <div id="a_units" data-method="ajaxUnit"></div>
      </div>
      <div class="col-md-3" style="height:300px;">
        <div id="a_turn" data-method="ajaxSellingTurn"></div>
      </div>
      <div class="col-md-3" style="height:350px;">
        <div id="a_ss" data-method="ajaxSellingRecord"></div>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <button class="btn btn-xs" data-market='amazon.de'>德国</button>
    <button class="btn btn-xs" data-market='amazon.com'>美国</button>
    <button class="btn btn-xs" data-market='amazon.es'>西班牙</button>
    <button class="btn btn-xs" data-market='amazon.fr'>法国</button>
    <button class="btn btn-xs" data-market='amazon.co.uk'>英国</button>
    <button class="btn btn-xs" data-market='amazon.it'>意大利</button>
    <button class="btn btn-xs" data-market='amazon.jp'>日本</button>
    <button class="btn btn-xs" data-market='amazon.ca'>加拿大</button>
    <button class="btn btn-xs" data-market=''>汇总</button>
  </div>
</div>

<div class="box box-warning">
  <div class="box-body">
    <div id="tl" class="col-md-12" style="height:350px;"></div>
  </div>
</div>

<div class="box box-warning">
  <div class="box-header">
    <form action="@{Analyzes.analyzes()}" method="get" id="click_param" class="form-inline">
      <div class="row-fluid">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">From:</div>
            <input style="width:100px;" class="form-control" role="date" name="p.from" value="${p.from.date()}">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">To:</div>
            <input style="width:100px;" class="form-control" role="date" name="p.to" value="${p.to.date()}">
          </div>
        </div>

        <a class="form-control btn" id="all_search" rel="popover" content="按照时间重新加载数据, 主要用于查看长时间 ALL SKU 的数据">
          Reload
        </a>

        <div class="form-group">
          <label class="checkbox inline">
            <input type="checkbox" name="p.filterDot2" value="false">
            包含 ,2
          </label>
        </div>

      #{select 'p.aid', items: accs, labelProperty: 'prettyName', valueProperty: 'id', value: p.aid, class: 'form-control'}
          #{option ''}Account#{/option}
      #{/select}

      #{select 'p.market', items: models.market.M.values(), value: p.market, class: 'form-control'}
          #{option ''}Market#{/option}
      #{/select}

      #{select 'p.categoryId', items:categoryIds, value: p.categoryId, class: 'form-control', native: true}
          #{option ''}Category#{/option}
      #{/select}

      #{select 'p.state', items:['Active', 'Inactive', 'All'], value: p.state, class: 'form-control'}
      #{/select}


        <div class="input-group">
          <div class="input-group-addon"><i class="icon-search"></i></div>
          <input class="form-control" id="a_param" name="p.search" placeholder="搜索 MSKU/SKU/ASIN/^71xx">
        </div>

        <a class="btn" id="a_search">搜索</a>
        <a class="btn" id="exceldown" rel="popover">下载Excel(SID)</a>

        <a href="javascript:;" class="btn btn-primary disabled pull-right" style="margin-right:5px;">
          Next Refresh At ${jobs.analyze.SellingSaleAnalyzeJob.cachedDate(p.type).datetime()}
        </a>

        <input type="hidden" id="postPage" name="p.page" value="1">
        <input type="hidden" id="postType" name="p.type" value="sid">
        <input type="hidden" id="postOrderBy" name="p.orderBy" value="day7">
        <input type="hidden" id="postVal" name="p.val" value="all">
        <input type="hidden" id="postDesc" name="p.desc" value="${p.desc}">
      </div>
    </form>
  </div>
  <div class="box-body">
    <div class="row-fluid">
      <ul id="below_tab" class="nav nav-tabs">
        <li class="active"><a href="#sid" data-toggle="tab">SID</a></li>
        <li class=""><a href="#sku" data-toggle="tab">SKU</a></li>
      </ul>
      <div id="below_tabContent" class="tab-content">
        <div class="tab-pane fade active in" id="sid">wait</div>
        <div class="tab-pane fade" id="sku">wait</div>
      </div>
    </div>
  </div>
</div>


