#{extends 'main.html'/}
#{set title:'Analyze'/}
#{set 'moreStyles'}
    #{stylesheet 'analyzes/analyzes.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'analyzes/analyzes.js'/}
    #{script 'highcharts.src.js'/}
#{/set}
<div class="uper">
    <div id='a_chart' class="grid_8"></div>
    <div class="grid_4" style="background:#0150D1">信息</div>
</div>

<div class="middleFunc grid_12" style="background:#498CE2">
    <ul>
    *{<li>}*
    *{<span>Market:</span>}*
    *{<select>}*
    *{#{list items:models.market.Account.M.values(), as:'m'}}*
    *{<option value="${m.name()}">${m}</option>}*
    *{#{/list}}*
    *{</select>}*
    *{</li>}*
        <li>&nbsp;</li>
        <li>
            <span>From</span>
            <input type="date" name="from" id='a_from' style="height:.8em;width:6.5em;">
        </li>
        <li>
            <span>To</span>
            <input type="date" name="to" id='a_to' style="height:.8em;width:6.5em;">
        </li>
        <li>&nbsp;</li>
        <li>
            <span>MSku</span>
            <input type="text" name="msku" id='a_msku'>
        </li>
        <li>&nbsp;</li>
        <li>
            <button id="a_search">搜索</button>
        </li>
    </ul>
</div>

<div id="selling_down" class="down grid_12" style="background:#B1C6D8"></div>
