#{extends 'main_fluid.html'/}
#{set title:'Analyze'/}
#{set 'moreStyles'}
    #{stylesheet 'dateinput.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'analyzes/analyzes.js'/}
    #{script 'highcharts.js'/}
    #{script 'jquery.tools.date.min.js'/}
#{/set}
<div class="row-fluid">
    <div class="row-fluid" id="uper">
        <div class="span4">需要什么样的信息? 销售相关</div>
        <div class="span7" id="a_chart" style="height:250px"></div>
    </div>

    <div class="row-fluid" id="uper2">
        <div class="span4">需要什么样的信息? 销售额相关</div>
        <div class="span7" id="a_sales" style="height:250px"></div>
    </div>

    <div class="row-fluid" id="a_toolbar" style="background:#498CE2;padding-top:5px;margin-left:1px">
        <div class="span2">
            <span class="span1 label label-success large">From:</span>
            <input class="span2" type="date" id="a_from" name="from">
        </div>

        <div class="span2">
            <span class="span1 label label-success large">TO:</span>
            <input class="span2" type="date" id="a_to" name="to">
        </div>

        <div class="span3">
            <span class="span1 label label-success large">MSKU:</span>
            <input class="span3" type="text" name="msku" id='a_msku' placeHolder="[ALL]所有产品的销量/销售额">
        </div>

        <div class="span1">
            <a href="#" class="btn" id="a_search">搜索</a>
        </div>
    </div>

    <div class="row-fluid">
        <div id="selling_down" style="margin-left:20px"></div>
    </div>
</div>
