<!-- 生成 Analyzes 页面下方的 selling 信息 -->
<table class="table table-condensed table-bordered">
    <tr>
        <th title="可双击下面 MerchantSKU">MerchantSKU</th>
        <th>ASIN</th>
        <th>Account</th>
        <th>Price</th>
        <th>OPN</th>
        <th>OWK</th>
        <th>OWY</th>
        <th>QTY</th>
        <th colspan="2">PS</th>
        <th title="计算的是昨天的数据, 不包含今天; Day7, Day30, Day180 相同" style="color:grey;">Day1</th>
        <th>Day7</th>
        <th>Day30</th>
        <th colspan="2"><a rel="tooltip" title="手动设置的 ps 计算的 TurnOver(在库 | 在途+在库+<b>在产</b>)">TOR</a></th>
        <th colspan="2"><a rel="tooltip" title="系统计算的 ps 计算的 TurnOver(在库 | 在途+在库+<b>在产</b>)">_TOR</a></th>
    </tr>
#{list items:p.items, as:'sell'}
    <tr>
        <td class="msku" style="cursor:pointer;" aid="${sell.account.id}" title="${sell.merchantSKU}">
            <i class="icon-bolt"></i> ${sell.merchantSKU}</td>
        <td class="sid" title="${sell.sellingId}" style="width:150px;">
            <div class="input-append">
                <span class="add-on"><a target="_blank" href="${sell.asinLink()}">${sell.asin}</a></span>
                <span class="add-on">${sell.market.nickName()}</span>
            </div>
        </td>
        <td style="cursor:pointer;" data-toggle="toggle" data-target="#msku_${sell_index}">
            <i class="icon-reorder"></i> ${sell.account.prettyName()}</td>
        <td>${sell.aps.salePrice}</td>
        <td>${sell.onplan}</td>
        <td>${sell.onwork}</td>
        <td>${sell.onway}</td>
        <td>${sell.qty}</td>
        #{set _psAndPsT2: sell.psAnd_psDiffer()/}
        <td style="background:${_psAndPsT2._2};width:90px;">
            <div class="input-prepend">
                <span class="add-on">${(_psAndPsT2._1 * 100).intValue()}%</span>
                <input ps sid="${sell.sellingId}" type="text" value="${sell.ps}" class="input" style="width:30px;">
            </div>
        </td>
        <td>${sell._ps}</td>
        <td>${sell.d1}</td>
        <td>${sell.d7.format('#.##')}/${(sell.d7 / 7).format("#.##")}</td>
        <td>${sell.d30.format('#.##')}/${(sell.d30 / 30).format("#.##")}</td>
        #{turnOver turnOver:sell.turnOverT4._1 /}
        #{turnOver turnOver:sell.turnOverT4._3 /}
        #{turnOver turnOver:sell.turnOverT4._2 /}
        #{turnOver turnOver:sell.turnOverT4._4 /}
    </tr>
    <tr id="msku_${sell_index}" style="display:none;">
        <td colspan="17">
            等待 Ajax 添加? TBD
        </td>
    </tr>
#{/list}
    <tr>
        <td colspan="17">
        #{bootstrap_pager pi:p, url:'#'/}
        </td>
    </tr>
</table>
