<!-- 生成 Analyzes 页面下方的 selling 信息 -->
<table class="table table-condensed table-bordered">
    <tr>
        <th title="可双击下面 SKU">SKU</th>
        <th>OPN</th>
        <th>OWK</th>
        <th>OWY</th>
        <th>Qty</th>
        <th>PS</th>
        <th colspan="2"><a rel="tooltip" title="系统计算的 ps 计算的 TurnOver(在库 | 在途+在库+<b>在产</b>)">_TOV</a></th>
        <th title="计算的是昨天的数据, 不包含今天; Day7, Day30, Day180 相同" style="color:grey;">Day1</th>
        <th>Day7</th>
        <th>Day30</th>
    </tr>
#{list items:p.items, as:'sell'}
    <tr>
        #{set sku:models.product.Product.merchantSKUtoSKU(sell.merchantSKU)/}
        <td class="sku" style="cursor:pointer;" aid="0" title="${sku}">${sku}</td>
        <td>${sell.onplan}</td>
        <td>${sell.onwork}</td>
        <td>${sell.onway}</td>
        <td>${sell.qty}</td>
        <td>${sell._ps}</td>
        #{turnOver turnOver:sell.turnOverT4._1/}
        #{turnOver turnOver:sell.turnOverT4._3/}
        <td>${sell.d1}</td>
        <td>${sell.d7}/${(sell.d7 / 7).format("#.##")}</td>
        <td>${sell.d30}/${(sell.d30 / 30).format("#.##")}</td>

    </tr>
#{/list}
    <tr>
        <td colspan="13">
            <div class="input-prepend">
                <div class="pagination span3" style="margin-top:0;">
                    <ul>
                        <li><a href="#" page="1">1</a></li>
                        <li><a href="#" page="${p.page - 1}">Prev</a></li>
                        <li><a href="#" page="${p.page + 1}">Next</a></li>
                        <li><a href="#" page="${p.totalPage}">${p.totalPage}</a></li>
                    </ul>
                </div>
                <span class="add-on">
                当前显示 ${p.size < p.items.size() ? p.size : p.items.size()} 记录,总共 ${p.count}
                    条记录,  <span id="curent_page">${p.page}</span>
                    / ${p.totalPage} 页
                </span>
            </div>
        </td>
    </tr>
</table>
