<!-- 生成 Analyzes 页面下方的 selling 信息 -->
<table id="skutable" class="table table-condensed table-bordered">
  <thead>
  <tr>
    <th title="可双击下面 SKU">SKU</th>
    <th>计划中</th>
    <th>制作中</th>
    <th>交货</th>
    <th>在途</th>
    <th>入库</th>
    <th>在库</th>
    <th>Reviews</th>
    <th>Rating</th>
    <th>评分趋势</th>
    <th>PS</th>
    <th>Day1</th>
    <th>
      <abbr title="Day1与Day7平均值的差值(百分比)">Diff(%)</abbr>
    </th>
    <th>Day7</th>
    <th>Day7ave</th>
    <th>Day30</th>
    <th>Day30ave</th>
    <th>_TOR</th>
    <th>_TOR1</th>
  </tr>
  </thead>
  <tbody>
  #{list items:dtos, as:'dto'}
  <tr>
    <td class="sku"><i class="icon-bolt"></i> ${dto.fid}</td>
    <td style="color:#A5B600">${dto.plan}</td>
    <td class="text-warning">${dto.working}</td>
    <td style="color:#FE502A;">${dto.worked}</td>
    <td class="text-info">${dto.way}</td>
    <td style="color:#CC6615">${dto.inbound}</td>
    <td class="text-success">${dto.qty}</td>
    <td><a href="javascript:;" rel="tooltip" title="${dto.reviewRatio}">${dto.reviews}</a></td>
    <td>${dto.rating.format('#.##')}</td>
    <td>
        #{render 'Analyzes/_rating_icon.html', dto:dto/}
    </td>
    <td>${dto.ps_cal.format('#.##')}</td>
    <td>${dto.day1}</td>
    <td style="color:${dto.difference.rgb()}">
    ${dto.difference.format('#.##')}
      (${dto.percentage().format('#.##%')})
    </td>
    <td>${dto.day7}</td>
    <td>${(dto.day1 - dto.difference).format('#.##')}</td>
    <td>${dto.day30}</td>
    <td>${(dto.day30 / 30).format('#.##')}</td>
    <td>${dto.turnOverT4._1} )</td>
    <td>${dto.turnOverT4._3} )</td>
  </tr>
  #{/list}
  </tbody>
</table>