#{extends 'main_full_v3.html' /}
#{set title:'退货单' /}
#{set 'moreScripts'}
    #{script 'refunds/edit.es6'/}
#{/set}

#{errorMsgs /}
#{flash_alert/}

<div class="row">
  <div class="col-sm-12">
    <div class="box box-primary">
      <form action="@{Refunds.update()}" method="post" id="edit_refund_form">
        <div class="box-header"><h4 class="box-title">编辑退货单</h4></div>
        <div class="box-body">
          <table class="table table-bordered">
            <tr>
              <th width="10%;">退货单ID</th>
              <td width="40%">
                <input type="text" value="${refund.id}" class="form-control" readonly>
                <input type="hidden" name="rid" value="${refund.id}">
              </td>
              <th width="10%;">状态</th>
              <td width="40%;" style="width: 40%;">${refund.status?.label()}</td>
            </tr>
            <tr>
              <th>退货单名称<span style="color:red">*</span></th>
              <td><input type="text" name="refund.name" class="form-control" value="${refund.name}" required></td>
              <th>供应商</th>
              <td>
                <input type="text" value="${refund.cooperator?.name}" class="form-control" readonly/>
              </td>
            </tr>
            <tr>
              <th>退货类型<span style="color:red">*</span></th>
              <td><input type="text" value="${refund.type?.label()}" class="form-control" readonly></td>
              <th></th>
              <td></td>
            </tr>

            <tr>
              <th>制单人</th>
              <td><input class="form-control" value="${refund.creator?.username}"></td>
              <th>仓库交接人</th>
              <td>
                <select name="refund.whouseUser.id" class="inline selectize" style="width:120px;">
                  <option value=""></option>
                #{list items:users, as:'u'}
                  <option value="${u.id}" #{if refund.whouseUser?.id==u.id} selected #{/if}>${u.username}</option>
                #{/list}
                </select>
              </td>
            </tr>

            <tr>
              <th>退货日期<span style="color:red">*</span></th>
              <td>
                <input role="date" class="form-control" name="refund.refundDate" value="${refund.refundDate?.date()}" required>
              </td>
              <th>物流信息</th>
              <td><input type="text" class="form-control" name="refund.info" value="${refund.info}"></td>
            </tr>
            <tr>
              <th>备注</th>
              <td colspan="4">
                <textarea name="refund.memo" rows="4" class="form-control">${refund.memo}</textarea>
              </td>
            </tr>
            <tr>
              <td colspan="4">
              #{if refund.status.name() == "Create"}
                <button class="btn btn-success" id="update">更新</button>
              #{/if}
                <a href="@{Refunds.index()}" class="btn btn-default">取消</a>
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>

    <div class="box box-warning">
      <div class="box-header"><h4 class="box-title">已添加进入【退货单】的【采购单元】</h4></div>
      <div class="box-body">
      #{render '/Refunds/_units.html', units:refund.unitList, is_check:true/}
      </div>
      <div class="box-footer form-inline">
      #{if refund.status.name() == "Create"}
        <button class="btn btn-danger" id="deleteBtn">解除</button>
        <input type="button" class="btn btn-primary" id="batchUpdateBoxInfoBtn" value="批量更新包装信息">
          <input type="text" name="procureId" data-url="@{Refunds.quickAddByEdit()}" placeholder="采购计划ID"
                 id="procureId" class="form-control">
          <input type="hidden" name="refundId" value="${refund?.id}"/>
          <input type="button" class="btn btn-warning" rel="tooltip" id="quickAddByEdit" title="输入采购ID，可以快速添加采购计划" value="快速添加">
      #{/if}
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="cooperId" value="${refund.cooperator?.id}"/>

#{records_v3 records:logs/}

<div id="refund_box_info_modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">包装信息</h4>
      </div>
      <div class="modal-body">
        <div id="refresh_div"></div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary btn-xs" id="submitBoxInfoBtn" data-action="@{Inbounds.updateBoxInfo()}">提交</a>
        <button class="btn btn-default btn-xs" data-dismiss="modal" aria-hidden="true">关闭</button>
      </div>
    </div>
  </div>
</div>

