/* ------------------- */
.uper{
    height:30%;
}

.uper2{
    height:30%;
}

#a_chart, #a_sales{
    height:100%;
}

/* ------------------- */

.middleFunc{
    margin-top:0.5em;
    margin-bottom:0.5em;
    height:3em;
}

.middleFunc ul{
    margin:0;
    list-style-type:none;
}

.middleFunc li{
    position:relative;
    margin:0;
    float:left;
    padding-top:.5em;
    padding-left:5px;
}

/* ------------------- */

.down{
}

.down table{
    width:100%;
    margin:0;
    border-top:1px solid black;
    border-left:1px solid black;
}

.down td, .down th{
    padding:1.5px 0;
    font-size:11px;
    text-align:center;
    border-bottom:1px solid black;
    border-right:1px solid black;
}

.down td.sid{
    width:10%;
}
