#{form @PaymentUnits.approveFromDeliveryment(payment.id)}
<div class="row-fluid">
  <div class="btn-toolbar">
      #{power.ck 'paymentunits.approve'}
        <input type="submit" class="btn btn-info" value="批准"/>
      #{/power.ck}
      #{if payment.state == models.finance.Payment.S.LOCKED}
        <a href="@{Payments.unlock(payment.id)}" data-method='delete' class="btn btn-success">解锁可加入新付款项目</a>
      #{/if}
      #{elseif payment.state == models.finance.Payment.S.WAITING}
        <a href="@{Payments.lockIt(payment.id)}" data-method='post' class="btn btn-warning">锁定准备付款</a>
      #{/elseif}
    <a href="@{Payments.pdf(payment.id)}" target="_blank" class="btn btn-success">下载 PDF</a>
  </div>
  <table class="table table-bordered table-condensed" id="apply_table">
    <tr>
      <th><label><input type="checkbox" id="check_all"></label></th>
      <th>出货计划</th>
      <th>出货日期</th>
      <th>物料编码</th>
      <th>单价</th>
      <th>数量(交货/签收)</th>
      <th>付款类型</th>
      <th>总额修正价</th>
      <th>付款金额</th>
      <th>请款人</th>
      <th>状态</th>
      <th>#</th>
    </tr>
      #{list items: units, as:'fee'}
        <tr id="paymentUnit_${fee.id}">
            #{set punit: fee.materialPlanUnit/}
            #{set records:fee.fixValueRecords()/}
            #{set denyRecords: fee.denyRecords()/}
          <td><input type="checkbox" name="paymentUnitIds" value="${fee.id}"></td>
          <td ${((records.size() + denyRecords.size()) > 0) ? 'data-toggle=\'toggle\'' : ''} data-target='#unit_${fee.id}'
                                                                                             width="200px;">
              #{if (records.size() + denyRecords.size()) > 0}
                <i class="icon-reorder"></i>
              #{/if}
            <a href="@{Deliveryments.show(fee.materialPlan.id)}#${punit?.id}">
            ${fee.materialPlan.id} #${punit.id}
            </a>
          </td>
          <td>#{time_tooltip time:punit.materialPlan.deliveryDate/}</td>
          <td>${punit.material.code}</td>
          <td>${payment.currency.symbol()} ${punit.getPrice()}</td>
          <td class="qty" 
              style="color:${punit.qty!=punit.receiptQty? 'red':''}">
          ${punit.qty}/${punit.receiptQty?:0}
          </td>
          <td>${fee.feeType.nickName}</td>
          <td>${payment.currency.symbol()} ${fee.fixValue}</td>
          <td>${payment.currency.symbol()} ${fee.amount()}</td>
          <td>${fee.payee.username}</td>
          <td>
            <span class="label ${fee.stateLabel()}">${fee.state.label()}</span>
              #{power.ck 'paymentunits.deny'}
                  #{if fee.state in [models.finance.PaymentUnit.S.APPLY, models.finance.PaymentUnit.S.APPROVAL]}
                    <button data-url='@{PaymentUnits.deny(fee.id)}' class="btn btn-danger btn-mini paymentUnitDeny">
                      驳回
                    </button>
                  #{/if}
              #{/power.ck}
          </td>
          <td>
            <a href="@{Applys.material(payment.mApply.id)}#${fee.id}" target="_blank">
            ${payment.mApply.serialNumber} #${fee.id}
            </a>
          </td>
        </tr>
        <tr id="unit_${fee.id}" style="display:none">
          <td colspan="4"></td>
          <td colspan="4">
              #{if records.size() > 0}
                  #{records_ul records: records/}
              #{/if}
          </td>
          <td colspan="5">
              #{if denyRecords.size() > 0}
                  #{records_ul records: denyRecords/}
              #{/if}
          </td>
        </tr>
      #{/list}
    <tr>
      <td colspan="13">#{bootstrap_pager pi:post, url: "/Payments/show/" + payment.id/}</td>
    </tr>
  </table>
</div>
#{/form}