#{set delete: del == null ? true : del /}
<tr>
    <th>费用类型</th>
    <th>请款金额</th>
    <th class="fifteen">修正值</th>
    <th>请款 + 修正额</th>
    <th>请款人</th>
    <th class="ten">请款时间</th>
    <th>状态</th>
    <th>#</th>
#{if delete}
    <th></th>
#{/if}
</tr>
#{list items:fees, as:'fee'}
<tr id="payunit_${fee.id}">
    <td>${fee.feeType?.nickName}</td>
    <td class="amount">${fee.currency.symbol()} ${fee.amount}</td>
    <td class="fix_value">
        <div class="input-prepend">
            <span class="add-on">${fee.currency.symbol()}</span>
            <input feeId='${fee.id}' class="input input-small fixValue" type="text"
                   data-url='@{PaymentUnits.update(fee.id)}' value="${fee.fixValue}">
        </div>
    </td>
    <td>${fee.amount} + ${fee.fixValueAmount()}</td>
    <td>${fee.payee.username}</td>
    <td>#{time_tooltip time:fee.createdAt, datetime:true /}</td>
    <td>
        #{a @Payments.show(fee.payment.id)}
            <span style="color:${fee.stateColor()}">#${fee.payment.id} ${fee.state}</span>
        #{/a}
    </td>
    <td>${fee.id}</td>
    #{if delete}
        <td>
            <button class="btn btn-small btn-danger remove">
                <i class="icon-remove"></i>
            </button>
        </td>
    #{/if}
</tr>
#{/list}