#{extends 'main_full.html' /}
#{set title:"会签审核列表"  /}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
    #{script 'applys/index.es6'/}
#{/set}
<style>
  .table td{
    vertical-align:middle;
  }
</style>

#{errorMsgs /}
#{flash_alert /}

<div class="row-fluid">
  <form action="@{Payments.batchApplyIndex()}" method="post" class="search_form" id="search_Form">
    <div class="row-fluid">
      <div class="span12">
        <div class="input-prepend input-append inline">
          <span class="add-on">From:</span>
          <input type="date" name="p.from" value="${p.from.date()}">
          <span class="add-on">To:</span>
          <input type="date" name="p.to" value="${p.to.date()}">
        </div>

        <select name="p.status" class="inline">
          <option value="">状态</option>
        #{list items:models.finance.BatchReviewApply.S, as:'s'}
          <option #{if p.status==s} selected #{/if} value="${s.name()}">${s.label()}</option>
        #{/list}
        </select>

        <select name="p.cooperatorId" class="inline selectize" style="width:150px;">
          <option value="">供应商</option>
        #{list items:cooperators, as:'cop'}
          <option #{if p.cooperatorId==cop.id} selected #{/if} value="${cop.id}">${cop.name}</option>
        #{/list}
        </select>

        <select name="p.type" class="inline">
          <option value="">付款方式</option>
        #{list items:models.finance.BatchReviewApply.W, as:'w'}
          <option #{if p.way == w} selected #{/if} value="${w.name()}">${w.label()}</option>
        #{/list}
        </select>

        <div class="input-prepend input-append inline">
          <span class="add-on"><i class="icon-search"></i></span>
          <input type="text" style="width:220px;" name="p.search" placeholder="" value="${p.search}">
          <input type="hidden" name="p.page" value="${p.page}">
          <button class="btn btn-primary" data-loading>搜索</button>
        </div>
        <a class="btn btn-info" href="javascript:void(0)" id="printBtn" target="_blank">
          <i class="icon-print"></i> 审计部Excel导出</a>
      </div>
    </div>
  </form>

  <form method="post" id="inboundForm">
    <div class="row-fluid">
      <div class="span12">
        <table class="table table-condensed table-bordered" id="data-table">
          <tr>
            <th width="125px;">请款审核ID</th>
            <th width="250px;">请款项</th>
            <th width="60px;">付款方式</th>
            <th width="90px;">审核阶段</th>
            <th width="100px;">供应商</th>
            <th width="100px;">核单金额</th>
            <th width="180px;">创建人/创建时间</th>
            <th width="180px;">品牌部审核意见/人</th>
            <th width="180px;">审计部审核意见/人</th>
            <th width="180px;">财务部审核意见/人</th>
            <th width="200px;">备注</th>
          </tr>
        #{list items: applies, as: 'a'}
          <tr>
            <td><a href="@{Payments.showBatchApply(a.id)}">${a.id}</a></td>
            <td style="cursor:pointer;" name="clickTd" data-id="${a.id}" data-url="@{Payments.showPaymentList()}">
              <span><i class="icon-reorder"></i></span>
              <span>${a.name}</span>
              <span class="badge badge-info">${a.paymentList.size()}</span>
            </td>
            <td>${a.way?.label()}</td>
            <td>${a.status?.label()}</td>
            <td>${a.cooperator?.name}</td>
            <td rel="tooltip" title="$ ${a.totalApplyAmount()._1}">¥ ${a.totalApplyAmount()._3}</td>
            <td>${a.creator.username}/#{time_tooltip time:a.createDate, datetime:true/}</td>
            <td>
                #{list items:a.getHandlers(models.User.D.Brand),as:'b'}
                  ${b.result?.label()} / ${b.handler.username} <br>
                #{/list}
            </td>
            <td>
                #{list items:a.getHandlers(models.User.D.Audit),as:'b'}
                  ${b.result?.label()} / ${b.handler.username} <br>
                #{/list}
            </td>
            <td>
                #{list items:a.getHandlers(models.User.D.Finance),as:'b'}
                  ${b.result?.label()} / ${b.handler.username} <br>
                #{/list}
            </td>
            <td>${a.memo}</td>
          </tr>
        #{/list}
          <tr>
            <td colspan="11">
            #{if applies.size() == 0}
              暂时还没有入库记录
            #{/if}
            #{else }
                #{bootstrap_pager pi:p, url:'' /}
            #{/else}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>

