#{extends 'main_full.html' /}
#{set title:"采购单[${dmt.id}]请款信息"  /}
#{set 'moreStyles'}
    #{stylesheet 'payments.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'payments.coffee'/}
#{/set}

#{flash_alert /}

<div class="row-fluid btn-toolbar">
    <a href="@{Deliveryments.show(dmt.id)}" class="btn btn-success">回到采购单</a>
    <input type="hidden" id="deliverymentId" value="${dmt.id}">
</div>

#{warning_row title:'采购单支付信息' /}
<div class="btn-toolbar">
    <button data-target="#add_form" data-toggle="toggle" class="btn btn-success">向采购单添加请款</button>
</div>

<div class="row-fluid" id="add_form">
    <form method="post" action="@{Payments.deliverymentApply(dmt.id)}">
        <label>金额</label>
        <input type="text" name="pu.amount" value="${pu == null ? 0 : pu.amount}">
        <label>币种</label>
    #{pickCurrency c:(pu == null ? helper.Currency.CNY : pu.currency) /}
        <label>采购费用类型</label>
        <select name="pu.feeType.name">
        #{list items:procureFeeTypes, as:'ft'}
            <option value="${ft.name}">${ft.nickName}</option>
        #{/list}
        </select>
        <br>
        <button class="btn btn-primary">申请</button>
    </form>
</div>
<div class="row-fluid">
    <table class="table table-bordered table-condensed" id="deliveryment_fees">
    #{if dmt.fees().size() <= 0}
        <tr>
            <td>暂时全部是采购单元的请款</td>
        </tr>
    #{/if}
    #{else }
        #{render './_units.html', fees:dmt.fees()/}
        <tr>
            <th>汇总:</th>
            <td id="fee_amount"></td>
            <td id="fee_fix_value"></td>
            <td colspan="5">&nbsp;</td>
        </tr>
    #{/else}
    </table>
</div>

#{info_row title:'采购单元支付信息' /}
<div class="row-fluid">
    <table class="table table-bordered table-condensed" id="procure_units_fees">
        <tr>
            <th>#</th>
            <th>SKU</th>
            <th>供应商</th>
            <th>采购数量</th>
            <th>实际交货数量</th>
            <th>单价</th>
            <th class="ten">进度</th>
            <th>实际交货时间</th>
            <th>阶段</th>
            <th class="five">抵达货代</th>
            <th class="ten">请款?</th>
        </tr>
    #{list items:dmt.units, as:'unit'}
        <tr>
            <td>${unit.id}</td>
            <td>${unit.sku}</td>
            <td>${unit.cooperator.name}</td>
            <td>${unit.attrs.planQty}</td>
            <td data-toggle="toggle" data-target="#unit_${unit.id}">
                <i class="icon-reorder"></i>
                <i class="badge">${unit.applyBadge()}</i>
                <i class="badge badge-important">${unit.denyBadge()}</i>
                <i class="badge badge-info">${unit.approvalBadge()}</i>
                <i class="badge badge-success">${unit.paidBadge()}</i>
            ${unit.attrs.qty}
            </td>
            <td>${unit.attrs.price.formatCurrency(unit.attrs.currency.name())}</td>
            <td>${unit.totalAmount()} / ${unit.totalBalance()}
                <strong>(${(unit.totalAmount() / unit.totalBalance()).format("#.#%")})</strong>
            </td>
            <td>${unit.attrs.deliveryDate}</td>
            <td style="background:${'#' + unit.stage.rgb()}">${unit.stage}</td>
            <td>#{yesOrNo f:unit.isPlaced/}</td>
            <td>
                <form class="inner_form" method="post" action="@{Payments.procureUnitApply(dmt.id)}">
                    <input type="hidden" name="procureUnitId" value="${unit.id}">
                    <button class="btn btn-info btn-small">
                        请款
                    </button>
                    <label class="inline checkbox">
                        <input type="checkbox" name="prepay" value="true">
                        预付款
                    </label>
                </form>
            </td>
        </tr>
        <tr id="unit_${unit.id}" style="display:none;">
            <td colspan="11" class="toggle_table_td">
                #{if unit.fees().size() <= 0}
                    <div style="padding:10px">没有支付信息</div>
                #{/if}
                #{else }
                    <table class="table table-bordered table-condensed">
                        #{render './_units.html', fees:unit.fees()/}
                        <tr>
                            <th>汇总:</th>
                            <td id="fee_${unit.id}_amount"></td>
                            <td id="fee_${unit.id}_fix_value"></td>
                            <td colspan="5">&nbsp;</td>
                        </tr>
                    </table>
                #{/else}
            </td>
        </tr>
    #{/list}
    </table>
</div>
