<!DOCTYPE html>
<html>
<head>
  <title>${payment.paymentNumber} 付款单</title>
#{stylesheet 'bootstrap.min.css'/}
  <style type="text/css">
    body{
      font-family:STXihei, serif;
    }
  </style>
</head>
<body>
#{if payment.pApply}


<h3>${payment.cooperator.fullName} - ${payment.paymentNumber} 付款单</h3>
<h3>${payment.state.label()}</h3>
<table class="table table-condensed table-bordered">
  <tr>
    <td class="span1">采购订单号</td>
    <td>采购单元</td>
    <td>SKU</td>
    <td class="span2">实际交货</td>
    <td>单价</td>
    <td>金额</td>
    <td>修正值</td>
    <td>付款日期</td>
    <td>实际交货日期</td>
  </tr>
    #{set qty: 0/}
    #{set amount: 0/}
    #{set fixValue: 0/}
    #{list items:payment.units(), as:'paymentunit'}
      <tr>
          #{set unit: paymentunit.procureUnit/}
        <td>${unit.deliveryment.id}</td>
        <td>#${unit.id}</td>
        <td>${unit.product.sku}</td>
        <td>${unit.qty()}</td>
        <td>${unit.attrs.currency.symbol()} ${unit.attrs.price}</td>
        <td>${paymentunit.currency.symbol()} ${paymentunit.amount}</td>
        <td>${paymentunit.currency.symbol()} ${paymentunit.fixValue}</td>
        <td>${payment.paymentDate.date()}</td>
        <td>${unit.attrs.deliveryDate.date()}</td>
      </tr>
        #{set qty: qty + unit.qty()/}
        #{set amount: amount + paymentunit.amount/}
        #{set fixValue: fixValue + paymentunit.fixValue/}
    #{/list}
  <tr>
    <td colspan="2">&nbsp;</td>
    <td>总数量:</td>
    <td>${qty}</td>
    <td>总金额:</td>
    <td>${amount}</td>
    <td>${fixValue}</td>
    <td>:总修正</td>
    <td></td>
  </tr>
  <tr>
    <td colspan="4"></td>
    <td>美元汇率</td>
    <td colspan="4">${payment.rate}</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td>应付金额</td>
    <td>${payment.currency.symbol()} ${payment.approvalAmount()}</td>
    <td>应付美金</td>
    <td colspan="4">${(payment.rate * payment.approvalAmount()).format('#.##')}</td>
  </tr>
</table>
    #{set images: models.product.Attach.attaches(payment.id + "", 'PAYMENTS')/}
    #{if images}
        #{list items:images, as:'img'}
        <img src="http://e.easya.cc/attachs/image?a.fileName=${img.fileName}">
        #{/list}
    #{/if}
    #{else }
    还未上传凭证
    #{/else}
#{/if}
#{else }

<h3>${payment.cooperator.fullName} - ${payment.paymentNumber} 付款单</h3>
<h3>${payment.state.label()}</h3>
<table class="table table-condensed table-bordered">
  <tr>
     <th class="span1">运输单号</th>
     <th>费用类型</th>
     <th>单价</th>
     <th>数量</th>
     <th>均价</th>
     <td>修正值</td>
     <td>付款日期</td>
  </tr>
  #{set qty: 0/}
  #{set amount: 0/}
  #{set fixValue: 0/}
  #{list items:payment.units(), as:'fee'}
   <tr>
     <td>
        #{if fee.shipItem}
             ${fee.shipment.id}#${fee.shipItem.id}
        #{/if}
        #{else }
          ${fee.shipment.id}
        #{/else}
     </td>
     <td>${fee.feeType.nickName}</td>
     <td>${fee.currency.symbol()}${fee.unitPrice}</td>
     <td>${fee.unitQty}</td>
     <td>${fee.currency.symbol()} ${fee.averagePrice()}</td>
     <td>${fee.fixValue}</td>
     <td>${payment.paymentDate.date()}</td>
    </tr>
   #{set qty: qty + fee.unitQty/}
   #{set amount: amount + fee.amount()/}
   #{set fixValue: fixValue + fee.fixValue/}
 #{/list}
   <tr>
      <td>
      </td>
      <td>
        总数量:
      </td>
      <td>
        ${qty}
      </td>
     <td>
        总金额:
     </td>
     <td>
        ${amount}
     </td>
     <td>
       总修正:
     </td>
     <td>
       ${helper.Currency.CNY.symbol()} ${fixValue}
     </td>
   </tr>
   <tr>
     <td colspan="4"></td>
     <td>美元汇率</td>
     <td colspan="4">${payment.rate}</td>
   </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td>应付金额</td>
    <td>${payment.currency.symbol()} ${payment.approvalAmount()}</td>
    <td>应付美金</td>
    <td colspan="4">${(payment.rate * payment.approvalAmount()).format('#.##')}</td>
  </tr>
</table>
    #{set images: models.product.Attach.attaches(payment.id + "", 'PAYMENTS')/}
    #{if images}
        #{list items:images, as:'img'}
        <img src="http://e.easya.cc/attachs/image?a.fileName=${img.fileName}">
        #{/list}
    #{/if}
    #{else }
    还未上传凭证
    #{/else}
#{/else}
</body>
</html>