#{extends 'main_full.html' /}
#{set title:"汇签审核详情"  /}
#{set 'moreScripts'}
    #{script 'jquery.filedrop.js'/}
    #{script 'component/dropUpload.coffee'/}
    #{script 'applys/index.es6'/}
#{/set}


#{errorMsgs /}
#{flash_alert /}

<form action="" method="post" id="">
#{info_row title:'请款审核单'/}

  <div class="row-fluid">
    <div class="span12">
      <table class="table table-bordered">
        <tr>
          <th width="10%;">请款审核ID</th>
          <td width="40%;"><input type="text" value="${apply.id}" readonly></td>
          <th width="10%;">请款项:</th>
          <td width="40%;"><input type="text" value="${apply.name}" class="input-xxlarge" required readonly></td>
        </tr>
        <tr>
          <th>付款方式</th>
          <td>
            <select>
            #{list items:models.finance.BatchReviewApply.W, as:'w'}
              <option value="${w.name()}">${w.label()}</option>
            #{/list}
            </select>
          <th>审核状态</th>
          <td><input type="text" readonly value="${apply.status.label()}"></td>
        </tr>
        <tr>
          <th>供应商</th>
          <td><input type="text" readonly value="${apply.cooperator?.name}"></td>
          <th>总核单金额</th>
          <td>
            <input type="text" value="${apply.totalApplyAmount()._3}" class="span2" readonly>
            <select class="span2">
              <option value="CNY">CNY</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>备注</th>
          <td colspan="3">
            <textarea name="inbound.memo" rows="4" class="input-block-level"></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <input type="hidden" name="record.origin" value="">
            <input type="hidden" name="record.state" value="">
            <button class="btn btn-primary" id="update">更新</button>
            <a href="@{Inbounds.index()}" class="btn btn-success">取消</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</form>

#{success_row title:'请款审核明细'/}
<div class="row-fluid">
  <div class="span12">
    <table class="table table-condensed table-bordered" id="unit_table">
      <tr>
        <th>请款单编号</th>
        <th>涉及的请款人</th>
        <th>总请款金额</th>
        <th>最近更新时间</th>
        <th>创建时间</th>
      </tr>
    #{list items:apply.paymentList, as:'pay'}
      <tr>
        <td><a target="_blank" href="@{Payments.show(pay.id)}">${pay.paymentNumber}</a></td>
        <td>
            #{list items:pay.applyers(), as:'applyer'}
            ${applyer.username} &nbsp;
            #{/list}
        </td>
        <td>${pay.currency.symbol()}  ${pay.totalFees()._3}</td>
        <td>#{time_tooltip time:pay.updateAt, datetime:true/}</td>
        <td>#{time_tooltip time:pay.createdAt, datetime:true/}</td>
      </tr>
    #{/list}
    </table>
  </div>
</div>

#{info_row title:'审核信息'/}
<div class="row-fluid">
  <div class="span12">
    <table class="table table-condensed table-bordered" id="unit_table">
      <tr>
        <th width="250px;">审核部门</th>
        <th width="250px;">审核人</th>
        <th width="220px;">审核意见</th>
        <th width="250px;">审核时间</th>
        <th>说明</th>
      </tr>
    #{list items:apply.handlers, as:'h'}
      <tr>
        <td>${h.handler.department?.label()}</td>
        <td>${h.handler.username}</td>
        <td>${h.result?.label()}</td>
        <td>#{time_tooltip time:h.createDate, datetime:true/}</td>
        <td>${h.memo}</td>
      </tr>
    #{/list}
    </table>
  </div>
</div>

#{warning_row title:'请款审批会签'/}
<form action="@{Payments.submitBatchResult()}" method="post">
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-condensed table-bordered" id="apply_form">
        <tr>
          <th>审核意见</th>
          <td>
            <label class="radio inline">
              <input type="radio" name="handler.result" value="Agree">同意
            </label>
            <label class="radio inline">
              <input type="radio" name="handler.result" value="Disagree">不同意
            </label>
          </td>
        </tr>
        <tr>
          <th>说明</th>
          <td>
            <textarea rows="3" class="input-block-level" name="handler.memo"></textarea>
            <input type="hidden" name="handler.apply.id" value="${apply.id}">
          </td>
        </tr>
        <tr>
          <td colspan="2">
          #{if apply.showSubmitBtn()}
            <input type="submit" class="btn btn-primary" value="提交">
          #{/if}
          #{if apply.status.name() == 'Brand' && currDepart == 'Brand'}
            <input type="button" class="btn btn-warning" value="移交审计部审核" name="transferBtn" data-status="Audit">
          #{/if}
          #{if apply.status.name() == 'Audit' && currDepart == 'Audit'}
            <input type="button" class="btn btn-warning" value="移交财务部审核" name="transferBtn" data-status="Finance">
          #{/if}
          #{if apply.status.name() == 'Finance' && currDepart == 'Finance'}
            <input type="button" class="btn btn-success" value="审核结束" id="endBtn">
          #{/if}
          </td>
        </tr>
      </table>
    </div>
  </div>
</form>

<div class="row-fluid">
  <div class="span12">
    <h4 class="alert alert-success">附件 <i class="icon-sort-down"></i></h4>
  </div>
</div>
<div class="row-fluid">
  <div style="min-height:300px;" class="span12 well" id="dropbox">
    <ul class="thumbnails uploaded"></ul>
  #{power.ck "products.edit"}
    <div class="message" style="height:150px;padding-top:145px;text-align:center;">Drag & Drop</div>
  #{/power.ck}
  </div>
</div>

<form action="@{Payments.transferNextDepartment()}" method="post" id="transfer_form">
  <input type="hidden" name="applyId" value="${apply.id}">
  <input type="hidden" name="status" id="status_input">
</form>