#{extends 'main_full_v3.html'/}
#{set title:"${payment.paymentNumber?:''}" /}
#{set 'moreScripts'}
    #{script 'jquery.filedrop.js'/}
    #{script  'component/dropUpload.coffee'/}
    #{script  'payments/show.coffee'/}
    #{script  'payments/show.es6'/}
#{/set}
<style>
  .table td{
    vertical-align:middle;
  }
</style>
#{flash_alert /}

#{if payment.pApply}
    #{render './_procreApply.html', payment: payment, units: units, post: post/}
#{/if}
#{if payment.tApply}
    #{render './_transportApply.html', payment: payment, units: units, post: post/}
#{/if}
#{if payment.mApply}
    #{render './_materialApply.html', payment: payment, units: units, post: post/}
#{/if}


<div class="row">
  <div class="col-sm-3">
  #{records_v3 records: payment.includesItemsRecords(), nobr:true /}
  </div>

  <div class="col-sm-3">
    <div class="box box-success">
      <div class="box-body">
        <dl class="dl-horizontal" id='mainInfo'>
          <dt>请款币种</dt>
          <dd id="request_currency">${payment.currency}</dd>
          <dt>批准后总金额(不含驳回)</dt>
          <dd>${payment.currency.symbol()}
            <span id='finalAppied'>${new java.math.BigDecimal(payment.approvalAmount()).format('#,###.##')}</span>
          </dd>
          <dt>汇率 <span id='currencyFromTo'>${payment.currency} -> ?</span></dt>
          <dd id='ratioTo'>0</dd>
          <dt>汇率 <span id='currencyToFrom'>? -> ${payment.currency}</span></dt>
          <dd id='reverRatioTo'>0</dd>
          <dt>需要支付的 <span id='paidCurrency'>CNY</span></dt>
          <dd><span id='paidCurrencyAmount'>0</span></dd>
          <dt>汇率时间</dt>
          <dd id="ratioTime">&nbsp;</dd>
        </dl>

        <dl class="dl-horizontal">
          <dt>编号</dt>
          <dd><a href="@{Payments.show(payment.id)}">${payment.paymentNumber}</a></dd>
          <dt>系统 ID</dt>
          <dd>${payment.id}</dd>
          <dt>请款单</dt>
        #{if payment.pApply}
          <dd><a href="@{Applys.procure(payment.pApply.id)}">${payment.pApply.serialNumber}</a></dd>
        #{/if}
        #{elseif payment.tApply}
          <dd><a href="@{Applys.transport(payment.tApply.id)}">${payment.tApply.serialNumber}</a></dd>
        #{/elseif}
          <dt>最后更新时间</dt>
          <dd>#{time_tooltip time: payment.updateAt, datetime:true/}</dd>
          <dt>创建时间</dt>
          <dd>#{time_tooltip time: payment.createdAt, datetime:true/}</dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="col-sm-3" id='paymentTargetInfo'>
    <div class="box box-success">
      <div class="box-body form-horizontal">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label">账户</label>
          <div class="col-sm-9">
            <input class="form-control" value="${payment.target.accountUser}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label">账号</label>
          <div class="col-sm-9">
            <input class="form-control" value="${payment.target.accountNumber}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label">名称</label>
          <div class="col-sm-9">
            <input class="form-control" value="${isShowFull ? payment.cooperator.fullName : payment.cooperator?.name}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label">银行地址</label>
          <div class="col-sm-9">
            <textarea rows="3" class="form-control" readonly>${payment.target.accountAddress}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="box box-danger">
      <div class="box-body">
      #{if payment.state == models.finance.Payment.S.PAID}
        <dl class="dl-horizontal">
          <dt>支付状态</dt>
          <dd style="color:${payment.stateColor()}">${payment.state.label()}</dd>
          <dt>支付时间</dt>
          <dd>${payment.paymentDate}</dd>
          <dt>汇率</dt>
          <dd>${payment.rate}</dd>
          <dt>汇率时间</dt>
          <dd>${payment.ratePublishDate}</dd>
          <dt>支付人</dt>
          <dd>${payment.payer?.username}</dd>
          <dt>(计算)应该支付</dt>
          <dd>${payment.actualCurrency.symbol()} ${new java.math.BigDecimal(payment.shouldPaid).format('#,###.##')}</dd>
          <dt>&nbsp;</dt>
          <dd>&nbsp;</dd>
          <dt>实际支付金额</dt>
          <dd>${payment.actualCurrency.symbol()} ${new java.math.BigDecimal(payment.actualPaid).format('#,###.##')}</dd>
          <dt>实际支付对方账号</dt>
          <dd>${payment.actualUser}</dd>
          <dt>实际支付对方账户</dt>
          <dd>${payment.actualAccountNumber}</dd>
        </dl>
      #{/if}
      #{else }
          #{power.ck 'payments.payforit'}
            <form action="@{Payments.payForIt(payment.id)}" method="post" id="pay_form" class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">供应商</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="供应商"
                         value="${isShowFull? payment.cooperator.fullName : payment.cooperator.name}" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">账号</label>
                <div class="col-sm-9">
                  <select class="form-control" name="paymentTargetId" id="paymentTargetId">
                      #{list items:payment.cooperator.paymentMethods, as:'m'}
                        <option value="${m.id}">${m.name}</option>
                      #{/list}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">支付币种</label>
                <div class="col-sm-9">
                    #{select 'currency', id:'currency', items:[helper.Currency.CNY, helper.Currency.USD,
                    helper.Currency.EUR, helper.Currency.HKD, helper.Currency.GBP], value:payment.currency}
                        #{option ''}选择币种#{/option}
                    #{/select}
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">金额</label>
                <div class="col-sm-9">
                  <input type="hidden" id="ratioInput" name="ratio" value="-1">
                  <input type="hidden" id="ratioDateTimeInput" name="ratioPublishDate">
                  <div class="controls form-inline">
                    <input type="text" class="form-control" placeholder="最终支付金额" name="actualPaid" id="actualPaid">
                    <input type="submit" value="付款" class="btn btn-success" data-confirm='请再次确认信息后付款'>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">应付金额</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="text" class="form-control" data-url='@{Payments.shouldPaidUpdate (payment.id)}'
                           placeholder="手动输入确认" name="shouldPaid" id="shouldPaid">
                    <span class="input-group-addon" id="shouldPaidChanges"><i class="icon-question-sign"></i></span>
                  </div>
                </div>
              </div>
            </form>
          #{/power.ck}
      #{/else}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="box box-success box-solid">
      <div class="box-header">
        <h3 class="box-title"><a href="http://www.boc.cn/sourcedb/whpj/" target="_blank">中国银行挂牌汇率
          <i class="icon-external-link"></i></a></h3>
      </div>
      <div class="box-body">
        <div id="boc_rate">正在加载...</div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="box box-success box-solid">
      <div class="box-header">
        <h3 class="box-title">
          <a href="http://www.xe.com/zh-CN/currencytables/?from=CNY" target="_blank">
            Xe.com 实时汇率 <i class="icon-external-link"></i>
          </a>
        </h3>
      </div>
      <div class="box-body">
        <div id="ex_rate">正在加载...</div>
      </div>
    </div>
  </div>
</div>

#{power.ck 'payments.uploads'}
<div class="box" style="margin-top:20px">
  <div class="box-body">
    <div style="min-height:300px;background:#eee;" id="dropbox" paymentId='${payment.id}'>
      <ul class="thumbnails uploaded"></ul>
      <div class="message" style="height:150px;padding-top:145px;text-align:center;">Drag & Drop</div>
    </div>
  </div>
</div>
#{/power.ck}


<div id="reason_model" class="modal fade bs-example-modal-lg">
  <form action="@{Materials.createBom()}" method="post" id="model_form">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4><span class="text-info" id="model_title"></span></h4>
        </div>
        <div class="modal-body">
          <div class="row-fluid">
            <label for="destroy_reason">原因</label>
            <textarea id="model_reason" name="reason" rows="4" class="form-control"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
          <input type="submit" class="btn btn-danger" data-disable-with='提交中...' value="驳回">
        </div>
      </div>
    </div>
  </form>
</div>

