#{extends 'main.html' /}
#{set title:"SKU_CHECK创建"/}
#{set 'moreScripts'}
    #{script 'skuchecks/skucheck.coffee'/}
#{/set}
#{errorMsgs /}
#{flash_alert /}

<div class="row">
  <div class="span12">
    <form action="@{Skuchecks.create()}" method="POST" id="saleTargetsForm">
    #{info_row title:'SKU_CHECK创建'/}
      <table class="table table-condensed table-bordered">
        <input type="hidden" name="sc.id" value="${sc.id}">
        <input type="hidden" name="sc.pid" value="${sc.pid}">
        <input type="hidden" name="sc.creator" value="${sc.creator}">
        <input type="hidden" name="sc.updator" value="${sc.updator}">
        <input type="hidden" name="sc.createdAt" value="${sc.createdAt}">
        <input type="hidden" name="sc.updateAt" value="${sc.updateAt}">
        <tr>
          <th>SKU_CHECK名称</th>
          <td colspan="1">
            <input type="text" class="span4" name="sc.checkName" value="${sc.checkName}">
          </td>
        </tr>
        <tr>
          <th>类型</th>
          <td colspan="1">
            <select name="sc.checkType" type="text" class="span4" style="width:200px;">
              <option value="">选择类型</option>
            #{list items:models.qc.SkuCheck.CheckType.values(), as:'t'}
              <option value="${t}" ${sc.checkType == t ? 'selected' : ''}>${t}</option>
            #{/list}
            </select>

          </td>

          <th>产品线/SKU</th>
          <td colspan="1">
            <input type="text" autocomplete="off" data-provide="typeahead" data-items="15" data-source="${cates}"
                   name="sc.SkuName" value="${sc.SkuName}" placeHolder="产品线/SKU">
          </td>
        </tr>
      </table>
      <div class="btn-toolbar">
      #{if sc.id>0}
        <button class="btn btn-primary">更新</button>
      #{/if}
      #{else}
        <button class="btn btn-primary">创建</button>
      #{/else}
      </div>
    </form>

  #{if sc.id>0}
      #{info_row title:'CheckList内容列表'/}
    <table class="table table-condensed table-bordered" id="categorySaletargets">
      <tr>
        <th class="span1">序号</th>
        <th class="span4">检测要求</th>
        <th class="span4">检测方法</th>
        <th class="span3">操作</th>
      </tr>
        #{list items:sclist, as:'sl'}
          <tr>
            <input type="hidden" name="sl.id" value="${sl.id}">
            <td class="span1">${sl_index}</td>
            <td class="span4">
              <textarea   class="span4" name="sc.checkRequire">${sl.checkRequire}</textarea>
             </td>
            <td class="span4">
              <textarea   class="span4" name="sc.checkMethod">${sl.checkMethod}</textarea>
             </td>
            <td class="span3">
              <button class="btn btn-primary submit">更新</button>
              <button class="btn btn-danger delete">删除</button>
            </td>
          </tr>
        #{/list}
    </table>

      #{info_row title:"新增CheckList" /}
    <div class="row-fluid">
      <div class="span12">
        <form method="post" action="@{Skuchecks.createline()}">
          <table class="table table-condensed table-bordered">
            <input type="hidden" name="sc.pid" value="${sc.id}">
            <tr>
              <th class="span2">检测要求</th>
              <td><textarea rows="4" class="span12" name="sc.checkRequire">${sc.checkRequire}</textarea></td>
            </tr>
            <tr>
              <th class="span2">检测方法</th>
              <td><textarea rows="4" class="span12" name="sc.checkMethod">${sc.checkMethod}</textarea></td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-primary">新增</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>


  #{/if}
  </div>
</div>
