#{extends 'main_full.html'/}
#{set title:'FeeTypes'/}
#{set 'moreStyles'}
    #{stylesheet 'feetypes.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'feetypes.coffee'/}
#{/set}

#{info_row }
<div style="text-align:center">
  <h3>请只使用两级</h3>
</div>
#{/info_row}

<div class="btn-toolbar">
  <button class="btn btn-success" data-toggle="toggle" data-target="#add_form">
    <i class="icon-plus-sign-alt"></i>
    新添加 FeeType
  </button>
</div>

<div class="row-fluid" id="add_form">
  <form method="post" action="@{FeeTypes.create()}">
    <label>费用名称</label>
    <input type="text" name="ft.name">
    <label>NickName</label>
    <input type="text" name="ft.nickName">
    <label>费用解释</label>
    <input type="text" name="ft.memo">
    <label>父费用类型</label>
    <select name="parentName">
      <option value="">TOP</option>
    #{list items:types, as:'parent'}
      <option value="${parent.name}">${parent.name}:${parent.memo}</option>
    #{/list}
    </select>
    <label></label>
    <button class="btn btn-primary">创建</button>
  </form>
</div>

<div class="row-fluid">
  <table class="table table-bordered table-condensed types">
    <tr>
      <th>Parent_Name</th>
      <th>Child_Name</th>
      <th>NickName</th>
      <th>解释</th>
      <th>创建时间</th>
      <th>更新时间</th>
      <th>Action</th>
    </tr>
  #{list items:types, as:'top'}
  <tr>
      #{if top.children.size()==0}
        <td>${top.name}</td>
        <td></td>
        <td>${top.nickName}</td>
        <td>${top.memo}</td>
        <td>${top.createdAt.los()}</td>
        <td>${top.updateAt.los()}</td>
        <td>
          <button class="btn btn-mini btn-primary submit">更新</button>
          <button class="btn btn-mini btn-danger delete">删除</button>
        </td>
      </tr>
      #{/if}
      #{else }
        <td rowspan="${top.children.size()+1}">${top.name}</td>
        <td></td>
        <td><input type="text" name="nickName" value="${top.nickName}"></td>
        <td>${top.memo}</td>
        <td>${top.createdAt.los()}</td>
        <td>${top.updateAt.los()}</td>
        <td>
          <button class="btn btn-mini btn-primary submit">更新</button>
          <button class="btn btn-mini btn-danger delete">删除</button>
        </td>
        </tr>
          #{list items:top.children, as:'c'}
            <tr>
              <td>${c.name}</td>
              <td><input type="text" name="nickName" value="${c.nickName}"></td>
              <td>${c.memo}</td>
              <td>${c.createdAt.los()}</td>
              <td>${c.updateAt.los()}</td>
              <td>
                <button class="btn btn-mini btn-primary submit">更新</button>
                <button class="btn btn-mini btn-danger delete">删除</button>
              </td>
            </tr>
          #{/list}
      #{/else}
  #{/list}
  </table>
</div>