#{extends 'main_full_v3.html'/}
#{set title:'费用类型'/}
#{set 'moreScripts'}
    #{script 'feeTypes/feeTypes.es6'/}
#{/set}

<div class="row">
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
      #{list items:types, as:'top'}
        <li #{if top_index==1} class="active" #{/if}>
          <a href="#${top.name}" data-toggle='tab'>${top.name}</a>
        </li>
      #{/list}
      </ul>

      <div class="tab-content">
      #{list items:types, as:'top'}
        <div class="tab-pane #{if top_index==1} active#{/if}" id="${top.name}">
          <div class="box">
            <div class="box-header">
              <button class="btn btn-success" name="show_modal">新添加 FeeType</button>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-condensed">
                <tr>
                  <th>Child_Name</th>
                  <th>NickName</th>
                  <th>解释</th>
                  <th>快捷查询</th>
                  <th>创建时间</th>
                  <th>更新时间</th>
                  <th>Action</th>
                </tr>
                  #{list items:top.children, as:'c'}
                    <tr>
                      <td>${c.name}</td>
                      <td>${c.nickName}</td>
                      <td>${c.memo}</td>
                      <td>${c.shortcut}</td>
                      <td>${c.createdAt.los()}</td>
                      <td>${c.updateAt.los()}</td>
                      <td>
                        <button class="btn btn-xs btn-primary" name="update_btn" data-name="${c.name}"
                                data-demo="${c.memo}" data-nick="${c.nickName}" data-short="${c.shortcut}">更新
                        </button>
                        <button class="btn btn-xs btn-danger delete">删除</button>
                      </td>
                    </tr>
                  #{/list}
              </table>
            </div>
          </div>
        </div>
      #{/list}
      </div>
    </div>
  </div>
</div>

<div id="create_modal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><h4 class="modal-title">添加FeeType信息</h4></h4>
      </div>
      <form action="@{FeeTypes.create()}" method="post" id="create_form" class="form-horizontal">
        <div class="modal-body" style="height:300px;">
          <table class="table table-condensed table-bordered">
            <tr>
              <th>费用名称:</th>
              <td><input type="text" name="ft.name" required class="form-control"></td>
            </tr>
            <tr>
              <th>NickName:</th>
              <td><input type="text" name="ft.nickName" required class="form-control"></td>
            </tr>
            <tr>
              <th>费用解释:</th>
              <td><input type="text" name="ft.memo" required class="form-control"></td>
            </tr>
            <tr>
              <th>快捷查询:</th>
              <td><input type="text" name="ft.shortcut" class="form-control"></td>
            </tr>
            <tr>
              <th>父费用类型:</th>
              <td>
                <select name="parentName" class="form-control">
                  <option value="">TOP</option>
                #{list items:types, as:'parent'}
                  <option value="${parent.name}">${parent.name}:${parent.memo}</option>
                #{/list}
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-xs" id="submitCreateBtn">创建</button>
          <button class="btn btn-default btn-xs" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="update_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"><h4 class="modal-title">修改FeeType信息</h4></div>
      <div class="modal-body" style="height:200px;">
        <form action="@{FeeTypes.update()}" method="post" id="update_form" class="form-horizontal">
          <table class="table table-condensed table-bordered">
            <tr>
              <th>费用名称:</th>
              <td><input type="text" name="ft.name" readonly class="form-control" required></td>
            </tr>
            <tr>
              <th>NickName:</th>
              <td><input type="text" name="ft.nickName" class="form-control"></td>
            </tr>
            <tr>
              <th>费用解释:</th>
              <td><input type="text" name="ft.memo" class="form-control"></td>
            </tr>
            <tr>
              <th>快捷查询:</th>
              <td><input type="text" name="ft.shortcut" class="form-control"></td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-xs" id="submitUpdateBtn">保存</button>
        <button class="btn btn-default btn-xs" data-dismiss="modal" aria-hidden="true">关闭</button>
      </div>
    </div>
  </div>
</div>

