<div class="row-fluid">
    <div class="span4">
        <blockquote>
            <p>
                <a href="${t.feedback?.userFeedbackink()}" target="_blank">
                    <i class="icon-external-link"></i>
                ${t.feedback.feedback.raw()}
                </a>
            </p>
            <small>${t.feedback?.orderr?.buyer}</small>
        </blockquote>
    </div>
    <div class="span4">
        <blockquote>
            <p>${t.feedback.memo.raw()}</p>
            <small>Feedback Memo</small>
        </blockquote>
    </div>
    <div class="span4">
        <blockquote>
            <p>
            ${t.memo.raw()}
            </p>
            <small>Ticket Memo</small>
        </blockquote>
    </div>
</div>
