#{extends 'main_full.html'/}
#{set title:'Incomeing Reviews & Feedbacks' /}
#{set 'moreScripts'}
    #{script 'tickets/index.coffee'/}
#{/set}

<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs" style="margin-bottom:5px;">
            <li class="active"><a href="#news" data-toggle='tab'>新来的负 Review</a></li>
            <li><a href="#overtime" data-toggle='tab'>超时的新负 Review</a></li>
            <li><a href="#rp2" data-toggle='tab'>二次跟进的负 Review</a></li>
        </ul>

        <div class="tab-content">
            <div id="news" class="tab-pane active">
                <table class="table table-condensed table-bordered">
                    <tr>
                        <th>Sku</th>
                        <th>Title</th>
                        <th>ReviewId</th>
                        <th>UserName</th>
                        <th>Score</th>
                    </tr>
                #{list items:tickets, as:'t'}
                    #{set r:t.review/}
                    #{set reviewC_L:r.reviewLengthColor()/}
                    <tr class="twoTr">
                        <td>
                            <a href="@{Products.show(t.sku)}" target="_blank">${t.sku}</a>
                        </td>
                        <td style="background:${'#' + reviewC_L._2}">
                            <span class="badge badge-important">${reviewC_L._1}</span> |
                            <span>${r.title}</span>
                            #{list items:t.reasons, as:'ra'}
                                <span class="badge badge-important">${ra.name()}</span>
                            #{/list}

                            #{if t.resolver}
                                <span class="pull-right badge badge-inverse"><i class="icon-user"></i> ${t.resolver.username.capAll()}</span>
                            #{/if}
                        </td>
                        <td>
                            <a href="@{Tickets.show(r.reviewId)}" target="_blank">
                            ${r.reviewId}
                            </a>
                            #{if r.orderr != null}
                                <span class="pull-right"><i class="icon-shopping-cart"></i></span>#{/if}
                        </td>
                        <td>
                            <a href="${r.reviewLink()}" target="_blank">
                                <i class="icon-external-link"></i> ${r.username}
                            </a>
                        </td>
                        <td style="background:${'#' + r.color()}">${r.rating}</td>
                    </tr>
                    <tr style="display:none;">
                        <td colspan="5">
                            <div class="row-fluid">
                                <div class="span6">
                                    <h3>Review</h3>
                                ${r.review}
                                </div>
                                <div class="span6">
                                    <h3>Comment</h3>
                                ${r.comment}
                                </div>
                            </div>
                        </td>
                    </tr>
                #{/list}
                </table>
            </div>

            <div id="overtime" class="tab-pane">
                超时的新 Review
            </div>

            <div id="rp2" class="tab-pane">
                二次跟进的负 Review
            </div>
        </div>

    </div>

</div>