#{extends 'main_full.html'/}
#{set title:'Tickets(' + tickets.size() + ')'/}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
#{/set}
#{set 'moreStyles'}
    #{stylesheet 'tickets.css'/}
#{/set}

<div class="row-fluid">
    <form method="get" class="search_form" action="@{Tickets.index()}">
        <div class="span12">
            <div class="row-fluid">
                <div class="input-prepend inline">
                    <span class="add-on">From:</span>
                    <input type="date" name="p.form" value="${p.from?.date()}">
                </div>

                <div class="input-prepend inline">
                    <span class="add-on">To:</span>
                    <input type="date" name="p.to" value="${p.to?.date()}">
                </div>


                <select name="p.dateType" class="inline">
                #{list items:models.view.post.TicketPost.DT.values()}
                    <option ${p.dateType == _ ? 'selected' : ''} value="${_.name()}">${_}</option>
                #{/list}
                </select>

                <!-- TODO 用户查看需要做权限 -->
                <select name="p.userid" class="inline">
                    <option value="">用户</option>
                #{list items:userIds}
                    <option ${p.userid == _._2 ? 'selected' : ''} value="${_._2}">
                    ${_ ._1}
                    </option>
                #{/list}
                </select>

                <select name="p.type" class="inline">
                #{list items:models.support.Ticket.T.values()}
                    <option ${p.type == _ ? 'selected' : ''} value="${_.name()}">${_}</option>
                #{/list}
                </select>

                <select name="p.state" class="inline">
                    <option value="">状态</option>
                #{list items:models.support.TicketState.values()}
                    <option ${p.state == _ ? 'selected' : ''} value="${_.name()}">${_}</option>
                #{/list}
                </select>

            #{set succ: ['处理成功': true, '处理失败': false]/}
                <select name="p.isSuccess" class="inline">
                    <option value="">成功?</option>
                #{list items:succ}
                    <option ${p.isSuccess == _.value ? 'selected' : ''} value="${_.value}">
                    ${_.key}
                    </option>
                #{/list}
                </select>

                <label class="checkbox inline">
                    <input type="checkbox" name="p.start" ${p.start ? 'checked' : ''} value="true">
                    重点产品
                </label>

                <div class="input-append inline">
                    <input type="hidden" name="p.page" value="${p.page}">
                    <input type="text" name="p.search" value="${p.search}">
                    <button class="btn btn-primary" data-loading="">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row-fluid">
    <div class="span2 pane_state">
        <a href="@{Tickets.tabSearch(models.support.TicketState.NEW.name(), p.type.name())}">
        ${models.support.TicketState.NEW}
            <span class="badge badge-important">${new_count}</span>
        </a>
    </div>
    <div class="span2 pane_state">
        <a href="@{Tickets.tabSearch(models.support.TicketState.TWO_MAIL.name(), p.type.name())}">
        ${models.support.TicketState.TWO_MAIL}
            <span class="badge badge-warning">${twice_count}</span>
        </a>
    </div>
    <div class="span2 pane_state">
        <a href="@{Tickets.tabSearch(models.support.TicketState.MAILED.name(), p.type.name())}">
        ${models.support.TicketState.MAILED}
            <span class="badge badge-info">${mailed_count}</span>
        </a>
    </div>
    <div class="span2 pane_state">
        <a href="@{Tickets.tabSearch(models.support.TicketState.NEW_MSG.name(), p.type.name())}">
        ${models.support.TicketState.NEW_MSG}
            <span class="badge  badge-success">${new_mail_count}</span>
        </a>
    </div>
    <div class="span2 pane_state">
        <a href="@{Tickets.tabSearch(models.support.TicketState.NO_RESP.name(), p.type.name())}">
        ${models.support.TicketState.NO_RESP}
            <span class="badge  badge-inverse">${no_resp_count}</span>
        </a>
    </div>
    <div class="span2 pane_state">
        <a href="@{Tickets.tabSearch(models.support.TicketState.PRE_CLOSE.name(), p.type.name())}">
        ${models.support.TicketState.PRE_CLOSE}
            <span class="badge">${pre_close_count}</span>
        </a>
    </div>
</div>

<div class="row-fluid">
    <table class="table table-bordered table-condensed">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>OsTicket</th>
            <th>状态</th>
            <th><abbr title="客户最后回信时间">LastMsg</abbr></th>
            <th><abbr title="客服最后回信时间">LastResponse</abbr></th>
            <th><abbr title="与 OsTicket 的最后同步时间">LastSyncDate</abbr></th>
            <th><abbr title="创建时间">Create</abbr></th>
            <th>Score</th>
        </tr>
    #{list items:tickets, as:'t'}
        <tr>
            #{render './_tdIdLink.html', t:t/}
            #{render './_tdTitle.html', t:t/}
            <td>
                <a href="${t.osTicketLink()}" target="_blank">
                    <i class="icon-external-link"></i> ${t.osTicketId}
                </a>
            </td>
            <td>${t.state}</td>
            <td>${t.lastMessageTime.los()}</td>
            <td>${t.lastResponseTime.los()}</td>
            <td>${t.lastSyncTime.los()}</td>
            <td>${t.createAt.los()}</td>
            #{render './_tdScore.html', t:t/}
        </tr>
        <tr id="toggle_${t.id}" style="display:none;">
            <td colspan="9">
                #{render './_ticket_toggle.html', t:t/}
            </td>
        </tr>
    #{/list}
        <tr>
            <td colspan="9">
            #{bootstrap_pager pi:p, url:'' /}
            </td>
        </tr>
    </table>
</div>
