<table class="table table-condensed table-bordered">
    <tr>
    #{if checkbox}
        <th>
            <label class="checkbox">
                <input type="checkbox" id="checkbox_all">
            </label>
        </th>
    #{/if}
        <th>#</th>
        <th>Selling</th>
        <th>Sku</th>
        <th>仓库</th>
        <th>供应商</th>
        <th>采购数量</th>
        <th>预计交货时间</th>
        <th>预计到库时间</th>
        <th>阶段</th>
        <th>创建时间</th>
    </tr>
#{list items:units, as:'unit'}
    <tr>
        #{if checkbox}
            <td>
                <label class="checkbox"><input type="checkbox" value="${unit.id}" id="checkbox_${unit.id}"></label>
            </td>
        #{/if}
        <td data-toggle="toggle" data-target="#unit_${unit_index}" style="cursor:pointer;">
            <i class="icon-reorder"></i> ${unit.id}</td>
        <td>
            <a href="@{Sellings.selling(unit.selling.sellingId)}" target="_blank">${unit.selling.sellingId}</a>
        </td>
        <td>
            <a href="@{Products.show(unit.sku)}" target="_blank">${unit.sku}</a>
        </td>
        <td>${unit.whouse.name}</td>
        <td>${unit.cooperator?.name}</td>
        <td>${unit.attrs.planQty}</td>
        <td>${unit.attrs.planDeliveryDate.los()}</td>
        <td>${unit.attrs.planArrivDate.los()}</td>
        <td style="background:${'#' + unit.stage.rgb()}">${unit.stage}</td>
        <td>${unit.createDate.los()}</td>
    </tr>
    <tr id="unit_${unit_index}" style="display:none;">
        <td colspan="10">
            <div class="span6" style="float:left;">
                <h3>Comment:</h3>
            ${unit.comment}
            </div>
            <div class="span6" style="float:left;">
                <a href="@{Procures.edit()}/${unit.id}" target="_blank" class="btn btn-primary">修改</a>
            </div>
        </td>
    </tr>
#{/list}
</table>