#{extends 'main.html' /}
#{set title:'ProcureUnit Create' /}
#{set 'moreScripts'}
    #{script 'procures/blank.coffee'/}
#{/set}

#{if unit.selling == null}
<div class="row">
    <div class="span12 alert alert-error">
        <p>${flash.error}</p>
    </div>
</div>
#{/if}
#{else }

    #{ifErrors }
    <div class="row">
        <div class="span12 alert alert-error">
            #{errors }
                <p>${error.key} -> ${error.message()}</p>
            #{/errors}
        </div>
    </div>
    #{/ifErrors}



<form action="/procures/save" method="post">
    <table class="table table-condensed table-bordered">
        #{render 'Procures/_unit_table_trs.html', unit:unit, whouses:whouses/}
        <tr>
            <td colspan="4">
                <button class="btn btn-primary">创建</button>
            </td>
        </tr>
    </table>
</form>
#{/else}
