<div style="min-height:26px;margin-bottom:20px;">
    <button class="btn btn-danger btn-small" rel="popover" data-content="关闭这个 ProcureUnit" placement="bottom">关闭
    </button>
</div>

<div>
    <table class="table table-condensed table-bordered">
        <tr>
            <td>预计交货日期</td>
            <td>${unit.delivery.planDeliveryDate.format('yyyy-MM-dd')}</td>
        </tr>
        <tr>
            <td>实际交货日期</td>
            <td>
            #{if unit.delivery.deliveryDate == null}
                <span class="label label-warning">还未交货</span>
            #{/if}
            #{else }
            ${unit.delivery.deliveryDate.format('yyyy-MM-dd')}
            #{/else}
            </td>
        </tr>
        <tr>
            <td>实际交货数量</td>
            <td>
            #{if unit.delivery.deliveryQty == null}
                <span class="label label-warning">还未交货</span>
            #{/if}
            #{else }
            ${unit.delivery.deliveryQty}
            #{/else}
            </td>
        </tr>
        <tr>
            <td>采购单</td>
            <td>
                <a href="@{Deliveryments.detail(unit.deliveryment.id)}" target="_blank">${unit.deliveryment.id}</a>
                @ <span class="badge badge-info">${unit.deliveryment.units.size()}</span> units
            </td>
        </tr>

        <tr>
            <td>Links</td>
            <td>
                <div class="input-prepend">
                    <span class="add-on"><a target="_blank" href="/sellings/selling?sid=${unit.selling.sellingId}">${unit.selling.sellingId}</a></span>
                    <span class="add-on"><a target="_blank" href="/listings/listing?lid=${unit.selling.listing.listingId}">ASIN</a></span>
                    <br/>
                    <span class="add-on"><a target="_blank" href="${unit.selling.asinLink()}">${unit.selling.asin}</a></span>
                    <span class="add-on"><a target="_blank" href="/products/p_detail?sku=${unit.product.sku}">${unit.product.sku}</a></span>
                </div>
                <input type="hidden" id="procureUnit_id" value="${unit.id}">
            </td>
        </tr>

        <tr>
            <td>预计到库时间</td>
            <td>${unit.plan.planArrivDate.format('yyyy-MM-dd')} | ${unit.plan.planLeftDays()} days left</td>
        </tr>

        <tr>
            <td>欲购数量</td>
            <td>${unit.plan.planQty}</td>
        </tr>

        <tr>
            <td>供货商</td>
            <td>${unit.plan.supplier}</td>
        </tr>

        <tr>
            <td>采购单价</td>
            <td>${unit.plan.unitPrice}</td>
        </tr>

        <tr>
            <td>单价单位</td>
            <td>${unit.plan.currency}</td>
        </tr>

        <tr>
            <td>目的仓库</td>
            <td>${unit.whouse.name}</td>
        </tr>

        <tr>
            <td>采购人</td>
            <td>${unit.handler.username}</td>
        </tr>

        <tr>
            <td>阶段</td>
            <td>${unit.stage}</td>
        </tr>
    </table>
</div>

#{if unit.delivery.deliveryQty > 0}
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">采购完成, 安排运输单</a>
    </div>

    <div id="collapseTwo" class="accordion-body collapse" style="height:0">
        <div class="accordion-inner">
            <table class="table table-condensed table-bordered">
                <tr>
                    <td>运输单</td>
                    <td>
                        #{if shipments.size() == 0}
                            <span class="label label-warning">请先创建 Shipment</span>
                        #{/if}
                        #{else }
                            <select name="p.shipment.id" size="1">
                                #{list items:shipments, as:'shipment'}
                                    <option value="${shipment.id}">${shipment.id} @ ${shipment.state}</option>
                                #{/list}
                            </select>
                        #{/else}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
#{/if}

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#deliveryInfo">交货阶段处理</a>
    </div>

    <div id="deliveryInfo" class="accordion-body collapse" style="height:0">
        <div class="accordion-inner">
            <table class="table table-condensed table-bordered">
                <tr>
                    <td>实际交货日期</td>
                    <td>
                        <input name="p.delivery.deliveryDate" type="date" value="${unit.delivery.deliveryDate.format('yyyy-MM-dd')}" placeHolder="实际交货日期">
                        <input type="hidden" name="p.delivery.planDeliveryDate" value="${unit.delivery.planDeliveryDate.format('yyyy-MM-dd')}">
                        <input type="hidden" name="p.id" value="${unit.id}">
                    </td>
                </tr>
                <tr>
                    <td>实际交货数量</td>
                    <td>
                        <div class="input-prepend">
                            <input type="text" class="input-small" name="p.delivery.deliveryQty" value="${unit.delivery.deliveryQty}">
                            <span class="add-on" style="cursor:pointer" id="planQty_btn">${unit.plan.planQty}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="update_delivery_info" class="btn btn-mini btn-primary">更新采购信息</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
