#{extends 'main.html' /}
#{set title:'Procure Create' /}
#{set 'moreStyles'}
    #{stylesheet 'dateinput.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'jquery.tools.date.min.js'/}
    #{script 'procures/edit.coffee'/}
#{/set}
<div>
    <table id="post_form" class="table table-condensed table-bordered" style="margin-top:10px;">
        <caption><span style="font-size:3ex;">更新采购单元</span></caption>
        <tr>
            <td>Selling:</td>
            <td>
                <div class="input-prepend">
                    <span class="add-on">${unit.selling.sellingId}</span>
                    <span class="add-on"><a href="/listings/listing?lid=${unit.selling.listing.listingId}" target="_blank">ASIN</a></span>
                    <span class="add-on"><a href="/sellings/selling?sid=${unit.selling.sellingId}" target="_blank">SID</a></span>
                </div>
                <input type="hidden" name="p.id" value="${unit.id}">
            </td>
            <td>Whouse:</td>
            <td>
                <select name="p.whouse.id" size="1">
                #{list items:models.product.Whouse.all().fetch(), as:'wh'}
                    <option ${unit.whouse.id == wh.id ? 'checked' : ''} value="${wh.id}">${wh.name}</option>
                #{/list}
                </select>
            </td>
            <td>Product:</td>
            <td>${unit.product.sku}</td>
        </tr>

        <tr>
            <td>预计到库时间:</td>
            <td>
                <input name="p.plan.planArrivDate" type="date" placeHolder="预计到库时间" value="${unit.plan.planArrivDate.format("yyyy-MM-dd")}">
            </td>
            <td>采购数量</td>
            <td>
                <div class="input-prepend">
                    <input name="p.plan.planQty" style="width:80px;" type="text" placeHolder="计划采购数量" value="${unit.plan.planQty}">
                </div>
            </td>
            <td>阶段</td>
            <td>${unit.stage}</td>
        </tr>

        <tr>
            <td>采购商</td>
            <td>
            ${unit.plan.supplier}
                <input type="hidden" name="p.plan.supplier" value="${unit.plan.supplier}">
            </td>
            <td>采购单价</td>
            <td><input name="p.plan.unitPrice" type="text" placeHolder="价格" value="${unit.plan.unitPrice}"></td>
            <td>货币</td>
            <td>
                <select name="p.plan.currency" size="1">
                #{list items:helper.Currency.values(), as:'c'}
                    <option ${unit.plan.currency == c ? 'selected' : ''} value="${c}">${c}</option>
                #{/list}
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="6">
                <button id='update_procureUnit' class="btn btn-small btn-primary">更新</button>
            </td>
        </tr>
    </table>
</div>

<div id="alert" class="alert invisible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <span></span>
</div>
