#{extends 'main.html' /}
#{set title:'ProcureUnit #' + unit.id + ' Edit' /}
#{set 'moreScripts'}
    #{script 'procures/blank.coffee'/}
#{/set}

#{if unit.selling == null}
    #{flash_alert row:true /}
#{/if}
#{else }

    #{errorMsgs /}
    #{flash_alert row:true /}

<form action="/procures/update" method="post">
    <table class="table table-condensed table-bordered">
        #{render 'Procures/_unit_table_trs.html', unit:unit, whouses:whouses/}
        <tr>
            <td colspan="4">
                <input type="hidden" name="unit.id" value="${unit.id}">
                <input type="hidden" name="oldPlanQty" value="${oldPlanQty}">
                <button type="submit" class="btn btn-primary">更新</button>
            </td>
        </tr>
    </table>
</form>
#{/else}