#{extends 'main.html' /}
#{set title:'ProcureUnit #' + unit.id + ' Edit' /}
#{set 'moreScripts'}
#{/set}

#{if unit.selling == null}
<div class="row">
    <div class="span12 alert alert-error">
        <p>${flash.error}</p>
    </div>
</div>
#{/if}
#{else }

    #{ifErrors }
        #{errorMsgs /}
    #{/ifErrors}

<form action="/procures/update" method="post">
    <input type="hidden" name="unit.id" value="${unit.id}">
    #{render 'Procures/_unit_table.html', unit:unit, whouses:whouses/}
</form>
#{/else}