#{extends 'main_fluid.html' /}
#{set title:'Procures' /}
#{set 'moreScripts'}
    #{script 'procures/index.coffee'/}
#{/set}
<div style="margin:5px 0">
    <a href="@{Procures.create()}" target="_blank" class="btn btn-small btn-primary">创建</a>
</div>
<div class="row-fluid">

    <div class="span3">
        <ul id="procureUnitsTab" class="nav nav-tabs">
            <li class="active"><a href="#plan" data-toggle="tab" style="padding:3px 8px;">Plan</a></li>
            <li><a href="#delivery" data-toggle="tab" style="padding:3px 8px;">Delivery</a></li>
        </ul>

        <div id="procureUnitsContent" class="tab-content">
            <div id="plan" class="tab-pane fade in active">
            #{procure_planProcureUnitTable items:plan /}
            </div>

            <div id="delivery" class="tab-pane fade">
            #{procure_deliveryProcureUnitTable items:procure /}
            </div>
        </div>


    </div>

    <!-- ProcureUnit 详细内容 -->
    <div class="span8" id="unit_details">
    </div>

    <div class="span1">
        未处理完采购单列表
        <ul>
        #{list items:dlmts, as:'dlmt'}
            <li>
                <a rel="popover" data-content="${dlmt.supplier()}" placement="left" width="auto" target="_blank" href="@{Deliveryments.detail(dlmt.id)}">${dlmt.id}</a>
                | <span class="badge badge-info">${dlmt.units.size()} | ${dlmt.state}</span>
            </li>
        #{/list}
        </ul>
    </div>
</div>
