#{extends 'main_fluid.html'/}
#{set title:'采购计划'/}
#{set 'moreScripts'}
    #{script 'procures/plan.js'/}
#{/set}
<div class="row">
    <div class="span12 offset6"><h1><span style="color:red">还未完成, 请勿使用!</span></h1></div>
</div>
<div class="row-fluid">
    <div class="span2 well">
        <div>
            <a class="btn">创建计划</a>
        </div>
        <div>
            <ul id="plan_list" class="nav nav-pills nav-stacked">
            #{list items:plans, as:'plan'}
                <li>
                    <a href="#" pid="${plan.id}">${plan.id}</a>
                </li>
            #{/list}
            </ul>
        </div>
    </div>
    <div class="span9 well">
        <div>
            <a class="btn" id="addpi">添加产品</a>
        </div>
        <div id="plan_info"></div>
    </div>
</div>