<div style="min-height:26px;margin-bottom:20px;">
    <a class="btn btn-primary btn-small" target="_blank" id="procureUnit_update_btn">更新采购单元</a>
    <button id="procureUnit_close_btn" class="btn btn-danger btn-small" rel="popover" data-content="关闭这个 ProcureUnit" placement="bottom">
        关闭采购单元
    </button>
</div>

<div class="accordion-group" id="todelivery_info">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">确定采购计划,派给采购单</a>
    </div>
    <div id="collapseOne" class="accordion-body collapse" style="height:0">
        <table class="table table-condensed">
            <tr>
                <td>预计交货日期</td>
                <td>
                    <div class="input-append">
                        <input name="p.delivery.planDeliveryDate" type="date" placeHolder="预期交货日期">
                        <span class="add-on">
                        ${unit.plan.planArrivDate.format('yyyy-MM-dd')} | ${unit.plan.planLeftDays()} days left
                        </span>
                    </div>
                    <input type="hidden" name="p.id" value="${unit.id}">
                </td>
            </tr>
            <tr>
                <td>确认采购数量</td>
                <td>
                    <div class="input-append">
                        <input type="text" name="p.delivery.ensureQty" placeHolder="最后确认的采购数量">
                        <span class="add-on">${unit.plan.planQty}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>确认采购价格</td>
                <td>
                    <div class="input-append">
                        <input type="text" name="p.plan.unitPrice" value="${unit.plan.unitPrice}">
                        <span class="add-on">${unit.plan.supplier}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>确认价格单位</td>
                <td>
                #{pickCurrency c:unit.plan.currency, name:'p.plan.currency'/}
                    <!-- other plan value-->
                    <input type="hidden" name="p.plan.planQty" value="${unit.plan.planQty}">
                    <input type="hidden" name="p.plan.supplier" value="${unit.plan.supplier}">
                    <input type="hidden" name="p.plan.planArrivDate" value="${unit.plan.planArrivDate.date()}">
                </td>
            </tr>
            <tr>
                <td>采购单</td>
                <td>
                #{if dlms.size() == 0}
                    请单击创建采购单
                #{/if}
                #{else }
                    <select name="dlmt.id" size="1">
                        #{list items:dlms, as:'dlm'}
                            <option value="${dlm.id}">${dlm.id} @ ${dlm.state} @ ${dlm.supplier()}</option>
                        #{/list}
                    </select>
                #{/else}
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <button id="todelivery_btn" class="btn btn-mini btn-primary">纳入采购单</button>
                    <button id="delivery_btn" rel="popover" data-content="新建立一个采购单,用来收容,跟踪许多 ProcureUnit" class="btn btn-mini btn-danger right">
                        创建采购单
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div>
    <table class="table table-condensed table-bordered">
    #{procure_planTableInfo unit:unit /}
    </table>
</div>
