<table id="warnItm" class="table table-bordered table-striped">
    <tr>
        <th>SKU</th>
        <th>ASIN</th>
        <th>MerchantSKU</th>
        <th>Whouse</th>
        <th>Account</th>
        <th><a href="#" rel="tooltip" data-original-title="设定的 PS, 修改后按下回车进行保存">PS</a></th>
        <th><a href="#" rel="tooltip" data-original-title="计算出来的 PS">PS_7</a></th>
        <th>在库</th>
        <th>天数1</th>
        <th><a href="#" rel="tooltip" data-original-title="修改后按下回车进行保存">在途</a></th>
        <th>天数2</th>
        <th><a href="#" rel="tooltip" data-original-title="修改后按下回车进行保存">在产</a></th>
        <th>天数3</th>
        <th>库存总数</th>
        <th>天数4</th>
        <th>空运补货</th>
        <th>空运采货</th>
        <th>海运补货</th>
        <th>海运采货</th>
        <th><a href="#" rel="tooltip" data-original-title="这个页面的数据每隔 30 分钟才会更新一次">操作</a></th>
    </tr>

#{list items:pitms, as:'pi'}
    #{set ps_7:((pi.selling.d7 <= 0 ? 1 : pi.selling.d7) / 7)/}
    #{set day1:(pi.in / ps_7) /}
    #{set day2:(pi.onWay / ps_7) /}
    #{set day3:(pi.onWork / ps_7) /}
    <tr>
        <td>${pi.product.sku}</td>
        <td><a target="_blank" href="${helper.Webs.link(pi.selling)}">${pi.selling.asin}</a></td>
        <td>
            <a href="#" rel="tooltip" data-original-title="SellingId:<br/>${pi.selling.sellingId}">${pi.selling.merchantSKU}</a>
        </td>
        <td>${pi.whouse.name}</td>
        <td>${pi.selling.account.username}</td>
        <td><input ps sid="${pi.selling.sellingId}" type="text" class="span1" value="${pi.selling.ps}"></td>
        <td>${(pi.selling.d7 / 7).format('#.##')}</td>
        <td>${pi.in}</td>
        <td>${day1.format('#.##')}</td>
        <td>
            <input pid="${pi.product.sku + "_" + pi.selling.sellingId}" name="onWay" type="text" class="span1" value="${pi.onWay}">
        </td>
        <td>${day2.format('#.##')}</td>
        <td>
            <input pid="${pi.product.sku + "_" + pi.selling.sellingId}" name="onWork" type="text" class="span1" value="${pi.onWork}">
        </td>
        <td>${day3.format('#.##')}</td>
        <td>${pi.in + pi.onWay + pi.onWork}</td>
        <td>
        ${((pi.in + pi.onWay + pi.onWork) / ps_7).format('#.##')}
            &nbsp;&nbsp;[&nbsp;(${pi.in} + ${pi.onWay} + ${pi.onWork}) / ${ps_7.format('#.##')}&nbsp;]
        </td>
        <td>
            #{set airPatch:(21 - day1 - day2) * ps_7/}
        ${(airPatch <= 0 ? 0 : airPatch).format('#.##')}
        </td>
        <td>
            #{set airBuy:(35 - day1 - day2 - day3) * ps_7/}
        ${(airBuy <= 0 ? 0 : airBuy).format('#.##')}
        </td>
        <td>
            #{set seaPatch:(42 - day1 - day2) * ps_7/}
        ${(seaPatch <= 0 ? 0 : seaPatch).format('#.##')}
        </td>
        <td>
            #{set seaBuy:(56 - day1 - day2 - day3) * ps_7/}
        ${(seaBuy <= 0 ? 0 : seaBuy).format('#.##')}
        </td>
        <td>
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Act <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a invi sid="${pi.selling.sellingId}" href="#">Invisible</a></li>
                </ul>
            </div>
        </td>
    </tr>
#{/list}
</table>