<table id="warnItm" class="table table-bordered table-striped">
    <tr>
        <th>SKU</th>
        <th>ASIN</th>
        <th>Whouse</th>
        <th><a href="#" rel="tooltip" data-original-title="设定的 PS, 修改后按下回车进行保存">PS</a></th>
        <th><a href="#" rel="tooltip" data-original-title="计算出来的 PS">PS_7</a></th>
        <th>在库</th>
        <th>天数1</th>
        <th><a href="#" rel="tooltip" data-original-title="修改后按下回车进行保存">在途</a></th>
        <th>天数2</th>
        <th><a href="#" rel="tooltip" data-original-title="修改后按下回车进行保存">在产</a></th>
        <th>天数3</th>
        <th>库存总数</th>
        <th>天数4</th>
        <th>空运补货</th>
        <th>空运采货</th>
        <th>海运补货</th>
        <th>海运采货</th>
        <th><a href="#" rel="tooltip" data-original-title="这个页面的数据每隔 30 分钟才会更新一次">操作</a></th>
    </tr>

#{list items:pitms, as:'pi'}
    #{set ps_7:((pi.selling.d7 <= 0 ? 1 : pi.selling.d7) / 7)/}
    #{set ps:pi.selling.ps/}
    #{set day1:(pi.in / ps_7) /}
    #{set day2:(pi.onWay / ps_7) /}
    #{set day3:(pi.onWork / ps_7) /}
    #{set mday1:(pi.in / ps) /}
    #{set mday2:(pi.onWay / ps) /}
    #{set mday3:(pi.onWork / ps) /}
    <tr>
        <td>
            <a href="#" rel="tooltip" data-original-title="MerchantSKU: ${pi.selling.merchantSKU}<br/>Account: ${pi.selling.account.username}">${pi.product.sku}</a>
        </td>
        <td><a target="_blank" href="${helper.Webs.link(pi.selling)}">${pi.selling.asin}</a></td>
        <td>${pi.whouse.name}</td>
        <td>
            <input ps sid="${pi.selling.sellingId}" type="text" class="span1" style="color:orange;" value="${pi.selling.ps}">
        </td>
        <td><span style="color:green;">${(pi.selling.d7 / 7).format('#.##')}</span></td>
        <td>${pi.in}</td>
        <td><span style="color:orange;">${mday1.format('#.##')}</span> |
            <span style="color:green;">${day1.format('#.##')}</span></td>
        <td>
            <input pid="${pi.product.sku + "_" + pi.selling.sellingId}" name="onWay" type="text" class="span1" value="${pi.onWay}">
        </td>
        <td><span style="color:orange;">${mday2.format('#.##')}</span> |
            <span style="color:green;">${day2.format('#.##')}</span></td>
        <td>
            <input pid="${pi.product.sku + "_" + pi.selling.sellingId}" name="onWork" type="text" class="span1" value="${pi.onWork}">
        </td>
        <td><span style="color:orange;">${mday3.format('#.##')}</span> |
            <span style="color:green;">${day3.format('#.##')}</span></td>
        <td>${pi.in + pi.onWay + pi.onWork}</td>
        <td>
            <a href="#" rel="tooltip" data-original-title="(${pi.in} + ${pi.onWay} + ${pi.onWork}) / ${ps_7.format('#.##')}">
            ${((pi.in + pi.onWay + pi.onWork) / ps_7).format('#.##')}
            </a>
        </td>
        <td>
            #{set airPatch:(21 - day1 - day2) * ps_7/}
            #{set mairPatch:(21 - mday1 - mday2) * ps/}
            <span style="color:orange;">${(mairPatch <= 0 ? 0 : mairPatch).format('#.##')}</span> |
            <span style="color:green;">${(airPatch <= 0 ? 0 : airPatch).format('#.##')}</span>
        </td>
        <td>
            #{set airBuy:(35 - day1 - day2 - day3) * ps_7/}
            #{set mairBuy:(35 - mday1 - mday2 - mday3) * ps/}
            <span style="color:orange;">${(mairBuy <= 0 ? 0 : mairBuy).format('#.##')}</span> |
            <span style="color:green;">${(airBuy <= 0 ? 0 : airBuy).format('#.##')}</span>
        </td>
        <td>
            #{set seaPatch:(42 - day1 - day2) * ps_7/}
            #{set mseaPatch:(42 - mday1 - mday2) * ps/}
            <span style="color:orange;">${(mseaPatch <= 0 ? 0 : mseaPatch).format('#.##')}</span> |
            <span style="color:green;">${(seaPatch <= 0 ? 0 : seaPatch).format('#.##')}</span>
        </td>
        <td>
            #{set seaBuy:(56 - day1 - day2 - day3) * ps_7/}
            #{set mseaBuy:(56 - mday1 - mday2 - mday3) * ps/}
            <span style="color:orange;">${(mseaBuy <= 0 ? 0 : mseaBuy).format('#.##')}</span> |
            <span style="color:green;">${(seaBuy <= 0 ? 0 : seaBuy).format('#.##')}</span>
        </td>
        <td>
            <div class="btn-group">
                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">Act <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a invi sid="${pi.selling.sellingId}" href="#">Invisible</a></li>
                </ul>
            </div>
        </td>
    </tr>
#{/list}
    <tr>
        <td colspan="18">
            <div class="pagination pagination-centered">
                <ul>
                    <li><a plink href="#o">首页</a></li>
                    <li><a plink href="#p">上一页</a></li>
                    <li><a plink href="#n">下一页</a></li>
                    <li><a plink href="#l" count='${pif.totalPage}'>尾页(${pif.size}/${pif.count})</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>