#{if checks.size >0}
<table id="check_table" class="table table-bordered table-condensed dataTable">
  <thead>
  <tr>
    <th>#</th>
    <th>Action</th>
    <th>质检方式</th>
    <th>预计运输时间</th>
    <th>实际交货时间</th>
    <th>预计交货时间</th>
    <th>质检级别</th>
    <th>状态</th>
    <th>采购计划 ID</th>
    <th>SKU</th>
    <th>SKU标题</th>
    <th>FBA</th>
    <th>FnSku</th>
    <th>采购单</th>
    <th>货代仓库</th>
    <th>工厂</th>
    <th>订单数量</th>
    <th>处理方式</th>
  </tr>
  </thead>

  <tbody>
      #{list items:checks, as: 'check'}
      <tr>
        <td>${check.id}</td>
        <td>
          <a href="@{CheckTasks.prints(check.id)}" target="_blank">打印(${check.printNumber}次)</a>&nbsp;
          <a href="@{CheckTasks.show(check.id)}" target="_blank">质检</a>
        </td>
        <td >
            #{if check.units.cooperator?.qcLevel == models.procure.Cooperator.L.MICRO}
              <select disabled>
                <option value="">工厂自检</option>
              </select>
            #{/if}
            #{else }
              <select name="check.qcType" style="width:60px">
                <option value="">选择方式</option>
                <option ${check.qcType == models.qc.CheckTask.T.SAMPLE?'selected' : ''} value="SAMPLE">抽检</option>
                <option ${check.qcType == models.qc.CheckTask.T.WHOLE?'selected' : ''} value="WHOLE">全检</option>
              </select>
            #{/else}
        </td>
        <td>${check.units.attrs.planShipDate}</td>
        <td>${check.units.attrs.deliveryDate}</td>
        <td>${check.units.attrs.planDeliveryDate}</td>

        <td>${check.units.cooperator?.qcLevel?.label()}</td>
        <td>${check.checkstat.label()}</td>
        <td><a href="@{Deliveryments.show(check.units?.deliveryment?.id)}" target="_blank">${check.units?.id}</a></td>

        <td><a href="@{Products.show(check.units.product.sku)}" target="_blank" rel="popover" content="名称:${check
        .units
        .product.abbreviation}  标题:${check.units
        .product.productName}">${check.units.product.sku}</a></td>
        <td style="width:300px">${check.units.product.productName}</td>

        <td>${check.units?.fba?.shipmentId}</td>
        <td>${check.units.selling?.fnSku}</td>
        <td>${check.units.deliveryment?.id}</td>
        <td>${check.shipwhouse?.name}</td>
        <td>${check.units.cooperator.name}</td>
        <td>${check.units.attrs.planQty}</td>
        <td>${check.dealway?.label()}</td>
      </tr>
      #{/list}
  </tbody>
</table>
#{/if}
#{else }
<p class="muted text-center">暂无待检任务 : )</p>
#{/else}