<table border="0" width="100%" height="100%" style="font-size: 10pt;  word-wrap:break-word;"
       cellpadding="10" cellspacing="0">
  <tr style="border-bottom: 2px solid black">
    <td colspan="10" align="center" width="100%" height="100%" style="font-weight: bold;border-bottom: 2px solid black">
      <span style="font-weight: bold; font-size: 18pt">【${check.units?.product?.sku}】检测</span><br>
    </td>
  </tr>
  <tr align="left">
    <td width="9%" style="font-weight: bold;">FBA:</td>
    <td width="14%">${check.units?.fba?.shipmentId}</td>

    <td width="9%" style="font-weight: bold;">FnSku:</td>
    <td width="11%">${check.units.selling?.fnSku}</td>

    <td width="9%" style="font-weight: bold;">采购计划:</td>
    <td width="11%">${check.units.id}</td>

    <td width="9%" style="font-weight: bold;">质检方式:</td>
    <td width="11%">${check.qcType?.label()}</td>

    <td width="6%" style="font-weight: bold;">质检员:</td>
    <td width="11%">${check.checkor}</td>
  </tr>

  <tr align="left">
    <td style="font-weight: bold;">工厂:</td>
    <td>${check.units.cooperator.name}</td>

    <td style="font-weight: bold;">货代仓库:</td>
    <td>${check.shipwhouse?.name}</td>

    <td style="font-weight: bold;">处理方式:</td>
    <td>${check.dealway}</td>

    <td style="font-weight: bold;">采购员:</td>
    <td colspan="5">${check.units?.deliveryment?.handler?.username}</td>
  </tr>

  <tr align="left">
    <td style="font-weight: bold;">实际交货数量:</td>
    <td colspan="3"></td>
    <td style="font-weight: bold;">实际抽检数量:</td>
    <td colspan="3"></td>
  </tr>

  <tr align="left">
    <td style="font-weight: bold;">每人工时:</td>
    <td colspan="3"></td>
    <td style="font-weight: bold;">人数:</td>
    <td colspan="3"></td>
  </tr>

  <tr align="left">
    <td style="font-weight: bold;">质检开始时间:</td>
    <td colspan="3"></td>
    <td style="font-weight: bold;">质检结束时间:</td>
    <td colspan="3"></td>
  </tr>
</table>
<br><br>

#{if check.qcRequire}
<table border="1" width="100%" height="100%" style="table-layout: fixed;
      word-wrap:break-word;" cellpadding="0" cellspacing="0">
  <tr>
    <td style="font-weight: bold;">序号</td>
    <td style="font-weight: bold;">检测要求</td>
    <td style="font-weight: bold;">检测方法</td>
    <td style="font-weight: bold;">检测结果</td>
  </tr>
    #{list items:check.qcRequire, as: 'require'}
      <tr>
        <td>${require_index}</td>
        <td>
          <span style="width:10px">${require}</span>
        </td>
        <td height="35px;">
          <span style="width:10px">${check.qcWay[require_index - 1]}</span>
        </td>
        <td></td>
      </tr>
    #{/list}

</table>
#{/if}
