<tr>
  <th>处理方式</th>
  <td colspan="4">
  #{select_enum name: 'check.dealway', items: models.qc.CheckTask.DealType.values(), value: check.dealway}
    <option value="">请选择</option>
  #{/select_enum}
  </td>

  <th>仓库代返工总费用(元)</th>
  <td colspan="4"><input type="text" style="width:100px;" name="check.workfee" class="input-mini"
                         value="${check.workfee}"></td>

  <th>最新预计交货日期</th>
  <td colspan="4">
    <input type="date" style="width:180px;" name="check.planDeliveryDate" value="${check.planDeliveryDate?.date()}">
  </td>
</tr>

<tr>
  <th>审核意见</th>
  <td colspan="12">
    <textarea name="check.opition" rows="5" cols="80" class="span12">${check?.opition}</textarea>
  </td>
</tr>

<tr>
  <td colspan="12">
    <a id="planactiviti_btn" href="javascript:void(0)" class="btn btn-info">提交流程</a>
    <a id="endactiviti_btn" href="javascript:void(0)" class="btn btn-info">还原/取消费用</a>
  </td>
</tr>