#{script 'jquery.filedrop.js' /}
#{script 'component/dropUpload.coffee'/}
#{script 'checktasks/show.coffee'/}
#{script 'localResize.coffee'/} <!-- LocalResize Github 地址: https://github.com/think2011/localResizeIMG-2 -->
#{script 'localResize.ui.coffee'/}

<div class="row-fluid">
#{if check == null}
  <p class="muted text-center">读取的质检任务不存在!</p>
#{/if}
#{else }
  <div class="row-fluid">
    <form method="POST" id="update_form">
      <table class="table table-bordered ">
          #{render 'CheckTasks/_showTask.html', check:check/}
        <input type="hidden" name="checkid" value="${check.id}">
      </table>
    </form>
      #{include 'CheckTasks/_uploadFile.html'/}
  </div>
#{/else}
</div>
#{records records: elcukRecords/}