#{script_cdn name: 'jquery.filedrop.js' /}
#{script_cdn name: 'component/dropUpload.coffee'/}
#{script_cdn name: 'checktasks/show.coffee'/}
#{script_cdn name: 'localResize.coffee'/} <!-- LocalResize Github 地址: https://github.com/think2011/localResizeIMG-2 --!>
#{script_cdn name: 'localResize.ui.coffee'/}

<div class="row-fluid">
  <div>
  #{if ap!=null && ap.id!=null}
       #{info_row title:'流程'}
  #{/info_row}
        #{render 'Activitis/_process.html', infos:infos,pdId:ap.processDefinitionId,piId:ap.processInstanceId/}
#{/if}
  </div>
#{if issubmit==1}
    #{info_row title:'流程提交信息'}
    #{/info_row}
#{/if}
#{if check == null}
  <p class="muted text-center">读取的质检任务不存在!</p>
#{/if}

  <div class="row-fluid">
    <form method="POST" id="update_form">
      <table class="table table-bordered ">
        <input type="hidden" name="checkid" value="${check.id}">

      #{if ap!=null && ap.id!=null && issubmit!=null && issubmit==1}
        <input type="hidden" name="processid" value="${ap.id}">
          #{if taskname!=null && taskname=="采购员"}
              #{render 'CheckTasks/_processProcureUnit.html', check:check/}
          #{/if}
          #{if taskname!=null && taskname=="质检确认"}
              #{render 'CheckTasks/_processQc.html', check:check/}
          #{/if}
          #{if taskname!=null && taskname=="运营"}
              #{render 'CheckTasks/_processOperate.html', check:check,oldplanDeliveryDate:oldplanDeliveryDate, unit:unit,
              whouses:whouses/}
          #{/if}
      #{/if}

      #{if taskname==null || taskname!="运营"}
          #{render 'CheckTasks/_showTask.html', check:check,ap:ap,taskname:taskname/}
      #{/if}
      </table>
    </form>
    #{include 'CheckTasks/_uploadFile.html'/}
  </div>


</div>