#{extends 'main_full.html'/}
#{set title:"质检任务列表 (${tasklist.size()})" /}
#{set 'moreScripts'}
    #{script 'jquery.dataTables.js'/}
    #{script 'checktasks/checklist.coffee'/}
#{/set}

#{info_row}
<ul>
  <li><strong>质检任务列表</strong></li>
</ul>
#{/info_row}
#{flash_alert /}
#{errorMsgs /}

#{form @CheckTasks.checklist(), class:'search_form', id:'deliverys_form'}
<div class="row-fluid">
  <div class="span12">

    <select name="p.dateType" class="inline">
        #{list items:models.view.post.CheckTaskPost.DATE_TYPES, as:'t'}
          <option ${t._1 == p.dateType ? 'selected' : ''} value="${t._1}">${t._2}</option>
        #{/list}
    </select>

    <div class="input-append input-prepend inline">
      <span class="add-on">From:</span>
      <input type="date" style="width:90px;" name="p.from" value="${p.from.date()}">
      <span class="add-on">To:</span>
      <input type="date" style="width:90px;" name="p.to" value="${p.to.date()}">
    </div>

    <select name="p.shipwhouseId" class="inline">
      <option value="0">仓库</option>
        #{list items:shipwhouses, as:'wh'}
          <option ${wh.id == p.whouseId ? 'selected' : ''} value="${wh.id}">${wh.name}</option>
        #{/list}
    </select>

    <select name="p.cooperatorId" class="inline">
      <option value="0">供应商</option>
        #{list items:cooperators, as:'sp'}
          <option ${sp.id == p.cooperatorId ? 'selected' : ''} value="${sp.id}">${sp.name}</option>
        #{/list}
    </select>

    <select name="p.checkor" class="inline">
      <option value="">质检员</option>
        #{list items:users, as:'user'}
          <option value="${user.username}" ${p.checkor == user.username? 'selected': ''}>${user.username}</option>
        #{/list}
    </select>

    <select name="p.checkstat" class="inline">
      <option value="">状态</option>
        #{list items:models.qc.CheckTask.StatType, as:'s'}
          <option value="${s}">${s.label()}</option>
        #{/list}
    </select>
    <select name="p.result" class="inline">
      <option value="">是否合格</option>
        #{list items:models.qc.CheckTask.ResultType, as:'r'}
          <option value="${r}">${r.label()}</option>
        #{/list}
    </select>

    <select name="p.isship" class="inline">
      <option value="">是否发货</option>
        #{list items:models.qc.CheckTask.ShipType, as:'i'}
          <option value="${i}">${i.label()}</option>
        #{/list}
    </select>

    <select name="p.dealway" class="inline">
      <option value="">处理方式</option>
        #{list items:models.qc.CheckTask.DealType, as:'d'}
          <option value="${d}">${d.label()}</option>
        #{/list}
    </select>

    <div class="input-prepend input-append inline">
      <span class="add-on"><i class="icon-search"></i></span>
      <input style="width:200px" type="text" class="input-xxlarge" name="p.search" placeholder="质检任务ID、采购计划ID、SKU"
             value="${p.search}">
      <button class="btn btn-primary" data-loading>搜索</button>
    </div>

    <div class="input-append input-prepend inline">
      <a class="btn btn_small btn-primary" href="@{CheckTasks.checklist(p,1)}">1天内任务</a>
      <a class="btn btn_small btn-primary" href="@{CheckTasks.checklist(p,2)}">2天内任务</a>
      <a class="btn btn_small btn-primary" href="@{CheckTasks.checklist(p,3)}">3天内任务</a>
    </div>
  </div>
</div>
#{/form}

<div class="row-fluid">
  <div class="span12" id="check_div">
    <table id="check_table" class="table table-condensed table-bordered dataTable">
      <thead>
      <tr>
        <th>#</th>
        <th>预计运输时间</th>
        <th>实际交货时间</th>
        <th>预计交货时间</th>

        <th>采购计划ID</th>
        <th>SKU</th>
        <th>FBA</th>
        <th>发往国家</th>
        <th>FnSku</th>
        <th>采购单</th>
        <th>货代仓库</th>
        <th>工厂</th>
        <th>质检级别</th>
        <th>订单数量</th>
        <th>实际交货数量</th>
        <th>质检方式</th>
        <th>状态</th>
        <th>质检员</th>
        <th>是否合格</th>
        <th>是否发货</th>
        <th>质检开始时间</th>
        <th>质检完成时间</th>
        <th>处理方式</th>
        <th>质检工时</th>
        <th>每人工时</th>
        <th>人数</th>
        <th>费用(元)</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      #{list items:tasklist, as:'tl'}
      <tr>
        <td>${tl.id}</td>
        <td>${tl.units.attrs.planShipDate}</td>
        <td>${tl.units.attrs.deliveryDate}</td>
        <td>${tl.units.attrs.planDeliveryDate}</td>

        <td><a href="@{Deliveryments.show(tl.units?.deliveryment?.id)}" target="_blank">${tl.units?.id}</a></td>

        <td><a href="@{Products.show(tl.units.product.sku)}" target="_blank" rel="popover" content="名称:${tl
        .units
        .product.abbreviation}  标题:${tl.units
        .product.productName}">${tl.units.product.sku}</a></td>
        <td>${tl.units.fba?.shipmentId}</td>
        <td>${tl.units.whouse.name}</td>
        <td>${tl.units.selling?.fnSku}</td>
        <td><a href="@{Deliveryments.show(tl.units?.deliveryment?.id)}">${tl.units?.deliveryment?.id}</a></td>
        <td>${tl.shipwhouse?.name}</td>
        <td>${tl.units.cooperator?.name}</td>
        <td>${tl.units.cooperator?.qcLevel?.label()}</td>
        <td>${tl.units.attrs.planQty}</td>
        <td>${tl.units.attrs.qty}</td>
        <td>${tl.qcType?.label()}</td>
        <td>${tl.checkstat?.label()}</td>
        <td>${tl.showChecktor()}</td>
        <td>${tl.result?.label()}</td>
        <td>${tl.isship?.label()}</td>
        <td>${tl.startTime?.datetime()}</td>
        <td>${tl.endTime?.datetime()}</td>
        <td>${tl.dealway?.label()}</td>
        <td>
            #{if tl.startTime != null && tl.endTime != null}
              ${(float)(Math.round((tl.endTime.getTime() - tl.startTime.getTime())/(60* 60 * 1000)*100))/100}
            #{/if}
        </td>
        <td>${tl.workhour}</td>
        <td>${tl.workers}</td>
        <td>${tl.workfee}</td>
        <td>

          <a target="_blank" href="@{CheckTasks.show(tl.id)}">查看</a>

            #{power.ck "checktasks.resetedit"}
                #{if tl.checkstat == models.qc.CheckTask.StatType.CHECKFINISH}
                  <a href="javascript:void(0)" data-href="@{CheckTasks.resetEdit(tl.id)}" id="reset_edit">编辑</a>
                #{/if}
            #{/power.ck}

        </td>
      #{/list}
      </tbody>
    </table>
  </div>
</div>