#{extends 'main_full.html'/}
#{set title:"质检任务列表 (${tasklist.size()})" /}
#{set 'moreScripts'}
    #{script 'skuchecks/checklist.coffee'/}
#{/set}

#{info_row}
<ul>
  <li><strong>质检任务列表</strong></li>
</ul>
#{/info_row}
#{flash_alert /}
#{errorMsgs /}

#{form @CheckTasks.checklist(), class:'search_form', id:'deliverys_form'}
<div class="row-fluid">
  <div class="span12">

    <div class="input-prepend inline">
      <select name="p.dateType" style="width:130px;margin-left:20px;">
          #{list items:models.view.post.CheckTaskPost.DATE_TYPES, as:'t'}
            <option ${t._1 == p.dateType ? 'selected' : ''} value="${t._1}">${t._2}</option>
          #{/list}
      </select>
      <span class="add-on">From:</span>
      <input type="date" style="width:90px;" name="p.from" value="${p.from.date()}">
      <span class="add-on" style="margin-left:20px;">To:</span>
      <input type="date" style="width:90px;" name="p.to" value="${p.to.date()}">
    </div>


    <div class="input-prepend inline">
      <a class="btn btn_small btn-primary" href="@{CheckTasks.checklist(p,3)}">3天内</a>
      <a class="btn btn_small btn-primary" href="@{CheckTasks.checklist(p,2)}">2天内</a>
      <a class="btn btn_small btn-primary" href="@{CheckTasks.checklist(p,1)}">1天内</a>
    </div>

    <select style="margin-left:20px;" name="p.whouseId" class="inline">
      <option value="0">仓库</option>
        #{list items:whouses, as:'wh'}
          <option ${wh.id == p.whouseId ? 'selected' : ''} value="${wh.id}">${wh.name}</option>
        #{/list}
    </select>

    <select name="p.cooperatorId" class="inline">
      <option value="0">供应商</option>
        #{list items:cooperators, as:'cop'}
          <option ${cop.id == p.cooperatorId ? 'selected' : ''} value="${cop.id}">${cop.name}</option>
        #{/list}
    </select>


    <select name="p.checkstat" class="inline">
      <option value="">状态</option>
        #{list items:models.qc.CheckTask.StatType, as:'s'}
          <option value="${s}">${s.label()}</option>
        #{/list}
    </select>
    <select name="p.result" class="inline">
      <option value="">是否合格</option>
        #{list items:models.qc.CheckTask.ResultType, as:'r'}
          <option value="${r}">${r.label()}</option>
        #{/list}
    </select>

    <select name="p.isship" class="inline">
      <option value="">是否发货</option>
        #{list items:models.qc.CheckTask.ShipType, as:'i'}
          <option value="${i}">${i.label()}</option>
        #{/list}
    </select>

    <select name="p.dealway" class="inline">
      <option value="">处理方式</option>
        #{list items:models.qc.CheckTask.DealType, as:'d'}
          <option value="${d}">${d.label()}</option>
        #{/list}
    </select>


    <div style="margin-left:40px;" class="input-prepend input-append inline">
      <span class="add-on"><i class="icon-search"></i></span>
      <input type="text" style='width:200px;' class="input-medium" name="p.search" placeholder="采购计划ID、SKU、FBA"
             value="${p
             .search}">
      <button class="btn btn-primary" data-loading>搜索</button>
    </div>

  </div>
</div>
#{/form}

<div class="row-fluid">
  <div class="span12" id="check_div">
    <table class="table table-condensed table-bordered">
      <tr>
        <th>#</th>
        <th>预计运输时间</th>
        <th>预计交货时间</th>
        <th>实际交货时间</th>
        <th>采购计划ID</th>
        <th>SKU</th>
        <th>FBA</th>
        <th>FnSku</th>
        <th>采购单</th>
        <th>货代仓库</th>
        <th>工厂</th>
        <th>质检级别</th>
        <th>订单数量</th>
        <th>实际交货数量</th>
        <th>质检方式</th>
        <th>状态</th>
        <th>质检员</th>
        <th>是否合格</th>
        <th>是否发货</th>
        <th>质检完成时间</th>
        <th>处理方式</th>
        <th>工时</th>
        <th>每人时</th>
        <th>费用(元)</th>
        <th>操作</th>
      </tr>
    #{list items:tasklist, as:'tl'}
    <tr>
      <td>${tl.id}</td>
      <td>${tl.units.attrs.planShipDate}</td>
      <td>${tl.units.attrs.planDeliveryDate}</td>
      <td>${tl.units.attrs.deliveryDate}</td>
      <td>${tl.units.id}</td>
      <td>${tl.units.sku}</td>
      <td>${tl.units.fba?.shipmentId}</td>
      <td>${tl.units.selling?.fnSku}</td>
      <td><a href="@{Deliveryments.show(tl.units?.deliveryment?.id)}">${tl.units?.deliveryment?.id}</a></td>
      <td>${tl.units.whouse.name}</td>
      <td>${tl.units.cooperator.name}</td>
      <td>${tl.units.cooperator?.qcLevel}</td>
      <td>${tl.units.attrs.planQty}</td>
      <td>${tl.units.attrs.qty}</td>
      <td></td>
      <td>${tl.checkstat?.label()}</td>
      <td>${tl.checkor}</td>
      <td>${tl.result?.label()}</td>
      <td>${tl.isship?.label()}</td>
      <td>${tl.endTime?.datetime()}</td>
      <td>${tl.dealway?.label()}</td>
      <td>${tl.workhour}</td>
      <td>${tl.workfee}</td>
      <td>${tl.workhour*tl.workfee}</td>
      <td>
        <a target="_blank" class="btn btn_small btn-primary" href="#">查看</a>
        <a target="_blank" class="btn btn_small btn-primary" href="#">编辑</a>
      </td>
    #{/list}
    </table>
  </div>
</div>