#{extends 'main.html'/}
#{set title:"CheckList 打印" /}
#{set 'moreScripts'}
#{/set}
#{flash_alert /}
#{errorMsgs /}
<div class="row-fluid">
#{render 'CheckTasks/_prints.html', check: check/}<br>
  <a href="@{CheckTasks.doPrints(check.id)}" class="btn btn-primary"><i class="icon-print"></i> 打印</a><br><br>

#{info_row title:"新增检测要求/方法"/}
  <form action="@{CheckTasks.addRequireAndWay()}" method="POST">
    <table class="table table-bordered table-condensed">
      <tr>
        <th>检测要求:</th>
        <td>
          <textarea rows="3" cols="15" class="span12" name="require"></textarea>
        </td>
        <th>检测方法:</th>
        <td>
          <textarea rows="3" cols="15" class="span12" name="way"></textarea>
        </td>
        <td>
          <input type="hidden" name="id" value="${check.id}">
          <button class="btn btn-success" data-loading>添加</button>
        </td>
      </tr>
    </table>
  </form>
</div>
