#{stylesheet 'bootstrap.min.css'/}
#{stylesheet 'font-awesome.css'/}
#{stylesheet 'jquery.loadmask.css'/}
#{stylesheet 'main.css'/}
#{stylesheet 'dateinput.css'/}
#{script 'jquery.1.7.2.min.js'/}

#{script 'underscore-min.js'/}
#{script 'noty/jquery.noty.js'/}
#{script 'noty/themes/default.js'/}
#{script 'noty/layouts/top.js'/}
#{script 'noty/layouts/topLeft.js'/}
#{script 'noty/layouts/topRight.js'/}
#{script 'rails.js'/}
#{script 'jquery.animate-colors-min.js'/}
#{script 'bootstrap.min.js'/}
#{script 'jquery.loadmask.min.js'/}
#{script 'jquery.highlight.js'/}
#{script 'jquery.form.js'/}
#{script 'jquery.tools.date.min.js'/}
#{script 'component/notify.coffee'/}
#{script 'component/popover.coffee'/}
#{script 'main.js'/}

#{script 'checktasks/show.coffee'/}
#{script 'procureunits/blank.coffee'/}


#{errorMsgs /}
#{flash_alert row:true /}
#{render 'CheckTasks/_show.html', check: check,ap: ap,issubmit: issubmit,infos: infos,taskname: taskname,unit: unit,
oldPlanQty: oldPlanQty, whouses: whouses,oldplanDeliveryDate:oldplanDeliveryDate/}