#{extends 'main_full.html'/}
#{set title:"质检信息查看列表" /}
#{set 'moreScripts'}
    #{script 'jquery.dataTables.js'/}
    #{script 'checktasks/showList.coffee'/}
#{/set}
#{flash_alert /}
#{errorMsgs /}

<div class="row-fluid">
#{if checks.size >0}
    #{info_row}
      <ul>
        <li><strong>质检信息列表</strong></li>
      </ul>
    #{/info_row}
  <table id="show_list_table" class="table table-bordered table-condensed dataTable">
    <thead>
    <tr>
      <th>#</th>
      <th>Action</th>
      <th>预计运输时间</th>
      <th>预计交货时间</th>
      <th>实际交货时间</th>
      <th>采购计划ID</th>
      <th>SKU</th>
      <th>FBA</th>
      <th>FnSku</th>
      <th>采购单</th>
      <th>货代仓库</th>
      <th>工厂</th>
      <th>质检级别</th>
      <th>订单数量</th>
      <th>实际交货数量</th>
      <th>质检方式</th>
      <th>状态</th>
      <th>质检员</th>
      <th>是否合格</th>
      <th>是否发货</th>
      <th>质检开始时间</th>
      <th>质检完成时间</th>
      <th>处理方式</th>
      <th>费用</th>
      <th>质检工时</th>
      <th>每人工时</th>
      <th>人数</th>
    </tr>
    </thead>

    <tbody>
        #{list items:checks, as: 'check'}
        <tr>
          <td>${check.id}</td>
          <td>
            <a href="@{CheckTasks.show(check.id)}">查看</a>&nbsp;
          </td>
          <td>${check.units.attrs.planShipDate}</td>
          <td>${check.units.attrs.planDeliveryDate}</td>
          <td>${check.units.attrs.deliveryDate}</td>
          <td>${check.units.id}</td>
          <td>${check.units.product.sku}</td>
          <td>${check.units.fba?.id}</td>
          <td>${check.units.selling?.fnSku}</td>
          <td>${check.units.deliveryment?.id}</td>
          <td>${check.shipwhouse?.name}</td>
          <td>${check.units.cooperator?.name}</td>
          <td>${check.units.cooperator?.qcLevel?.label()}</td>
          <td>${check.units.attrs.planQty}</td>
          <td>${check.units.attrs.qty}</td>
          <td>${check.qcType?.label()}</td>
          <td>${check.checkstat?.label()}</td>
          <td>${check.checkor}</td>
          <td>${check.result?.label()}</td>
          <td>${check.isship?.label()}</td>
          <td>${check.startTime.format("yyyy-MM-dd hh:mm:ss")}</td>
          <td>${check.endTime.format("yyyy-MM-dd hh:mm:ss")}</td>
          <td>${check.dealway?.label()}</td>
          <td>${check.workfee}</td>
          <td>
              #{if check.startTime != null && check.endTime != null}
                ${((check.endTime.getTime() - check.startTime.getTime())/(60 * 60 * 1000)).format("#.##")}
              #{/if}
          </td>
          <td>${check.workhour}</td>
          <td>${check.workers}</td>
        </tr>
        #{/list}
    </tbody>
  </table>
#{/if}
#{else }
  <p class="muted text-center">暂无质检信息.</p>
#{/else}
</div>
