#{extends 'main.html'/}
#{set title:"质检员任务列表" /}
#{set 'moreScripts'}
#{/set}
#{script 'component/dropUpload.coffee'/}
#{script 'checktasks/show.coffee'/}
#{flash_alert /}
#{errorMsgs /}

#{info_row}
<ul>
  <li><strong>回填质检信息</strong></li>
</ul>
#{/info_row}
#{if check == null}
<p class="muted text-center">读取的质检任务不存在!</p>
#{/if}
<div class="row-fluid">
  <table class="table table-bordered">
    <tr>
      <th>FBA</th>
      <td>${check.units?.fba?.shipmentId}</td>
      <th>FnSku</th>
      <td>${check.units.selling?.fnSku}</td>
      <th>质检员</th>
      <td>${check.checkor}</td>
      <th>状态</th>
      <td>${check.checkstat}</td>
    </tr>

    <tr>
      <th>订单数量</th>
      <td>${check.planqty}</td>
      <th>实际交货数量</th>
      <td>
        <input type="hidden" name="check.id" value="${check.id}">
        <input type="text" name="check.qty" class="input-mini">
      </td>
      <th>实际抽检数量</th>
      <td><input type="text" name="check.pickqty" class="input-mini"></td>
      <th>处理方式</th>
      <td>
        <input type="text">
      </td>
    </tr>

    <tr>
      <th>质检完成时间</th>
      <td colspan="9"><input type="datetime-local" name="check.endTime"></td>
    </tr>

    <tr>
      <th>是否合格</th>
      <td colspan="3">
      #{select_enum name: 'check.result', items: models.qc.CheckTask.ResultType.values(), value: check.result/}
      </td>
      <th>是否发货</th>
      <td colspan="3">
      #{select_enum name: 'check.isship', items: models.qc.CheckTask.ShipType.values(), value: check.isship/}
      </td>
    </tr>

    <tr>
      <th>备注</th>
      <td colspan="10">
        <textarea name="check.checknote" rows="5" cols="80" class="span12">${check.checknote}</textarea>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <button class="btn btn-primary" data-loading>保存并提交</button>
        <a href="#" class="btn btn-info">保存不提交</a>
        <a href="@{CheckTasks.checkerList()}" class="btn btn-info">取消</a>
    </tr>
  </table>
</div>

<div class="row-fluid">
  <div class="span12">
    <h4 class="alert alert-success">凭证<i class="icon-sort-down"></i></h4>
  </div>
</div>
<div class="row-fluid">
  <div style="min-height:300px;" class="span12 well" id="dropbox">
    <ul class="thumbnails uploaded"></ul>
    <div class="message" style="height:150px;padding-top:145px;text-align:center;">Drag & Drop</div>
  </div>
</div>