#{stylesheet_cdn name:'bootstrap.min.css'/}
#{stylesheet_cdn name:'font-awesome.css'/}
#{stylesheet_cdn name: 'jquery.loadmask.css'/}
#{stylesheet_cdn name: 'main.css'/}
#{stylesheet_cdn name: 'dateinput.css'/}
#{script_cdn name: 'jquery.1.7.2.min.js'/}

#{script_cdn name: 'underscore-min.js'/}
#{script_cdn name: 'noty/jquery.noty.js'/}
#{script_cdn name: 'noty/themes/default.js'/}
#{script_cdn name: 'noty/layouts/top.js'/}
#{script_cdn name: 'noty/layouts/topLeft.js'/}
#{script_cdn name: 'noty/layouts/topRight.js'/}
#{script_cdn name: 'rails.js'/}
#{script_cdn name: 'jquery.animate-colors-min.js'/}
#{script_cdn name: 'bootstrap.min.js'/}
#{script_cdn name: 'jquery.loadmask.min.js'/}
#{script_cdn name: 'jquery.highlight.js'/}
#{script_cdn name: 'jquery.form.js'/}
#{script_cdn name: 'jquery.tools.date.min.js'/}
#{script_cdn name: 'component/notify.coffee'/}
#{script_cdn name: 'component/popover.coffee'/}
#{script_cdn name: 'main.js'/}
#{script_cdn name: 'procureunits/blank.coffee'/}


#{errorMsgs /}
#{flash_alert row:true /}
#{render 'CheckTasks/_show.html', check: check,ap: ap,issubmit: issubmit,infos: infos,taskname: taskname,unit: unit,
oldPlanQty: oldPlanQty, whouses: whouses,oldplanDeliveryDate:oldplanDeliveryDate/}