<!DOCTYPE html>
<html>
<head>
  <title>Shipment Invoice</title>
  <style type="text/css">
    table{
      border:0px solid;
      text-align:center;
    }

    td{
      border:0px solid #000000;
    }

    .td1{
      width:50%;
      text-align:left;
      padding:10px;
      font:14px bold;
    }

    .td2{
      width:50%;
      text-align:right;
      vertical-align:bottom;
      padding:10px;
      font:14px bold;
    }

    .td3{
      border:1px solid #000000;
    }

    .td4{
      width:60%;
      text-align:left;
      padding:10px;
      font:14px bold;
    }

    .table1{
      border:1px solid;
      text-align:center;
    }
  </style>
</head>
<body>
<form action="@{Orders.invoicepdf()}" method="post" id="create_invoice_form" target="_blank">
#{set market: ord.market.name()/}
#{set rate: ord.orderrate()/}
  <table cellpadding="4px" style="width:70%" cellspacing="0" align='center'>
    <input type="hidden" name="invoice.orderid" value="${ord.orderId}">
    <tr>
      <td class="td1">
        <input type="hidden" name="invoice.isreturn" value="0">
        <div class="${_row ? 'row' : 'row-fluid'}" style="margin-top:5px;max-height:200px;overflow:auto;margin-bottom:20px">
          <div class="span12">
          #{if records && records.size() > 0 }
            <p class="text-info">${records.get(0).record().raw()}</p>
          #{/if}
          </div>
        </div>
        <select name="invoice.europevat" style="width:120px;">
        #{list items:models.market.OrderInvoice.VAT.values(), as:'v'}
            #{ifnot market == 'AMAZON_UK' && v == models.market.OrderInvoice.VAT.EUROPE}
              <option ${v == invoice?.europevat ? 'selected' : ''} value="${v}">${v.label()}</option>
            #{/ifnot}
        #{/list}
        </select>
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="td1">
        <span style="font-weight:bold;font-size:14pt;">${invoiceformat.title} #: ${ord.orderId}</span><br>
      ${invoiceformat.date}: ${ord.euDate()}
      </td>
      <td rowspan="1" class="td2" style="vertical-align:bottom;">
      #{if ord.canBeProvidedInvoice()}
        <img src="${System.getenv(helper.Constant.ROOT_URL)}/images/common/easyacc_logo.png" style="height:100%;width:80%">
      #{/if}
      </td>
    </tr>
    <tr>
      <td class="td4">
        <strong>${invoiceformat.to}</strong><br>
      #{if invoice}
        <input class="form-control input-sm" type="text" id="invoiceto" name="invoice.invoiceto" value="${invoice.formatStr(invoice.invoiceto)}">
      #{/if}
      #{else}
        <input class="form-control input-sm" type="text" id="invoiceto" name="invoice.invoiceto" value="${editaddress}">
      #{/else}
      </td>
      <td class="td2">
        <strong>${invoiceformat.from}</strong><br>
      #{if market == 'AMAZON_IT' && invoice?.isEurope()}
      ${invoiceformat.fromeurinfo1}<br>
      ${invoiceformat.fromeurinfo2}<br>
      ${invoiceformat.fromeurinfo3}<br>
      ${invoiceformat.fromeurinfo4}<br>
      ${invoiceformat.fromeurinfo5}<br>
        <strong>${invoiceformat.fromeurinfo6}</strong> <br>
        <strong>${invoiceformat.fromeurinfo7}</strong> <br>
      #{/if}
      #{else}
      ${invoiceformat.frominfo1}<br>
      ${invoiceformat.frominfo2}<br>
      ${invoiceformat.frominfo3}<br>
      ${invoiceformat.frominfo4}<br>
      ${invoiceformat.frominfo5}<br>
        <strong>${invoiceformat.frominfo6}</strong> <br>
        <strong>${invoiceformat.frominfo7}</strong> <br>
      #{/else}
      </td>
    </tr>
    <tr>
      <td class="td4">
        <strong>${invoiceformat.address}</strong><br>
      #{if invoice}
        <input class="form-control input-sm" type="text" id="address" name="invoice.address" value="${invoice.formatStr(invoice.address)}">
      #{/if}
      #{else}
        <input class="form-control input-sm" type="text" id="address" name="invoice.address" value="${editaddress}">
      #{/else}
      </td>
      <td rowspan="2"></td>
    </tr>
  </table>
  <table class="table1" cellpadding="8px" style="width:70%" cellspacing="0" align='center'>
    <tr>
      <td class="td3">
        <strong>${invoiceformat.itemname}</strong>
      </td>
      <td class="td3">
        <strong>${invoiceformat.qty}</strong>
      </td>
      <td class="td3">
        <strong>${invoiceformat.price}</strong>
      </td>
      <td class="td3">
        <strong>${invoiceformat.itemamount}</strong>
      </td>
    </tr>
  #{list items:ord.items, as:'item'}
    <tr>
      <td class="td3" style="width:50%">
      ${item.listingName}
      </td>
      <td class="td3">${item.quantity}</td>
        #{if invoice}
            #{if invoice.isEurope()}
              <td class="td3">
                <input type="text" name="invoice.price" value="${item.invoiceTotalPrice()}" class="form-control input-sm">
              </td>
              <td class="td3">${item.invoicePrice()}</td>
            #{/if}
            #{else}
                #{set price: invoice.price.get(item_index-1)/}
              <td class="td3">
                <input type="text" name="invoice.price" value="${price}" class="form-control input-sm">
              </td>
              <td class="td3">${item.invoiceTotalPrice(price)}</td>
            #{/else}
        #{/if}
        #{else}
            #{if item.quantity != 0}
              <td class="td3">
                <input type="text" name="invoice.price" value="${item.invoicePrice(rate)}" class="form-control input-sm">
              </td>
              <td class="td3">${item.invoiceTotalPriceWithRate(rate)}</td>
            #{/if}
            #{else}
              <td class="td3">
                <input type="text" name="invoice.price" value="0" class="form-control input-sm">
              </td>
              <td>0</td>
            #{/else}
        #{/else}
    </tr>
  #{/list}

  #{set feeCount:ord.items.size()/}
  #{list items:ord.fees, as:'fee'}
      #{set typeName: fee.type?.name/}
      #{if (typeName == 'shipping' || typeName == 'shippingcharge' || typeName == 'giftwrap') && fee.cost > 0}
        <tr>
            #{if typeName == 'shipping' || typeName == 'shippingcharge' }
              <td class="td3" style="width:50%">${invoiceformat.shipfee}</td>
            #{/if}
            #{if typeName == 'giftwrap'}
              <td class="td3" style="width:50%">${invoiceformat.giftwrapfee}</td>
            #{/if}
          <td class="td3">1</td>
            #{if invoice}
                #{if invoice.isEurope()}
                  <td class="td3">
                    <input type="text" name="invoice.price" value="${fee.cost}" class="form-control input-sm">
                  </td>
                  <td class="td3">${fee.cost}</td>
                #{/if}
                #{else}
                  <td class="td3">
                    <input type="text" name="invoice.price" value="${invoice.price.get(feeCount)}" class="form-control input-sm">
                  </td>
                  <td class="td3">${invoice.price.get(feeCount)}</td>
                #{/else}
                #{set feeCount: feeCount + 1/}
            #{/if}
            #{else }
              <td class="td3">
                <input type="text" name="invoice.price" value="${fee.invoiceCost(rate)}" class="form-control input-sm">
              </td>
              <td class="td3">${fee.invoiceScaleCost(rate)}</td>
            #{/else}
        </tr>
      #{/if}
  #{/list}
    <tr>
      <td class="td3"></td>
      <td class="td3"></td>
      <td class="td3">
        <strong>${invoiceformat.notaxamount}</strong>
      </td>
    #{if invoice}
        #{if invoice.isEurope()}
          <td class="td3"><input type="text" name="invoice.notaxamount" value="${totalamount}"></td>
        #{/if}
        #{else}
          <td class="td3"><input type="text" name="invoice.notaxamount" value="${invoice.notaxamount}"></td>
        #{/else}
    #{/if}
    #{else }
      <td class="td3"><input type="text" name="invoice.notaxamount" value="${notaxamount}"></td>
    #{/else}
    </tr>
    <tr>
      <td class="td3"></td>
      <td class="td3"></td>
    #{if invoice?.isEurope()}
      <td class="td3">
        <strong>${invoiceformat.taxamount}</strong>
      </td>
      <td class="td3">0.00</td>
    #{/if}
    #{else}
      <td class="td3">
        <strong>${invoiceformat.taxamountper}</strong>
      </td>
        #{if invoice}
          <td class="td3"><input type="text" name="invoice.taxamount" value="${invoice.taxamount}"></td>
        #{/if}
        #{else}
          <td class="td3"><input type="text" name="invoice.taxamount" value="${tax}"></td>
        #{/else}
    #{/else}
    </tr>
    <tr>
      <td class="td3"></td>
      <td class="td3"></td>
      <td class="td3">
        <strong>${invoiceformat.totalamount}</strong>
      </td>
    #{if invoice}
      <td class="td3">
        <input type="text" name="invoice.totalamount" value="${invoice.totalamount}">
      </td>
    #{/if}
    #{else}
      <td class="td3">
        <input type="text" name="invoice.totalamount" value="${totalamount}">
      </td>
    #{/else}
    </tr>
    <tr>
      <td class="td1" colspan="4">
        <button class="btn btn-primary">保存并下载订单发票</button>
      </td>
    </tr>
  </table>
</form>
#{records records:records/}
</body>
</html>