<tr>
    <th>Market</th>
    <th>Address</th>
    <th>Country</th>
    <th>OrderId</th>
    <th>Buyer</th>
    <th>Phone</th>
    <th>Email</th>
    <th>CreateDate</th>
    <th>PaymentDate</th>
    <th>State</th>
</tr>
#{list items:pi.items, as:'ord'}
<tr class="order_info" id="orderInfo_${ord.orderId}" data-toggle="collapse" data-target="#orderDetail_${ord.orderId}">
    <td>${ord.market.toString()}</td>
    <td>${(ord.address == null ? '' : ord.address) + "  " + (ord.address1 == null ? '' : ord.address1)}</td>
    <td>${(ord.country == null ? '' : ord.country) + " " + (ord.city == null ? '' : ord.city) + " " + (ord.province == null ? '' : ord.province)}</td>
    <td><a target="_blank" href=@{Orders.show(ord.orderId)}>${ord.orderId}</a></td>
    <td>${ord.buyer}</td>
    <td>${ord.phone}</td>
    <td>
        <a href="#" rel="tooltip" data-original-title="${ord.email}">${ord.email != null ? ord.email.split("@")[0] : ord.email}</a>
    </td>
    <td>${ord.createDate.format("yyyy-MM-dd HH:mm:ss")}</td>
    <td>${ord.paymentDate?.format("yyyy-MM-dd HH:mm:ss")}</td>
    #{if ord.state == models.market.Orderr.S.PENDING}
        <td style="color:#4169e1;">${ord.state}</td>
    #{/if}
    #{elseif ord.state == models.market.Orderr.S.PAYMENT}
        <td style="color:orange;">${ord.state}</td>
    #{/elseif}
    #{elseif ord.state == models.market.Orderr.S.CANCEL}
        <td style="color:red;">${ord.state}</td>
    #{/elseif}
    #{elseif ord.state.ordinal() >= models.market.Orderr.S.SHIPPED.ordinal()}
        <td style="color:green;">${ord.state}</td>
    #{/elseif}
    #{else }
        <td>${ord.state}</td>
    #{/else}
</tr>
#{/list}