#{extends 'main_full.html' /}
#{set title:'B2B销售订单信息列表' /}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
    #{script 'orders/btbOrder.coffee'/}
#{/set}

#{flash_alert /}

<form action="@{Orders.btbOrderIndex()}" method="POST" class="search_form" id='search_form'>
  <div class="row-fluid">
    <div class="span12">
      <div class="input-prepend inline">
        <span class="add-on">时间</span>
        <input type="date" name="p.from" value="${p.from.date()}"> ~
        <input type="date" name="p.to" value="${p.to.date()}">
      </div>
      <div class="input-prepend inline">
        <span class="add-on">品线</span>
        <select name="p.categoryId">
          <option value="">请选择</option>
        #{list items:categorys, as:'c'}
          <option value="${c}" #{if c==p.categoryId} selected #{/if}>${c}</option>
        #{/list}
        </select>
      </div>
      <div class="input-prepend inline">
        <span class="add-on">客户/公司名称</span>
        <select name="p.btbCustomId" style="width:180px;">
          <option value="">请选择</option>
        #{list items:customList, as:'c'}
          <option value="${c.id}" #{if c.id==p.btbCustomId} selected #{/if}>${c.customName}</option>
        #{/list}
        </select>
      </div>
      <div class="input-prepend inline">
        <span class="add-on">关键字</span>
        <input type="text" style="width:200px;" name="p.keywords" value="${p.keywords}" placeHolder="SKU/订单号"/>
      </div>

      <div class="input-append input-prepend inline">
        <input type="hidden" name="p.page" value="${p.page}">
        <button data-url='@{Orders.btbOrderIndex()}' class="btn btn-primary" data-disable-with='提交中...'>搜索</button>
        &nbsp;
      </div>

      <div class="input-append input-prepend inline">
        <a href="javascript:void(0)" id="download_excel" class="btn btn-info">导出excel</a>
      </div>

      <div class="input-append input-prepend inline">
        <a href="@{Orders.createBtbOrderPage()}" class="btn btn-success">添加订单</a>
      </div>

    </div>
  </div>
</form>

<div class="row-fluid" style="overflow-x:auto;">
  <table class="table table-bordered table-condensed">
    <tr>
      <th>订单号</th>
      <th>销售日期</th>
      <th>订单总额</th>
      <th>运输费用</th>
      <th>计重</th>
      <th>运输方式</th>
      <th>客户/公司名称</th>
      <th>操作</th>
    </tr>
  #{list items:orderList, as:'b'}
    <tr>
      <td><a name="orderNoBtn" order_id="${b.id}">${b.orderNo}</a></td>
      <td>#{time_tooltip time:b.saleDate/}</td>
      <td>${b.showTotalCost()}</td>
      <td>${b.shipCostUnit.symbol()} ${b.shipCost}</td>
      <td>${b.shipWeightUnit.label()} / ${b.shipWeight}</td>
      <td>${b.shipWay?.label()}</td>
      <td>${b.btbCustom?.customName}</td>
      <td><a href="@{Orders.createBtbOrderPage(b.id)}" class="btn btn-mini btn-primary">编辑</a></td>
    </tr>
  #{/list}
    <tr class="tb_footer">
      <td colspan="14">
      #{bootstrap_pager pi:p, url:'' /}
      </td>
    </tr>
  </table>
</div>

