#{extends 'main_full_v3.html'/}
#{set title:'Orders (' + p.count() + ')'/}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
    #{script 'orders/orders.es6'/}
#{/set}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <form action="@{Orders.index()}" class="form-inline" id="search_form">
          <div class="row-fluid">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">From:</div>
                <input style="width:100px;" class="form-control" role="date" name="p.begin" value="${p.begin.date()}">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">                         ¨
                <div class="input-group-addon">To:</div>
                <input style="width:100px;" class="form-control" role="date" name="p.end" value="${p.end.date()}">
              </div>
            </div>

            <select id="o_market" name="p.market" class="form-control">
              <option value="">Market(ALL)</option>
            #{list items:models.market.M.values()}
              <option ${_ == p.market ? 'selected' : ''} value="${_.name()}">${_}</option>
            #{/list}
            </select>

            <select id="o_acc" name="p.accountId" class="form-control">
              <option value="">Account</option>
            #{list items:accounts}
              <option ${_.id == p.accountId ? 'selected' : ''} value="${_.id}">${_.prettyName()}</option>
            #{/list}
            </select>

            <select id="o_state" name="p.state" class="form-control" style="width:80px;">
              <option value="">State(ALL)</option>
            #{list items:models.market.Orderr.S.values()}
              <option ${_ == p.state ? 'selected' : ''} value="${_.name()}">${_}</option>
            #{/list}
            </select>

            <select name="p.promotion" class="form-control" style="width:80px;">
              <option value="">全部订单</option>
              <option value="true"  ${p.promotion == true ? 'selected' : ''}>过滤出促销订单</option>
              <option value="false" ${p.promotion == false ? 'selected' : ''}>不是促销订单</option>
            </select>

            <select name="p.invoiceState" class="form-control">
              <option value="">发票状态(ALL)</option>
              <option value="yes"  ${p.invoiceState == 'yes' ? 'selected' : ''}>发票已发送</option>
              <option value="no" ${p.invoiceState == 'no' ? 'selected' : ''}>发票未发送</option>
            </select>

            <select name="p.category" id="categories" class="form-control">
              <option value="">品线</option>
            #{list items:categoryIds, as:'c'}
              <option value="${c}" ${c.equals(p.category) ? 'selected':''}>${c}</option>
            #{/list}
            </select>

            <select name="p.field" class="form-control">
            #{list items:models.view.post.OrderPOST.F, as:'f'}
              <option value="${f.name()}" #{if p.field==f.name()} selected #{/if}>${f.label()}</option>
            #{/list}
            </select>

            <div class="input-group">
              <div class="input-group-addon"><i class="icon-search"></i></div>
              <input style="width:200px;" class="form-control" name="p.search" placeholder="请选择前面查询类型下拉框" value="${p.search}">
              <input type="hidden" name="p.page" value="${p.page}">
            </div>

            <button class="btn btn-primary" data-loading>搜索</button>
            <input type="button" class="btn btn-success" id="downExcel" value="导出订单">
            <input type="button" class="btn btn-warning" id="downSaleFeeExcel" value="导出订单费用">

          </div>
        </form>
      </div>

      <div class="box-body">
        <table class="table table-condensed table-bordered">
        #{render 'Orders/_order_table_tr.html', items:orders/}
        </table>
      </div>

      <div class="box-footer">
      #{bootstrap_pager_v3 pi:p, url:'' /}
      </div>
    </div>
  </div>
</div>
