#{extends 'main_full_v3.html'/}
#{set title:'Ebay Orders (' + p.count() + ')'/}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
#{/set}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <form id="search_form" class="form-inline" action="@{Orders.indexEbay()}" method="POST">
          <div class="row-fluid">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">From:</div>
                <input style="width:100px;" class="form-control" role="date" name="p.from" value="${p.from?.date()}">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">To:</div>
                <input style="width:100px;" class="form-control" role="date" name="p.to" value="${p.to?.date()}">
              </div>
            </div>

            <select id="o_market" name="p.market" class="form-control">
              <option value="">Market(ALL)</option>
            #{list items:models.market.M.values()}
              <option ${_ == p.market ? 'selected' : ''} value="${_.name()}">${_}</option>
            #{/list}
            </select>

            <select id="o_state" name="p.state" class="form-control">
              <option value="">State(ALL)</option>
            #{list items:models.market.Orderr.S.values()}
              <option ${_ == p.state ? 'selected' : ''} value="${_.name()}">${_}</option>
            #{/list}
            </select>

            <select name="p.category" id="categories" class="form-control">
              <option value="">品线</option>
            #{list items:categoryIds, as:'c'}
              <option value="${c}" ${c.equals(p.category) ? 'selected':''}>${c}</option>
            #{/list}
            </select>

            <div class="input-group">
              <div class="input-group-addon"><i class="icon-search"></i></div>
              <input style="width:200px;" class="form-control" name="p.search" placeholder="请选择前面查询类型下拉框" value="${p.search}">
              <input type="hidden" name="p.page" value="${p.page}">
            </div>

            <button class="btn btn-primary" data-loading>搜索</button>
          </div>
        </form>
      </div>
      <div class="box-body">
        <table class="table table-condensed table-bordered">
          <tr>
            <th>Market</th>
            <th>Item</th>
            <th>FBA Fee</th>
            <th>Country</th>
            <th>City</th>
            <th>Postal Code</th>
            <th rel="popover" title="数字是什么?" content="(a | b), a: 订单重销售产品的个数. b: 支付信息个数">
              <i class="icon-question-sign"></i> OrderId
            </th>
            <th>MerchantOrderId</th>
            <th>Create</th>
            <th>Payment</th>
            <th>State</th>
            <th>Action</th>
          </tr>
        #{list items:orders, as:'ord'}
          <tr class="order_info" id="orderInfo_${ord.orderId}" data-toggle="collapse" data-target="#orderDetail_${ord.orderId}">
            <td>${ord.market.toString()}</td>
            <td data-toggle="toggle" data-target="#order_index_${ord_index}">
              <span class="badge badge-info">${ord.items?.size()}</span> <i class="icon-reorder"></i>
            </td>
            <td data-toggle="toggle" data-target="#order_fee_${ord_index}">
              <i class="icon-reorder"></i> <span class="badge badge-info">${ord.fees?.size()}</span> ${ord.totalFbaFee()}
            </td>
            <td>${ord.country}</td>
            <td>${ord.city}</td>
            <td>${ord.postalCode}</td>
            <td>
              <a href="#">${ord.orderId}</a>
            </td>
            <td>${ord.merchantOrderId}</td>
            <td>#{time_tooltip time:ord.createDate/}</td>
            <td>#{time_tooltip time:ord.paymentDate/}</td>
            <td style="color:${'#' + ord.state.color()}">${ord.state}</td>
            <td><a href="@{Orders.refreshFeeByEbay(ord.orderId)}" class="btn btn-mini btn-warning">重新抓取费用</a></td>
          </tr>
          <tr style="display:none" id="order_index_${ord_index}">
            <td colspan="12">
              <table class="table table-bordered table-condensed">
                <tr>
                  <th>SKU</th>
                  <th>Quantity</th>
                  <th>CreateDate</th>
                </tr>
                  #{list items:ord.items, as:'i'}
                    <tr>
                      <td>${i.product?.sku}</td>
                      <td>${i.quantity}</td>
                      <td>#{time_tooltip time:i.createDate/}</td>
                    </tr>
                  #{/list}
              </table>
            </td>
          </tr>
          <tr style="display:none" id="order_fee_${ord_index}">
            <td colspan="12">
              <table class="table table-bordered table-condensed">
                <tr>
                  <th>SKU</th>
                  <th>Fee Type</th>
                  <th>Qty</th>
                  <th>Currency</th>
                  <th>Cost</th>
                  <th>CreateDate</th>
                </tr>
                  #{list items:ord.fees, as:'fee'}
                    <tr>
                      <td>${fee.product_sku}</td>
                      <td>${fee.type.name}</td>
                      <td>${fee.qty}</td>
                      <td>${fee.currency}</td>
                      <td>${fee.cost}</td>
                      <td>#{time_tooltip time:fee.date/}</td>
                    </tr>
                  #{/list}
              </table>
            </td>
          </tr>
        #{/list}
        </table>
      </div>
      <div class="box-footer">
      #{bootstrap_pager_v3 pi:p, url:'' /}
      </div>
    </div>
  </div>
</div>
