#{extends 'main.html'/}
#{set title:'Orders'/}
#{set 'moreStyles'}
    #{stylesheet 'dateinput.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'orders/orders.js'/}
    #{script 'jquery.tools.date.min.js'/}
#{/set}

<form id="search_form">
    <div class="row" style="margin:10px 0">
        <div class="span8">
            <select id="o_market" name="p.market" class="span2" size="1">
                <option value="">Market(ALL)</option>
            #{list items:models.market.Account.M.values()}
                <option value="${_.name()}">${_}</option>
            #{/list}
            </select>
            <select id="o_acc" name="p.account" class="span2" size="1">
                <option value="">Account</option>
            #{list items:accs}
                <option value="${_.id}">${_.uniqueName}</option>
            #{/list}
            </select>
            <select id="o_state" name="p.state" class="span2" size="1">
                <option value="all">State(ALL)</option>
            #{list items:models.market.Orderr.S.values()}
                <option value="${_}">${_}</option>
            #{/list}
            </select><br/>
            From: <input type="date" id="o_from" name="p.from" class="span2">
            TO: <input type="date" id="o_to" name="p.to" class="span2">
            <br/>
            OrderBy:
        #{select id="p.orderBy", items:models.OrderPOST.P.values(), value:'createDate', class:'span1'}#{/select}
            <select name="p.desc" class="span1" size="1">
                <option value="DESC">DESC</option>
                <option value="ASC">ASC</option>
            </select>
            &nbsp;&nbsp;
            Search: <input type="text" id="o_search" name="p.search" class="span3" placeholder="可输入关键词查询">
        </div>
        <div class="span3" id="search_btns">
            <fieldset>
                <legend>Search Button</legend>
                <a href="#" day="7" class="btn btn-info" rel="popover" data-content="按照设置搜索条件搜索 7 天内的订单(结果缓存5mn)">7
                    Day</a>
                <a href="#" day="30" class="btn btn-info" rel="popover" data-content="按照设置搜索条件搜索 30 天内的订单(结果缓存5mn)">30
                    Day</a>
                <a href="#" day="-1" class="btn btn-info" rel="popover" data-content="按照设置搜索条件搜索自定义(<b>From</b>, <b>TO</b>)天数内的订单(结果缓存5mn)">Search</a>
            </fieldset>
        </div>
    </div>
</form>
<hr>

<div class="row" id="order_list">
    <div class="span12">
    #{if orders.size() == 0}
        暂时还没有订单
    #{/if}
    #{else }
        <table class="table table-striped">
            <tr>
                <th>OrderId</th>
                <th>Market</th>
                <th>Address</th>
                <th>Country</th>
                <th>Buyer</th>
                <th>Email</th>
                <th>CreateDate</th>
                <th>PaymentDate</th>
                <th>State</th>
            </tr>
            #{list items:orders, as:'ord'}
                <tr class="order_info" id="orderInfo_${ord.orderId}" data-toggle="collapse" data-target="#orderDetail_${ord.orderId}">
                    <td><a target="_blank" href=@{Orders.get(ord.orderId, "")}>${ord.orderId}</a></td>
                    <td>${ord.market.toString()}</td>
                    <td>${(ord.address == null ? '' : ord.address) + "  " + (ord.address1 == null ? '' : ord.address1)}</td>
                    <td>${(ord.country == null ? '' : ord.country) + " " + (ord.city == null ? '' : ord.city) + " " + (ord.province == null ? '' : ord.province)}</td>
                    <td>${ord.buyer}</td>
                    <td>
                        <a href="#" rel="tooltip" data-original-title="${ord.email}">${ord.email != null ? ord.email.split("@")[0] : ord.email}</a>
                    </td>
                    <td>${ord.createDate.format("yyyy-MM-dd HH:mm:ss")}</td>
                    <td>${ord.paymentDate?.format("yyyy-MM-dd HH:mm:ss")}</td>
                    #{if ord.state == models.market.Orderr.S.PENDING}
                        <td style="color:#4169e1;">${ord.state}</td>
                    #{/if}
                    #{elseif ord.state == models.market.Orderr.S.PAYMENT}
                        <td style="color:orange;">${ord.state}</td>
                    #{/elseif}
                    #{elseif ord.state == models.market.Orderr.S.CANCEL}
                        <td style="color:red;">${ord.state}</td>
                    #{/elseif}
                    #{elseif ord.state.ordinal() >= models.market.Orderr.S.SHIPPED.ordinal()}
                        <td style="color:green;">${ord.state}</td>
                    #{/elseif}
                    #{else }
                        <td>${ord.state}</td>
                    #{/else}
                </tr>
            #{/list}
            <tr class="tb_footer">
                <td colspan="9">
                    #{bootstrap_pager c:pi.count, s:pi.size, p:pi.page, u:'/orders/o_index'/}
                </td>
            </tr>
        </table>
    #{/else}
    </div>
</div>
