<div class="row" id="order_list">
    <div class="span12">
    #{if pi.items == null || pi.items.size() == 0}
        暂时还没有订单
    #{/if}
    #{else }
        <table class="table table-striped">
            <tr>
                <th>OrderId</th>
                <th>Market</th>
                <th>Address</th>
                <th>Country</th>
                <th>Buyer</th>
                <th>Email</th>
                <th>CreateDate</th>
                <th>PaymentDate</th>
                <th>State</th>
            </tr>
            #{list items:pi.items, as:'ord'}
                <tr class="order_info" id="orderInfo_${ord.orderId}" data-toggle="collapse" data-target="#orderDetail_${ord.orderId}">
                    <td><a target="_blank" href=@{Orders.o_detail(ord.orderId, "")}>${ord.orderId}</a></td>
                    <td>${ord.market.toString()}</td>
                    <td>${(ord.address == null ? '' : ord.address) + "  " + (ord.address1 == null ? '' : ord.address1)}</td>
                    <td>${(ord.country == null ? '' : ord.country) + " " + (ord.city == null ? '' : ord.city) + " " + (ord.province == null ? '' : ord.province)}</td>
                    <td>${ord.buyer}</td>
                    <td>
                        <a href="#" rel="tooltip" data-original-title="${ord.email}">${ord.email != null ? ord.email.split("@")[0] : ord.email}</a>
                    </td>
                    <td>${ord.createDate.format("yyyy-MM-dd HH:mm:ss")}</td>
                    <td>${ord.paymentDate?.format("yyyy-MM-dd HH:mm:ss")}</td>
                    #{if ord.state == models.market.Orderr.S.PENDING}
                        <td style="color:#4169e1;">${ord.state}</td>
                    #{/if}
                    #{elseif ord.state == models.market.Orderr.S.PAYMENT}
                        <td style="color:orange;">${ord.state}</td>
                    #{/elseif}
                    #{elseif ord.state == models.market.Orderr.S.CANCEL}
                        <td style="color:red;">${ord.state}</td>
                    #{/elseif}
                    #{elseif ord.state.ordinal() >= models.market.Orderr.S.SHIPPED.ordinal()}
                        <td style="color:green;">${ord.state}</td>
                    #{/elseif}
                    #{else }
                        <td>${ord.state}</td>
                    #{/else}
                </tr>
            #{/list}
            <tr class="tb_footer">
                <td colspan="9">
                    #{set begin: ((pi.page - 3) >= 1) ? (pi.page - 3) : 1 /}
                    #{set end: ((pi.page + 3) <= pi.totalPage) ? (pi.page + 3) : pi.totalPage/}
                    <div class="pagination pagination-centered">
                        <ul>
                            <li><a href="#" page="1">首页</a></li>
                            #{list items:begin..end, as:'i'}
                                #{if pi.page == i}
                                    <li class="active"><a href="#">${i}</a></li>
                                #{/if}
                                #{else }
                                    <li><a href="#" page="${i}">${i}</a></li>
                                #{/else}
                            #{/list}
                            <li><a href="#" page="${pi.totalPage}">尾页(${pi.totalPage}/${pi.count})</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    #{/else}
    </div>
</div>
