#{extends 'main_full.html' /}
#{set title:"出库计划 (${plans.size()})"  /}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
    #{script 'shipplans/index.coffee'/}
    #{script 'deliveryments/fba_carton_contents.coffee'/}
#{/set}
#{errorMsgs /}
#{flash_alert /}

<div class="row-fluid">
  <form action="@{ShipPlans.index()}" method="get" class="search_form" id="search_Form">
    <div class="row-fluid">
      <div class="span12">
        <div class="input-prepend input-append inline">
          <span class="add-on">From:</span>
          <input type="date" name="p.from" value="${p.from.date()}">
          <span class="add-on">To:</span>
          <input type="date" name="p.to" value="${p.to.date()}">
        </div>

        <select name="p.dateType" class="inline">
        #{list items:models.view.post.ShipPlanPost.DATE_TYPES, as:'t'}
          <option ${t._1 == p.dateType ? 'selected' : ''} value="${t._1}">${t._2}</option>
        #{/list}
        </select>

        <select name="p.state" class="inline" style="width:82px;">
          <option value="">状态</option>
        #{list items:models.whouse.ShipPlan.S.values(), as:'state'}
          <option ${state == p.state ? 'selected' : ''} value="${state.name()}">${state.label()}</option>
        #{/list}
        </select>

        <select name="p.whouseId" class="inline">
          <option value="0">仓库</option>
        #{list items:whouses, as:'wh'}
          <option ${wh.id == p.whouseId ? 'selected' : ''} value="${wh.id}">${wh.name}</option>
        #{/list}
        </select>

        <select name="p.shipType" class="inline" style="width:82px;">
          <option value="">运输方式</option>
        #{list items:models.procure.Shipment.T.values(), as:'t'}
          <option ${t == p.shipType ? 'selected' : ''} value="${t.name()}">${t.label()}</option>
        #{/list}
        </select>

        <div class="input-prepend input-append inline">
          <span class="add-on"><i class="icon-search"></i></span>
          <input type="text" name="p.search" value="${p.search}" rel="popover"
                 content="可搜索 ID、采购计划 ID、SellingId、SKU、FBA、产品名称" placement="bottom" style="width:200px;">
          <input type="hidden" name="p.page" value="${p.page}">
          <button class="btn btn-primary" data-loading>搜索</button>
        </div>

        <div class="inline">
          <a href="@{ShipPlans.blank()}" target="_blank" class="btn btn-success">新建</a>
          <a href="javascript:void(0)" id="download_excel" class="btn btn-info">导出</a>
          <a href="javascript:void(0)" class="btn btn-warning" id="deployFBAs" data-url="/ShipPlans/batchCreateFBA">
            创建 FBA
          </a>
          <a target="_blank" class="btn btn-info" rel="popover" content="将选中的数据，按照日期-工厂名称进行压缩打包 " placement="bottom"
             id="downloadFBAZIP">
            下载 FBA
          </a>
        </div>
      </div>
    </div>
  #{render 'Deliveryments/_box_number_model.html'/}
  #{render 'Deliveryments/_fba_carton_contents.html'/}
  </form>

  <div class="row-fluid">
    <div class="span12">
      <table class="table table-condensed table-bordered">
        <tr>
          <th>
            <label class="checkbox">
              <input type="checkbox" id="plan_checkbox_all" class="plan checkall">
            </label>
          </th>
          <th>#</th>
          <th>状态</th>
          <th>操作</th>
          <th>采购计划</th>
          <th>Selling</th>
          <th>Sku</th>
          <th style="width:10%;">产品名称</th>
          <th>FBA</th>
          <th>FnSKU</th>
          <th>去往仓库</th>
          <th>计划出库数</th>
          <th>实际出库数</th>
          <th>预计运输时间</th>
          <th>预计到达时间</th>
          <th>运输单</th>
          <th>运输方式</th>
          <th>创建时间</th>
          <th>创建人</th>
        </tr>
      #{list items:plans, as:'plan'}
        <tr>
          <td>
            <label class="checkbox">
                #{set cooperItem: plan.unit?.cooperator?.cooperItem(plan.unit?.sku)/}
                #{if plan.fba && plan.fba.dto}
                    #{set dto: plan.fba.dto/}
                  <input type="checkbox" name="pids" value="${plan.id}" class="plan" id="checkbox_${plan.id}"
                         data-boxnum="${dto.boxNum}" data-num="${dto.num}" data-lastcartonnum="${dto.lastCartonNum}"
                         data-singleboxweight="${dto.singleBoxWeight}" data-length="${dto.length}"
                         data-width="${dto.width}" data-height="${dto.height}">
                #{/if}
                #{elseif cooperItem}
                  <input type="checkbox" name="pids" value="${plan.id}" class="plan" id="checkbox_${plan.id}"
                         data-boxnum="${cooperItem.boxNum(plan.unit.qty())}" data-num="${cooperItem.boxSize}"
                         data-lastcartonnum="${cooperItem.lastCartonNum(plan.unit.qty())}"
                         data-singleboxweight="${cooperItem.singleBoxWeight}" data-length="${cooperItem.length}"
                         data-width="${cooperItem.width}" data-height="${cooperItem.height}">
                #{/elseif}
                #{else}
                  <input type="checkbox" name="pids" value="${plan.id}" class="plan" id="checkbox_${plan.id}"
                         data-boxnum="" data-num="" data-lastcartonnum="" data-singleboxweight="" data-length=""
                         data-width="" data-height="">
                #{/else}
            </label>
          </td>
          <td>
            <a href="@{ShipPlans.show(plan.id)}" target="_blank">${plan.id}</a>
          </td>
          <td>${plan.state.label()}</td>
          <td>
            <a href="@{ShipPlans.show(plan.id)}" target="_blank" class="btn btn-mini btn-info">
            ${plan.isLock() ? '查看' : '修改'}
            </a>
          </td>
          <td>
              #{if plan.unit}
                <a href="/ProcureUnits/index?p.search=${plan.unit.id}">${plan.unit.id}</a>
              #{/if}
          </td>
          <td>
            <a href="@{Sellings.selling(plan.selling?.sellingId)}" target="_blank">${plan.selling?.sellingId}</a>
          </td>
          <td>
            <a href="@{Products.show(plan.product?.sku)}" target="_blank">${plan.product?.sku}</a>
          </td>
          <td>${plan.product?.abbreviation}</td>
          <td>${plan.fba?.shipmentId}</td>
          <td>
              #{if plan.selling?.fnSku}
                <a href="@{Sellings.sellingLabel(plan.selling?.sellingId)}" class="btn btn-success btn-block">
                  <i class="icon-download-alt"></i> ${plan.selling?.fnSku}
                </a>
              #{/if}
              #{elseif plan.selling != null}
                <a class="btn btn-warning btn-block" href="@{Sellings.selling()}/${plan.selling?.sellingId}">
                  补全 FnSku
                </a>
              #{/elseif}
          </td>
          <td>${plan.whouse?.name()}</td>

          <td>${plan.planQty}</td>
          <td>${plan.qty}</td>
          <td>#{time_tooltip time:plan.planShipDate/}</td>
          <td>#{time_tooltip time:plan.planArrivDate/}</td>
          <td>
            <dl>
                #{list items:plan.relateShipment(), as:'sp'}
                  <li><a href="@{Shipments.show(sp.id)}" target="_blank">${sp}</a></li>
                #{/list}
            </dl>
          </td>
          <td>${plan.shipType?.label()}</td>
          <td>#{time_tooltip time:plan.createDate/}</td>
          <td>${plan.creator?.username}</td>
        </tr>
      #{/list}
      </table>
    </div>
  </div>
</div>
#{records records:logs/}
