<tr>
  <td>
  ${mt.targetMarket}
  </td>
  <td>
    <div class="input-append">
    #{if mt.saleQty>0}
      <input type="text" class="input" value="${mt.saleQty}"
             targetname="qty${mt.targetMonth}"
             name="markets[${mt_index -1}].saleQty"
             id="categoryprofitMargin1">
    #{/if}
    #{else}
      <input type="text" class="input" value=""
             targetname="qty${mt.targetMonth}"
             name="markets[${mt_index - 1}].saleQty"
             id="categoryprofitMargin1">
    #{/else}
    </div>
  </td>
  <td>
    <input type="text" style="width:90px;" class="input-qtylast1" value="${mt.saleQtyLast}"
           targetname="qtylast${mt.targetMonth}"
           name="markets[${mt_index-1}].saleQtyLast">
  </td>
  <td>
  #{set reallyQty: mt.reallySaleQtys()/}
    <div>
      <input type="text" readonly="true" style="width:90px;" value="${reallyQty}" name="reallySaleQtys"
             data-old="${reallyQty}">
    </div>
  </td>

  <td>
    <div>
    #{if mt.saleAmounts>0}
      <input type="text" class="input" value="${helper.Dates.scaleNumber(mt.saleAmounts)}"
             targetname="amount${mt.targetMonth}"
             name="markets[${mt_index -1}].saleAmounts"
             data-old="${mt.saleAmounts}">
    #{/if}
    #{else}
      <input type="text" class="input" value="" name="markets[${mt_index - 1}].saleAmounts"
             targetname="amount${mt.targetMonth}"
             data-old="${mt.saleAmounts}">
    #{/else}
    </div>
  </td>

  <td>
    <input type="text" style="width:90px;" class="input-amountlast1"
           value="${helper.Dates.scaleNumber(mt.saleAmountsLast)}"
           targetname="amountlast${mt.targetMonth}"
           name="markets[${mt_index-1}].saleAmountsLast">
  </td>

  <td>
  #{set reallySt: mt.reallySaleAmounts()/}
    <div>
      <input type="text" readonly="true" style="width:90px;" value="${reallySt}" name="reallySaleAmounts"
             data-old="${reallySt}">
    </div>
  </td>
  <input type="hidden" name="markets[${mt_index - 1}].id" value="${mt.id}">
</tr>
