<tr>
    <td data-toggle="toggle" data-target="#${st.targetMonth}_market">
      <i class="icon-reorder"></i> ${st.targetMonth}
    </td>

    <td>
      <div class="input-append">
          #{if st.saleQty>0}
            <input type="text" class="input-mini" value="${st.saleQty}"
                   id="qty${st.targetMonth}"
                   name="ms[${st_index - 1}].saleQty"
                   id="categoryprofitMargin1">
          #{/if}
          #{else}
            <input type="text" class="input-mini" value=""
                   id="qty${st.targetMonth}"
                   name="ms[${st_index - 1}].saleQty"
                   id="categoryprofitMargin1">
          #{/else}
      </div>
    </td>

    <td>
      <input type="text" style="width:90px;" class="input-qtylast" value="${st.saleQtyLast}"
             id="qtylast${st.targetMonth}"
             name="ms[${st_index-1}].saleQtyLast">
    </td>

    <td>
        #{set reallyQty: st.reallySaleQtys()/}
      <div>
        <input type="text" readonly="true" style="width:90px;" value="${reallyQty}" name="monthSaleQtys"
               data-old="${reallyQty}">
      </div>
    </td>


    <td>
      <div>
          #{if st.saleAmounts>0}
            <input type="text" class="input-small" value="${helper.Dates.scaleNumber(st.saleAmounts)}"
                   id="amount${st.targetMonth}"
                   name="ms[${st_index -1}].saleAmounts"
                   data-old="${st.saleAmounts}">
          #{/if}
          #{else}
            <input type="text" class="input-small" value="" name="ms[${st_index - 1}].saleAmounts"
                   id="amount${st.targetMonth}"
                   data-old="${st.saleAmounts}">
          #{/else}
      </div>
    </td>

    <td>
      <input type="text" style="width:90px;" class="input-amountlast" value="${helper.Dates.scaleNumber(st.saleAmountsLast)}"
             id="amountlast${st.targetMonth}"
             name="ms[${st_index-1}].saleAmountsLast">
    </td>

    <td>
        #{set reallySt: st.reallySaleAmounts()/}
      <div>
        <input type="text" readonly="true" style="width:90px;" value="${reallySt}" name="monthSaleAmounts"
               data-old="${reallySt}">
      </div>
    </td>
  <input type="hidden" name="ms[${st_index - 1}].id" value="${st.id}">
  </tr>
