<tr>
  <td>
    第${st.targetSeason}季度
  </td>
  <td>
    <div class="input-append">
    #{if st.saleQty>0}
      <input type="text" class="input" style="width:100px" value="${st.saleQty}"
             name="ss[${st_index - 1}].saleQty">
    #{/if}
    #{else}
      <input type="text" class="input" style="width:100px" value=""
             name="ss[${st_index - 1}].saleQty">
    #{/else}
    </div>
  </td>
  <td>
    <div class="input-prepend input-append">
      <input type="text" style="width:100px" id="lastSeasonSaleQtys${st.targetSeason}" readonly rel="popover"
             name="ss[${st_index - 1}].saleQtyLast" placement="right">
    </div>
  </td>
  <td>
    <div class="input-prepend input-append">
      <input type="text" style="width:100px" id="reviseSeasonSaleQtys${st.targetSeason}" readonly rel="popover"
             placement="right">
    </div>
  </td>
  <td>
    <div>
    #{if st.saleAmounts>0}
      <input type="text" class="input" style="width:100px" value="${helper.Dates.scaleNumber(st.saleAmounts)}"
             name="ss[${st_index - 1}].saleAmounts"
             data-old="${st.saleAmounts}">
    #{/if}
    #{else}
      <input type="text" class="input" style="width:100px" value="" name="ss[${st_index - 1}].saleAmounts"
             data-old="${st.saleAmounts}">
    #{/else}
    </div>
  </td>
  <td>
    <div class="input-prepend input-append">
      <input type="text" style="width:100px" id="lastSeasonSaleAmounts${st.targetSeason}" readonly rel="popover"
             name="ss[${st_index - 1}].saleAmountsLast" placement="right">
    </div>
  </td>
  <td>
    <div class="input-prepend input-append">
      <input type="text" style="width:100px" id="reviseSeasonSaleAmounts${st.targetSeason}" readonly rel="popover"
             placement="right">
    </div>
  </td>
  <input type="hidden" name="ss[${st_index - 1}].id" value="${st.id}">
</tr>
