<table class="table table-bordered">
  <input type="hidden" name="yt.id" value="${categorySt.id}">
  <input type="hidden" name="pid" value="${pid}">
  <tr>
    <th>年份</th>
    <td colspan="4">
    #{select_year value: categorySt.targetYear, disabled:true/}
    </td>
  </tr>
  <tr>
    <th>Team</th>
    <td>
    ${team.name}
    </td>
    <th>产品线</th>
    <td>
    ${categorySt.fid}
    </td>
  </tr>
  <tr>
    <th>市场</th>
    <td>
    ${categorySt.targetMarket}
    </td>
    <th></th>
    <td>
    </td>
  </tr>
  <tr>
    <th>目标日均销量</th>
    <td>
      <div class="input-append">
        <input type="text" name="yt.saleQty" value="${categorySt.saleQty}" disabled>
      </div>
    </td>

    <th>目标销售额</th>
    <td>
      <div class="input-prepend input-append">
        <span class="add-on">$</span>
        <input type="text" id="amount" name="yt.saleAmounts" value="${helper.Dates.scaleNumber(categorySt.saleAmounts)}" disabled>
        <input type="text" readonly placement="right" style="width:150px"
               value="￥${helper.Dates.scaleNumber(categorySt.saleAmountRmbs)}">
      </div>
    </td>
  </tr>
  <tr>
    <th>日均销量修正值</th>
    <td>
      <div class="input-prepend input-append">
        <input type="text" id="lastSaleQtys" name="yt.saleQtyLast" readonly rel="popover" value="${categorySt.saleQtyLast}"
               placement="right">
      </div>
    </td>
    <th>销售额修正值</th>
    <td>
      <div class="input-prepend input-append">
        <span class="add-on">$</span>
        <input type="text" id="lastSaleAmounts" name="yt.saleAmountsLast" readonly rel="popover"
               value="${helper.Dates.scaleNumber(categorySt.saleAmountsLast)}" placement="right">
        <input type="text" readonly placement="right" style="width:150px"
               value="￥${helper.Dates.scaleNumber(categorySt.saleAmountsLastRmb)}">
      </div>
    </td>
  </tr>
  <tr>
    <th>实际日均销量</th>
    <td>
      <div class="input-prepend input-append">
        <input type="text" id="reallySaleQtys" readonly rel="popover"
               placement="right">
      </div>
    </td>
    <th>实际销售额</th>
    <td>
      <div class="input-prepend input-append">
        <span class="add-on">$</span>
        <input type="text" id="reallySaleAmounts" readonly rel="popover"
               placement="right">
      </div>
    </td>
  </tr>
</table>