#{extends 'main.html' /}
#{set title:"新增运营年度目标"/}
#{set 'moreScripts'}
    #{script 'saleOpTargets/blank.coffee'/}
#{/set}
#{errorMsgs /}
#{flash_alert /}

<div class="row">
  <div class="span12">
    <form action="@{SaleOpTargets.create()}" method="POST" id="saleOpTargetsForm">
    #{info_row title:'总年度目标'/}
      <table class="table table-condensed table-bordered">
        <tr>
          <th>年份</th>
          <td>
          #{select_year  name: "yearSt.targetYear", value: yearSt.targetYear/}
          </td>
        </tr>

        <tr>
          <th>目标名称</th>
          <td colspan="4">
            <input type="text" class="span10" name="yearSt.name" value="${yearSt.name}">
          </td>
        </tr>

        <tr>
          <th>目标日均销量</th>
          <td>
            <div class="input-append">
              <input type="text" name="yearSt.saleQty" readonly value="${yearSt.saleQty}">
            </div>
          </td>
          <th>目标销售额</th>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on">$</span>
              <input type="text" name="yearSt.saleAmounts" value="${yearSt.saleAmounts}" readonly rel="popover"
                     content="年度销售目标的总销售额数据为各 Category 销售额数据汇总得出" placement="right">
            </div>
          </td>
        </tr>

        <tr>
          <th>备注</th>
          <td colspan="4">
            <textarea rows="4" class="span10" name="yearSt.memo">${yearSt.memo}</textarea>
          </td>
        </tr>
      </table>

    #{info_row title:'Category 年度目标'/}
      <table class="table table-condensed table-bordered" id="categoryOpSaletargets">
        <tr>
          <th>Category</th>
          <th>所属 Team</th>
          <th>目标日均销量</th>
          <th>目标销售额($)</th>
        </tr>
      <tr>
      #{list items:sts, as:'st'}
         #{set team: st.fetchTeam()/}
        <tr>
          <td>
            <a href="@{Categorys.show(st.fid)}" target="_blank">${st.fid}</a>
            <input type="hidden" name="sts[${st_index - 1}].fid" value="${st.fid}">
          </td>
          <td><a href="@{Teams.show(team.id)}" target="_blank">${team.name}</a></td>
          <td>
            <div class="input-append">
              <input type="text" class="input-mini" value="${st.saleQty}" name="sts[${st_index - 1}].saleQty">
            </div>
          </td>
          <td>
            <input type="text" class="input-small" value="${st.saleAmounts}" name="sts[${st_index - 1}].saleAmounts">
          </td>
        </tr>
        <input type="hidden" name="sts[${st_index - 1}].saleTargetType" value="${st.saleTargetType}">
      #{/list}
        </tr>
      </table>
    </form>

    <div class="btn-toolbar">
      <button class="btn btn-primary" id="submitSaleOpTargets">保存</button>
      <a class="btn btn-primary" href="@{SaleOpTargets.index()}">返回</a>
    </div>
  </div>
</div>
