#{extends 'main_full.html'/}
#{set title:"年度销售目标 (${saleOpTargets.size()})"/}
#{set 'moreScripts'}
#{/set}
#{errorMsgs /}
#{flash_alert /}

#{power.ck "saleoptargets.create"}
<div class="btn-toolbar">
  <a href="@{SaleOpTargets.blank()}" class="btn btn-success">创建年度目标</a>
</div>
#{/power.ck}

#{if saleOpTargets.size() == 0}
<p class="muted text-center">等待创建新的年度销售目标.</p>
#{/if}
#{else }
<div class="row-fluid">
  <div class="span12">
    <table class="table table-condensed table-bordered">
      <tr>
        <th>目标名称</th>
        <th>年份</th>
        <th>目标日均销量</th>
        <th>目标总销售额($)</th>
        <th>创建人</th>
        <th>创建时间</th>
      </tr>
        #{list items:saleOpTargets, as:'st'}
          <tr>
            <td>
              <a target="_blank" href="@{SaleOpTargets.show(st.id)}">${st.name}</a>
            </td>
            <td>${st.targetYear}</td>
            <td>${st.saleQty}</td>
            <td>${helper.Dates.scaleNumber(st.saleAmounts)}</td>
            <td>${st.createuser.username}</td>
            <td>${st.createDate}</td>
          </tr>
        #{/list}
    </table>
  </div>
</div>
#{/else}
