#{extends 'main_full.html' /}
#{set title:"Category销售目标#" + categorySt.id /}
#{set 'moreScripts'}
    #{script 'saleOpTargets/marketsplit.coffee'/}
#{/set}

#{errorMsgs /}
#{flash_alert /}

#{set team: categorySt.fetchTeam()/}
<div class="row">
  <div class="span25">
    <form method="POST" id="submitSaleOpTargetsForm">
    #{info_row title:'Category 年度目标'/}
      <table class="table table-bordered">
        <tr>
          <th>年份</th>
          <td colspan="4">
          #{select_year value: categorySt.targetYear, disabled:true/}
          </td>
        </tr>

        <tr>
          <th>Team</th>
          <td>
          ${team.name}
          </td>

          <th>产品线</th>
          <td>
          ${categorySt.fid}
          </td>
        </tr>


        <tr>
          <th>目标日均销量</th>
          <td>
            <div class="input-append">
              <input type="text" value="${categorySt.saleQty}" disabled>
            </div>
          </td>

          <th>年度销售额</th>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on">$</span>
              <input type="text" id="amount" value="${helper.Dates.scaleNumber(categorySt.saleAmounts)}" disabled>
              <input type="text" readonly placement="right" style="width:150px"
                     value="￥${helper.Dates.scaleNumber(categorySt.saleAmountRmbs)}">
            </div>
          </td>
        </tr>

        <tr>
          <th>目标日均销量修正值</th>
          <td>
            <div class="input-append">
              <input type="text" value="${categorySt.saleQtyLast}" disabled>
            </div>
          </td>

          <th>年度销售额修正值</th>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on">$</span>
              <input type="text" value="${helper.Dates.scaleNumber(categorySt.saleAmountsLast)}" disabled>
              <input type="text" readonly placement="right" style="width:150px"
                     value="￥${helper.Dates.scaleNumber(categorySt.saleAmountsLastRmb)}">
            </div>
          </td>
        </tr>


      </table>

    #{info_row title:'Category 月度'/}
      <table class="table table-bordered" id="monthSaleOptargets">

        <tr>
          <th rowspan="2">市场</th>
          <th rowspan="2">类型</th>
        #{list items:1..12, as:'month'}
          <th colspan="2" style="text-align:center;">${month}月</th>
        #{/list}
        </tr>

        <tr>
        #{list items:1..12, as:'month'}
          <th>日均销量</th>
          <th>销售额($)</th>
        #{/list}
        </tr>
        <tr>


        <tr>
          <th rowspan="2">ALL</th>
          <td>目标</td>
        #{list items:total, as:'t'}
          <td>
            <div>
                #{if t.saleQty>0}
                                  ${t.saleQty}
                                #{/if}
            </div>
          </td>
          <td>
            <div>
                #{if t.saleAmounts>0}
                                  ${helper.Dates.scaleNumber(t.saleAmounts)}
                                #{/if}
            </div>
          </td>
        #{/list}
        </tr>

        <tr>
          <td>修正值</td>
        #{list items:total, as:'t'}
          <td>
            <div>
                #{if t.saleQtyLast>0}
                                          ${t.saleQtyLast}
                                        #{/if}
            </div>
          </td>
          <td>
            <div>
                #{if t.saleAmountsLast>0}
                                          ${helper.Dates.scaleNumber(t.saleAmountsLast)}
                                        #{/if}
            </div>
          </td>
        #{/list}
        </tr>

      #{list items:sts, as:'st'}
        <tr>
          <td rowspan="2">
          ${st.targetMarket}
          </td>
          <td>
            目标
          </td>

            #{if st_index <= sales.size }
                #{list items:sales.get(st_index-1), as:'month'}
                  <td>
                    <div>
                        #{if month.saleQty>0}
                      ${month.saleQty}
                    #{/if}
                    </div>
                  </td>
                  <td>
                    <div>
                        #{if month.saleAmounts>0}
                      ${helper.Dates.scaleNumber(month.saleAmounts)}
                    #{/if}
                    </div>
                  </td>
                #{/list}
            #{/if}
        </tr>

        <tr>
          <td>
            修正值
          </td>

            #{list items:sales.get(st_index-1), as:'month'}
              <td>
                <div>
                    #{if month.saleQtyLast>0}
                              ${month.saleQtyLast}
                            #{/if}
                </div>
              </td>
              <td>
                <div>
                    #{if month.saleAmountsLast>0}
                              ${helper.Dates.scaleNumber(month.saleAmountsLast)}
                            #{/if}
                </div>
              </td>
            #{/list}
        </tr>


        <input type="hidden" name="sts[${st_index - 1}].id" value="${st.id}">
      #{/list}

        </tr>
      </table>
    </form>

  </div>
</div>
