#{extends 'main.html' /}
#{set title:"Category销售目标#" + categorySt.id /}
#{set 'moreScripts'}
    #{script 'saleOpTargets/marketsplit.coffee'/}
#{/set}

#{errorMsgs /}
#{flash_alert /}

#{set team: categorySt.fetchTeam()/}
<div class="row">
  <div class="span12">
    <form action="@{SaleOpTargets.doMarketSplit(categorySt.id)}" method="POST" id="submitSaleOpTargetsForm">
    #{info_row title:'Category 年度目标'/}
      <table class="table table-bordered">
        <input type="hidden" name="pid" value="${pid}">
        <tr>
          <th>年份</th>
          <td colspan="4">
          #{select_year value: categorySt.targetYear, disabled:true/}
          </td>
        </tr>

        <tr>
          <th>Team</th>
          <td>
          ${team.name}
          </td>

          <th>产品线</th>
          <td>
          ${categorySt.fid}
          </td>
        </tr>


        <tr>
          <th>目标日均销量</th>
          <td>
            <div class="input-append">
              <input type="text" value="${categorySt.saleQty}" disabled>
            </div>
          </td>

          <th>年度销售额</th>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on">$</span>
              <input type="text" id="amount" value="${helper.Dates.scaleNumber(categorySt.saleAmounts)}" disabled>
              <input type="text" readonly placement="right" style="width:150px"
                     value="￥${helper.Dates.scaleNumber(categorySt.saleAmountRmbs)}">
            </div>
          </td>
        </tr>


        <tr>
          <th>目标日均销量修正值</th>
          <td>
            <div class="input-append">
              <input type="text" value="${categorySt.saleQtyLast}" disabled>
            </div>
          </td>

          <th>年度销售额修正值</th>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on">$</span>
              <input type="text" value="${helper.Dates.scaleNumber(categorySt.saleAmountsLast)}" disabled>
              <input type="text" readonly placement="right" style="width:150px"
                     value="￥${helper.Dates.scaleNumber(categorySt.saleAmountsLastRmb)}">
            </div>
          </td>
        </tr>


      </table>

    #{info_row title:'Category 目标市场分解'/}
      <table class="table table-bordered" id="monthSaleOptargets">
        <tr>
          <th>市场</th>
          <th>目标日均销量</th>
          <th>日均销量修正值</th>
          <th>目标销售额($)</th>
          <th>销售额修正值($)</th>
          <th>操作</th>
        </tr>
      <tr>
      #{list items:sts, as:'st'}
        <tr>
          <td>
          ${st.targetMarket}
          </td>

          <td>
            <div class="input-append">

                #{if st.saleQty>0}
                  <input type="text" class="input-mini" value="${st.saleQty}" name="sts[${st_index - 1}].saleQty" >
                #{/if}
                #{else}
                  <input type="text" class="input-mini" value="" name="sts[${st_index - 1}].saleQty" >
                #{/else}
            </div>
          </td>

          <td>
            <input type="text" style="width:90px;" readonly="true" class="input-qtylast" value="${st.saleQtyLast}"
                   name="sts[${st_index-1}].saleQtyLast">
          </td>

          <td>
            <div>

                #{if st.saleAmounts>0}
                  <input type="text" class="input-small" value="${helper.Dates.scaleNumber(st.saleAmounts)}"
                         name="sts[${st_index - 1}].saleAmounts"
                         data-old="${st.saleAmounts}">
                #{/if}
                #{else}
                  <input type="text" class="input-small" value="" name="sts[${st_index - 1}].saleAmounts"
                         data-old="${st.saleAmounts}">
                #{/else}

            </div>
          </td>


          <td>
            <input type="text" style="width:90px;" readonly="true" class="input-amountlast"
                   value="${helper.Dates.scaleNumber(st.saleAmountsLast)}"
                   name="sts[${st_index-1}].saleAmountsLast">
          </td>

          <td>
            <a class="btn btn-primary" href="@{SaleOpTargets.seasonSplit(st.id,categorySt.id)}">季度分解</a>
          </td>

        </tr>
        <input type="hidden" name="sts[${st_index - 1}].id" value="${st.id}">
      #{/list}
        <tr>
          <th>市场汇总</th>
          <td>
            <input type="text" style="width:90px;" id="saleMarketQtySUM">
          </td>
          <td></td>
          <td>
            <input type="text" style="width:90px;" id="saleAmountsSUM">
          </td>
          <td></td>
          <td></td>
        </tr>
        </tr>
      </table>
    </form>

    <div class="btn-toolbar">
      <button class="btn btn-primary" id="submit">更新</button>
      <a class="btn btn-primary" href="@{SaleOpTargets.show(pid)}">返回</a>
    </div>
  #{records records:records/}
  </div>
</div>
