#{extends 'main.html' /}
#{set title:"Category销售目标#" + categorySt.id /}
#{set 'moreScripts'}
    #{script 'saleOpTargets/marketsplit.coffee'/}
#{/set}
#{errorMsgs /}
#{flash_alert /}

#{set team: categorySt.fetchTeam()/}
<div class="row">
<div class="span12">
<form action="@{SaleOpTargets.doSeasonSplit(categorySt.id)}" method="POST" id="submitSaleOpTargetsForm">
#{info_row title:'Category 年度目标'/}
#{render 'SaleOpTargets/_yearSplit.html', categorySt:categorySt, pid:pid,team:team/}

#{info_row title:'Category 目标季度分解'/}
<table class="table table-bordered" id="monthSaleOptargets">
  <tr>
    <th>季度</th>
    <th>目标日均销量</th>
    <th>日均销量修正值</th>
    <th>实际日均销量</th>
    <th>目标销售额($)</th>
    <th>销售额修正值($)</th>
    <th>实际销售额($)</th>
  </tr>
<tr>
#{list items:seasons, as:'st'}
 #{render 'SaleOpTargets/_seasonSplit.html', st:st, st_index:st_index/}
#{/list}
</table>


#{info_row title:'Category 目标月度分解'/}
<table class="table table-bordered" id="monthSaleOptargets">
  <tr>
    <th>月度</th>
    <th>目标日均销量</th>
    <th>日均销量修正值</th>
    <th>实际日均销量</th>
    <th>目标销售额($)</th>
    <th>销售额修正值($)</th>
    <th>实际销售额($)</th>
  </tr>
<tr>

#{list items:months, as:'st'}
  #{render 'SaleOpTargets/_monthSplit.html', st:st, st_index:st_index/}
  <tr id="${st.targetMonth}_market" style="display:none;">
    <td colspan="9">
      <table class="table table-bordered table-condensed">
        <tr>
          <th>市场</th>
          <th>目标日均销量</th>
          <th>日均销量修正值</th>
          <th>实际日均销量</th>
          <th>目标销售额($)</th>
          <th>销售额修正值($)</th>
          <th>实际销售额($)</th>
        </tr>

          #{list items:markets, as:'mt'}
              #{if mt.targetMonth == st.targetMonth}
                  #{render 'SaleOpTargets/_marketSplit.html', mt:mt, mt_index:mt_index/}
              #{/if}
          #{/list}
      </table>
    </td>
  </tr>
#{/list}
  <tr>
    <th>月度汇总</th>
    <td>
      <input type="text" style="width:90px;" id="saleQtySUM">
    </td>
    <td></td>
    <td></td>
    <td>
      <input type="text" style="width:90px;" id="saleAmountsSUM">
    </td>
    <td></td>
    <td></td>
  </tr>
  </tr>
</table>
</form>
<div class="btn-toolbar">
  <button class="btn btn-primary" id="submit">更新</button>
  <a class="btn btn-primary" href="@{SaleOpTargets.show(pid)}">返回</a>
</div>
#{records records:records/}
</div>
</div>
