#{extends 'main.html' /}
#{set title:"运营年度销售目标#" + yearSt.id /}
#{set 'moreScripts'}
    #{script_cdn name: 'saleOpTargets/blank.coffee'/}
#{/set}

#{errorMsgs /}
#{flash_alert /}

<div class="row">
  <div class="span12">
    <form action="@{SaleOpTargets.update(yearSt.id)}" method="POST" id="saleOpTargetsForm">
    #{info_row title:'总年度目标'/}
      <table class="table table-bordered">
        <tr>
          <th>年份</th>
          <td>
          #{select_year  name: "yearSt.targetYear", value: yearSt.targetYear, disabled:true/}
          </td>
        </tr>

        <tr>
          <th>目标名称</th>
          <td colspan="4">
            <input type="text" class="span10" name="yearSt.name" value="${yearSt.name}">
          </td>
        </tr>

        <tr>
          <th>目标日均销量</th>
          <td>
            <div class="input-append">
              <input type="text" name="yearSt.saleQty" readonly value="${yearSt.saleQty}">
            </div>
          </td>

          <th>目标销售额</th>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on">$</span>
              <input type="text" id="amount" name="yearSt.saleAmounts"
                     value="${helper.Dates.scaleNumber(yearSt.saleAmounts)}" readonly
                     rel="popover"
                     content="年度销售目标的总销售额数据为各 Category 销售额数据汇总得出" placement="right">
              <input type="text" readonly placement="right" style="width:150px"
                     value="￥${helper.Dates.scaleNumber(yearSt.saleAmountRmbs)}">
            </div>
          </td>
        </tr>

        <tr>
          <th>目标日均修正值</th>
          <td>
            <div class="input-append">
              <input type="text" name="yearSt.saleQtyLast" readonly value="${yearSt.saleQtyLast}">
            </div>
          </td>

          <th>目标销售额修正值</th>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on">$</span>
              <input type="text"  name="yearSt.saleAmountsLast"
                     value="${helper.Dates.scaleNumber(yearSt.saleAmountsLast)}" readonly
                     rel="popover" placement="right">
              <input type="text" readonly placement="right" style="width:150px"
                     value="￥${helper.Dates.scaleNumber(yearSt.saleAmountsLastRmb)}">
            </div>
          </td>
        </tr>


        <tr>
          <th>备注</th>
          <td colspan="4">
            <textarea rows="4" class="span10" name="yearSt.memo">${yearSt.memo}</textarea>
          </td>
        </tr>
      </table>

    #{info_row title:'Category 年度目标'/}
    #{if sts.size() > 0}

      <table class="table table-bordered" id="categorySaleOptargets">
        <tr>
          <th>Category</th>
          <th>所属 Team</th>
          <th>目标日均销量</th>
          <th>目标日均销量修正值</th>
          <th>目标销售额($)</th>
          <th>目标销售额修正值($)</th>
          <th>操作</th>
        </tr>
      <tr>

          #{list items:sts, as:'st'}
              #{set team: st.fetchTeam()/}
            <tr>
              <td>
                <a href="@{Categorys.show(st.fid)}" target="_blank">${st.fid}</a>
                <input type="hidden" name="sts[${st_index - 1}].fid" value="${st.fid}">
              </td>
              <td><a href="@{Teams.show(team.id)}" target="_blank">${team.name}</a></td>
              <td>
                <div class="input-append">
                  #{if st.saleQty>0}
                    <input type="text" class="input-mini" value="${st.saleQty}" name="sts[${st_index - 1}].saleQty">
                  #{/if}
                  #{else}
                    <input type="text" class="input-mini" value="" name="sts[${st_index - 1}].saleQty">
                  #{/else}
                </div>
              </td>

              <td>
                <div class="input-append">
                  #{if st.saleQtyLast>0}
                    <input type="text" readonly="true" value="${st.saleQtyLast}" name="sts[${st_index-1}]
                    .saleQtyLast">
                  #{/if}
                  #{else}
                    <input type="text" readonly="true" value="" name="sts[${st_index - 1}].saleQty">
                  #{/else}
                </div>
              </td>


              <td>
                #{if st.saleAmounts>0}
                  <input type="text"   class="input-small" value="${helper.Dates.scaleNumber(st.saleAmounts)}"
                         name="sts[${st_index - 1}].saleAmounts">
                #{/if}
                #{else}
                  <input type="text"   class="input-small" value="" name="sts[${st_index - 1}].saleAmounts">
                #{/else}
              </td>

              <td>
                #{if st.saleAmountsLast>0}
                  <input type="text" readonly="true"
                         value="${helper.Dates.scaleNumber(st.saleAmountsLast)}"
                         name="sts[${st_index - 1}].saleAmountsLast">
                #{/if}
                #{else}
                  <input type="text" readonly="true"   value="" name="sts[${st_index - 1}].saleAmountsLast">
                #{/else}
              </td>

              <td>
                  #{power.ck "saleoptargets.marketsplit"}
                    <a class="btn btn-primary" href="@{SaleOpTargets.seasonSplit(st.id)}">目标分解</a>
                  #{/power.ck}
                  <a class="btn btn-primary" target="_blank" href="@{SaleOpTargets.marketView(st.id)}">查看</a>
              </td>
            </tr>
            <input type="hidden" name="sts[${st_index - 1}].id" value="${st.id}">
            <input type="hidden" name="sts[${st_index - 1}].saleTargetType" value="${st.saleTargetType}">
          #{/list}
        </tr>
      </table>
    #{/if}
    #{else }
      <p>当前用户没有 Category 权限</p>
    #{/else}
    </form>

    <div class="btn-toolbar">
    #{power.ck "saleoptargets.create"}
      <button class="btn btn-primary" id="submitSaleOpTargets">更新</button>
    #{/power.ck}
      <a class="btn btn-primary" href="@{SaleOpTargets.index()}">返回</a>
    </div>
  #{records records:records/}
  </div>
</div>