<ul>
  <li>预计交货时间: ${unit.attrs.planDeliveryDate}</li>
#{if unit.attrs.deliveryDate}
  <li>实际交货时间: ${unit.attrs.deliveryDate}</li>
#{/if}
  <li>预计发货时间: TODO: 采购计划的运输时间, 会根据运输项目拥有多个</li>
  <li>实际发货时间: 修改</li>
  <li>预计到库时间: TODO: 同预计发货时间</li>
  <li>实际签收时间: TODO: 修改</li>
  <li>预计采购量: ${unit.attrs.planQty}</li>
#{else }
  <li>${unit.stage}: ${unit.qty()}</li>
#{/else}
#{if unit.deliveryment}
  <li>采购单:
    <a href="@{Deliveryments.show(unit.deliveryment.id)}" target="_blank">
      <i class="icon-link"></i> ${unit.deliveryment.id}
    </a>
    #${unit.id}
  </li>
#{/if}
</ul>
