<!DOCTYPE html>
<html>
<head>
  <title>FBA Packing Slips</title>
  <style>
    body{
      font-family:STXihei;
    }
  </style>
</head>
<body>
#{list items:0..2, as:'i'}
<table  style="border: none;margin:0 0 10px 0;padding:0;display:inline-block;" cellpadding="0"cellspacing="0" align="center" width="49.4%">
  <tr>
    <td colspan="3" align="center" style="color: #666666; font-weight: bold;font-size: 10pt;">
      PLEASE LEAVE THIS LABEL UNCOVERED<br>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="border-bottom: 2px solid black" align="left" valign="top">
      <div style="float:left;">
        <span style="font-weight: bold; font-size: 14pt">FBA</span>
      </div>
    </td>
  </tr>
  <tr valign="top">
    <td width="50%" colspan="2" style="font-size:10px;line-height:10px;">
      <b>SHIP FROM:</b><br>


    ${shipFrom.name}<br>
    ${shipFrom.addressLine1}<br>
    ${shipFrom.city},&nbsp;
    ${shipFrom.stateOrProvinceCode}&nbsp;
    ${shipFrom.postalCode}<br>

    </td>
    <td width="50%" align="left" style="font-size: 12px;">
      <b> SHIP TO:</b><br>

      <b>${fba.fbaCenter.name}</b><br>
      <b>${fba.fbaCenter.addressLine1}</b><br>
      <b>${fba.fbaCenter.postalCode}</b>
      <b>${fba.fbaCenter.city}</b><br>
      <b>${fba.codeToCounrty()}</b><br>

    </td>
  </tr>
  <tr bgcolor="black">
    <td colspan="3" style="background:#000000">
      <span style="color:#ffffff;font-size:10px;font-weight:bold;padding-left:2px;">${fba.title}</span>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
      <span style="font-weight: bold; font-size: 14px;">Purchase Order/ Shipment ID</span>
      <br>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
      <!-- 需要生成的 Bar Code -->
      <img src="@{Login.code128(shipmentId)}" width="260" height="72" border="0" style="padding-left:30px">
      <!-- 测试用  -->
    *{<img src="https://images-na.ssl-images-amazon.com/images/G/02/barcodes/blank008._ZXcc464241354d465a34436fce,192,0,0,0,advc128d,42,0,0,0_V45455422_.jpg" width="260" height="72" border="0" style="padding-left:30px">}*
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
      <span style="font-weight: bold; font-size: 12px;">${shipmentId}</span>
    </td>
  </tr>
  <tr bgcolor="black">
    <td colspan="3" style="background:#000000">
            <span style="color: white;font-weight:bold;font-variant: small-caps;font-size:10px;padding-left:2px;">
               Internal Use Only
            </span>
    </td>
  </tr>
  <tr>
    <td colspan="3">
            <span style="font-size: 14px;font-weight:bold;float:right;">
            Verschiedene SKUs
            </span>
    </td>
  </tr>
</table>

<table border="0" style="border: none;margin:0 0 10px 0;padding:0;display:inline-block;" cellpadding="0" cellspacing="0" width="50%">
  <tr style="border-bottom: 2px solid black">
    <td colspan="7" align="center" style="font-weight: bold;font-size: 6pt;border-bottom: 2px solid
    black">
      <div style="float:left;">
                <span style="font-size: 14pt;">Edeer</span>
             </div>
      <span style="font-weight: bold; font-size: 12pt">香港逸德出货明细标贴</span><br>
      ONLY FOR HK,Edeer Network Technology CO.,LTD PACKING LIST
    </td>
  </tr>

  <tr valign="center" style="font-size: 7pt;font-weight: bold;">
     <td>
       <table border="0" width="100%" style="border: none;margin:0 0 0 0;padding:0;">
         <tr>
           <td width="10%" >
              供应商:
           </td>
           <td width="20%" style="border-bottom: 2px solid black">
           </td>
           <td width="13%">
              交期:
           </td>
           <td width="4%" style="text-align:left;">
                 年
           </td>
           <td width="6%" style="text-align:center;">
                 月
           </td>
           <td width="5%" style="text-align:left;">
                 日
           </td>
           <td  width="20%" style="font-weight:bold; font-size:12pt">
                 运输等级
           </td>
           <td  style="border-bottom: 2px solid black">
           </td>
         </tr>
       </table>
    </td>
  </tr>
  <tr style="font-size: 7pt" align="center">
    <td>
      <table border="0" width="100%" style="border: none;margin:0 0 0 0;padding:0;">
        <tr>
          <td width="8%">
            籍号
          </td>
          <td width="7%" style="border:1px solid #000000; padding-left:6px;">
          </td>
          <td width="8%">
            去往国家
          </td>
          <td width="7%" style="border:1px solid #000000; padding-left:6px;">
          </td>
          <td width="8%">
            整箱重量
          </td>
          <td width="16%" style="border:1px solid #000000; padding-left:6px;">
          </td>
          <td width="10%" style="line-height:0.7em;">
            箱子体积<br>
            <span style="font-size:3pt">长×宽×高CM</span>
          </td>
          <td style="border:1px solid #000000; padding-left:6px;">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr align="center">
    <td >
      <table border="1" width="100%" height="100%" style="border:8px solid #000000;" cellpadding="0" cellspacing="0" >
         <tr v>
          <th width="18%" bgcolor="#000000">
             <span style="color:#ffffff;font-weight: bold;">产品名称</span>
          </th>
          <th width="16%" bgcolor="#000000">
            <span style="color:#ffffff;font-weight: bold;">SKU</span>
          </th>
          <th width="12%" bgcolor="#000000">
            <span style="color:#ffffff;font-weight: bold;">产品条形码</span>
          </th>
          <th width="8%" bgcolor="#000000">
            <span style="color:#ffffff;font-weight: bold;">数量</span>
          </th>
         </tr>
         <tr >
           <td height="35px;">
           </td>
           <td>
           </td>
           <td>
           </td>
           <td>
           </td>
         </tr>
         <tr>
           <td height="130px;" colspan="4" style="vertical-align:top;text-align:left;" >
             <span style="font-size:7pt;font-weight:bold;">备注信息 :</span><span style="font-size:5pt">(如果箱中含有多个型号SKU，请在备注中写明！)</span>
           </td>
         </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td  align="center" style=" font-size: 8px;">
         INTERNAL USE
    </td>
  </tr>
</table>
#{/list}

</body>
</html>

