<table border="0" style="border: none;display:inline-block;" cellpadding="0" cellspacing="0"
       width="100%">
  <tr>
    <td colspan="3" align="center" style="color: #666666; font-weight: bold;font-size: 10pt;">
      PLEASE LEAVE THIS LABEL UNCOVERED<br>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="border-bottom: 2px solid black" align="left" valign="top">
      <div style="float:left;">
        <span style="font-weight: bold; font-size: 14pt">FBA</span>
      </div>
    </td>
  </tr>
  <tr valign="top">
    <td width="50%" colspan="2" style="font-size:10px;line-height:10px;">
      <b>SHIP FROM:</b><br>

    ${shipFrom?.name}<br>
    ${shipFrom?.addressLine1}<br>
    ${shipFrom?.city},&nbsp;
    ${shipFrom?.stateOrProvinceCode}&nbsp;
    ${shipFrom?.postalCode}<br>

    </td>
    <td width="50%" align="left" style="font-size: 12px;">
      <b> SHIP TO:</b><br>

      <b>${fba?.fbaCenter?.name}</b><br>
      <b>${fba?.fbaCenter?.addressLine1}</b><br>
      <b>${fba?.fbaCenter?.postalCode}</b>
      <b>${fba?.fbaCenter?.city}</b><br>
      <b>${fba?.codeToCounrty()}</b><br>

    </td>
  </tr>
  <tr bgcolor="black">
    <td colspan="3" style="background:#000000">
      <span style="color:#ffffff;font-size:10px;font-weight:bold;padding-left:2px;">${fba?.title}</span>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
      <span style="font-weight: bold; font-size: 14px;">Purchase Order/ Shipment ID</span>
      <br>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
      <!-- 需要生成的 Bar Code -->
      #{set shipmentIdStr: shipmentId + boxNumberStr/}
      <img src="http://127.0.0.1:9000/code128/${shipmentIdStr}" width="260"
           height="72" border="0" style="padding-left:30px">
      <!-- 测试用  -->
    *{<img src="https://images-na.ssl-images-amazon.com/images/G/02/barcodes/blank008._ZXcc464241354d465a34436fce,192,0,0,0,advc128d,42,0,0,0_V45455422_.jpg" width="260" height="72" border="0" style="padding-left:30px">}*
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
      <span style="font-weight: bold; font-size: 12px;">${shipmentIdStr}</span>
    </td>
  </tr>
  <tr bgcolor="black">
    <td colspan="3" style="background:#000000">
            <span style="color: white;font-weight:bold;font-variant: small-caps;font-size:10px;padding-left:2px;">
               Internal Use Only
            </span>
    </td>
  </tr>
  <tr>
    <td colspan="3">
            <span style="font-size: 14px;font-weight:bold;float:right;">
            Verschiedene SKUs
            </span>
    </td>
  </tr>
</table>

