#{extends 'main_full.html'/}
#{set title:'Amazon FBA (' + fbas.size() + ')' /}
#{set 'moreScripts'}
#{/set}
<form method="post" action="@{FBAs.index()}">
    <div class="row">
        <div class="input-prepend span2">
            <span class="add-on">From:</span>
            <input type="date" style="width:100px;" id="p_from" name="p.from" value="${p.from?.date()}">
        </div>
        <div class="input-prepend span2">
            <span class="add-on">To:</span>
            <input type="date" style="width:100px;" id="p_to" name="p.to" value="${p.to?.date()}">
        </div>
        <div class="span2">
        #{pickMarkets name:'p.market', blank:true, class:'span2', m:p.market/}
        </div>
        <div class="span2">
            <select name="p.states" class="span2" multiple="multiple">
                <option value="">State</option>
            #{list items:models.procure.FBAShipment.S.values()}
                <option ${p.states.contains(_) ? 'selected' : ''} value="${_}">${_}</option>
            #{/list}
            </select>
        </div>

        <div class="span1">
            <select name="p.centerId" class="span1">
                <option value="">CenterId</option>
            #{list items:centerIds}
                <option ${p.centerId == _ ? "selected" : ""} value="${_}">${_}</option>
            #{/list}
            </select>
        </div>

        <div class="span2">
            <label class="inline checkbox">
                <input ${p.receiptOverTime ? "checked" : ""}  type="checkbox" name="p.receiptOverTime" value="true">
                <abbr title="签收超过 2 天算超时">签收超时</abbr>
            </label>
            <label class="inline checkbox">
                <input ${p.receiveOverTime ? "checked" : ""} type="checkbox" name="p.receiveOverTime" value="true">
                <abbr title="签收超过 3 天算超时">入库超时</abbr>
            </label>
        </div>

        <div class="input-append input-prepend span2">
            <span class="add-on"><i class="icon-search"></i></span>
            <input type="text" name="p.search" class="span2" placeHolder="SKU,FBA" value="${p.search}">
            <button class="btn btn-primary" data-loading="">搜索</button>
        </div>
    </div>
</form>

<div class="row-fluid">
    <table class="table table-bordered table-condensed">
        <tr>
            <th>#</th>
            <th>ShipmentId</th>
            <th>运输单</th>
            <th>CenterId</th>
            <th>创建时间</th>
            <th>签收时间</th>
            <th>签收入库时长</th>
            <th>入库时间</th>
            <th>入库关闭时长</th>
            <th>关闭时间</th>
            <th colspan="2">入库进度</th>
            <th>状态</th>
            <th>市场</th>
        </tr>
    #{list items:fbas, as:'fba'}
        <tr>
            <td>${fba.id}</td>
            <td><a href="${fba.fbaLink()}" target="_blank"><i class="icon-external-link"></i> ${fba.shipmentId}</a></td>
            <td><a href="@{Shipments.show()}/${fba.shipment?.id}" target="_blank">${fba.shipment?.id}</a></td>
            <td data-target="#unit_${fba.id}" data-toggle="toggle">
                <i class="icon-reorder"></i> ${fba.centerId}
                <span class="badge badge-info">${fba.shipItems.size()}</span>
            </td>
            <td>${fba.createAt.date()}</td>
            <td>${fba.receiptAt.datetime()}</td>
            <td>
                <span class="badge ${fba.receiptAt.badgeSuffix(fba.receivingAt)}">
                ${fba.receivingAt && fba.receiptAt ? (fba.receivingAt - fba.receiptAt) + " days" : ""}
                </span>
            </td>
            <td>
            ${fba.receivingAt.datetime()}
            </td>
            <td>
            *{只在没有 closeAt 拥有 receivingAt 的时候显示}*
                #{if fba.receivingAt && !fba.closeAt}
                    <span class="badge ${fba.receivingAt.badgeSuffix(new Date())}">
                ${(new Date() - fba.receivingAt)} days
                </span>
                #{/if}
                #{else }
                    <span class="badge ${fba.receivingAt.badgeSuffix(fba.closeAt)}">
                ${fba.receivingAt && fba.closeAt ? (fba.closeAt - fba.receivingAt) + " days" : ""}
                    </span>
                #{/else}
            </td>
            <td>${fba.closeAt.date()}</td>
            #{set t2:fba.progress()/}
            <td style="width:120px">
                <div class="progress progress-striped" style="margin-bottom:0;">
                    <div class="bar" style="width: ${(t2._1 / t2._2).format('#%')};">
                        <p class="text-error">
                        ${t2._1} / ${t2._2}
                        </p>
                    </div>
                </div>
            </td>
            <td style="width:30px">${(t2._1 / t2._2).format('#%')}</td>
            <td style="color:${'#' + fba.state.rgb()}">${fba.state}</td>
            <td>${fba.account.type}</td>
        </tr>
        <tr id="unit_${fba.id}" style="display:none;">
            <td colspan="13" class="toggle_table_td">
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th>Msku</th>
                        <th>Title</th>
                        <th colspan="2">Process</th>
                    </tr>
                    #{list items:fba.shipItems, as:'itm'}
                        <tr>
                            <td>
                                <a href="@{Sellings.selling()}/${itm.unit.selling.sellingId}">${itm.unit.selling.merchantSKU}</a>
                            </td>
                            <td><a href="@{Products.show()}/${itm.unit.product.sku}">${itm.unit.product.productName}</a>
                            </td>
                            <td style="width:10%;">
                                <div class="progress progress-striped" style="margin-bottom:0;">
                                    <div class="bar" style="width: ${(itm.recivedQty / itm.qty).format('#%')};">
                                        <p class="text-error">
                                        ${itm.recivedQty} / ${itm.qty}
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td style="width:30px">${(itm.recivedQty / itm.qty).format('#%')}</td>
                        </tr>
                    #{/list}
                </table>
            </td>
        </tr>
    #{/list}
    </table>
</div>
