<!DOCTYPE html>
<html>
<head>
  <title>FBA Packing Slips</title>
  <style>
    body{
      font-family:STXihei;
    }
  </style>
</head>
<body style="margin:0 0 0 0;">
<table border="0" style="border: none;margin:0 0 0 0;" cellpadding="0" cellspacing="0" width="100%">
#{list items:1..boxNumber, as: 'i'}
  <tr style="height: 98.6mm; vertical-align:middle;">
    <td width="49%" style="vertical-align:middle">
        #{if Arrays.asList("Brandworl","Visio", "Wisle").contains(models.OperatorConfig.getVal("addressname"))}
            #{render './brandworlShipmentDetail.html', procureUnit: procureUnit, box_num:i/}
        #{/if}
        #{else}
            #{render './shipmentDetail.html', procureUnit: procureUnit, box_num:i/}
        #{/else}
    </td>
    <td width="2%"></td>
    <td width="49%" style="vertical-align:middle">
        #{if Arrays.asList("Brandworl","Visio", "Wisle").contains(models.OperatorConfig.getVal("addressname"))}
            #{render './brandworlShipmentDetail.html', procureUnit: procureUnit, box_num:i/}
        #{/if}
        #{else}
            #{render './shipmentDetail.html', procureUnit: procureUnit, box_num:i/}
        #{/else}
    </td>
  </tr>
#{/list}
</table>
</body>
</html>