<!DOCTYPE html>
<html>
<head>
  <title>FBA Packing Slip</title>
</head>
<body>

<table style="border: 2px solid black;" class="print" cellpadding="5" cellspacing="0" align="center" width="95%">
  <tr>
    <td colspan="3" align="center" style="color: #666666; font-weight: bold;font-size: 14pt; border-bottom: 2px solid black ">
      Place this Packing Slip on top of the items in the carton<br>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="border-bottom: 2px solid black" align="left" valign="top">
      <div style="float:left;">
        <img src="https://images-na.ssl-images-amazon.com/images/G/02/rainier/ssof/fba-box._V192262380_.gif" width="82" height="67" border="0">&nbsp;
        <span style="font-weight: bold; font-size: 54pt">FBA</span>
      </div>
    </td>
  </tr>
  <tr valign="top">
    <td width="14%" style="border-bottom: 2px solid black">&nbsp;</td>
    <td width="43%" align="left" style="border-bottom: 2px solid black; font-size: 12px;">
      <b>SHIP FROM:</b><br>


    ${shipFrom.name}<br>
    ${shipFrom.addressLine1}<br>
    ${shipFrom.city},&nbsp;
    ${shipFrom.stateOrProvinceCode}&nbsp;
    ${shipFrom.postalCode}<br>
    ${shipFrom.countryCode}<br>

    </td>
    <td width="43%" align="left" style="border-bottom: 2px solid black; font-size: 12px;">
      <b> SHIP TO:</b><br>

    ${fba.fbaCenter.name}<br>
    ${fba.fbaCenter.addressLine1}<br>
    ${fba.fbaCenter.stateOrProvinceCode}<br>
    ${fba.fbaCenter.city},&nbsp;
    ${fba.fbaCenter.postalCode}<br>
    ${fba.codeToCounrty()}<br>

    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
      <span style="font-weight: bold; font-size: 14px;">Purchase Order/ Shipment ID</span>
      <br>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
      <!-- 需要生成的 Bar Code -->
      <img src="@@{Login.code128(shipmentId)}" width="260" height="72" border="0" style="padding-left:30px">
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
            <span style="font-weight: bold; font-size: 14px;">
            ${shipmentId}
            </span>
    </td>
  </tr>
  <tr bgcolor="black">
    <td colspan="3" style="border-top: 5px solid black; border-bottom: 2px solid black;">
            <span style="color: white; font-variant: small-caps; font-weight: bold;">
            Merchant Checklist
            </span>
    </td>
  </tr>
  <tr>
    <td colspan="3">
            <span style="font-size: 14px">
                <input type="checkbox"> ALL items are covered with the correct FBA item stickers
                <br>
                <input type="checkbox"> FBA item stickers cover existing scannable barcode on each item
                <br>
                <input type="checkbox"> This Packing Slip is placed on top of all items in the carton before sealing it
                <br>
                <input type="checkbox"> The FBA Package Label is placed on top of each carton next to the shipping label but does not cover the package seam
                <br>
                <input type="checkbox"> Please keep the Tracking and Carrier information
                <br>
            </span>
    </td>
  </tr>
  <tr bgcolor="black">
    <td colspan="3" style="border-top: 5px solid black;border-bottom: 2px solid black;">
            <span style="color: white; font-variant: small-caps;font-weight: bold;">
                Amazon Use Only
            </span>
    </td>
  </tr>
  <tr>
    <td colspan="3">
            <span style="font-size: 14px">
            MIXED SKUS<br>
            Items in this shipment (carton) <b>REQUIRE</b> FBA Item Labels - Please scan the FBA Item Label barcode to receive.<br>
            </span>
    </td>
  </tr>
  <tr>
    <td colspan="3" align="center" style="color: #666666; font-weight: bold; font-size: 14pt; border-top: 2px solid black ">
      Place this Packing Slip on top of the items in the carton
      <br>
    </td>
  </tr>
</table>

</body>
</html>

