#{extends 'main_full_v3.html'/}
#{set title:'添加用户'/}

#{flash_alert /}


<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">添加新用户</h3>
      </div>

      <form action="@{Users.addUser()}" class="form-horizontal">
        <div class="box-body">
          <div class="row-fluid">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-2 control-label">用户名</label>
                <input style="width:200px;" class="form-control" name="user.username" value="${user?user.username:""}" placeholder="用户名请输入小写" required>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <input style="width:200px;" class="form-control" name="user.email" value="${user?user.email:""}" required>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-2 control-label">手机</label>
                <input style="width:200px;" class="form-control" name="user.phone" value="${user?user.phone:""}">
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-2 control-label">固定电话</label>
                <input style="width:200px;" class="form-control" name="user.tel" value="${user?user.tel:""}">
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-2 control-label">QQ</label>
                <input style="width:200px;" class="form-control" name="user.qq" value="${user?user.qq:""}">
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-2 control-label">阿里旺旺</label>
                <input style="width:200px;" class="form-control" name="user.wangwang" value="${user?user.wangwang:""}">
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-2 control-label">密码</label>
                <input style="width:200px;" class="form-control" name="user.password" required type="password">
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-2 control-label">密码确认</label>
                <input style="width:200px;" class="form-control" name="user.confirm" type="password">
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-2 control-label">所属部门</label>
                <select name="user.department" class="form-control" style="width:200px;">
                #{list items:models.User.D, as:'d'}
                  <option value="${d.name()}">${d.label()}</option>
                #{/list}
                </select>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-2 control-label">所属公司</label>
                <select name="user.projectName" class="form-control" style="width:200px;">
                #{list items:models.User.COR, as:'c'}
                    #{if java.util.Arrays.asList(brandName,models.User.COR.MengTop.name()).contains(c.name())}
                      <option value="${c.name()}">${c.label()}</option>
                    #{/if}
                #{/list}
                </select>

              </div>
            </div>
          </div>
        </div>

        <div class="box-footer clearfix">
          <button class="btn btn-success" data-disable-with='提交请求中...'>创建</button>
        </div>

      </form>

    </div>
  </div>

</div>
