#{extends 'main.html'/}
#{set title:'Welcome Home [' + user.username.capFirst() + ']'/}

#{errorMsgs /}
#{flash_alert /}
#{info_row title:'用户信息'/}
<div class="row">
  <div class="span12">
    <form method="post" action="@{Users.updates()}">
      <table class="table table-bordered table-condensed">
        <tr>
          <th>用户名</th>
          <td>${user.username}</td>

          <th>Email</th>
          <td>${user.email}</td>
        </tr>

        <tr>
          <th>手机</th>
          <td><input type="text" name="wuser.phone" value="${user.phone}"></td>

          <th>固定电话</th>
          <td><input type="text" value="${user.tel}" name="wuser.tel"></td>
        </tr>

        <tr>
          <th>QQ</th>
          <td><input type="text" value="${user.qq}" name="wuser.qq"></td>

          <th>阿里旺旺</th>
          <td><input type="text" value="${user.wangwang}" name="wuser.wangwang"></td>
        </tr>
        <tr>
          <th>密码</th>
          <td colspan="4"><input type="password" name="wuser.password" placeHolder="更新需要填写正确的密码">
          </td>
        </tr>
        <tr>
          <th>新密码</th>
          <td colspan="4"><input type="password" name="newPassword" placeHolder="填写需要修改的新密码或留空">
          </td>
        </tr>
        <tr>
          <th>新密码确认</th>
          <td colspan="4">
            <input type="password" name="newPasswordConfirm" placeHolder="如果不需要修改密码,留空"></td>
        </tr>
        <tr>
          <td colspan="4">
            <input type="hidden" value="${user.id}" name="userid">
            <button class="btn btn-primary">更新</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

#{power.ck "notifications.notifysall"}
  #{success_row title:'发送全局 Notification'/}
<div class="row">
  <div class="span12">
    <form action="@{Notifications.notifysAll()}" method="post">
      <table class="table table-bordered table-condensed">
        <tr>
          <th>标题</th>
          <td><input type="text" name="t" placeHolder="系统消息"></td>
        </tr>
        <tr>
          <th>内容</th>
          <td>
            <textarea rows="5" name="c" class="span12"></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button class="btn btn-primary">通知</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
#{/power.ck}
