#{extends 'main_full_v3.html'/}
#{set title:'用户管理界面 (' + p.totalCount + ')'/}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
    #{script 'component/notify.coffee'/}
    #{script 'users/index.js'/}
#{/set}

#{flash_alert /}
#{errorMsgs /}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <form action="@{Users.index()}" method="POST" class="form-inline" id='search_form'>
          <div class="row-fluid">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">用户名</div>
                <input style="width:200px;" class="form-control" name="p.search" value="${p.search}" placeHolder="用户名">
                <input type="hidden" name="p.page" value="${p.page}">
              </div>
              <div class="form-group">
                <div class="form-group">
                  <label class="sr-only">Email</label>
                  <p class="form-control-static">是否关闭</p>
                </div>
                <select name="p.closed" class="form-control selectize" style="width:80px;">
                  <option ${p.closed ? 'selected' : ''} value="true">是</option>
                  <option ${!p.closed ? 'selected' : ''} value="false">否</option>
                </select>
              </div>

              <select name="p.department" class="form-control" style="width:150px;">
                <option value="">所属部门</option>
              #{list items:models.User.D.values(), as:'d'}
                <option value="${d}" ${p.department?.name()==d.name()?'selected':''} >${d.label()}</option>
              #{/list}
              </select>

              <input type="submit" value="搜索" class="btn btn-primary" data-disable-with='提交中...'>
              <a href="@{Users.create()}" class="btn btn-success">添加用户</a>
            </div>
          </div>
        </form>
      </div>

      <div class="box-body">
        <table class="table table-bordered table-condensed">
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Department</th>
            <th>Email</th>
            <th>Team</th>
            <th>Category</th>
            <th>Role</th>
            <th>Opened</th>
          </tr>
        #{list items:users, as:'user'}
            #{ifnot user.username == 'root'}
              <tr>
                <td>${user.id}</td>
                <td>${user.username}</td>
                <th>${user.department?.label()}</th>
                <td data-toggle="toggle">${user.email}</td>
                <td data-toggle="toggle" data-target="#${user.username}_teams">
                  <i class="icon-reorder"></i> ${user.teams?.size()} 个TEAM(共 ${teams?.size()} 个)
                </td>
                <td data-toggle="toggle" data-target="#${user.username}_categories">
                  <i class="icon-reorder"></i> ${user.categories?.size()} 个品线(共 ${categories?.size()} 个)
                </td>
                <td data-toggle="toggle" data-target="#${user.username}_roles">
                  <i class="icon-reorder"></i> ${user.roles?.size()} 个角色(共 ${roles?.size()} 个)
                </td>
                <td>
                    #{yesOrNo f:!user.closed, id:user.id/}
                    #{if user.closed}
                      <a href="#" data-toggle="tooltip" title="打开此账户" data-userid="${user.id}" id="openUser">Open</a>
                    #{/if}
                    #{else}
                      <a href="#" data-toggle="tooltip" title="关闭此账户" data-userid="${user.id}" id="closeUser">Close</a>
                    #{/else}
                </td>
              </tr>

              <tr id="${user.username}_categories" style="display:none;">
                <td colspan="8">
                  <form method="post" action="@{Users.categories()}" class="form-inline" name="data-form">
                    <table class="table table-bordered table-condensed">
                    <tr>
                        #{list items:categories, as:'c'}
                          <td colspan="${categories.size() == c_index ? (categories.size() - (c_index % 8)) : '1'}">
                            <label class="checkbox">
                              <input type="checkbox" name="categoryId" value="${c.categoryId}"
                              ${user.isHaveCategory(c) ? 'checked' : ''}>
                              <a href="javascript:;" rel="tooltip" title="${c.categoryId}">${c.categoryId}</a>
                            </label>
                          </td>
                            #{if c_index % 8 == 0}
                            </tr>
                            <tr>
                            #{/if}
                        #{/list}
                    </tr>
                      <tr>
                        <td colspan="8">
                          <input type="hidden" name="id" value="${user.id}">
                          <button class="btn btn-primary btn-xs">提交</button>
                          <a class="btn btn-default btn-xs" id="select_all_category">全选</a>
                        </td>
                      </tr>
                    </table>
                  </form>
                </td>
              </tr>

              <tr id="${user.username}_teams" style="display:none;">
                <td colspan="8">
                  <form method="post" action="@{Users.teams()}" class="form-inline" name="data-form">
                    <table class="table table-bordered table-condensed">
                    <tr>
                        #{list items:teams, as:'up'}
                          <td colspan="${teams.size() == up_index ? (teams.size() - (up_index % 8)) : '1'}">
                            <label class="checkbox">
                              <input type="checkbox" name="teamId" value="${up.id}" ${user.isHaveTeam(up) ? 'checked' : ''}>
                              <a href="javascript:;" rel="tooltip" title="${up.name}">${up.name}</a>
                            </label>
                          </td>
                            #{if up_index % 8 == 0}
                            </tr>
                            <tr>
                            #{/if}
                        #{/list}
                    </tr>
                      <tr>
                        <td colspan="8">
                          <input type="hidden" name="id" value="${user.id}">
                          <button class="btn btn-primary btn-xs">提交</button>
                        </td>
                      </tr>
                    </table>
                  </form>
                </td>
              </tr>

              <tr id="${user.username}_roles" style="display:none;">
                <td colspan="8">
                  <form method="post" action="@{Users.roles()}" class="form-inline" name="data-form">
                    <table class="table table-bordered table-condensed">
                    <tr>
                        #{list items:roles, as:'up'}
                          <td colspan="${roles.size() == up_index ? (roles.size() - (up_index % 8)) : '1'}">
                            <label class="checkbox">
                              <input type="checkbox" name="roleId" value="${up.roleId}" ${user.isHaveRole(up) ?
                              'checked' : ''}>
                              <a href="javascript:;" rel="tooltip" title="${up.roleName}">${up.roleName}</a>
                            </label>
                          </td>
                            #{if up_index % 8 == 0}
                            </tr>
                            <tr>
                            #{/if}
                        #{/list}
                    </tr>
                      <tr>
                        <td colspan="8">
                          <input type="hidden" name="id" value="${user.id}">
                          <button class="btn btn-primary btn-xs">提交</button>
                        </td>
                      </tr>
                    </table>
                  </form>
                </td>
              </tr>
            #{/ifnot}
        #{/list}
        </table>
      </div>

      <div class="box-footer clearfix">
      #{bootstrap_pager_v3 pi:p, url:'' /}
      </div>

    </div>
  </div>
</div>



