<table class="table table-condensed table-bordered" id="unit_table">
  <tr>
  #{if !is_check}
    <th>
      <input type="checkbox" id="checkbox_all" class="checkall" value="">
    </th>
  #{/if}
    <th width="80px;">采购ID<br>采购单</th>
  #{if !is_b2b}
    <th width="165px;">Selling</th>
  #{/if}
    <th width="265px;">SKU<br>产品名称</th>
    <th width="150px;">预计交货时间/<br>预计运输时间</th>
    <th width="55px;">计划交货数量</th>
    <th width="60px;">实际交货数量</th>
    <th width="80px;">交货不足<br>处理方式</th>
    <th width="65px;">包装信息</th>
    <th>FBA-ShipmentId</th>
    <th width="40px;">去往仓库</th>
    <th width="40px;">运输方式</th>
    <th width="50px;">状态</th>
    <th width="55px;">质检结果</th>
    <th width="60px;">合格数</th>
    <th width="60px;">不良品数</th>
    <th width="80px;">目标仓库</th>
    <th>项目名称</th>
  </tr>
#{list items:units, as:'unit'}
    #{if !is_check}
      <tr id="inboundUnit_${unit.id}">
        <td>
          <input type="checkbox" value="${unit.id}">
          <input type="hidden" name="dtos[${unit_index-1}].id" value="${unit.id}">
        </td>
        <td>
        ${unit.unit?.id}
          <div class="label ${unit.unit?.qcLevel?.rgb()}">${unit.unit?.qcLevel?.label()}</div>
          <br>
          <span style="color:blue;">${unit.unit?.deliveryment?.id}</span>
        </td>
          #{if !is_b2b}
            <td style="word-break:break-all;">
              <a href="@{Sellings.selling(unit.unit?.selling?.sellingId)}" target="_blank">${unit.unit?.selling?.sellingId}</a>
            </td>
          #{/if}
        <td data-toggle="tooltip" title="${unit.unit?.product.abbreviation}">
          <a href="@{Products.show(unit.unit?.product?.sku)}" target="_blank">${unit.unit?.product?.sku}</a><br>
        ${unit.unit?.product.abbreviation?.xxLong()}
        </td>
        <td>
          预计交货:#{time_tooltip time:unit.unit?.attrs.planDeliveryDate/}<br>
          预计运输:#{time_tooltip time:unit.unit?.attrs.planShipDate /}
        </td>
        <td>${unit.planQty}</td>
        <td>
          <input type="text" name="qty" autocomplete="off" data-qty="${unit.unit?.attrs.planQty}"
                 style="width:58px; padding:10px;
                     #{if unit.qty>0 && unit.qty != unit.planQty} background-color:red; #{/if}"
                 value="${unit.qty}" data-origin="${unit.qty}" class="form-control"
              #{if !Arrays.asList('Create','Receive').contains(unit.status.name())}
                 readonly
              #{/if}/>
        </td>
        <td>
          <select name="handType" style="width:75px; ${unit.qty==unit.planQty?'display:none;':''}" class="form-control"
              #{if !Arrays.asList('Create','Receive').contains(unit.status.name())} disabled #{/if}>
              #{list items:models.whouse.InboundUnit.H, as:'h'}
                <option ${h.name() == unit.handType?.name() ? 'selected' : ''}  value="${h.name()}">${h.label()}</option>
              #{/list}
          </select>
        </td>
        <td>
          <input type="button" class="btn btn-success btn-xs" data-id="${unit.id}" name="editBoxInfo" value="填写">
            #{if !unit.validBoxInfoIsComplete()}
              <i class="icon-remove" style="color:red"></i>
            #{/if}
            #{else }
              <i class="icon-ok" style="color:green"></i>
            #{/else}
        </td>
        <td>${unit.unit?.fba?.shipmentId}</td>
        <td>${unit.unit?.whouse?.name}</td>
        <td style="color:${unit.unit?.shipType?.rgb()}">${unit.unit?.shipType?.label()}</td>
        <td style="background-color:${unit.status.rgb()}">${unit.status?.label()}</td>
        <td>
          <select name="result" style="width:55px;padding:5px;" qty="${unit.qty}" class="form-control"
              #{if unit.status.name() != "Receive"}
                  disabled
              #{/if}>
              #{list items:models.whouse.InboundUnit.R, as:'r'}
                <option ${r.name() == unit.result?.name() ? 'selected' : ''} value="${r.name()}">${r.label()}</option>
              #{/list}
          </select>
        </td>
        <td>
          <input type="text" name="qualifiedQty" data-qty="${unit.qty}" value="${unit.qualifiedQty}" data-origin="${unit.qualifiedQty}"
              #{if unit.status.name()!="Receive" } readonly #{/if} class="form-control"
                 style="width:50px; padding:5px;#{if unit.result?.name() == 'UnCheck'} display:none; #{/if}"/>
        </td>
        <td>
          <input type="text" name="unqualifiedQty" data-qty="${unit.qty}" data-origin="${unit.unqualifiedQty}"
                 value="${unit.unqualifiedQty}"
              #{if unit.status.name()!="Receive" } readonly #{/if}
                 style="width:58px;padding:5px; #{if unit.result?.name() == 'UnCheck'} display:none; #{/if}"
                 class="form-control"/>
        </td>
        <td>
          <select name="target" style="max-width: 80px;" ${unit.status.name() != "Receive" ? 'disabled':''} class="form-control">
            <option value="">仓库</option>
              #{list items:whouses, as:'whouse'}
                <option ${whouse.id == unit.target?.id ? 'selected' : ''} value="${whouse.id}">
                ${whouse.name}
                </option>
              #{/list}
          </select>
        </td>
        <td>${unit.unit.projectName}</td>
      </tr>
    #{/if}
    #{else }
      <tr class="text-center">
        <td>${unit.id}</td>
        <td>
          <a href="@{Deliveryments.show(unit.unit?.deliveryment?.id)}#${unit.unit?.id}" target="_blank">${unit.unit?.id}</a>
        </td>
        <td>
          <a href="@{Deliveryments.show(unit.unit?.deliveryment?.id)}" target="_blank">${unit.unit?.deliveryment?.id}</a>
        </td>
        <td>${unit.unit?.selling?.sellingId}</td>
        <td title="${unit.unit?.product?.abbreviation}">
          <a href="@{Products.show(unit.unit?.product?.sku)}" target="_blank">${unit.unit?.product?.sku}</a><br>
        ${unit.unit?.product?.abbreviation.xxLong()}
        </td>
        <td>
          预计交货:#{time_tooltip time:unit.unit?.attrs?.planDeliveryDate/}<br>
          预计运输:#{time_tooltip time:unit.unit?.attrs?.planShipDate /}
        </td>
        <td>${unit.planQty}</td>
        <td>${unit.qty}</td>
        <td>#{if unit.qty != unit.planQty}${unit.handType?.label()}#{/if}</td>
        <td>
          <input type="button" class="btn btn-success btn-mini" data-id="${unit.id}" name="editBoxInfo" value="查看">
            #{if !unit.validBoxInfoIsComplete()}
              <i class="icon-remove" style="color:red"></i>
            #{/if}
            #{else }
              <i class="icon-ok" style="color:green"></i>
            #{/else}
        </td>
        <td>${unit.unit?.fba?.shipmentId}</td>
        <td>${unit.unit?.whouse?.name}</td>
        <td style="color:${unit.unit?.shipType?.rgb()}">${unit.unit?.shipType?.label()}</td>
        <td style="background-color:${unit.status.rgb()}">${unit.status?.label()}</td>
        <td>
            #{if unit.result?.name()=='Qualified'}
              <i style="color:green" class="icon-ok"></i>
            #{/if}
            #{elseif unit.result?.name()=='Unqualified'}
              <i style="color:red" class="icon-remove"></i>
            #{/elseif}
        </td>
        <td>${unit.qualifiedQty}</td>
        <td>${unit.unqualifiedQty}</td>
        <td>${unit.target?.name}</td>
        <td>${unit.unit?.projectName}</td>
      </tr>
    #{/else}
#{/list}
</table>