#{info_row }总共数量为 ${unit.unit.shipmentQty()}#{/info_row}
<table class="table table-bordered table-condensed" id="box_info_table" width="1000px;">
  <tr>
    <th colspan="6" style="text-align:center">主箱</th>
    <th colspan="6" style="text-align:center">尾箱</th>
  </tr>
  <tr>
    <td>每箱数量</td>
    <td>箱数</td>
    <td>每箱重量(kg)</td>
    <td>长(cm)</td>
    <td>宽(cm)</td>
    <td>高(cm)</td>
    <td>每箱数量</td>
    <td>箱数</td>
    <td>每箱重量(kg)</td>
    <td>长(cm)</td>
    <td>宽(cm)</td>
    <td>高(cm)</td>
  </tr>
  <tr>
    <td>
      <input type='text' style='width: 30px;' name='unit.mainBox.num' value='${unit.mainBox?.num}'/>
      <input type="hidden" name="unit.id" value="${unit.id}">
    </td>
    <td><input type='text' style='width: 30px;' name='unit.mainBox.boxNum' value='${unit.mainBox?.boxNum}'/></td>
    <td>
      <input type='text' style='width: 60px;' name='unit.mainBox.singleBoxWeight' value='${unit.mainBox?.singleBoxWeight}'/>
    </td>
    <td><input type='text' style='width: 30px;' name='unit.mainBox.length' value='${unit.mainBox?.length}'/></td>
    <td><input type='text' style='width: 30px;' name='unit.mainBox.width' value='${unit.mainBox?.width}'/></td>
    <td><input type='text' style='width: 30px;' name='unit.mainBox.height' value='${unit.mainBox?.height}'/></td>
    <td><input type='text' style='width: 30px;' name='unit.lastBox.num' value='${unit.lastBox?.num}'/></td>
    <td><input type='text' style='width: 30px;' name='unit.lastBox.boxNum' value='${unit.lastBox?.boxNum}'/></td>
    <td>
      <input type='text' style='width: 60px;' name='unit.lastBox.singleBoxWeight' value='${unit.lastBox?.singleBoxWeight}'/>
    </td>
    <td><input type='text' style='width: 30px;' name='unit.lastBox.length' value='${unit.lastBox?.length}'/></td>
    <td><input type='text' style='width: 30px;' name='unit.lastBox.width' value='${unit.lastBox?.width}'/></td>
    <td><input type='text' style='width: 30px;' name='unit.lastBox.height' value='${unit.lastBox?.height}'/></td>
  </tr>
  <tr id="noticeTr" style="display:none;">
    <td colspan="12" style="color:red"></td>
  </tr>
</table>

<input type="hidden" id="totalQty" value="${unit.unit.shipmentQty()}">

