#{extends 'main_full_v3.html' /}
#{set title:'采购收货入库单' /}
#{set 'moreScripts'}
    #{script 'inbounds/edit.js'/}
#{/set}

#{errorMsgs /}
#{flash_alert/}

<div class="row">
  <div class="col-md-12">
  #{form @Inbounds.update(), method:'POST', id: 'edit_inbound_form', class: "form-horizontal"}
    <div class="box box-primary">
      <div class="box-header with-border"><h4 class="box-title">编辑收货入库单</h4></div>
      <div class="box-body">
        <div class="form-group">
          <label for="pro_category" class="col-sm-1 control-label">收货入库单ID</label>
          <div class="col-sm-2">
            <input type="text" value="${inbound.id}" class="form-control" readonly>
            <input type="hidden" name="inboundId" value="${inbound.id}">
          </div>
          <label for="pro_family" class="col-sm-2 control-label">状态</label>
          <div class="col-sm-2">
            <input class="form-control" value="${inbound.status.label()}" readonly>
          </div>
          <label for="pro_category" class="col-sm-2 control-label">出货单</label>
          <div class="col-sm-2">
            <input type="text" value="${inbound.plan?.id}" class="form-control" readonly>
          </div>
        </div>

        <div class="form-group">
          <label for="pro_family" class="col-sm-1 control-label">供应商</label>
          <div class="col-sm-2">
            <input type="text" value="${inbound.cooperator?.name}" readonly class="form-control"/>
          </div>
          <label for="pro_family" class="col-sm-2 control-label">收货类型</label>
          <div class="col-sm-2">
            <input type="text" value="${inbound.type?.label()}" class="form-control" readonly/>
          </div>
          <label for="pro_category" class="col-sm-2 control-label">创建日期</label>
          <div class="col-sm-2">
            <input role="date" readonly="readonly" value="${inbound.createDate.date()}" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="pro_category" class="col-sm-1 control-label">收货入库单名称<span style="color:red">*</span></label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="inbound.name" value="${inbound.name}" required>
          </div>

          <label for="pro_family" class="col-sm-2 control-label">创建人</label>
          <div class="col-sm-2">
            <input type="text" value="${inbound.receiver?.username}" class="form-control" readonly/>
          </div>
        </div>

        <div class="form-group">
          <label for="pro_category" class="col-sm-1 control-label">收货日期<span style="color:red">*</span></label>
          <div class="col-sm-2">
            <input role="date" name="inbound.receiveDate" value="${inbound.receiveDate.date()}" required
                   autocomplete="off" class="form-control">
          </div>
          <label for="pro_category" class="col-sm-2 control-label">交货方式<span style="color:red">*</span></label>
          <div class="col-sm-2">
            <select class="form-control" name="inbound.deliveryMethod">
              <option value="">请选择</option>
                #{list items:models.whouse.Inbound.DM.values(), as:'d'}
                  <option value="${d}" ${inbound.deliveryMethod==d? 'selected':''}>${d.label()}</option>
                #{/list}
            </select>
          </div>

        </div>

        <div class="form-group">
          <label for="pro_category" class="col-sm-1 control-label">备注</label>
          <div class="col-sm-10">
            <textarea name="inbound.memo" rows="4" class="form-control">${inbound.memo}</textarea>
          </div>
        </div>
      </div>

      <div class="box-footer">
        <input type="hidden" name="record.origin" value="">
        <input type="hidden" name="record.state" value="">
          #{if inbound.status.name()!='End'}
            <button class="btn btn-primary" id="update">更新</button>
          #{/if}
          #{else}
            <button class="btn btn-info" id="updateMemo">更新备注</button>
          #{/else}
        <a href="@{Inbounds.index()}" class="btn btn-default">取消</a>
      </div>
    </div>

    <div class="box box-success">
      <div class="box-header with-border"><h3 class="box-title">已添加进入【采购收货入库单】的【采购单元】</h3></div>
      <div class="box-body">
          #{render 'Inbounds/_units.html', units:inbound.units, is_check: false, whouses:whouses,is_b2b: inbound.projectName?.name() == "MengTop"/}
      </div>
      <div class="box-footer">
          #{if inbound.status?.name()!='End'}
              #{if inbound.status?.name()=='Create'}
                <input type="button" class="btn btn-danger" id="deleteBtn" value="解除"/>
              #{/if}
            <input type="button" class="btn btn-primary" id="batchUpdateBoxInfoBtn" value="批量更新包装信息">

              #{power.ck 'inbounds.confirmreceivebtn'}
                <input type="button" class="btn btn-success" id="confirmReceiveBtn" data-url="@{Inbounds.confirmReceive()}" value="确认收货">
              #{/power.ck}
              #{power.ck 'inbounds.confirmqcbtn'}
                <input type="button" class="btn btn-success" id="confirmQCBtn" data-url="@{Inbounds.confirmQC()}" value="确认质检">
              #{/power.ck}
          #{/if}
      </div>
    </div>
  #{/form}
  </div>
</div>


<div id="fba_carton_contents_modal" class="modal fade bs-example-modal-lg">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header"><h4>包装信息</h4></div>
      <div class="modal-body">
        <div id="refresh_div"></div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <a class="btn btn-primary" id="submitBoxInfoBtn" data-action="@{Inbounds.updateBoxInfo()}">提交</a>
      </div>
    </div>
  </div>
</div>

#{records_v3 records:logs/}

