#{extends 'main_full.html' /}
#{set title:"收货入库明细列表"  /}
#{set 'moreStyles'}
    #{stylesheet 'bootstrap-multiselect.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'bootstrap-multiselect.js'/}
    #{script 'component/pagination.coffee'/}
    #{script 'inbounds/index.es6'/}
#{/set}
<style>
  .table td{
    vertical-align:middle;
  }
</style>
#{errorMsgs /}
#{flash_alert /}

<div class="row-fluid">
  <form action="@{Inbounds.indexDetail()}" method="get" class="search_form" id="search_Form">
    <div class="row-fluid">
      <div class="span12">
        <div class="input-prepend input-append inline">
          <span class="add-on">From:</span>
          <input type="date" name="p.from" value="${p.from.date()}">
          <span class="add-on">To:</span>
          <input type="date" name="p.to" value="${p.to.date()}">
        </div>

        <select name="p.status" class="inline">
          <option value="">状态</option>
        #{list items:models.whouse.Inbound.S, as:'t'}
          <option #{if p.status==t} selected #{/if} value="${t.name()}">${t.label()}</option>
        #{/list}
        </select>

        <select name="p.cooperatorId" class="inline selectize" style="width:150px;">
          <option value="">供应商</option>
        #{list items:cooperators, as:'cop'}
          <option #{if p.cooperatorId==cop.id} selected #{/if} value="${cop.id}">${cop.name}</option>
        #{/list}
        </select>

        <select name="p.type" class="inline">
          <option value="">收货类型</option>
        #{list items:models.whouse.Inbound.T, as:'t'}
          <option #{if p.type == t} selected #{/if} value="${t.name()}">${t.label()}</option>
        #{/list}
        </select>

        <div class="input-prepend inline">
          <select name="p.categories" multiple="multiple" id="categories">
          #{list items:categoryIds, as:'c'}
            <option value="${c}" ${p.categories.contains(c) ? 'selected':''}>${c}</option>
          #{/list}
          </select>
        </div>

        <select name="p.result" class="inline">
          <option value="">质检结果</option>
        #{list items:models.whouse.InboundUnit.R, as:'t'}
          <option #{if p.result == t} selected #{/if} value="${t.name()}">${t.label()}</option>
        #{/list}
        </select>

        <div class="input-prepend input-append inline">
          <span class="add-on"><i class="icon-search"></i></span>
          <input type="text" style="width:220px;" name="p.search" placeholder="收货入库单ID or SKU or 采购计划ID" value="${p.search}">
          <input type="hidden" name="p.page" value="${p.page}">
          <button class="btn btn-primary" data-loading>搜索</button>
        </div>

        <div class="inline">
          <a href="javascript:void(0)" class="btn btn-info inline" id="exportBtn">导出</a>
        </div>

      </div>
    </div>
  </form>

  <form method="post" id="inboundForm">
    <div class="row-fluid">
      <div class="span12">
        <table class="table table-condensed table-bordered" id="data-table">
          <tr>
            <th style="width:15px;">
              <input type="checkbox" id="checkbox_all" class="checkall">
            </th>
            <th>ID</th>
            <th width="70px;">采购计划ID</th>
            <th width="90px;">收货入库单ID</th>
            <th>名称</th>
            <th>SKU</th>
            <th>收货类型</th>
            <th>供应商</th>
            <th>状态</th>
            <th width="140px;">制单时间</th>
            <th>采购数量</th>
            <th>收货数量</th>
            <th>预计收货时间</th>
            <th width="120px;">收货人/收货日期</th>
            <th width="120px;">质检人/质检日期</th>
            <th>质检结果</th>
            <th>合格数</th>
            <th>不良品数</th>
            <th>入库数</th>
            <th>目标仓库</th>
            <th>可用库存</th>
          </tr>
        #{list items: units, as: 'i'}
          <tr>
            <td><input type="checkbox" name="ids" value="${i.id}"></td>
            <td>${i.id}</td>
            <td>${i.unit.id}</td>
            <td><a href="@{Inbounds.edit(i.inbound.id)}">${i.inbound.id}</a></td>
            <td>${i.inbound.name}</td>
            <td>${i.unit?.product.sku}</td>
            <td><i class="${i.inbound.type.flag()}"> </i>${i.inbound.type?.label()}</td>
            <td>${i.unit.cooperator?.name}</td>
            <td style="background-color:${i.status.rgb()}">${i.status?.label()}</td>
            <td>#{time_tooltip time:i.inbound.createDate, datetime:true/}</td>
            <td>${i.unit.attrs?.planQty}</td>
            <td>${i.qty}</td>
            <td>#{time_tooltip time:i.unit.attrs.planDeliveryDate, datetime:false/}</td>
            <td>${i.inbound.receiver?.username} / #{time_tooltip time:i.inbound.receiveDate, datetime:false/}</td>
            <td>${i.qcUser?.username} / #{time_tooltip time:i.qcDate, datetime:false/}</td>
            <td>${i.result?.label()}</td>
            <td>${i.qualifiedQty}</td>
            <td>${i.unqualifiedQty}</td>
            <td>${i.inboundQty}</td>
            <td>${i.unit.currWhouse?.name}</td>
            <td>${i.unit.availableQty}</td>
          </tr>
        #{/list}
          <tr>
            <td colspan="20">
            #{if units.size() == 0}
              暂时还没有入库记录
            #{/if}
            #{else }
                #{bootstrap_pager pi:p, url:'' /}
            #{/else}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>



