#{extends 'main_full.html'/}
#{set title:'Review 星级与中差评率' /}
#{set 'moreScripts'}
    #{script 'highstock.js'/}
    #{script 'marketanalysis/reviewrecords.coffee'/}
#{/set}
#{info_row title:'Category Review 星级与中差评趋势'/}
<div class="row-fluid">
  <div class="span12">
    <form action="@{MarketAnalysis.exportReviewRecords()}" method="get" class="search_form" target="_blank">
      <div class="input-prepend input-append inline">
        <span class="add-on">From:</span>
        <input type="date" name="from" value="${from.date()}">
        <span class="add-on">To:</span>
        <input type="date" name="to" value="${to.date()}">
      </div>

      <div class="inline" style="margin-left:5px;">
        Category:
        <select name="category">
          <option value="all">ALL</option>
        #{list items:categories, as:'cate'}
          <option value="${cate}" ${cate_index == 1 ? "selected" : ""}>${cate}</option>
        #{/list}
        </select>
      </div>
      <div class="inline">
        <a data-href="@{MarketAnalysis.reviewRecords()}" class="btn btn-primary inline" id="reviewRecords">查询</a>
        <a data-href="@{MarketAnalysis.exportReviewRecords()}" class="btn btn-primary inline" id="exportReviewRecords">导出
          Excel</a>
      </div>
    </form>
  </div>

  <div class="span12" name="reviews_line_home">
    <div class="span6" style="height:450px;width:47%" id='reviews_rating_line' data-url="@{MarketAnalysis.reviewRatingLine()}"></div>
    <div class="span6" style="height:450px;width:47%" id='poor_ratings_line' data-url="@{MarketAnalysis.poorRatingLine()}"></div>
  </div>
</div>