#{extends 'main_full_v3.html'/}
#{set title:"Elcuk 系统参数" /}
#{set 'moreScripts'}
    #{script 'elcuk/showShipType.es6'/}
#{/set}

#{errorMsgs /}
#{flash_alert /}

<div class="row">
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
      #{list items:models.OperatorConfig.T.values(), as:'t'}
        <li #{if t_isFirst} class="active" #{/if}><a href="#${t.name()}" data-toggle='tab'>${t.label()}</a></li>
      #{/list}
      </ul>

      <div class="tab-content">
      #{list items:models.OperatorConfig.T.values(), as:'t'}
        <div class="tab-pane ${t_isFirst ? 'active' : ''}" id="${t.name()}">
          <table class="table table-condensed table-bordered">
            <tr>
              <th width="150px;">参数类型</th>
              <th width="250px;">参数编码</th>
              <th width="300px;">参数名称</th>
              <th>参数值</th>
              <th width="200px;">最近更新时间</th>
              <th width="100px;">操作</th>
            </tr>
              #{list items: configurations, as: 'config'}
                  #{if config.type.name()==t.name()}
                    <tr>
                      <td>${config.type.label()}</td>
                      <td>${config.paramcode}</td>
                      <td>${config.name}</td>
                      <td>${config.val}</td>
                      <td>#{time_tooltip_v3 time:config.updateAt, datetime:true/}</td>
                      <td>
                        <a href="@{Elcuk.edit(config.id)}" class="btn btn-warning btn-xs">修改</a>
                          #{if config.paramcode!=null && config.paramcode.split("_")[0]=="ShipChannel"}
                            <a href="@{Elcuk.showShipChannel()}" class="btn btn-default btn-xs">查看</a>
                          #{/if}
                      </td>
                    </tr>
                  #{/if}
              #{/list}
          </table>
        </div>
      #{/list}
      </div>
    </div>
  </div>
</div>
