#{extends 'main.html'/}
#{set title:"查看市场运输方式运输天数" /}
#{set 'moreScripts'}
#{/set}
#{errorMsgs /}
#{flash_alert /}

<div class="row-fluid">
  <div class="btn-toolbar">
    <a class="btn btn-success" href="@{Elcuk.index()}">返回</a>
  </div>
</div>

<table class="table table-condensed table-bordered">
  <tr>
    <th>市场</th>
    <th>运输方式</th>
    <th>运输总天数</th>
    <th>操作</th>
  </tr>
#{list items: models.market.M.amazonVals(), as: 'market'}
    #{list items: models.procure.Shipment.T.values(), as: 'shipType'}
      <tr>
        <td>${market.countryName()}</td>
        <td>${shipType.label()}</td>
          #{set marketAndShipType: market.toString() + "_" + shipType/}
        <td>${marketAndShipType.sumShipDay()}</td>
        <td>
          <a href="@{Elcuk.editShipDayConfigs(market, shipType, config.id)}" class="btn btn-info">修改</a>
        </td>
      </tr>
    #{/list}
#{/list}
</table>
