#{extends 'main.html'/}
#{set title:'Attribute' /}
#{set 'moreScripts'}
    #{script 'products/attrs.js'/}
#{/set}

<div class="row">
    <div class="span12" style="margin:5px 0;">
        <a data-toggle="modal" href="#addAttr" class="btn btn-primary btn-small">添加</a>
    </div>
</div>

<div class="row">
    <div class="span12">
        <table class="table table-condensed table-bordered">
            <tr>
                <th>Name</th>
                <th>Fullname</th>
                <th>Memo</th>
                <th>Cates</th>
                <th>Prods</th>
                <th>Op</th>
            </tr>
        #{list items:attrs, as:'at'}
            <tr id="aid_${at.name}">
                <td>
                ${at.name}
                    <input type="hidden" name="a.name" value="${at.name}">
                </td>
                <td><input type="text" name="a.fullName" class="input input-medium" value="${at.fullName}"></td>
                <td><input type="text" name="a.memo" class="input input-large" value="${at.memo}"></td>
                <td>${at.categories.size()}</td>
                <td>${at.products.size()}</td>
                <td><a href="#" aid="${at.name}" class="btn btn-mini btn-primary">更新</a></td>
            </tr>
        #{/list}
        </table>
    </div>
</div>


<div id="addAttr" class="modal hide fade" style="display:none;">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>添加 AttrName</h3>
    </div>
    <div class="modal-body">
        <form id='add_att_form' class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label for="a.name" class="control-label">Name</label>

                    <div class="controls">
                        <input type="text" id="a.name" name="a.name">

                        <p class="help-block">属性名称的简写 Id, 例如: qty</p>
                    </div>
                </div>

                <div class="control-group">
                    <label for="a.fullName" class="control-label">Fullname</label>

                    <div class="controls">
                        <textarea id="a.fullName" name="a.fullName"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label for="a.memo" class="control-label">Memo</label>

                    <div class="controls">
                        <textarea id="a.memo" name="a.memo"></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" id="attAddBtn">Save changes</a>
    </div>
</div>
