#{extends 'main_full.html' /}
#{set title:'Feed' /}

<div id="prod_list">
#{if feeds.size() == 0}
    等待创建新的 Feed
#{/if}
#{else }
    <table class="table table-condensed table-bordered">
      <tr>
        <th>FeedId</th>
        <th>Fid</th>
        <th>CreateAt</th>
        <th>UpdateAt</th>
      </tr>
    #{list items:feeds, as:'feed'}
      <tr>
        <td><a target="_blank" href="@{Feeds.show(feed.id)}">${feed.feedId}</a></td>
        <td>${feed.fid}</td>
        <td>${feed.createdAt}</td>
        <td>${feed.updatedAt}</td>
      </tr>
    #{/list}
    </table>
#{/else}
</div>
