<div class="accordion-group">
  <div class="accordion-heading">
    <h4 class="accordion-toggle" data-toggle="collapse" data-target="#collapse2">
      Package
    </h4>
  </div>
  <div id="collapse2" class="accordion-body collapse in">
    <div class="accordion-inner">
      <div id="collapseOne" class="accordion-body collapse in">
        <div style="min-height:150px;" id="packageDropbox">
          <ul class="thumbnails uploaded"></ul>
          <div class="message" style="height:150px;padding-top:145px;text-align:center;">拖拽文件到此上传</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion-group">
  <div class="accordion-heading">
    <h4 class="accordion-toggle" data-toggle="collapse" data-target="#collapse3">
      说明书
    </h4>
  </div>
  <div id="collapse3" class="accordion-body collapse">
    <div class="accordion-inner">
      <div id="collapseOne" class="accordion-body collapse in">
        <div style="min-height:150px;" id="instructionsDropbox">
          <ul class="thumbnails uploaded"></ul>
          <div class="message" style="height:150px;padding-top:145px;text-align:center;">拖拽文件到此上传</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion-group">
  <div class="accordion-heading">
    <h4 class="accordion-toggle" data-toggle="collapse" data-target="#collapse4">
      丝印文件
    </h4>
  </div>
  <div id="collapse4" class="accordion-body collapse">
    <div class="accordion-inner">
      <div id="collapseOne" class="accordion-body collapse in">
        <div style="min-height:150px;" id="silkscreenDropbox">
          <ul class="thumbnails uploaded"></ul>
          <div class="message" style="height:150px;padding-top:145px;text-align:center;">拖拽文件到此上传</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="accordion-group">
  <div class="accordion-heading">
    <h4 class="accordion-toggle" data-toggle="collapse" data-target="#collapse1">
      Images
    </h4>
  </div>
  <div id="collapse1" class="accordion-body collapse">
    <div class="accordion-inner">
      <div id="collapseOne" class="accordion-body collapse in">
        <div style="min-height:300px;" id="dropbox">
          <ul class="thumbnails uploaded"></ul>
          <div class="message" style="height:150px;padding-top:145px;text-align:center;">拖拽文件到此上传</div>
        </div>
      </div>
    </div>
  </div>
</div>