<!-- 隐藏 Model -->
<div class="modal fade" id="logForm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form action="@{Products.destroy()}" class="form-horizontal">
      <div class="modal-content">
        <div class="modal-header">
          <h3>记录删除原因</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">原因</label>
            <div class="col-sm-10">
              <textarea role="5" name="reason" class="form-control"></textarea>
              <input name="id" type="hidden">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" data-disable-with="删除中..." data-confirm="确认操作?">确认</button>
        </div>
      </div>
    </form>
  </div>
</div>