<div class="row">
  <div class="col-md-6">
    <div class="box box-warning">
      <div class="box-header with-border">
        <form action="" method="get" class="form-inline" id="search_Form">
          <select name="m.type" class="form-control">
            <option value="">物料类型</option>
          #{list items:models.material.Material.T, as:'t'}
            <option value="${t.name()}">${t.label()}</option>
          #{/list}
          </select>

          <div class="input-group">
            <div class="input-group-addon"><i class="icon-search"></i></div>
            <input style="width:200px;" class="form-control" name="m.search" placeholder="物料编码 or Name or 采购计划ID">
          </div>
          <button class="btn btn-primary" id="search_btn" data-url="@{Materials.showMaterialList()}">搜索</button>
        </form>
      </div>
      <div class="box-body">
        <div id="data_div"></div>
      </div>
      <div class="box-footer">
        <button class="btn btn-warning" id="bind_btn" data-url="@{Materials.bindMaterialForSku()}" data-sku="${pro.sku}">
          绑定
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box box-success">
      <div class="box-header with-border">
        <button class="btn btn-warning" id="unBind_btn" data-url="@{Materials.unBindMaterialForSku()}"
                data-sku="${pro.sku}">解绑
        </button>
      </div>
      <div class="box-body">
        <div id="bind_div">
          <table class="table table-condensed table-bordered">
            <tr>
              <th></th>
              <th>物料编码</th>
              <th>物料名称</th>
              <th>规格</th>
              <th width="150px;">工艺</th>
              <th width="150px;">工厂物料代码</th>
            </tr>
          #{list items:pro.materials, as:'m'}
            <tr>
              <td><input type="checkbox" name="mids" value="${m.id}"></td>
              <td><a href="@{Materials.edit(m.id)}" target="_blank">${m.code}</a></td>
              <td data-toggle="tooltip" title="${m.name}">${m.name.nineLong()}</td>
              <td data-toggle="tooltip" title="${m.specification}">${m.specification.nineLong()}</td>
              <td data-toggle="tooltip" title="${m.technology}">${m.technology.nineLong()}</td>
              <td data-toggle="tooltip" title="${m.version}">${m.version.nineLong()}</td>
            </tr>
          #{/list}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
