#{if prods.size() == 0}
<p class="muted text-center">等待添加新产品.</p>
#{/if}
#{else }
<table class="table table-condensed table-bordered">
  <tr>
    <th style="width:40px;"></th>
    <th style="width:150px;">SKU</th>
    <th style="width:100px;">Category</th>
    <th style="width:350px;">Name</th>
    <th style="width:100px;">最近采购价格</th>
    <th style="width:120px;">最近采购供应商</th>
    <th style="width:70px;">产品状态</th>
    <th style="width:70px;">销售级别</th>
    <th style="width:80px;">上市时间</th>
    <th style="width:80px;">退市时间</th>
    <th style="width:140px;">Action</th>
  </tr>
    #{list items:prods, as:'prod'}
      <tr data-toggle="collapse" data-target="#prod_details_${prod.sku}">
        <td>
          <a href="${prod.showImg()}" target="_blank">
            <img src="${prod.showImg()}" style="width:40px;height:40px;">
          </a>
        </td>
        <td><a target="_blank" href="@{Products.show(prod.sku)}">${prod.sku}</a></td>
        <td>${prod.category}</td>
        <td>${prod.productName}
            #{if prod.origin_sku}<br>
              <span style="color:red">同${prod.origin_project?.name()} sku:
            <a href="${prod.origin_project?.url()}product/${prod.origin_sku}" target="_blank">${prod.origin_sku}</a>
          </span>
            #{/if}
        </td>
          #{set unit: prod.recentlyUnit()/}
        <td>${unit.attrs.currency?.symbol()} ${unit.attrs.price}</td>
        <td><a href="@{Cooperators.show(unit.cooperator?.id)}" target="_blank">${unit.cooperator?.name}</a></td>
        <td>
          <select name='pro.state' style="width:90px;" class="form-control" data-sku="${prod.sku}">
            <option>请选择</option>
              #{list items: models.product.Product.S.values(), as: 's'}
                <option value="${s}" ${prod.state == s? 'selected' : ''}>${s}</option>
              #{/list}
          </select>
        </td>
        <td>
          <select name='pro.salesLevel' style="width:80px;" class="form-control" data-sku="${prod.sku}">
            <option>请选择</option>
              #{list items: models.product.Product.E.values(), as: 's'}
                <option value="${s}" ${prod.salesLevel == s? 'selected' : ''}>${s}</option>
              #{/list}
          </select>
        </td>
        <td>#{time_tooltip_v3 time:prod.marketTime/}</td>
        <td>#{time_tooltip_v3 time:prod.delistingTime/}</td>
        <td>
          <a href="javascript:void(0);" name="copyBtn" class="btn btn-xs btn-success" data-toggle="tooltip" title="同步"
             data-sku="${prod.sku}">
            <i class="icon-refresh"></i>
          </a>
          <a href="javascript:void(0);" name="backupBtn" class="btn btn-xs btn-info" data-toggle="tooltip" title="复制"
             data-sku="${prod.sku}" data-family="">
            <i class="icon-copy"></i>
          </a>
            #{power.ck "products.destroy"}
              <a href="javascript:void(0);" name="deleteBtn" class="btn btn-xs btn-danger" data-toggle="tooltip" title="删除"
                 data-sku="${prod.sku}"><i class="icon-trash"></i></a>
            #{/power.ck}
          <a href="" class="btn btn-xs btn-warning" rel="tooltip" title="物料配置">
            <i class="icon-th-list"></i>
          </a>
        </td>
      </tr>
    #{/list}
</table>
#{/else}

