#{if prods.size() == 0}
<p class="muted text-center">等待添加新产品.</p>
#{/if}
#{else }
<table class="table table-condensed table-bordered">
  <tr>
    <th style="min-width:120px;">SKU</th>
    <th style="width:100px;">Family</th>
    <th>Name</th>
    <th style="width:80px;">最近采购价格</th>
    <th style="width:100px;">最近采购供应商</th>
    <th style="width:80px;">产品状态</th>
    <th style="width:80px;">销售级别</th>
    <th>上市时间</th>
    <th>退市时间</th>
    <th style="width:100px;">Action</th>
  </tr>
    #{list items:prods, as:'prod'}
      <tr data-toggle="collapse" data-target="#prod_details_${prod.sku}">
        <td><a target="_blank" href="@{Products.show(prod.sku)}">${prod.sku}</a></td>
        <td>${prod.family?.family}</td>
        <td class="span10">${prod.productName}</td>
          #{set unit: prod.recentlyUnit()/}
        <td>${unit.attrs.currency?.symbol()} ${unit.attrs.price}</td>
        <td><a href="@{Cooperators.show(unit.cooperator?.id)}" target="_blank">${unit.cooperator?.name}</a></td>
        <td>
          <select name='pro.state' class="span1" style="width:90px;" size="1">
            <option>请选择</option>
              #{list items: models.product.Product.S.values(), as: 's'}
                <option value="${s}" ${prod.state == s? 'selected' : ''}>${s}</option>
              #{/list}
          </select>
        </td>
        <td>
          <select name='pro.salesLevel' class="span1" style="width:80px;" size="1">
            <option>请选择</option>
              #{list items: models.product.Product.E.values(), as: 's'}
                <option value="${s}" ${prod.salesLevel == s? 'selected' : ''}>${s}</option>
              #{/list}
          </select>
        </td>
        <td>#{time_tooltip time:prod.marketTime/}</td>
        <td>#{time_tooltip time:prod.delistingTime/}</td>
        <td>
          <a href="javascript:void(0);" id="copyBtn" class="btn btn-mini btn-success" rel="tooltip" title="同步">
            <i class="icon-refresh"></i>
          </a>
          <a href="javascript:void(0);" id="backupBtn" class="btn btn-mini btn-info" rel="tooltip" title="复制">
            <i class="icon-copy"></i>
          </a>
            #{power.ck "products.destroy"}
              <a href="javascript:void(0);" id="deleteBtn" class="btn btn-mini btn-danger" rel="tooltip" title="删除">
                <i class="icon-trash"></i>
              </a>
            #{/power.ck}
        </td>
      </tr>
    #{/list}
    #{if pi}
      <tr>
        <td colspan="10">
            #{bootstrap_pager pi:pi, url:'/products/index'/}
        </td>
      </tr>
    #{/if}
</table>
#{/else}

<div id="copy_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>同步SKU</h3>
  </div>
  <div class="modal-body">
  #{form @Products.copy(), id:'update_form'}
    <dl class="dl-horizontal">
      <input type="hidden" id="target_choseid" name="choseid" value="3333"/>
      <dt>选择SKU</dt>
      <dd>
        <input type="text" autocomplete="off" data-provide="typeahead" data-items="5" data-source="${products}"
               name="skuid" value="" style="width:172px;" placeHolder="搜索 SKU">
      </dd>

      <dt>选择同步的信息:</dt>
      <dd>
        <label class="checkbox">
          <input type="checkbox" name="base" value="1" checked>
          <a>基本属性</a>
        </label>
        <label class="checkbox">
          <input type="checkbox" name="extend" value="1" checked>
          <a>扩展属性</a>
        </label>
        <label class="checkbox">
          <input type="checkbox" name="attach" value="1" checked>
          <a>附件</a>
        </label>
      </dd>
    </dl>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <button class="btn btn-primary">同步</button>
    </div>
  #{/form}
  </div>
</div>

<div id="backup_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>复制SKU</h3>
  </div>
  <div class="modal-body">
  #{form @Products.backup(), id:'update_form'}
    <input type="hidden" id="backup_choseid" name="choseid" value="0">

    <tr>
      <th>Family</th>
      <td>
        <input style="width:150px" id="back_families" type="text" name="family" data-provide="typeahead"
               data-source="${families}" value="" autocomplete="off">
      </td>
      <th>SKU</th>
      <td><input style="width:200px" id="back_sku" type="text" name="sku" value="" autocomplete="off"></td>
    </tr>
    <dl class="dl-horizontal">
      <dt>选择复制的信息:</dt>
      <dd>
        <label class="checkbox">
          <input disabled type="checkbox" name="base" value="1" checked>
          <a>基本属性</a>
        </label>
        <label class="checkbox">
          <input type="checkbox" name="extend" value="1" checked>
          <a>扩展属性</a>
        </label>
        <label class="checkbox">
          <input type="checkbox" name="attach" value="1" checked>
          <a>附件</a>
        </label>
      </dd>
    </dl>

    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <button class="btn btn-primary">复制</button>
    </div>
  #{/form}
  </div>
</div>
#{include 'Products/_destroyLogForm.html'/}