#{extends 'main_full_v3.html' /}
#{set title:'创建新 Product' /}
#{set 'moreScripts'}
    #{script 'products/blank.es6'/}
#{/set}

#{errorMsgs /}
#{flash_alert /}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header"></div>
      <form action="@{Products.create()}" method="post" id="create_product_form" role="form" class="form-horizontal" autocomplete="off">
        <div class="box-body">
          <div class="form-group">
            <label for="pro_category" class="col-sm-1 control-label">Category<i class="icon-asterisk" style="color:red"></i></label>
            <div class="col-sm-2">
              <select name="pro.category.categoryId" class="form-control" id="pro_category">
                <option value="">请选择</option>
              #{list items:categorys, as:'c'}
                <option value="${c}" ${c==pro.category?.categoryId? 'selected':''}>${c}</option>
              #{/list}
              </select>
            </div>
            <label for="inputEmail3" class="col-sm-1 control-label">SKU</label>
            <div class="col-sm-7 form-inline">
              <input class="form-control" id="pro_sku" name="pro.sku" value="${pro.sku}" style="width:244px;" required>
              <span style="color:red">sku命名推荐是品线 + 自定义英文+ "-" + 颜色,例如 20BSPB12000-BY</span>
            </div>
          </div>

        #{if isB2B || "Lecone"==models.OperatorConfig.getVal("brandname")}
          <div class="form-group form-inline">
            <label for="p_sku" class="col-sm-1 control-label">对应原始SKU</label>
            <div class="col-sm-3">
              <select style="width:100px;" name="pro.origin_project" class="form-control">
                <option value="">请选择</option>
                  #{list items:models.User.COR.values(), as:'c'}
                    <option value="${c.name()}">${c.label()}</option>
                  #{/list}
              </select>
              <input type="text" name="pro.origin_sku" value="${pro.origin_sku}" class="form-control">
            </div>
            <label class="col-sm-1 control-label">供应商信息</label>
            <div class="col-sm-7">
              <select style="width:100px;" name="cooperatorId" class="form-control">
                <option value="">请选择</option>
                  #{list items:cooperators, as:'c'}
                    <option value="${c.id}">${c.name}</option>
                  #{/list}
              </select>
                #{pickCurrency name:'copItem.currency', c:helper.Currency.CNY, class:'form-control'/}
              <input class="form-control" placeholder="采购单价" name="copItem.price">
              <input class="form-control" placeholder="生产周期(day)" name="copItem.period">
              <input class="form-control" placeholder="最低采购量" name="copItem.lowestOrderNum">
              <input class="form-control" placeholder="其他价格" name="copItem.otherPrice">
              <select class="form-control">
                <option value="CNY">CNY</option>
              </select>
            </div>
          </div>
        #{/if}

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-1 control-label" title="指包装好包材后整个产品的长宽高重量"
                   data-toggle="tooltip">长(包材)
            </label>
            <div class="col-sm-2">
              <div class="input-group">
                <input type="text" class="form-control" name="pro.lengths" value="${pro.lengths}">
                <span class="input-group-addon">mm</span>
              </div>
            </div>

            <label for="inputEmail3" class="col-sm-1 control-label">宽(包材)</label>
            <div class="col-sm-2">
              <div class="input-group">
                <input type="text" class="form-control" name="pro.width" value="${pro.width}">
                <span class="input-group-addon">mm</span>
              </div>
            </div>

            <label for="inputEmail3" class="col-sm-1 control-label">高(包材)</label>
            <div class="col-sm-2">
              <div class="input-group">
                <input type="text" class="form-control" name="pro.heigh" value="${pro.heigh}">
                <span class="input-group-addon">mm</span>
              </div>
            </div>

            <label for="inputEmail3" class="col-sm-1 control-label">重量(包材)</label>
            <div class="col-sm-2">
              <div class="input-group">
                <input type="text" class="form-control col-xs-1" name="pro.weight" value="${pro.weight}">
                <span class="input-group-addon">Kg</span>
                <input type="text" class="form-control col-xs-1" id="pro_weight_g">
                <span class="input-group-addon">g</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-1 control-label" title="是指还未包装的裸产品的长宽高重量"
                   data-toggle="tooltip">长(产品)
            </label>
            <div class="col-sm-2">
              <div class="input-group">
                <input type="text" class="form-control" name="pro.productLengths" value="${pro.productLengths}">
                <span class="input-group-addon">mm</span>
              </div>
            </div>
            <label class="col-sm-1 control-label">宽(产品)</label>
            <div class="col-sm-2">
              <div class="input-group">
                <input type="text" class="form-control" name="pro.productWidth" value="${pro.productWidth}">
                <span class="input-group-addon">mm</span>
              </div>
            </div>

            <label for="inputEmail3" class="col-sm-1 control-label">高(产品)</label>
            <div class="col-sm-2">
              <div class="input-group">
                <input type="text" class="form-control" name="pro.productHeigh" value="${pro.productHeigh}">
                <span class="input-group-addon">mm</span>
              </div>
            </div>
            <label class="col-sm-1 control-label">重量(产品)</label>
            <div class="col-sm-2">
              <div class="input-group">
                <input type="text" class="form-control col-xs-1" name="pro.productWeight" value="${pro.productWeight}">
                <span class="input-group-addon">Kg</span>

                <input type="text" class="form-control col-xs-1" id="pro_productWeight_g">
                <span class="input-group-addon">g</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-1 control-label">申报价格(USD)</label>
            <div class="col-sm-2">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" name="pro.declaredValue" value="${pro.declaredValue}">
              </div>
            </div>
            <label class="col-sm-1 control-label">申报品名(运输)</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="pro_declareName" name="pro.declareName" value="${pro.declareName}">
            </div>

            <label for="inputEmail3" class="col-sm-1 control-label">用途(运输)</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" name="pro.useWay" value="${pro.useWay}">
            </div>
            <label class="col-sm-1 control-label">中文品名(运输)</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" name="pro.chineseName" value="${pro.chineseName}">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-1 control-label">销售等级</label>
            <div class="col-sm-2">
              <select class="form-control" name="pro.salesLevel">
              #{list items:models.product.Product.E.values(), as:'e'}
                <option value="${e}" ${e == pro.salesLevel?.name() ?'selected':''}>${e}</option>
              #{/list}
              </select>
            </div>
            <label class="col-sm-1 control-label">上架状态</label>
            <div class="col-sm-2">
              <select class="form-control" name="pro.marketState">
              #{list items:models.product.Product.T.values(), as:'t'}
                <option value="${t}" ${t == pro.marketState?.name() ?'selected':''}>${t.label()}</option>
              #{/list}
              </select>
            </div>

            <label for="inputEmail3" class="col-sm-1 control-label">采购状态</label>
            <div class="col-sm-2">
              <select class="form-control" name="pro.procureState">
              #{list items:models.product.Product.P.values(), as:'p'}
                <option value="${p}" ${p == pro.procureState?.name() ?'selected':''}>${p.label()}</option>
              #{/list}
              </select>
            </div>
            <label class="col-sm-1 control-label">产品生命周期</label>
            <div class="col-sm-2">
              <select class="form-control" name="pro.marketState">
              #{list items:models.product.Product.L.values(), as:'t'}
                <option value="${t}" ${t == pro.productState?.name() ?'selected':''}>${t.label()}</option>
              #{/list}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-1 control-label">UPC<i class="icon-asterisk" style="color:red"></i></label>
            <div class="col-sm-2">
              <input type="text" class="form-control" name="pro.upc" value="${pro.upc}" required>
            </div>
            <label class="col-sm-1 control-label">Part Number<i class="icon-asterisk" style="color:red"></i></label>
            <div class="col-sm-2">
              <input type="text" class="form-control" name="pro.partNumber" value="${pro.partNumber}" required>
            </div>
            <label class="col-sm-1 control-label">UPC(JP)</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" name="pro.upcJP" value="${pro.upcJP}">
            </div>
            <label class="col-sm-1 control-label">Part Num.(JP)</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" name="pro.partNumberJP" value="${pro.partNumberJP}">
            </div>
          </div>

          <div class="form-group">
            <label for="pro_abbreviation" class="col-sm-1 control-label">产品名称<i class="icon-asterisk" style="color:red"></i></label>
            <div class="col-sm-5">
              <input type="text" class="form-control" name="pro.abbreviation" id="pro_abbreviation" required
                     value="${pro.abbreviation}">
            </div>
            <label for="inputEmail3" class="col-sm-1 control-label">上市时间</label>
            <div class="col-sm-2">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                <input role="date" class="form-control" name="pro.marketTime" id="marketTimeDate" value="${pro.marketTime}">
              </div>
            </div>
            <label class="col-sm-1 control-label">退市时间</label>
            <div class="col-sm-2">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                <input role="date" class="form-control" name="pro.delistingTime" value="${pro.delistingTime}">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-1 control-label">标题</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" name="pro.productName" value="${pro.productName}" required>
            </div>
            <label for="inputEmail3" class="col-sm-1 control-label">副标题</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" name="pro.subtitle" value="${pro.subtitle}">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-1 control-label">产品定位</label>
            <label class="col-sm-2 control-label" style="text-align:left;">Title</label>
            <label class="col-sm-6 control-label" style="text-align:left;">Content</label>
          </div>

          <div id="locates_table">
          #{list items:pro.locate, as:'locate'}
            <div class="form-group" style="vertical-align:middle;">
              <label class="col-sm-1 control-label"></label>
              <div class="col-sm-2">
                <textarea class="form-control" name="pro.locate[${locate_index - 1}].title">${locate.title}</textarea>
              </div>
              <div class="col-sm-6">
                <textarea class="form-control" name="pro.locate[${locate_index - 1}].content">${locate.content}</textarea>
              </div>
              <div class="col-sm-1">
                <button type="button" class="btn btn-danger btn-sm" name="delete_locate_row">删除</button>
              </div>
            </div>
          #{/list}
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
              <a class="btn btn-default" rel="popover" content="不够?再来一行" placement="right" id="more_locate_btn"
                 data-table="locates_table"><i class="icon-plus"></i> More</a>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-1 control-label">产品卖点</label>
            <label class="col-sm-2 control-label" style="text-align:left;">Title</label>
            <label class="col-sm-6 control-label" style="text-align:left;">Content</label>
          </div>

          <div id="selling_points_table">
          #{list items:pro.sellingPoint, as:'point'}
            <div class="form-group" style="vertical-align:middle;">
              <label class="col-sm-1 control-label"></label>
              <div class="col-sm-2">
                <textarea class="form-control" name="pro.sellingPoint[${point_index - 1}].title">${point.title}</textarea>
              </div>
              <div class="col-sm-6">
                <textarea class="form-control" name="pro.sellingPoint[${point_index - 1}].content">${point.content}</textarea>
              </div>
              <div class="col-sm-1">
                <button type="button" class="btn btn-danger btn-sm" name="delete_selling_point_row">删除</button>
              </div>
            </div>
          #{/list}
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
              <a class="btn btn-default" rel="popover" content="不够?再来一行" placement="right" id="more_selling_point_btn"
                 data-table="selling_points_table"><i class="icon-plus"></i> More</a>
            </div>
          </div>
        </div>

        <div class="box-footer">
          <button class="btn btn-primary">创建</button>
        </div>
      </form>
    </div>
  </div>
</div>
