#{extends 'main.html' /}
#{set title:'创建新 Product' /}
#{set 'moreScripts'}
    #{script 'products/blank.coffee'/}
#{/set}

#{info_row title:'基础信息', row:true}
<br/>
<ul>
  <li>长,宽,高的单位是毫米(mm)</li>
  <li>重量的单位是千克(kg)</li>
  <li class="text-error">请尽可能填写 长,宽,高,重量 这些参数, 因为这些参数是运输所需要的用到的计算参数!</li>
</ul>
#{/info_row}
<div class="row">
  <div class="span12">
  #{errorMsgs /}
  #{flash_alert /}
    <form action="@{Products.create()}" method="post" id="create_product_form">
      <table class="table table-bordered table-condensed">
        <tr>
          <th>Family</th>
          <td>
            <input type="text" id="pro_family" name="pro.family.family" data-provide="typeahead" data-source="${families}" value="${pro.family?.family}">
          </td>

          <th>SKU</th>
          <td><input type="text" id="pro_sku" name="pro.sku" value="${pro.sku}"></td>
        </tr>

        <tr>
          <th>长</th>
          <td>
            <div class="input-append">
              <input type="text" style="width:100px" name="pro.lengths" value="${pro.lengths}">
              <span class="add-on">mm</span>
            </div>
          </td>

          <th>宽(mm)</th>
          <td>
            <div class="input-append">
              <input type="text" style="width:100px" name="pro.width" value="${pro.width}">
              <span class="add-on">mm</span>
            </div>
          </td>
        </tr>

        <tr>
          <th>高(mm)</th>
          <td>
            <div class="input-append">
              <input type="text" style="width:100px" name="pro.heigh" value="${pro.heigh}">
              <span class="add-on">mm</span>
            </div>
          </td>

          <th>重量(kg)</th>
          <td>
            <div class="input-append">
              <input type="text" style="width:100px" name="pro.weight" value="${pro.weight}">
              <span class="add-on">Kg</span>
            </div>
          </td>
        </tr>

        <tr>
          <th>申报价格(USD)</th>
          <td>
            <div class="input-prepend">
              <span class="add-on">$</span>
              <input type="text" style="width:100px" name="pro.declaredValue" value="${pro.declaredValue}">
            </div>
          </td>
          <th>产品品名</th>
          <td>
            <input type="text" id="pro_declareName" name="pro.declareName" value="${pro.declareName}">
          </td>
        </tr>

        <tr>
          <th>上市时间</th>
          <td>
            <input type="date" name="pro.marketTime" value="${pro.marketTime}">
          </td>

          <th>上架状态</th>
          <td>
          #{select_enum name: "pro.marketState", items: models.product.Product.T.values(), value: pro.marketState/}
          </td>
        </tr>

        <tr>
          <th>采购状态</th>
          <td>
          #{select_enum name: "pro.procureState", items: models.product.Product.P.values(), value: pro.procureState/}
          </td>

          <th>产品的生命周期</th>
          <td>
          #{select_enum name: "pro.productState", items: models.product.Product.L.values(), value: pro.productState/}
          </td>
        </tr>

        <tr>
          <th>销售等级</th>
          <td colspan="3">
          #{select 'pro.salesLevel', items: models.product.Product.E.values(), value: pro.salesLevel}#{/select}
          </td>
        </tr>

        <tr>
          <th>产品简称</th>
          <td colspan="3">
            <input type="text" style="width:95%" id="pro_abbreviation" name="pro.abbreviation" value="${pro
            .abbreviation}">
          </td>
        </tr>

        <tr>
          <th>标题</th>
          <td colspan="3">
            <input type="text" style="width:95%" value="${pro.productName}" name="pro.productName">
          </td>
        </tr>

        <tr>
          <th>产品定位</th>
          <td colspan="3">
            <table class="table table-hover table-condensed table-bordered" id="locates_table">
              <tr>
                <th>Title</th>
                <th>Content</th>
              </tr>
            #{list items:pro.locate, as:'locate'}
              <tr>
                <td class="span4">
                  <textarea rows="2" style="width:90%" name="pro.locate[${locate_index - 1}].title">${locate
                  .title}</textarea>
                </td>
                <td>
                  <textarea rows="2" style="width:90%" name="pro.locate[${locate_index - 1}].content">${locate
                  .content}</textarea>
                </td>
              </tr>
            #{/list}
            </table>
            <a class="btn" rel="popover" content="不够?再来一行" placement="right"
               id="more_locate_btn" data-table="locates_table">
              <i class="icon-plus"></i> More
            </a>
          </td>
        </tr>

        <tr>
          <th>产品卖点</th>
          <td colspan="3">
            <table class="table table-hover table-condensed table-bordered" id="selling_points_table">
              <tr>
                <th>Title</th>
                <th>Content</th>
              </tr>
            #{list items:pro.sellingPoint, as:'point'}
              <tr>
                <td class="span4">
                  <textarea rows="2" style="width:90%" name="pro.sellingPoint[${point_index - 1}].title">${point.title}</textarea>
                </td>
                <td>
                  <textarea rows="2" style="width:90%" name="pro.sellingPoint[${point_index - 1}].content">${point.content}</textarea>
                </td>
              </tr>
            #{/list}
            </table>
            <a class="btn" rel="popover" content="不够?再来一行" placement="right"
               id="more_selling_point_btn" data-table="selling_points_table">
              <i class="icon-plus"></i> More
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <button class="btn btn-primary">创建</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
