#{extends 'main.html'/}
#{set title:'Category' /}
#{set 'moreScripts'}
    #{script 'products/category.js'/}
#{/set}
<div class="row" style="margin:10px 0;">
    <div class="span12">
        <!-- BTN-1-BEGIN -->
        <a class="btn btn-primary" data-toggle="modal" href="#add_modal" id="add_category">添加</a>

        <div id="add_modal" class="modal hide fade">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>

                <h3>添加 Category</h3>
            </div>

            <div class="modal-body">
                <form id='add_cat_form' class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label for="c.categoryId">CategoryId</label>

                            <div class="controls">
                                <input type="text" id="c.categoryId" name="c.categoryId">

                                <p class="help-block">Category 的 Id, 例如皮套为 71</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="c.name">Name</label>

                            <div class="controls">
                                <input type="text" id="c.name" name="c.name">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="c.memo">Memo</label>

                            <div class="controls">
                                <textarea id="c.memo" name="c.memo"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="addCategoryBtn">Save</a>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
        <!-- BTN-1-END -->
    </div>
</div>

<div class="row">
    <div class="span12">
    #{if cates.size() == 0}
        等待添加新类别
    #{/if}
    #{else }
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>CategoryId</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
            #{list items:cates, as:'cat'}
                <tr class="cat_info cat_${cat_parity}" id='cat_${cat.id}'>
                    <td data-toggle="collapse" data-target="#cat_m_${cat.id}">
                        <input readonly type='text' name="c.id" value="${cat.id}">
                    </td>
                    <td><input type='text' name="c.categoryId" value="${cat.categoryId}"></td>
                    <td><input type='text' name="c.name" value="${cat.name}"></td>
                    <td><a href="#" class="btn btn-small btn-primary" cid="${cat.id}">Save</a></td>
                </tr>
                <tr class="cat_memo" id='cat_memo_${cat.id}'>
                    <td colspan="4">
                        <div id="cat_m_${cat.id}" class="collapse">
                            <textarea rows="5" style="width:98%"
                                      name="c.memo">${cat.memo.empty ? '没有信息' : cat.memo}</textarea>
                        </div>
                    </td>
                </tr>
            #{/list}
            <tr>
                <td colspan="4">
                    #{bootstrap_pager c:pi.count, s:pi.size, p:pi.page, u:'/products/c_index'/}
                </td>
            </tr>
        </table>
    #{/else}
    </div>
</div>
