#{extends 'main_full.html' /}
#{set title:'Product' /}
#{set 'moreScripts'}
*{#{script 'products/product.coffee'/}}*
#{/set}

<div style="margin:5px 0 0;" class="row">
    <a href="@{Products.blank()}" class="btn btn-primary" target="_blank">添加新产品</a>

    <div class="span3 pull-right input-prepend input-append">
        <form action="@{Products.search()}" method="post">
            <span class="add-on"><i class="icon-search"></i></span>
            <input type="text" data-provide="typeahead" data-items="5" data-source="${fmys}" name="sku" value="${sku}" style="width:172px;" placeHolder="搜索 SKU">
            <button class="btn">搜索</button>
        </form>
    </div>
</div>


<div id="prod_list">
#{if prods.size() == 0}
    等待添加新产品
#{/if}
#{else }
    #{render 'Products/_products.html', prods:prods, pi:pi/}
#{/else}
</div>
