#{extends 'main.html' /}
#{set title:'Product' /}
#{set 'moreStyles'}
    #{stylesheet 'products/product.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'products/product.js'/}
#{/set}
<div class="proList">
    <div class="pfunc">
        <div class="grid_12"> <!-- Funciton Bar -->
            <input type="checkbox" id='prodAll'/>
            <label for="prodAll">
                <button>全选</button>
            </label> |
            <button class="prodInput" rel='#add_prod'>添加产品</button>
        </div>

        <!-- Add Product Form -->
        <div class="add_prod" id="add_prod">
            <h2>添加一个新的 Product</h2>

        #{form @Products.p_create(), id:'add_prod_form'}
            <table class="add_form">
                <tr>
                    <td class="label"><label for="p.sku">SKU</label></td>
                    <td colspan="7"><input type="text" id='p.sku' name="p.sku"></td>
                </tr>
                <tr>
                    <td class="label"><label for="p.productName">PName</label></td>
                    <td colspan="7"><input class="v2" type="text" id='p.productName'
                                           name="p.productName"></td>
                </tr>
                <tr>
                    <td class="label"><label for="p.lengths">L</label></td>
                    <td><input class="v1" type="text" id='p.lengths' name="p.lengths"></td>
                    <td class="label"><label for="p.heigh">H</label></td>
                    <td><input class="v1" type="text" id='p.heigh' name="p.heigh"></td>
                    <td class="label"><label for="p.width">W</label></td>
                    <td><input class="v1" type="text" id='p.width' name="p.width"></td>
                    <td class="label"><label for="p.weight">Wt</label></td>
                    <td><input class="v1" type="text" id='p.weight' name="p.weight"></td>
                </tr>
                <tr>
                    <td class="label"><label>Category</label></td>
                    <td colspan="7">
                        #{if cates.size() == 0}
                            <input type="text" name="p.nocat" value="请添加 Category" readonly>
                        #{/if}
                        #{else }
                            #{cat_select cates:cates, catId:0 /}
                        #{/else}
                    </td>
                </tr>
            </table>
            <div class="end">&nbsp;</div>

            <button type="button" class="close">关闭</button>
            <button type="reset">重置</button>
        #{/form}
            <button type="button" id='addProdPostBtn'>创建</button>
        </div>
    </div>
    <div class="itemList">
    #{if prods.size() <= 0}
        等待添加新产品
    #{/if}
    #{else }
        <table class="prod_table">
            <tr>
                <th>Id</th>
                <th>SKU</th>
                <th>Name</th>
                <th>L</th>
                <th>H</th>
                <th>W</th>
                <th>Wt</th>
            </tr>
            #{list items:prods, as:'prod'}
                <tr class="prodItem">
                    <td class="p_id">${prod.id}</td>
                    <td class="sku">${prod.sku}</td>
                    <td class="name">${prod.productName}</td>
                    <td>${prod.lengths == null ? 0 : prod.lengths}</td>
                    <td>${prod.heigh == null ? 0 : prod.heigh}</td>
                    <td>${prod.width == null ? 0 : prod.width}</td>
                    <td>${prod.weight == null ? 0 : prod.weight}</td>
                </tr>
                <tr class="prodDetail"> <!-- 将 ProductQTY 添加进入一个 Tab -->
                    <td colspan="7">
                        <ul class="tabs">
                            <li><a href="#">基本信息</a></li>
                            <li><a href="#">库存信息</a></li>
                        </ul>
                        <!-- 基本信息 Tab -->
                        <div class="panes prod">
                            <div id="prod_info_${prod.id}">
                                <table>
                                    <tr>
                                        <td class="label">SKU</td>
                                        <td colspan="7"><input type="text" name="p.sku" value="${prod.sku}"></td>
                                    </tr>
                                    <tr>
                                        <td class="label">PName</td>
                                        <td colspan="7"><input type="text" name="p.productName"
                                                               value="${prod.productName}"></td>
                                    </tr>
                                    <tr>
                                        <td class="label">L</td>
                                        <td><input type="text" name="p.lengths"
                                                   value="${prod.lengths == null ? 0 : prod.lengths}"></td>
                                        <td class="label">H</td>
                                        <td><input type="text" name="p.heigh"
                                                   value="${prod.heigh == null ? 0 : prod.heigh}"></td>
                                        <td class="label">W</td>
                                        <td><input type="text" name="p.width"
                                                   value="${prod.width == null ? 0 : prod.width}"></td>
                                        <td class="label">Wt</td>
                                        <td><input type="text" name="p.weight"
                                                   value="${prod.weight == null ? 0 : prod.weight}"></td>
                                    </tr>
                                    <tr>
                                        <td class="label">Category</td>
                                        <td>
                                            #{cat_select cates:cates, catId:prod.category.categoryId/}
                                            <input type="hidden" name="p.id" value="${prod.id}">
                                        </td>
                                        <td colspan="6">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="8">
                                            <div class="relateSKU">
                                                <div class="label">Relate SKUs</div>
                                                <div class="input"><input type="text" name="relateSKU"></div>
                                                <div class="skus">存放关联 Product 的显示的地方</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8">
                                            <button type="button" class="saveProdInfo" pid='${prod.id}'>保存</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- 库存信息 Tab -->
                            <div>Second 库存信息</div>
                        </div>
                    </td>
                </tr>
            #{/list}
        </table>
    #{/else}
    </div>
</div>

