#{extends 'main.html' /}
#{set title:'Create Product' /}
#{set 'moreScripts'}
    #{script 'products/pNew.js'/}
#{/set}

<div class="alert alert-success" id="success_link" style="visibility:hidden;">
    <div class="offset5 span3">
        <a href="#"><h3>添加成功!</h3></a>
    </div>
</div>
<div class="clearfix"></div>
<div><span class="label label-success">Basic</span></div>
<div style="height:200px;overflow:auto;">
    <table class="table table-bordered table-condensed">
        <tr>
            <td>SKU:</td>
            <td><input type="text" class="input-medium" name="p.sku" id="p_sku" value="${p.sku}"></td>
            <td>L:</td>
            <td><input type="text" class="input-mini" name="p.lengths" value="${p.lengths}"></td>
            <td>H:</td>
            <td><input type="text" class="input-mini" name="p.heigh" value="${p.heigh}"></td>
            <td>W:</td>
            <td><input type="text" class="input-mini" name="p.width" value="${p.width}"></td>
            <td>Wt:</td>
            <td><input type="text" class="input-mini" name="p.weight" value="${p.weight}"></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td colspan="9"><input type="text" name="p.listingName" class="span10" value="${p.productName}"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select name="p.category.categoryId" size="1" class="span2.5" id="cat_select">
                    <option value="0">请选择</option>
                #{list items:cats, as:'c'}
                    <option value="${c.categoryId}">${c}</option>
                #{/list}
                </select>
            </td>
            <td>Brand:</td>
            <td class="span2" id="cat_brand"></td>
            <td>Family:</td>
            <td class="span2" id="brand_family"></td>
            <td colspan="4">&nbsp;</td>
        </tr>
    </table>
</div>

<!-- TODO Category 选择以后, 会有 Attribute 与 Brand 会改变 -->

<div><span class="label label-success">Attributes</span></div>
<!-- 必须填写的 Category 继承的 -->
<div class="row">
    <div class="span7" style="height:200px;overflow:auto;margin-top:2px">
        <blockquote id="cat_attr_div">
            <p>请选择 Category</p>
        </blockquote>
    </div>
    <div class="span4" style="">
        <blockquote>
            <h3>左侧部分为从 Category 继承下来的必须填写的 Product 字段</h3>
        </blockquote>
    </div>
    <div class="clearfix"></div>
    <hr/>
    <div class="span7" style="height:200px;overflow:auto;">
        <div style="height:70px;overflow:auto;" id="attr_div_slider">
            <blockquote>
                <p>请选择 Category</p>
            </blockquote>
        </div>
        <div style="height:130px;overflow:auto;">
            <blockquote id="attr_div">
            </blockquote>
        </div>
    </div>
    <div class="span4" style="height:200px;overflow:auto;">
        <blockquote>
            <h3>左侧部分为 AttrName 中存在的可自行添加的其他的 Product 字段</h3>
        </blockquote>
    </div>
</div>

<div class="row">
    <div>
        <button id="addProduct" class="btn btn-primary span12">添加</button>
    </div>
</div>
