<table class="table table-striped">
    <tr>
        <th>SKU</th>
        <th>Name</th>
        <th>L</th>
        <th>H</th>
        <th>W</th>
        <th>Wt</th>
    </tr>
#{list items:prods, as:'prod'}
    <tr data-toggle="collapse" data-target="#prod_details_${prod.sku}">
        <td class="span2"><a target="_blank" href="@{Products.show(prod.sku)}">${prod.sku}</a></td>
        <td class="span6">${prod.productName}</td>
        <td>${prod.lengths == null ? 0 : prod.lengths}</td>
        <td>${prod.heigh == null ? 0 : prod.heigh}</td>
        <td>${prod.width == null ? 0 : prod.width}</td>
        <td>${prod.weight == null ? 0 : prod.weight}</td>
    </tr>
#{/list}
</table>