#{extends 'main_full_v3.html'/}
#{set title:pro.sku /}
#{set 'moreScripts'}
    #{script 'highstock.js'/}
    #{script 'jquery.filedrop.js' /}
    #{script 'component/dropUpload.coffee'/}
    #{script 'products/show.es6'/}
    #{script 'products/skulinechart.coffee'/}
    #{script 'mobileBUGFix.mini.js'/}
#{/set}

#{errorMsgs /}
#{flash_alert /}

<section class="content-max-width">
  <div class="callout callout-warning">
    <p>如果想在首页看到对应图片，可以在附件管理页面添加名字为0.jpg的图片</p>
    <p>如果附件管理不能正常显示，请联系开发部</p>
  </div>
</section>

#{if pro == null}
读取的 Product 不存在!
#{/if}
#{else }

<div class="row">
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#basicinfo" data-toggle='tab'>基本信息</a></li>
        <!-- <li><a href="#extends" data-toggle='tab'>物流信息</a></li> -->
        <li><a href="#newattach" data-toggle='tab'>附件管理</a></li>
        <li><a href="#saleinfo" data-toggle='tab' id="skuSaleInfo">销售信息</a></li>
        <li><a href="#procureinfo" data-toggle='tab' id="skuProcureInfo">采购信息</a></li>
          #{power.ck "products.whouseattrs"}
            <li><a href="#whouseAttrs" data-toggle="tab" id="showWhouseAttr">仓库信息</a></li>
          #{/power.ck}
        <li><a href="#material_tab" data-toggle='tab'>物料信息</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id='basicinfo'>
            #{include 'Products/_basicInfo.html'/}
        </div>

        <div class="tab-pane" id="extends">
          <div class="row-fluid">
            <div class="box box-warning">
              <div class="box-header">
                <h4>Attributes</h4>
                <form class="form-inline" id="select_template_form">
                  <select name="templateId" class="form-control">
                    <option value="">请选择模板</option>
                      #{list items:templates, as:'template'}
                        <option value="${template.id}">${template.name}</option>
                      #{/list}
                  </select>
                  <input type="hidden" name="sku" value="${pro.sku}">
                  <a class="btn btn-primary" rel="popover" content="将属性模板内的属性字段添加到下方" id="add_template_btn">添加属性</a>
                </form>
              </div>
              <div class="box-body">
                <div id="extends_atts_home">
                    #{include 'Products/_attrs.html'/}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="newattach">
          <div class="row-fluid">
            <div style="min-height:300px;" class="span12 well" id="dropbox">
              <ul class="thumbnails uploaded"></ul>
            #{power.ck "products.edit"}
              <div class="message" style="height:150px;padding-top:145px;text-align:center;">Drag & Drop</div>
            #{/power.ck}
            </div>
          </div>
        </div>

        <div class="tab-pane" id="saleinfo">
          <input type="hidden" name="skuvalue" value="0">
            #{info_row title:'销售额和销量'/}
          <div class="row-fluid">
            <div class="span6" style="height:450px;" id='skusalefee'></div>
            <div class="span6" style="height:450px;" id='skusaleqty'></div>
          </div>
            #{info_row title:'利润'/}
          <div class="row-fluid">
            <div class="span6" style="height:450px;width:1200px" id='skuprofit'></div>
          </div>
        </div>

        <div class="tab-pane" id="procureinfo">
          <input type="hidden" name="skuprocurevalue" value="0">
          <div class="row-fluid">
            <table class="table table-bordered">
              <tr>
                <td class="span2">总采购数量</td>
                <td>${procureqty}</td>
              </tr>
            </table>
          </div>
            #{info_row title:'采购价格'/}
          <div class="row-fluid">
            <div class="span6" style="height:450px;width:1200px" id='skuprocureprice'></div>
          </div>
            #{info_row title:'采购数量'/}
          <div class="row-fluid">
            <div class="span6" style="height:450px;width:1200px" id='skuprocureqty'></div>
          </div>
        </div>

          #{power.ck "products.whouseattrs"}
            <div class="tab-pane" id="whouseAttrs">
                #{include 'Products/_whouseAttrsForm.html'/}
            </div>
          #{/power.ck}

        <div class="tab-pane" id="material_tab">
            #{include 'Products/_material.html'/}
        </div>

      </div>
    </div>
  </div>
</div>
#{/else}

