#{extends 'main.html' /}
#{set title:pro.sku /}
#{set 'moreScripts'}
    #{script 'jquery.filedrop.js' /}
    #{script 'component/dropUpload.coffee'/}
    #{script 'products/product_detail.coffee'/}
#{/set}

<div class="row">
#{if pro == null}
    读取的 Product 不存在!
#{/if}
#{else }
    #{errorMsgs /}
    #{flash_alert /}
    #{info_row title:'基本信息'}
        <ul>
            <li>长,宽,高的单位为: mm</li>
            <li>重量的单位为 kg</li>
        </ul>
    #{/info_row}
    <div class="row-fluid">
        <form action="@{Products.update()}" method="post">
            <table class="table table-bordered" id="prod_basic">
                <tr>
                    <td>SKU</td>
                    <td>${pro.sku}<input id="p_sku" type="hidden" name="pro.sku" value="${pro.sku}"></td>
                    <td>长</td>
                    <td>
                        <input type="text" class="input-mini" name="pro.lengths" value="${pro.lengths}">
                    </td>
                    <td>宽</td>
                    <td>
                        <input type="text" class="input-mini" name="pro.width" value="${pro.width}">
                    </td>
                    <td>高</td>
                    <td>
                        <input type="text" class="input-mini" name="pro.heigh" value="${pro.heigh}">
                    </td>
                    <td>重量</td>
                    <td>
                        <input type="text" class="input-mini" name="pro.weight" value="${pro.weight}">
                    </td>
                </tr>
                <tr>
                    <td>产品名称</td>
                    <td colspan="9">
                        <textarea rows="3" name="pro.productName" class="span11">${pro.productName}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>${pro.category}</td>
                    <td>Brand</td>
                    <td>${pro?.family?.brand}</td>
                    <td>Family</td>
                    <td>${pro?.family?.family}</td>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="10">
                        <button class="btn btn-primary" data-loading>保存</button>
                        <a href="@{Products.saleAmazon()}/${pro.sku}" class="btn btn-info">Amazon 上架</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>


    #{info_row title:'Product (Selling)QTY'/}
    <div>
        <table class="table table-bordered" id="prod_sqty">
            <tr>
                <th>Qid</th>
                <th>Inbound</th>
                <th>Qty</th>
                <th>Unsellable</th>
                <th>Pending</th>
                <th>ASIN</th>
                <th>Whouse</th>
                <th>&nbsp;</th>
            </tr>
            #{list items:qtys, as:'q'}
                <tr id="prod_qty_${q.id}">
                    <td>${q.id}<input type="hidden" name="q.id" value="${q.id}"></td>
                    <td>
                        <input type="text" class="input-mini" style="color:#4A8BF4;" name="q.inbound" value="${q.inbound}">
                    </td>
                    <td>
                        <input type="text" class="input-mini" style="color:#9BD444;" name="q.qty" value="${q.qty}">
                    </td>
                    <td>
                        <input type="text" class="input-mini" style="color:#D84A38;text-decoration:underline;" name="q.unsellable" value="${q.unsellable}">
                    </td>
                    <td>
                        <input type="text" class="input-mini" style="color:#CC6600;" name="q.pending" value="${q.pending}">
                    </td>
                    <td><a target="_blank" href="${q.selling.asinLink()}">${q.selling.asin}</a>
                        | ${q.selling.market}</td>
                    <td>${q.whouse.name}</td>
                    <td><a href="#" class="btn btn-primary" qid="${q.id}"><i class="icon-save"></i></a></td>
                </tr>
            #{/list}
        </table>
    </div>


    <!-- Product Attrs 这一部分需要重新编写 -->

    #{info_row title:"Images"/}
    <div style="min-height:300px;background:#eee;" id="dropbox">
        <ul class="thumbnails uploaded"></ul>
        <div class="message" style="height:150px;padding-top:145px;text-align:center;">Drag & Drop</div>
    </div>
#{/else}
</div>
