#{extends 'main.html'/}
#{set title:'Whouse'/}
#{set 'moreScripts'}
    #{script 'products/whouse.js'/}
#{/set}
<div class="row" style="margin:10px 0;">
    <div class="span12">
        <!-- BTN-1-BEGIN -->
        <a class="btn btn-primary" data-toggle="modal" href="#add_modal" id="add_wh">添加</a>

        <div id="add_modal" class="modal hide fade">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>

                <h3>添加 Whouse</h3>
            </div>
            <div class="modal-body">
                <form id='add_whs_form' class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label for="w.name">Name</label>

                            <div class="controls">
                                <input type="text" id="w.name" name="w.name">

                                <p class="help-block">Category 的 Id, 例如皮套为 71</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="w.city">City</label>

                            <div class="controls">
                                <input type="text" id="w.city" name="w.city">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="w.province">Province</label>

                            <div class="controls">
                                <input type="text" id="w.province" name="w.province">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="w.postalCode">PostalCode</label>

                            <div class="controls">
                                <input type="text" id="w.postalCode" name="w.postalCode">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="w.country">Country</label>

                            <div class="controls">
                                <input type="text" id="w.country" name="w.country">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="w.address">Address</label>

                            <div class="controls">
                                <input type="text" id="w.address" name="w.address">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="w.memo">Memo</label>

                            <div class="controls">
                                <textarea id="w.memo" name="w.memo"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="addWhBtn">Save</a>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
        <!-- BTN-1-END -->
    </div>
</div>

<div class="row">
    <div class="span12">
    #{if whs.size() == 0}
        等待添加新类别
    #{/if}
    #{else }
        <table class="table table-striped" id="wh_list_table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Province</th>
                <th>PostCode</th>
                <th>Country</th>
                <th>&nbsp;</th>
            </tr>
            #{list items:whs, as:'wh'}
                <tr id='wh_${wh.id}'>
                    <td data-toggle="collapse" data-target="#wh_m_${wh.id}">${wh.id}</td>
                    <td><input type='text' name="w.name" style="width:100%" value="${wh.name}"></td>
                    <td><input type='text' name="c.city" style="width:100%" value="${wh.city}"></td>
                    <td><input type='text' name="c.province" style="width:100%" value="${wh.province}"></td>
                    <td><input type='text' name="c.postalCode" style="width:100%" value="${wh.postalCode}"></td>
                    <td><input type='text' name="c.country" style="width:100%" value="${wh.country}"></td>
                    <td class="action">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action <span
                                    class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" update whid="${wh.id}">Update</a></li>
                                <li><a href="#" remove whid="${wh.id}" whname="${wh.name}">Remove</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr id='wh_memo_${wh.id}'>
                    <td colspan="7">
                        <div class="row-fluid collapse" id="wh_m_${wh.id}">
                            <div class="span4">
                                <textarea title="Address" rows="5" style="width:100%"
                                          name="w.address">${wh.address.empty ? '没有信息' : wh.address}</textarea>
                            </div>
                            <div class="span7">
                                <textarea title="Memo" rows="5" style="width:100%"
                                          name="w.memo">${wh.memo.empty ? '没有信息' : wh.memo}</textarea>
                            </div>
                        </div>
                    </td>
                </tr>
            #{/list}
            <tr class="tb_footer">
                <td colspan="7">
                    #{bootstrap_pager c:pi.count, s:pi.size, p:pi.page, u:'/products/w_index'/}
                </td>
            </tr>
        </table>
    #{/else}
    </div>
</div>
