#{extends 'main.html'/}
#{set title:'Whouse'/}
#{set 'moreStyles'}
    #{stylesheet 'products/whouse.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'products/whouse.js'/}
#{/set}
<div class="whsList">
    <div class="wfunc">
        <div class="grid_12">
            <input type="checkbox" id='prodAll'/>
            <label for="prodAll">
                <button>全选</button>
            </label> |
            <button class="whsInput" rel='#add_wh'>添加仓库</button>
        </div>

        <div id="add_wh" class="add_wh add_dialog">
            <h2>添加一个新的 Whouse</h2>
        #{form @Products.w_create(), id:'add_whs_form'}
            <table class="add_form">
                <tr>
                    <td class="label"><label for="w.name">Name</label></td>
                    <td><input type="text" id="w.name" name="w.name"></td>
                </tr>
                <tr>
                    <td class="label"><label for="w.city">City</label></td>
                    <td><input type="text" id="w.city" name="w.city"></td>
                </tr>
                <tr>
                    <td class="label"><label for="w.province">Province</label></td>
                    <td><input type="text" id="w.province" name="w.province"></td>
                </tr>
                <tr>
                    <td class="label"><label for="w.postalCode">PostalCode</label></td>
                    <td><input type="text" id="w.postalCode" name="w.postalCode"></td>
                </tr>
                <tr>
                    <td class="label"><label for="w.country">Country</label></td>
                    <td><input type="text" id="w.country" name="w.country"></td>
                </tr>
                <tr>
                    <td class="label"><label for="w.address">Address</label></td>
                    <td><input type="text" id="w.address" name="w.address"></td>
                </tr>
                <tr>
                    <td class="label"><label for="w.memo">Memo</label></td>
                    <td><textarea rows="5" id='w.memo' name="w.memo"></textarea></td>
                </tr>
            </table>
            <button type="button" class="close float_left">关闭</button>
            <button type="reset" class="float_left">重置</button>
        #{/form}
            <button id='addWhBtn' class="float_left">创建</button>
        </div>
    </div>
    <div class="cList grid_12">
    #{if whs.size() == 0}
        等待添加新类别
    #{/if}
    #{else }
        <table class="whs_table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Province</th>
                <th>PostCode</th>
                <th>Country</th>
            </tr>
            #{list items:whs, as:'wh'}
                <tr class="cat_info cat_${wh_parity}" id='wh_${wh.id}'>
                    <td><input readonly type='text' name="w.id" value="${wh.id}"></td>
                    <td><input type='text' name="w.name" value="${wh.name}"></td>
                    <td><input type='text' name="c.city" value="${wh.city}"></td>
                    <td><input type='text' name="c.province" value="${wh.province}"></td>
                    <td><input type='text' name="c.postalCode" value="${wh.postalCode}"></td>
                    <td class="action"><a href="javascript:;" whid='${wh.id}'><img
                            src='/public/images/table/save.png'></a></td>
                </tr>
                <tr class="wh_memo" id='wh_memo_${wh.id}'>
                    <td colspan="2">
                        <div>
                            <textarea title="Address" rows="5"
                                      name="w.address">${wh.address.empty ? '没有信息' : wh.address}</textarea>
                        </div>
                    </td>
                    <td colspan="4">
                        <div>
                            <textarea title="Memo" rows="5" name="w.memo">${wh.memo.empty ? '没有信息' : wh.memo}</textarea>
                        </div>
                    </td>
                </tr>
            #{/list}
            <tr class="tb_footer">
                <td colspan="6">
                    <div>
                        总共 ${count} 条记录,  ${p} / ${(count / s) < 1 ? 1 : (count / s).toInteger()} 页
                        跳到 <input type="text" class="page" psize="${s}" name="page"> 页
                    </div>
                </td>
            </tr>
        </table>
    #{/else}
    </div>
</div>
