#{extends 'main_full.html'/}
#{set title:"请款单 ${apply.serialNumber}" /}
#{set 'moreScripts'}
    #{script_cdn name: 'applys/transport.coffee'/}
    #{script_cdn name: 'shipments/paymentunits.coffee'/}
#{/set}
#{flash_alert /}

<div class="row-fluid">
  <div class="span4">
  #{power.ck 'applys.handlshipment'}
    <form action='@{Applys.transportAddShipment(apply.id)}' class="form-inline" id='addShipment' method="POST">
      <label>运输单 ID
        <input type="text" required="" name='shipmentId' class="input-small">
      </label>
      <button class="btn btn-success preview" data-disable-with='添加中...'>添加运输单</button>
    </form>
  #{/power.ck}
  </div>
  <div class="span4">
  ${apply.serialNumber}
  </div>
</div>

<hr style="border-top: 1px dashed;">
<div id='shipments'>
#{list items:apply.shipments, as:'ship'}
  <div class="row-fluid" id="shipment_${ship.id}">
    <div class="span3">
      <div class="row-fluid">
        <div class="span7">
          <dl class="dl-horizontal">
            <dt>运输单</dt>
            <dd>
              <a href="@{Shipments.show(ship.id)}">${ship.id}</a>
            </dd>
            <dt>运输方式</dt>
            <dd>${ship.type.label()}</dd>
            <dt>国际快递</dt>
            <dd>
              #{if ship.internationExpress}
                 ${ship.internationExpress}
              #{/if}
              #{else }&nbsp;#{/else}
            </dd>
            <dt>TrackNo:</dt>
            <dd>${ship.trackNo}
              #{if ship.trackNo}
                <a href="${ship.internationExpress?.trackUrl(ship.trackNo)}" target="_blank">
                  <i class="icon-external-link"></i>
                </a>
              #{/if}
              #{else }&nbsp;#{/else}
            </dd>
            <dt>FBAs:</dt>
            <dd>
                #{list items:ship.fbas(), as:'fba'}
                  <span>${fba.shipmentId} ${fba.centerId}</span>
                #{/list}
            </dd>
          </dl>
        </div>

        <div class="span5">
          <dl class="dl-horizontal">
            <dt>
                #{power.ck 'applys.handlshipment'}
                  <button data-id='${ship.id}' class="btn btn-mini btn-danger delete">
                    从当前请款单中剔除
                  </button>
                #{/power.ck}
            </dt>
            <dd>&nbsp;</dd>
          </dl>
        </div>
      </div>
      <div>
          #{records_ul records: ship.allRecords(), nobr: true /}
      </div>
    </div>

    <div class="span9">
        #{render 'Shipments/_paymentunits.html', ship: ship, feeTypes: feeTypes, cooperators: cooperators/}
    </div>
  </div>
  <hr style="border-top: 1px dashed;">
#{/list}
</div>

#{render './_relate_fees.html', apply: apply/}

#{render './_relate_payments.html', payments: apply.payments, showtotal:false/}

#{records records: apply.records()/}
