#{extends 'main_full.html'/}
#{set title:"请款单 ${apply.serialNumber}" /}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
    #{script 'applys/transport.es6'/}
    #{script 'shipments/paymentunits.coffee'/}
#{/set}
#{flash_alert /}

<div class="row-fluid">
  <div class="span12">
    <div class="span3">
    #{power.ck 'applys.handlshipment'}
      <form action='@{Applys.transportAddShipment(apply.id)}' class="form-inline" id='addShipment' method="POST">
        <input type="text" required="" name='shipmentId' class="input-small" placeholder="运输单 ID">
        <button class="btn btn-warning preview" data-disable-with='添加中...'>添加运输单到当前请款单</button>
      </form>
    #{/power.ck}
    </div>
    <div class="span2">
      <span class="label label-info">${apply.serialNumber}</span>
    </div>
    <div class="span4">
      <form action="@{Applys.transport(apply.id)}" method="GET" class="form-inline">
        <input type="hidden" name="p.page" value="${p.page}">
        <input type="hidden" name="p.applyId" value="${p.applyId}">
        <input type="text" class="" style="width: 300px;" name="p.search"
               placeholder="支持运输单 ID、TrackNo、FBA、费用备注" autocomplete="off" value="${p.search}">
        <button class="btn btn-primary" data-loading>搜索</button>
      </form>
    </div>
    <div class="span3">
      <input type="button" class="btn btn-success" name="batch_apply_btn" value="批量请款"
             data-url="@{PaymentUnits.batchApplyFromShipment()}">
    #{power.ck 'paymentunits.approve'}
      <input type="button" class="btn btn-warning" name="batch_approve_btn" value="批量批准"
             data-url="@{PaymentUnits.batchApproveFromShipment()}">
    #{/power.ck}
    </div>
  </div>
</div>

<hr style="border-top: 1px dashed;">
#{bootstrap_pager pi:p, url: ''/}
<div id='shipments'>
#{list items: shipments, as:'ship'}
  <div class="row-fluid" id="shipment_${ship.id}">
    <div class="span2">
      <div class="row-fluid">
        <h4 class="alert alert-info">运输单详情</h4>
        <table class="table table-bordered table-condensed">
          <tr>
            <td colspan="2">
                #{power.ck 'applys.handlshipment'}
                  <button data-id='${ship.id}' class="btn btn-mini btn-danger delete">
                    从当前请款单中剔除
                  </button>
                #{/power.ck}
            </td>
          </tr>
          <tr>
            <th>运输单</th>
            <td><a href="@{Shipments.show(ship.id)}">${ship.id}</a></td>
          </tr>
          <tr>
            <th>运输方式</th>
            <td>${ship.type.label()}</td>
          </tr>
          <tr>
            <th>国际快递</th>
            <td>
                #{if ship.internationExpress}
                ${ship.internationExpress}
                #{/if}
                #{else }&nbsp;#{/else}
            </td>
          </tr>
          <tr>
            <th>TrackNo</th>
            <td>${ship.trackNo}
                #{if ship.trackNo}
                  <a href="${ship.internationExpress?.trackUrl(ship.trackNo)}" target="_blank">
                    <i class="icon-external-link"></i>
                  </a>
                #{/if}
                #{else }&nbsp;#{/else}
            </td>
          </tr>
          <tr>
            <th>FBAs</th>
            <td>
                #{list items:ship.fbas(), as:'fba'}
                  <span>${fba.shipmentId} ${fba.centerId}</span>
                #{/list}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="span10">
        #{render 'Shipments/_paymentunits.html', ship: ship, feeTypes: feeTypes, cooperators: cooperators/}
    </div>
  </div>
  <hr style="border-top: 1px dashed;">
#{/list}
</div>

<div class="span3">
  <input type="button" class="btn btn-success" name="batch_apply_btn" value="批量请款"
         data-url="@{PaymentUnits.batchApplyFromShipment()}">
#{power.ck 'paymentunits.approve'}
  <input type="button" class="btn btn-warning" name="batch_approve_btn" value="批量批准"
         data-url="@{PaymentUnits.batchApproveFromShipment()}">
#{/power.ck}
</div>
<div class="span9">
#{bootstrap_pager pi:p, url: ''/}
</div>

#{render './_relate_fees.html', apply: apply/}

#{warning_row title: '相关支付单' /}
<div class="row-fluid">
#{render './_relate_payments.html', payments: apply.payments, showtotal:false/}
</div>

#{records records: apply.records()/}
