<tr>
  <th>#</th>
  <td>&nbsp;</td>

  <th>Selling</th>
  <td>
    ${unit.selling.sellingId}
  </td>

  <th>SKU</th>
  <td>${unit.sku}</td>
</tr>

<tr>
  <th>仓库</th>
  <td>
  ${unit.whouse.name}
  </td>

  <th>供应商</th>
  <td>${unit.cooperator.fullName}</td>

  <th>采购数量</th>
  <td>
    <input type="text" name="newUnit.attrs.planQty" value="${newUnit.attrs.planQty}">
  </td>
</tr>

<tr>
  <th>预计交货时间</th>
  <td>
    <input type="date" name="newUnit.attrs.planDeliveryDate" value="${newUnit.attrs.planDeliveryDate.date()}">
  </td>

  <th>预计运输时间</th>
  <td>
    <input type="date" name="newUnit.attrs.planShipDate" value="${newUnit.attrs.planShipDate.date()}">
  </td>

  <th>预计到库时间</th>
  <td>
    <input type="date" name="newUnit.attrs.planArrivDate" value="${newUnit.attrs.planArrivDate.date()}">
  </td>
</tr>

<tr>
  <th>单价</th>
  <td>${unit.attrs.price} ${unit.attrs.currency.name()}</td>

  <th>阶段</th>
  <td>${models.procure.ProcureUnit.STAGE.DELIVERY}</td>

  <th>采购单</th>
  <td>
    <a href="@{Deliveryments.show(unit.deliveryment.id)}" target="_blank">${unit.deliveryment.id}</a>
  </td>
</tr>

<tr>
  <th>运输方式</th>
  <td>
    ${unit.shipType.label()}
  </td>

  <th>是否到货代</th>
  <td>#{yesOrNo f: unit.isPlaced/}</td>
  <td colspan="2"></td>
</tr>
