#{if unit.stage.name()=='DELIVERY' && showNotice}
<div class="form-group">
  <label class="col-sm-12">
    <span style="color:red">注意：该采购计划已到预计交货期，请核实货物在工厂还是到了深圳仓，如果已经到了深圳仓，请在深圳仓办理完入库手续后再进行分拆!</span>
  </label>
</div>
#{/if}

<div class="form-group">
  <label class="col-sm-1 control-label" for="sellingId">Selling</label>
  <div class="col-sm-2">
    <input class="form-control" id="sellingId" name="newUnit.selling.sellingId" readonly
           value="${unit.selling?.sellingId}" data-origin="${unit.selling?.sellingId}">
  </div>
  <label class="col-sm-1 control-label" for="select_sku">SKU</label>
  <div class="col-sm-2">
    <input class="form-control" id="select_sku" name="newUnit.product.sku" value="${unit.sku}" autocomplete="off">
  </div>
  <label class="col-sm-1 control-label" for="productName">产品名称</label>
  <div class="col-sm-2">
    <input class="form-control" id="productName" style="width:300px;" value="${unit.product?.abbreviation}" readonly>
  </div>
  <label class="col-sm-1 control-label">供应商</label>
  <div class="col-sm-2 form-inline">
    <input class="form-control" value="${unit.cooperator.name}" readonly style="width:130px;">
    <span style="width:200px;display:${unit.period?: 'none'}" id="unit_period">(生产周期：${unit.period}天)</span>
    <input type="hidden" id="cooperId" value="${unit.cooperator.id}">
  </div>
</div>

<div class="form-group">
#{if unit.stage.name()=='IN_STORAGE'}
  <label class="col-sm-1 control-label"><i class="icon-asterisk" style="color:red"></i>库存数量</label>
  <div class="col-sm-5 form-inline">
    <input type="text" class="form-control" name="newUnit.availableQty" id="planQty" placeholder="小于${unit.availableQty}"
           data-max="${unit.availableQty}" required autocomplete="off">
    <div class="input-group">
      <input type="text" style="width:80px;" id="box_num" class="form-control" placeHolder="箱数">
      <div class="input-group-addon">箱</div>
    </div>
    <input type="hidden" id="size_of_box" value="${unit.mainBox?.num}">
    <input type="hidden" id="lastBoxNum" value="${unit.lastBox?.num}">
    <span id="boxInfo"></span>
    <span id="warningText" style="display:none;color:red;">分拆个数不符合包装箱规格，请联系仓库部门确认分拆信息</span>
  </div>
#{/if}
#{else }
  <label class="col-sm-1 control-label"><i class="icon-asterisk" style="color:red"></i>采购数量</label>
  <div class="col-sm-5 form-inline">
    <input type="text" class="form-control" name="newUnit.attrs.planQty" id="planQty" required placeholder="小于${unit.attrs.planQty}"
           data-max="${unit.attrs.planQty}" autocomplete="off">
    <div class="input-group">
      <input type="text" style="width:80px;" id="box_num" class="form-control" placeHolder="箱数">
      <div class="input-group-addon">箱</div>
    </div>
    <input type="hidden" id="size_of_box" value="${unit.boxSize}">
  </div>

#{/else}
  <label class="col-sm-1 control-label">单价</label>
  <div class="col-sm-2 form-inline">
    <input type="text" class="form-control" id="price_input" name="newUnit.attrs.price" value="${unit.attrs.price}">
  #{pickCurrency id:'unit_currency', name:'newUnit.attrs.currency', class:'form-control', c:unit.attrs.currency?:helper.Currency.CNY /}
  </div>
  <label class="col-sm-1 control-label">是否含税</label>
  <div class="col-sm-2 form-inline">
    <select class="form-control" name="newUnit.containTax" style="width:80px;">
      <option #{if unit.containTax} selected #{/if} value="true">是</option>
      <option #{if !unit.containTax} selected #{/if} value="false">否</option>
    </select>
    <a class="btn btn-danger" id="taxSpan">#{if unit.taxPoint>0}税点：${unit.taxPoint} #{/if}</a>
    <input type="hidden" id="taxPointInput" value="${unit.taxPoint}" name="newUnit.taxPoint">
  </div>
</div>

<div class="form-group">
  <label class="col-sm-1 control-label">去往仓库</label>
  <div class="col-sm-2">
    <select name="newUnit.whouse.id" id="warehouse_select" data-origin="${unit.id}" class="form-control">
    #{list items:whouses, as:'w'}
      <option value="${w.id}" #{if w.id==unit.whouse?.id} selected #{/if}>${w.name}</option>
    #{/list}
    </select>
  </div>
  <label class="col-sm-1 control-label"><i class="icon-asterisk" style="color:red"></i>预计交货时间</label>
  <div class="col-sm-2">
    <input role="date" name="newUnit.attrs.planDeliveryDate" value="${unit.attrs.planDeliveryDate.date()}"
    ${unit.stage.name()=='IN_STORAGE'?'readonly':'required'} class="form-control">
  </div>
  <label class="col-sm-1 control-label">预计运输时间</label>
  <div class="col-sm-2">
    <input role="date" class="form-control" name="newUnit.attrs.planShipDate" value="${newUnit.attrs.planShipDate.date()}">
  </div>
  <label class="col-sm-1 control-label">预计到库时间</label>
  <div class="col-sm-2 form-inline">
    <input role="date" class="form-control" name="newUnit.attrs.planArrivDate" value="${newUnit.attrs.planArrivDate.date()}">
    <span class="add-on">? 天</span>
  </div>
</div>

<div class="form-group">
  <label for="" class="col-sm-1 control-label">运输方式</label>
  <div class="col-sm-5">
  #{list items:models.procure.Shipment.T.values(), as:'t'}
    <label class="radio-inline">
      <input type="radio" name="newUnit.shipType" value="${t.name()}" ${t == unit.shipType ? 'checked': 'unchecked'}
          #{if unit.projectName=='B2B' && t.name()!='EXPRESS'} style="display:none;"#{/if}>
      <i class="${t.pic()}"></i>${t.label()}
    </label>
  #{/list}
  </div>
  <label class="col-sm-1 control-label">阶段</label>
  <div class="col-sm-2">
    <input type="text" id="stage" style="color:${unit.stage.rgb()}" value="${unit.stage?.label()}" readonly class="form-control">
  </div>
  <label for="" class="col-sm-1 control-label">所属公司</label>
  <div class="col-sm-2">
    <select name="newUnit.projectName" class="form-control">
    #{list items:models.User.COR, as:'c'}
        #{if java.util.Arrays.asList(brandName).contains(c.name())}
          <option value="${c.name()}" ${c.name()==unit.projectName?'selected':''}>${c.label()}</option>
        #{/if}
    #{/list}
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-1 control-label">选择运输单(Option)</label>
  <div class="col-sm-11">
    <span style="color:red">注意：带有 <i style="color:#C09853;" class="icon-star"></i> 符号表示此运输单为周期型的运输单</span><br>
    <span style="color:red">PM 的采购计划直接进入某一个周期型运输单, 具体运输计划由运输人员负责制作</span>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-1 col-sm-11">
    <div id="shipments"></div>
  </div>
</div>
