#{set copers:newUnit.product?.cooperators() /}

<tr>
  <th>采购计划ID</th>
  <td></td>
  <th>SKU</th>
  <td>
    <input type="text" id="select_sku" name="newUnit.product.sku" value="${unit.sku}" autocomplete="off"></td>
  </td>
  <th>供应商</th>
  <td>${unit.cooperator.name}
    <span style="width:200px;display:${unit.period?: 'none'}" id="unit_period">(生产周期：${unit.period}天)</span>
    <input type="hidden" id="cooperId" value="${unit.cooperator.id}">
    <input type="hidden" id="size_of_box" value="${unit.boxSize}">
  </td>
</tr>
<tr>
#{if unit.stage.name()=='IN_STORAGE'}
  <th><i class="icon-asterisk" style="color:red"></i>库存数量</th>
  <td>
    <input type="text" class="input-mini" name="newUnit.availableQty" id="planQty" placeholder="小于${unit.availableQty}"
           data-max="${unit.availableQty}" required autocomplete="off">
    <input type="text" id="box_num" class="input-mini" placeHolder="箱数">
    <span class="add-on">箱</span>
  </td>
#{/if}
#{else }
  <th><i class="icon-asterisk" style="color:red"></i>采购数量</th>
  <td>
    <input type="text" class="input-mini" name="newUnit.attrs.planQty" id="planQty" required autocomplete="off"
           placeholder="小于${unit.attrs.planQty}">
    <input type="text" id="box_num" class="input-mini" placeHolder="箱数">
    <span class="add-on">箱</span>
  </td>
#{/else}
  <th>预计交货时间</th>
  <td>
    <input type="date" name="newUnit.attrs.planDeliveryDate" value="${unit.attrs.planDeliveryDate.date()}" required
    ${unit.stage.name()=='IN_STORAGE'?'readonly':''}>
  </td>
  <th>单价</th>
  <td>
    <input type="text" class="span3" id="price_input" name="newUnit.attrs.price" value="${unit.attrs.price}">
  #{pickCurrency id:'unit_currency', name:'newUnit.attrs.currency', class:'span3', c:unit.attrs.currency?:helper.Currency.CNY /}
  </td>
</tr>
<tr>
  <th>阶段</th>
  <td style="color:${unit.stage.rgb()}">${unit.stage.label()}</td>
  <th>是否含税</th>
  <td>
    <select class="form-control" name="newUnit.containTax" style="width:80px;">
      <option #{if unit.containTax} selected #{/if} value="true">是</option>
      <option #{if !unit.containTax} selected #{/if} value="false">否</option>
    </select>
    <span id="taxSpan">#{if unit.taxPoint>0}税点：${unit.taxPoint} #{/if}</span>
    <input type="hidden" id="taxPointInput" value="0" name="newUnit.taxPoint">
  </td>
  <th>所属公司</th>
  <td>
    <select name="newUnit.projectName">
    #{list items:models.User.COR, as:'c'}
        #{if java.util.Arrays.asList(brandName,models.User.COR.MengTop.name()).contains(c.name())}
          <option value="${c.name()}" ${c.name()==unit.projectName?'selected':''}>${c.label()}</option>
        #{/if}
    #{/list}
    </select>
  </td>
</tr>

