*{需要
* ProcueUnit: unit
* Whouse: whouses
}*
#{set product: unit.selling.product/}
#{set copers:product.cooperators() /}

<div class="form-group">
  <label for="sellingId" class="col-sm-1 control-label">SellingId</label>
  <div class="col-sm-5">
    <input class="form-control" name="unit.selling.sellingId" id="sellingId" value="${unit.selling.sellingId}" readonly>
  </div>
  <label for="unit_sku" class="col-sm-1 control-label">SKU</label>
  <div class="col-sm-2">
    <input class="form-control" name="unit.product.sku" id="unit_sku" value="${product.sku}" readonly>
  </div>
  <label class="col-sm-1 control-label">产品名称</label>
  <div class="col-sm-2">
    <input type="text" value="${product.abbreviation}" class="form-control" readonly>
  </div>
</div>
<div class="form-group">
  <label for="sellingId" class="col-sm-1 control-label">
    <i class="icon-asterisk" style="color:red"></i>
  #{if unit.stage.name() == 'IN_STORAGE'}库存数量#{/if}
  #{else }采购数量#{/else}
  </label>
  <div class="col-sm-5 form-inline">
  #{if unit.stage.name() == 'IN_STORAGE'}
    <input type="text" class="form-control" placeHolder="具体数量" name="unit.availableQty" id="availableQty" required
           value="${unit.availableQty}" data-origin="${unit.availableQty}"  #{if unit.isEditInput()} readonly#{/if}>
  #{/if}
  #{else }
    <input type="text" class="form-control" placeHolder="具体数量" name="unit.attrs.planQty" id="planQty" required
           value="${unit.attrs.planQty}" data-origin="${unit.attrs.planQty}"  #{if unit.isEditInput()} readonly #{/if}>
  #{/else}
    <input type="text" id="box_num" class="form-control" placeHolder="箱数"  #{if unit.isEditInput()} readonly #{/if}>
    <span class="add-on">箱</span>
    <input type="hidden" name="unit.attrs.qty" value="${unit.attrs.qty}">
    <select name="unit.cooperator.id" class="form-control" required>
      <option value="">供应商</option>
    #{list items:copers, as:'c'}
      <option value="${c.id}" #{if c.id == unit.cooperator?.id} selected #{/if}>${c.name}</option>
    #{/list}
    </select>
    <span style="width:200px;display:${unit.period?: 'none'}" id="unit_period">（生产周期：${unit.period}天）</span>
  </div>
  <label for="unit_price" class="col-sm-1 control-label">单价</label>
  <div class="col-sm-2 form-inline">
    <input type="text" class="form-control" style="width:160px;" id="unit_price" name="unit.attrs.price"
           value="${unit.attrs.price}"
    #{if !isEdit} readonly #{/if}/>
  #{pickCurrency id:'unit_currency', name:'unit.attrs.currency',class:'form-control', c:unit.attrs.currency?:helper.Currency.CNY /}
  </div>
  <label for="unit_price" class="col-sm-1 control-label">是否含税</label>
  <div class="col-sm-2 form-inline">
    <select class="form-control" name="unit.containTax" style="width:80px;" #{if !isEdit } readonly #{/if}>
      <option #{if unit.containTax} selected #{/if} value="true">是</option>
      <option #{if !unit.containTax} selected #{/if} value="false">否</option>
    </select>
    <a class="btn btn-danger" id="taxSpan">#{if unit.taxPoint>0}税点：${unit.taxPoint} #{/if}</a>
    <input type="hidden" id="taxPointInput" name="unit.taxPoint" value="${unit.taxPoint}">
  </div>
</div>
#{if unit.parent}
    #{if Arrays.asList('IN_STORAGE', 'DELIVERY','PLAN').contains(unit.parent.stage)}
    <div class="form-group">
      <label class="col-sm-12">
        因为父计划<a href="@{ProcureUnits.detail(unit.parent.id)}" target="_blank">${unit.parent.id}</a>
        状态为【${unit.parent.stage?.label()}】，无法退回！
        <input type="hidden" value="false" name="unit.isReturn">否
      </label>
    </div>
    #{/if}
    #{else }
    <div class="form-group" style="display:none;" id="return_tr">
      <label class="col-sm-1">差数是否退回</label>
      <div class="col-sm-11">
        <label class="radio-inline inline">
          <input type="radio" value="true" name="unit.isReturn" checked>退回到父计划
            #{if unit.realParent}
              <a href="@{ProcureUnits.detail(unit.realParent.id)}" target="_blank">${unit.realParent.id}</a>
            #{/if}
            #{else }
              <a href="@{ProcureUnits.detail(unit.parent.id)}" target="_blank">${unit.parent.id}</a>
            #{/else}
        </label>
        <label class="radio-inline inline">
          <input type="radio" value="false" name="unit.isReturn">否
        </label>
      </div>
    </div>
    #{/else}
#{/if}
<div class="form-group">
  <label for="" class="col-sm-1 control-label"><i class="icon-asterisk" style="color:red"></i>预计交货日期</label>
  <div class="col-sm-2">
    <input role="date" name="unit.attrs.planDeliveryDate" value="${unit.attrs.planDeliveryDate.date()}" required
    #{if unit.stage.name()=='IN_STORAGE'} readonly #{/if} class="form-control">
  #{if oldplanDeliveryDate!=null}
    <span class="add-on">比原预计交货日期${oldplanDeliveryDate.date()}推迟${(unit.attrs
    .planDeliveryDate.getTime()-oldplanDeliveryDate.getTime())/(24*60*60*1000)}天</span>
  #{/if}
    <input type="hidden" name="unit.attrs.deliveryDate" value="${unit.attrs.deliveryDate.date()}">
  </div>
  <label for="" class="col-sm-1 control-label">预计运输时间</label>
  <div class="col-sm-2">
    <input role="date" class="form-control" name="unit.attrs.planShipDate" id="planShipDate" value="${unit.attrs.planShipDate.date()}"
           required>
    <input type="hidden" id="planShipDateHd" value="${unit.attrs.planShipDate.date()}">
  </div>
  <label for="" class="col-sm-1 control-label">预计到库时间</label>
  <div class="col-sm-2">
    <div class="input-group">
      <input role="date" class="form-control" name="unit.attrs.planArrivDate" value="${unit.attrs.planArrivDate.date()}">
      <span class="input-group-addon">? 天</span>
    </div>
  </div>
  <label for="" class="col-sm-1 control-label">阶段</label>
  <div class="col-sm-2">
    <input value="${unit.stage.label()}" readonly class="form-control">
    <input type="hidden" name="unit.stage" value="${unit.stage.name()}">
  </div>
</div>
<div class="form-group">
  <label for="" class="col-sm-1 control-label">去往仓库</label>
  <div class="col-sm-2">
    <select name="unit.whouse.id" id="warehouse_select" data-origin="${unit.whouse?.id}" class="form-control"
    #{if unit.stage.name()=='DONE'} disabled #{/if}>
    #{list items:whouses, as:'w'}
      <option value="${w.id}" #{if w.id==unit.whouse?.id} selected #{/if}>${w.name}</option>
    #{/list}
    </select>
  </div>
  <label for="" class="col-sm-1 control-label">采购取样</label>
  <div class="col-sm-2">
    <div class="input-group">
      <input type="text" class="form-control" name="unit.purchaseSample" value="${unit.purchaseSample}"/>
      <span class="input-group-addon">个</span>
    </div>
  </div>
  <label for="" class="col-sm-1 control-label">质检级别</label>
  <div class="col-sm-2">
    <select class="form-control" name="unit.qcLevel">
    #{list items:models.procure.Cooperator.L.values(), as:'l'}
      <option value="${l.name()}" ${unit.qcLevel==l?'selected':''}>${l.label()}</option>
    #{/list}
    </select>
  </div>
  <label for="" class="col-sm-1 control-label">所属公司</label>
  <div class="col-sm-2">
    <select name="unit.projectName" class="form-control">
      <option value="${unit.projectName}">${unit.projectName}</option>
    </select>
  </div>
</div>
<div class="form-group">
  <label for="" class="col-sm-1 control-label">运输方式</label>
  <div class="col-sm-5">
  #{list items:models.procure.Shipment.T.values(), as:'t'}
    <label class="radio-inline">
      <input type="radio" name="unit.shipType" value="${t.name()}" ${t == unit.shipType ? 'checked': 'unchecked'}
      ${unit.stage.name()=='DONE'? 'disabled' :''}
          #{if unit.projectName=='B2B' && t.name()!='EXPRESS'} style="display:none;"#{/if}>
      <i class="${t.pic()}"></i>${t.label()}
    </label>
  #{/list}
    <label class="radio-inline">
      <button class="btn btn-xs btn-default" style="color:red;" id="recommend_shipment_btn"
              data-url="@{ProcureUnits.showRecommendChannelList()}"><i class="fa fa-star"></i> 推荐物流
      </button>
    </label>
    <label class="radio-inline" data-url="@{ProcureUnits.showSameDayTotalWeight()}" id="showSameDayLabel">
      <span class="label label-default" id="showTotalWeight" data-toggle="tooltip" title="当前重量/当天出货重量"></span>
    </label>
  </div>
  <label class="col-sm-1 control-label">所属运输单</label>
  <div class="col-sm-2">
  #{list items: unit.relateShipment()}
    <div>
      <a href="@{Shipments.show(_.id)}" target="_blank">${_.id} (${_.type.label()})</a>
      <input type="hidden" id="shipmentId" value="${_.id}">
      <span><i class="icon-calendar"></i> #{time_tooltip time: _.dates.planBeginDate/}</span>
      <span><i class="icon-calendar"></i> #{time_tooltip time: _.predictArriveDate()/}</span>
    </div>
  #{/list}
  </div>
#{if unit.stage.name()=='IN_STORAGE'}
  <label class="col-sm-1 control-label">当前仓库</label>
  <div class="col-sm-2">
    <select id="curr_warehouse_select" name="unit.currWhouse.id" disabled class="form-control">
        #{list items:currWhouses, as:'w'}
          <option value="${w.id}" #{if w.id==unit.currWhouse?.id} selected #{/if}>${w.name}</option>
        #{/list}
    </select>
  </div>
#{/if}
</div>
<div class="form-group">
  <label class="col-sm-1 control-label">Memo</label>
  <div class="col-sm-11">
    <textarea rows="8" class="form-control" name="unit.comment" id="memo">${unit.comment.raw()}</textarea>
  </div>
</div>


<input type="hidden" id="unit_type" value="${unit.type?.name()}">