#{set 'moreStyles'}
    #{stylesheet 'bootstrap3/flag-icon.css'/}
#{/set}
#{set tr_key: key ? key : 'unit'/}
<table class="table table-condensed table-bordered dataTable" id="unit_table">
  <tr>
  #{if checkbox}
    <th width="20px;">
      <input type="checkbox" id="${key ? tr_key + '_' : ''}checkbox_all" class="${tr_key} checkall" value="">
    </th>
  #{/if}
  #{if relationPage}
    <th width="20px;">
      <input type="checkbox" name="checkAll" data-index="${dpIndex}">
    </th>
  #{/if}
    <th width="30px;"></th>
    <th width="45px;">#</th>
    <th>父ID</th>
    <th width="40px;">阶段</th>
    <th width="200px;">Selling</th>
    <th width="120px">Sku</th>
    <th width="160px;">FBA-ShipmentId<br>CenterId</th>
    <th width="105px;">采购单<br>供应商</th>
    <th width="45px;">去往<br/>市场</th>
    <th width="120px;">数量(计划/交货/入库)<span style="color:green">库存</span></th>
  #{ifnot deliveryplan}
    <th width="60px;">单价</th>
    <th width="110px;" data-toggle="popover" data-content="如果交货, 数量为交货数量, 如果没有交货,则为计划采购数量">总价<br>剩余请款金额</th>
  #{/ifnot}
    <th rel="popover" content="<img src='/img/helper/fnsku.png'/>" width="95px;">FnSku</th>
    <th width="40px;">运输方式</th>
    <th>预计交货时间</th>
    <th>预计运输时间</th>
    <th>实际交货时间</th>
    <th width="40px;">是否核准</th>
    <th width="40px;">质检结果</th>
    <th width="85px;">创建人/<br>创建时间</th>
  </tr>
#{list items:units, as:'unit'}
  <tr id="procureUnit_${unit.id}">
      #{if checkbox}
        <td>
            #{set cooperItem: unit.cooperator?.cooperItem(unit.sku)/}
            #{if unit.fba && unit.fba.dto}
              <!-- 优先使用自身的 FBA 箱包装数据 -->
                #{set dto: unit.fba.dto/}
              <input type="checkbox" name="pids" value="${unit.id}" class="${tr_key}" id="checkbox_${unit.id}"
                     data-boxnum="${dto.boxNum}" data-num="${dto.num}" data-lastcartonnum="${dto.lastCartonNum}"
                     data-singleboxweight="${dto.singleBoxWeight}" data-length="${dto.length}"
                     data-width="${dto.width}" data-height="${dto.height}">
            #{/if}
            #{elseif cooperItem}
              <!-- 使用维护好的合作伙伴的数据 -->
              <input type="checkbox" name="pids" value="${unit.id}" class="${tr_key}" id="checkbox_${unit.id}"
                     data-boxnum="${cooperItem.boxNum(unit.qty())}" data-num="${cooperItem.boxSize}"
                     data-lastcartonnum="${cooperItem.lastCartonNum(unit.qty())}"
                     data-singleboxweight="${cooperItem.singleBoxWeight}" data-length="${cooperItem.length}"
                     data-width="${cooperItem.width}" data-height="${cooperItem.height}">
            #{/elseif}
            #{else}
              <input type="checkbox" name="pids" value="${unit.id}" class="${tr_key}" id="checkbox_${unit.id}"
                     data-boxnum="" data-num="" data-lastcartonnum=""
                     data-singleboxweight="" data-length=""
                     data-width="" data-height="">
            #{/else}
        </td>
      #{/if}
      #{if relationPage}
        <td>
          <input type="checkbox" name="pids" value="${unit.id}" project="${unit.projectName}" cooper="${unit.cooperator?.id}">
        </td>
      #{/if}
    <td style="text-align:center;">
      <a href="${unit.selling?.aps?.imageUrl}" target="_blank">
        <img height="40px;" width="45px;" src="${unit.selling?.aps?.imageUrl}">
      </a>
    </td>
    <td data-toggle="toggle" data-target="#${tr_key}_${unit.id}" style="cursor:pointer;">
      <i class="icon-reorder"></i>
        #{if unit.parent}
          <i class="icon-retweet" style="color:${unit.type.name()=='ProcureSplit'?'blue':'orange'}"
             rel="tooltip" title="${unit.type?.label()}"></i>
        #{/if}<br>
    ${unit.id}
    </td>
    <td>
    ${unit.parent?.id}<br>
        #{if unit.sample}
          <span style="color:red">样品</span>
        #{/if}
    </td>
    <td style="background:${unit.stage.rgb()}">${unit.stage.label()}</td>
    <td class="selling_id" style="word-break:break-all;">
      <a href="@{Sellings.selling(unit.selling?.sellingId)}" target="_blank">${unit.selling?.sellingId}</a>
    </td>
    <td style="word-break:break-all;">
      <a href="@{Products.show(unit.sku)}" target="_blank" data-toggle="popover" data-content="${cooperItem?.memo}"
         data-title="${unit.product.abbreviation}">${unit.sku}</a>
    </td>
    <td>
        #{if unit.fba}
        ${unit.fba.shipmentId}
            #{set feeds: unit.fba.feeds()/}
            #{if feeds.size() > 0}
                #{render '/app/views/gt_templates/feeds.html', feeds: feeds, key: unit.fba.shipmentId, fid: unit.fba.id/}
                #{set lastFeed: feeds.get(0)/}
                #{if lastFeed.isFailed()}
                  <i style="color:#dc143c;" class="icon-warning-sign" name="showFeedsPage"
                     data-feeds-page="${unit.fba.shipmentId}" rel="tooltip" title="FBA 装箱信息提交失败"></i>
                #{/if}
                #{elseif lastFeed.isSussess()}
                  <i style="color:green;" class="icon-ok-sign" name="showFeedsPage"
                     data-feeds-page="${unit.fba.shipmentId}" rel="tooltip" title="FBA 装箱信息提交成功">
                  </i>
                #{/elseif}
                #{else }
                  <i class="icon-search" name="showFeedsPage"
                     data-feeds-page="${unit.fba.shipmentId}" rel="tooltip" title="FBA 装箱信息正在提交中">
                  </i>
                #{/else}
            #{/if}
            #{set fbaCenter: unit.fba.fbaCenter/}
            #{if fbaCenter}
              <a href="javascript:void(0)" data-toggle="tooltip" title="检查 FBA Label 中的 Ship To 是否正确"
                 name="checkFBALabel"
                 data-addressline1="${fbaCenter.addressLine1}"
                 data-addressline2="${fbaCenter.addressLine2}"
                 data-city="${fbaCenter.city}"
                 data-name="${fbaCenter.name}"
                 data-countrycode="${fbaCenter.countryCode}"
                 data-stateorprovincecode="${fbaCenter.stateOrProvinceCode}"
                 data-postalcode="${fbaCenter.postalCode}"><i class="icon-eye-open"></i>
              </a>
            #{/if}
        #{/if}
      <br><span style="color:#0075cf">${unit.fba?.centerId}</span>
        #{if unit.fba}
          <a href="@{ProcureUnits.edit(unit.id)}" class="btn btn-xs btn-default">物流信息</a>
        #{/if}
    </td>
    <td>
        #{if unit.deliveryment}
          <a href="@{Deliveryments.show(unit.deliveryment.id)}">${unit.deliveryment.id}</a>
        #{/if}
      <br>${unit.cooperator?.name}
    </td>
    <td data-toggle="tooltip" title="${unit.whouse?.name}" style="word-break:break-all;">${unit.whouse?.name}</td>
    <td #{if unit.attrs.planQty != unit.attrs.qty && (unit.attrs.qty !=0 && unit.attrs.qty)} style="color:red"#{/if}>
    ${unit.attrs.planQty}/${unit.attrs.qty==null?'0':unit.attrs.qty}/${unit.inboundQty}<br>
      <span class="label label-default" data-toggle="tooltip" title="当前重量">${unit.currentWeight()} kg</span>
        #{if unit.availableQty>0 || unit.stage.name()=='IN_STORAGE'}
          <span class="label label-success" data-toggle="tooltip" title="当前可用库存">${unit.availableQty}</span>
        #{/if}
    </td>
      #{ifnot deliveryplan}
        <td>${unit.attrs.currency?.symbol()} ${unit.attrs.formatPrice().format('#,###.##')}
            #{if unit.containTax}
              <br>
              <div class="label label-danger">税点:${unit.taxPoint}</div>
            #{/if}
        </td>
        <td>总:${unit.attrs.currency?.symbol()} ${unit.totalAmount().format('#,###.##')}<br>
            #{if unit.type?.name() == 'StockSplit'}
              0
            #{/if}
            #{else }
              剩:${unit.attrs.currency?.symbol()} ${unit.leftAmount().format('#,###.##')}
            #{/else}
        </td>
      #{/ifnot}
    <td>
      <!-- FnSku 下载 Label -->
        #{if unit.selling?.fnSku}
        ${unit.selling.fnSku}
          <br/>
          <a href="@{ProcureUnits.fnSkuLable(unit.sid, unit.id)}" target="_blank" data-toggle="tooltip"
             title="增加了 国家 信息，供应商SKU为${unit.product?.supplierSku}">
            <i class="icon-download-alt"></i> New
          </a>
        #{/if}
        #{elseif unit.selling != null}
          <a class="btn btn-warning btn-xs" href="@{Sellings.selling()}/${unit.selling?.sellingId}">
            补全 FnSku
          </a>
        #{/elseif}
    </td>
    <td style="color:${unit.shipType.rgb()}"><i class="${unit.shipType?.pic()}"></i><br>${unit.shipType?.label()}</td>
    <td>#{time_tooltip_v3 time:unit.attrs.planDeliveryDate/}</td>
    <td>#{time_tooltip_v3 time:unit.attrs.planShipDate/}</td>
    <td>#{time_tooltip_v3 time:unit.attrs.deliveryDate/}</td>
    <td name="isConfirm">#{yesOrNo f:unit.isConfirm/}</td>
    <td>
      <a href="@{Inbounds.editByUnitId(unit.id)}" target="_blank">
      ${unit.result?.label()}
      </a>
    </td>
    <td>${unit.handler?.username}<br>#{time_tooltip time:unit.createDate /}</td>
  </tr>

  <tr id="${tr_key}_${unit.id}" style="display:none;">
    <td colspan="${checkbox ? '23' : '21'}" style="background-color:#F0F0F0;">

      <div class="col-md-3">
        <div class="box box-warning">
          <div class="box-header with-border"><h3 class="box-title">Comment【所属项目:${unit.projectName}】</h3></div>
          <div class="box-body">${unit.comment}</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box box-info">
          <div class="box-header with-border"><h3 class="box-title">关联运输单</h3></div>
          <div class="box-body">
              #{list items:unit.relateShipment(), as:'sp'}
                <li>
                  <a href="@{Shipments.show(sp.id)}">${sp}</a>
                  预计 #{time_tooltip_v3 time: sp.dates?.planBeginDate /} 开船
                </li>
              #{/list}
          </div>
        </div>
        <div class="box box-info">
          <div class="box-header with-border"><h3 class="box-title">关联 FBA</h3></div>
          <div class="box-body">
              #{if unit.fba}
                <a href="${unit.fba.fbaLink()}">
                  <i class="icon-external-link"></i>
                ${unit.fba.shipmentId}
                </a>
              #{/if}
              #{else }
                <span class="text-warning">还没有 FBA</span>
              #{/else}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box box-success">
          <div class="box-header with-border"><h3 class="box-title">实际交货量</h3></div>
          <div class="box-body">
            <table class="table table-condensed table-bordered">
              <tr>
                <td>实际交货量</td>
                <td>实际交货日期</td>
              </tr>
              <tr>
                <td>${unit.attrs.qty}</td>
                <td>${unit.attrs.deliveryDate.los()}</td>
              </tr>
              <tr>
                <td colspan="2">
                    #{if unit.selling}
                      <a href="@{ProcureUnits.edit(unit.id)}" target="_blank" class="btn btn-xs btn-primary">修改</a>
                    #{/if}
                    #{else }
                      <a href="@{ProcureUnits.editManual(unit.id)}" target="_blank" class="btn btn-xs btn-primary">修改</a>
                    #{/else}
                    #{if unit.stage.name() == 'PLAN'}
                      <a href="@{ProcureUnits.destroy(unit.id)}" data-method='DELETE' data-confirm="确认删除?" class="btn btn-xs btn-danger">
                        删除
                      </a>
                    #{/if}
                  <a href="@{ProcureUnits.detail(unit.id)}#${unit?.id}" target="_blank" class="btn btn-xs btn-info">变更详情</a>
                    #{power.ck "procures.dosplitunit"}
                        #{if Arrays.asList('DELIVERY','IN_STORAGE').contains(unit.stage.name())}
                          <a href="@{ProcureUnits.splitUnit(unit.id, true)}" class="btn btn-xs btn-warning" target="_blank">
                          ${unit.stage.name()=='DELIVERY'?'采购分拆':'库存分拆'}</a>
                            #{if !unit.selling}
                              <a href="@{ProcureUnits.splitUnit(unit.id, false)}" target="_blank" class="btn btn-xs btn-default"
                                 rel="tooltip" title="如B2B拆单，样品，试用等操作">SKU分拆</a>
                            #{/if}
                        #{/if}
                    #{/power.ck}
                </td>
              </tr>
            </table>
          </div>
          <div class="box-footer">
              #{if delivery}
                <!-- 确认到    货代处 -->
                  #{if unit.selling}
                      #{ifnot unit.isPlaced}
                        <a data-remote='true' data-method='PUT' class="btn btn-xs btn-info" id="isplaced_${unit.id}_btn"
                           href="@{ProcureUnits.markPlace(unit.id)}" data-disable-with='更新中'>抵达货代</a>
                      #{/ifnot}
                  #{/if}
                <a href="javascript:void(0)" class="btn btn-xs btn-warning" data-tragettr="procureUnit_${unit.id}"
                   data-href="@{ProcureUnits.confirmUnit(unit.id)}" name="confirmUnitBtn">已核单</a>
                <a href="javascript:void(0)" class="btn btn-xs ${unit.noPayment?'btn-success':'btn-danger'}"
                   data-tragettr="procureUnit_${unit.id}" data-href="@{ProcureUnits.noPayment(unit.id)}" name="noPaymentBtn"
                   rel='tooltip' title='因各种原因而不需要纳入 未进请款单金额 统计'>${unit.noPayment?'统计':'不统计'}</a>
                  #{if unit.fba}
                      #{power.ck 'fbas.update'}
                        <a href="javascript:void(0)" class="btn btn-xs btn-warning" id="replaceUnitFBA"
                           data-unit-id="${unit.id}">更换 ${unit.fba?.shipmentId}
                        </a>
                      #{/power.ck}
                  #{/if}

                  #{if unit.fba}
                    <a href="@{FBAs.packingSlip(unit.fba.id)}" target="_blank" class="btn btn-xs btn-success">箱內麦</a>
                    <a href="javascript:void(0)" class="btn btn-xs btn-success" name="boxLabelBtn" data-id="${unit.fba.id}">箱外麦</a>
                  #{/if}
              #{/if}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box box-warning">
          <div class="box-header with-border"><h3 class="box-title">Record</h3></div>
          <div class="box-body">
              #{ifnot norecord}
                <div style="max-height:160px;overflow:auto;margin-bottom:20px;">
                    #{records_ul  records: unit.records()/}
                </div>
              #{/ifnot}
          </div>
        </div>
      </div>
    </td>
  </tr>
#{/list}
</table>

<!-- Ship To Modal -->
<div id="fba_ship_to_modal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="fba_ship_to_body"></div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
      </div>
    </div>
  </div>
</div>