#{extends 'main.html' /}
#{set title:'采购计划' /}
#{set 'moreScripts'}
    #{script 'procureunits/blank.coffee'/}
#{/set}
#{errorMsgs /}
#{flash_alert/}

#{info_row title:'采购计划' /}

#{form @ProcureUnits.create(), method: 'POST', id: 'new_procureunit'}
<div id="stockDiv"></div>
<table class="table table-condensed table-bordered">
    #{render './_unit_table_trs.html', unit: unit, whouses: whouses, skus: skus/}
  <tr>
    <td colspan="4">
        #{if unit.selling != null}
          #{render 'ProcureUnits/_shipments.html'/}
        #{/if}
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <button class="btn btn-primary" id="create_unit">创建</button>
    </td>
  </tr>
</table>
<input type="hidden" id="addressName" value="${models.OperatorConfig.getVal("addressname")}">

#{/form}




