#{extends 'main.html' /}
#{set title:'ProcureUnit Create' /}
#{set 'moreScripts'}
    #{script 'procureunits/blank.coffee'/}
    #{script 'procureunits/blank.es6'/}
#{/set}

#{errorMsgs /}
#{info_row title:'创建采购计划' /}
<div class="row-fluid">
#{form @ProcureUnits.create(), method: 'POST', id: 'new_procure_unit'}
  <table class="table table-bordered">
      #{render './_unit_table_trs.html', unit: unit, whouses: whouses, skus: skus/}
    <tr>
      <td colspan="6">
          #{if unit.selling}
          #{render 'ProcureUnits/_shipments.html'/}
        #{/if}
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <input type="button" class="btn btn-primary" id="create_unit" value="创建">
        <input type="button" id="refreshShipmentBtn" title="刷新运输单" class="btn btn-inverse" value="刷新">
      </td>
    </tr>
  </table>
#{/form}
</div>


