#{extends 'main_full_v3.html' /}
#{set title:'创建采购计划' /}
#{set 'moreScripts'}
    #{script 'procureunits/blank.es6'/}
#{/set}

#{errorMsgs /}
#{set product: unit.selling.product/}
#{set copers:product.cooperators() /}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border"><h3 class="box-title">创建采购计划</h3></div>
      <form action="@{ProcureUnits.create()}" method="post" id="new_procure_unit" class="form-horizontal">
        <div class="box-body">
        #{render './_unit_table_trs.html', unit: unit, whouses: whouses,skus: skus,project:project,brandName: brandName/}
        #{if unit.selling}
          <div class="form-group">
            <label class="col-sm-1 control-label">选择运输单(Option)</label>
            <div class="col-sm-11">
              <span style="color:red">注意：带有 <i style="color:#C09853;" class="icon-star"></i> 符号表示此运输单为周期型的运输单</span><br>
              <span style="color:red">PM 的采购计划直接进入某一个周期型运输单, 具体运输计划由运输人员负责制作</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
              <div id="shipments"></div>
            </div>
          </div>
        #{/if}
        </div>
        <div class="box-footer">
          <input type="button" class="btn btn-primary" id="create_unit" value="创建">
          <input type="button" id="refreshShipmentBtn" data-toggle="tooltip" title="刷新运输单" class="btn btn-default" value="刷新">
        </div>
      </form>
    </div>
  </div>
</div>

<input type="hidden" id="unitId" value="${unit.id}">

<div id="show_recommend_modal" class="modal fade bs-example-modal-lg">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">查看推荐物流渠道</h4>
      </div>
      <div class="modal-body">
        <div id="update_div"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default btn-xs" data-dismiss="modal" aria-hidden="true">关闭</button>
      </div>
    </div>
  </div>
</div>

