#{extends 'main_full_v3.html' /}
#{set title:'ProcureUnit #' + unit.id + ' 历史变更详情' /}
#{set 'moreScripts'}
    #{script 'procureunits/blank.es6'/}
#{/set}
<style>
  .table td, .table th{
    vertical-align:middle;
  }
</style>

#{errorMsgs /}
#{flash_alert/}

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border"><h4 class="box-title">汇总信息</h4></div>
      <div class="box-table">
        <table class="table table-condensed table-bordered">
          <tr>
            <th rowspan="2">汇总</th>
            <th>采购计划数</th>
            <th>总收货数</th>
            <th>总入库数</th>
            <th>总请款金额</th>
          </tr>
          <tr>
            <td>${totalPlanQty}</td>
            <td>${totalQty}</td>
            <td>${totalInboundQty}</td>
            <td>
            #{list items:map.keySet(), as:'c'}
            ${c.symbol()} ${map.get(c)}  &nbsp; &nbsp; &nbsp; &nbsp;
            #{/list}
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="box">
      <div class="box-header with-border"><h3 class="box-title">父采购计划</h3></div>
      <div class="box-table">
        <table class="table table-condensed table-bordered">
          <tr>
            <th>ID</th>
            <th>selling</th>
            <th>SKU</th>
            <th>FBA</th>
            <th>去往仓库</th>
            <th>供应商</th>
            <th>单价</th>
            <th>剩余请款金额</th>
            <th>计划数</th>
            <th>收货数</th>
            <th>入库数</th>
            <th>可用库存</th>
            <th>出库数</th>
            <th>当前仓库</th>
            <th>质检结果</th>
            <th>阶段</th>
            <th>运输方式</th>
            <th>预计交货时间</th>
            <th>预计运输时间</th>
            <th>实际交货时间</th>
            <th>创建时间</th>
            <th>出库时间</th>
            <th>项目名称</th>
          </tr>
          <tr id="unit_${unit.id}">
            <td>${unit.id}</td>
            <td style="word-break:break-all;">${unit.selling?.sellingId}</td>
            <td>${unit.product?.sku}</td>
            <td>${unit.fba?.shipmentId}</td>
            <td>${unit.whouse?.name}</td>
            <td>${unit.cooperator?.name}</td>
            <td>${unit.attrs.price}</td>
            <td>${unit.attrs.currency.symbol()} ${unit.leftAmount().format('#,###.##')}</td>
            <td>${unit.attrs.planQty}</td>
            <td>${unit.attrs.qty}</td>
            <td>${unit.inboundQty}</td>
            <td>${unit.availableQty}</td>
            <td>${unit.outQty}</td>
            <td>${unit.currWhouse?.name}</td>
            <td>
            #{if unit.result?.name()=='Qualified'}
              <i style="color:green" class="icon-ok"></i>
            #{/if}
            #{elseif unit.result?.name()=='Unqualified'}
              <i style="color:red" class="icon-remove"></i>
            #{/elseif}
            </td>
            <td style="background-color:${unit.stage?.rgb()}">${unit.stage?.label()}</td>
            <td style="color:${unit.shipType?.rgb()}">${unit.shipType?.label()}</td>
            <td>#{time_tooltip time:unit.attrs.planDeliveryDate/}</td>
            <td>#{time_tooltip time:unit.attrs.planShipDate/}</td>
            <td>#{time_tooltip time:unit.attrs.deliveryDate/}</td>
            <td>#{time_tooltip time:unit.createDate/}</td>
            <td>
            #{if unit.outbound?.status?.name()=='Outbound'}
                   #{time_tooltip time:unit.outbound?.outboundDate/}
              #{/if}
            </td>
            <td>${unit.projectName}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="box">
      <div class="box-header with-border"><h3 class="box-title">子采购计划</h3></div>
      <div class="box-table">
        <table class="table table-condensed table-bordered">
            <tr>
              <th>#</th>
              <th>selling</th>
              <th>SKU</th>
              <th>FBA</th>
              <th>去往仓库</th>
              <th>供应商</th>
              <th>单价</th>
              <th>剩余请款金额</th>
              <th>分拆类型</th>
              <th>计划数</th>
              <th>收货数</th>
              <th>入库数</th>
              <th>可用库存</th>
              <th>出库数</th>
              <th>当前仓库</th>
              <th>质检结果</th>
              <th>阶段</th>
              <th>运输方式</th>
              <th width="160px;">预计交货时间<br>预计运输时间</th>
              <th>实际交货时间</th>
              <th>创建时间</th>
              <th>出库时间</th>
              <th>项目名称</th>
            </tr>
          #{list items:child_units, as:'u'}
            <tr id="unit_${u.id}">
              <td>${u.id}</td>
              <td style="word-break:break-all;">${u.selling?.sellingId}</td>
              <td>${u.product?.sku}</td>
              <td>${u.fba?.shipmentId}</td>
              <td>${u.whouse?.name}</td>
              <td>${u.cooperator?.name}</td>
              <td>${u.attrs.price}</td>
              <td>
                  #{if u.type==models.procure.ProcureUnit.T.StockSplit} 0 #{/if}
                  #{else } ${u.attrs.currency.symbol()} ${u.leftAmount().format('#,###.##')} #{/else}
              </td>
              <td style="background-color:${u.type?.rgb()}">${u.type?.label()}</td>
              <td>${u.attrs.planQty}</td>
              <td>${u.attrs.qty}</td>
              <td>${u.inboundQty}</td>
              <td>${u.availableQty}</td>
              <td>${u.outQty}</td>
              <td>${u.currWhouse?.name}</td>
              <td>
                  #{if u.result?.name()=='Qualified'}
                    <i style="color:green" class="icon-ok"></i>
                  #{/if}
                  #{elseif u.result?.name()=='Unqualified'}
                    <i style="color:red" class="icon-remove"></i>
                  #{/elseif}
              </td>
              <td style="background-color:${u.stage?.rgb()}">${u.stage?.label()}</td>
              <td style="color:${u.shipType?.rgb()}">${u.shipType?.label()}</td>
              <td>
                预计交货:#{time_tooltip time:u.attrs.planDeliveryDate/}<br>
                预计运输:#{time_tooltip time:u.attrs.planShipDate/}</td>
              <td>#{time_tooltip time:u.attrs.deliveryDate/}</td>
              <td>#{time_tooltip time:u.createDate/}</td>
              <td>
                  #{if u.outbound?.status?.name()=='Outbound'}
                   #{time_tooltip time:u.outbound?.outboundDate/}
                  #{/if}
              </td>
              <td>${u.projectName}</td>
            </tr>
          #{/list}
          </table>
      </div>
    </div>
  </div>
</div>

#{records_v3 records:logs/}
