#{extends 'main.html' /}
#{set title:'ProcureUnit #' + unit.id + ' Edit' /}
#{set 'moreScripts'}
    #{script 'procureunits/blank.coffee'/}
#{/set}

#{errorMsgs /}
#{flash_alert/}
#{info_row title:'采购计划' /}
#{warning_row ''}
<h4>采购计划在不同状态修改会有限制</h4>
<ol>
  <li>计划中: 仓库, 合作伙伴, 价格, 数量, 运输类型, 预计到库时间, 预计交货时间, 预计运输时间, 运输单</li>
  <li>采购中: 仓库, 价格, 数量, 运输类型, 预计到库时间, 预计交货时间, 预计运输时间, 运输单</li>
  <li>完成交货: 预计到库时间, 预计运输时间, 运输单</li>
</ol>
#{/warning_row}

<div class="row-fluid">
  <form action="@{ProcureUnits.update(unit.id)}" method="post" data-method='PUT' id="unitEditForm">
    <table class="table table-condensed table-bordered">
    #{render 'ProcureUnits/_unit_table_trs.html', unit:unit, whouses:whouses /}
      <tr>
        <td colspan="4">
        #{render 'ProcureUnits/_shipments.html'/}
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <input type="hidden" name="oldPlanQty" value="${oldPlanQty}">
        #{if type=='edit'}
          <div class="input-append">
            <input type="text" name="msg" placeholder="简要填写变更的原因">
            <button type="submit" class="btn btn-primary" rel="popover" content="当[采购计划的FBA]已生成后再修改[运输方式]或[采购数量]时必须填写原因" placement="right" data-loading>
              更新
            </button>
          </div>
        #{/if}
        </td>
      </tr>
    </table>
  </form>
</div>
#{records records:logs/}
