#{extends 'main.html' /}
#{set title:'手动单采购计划'/}
#{set 'moreScripts'}
    #{script_cdn name: 'procureunits/blank.coffee'/}
#{/set}
#{errorMsgs /}
#{flash_alert/}
#{form @ProcureUnits.updateManual(unit.id), method: 'POST', id: 'new_procureunit'}

#{set copers:unit.product.cooperators() /}
<h4>手动单采购计划</h4>
<table class="table table-condensed table-bordered">
  <tr>
    <th>SKU</th>
    <td>
      <input type="text" name="unit.product.sku" data-provide="typeahead" data-source="${sids}"
                 value="${unit.product.sku}" id="unit_sku" readonly= true>
    </td>

    <th>供应商</th>
    <td>
        #{select 'unit.cooperator.id', items: copers, labelProperty: 'name', value: unit.cooperator?.id}
            #{option ''}请选择#{/option}
        #{/select}
    </td>
  </tr>

  <tr>
    <th>价格</th>
    <td>
      <div class="input-append">
        <input type="text" class="span1" id="unit_price" name="unit.attrs.price" value="${unit.attrs.price}">
          #{pickCurrency id:'unit_currency', name:'unit.attrs.currency', class:'span2', c:unit.attrs.currency?:helper.Currency.CNY /}
      </div>
    </td>

    <th>采购数量</th>
    <td>
      <div class="input-append">
        <input type="text" class="input-mini" placeHolder="具体数量" name="unit.attrs.planQty" value="${unit.attrs.planQty}">
        <input type="text" id="box_num" class="input-mini" placeHolder="箱数">
        <span class="add-on">箱</span>
      </div>
      <input type="hidden" name="unit.attrs.qty" value="${unit.attrs.qty}">
    </td>
  </tr>

  <tr>
    <th>预计交货日期</th>
    <td colspan="4">
      <input type="date" name="unit.attrs.planDeliveryDate" value="${unit.attrs.planDeliveryDate.date()}">
      <input type="hidden" name="unit.deliveryment.id" value="${unit.deliveryment?.id}">
    </td>
  </tr>

  <tr>
    <td colspan="4">
      <button class="btn btn-primary">保存</button>
    </td>
  </tr>
</table>
#{/form}
