#{extends 'main.html' /}
#{set title:'ProcureUnit #' + unit.id + ' Edit' /}
#{set 'moreScripts'}
    #{script 'procureunits/blank.es6'/}
#{/set}
<style>
  .table td, .table th{
    vertical-align:middle;
  }
</style>

#{errorMsgs /}
#{warning_row ''}
<h4>采购计划在不同状态修改会有限制</h4>
<ol>
  <li>如果该采购计划为父采购计划，则不能修改数量</li>
  <li>计划中: 仓库, 合作伙伴, 价格, 数量, 运输类型, 预计到库时间, 预计交货时间, 预计运输时间, 运输单</li>
  <li>采购中: 仓库, 价格, 数量, 运输类型, 预计到库时间, 预计交货时间, 预计运输时间, 运输单</li>
  <li>完成交货: 预计到库时间, 预计运输时间, 运输单</li>
</ol>
#{/warning_row}

<div class="row-fluid">
  <form action="@{ProcureUnits.update(unit.id)}" method="post" data-method='PUT' id="unitEditForm">
    <table class="table table-bordered">
    #{render 'ProcureUnits/_unit_table_trs.html', unit:unit, whouses:whouses, currWhouses:currWhouses /}
      <tr>
        <td colspan="6">
        #{render 'ProcureUnits/_shipments.html'/}
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <input type="hidden" id="oldPlanQty" name="oldPlanQty" value="${oldPlanQty}">

          <div class="input-append">
            <input type="text" name="msg" value="${msg}" placeholder="简要填写变更的原因">
            <button type="submit" class="btn btn-primary" rel="popover" content="当[采购计划的FBA]已生成后再修改[运输方式]或[采购数量]时必须填写原因" placement="right" data-loading>
              更新
            </button>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
<input type="hidden" id="unitId" value="${unit.id}">
#{records records:logs/}
