<!DOCTYPE html>
<html>
<head>
  <title>FBA Packing Slips</title>
  <style>
    body{
      font-family:STXihei;
    }

    .small{
      font-size:10px;

    }
  </style>
</head>
<body style="margin:0 0 0 0;">
<table border="0" style="margin:0 0 0 0; font-size:10px;" cellpadding="0" cellspacing="0">
#{list items:1..10}
  <tr style="height: 11.5mm; vertical-align:bottom;">
    <td style="vertical-align:middle; text-align:center;">
      <img src="http://127.0.0.1:9000/fnSkuCode128/${selling.fnSku}" width="47mm;" height="8mm;" border="0"
           style="padding-top:0px;padding-left:0px;margin:0 0 0 0">
      <span class="small"> ${selling.fnSku}</span>
    </td>
    <td style="vertical-align:middle;text-align:center;">
      <img src="http://127.0.0.1:9000/fnSkuCode128/${selling.fnSku}" width="47mm;" height="8mm;" border="0"
           style="padding-top:0px;padding-left:0px;margin:0 0 0 0">
      <span class="small"> ${selling.fnSku}</span>
    </td>
    <td style="vertical-align:middle;text-align:center;">
      <img src="http://127.0.0.1:9000/fnSkuCode128/${selling.fnSku}" width="47mm;" height="8mm;" border="0"
           style="padding-top:0px;padding-left:0px;margin:0 0 0 0">
      <span class="small"> ${selling.fnSku}</span>
    </td>
    <td style="vertical-align:middle;text-align:center;">
      <img src="http://127.0.0.1:9000/fnSkuCode128/${selling.fnSku}" width="47mm;" height="8mm;" border="0"
           style="padding-top:0px;padding-left:0px;margin:0 0 0 0">
      <span class="small"> ${selling.fnSku}</span>
    </td>
  </tr>
  <tr style="height:17.5mm; vertical-align:top; margin:0 0 0 0;">
      #{set title: selling.aps?.title/}
      #{set length: title?.length()/}
      #{list items:1..4, as:'num'}
        <td style="padding-left: 18px;">
        ${selling.aps?.sortTitle4P()}
          <br>
            #{if selling.product.display}
              <div style="float:left;"><b>${selling.product?.supplierSku}</b></div>
              <br>
            #{/if}
          <div style="float:left;"><b>NEW</b></div>
            #{if models.OperatorConfig.getVal("brandname")=='Tripetals'}
              <div style="float:right;padding-right:20px;"><b>${selling.market?.uropeChineseShow()}</b></div>
            #{/if}
            #{else }
              <div style="float:right;padding-right:20px;"><b>${selling.market?.uropeShow()}</b></div>
            #{/else}
          <br>
        </td>
      #{/list}
  </tr>
#{/list}
</table>
</body>
</html>

