#{extends 'main_full_v3.html' /}
#{set title:"采购单元列表 (${p.count()})"  /}
#{set 'moreStyles'}
    #{stylesheet 'bootstrap-multiselect.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'bootstrap-multiselect.js'/}
    #{script 'component/pagination.coffee'/}
    #{script 'procureunits/index.coffee'/}
    #{script 'procureunits/index.es6'/}
    #{script 'procureunits/_unit_list.coffee'/}
#{/set}
<style>
  .table td{
    vertical-align:middle;
  }
</style>
#{errorMsgs /}
#{flash_alert /}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <form action="@{ProcureUnits.indexWhouse()}" method="get" class="form-inline" id="search_Form">
          <div class="row-fluid">

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">From:</div>
                <input style="width:100px;" class="form-control" role="date" name="p.from" value="${p.from.date()}">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">To:</div>
                <input style="width:100px;" class="form-control" role="date" name="p.to" value="${p.to.date()}">
              </div>
            </div>

            <select name="p.dateType" class="form-control" style="width:100px;">
            #{list items:models.view.post.ProcurePost.DATE_TYPES, as:'t'}
              <option ${t._1 == p.dateType ? 'selected' : ''} value="${t._1}">${t._2}</option>
            #{/list}
            </select>

            <select name="p.whouseId" class="form-control">
              <option value="0">去往仓库</option>
            #{list items:whouses, as:'wh'}
              <option ${wh.id == p.whouseId ? 'selected' : ''} value="${wh.id}">${wh.name}</option>
            #{/list}
            </select>

            <select name="p.shipType" class="form-control" style="width:82px;">
              <option value="">运输方式</option>
            #{list items:models.procure.Shipment.T.values(), as:'t'}
              <option ${t == p.shipType ? 'selected' : ''} value="${t.name()}">${t.label()}</option>
            #{/list}
            </select>

            <select name="p.stages" multiple="multiple" class="form-control" id="stage">
            #{list items:models.procure.ProcureUnit.STAGE.values(), as:'stage'}
                #{if stage.name() != 'APPROVE'}
                  <option value="${stage.name()}" ${p.stages.contains(stage) ? 'selected' : ''}>${stage.label()}</option>
                #{/if}
            #{/list}
            </select>

            <select name="p.categories" class="form-control" multiple="multiple" id="categories">
            #{list items:categoryIds, as:'c'}
              <option value="${c}" ${p.categories.contains(c) ? 'selected':''}>${c}</option>
            #{/list}
            </select>

            <select name="p.cooperatorId" class="form-control selectize" style="width:100px;">
              <option value="">供应商</option>
            #{list items:cooperators, as:'cop'}
              <option ${cop.id == p.cooperatorId ? 'selected' : ''} value="${cop.id}">${cop.name}</option>
            #{/list}
            </select>

            <select name="p.result" class="form-control">
              <option value="">状态</option>
            #{list items:models.whouse.InboundUnit.R.values(), as:'r'}
              <option value="${r.name()}" ${r.name() == p.result?.name()? 'selected' : ''}>${r.label()}</option>
            #{/list}
            </select>

            <select name="p.projectName" class="form-control">
              <option value="">项目名称</option>
            #{list items:models.User.COR, as:'c'}
                #{if java.util.Arrays.asList(brandName,models.User.COR.MengTop.name()).contains(c.name())}
                  <option ${c.name() == p.projectName ? 'selected' : ''} value="${c.name()}">${c.label()}</option>
                #{/if}
            #{/list}
            </select>

            <select name="p.shield" class="form-control" style="width:110px;">
              <option value="1" ${p.shield ? 'selected' : ''}>屏蔽无效计划</option>
              <option value="0" ${!p.shield ? 'selected' : ''}>不屏蔽无效计划</option>
            </select>

            <div class="input-group">
              <div class="input-group-addon"><i class="icon-search"></i></div>
              <input type="text" name="p.search" style="width:180px;" class="form-control"
                     placeholder="出货单ID or sellingId or SKU" value="${p.search}">
              <input type="hidden" name="p.page" value="${p.page}">
            </div>
            <button class="btn btn-primary" data-loading>搜索</button>
          </div>

          <div class="row-fluid">
            <button class="btn btn-primary" id="today"><i class="icon-search"></i> Today</button>
            <div class="form-group">
              <button class="btn btn-warning" name="splitBtn" data-loading>库存分拆</button>
              <input type="hidden" name="p.type" value="${p.type}" id="type">
            </div>
            <div class="input-prepend input-append inline">
              <a href="javascript:void(0)" data-url="@{Inbounds.blank()}" class="btn btn-primary"
                 id="createInboundBtn"><i class="icon-shopping-cart"> </i>采购收货入库单</a>
              <a href="javascript:void(0)" data-url="@{Outbounds.blank()}" class="btn btn-success"
                 id="createOutboundBtn"><i class="icon-plane"> </i>创建出库单</a>
              <a href="javascript:void(0)" data-url="@{Refunds.blank()}" class="btn btn-warning"
                 id="createRefundBtn"><i class="icon-retweet"> </i>创建退货单</a>
              <input type="hidden" name="p.unitIds" id="unitIds"/>
              <a target="_blank" class="btn btn-primary" rel="popover" content="将选中的数据，按照日期-工厂名称进行压缩打包 "
                 id="downloadFBAZIP"><i class="icon-download-alt"></i>下载ZIP</a>
              <a target="_blank" href="@{ProcureUnits.exportLogs()}" class="btn btn-success">
                <i class="icon-list-alt"></i>导出修改日志</a>
            #{power.ck "procures.downloadreports"}
              <a href="javascript:void(0)" id="download_excel" class="btn btn-success">
                <i class="icon-download-alt"></i> 导出采购计划</a>
            #{/power.ck}

            #{include 'Deliveryments/_box_number_model.html'/}
            </div>
          </div>
        </form>
      </div>

      <form method="post" id="create_deliveryment">
        <div class="box-body">
          <table class="table table-condensed table-bordered" id="unit_table">
            <tr>
              <th width="20px;"><input type="checkbox" id="checkbox_all" class="checkall"></th>
              <th width="50px;">采购计划ID</th>
              <th width="30px;">父ID</th>
              <th width="40px;">阶段</th>
              <th width="185px;">Sku<br>产品名称</th>
              <th width="120px;">FBA-ShipmentId<br>CenterId</th>
              <th width="65px;">去往市场</th>
              <th width="50px;">深圳仓库</th>
              <th width="55px;">采购单<br>供应商</th>
              <th width="105px;">数量<br>(计划/交货/入库)</th>
              <th rel="popover" content="<img src='/img/helper/fnsku.png' />" width="95px;">FnSku</th>
              <th width="40px;">运输方式</th>
              <th width="130px;">时间<br>(预计交货/预计运输)</th>
              <th width="80px;">实际交货时间</th>
              <th width="40px;">质检状态</th>
              <th width="40px;">质检结果</th>
              <th width="40px;">包装信息</th>
              <th width="50px;">项目名称</th>
              <th width="75px;">创建人<br>创建时间</th>
            </tr>
          #{list items:p.query(), as:'unit'}
            <tr>
                #{set dto: unit.fba?.dto/}
              <td>
                <input type="checkbox" name="pids" cooperName="${unit.cooperator?.name}" project="${unit.projectName}"
                       value="${unit.id}" whouse="${unit.whouse?.name()}" stage="${unit.stage?.name()}"
                       shipType="${unit.shipType?.name()}" unqualifiedQty="${unit.unqualifiedQty}" data-boxnum="${unit.boxNum()}">
              </td>
              <td data-toggle="toggle" data-target="#${tr_key}_${unit.id}" style="cursor:pointer;">
                <i class="icon-reorder"></i>
                  #{if unit.parent}
                    <i class="icon-retweet" style="color:${unit.type.name()=='ProcureSplit'?'blue':'orange'}"
                       data-toggle="tooltip" title="${unit.type?.label()}"></i>
                  #{/if}
                <a href="@{ProcureUnits.detail(unit.id)}#${unit?.id}" target="_blank">${unit.id}</a>
              </td>
              <td>${unit.parent?.id}</td>
              <td style="background:${unit.stage.rgb()}">${unit.stage.label()}</td>
              <td data-toggle="tooltip" title="${unit.product?.abbreviation}" style="word-break:break-all">
                <a href="@{Products.show(unit.sku)}" target="_blank" rel="popover" content="${cooperItem?.memo}">${unit.sku}</a>
                <br>${unit?.product?.abbreviation?.overLong()}
              </td>
              <td>
                  #{if unit.fba}
                  ${unit.fba.shipmentId}
                      #{set feeds: unit.fba.feeds()/}
                      #{if feeds.size() > 0}
                          #{render '/app/views/gt_templates/feeds.html', feeds: feeds, key: unit.fba.shipmentId, fid: unit.fba.id/}
                          #{set lastFeed: feeds.get(0)/}
                          #{if lastFeed.isFailed()}
                            <i style="color:#dc143c;" class="icon-warning-sign" name="showFeedsPage"
                               data-feeds-page="${unit.fba.shipmentId}" rel="tooltip" title="FBA 装箱信息提交失败"></i>
                          #{/if}
                          #{elseif lastFeed.isSussess()}
                            <i style="color:green;" class="icon-ok-sign" name="showFeedsPage"
                               data-feeds-page="${unit.fba.shipmentId}" rel="tooltip" title="FBA 装箱信息提交成功">
                            </i>
                          #{/elseif}
                          #{else }
                            <i class="icon-search" name="showFeedsPage"
                               data-feeds-page="${unit.fba.shipmentId}" rel="tooltip" title="FBA 装箱信息正在提交中">
                            </i>
                          #{/else}
                      #{/if}
                  #{/if}
                <br><span style="color:#0075cf">${unit.fba?.centerId}</span>
              </td>
              <td style="word-break:break-all;">${unit.whouse?.name}</td>
              <td>${unit.currWhouse?.name}</td>
              <td>${unit.deliveryment?.id}<br>${unit.cooperator?.name}</td>
              <td #{if unit.attrs.planQty != unit.attrs.qty && (unit.attrs.qty !=0 && unit.attrs.qty)} style="color:red"#{/if}>
              ${unit.attrs.planQty} / ${unit.attrs.qty} / ${unit.inboundQty}
              </td>
              <td>
                  #{if unit.selling?.fnSku}
                  ${unit.selling.fnSku}<br/>
                    <a href="@{ProcureUnits.fnSkuLable(unit.sid, unit.id)}" target="_blank" data-toggle="tooltip"
                       title="增加了 国家信息"><i class="icon-download-alt"></i> New
                    </a>
                  #{/if}
                  #{elseif unit.selling != null}
                    <a class="btn btn-warning btn-xs" href="@{Sellings.selling()}/${unit.selling?.sellingId}">
                      补全 FnSku
                    </a>
                  #{/elseif}
              </td>
              <td style="color:${unit.shipType.rgb()}">${unit.shipType?.label()}</td>
              <td>
                预计交货:#{time_tooltip_v3 time:unit.attrs.planDeliveryDate/} <br>
                预计运输:#{time_tooltip_v3 time:unit.attrs.planShipDate /}
              </td>
              <td>#{time_tooltip_v3 time:unit.attrs.deliveryDate/}</td>
              <td>
                  #{if unit.result}
                    <a href="@{Inbounds.editByUnitId(unit.id)}" target="_blank">
                    ${unit.result.name()=='UnCheck'? '未检' : '已检'}
                    </a>
                  #{/if}
              </td>
              <td>
                  #{if unit.result?.name()=='Qualified'}
                    <i style="color:green" class="icon-ok"></i>
                  #{/if}
                  #{elseif unit.result?.name()=='Unqualified'}
                    <i style="color:red" class="icon-remove"></i>
                  #{/elseif}
              </td>
              <td>
                  #{if Arrays.asList("IN_STORAGE","OUTBOUND","SHIPPING","SHIP_OVER","INBOUND","CLOSE").contains(unit.stage.name())}
                    <input type="button" data-id="${unit.id}" name="editBoxInfo" data-stage="${unit.stage.name()}"
                           #{if unit.stage.name()=='IN_STORAGE'}value="填写"#{/if}  #{else}value="查看" #{/else}
                           class="btn btn-xs ${unit.validBoxInfoIsCorrect() ? 'btn-success' : 'btn-danger'}">
                  #{/if}
              </td>
              <td>${unit.projectName}</td>
              <td>${unit.handler?.username}<br>#{time_tooltip time:unit.createDate/}</td>
            </tr>

            <tr id="${tr_key}_${unit.id}" style="display:none;">
              <td colspan="${checkbox ? '22' : '20'}" style="background-color:#F0F0F0;">
                <div class="col-md-3">
                  <div class="box box-warning box-solid">
                    <div class="box-header with-border"><h3 class="box-title">Comment</h3></div>
                    <div class="box-body">${unit.comment}</div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="box box-info box-solid">
                    <div class="box-header with-border"><h3 class="box-title">关联运输单</h3></div>
                    <div class="box-body">
                        #{list items:unit.relateShipment(), as:'sp'}
                          <li>
                            <a href="@{Shipments.show(sp.id)}">${sp}</a>
                            预计 #{time_tooltip_v3 time: sp.dates?.planBeginDate /} 开船
                          </li>
                        #{/list}
                    </div>
                  </div>
                  <div class="box box-info box-solid">
                    <div class="box-header with-border"><h3 class="box-title">关联 FBA</h3></div>
                    <div class="box-body">
                        #{if unit.fba}
                          <a href="${unit.fba.fbaLink()}">
                            <i class="icon-external-link"></i>
                          ${unit.fba.shipmentId}
                          </a>
                        #{/if}
                        #{else }
                          <span class="text-warning">还没有 FBA</span>
                        #{/else}
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="box box-success box-solid">
                    <div class="box-header with-border"><h3 class="box-title">实际交货量</h3></div>
                    <div class="box-body">
                      <table class="table table-condensed table-bordered">
                        <tr>
                          <td>实际交货量</td>
                          <td>实际交货日期</td>
                        </tr>
                        <tr>
                          <td>${unit.attrs.qty}</td>
                          <td>${unit.attrs.deliveryDate.los()}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="box-footer">
                      <a href="@{ProcureUnits.detail(unit.id)}#${unit?.id}" target="_blank" class="btn btn-xs btn-info">变更详情</a>
                        #{if unit.stage.name()=='IN_STORAGE' && unit.attrs.qty < unit.attrs.planQty}
                          <a href="@{Inbounds.createTailInboundByUnitId(unit.id)}" target="_blank" data-toggle="tooltip"
                             title="请谨慎使用该按钮,创建尾货单" class="btn btn-xs btn-danger">再次收货</a>
                        #{/if}
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="box box-warning box-solid">
                    <div class="box-header with-border"><h3 class="box-title">Record</h3></div>
                    <div class="box-body">
                        #{ifnot norecord}
                          <div style="max-height:160px;overflow:auto;margin-bottom:20px;">
                              #{records_ul  records: unit.records()/}
                          </div>
                        #{/ifnot}
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          #{/list}
          </table>
        </div>

        <div class="box-footer">
        #{bootstrap_pager_v3 pi:p, url:'' /}
        </div>
      </form>
    </div>
  </div>
</div>

#{records_v3 records:logs/}

<div id="fba_carton_contents_modal" class="modal fade bs-example-modal-lg">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body" id="refresh_div">
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <a class="btn btn-primary" id="submitBoxInfoBtn">提交</a>
      </div>
    </div>
  </div>
</div>
