#{extends 'main.html'/}
#{set title:"分拆采购计划 #" + unit.id /}
#{set 'moreScripts'}
    #{script 'procureunits/splitUnit.coffee'/}
    #{script 'procureunits/blank.coffee'/}
#{/set}

#{errorMsgs /}
#{info_row title:'原始采购计划' /}
<div class="row-fluid">
  <div class="span12">
    <table class="table table-condensed table-bordered">
      <tr>
        <th style="width:15%;">采购计划ID:</th>
        <td colspan="3">${unit.id}</td>
      </tr>
      <tr>
        <th style="width:15%;">Selling ID:</th>
        <td style="width:35%;">${unit.selling?.sellingId}</td>
        <th style="width:15%;">SKU</th>
        <td style="width:35%;">${unit.sku}</td>
      </tr>
      <tr>
        <th>产品名称</th>
        <td>${unit.selling?.listing.product.abbreviation}</td>
        <th>采购数量</th>
        <td>${unit.qty()}</td>
      </tr>
      <tr>
        <th>预计交货时间</th>
        <td>#{time_tooltip time:unit.attrs.planDeliveryDate/}</td>
        <th>去往仓库:</th>
        <td>${unit.whouse.name}</td>
      </tr>
      <tr>
        <th>预计运输时间</th>
        <td>#{time_tooltip time:unit.attrs.planShipDate/}</td>
        <th>预计到库时间</th>
        <td>#{time_tooltip time:unit.attrs.planArrivDate/}</td>
      </tr>
      <tr>
        <th>阶段</th>
        <td style="color:${unit.stage.rgb()}">${unit.stage.label()}</td>
        <th>运输方式</th>
        <td>${unit.shipType?.label()}</td>
      </tr>
    </table>
  </div>
</div>

#{success_row title:'分拆的计划' /}
<div id="stockDiv"></div>

<div class="row-fluid">
  <div class="span12">
    <form action="@{ProcureUnits.doSplitUnit(unit.id)}" method="POST" id="splitUnitForm">
    #{authenticityToken /}
      <table class="table table-condensed table-bordered">
      #{if unit.selling}
          #{include 'ProcureUnits/_splitOnSelling.html'/}
      #{/if}
      #{else}
          #{include 'ProcureUnits/_splitOnNoSelling.html'/}
      #{/else}
        <tr>
          <td colspan="6">
            <h4>Comment</h4>
            <textarea rows="5" class="span12" name="newUnit.comment">${newUnit.comment.raw()}</textarea>
          </td>
        </tr>
        <tr>
          <td colspan="6">
          #{render 'ProcureUnits/_shipments.html'/}
          </td>
        </tr>

        <tr>
          <td colspan="6">
            <input type="hidden" name="newUnit.attrs.deliveryDate" value="${newUnit.attrs.deliveryDate.date()}">
            <a href="@{Deliveryments.show(unit.deliveryment.id)}" class="btn btn-success">回到采购单</a>
          #{power.ck "procures.dosplitunit"}
            <button data-confirm="确认分拆前, 请再确认一次分拆的数量,地址等信息" class="btn btn-primary">分拆</button>
          #{/power.ck}
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
