#{extends 'main.html'/}
#{set title:"分拆采购计划 #" + unit.id /}
#{set 'moreScripts'}
    #{script 'procureunits/splitUnit.es6'/}
#{/set}
<style>
  .table td, .table th{
    vertical-align:middle;
  }
</style>
#{errorMsgs /}


#{if unit.parent}
    #{danger_row  title:'分拆注意事项'}
    <ul>
      <li>改采购计划已经是子采购计划，父节点为 <a href="@{ProcureUnits.detail(unit.id)}#${unit.id}">${unit.id}</a></li>
    </ul>
    #{/danger_row}
#{/if}
#{else }
    #{warning_row title:'分拆注意事项'}
    <ul>
      <li>如需分拆为其它SKU，只能分拆为同一个供应商下的其它SKU！</li>
    </ul>
    #{/warning_row}
    #{info_row title:'原始采购计划' /}
<div class="row-fluid">
  <div class="span12">
    <table class="table table-bordered">
      <tr>
        <th>采购计划ID</th>
        <td width="320px;">${unit.id}</td>
        <th>历史变更</th>
        <td width="300px;">
          <a href="">查看>></a>
        </td>
        <td></td>
        <td width="320px;"></td>
      </tr>
      <tr>
        <th>Selling</th>
        <td>${unit.selling?.sellingId}</td>
        <th>SKU</th>
        <td>${unit.sku}</td>
        <th>产品名称</th>
        <td><input type="text" style="width:300px;" value="${unit.product?.abbreviation}" readonly></td>
      </tr>
      <tr>
        <th>去往仓库</th>
        <td>${unit.whouse?.name}</td>
        <th>供应商</th>
        <td>${unit.cooperator.name}</td>
        <th>采购数量</th>
        <td>${unit.attrs.planQty}</td>
      </tr>
      <tr>
        <th>预计交货时间</th>
        <td>#{time_tooltip time:unit.attrs.planDeliveryDate/}</td>
        <th>预计运输时间</th>
        <td>#{time_tooltip time:unit.attrs.planShipDate/}</td>
        <th>预计到库时间</th>
        <td>#{time_tooltip time:unit.attrs.planArrivDate/}</td>
      </tr>
      <tr>
        <th>单价</th>
        <td>${unit.attrs.price.format("#.##")} ${unit.attrs.currency.name()}</td>
        <th>阶段</th>
        <td style="color:${unit.stage.rgb()}">${unit.stage?.label()}</td>
        <th>采购单</th>
        <td>${unit.deliveryment.id}</td>
      </tr>
      <tr>
        <th>运输方式</th>
        <td style="color:${unit.shipType?.rgb()}">${unit.shipType?.label()}</td>
        <th>项目名称</th>
        <td>${unit.projectName}</td>
        <td colspan="2"></td>
      </tr>
        #{if unit.stage.name()=='IN_STORAGE'}
          <tr>
            <th>入库时FBA</th>
            <td>${unit.fba?.shipmentId}</td>
            <th>当前仓库</th>
            <td>${unit.currWhouse?.name}</td>
            <th></th>
            <td></td>
          </tr>
          <tr>
            <th>收货数</th>
            <td>${unit.attrs.qty}</td>
            <th>入库数</th>
            <td>${unit.inboundQty}</td>
            <th>可用库存</th>
            <td>${unit.availableQty}</td>
          </tr>
        #{/if}
    </table>
  </div>
</div>
<input type="hidden" id="cooperId" value="${unit.cooperator?.id}">
    #{success_row title:'子采购计划'/}
<div class="row-fluid">
  <div class="span12">
    <form action="@{ProcureUnits.doSplitUnit(unit.id)}" method="POST" id="splitUnitForm">
        #{authenticityToken /}
      <table class="table ta table-bordered" >
          #{include 'ProcureUnits/_splitOnSelling.html'/}
        <tr>
          <td colspan="6">
            <h4>Comment</h4>
            <textarea rows="5" class="span12" name="newUnit.comment">${newUnit.comment.raw()}</textarea>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <input type="hidden" name="newUnit.attrs.deliveryDate" value="${newUnit.attrs.deliveryDate.date()}">
            <a href="@{Deliveryments.show(unit.deliveryment.id)}" class="btn btn-success">回到采购单</a>
              #{power.ck "procures.dosplitunit"}
                <button data-confirm="确认分拆前, 请再确认一次分拆的数量,地址等信息" class="btn btn-primary">
                  分拆
                </button>
              #{/power.ck}
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

#{/else}