#{extends 'main_full_v3.html'/}
#{set title:"分拆采购计划 #" + unit.id /}
#{set 'moreScripts'}
    #{script 'procureunits/splitUnit.es6'/}
#{/set}

#{errorMsgs /}

#{if unit.isShipmentPlan()}
<div class="alert alert-danger" role="alert">
  <ul>
    <li>当前采购计划所在的运输单已不是“计划中”状态，请与物流确认后再操作</li>
  </ul>
</div>
#{/if}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border"><h4 class="box-title">原始采购计划</h4></div>
      <div class="box-body form-horizontal">
        <div class="form-group">
          <label class="col-sm-1 control-label">采购计划ID</label>
          <div class="col-sm-2">
            <input class="form-control" value="${unit.id}" readonly>
          </div>
          <label class="col-sm-1 control-label">历史变更</label>
          <div class="col-sm-2">
            <a href="@{ProcureUnits.detail(unit.id)}" target="_blank" class="btn btn-default" style="color:blue">查看>> </a>
          </div>
          <label class="col-sm-1 control-label">采购单</label>
          <div class="col-sm-2">
            <a href="@{Deliveryments.show(unit.deliveryment.id)}" target="_blank" class="btn btn-default" style="color:blue">${unit.deliveryment.id}</a>
          </div>
          <label class="col-sm-1 control-label">所属公司</label>
          <div class="col-sm-2">
            <input class="form-control" value="${unit.projectName}" readonly>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-1 control-label">Selling</label>
          <div class="col-sm-2">
            <input class="form-control" value="${unit.selling?.sellingId}" readonly>
          </div>
          <label class="col-sm-1 control-label">SKU</label>
          <div class="col-sm-2">
            <input class="form-control" value="${unit.sku}" readonly>
          </div>
          <label class="col-sm-1 control-label">产品名称</label>
          <div class="col-sm-2">
            <input class="form-control" value="${unit.product?.abbreviation}" readonly>
          </div>
          <label class="col-sm-1 control-label">去往仓库</label>
          <div class="col-sm-2">
            <input class="form-control" value="${unit.whouse?.name}" readonly>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-1 control-label">供应商</label>
          <div class="col-sm-2">
            <input class="form-control" value="${unit.cooperator.name}" readonly>
          </div>
          <label class="col-sm-1 control-label">采购数量</label>
          <div class="col-sm-2">
            <input class="form-control" value="${unit.attrs.planQty}" readonly>
          </div>
          <label class="col-sm-1 control-label">单价</label>
          <div class="col-sm-2">
            <input class="form-control" readonly value="${unit.attrs.price.format("#.##")} ${unit.attrs.currency.name()} #{if unit.containTax}(税点：${unit.taxPoint})#{/if}">
          </div>
          <label class="col-sm-1 control-label">阶段</label>
          <div class="col-sm-2">
            <input style="color:${unit.stage.rgb()}" class="form-control" value="${unit.stage?.label()}" readonly>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-1 control-label">预计交货时间</label>
          <div class="col-sm-2">
            <input class="form-control" value="${unit.attrs.planDeliveryDate.date()}" readonly>
          </div>
          <label class="col-sm-1 control-label">运输方式</label>
          <div class="col-sm-2">
            <input class="form-control" style="color:${unit.shipType?.rgb()}" value="${unit.shipType?.label()}" readonly>
          </div>
          <label class="col-sm-1 control-label">预计运输时间</label>
          <div class="col-sm-2">
            <input class="form-control" value="${unit.attrs.planShipDate?.date()}" readonly>
          </div>
          <label class="col-sm-1 control-label">预计到库时间</label>
          <div class="col-sm-2">
            <input class="form-control" value="${unit.attrs.planArrivDate?.date()}" readonly>
          </div>
        </div>
      #{if unit.stage.name()=='IN_STORAGE'}
        <div class="form-group">
          <label class="col-sm-1 control-label">入库时FBA</label>
          <div class="col-sm-2">
            <input class="form-control" value="${unit.fba?.shipmentId}" readonly>
          </div>
          <label class="col-sm-1 control-label">当前仓库</label>
          <div class="col-sm-2">
            <input class="form-control" value="${unit.currWhouse?.name}" readonly>
          </div>
          <label class="col-sm-2 control-label">收货数/入库数/可用库存</label>
          <div class="col-sm-4">
            <input class="form-control" readonly value="${unit.attrs.qty}/${unit.inboundQty}/${unit.availableQty}
            (主箱数:${unit.mainBox?.boxNum} 每箱个数:${unit.mainBox?.num} 尾箱数:${unit.lastBox?.boxNum} 每箱个数:${unit.lastBox?.num})">
          </div>
        </div>
      #{/if}
      </div>
    </div>

    <div class="box box-warning">
      <div class="box-header with-border"><h4 class="box-title">子采购计划</h4></div>
      <form action="@{ProcureUnits.doSplitUnit(unit.id)}" method="POST" id="splitUnitForm" class="form-horizontal">
      #{authenticityToken /}
        <div class="box-body">
        #{if type}
            #{include 'ProcureUnits/_splitOnSelling.html'/}
        #{/if}
        #{else }
            #{include 'ProcureUnits/_splitOnNoSelling.html'/}
        #{/else}
          <div class="form-group">
            <label class="col-sm-1 control-label">Comment</label>
            <div class="col-sm-11">
              <textarea rows="5" class="form-control" name="newUnit.comment">${newUnit.comment.raw()}</textarea>
            </div>
          </div>

        </div>
        <div class="box-footer">
        #{power.ck "procures.dosplitunit"}
          <button data-confirm="确认分拆前, 请再确认一次分拆的数量,地址等信息" class="btn btn-primary">
            分拆
          </button>
        #{/power.ck}
          <a href="@{Deliveryments.show(unit.deliveryment.id)}" class="btn btn-default">返回采购单</a>
          <input type="hidden" name="newUnit.attrs.deliveryDate" value="${newUnit.attrs.deliveryDate.date()}">
          <input type="hidden" name="type" id="splitType" value="${type}">
        </div>

      </form>
    </div>
  </div>
</div>

<input type="hidden" id="cooperId" value="${unit.cooperator?.id}">


