#{extends 'main_full_v3.html'/}
#{set title:"运营报表下载" /}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
    #{script 'ReportDownloads/index.es6'/}
#{/set}

#{flash_alert /}
#{errorMsgs /}

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <form action="@{ReportDownloads.index()}" method="post" class="form-inline" id="profits_form">
        <div class="box-header with-border">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">年:</div>
            #{select_year  name: "p.year", value: p.year, native: true, class:"form-control"/}
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">月:</div>
            #{select_all_month  name: "p.month", value: p.month, native: true, class:"form-control"/}
            </div>
          </div>
        #{select_enum name:'p.reporttype', items:models.view.post.ReportPost.saleReportTypes(), value:p.reporttype, class:"form-control"}
          <option value="">报表类型</option>
        #{/select_enum}
          <input type="hidden" name="p.page" value="${p.page}">
          <button class="btn btn-default" data-loading>搜索</button>
        </div>
        <div class="box-body">
          <table id="reports" class="table table-condensed table-bordered">
            <tr>
              <th>序号</th>
              <th>报表类型</th>
              <th>报表名称</th>
              <th>年份</th>
              <th>月份</th>
              <th>生成时间</th>
              <th>下载次数</th>
              <th>操作</th>
            </tr>
          #{list items:reports, as:'r'}
            <tr>
              <td>${r.id}</td>
              <td>${r.reporttype?r.reporttype.label():''}</td>
              <td>${r.filename}</td>
              <td>${r.year}</td>
              <td>${r.month}</td>
              <td>${r.createAt}</td>
              <td>${r.downloadcount}</td>
              <td>
                <a class="btn btn-primary btn-xs" href="@{ReportDownloads.download(r.id)}">下载</a>
                  #{if r.canBeRecalculated()}
                    <a class="btn btn-warning btn-xs" id="repeatcalculate"
                       data-url="@{ReportDownloads.repeatCalculate(r.id)}">重新计算</a>
                  #{/if}
              </td>
            </tr>
          #{/list}
          </table>
        </div>
        <div class="box-footer">
        #{bootstrap_pager_v3 pi:p, url:'' /}
        </div>
      </form>
    </div>
  </div>
</div>
