#{extends 'main_full.html'/}
#{set title:"运营报表下载" /}
#{set 'moreScripts'}
    #{script 'jquery.dataTables.js'/}
    #{script 'ReportDownloads/index.es6'/}
#{/set}

#{info_row}
<ul>
  <li><strong>[采购报表]</strong>采购报表</li>
</ul>
#{/info_row}
#{flash_alert /}
#{errorMsgs /}

#{form @ReportDownloads.procureReportsIndex(), class:'search_form', id:'profits_form'}
<div class="row-fluid">
  <div class="span12">
    <div class="input-prepend input-append inline">
      <span class="add-on">年:</span>
        #{select_year  name: "p.year", value: p.year, native: true/}
      <span class="add-on">月:</span>
        #{select_all_month  name: "p.month", value: p.month, native: true/}
    </div>

    <div class="inline">
        #{select_enum name:'p.reporttype', items:models.view.post.ReportPost.procureReportTypes(), value:p.reporttype, native: true}
          <option value="">报表类型</option>
        #{/select_enum}
    </div>

    <div class="input-prepend input-append inline">
      <span class="add-on"><i class="icon-search"></i></span>
      <button class="btn btn-primary" data-loading>搜索</button>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <table id="reports" class="table table-condensed table-bordered">
      <thead>
      <tr>
        <th>序号</th>
        <th>报表类型</th>
        <th>报表名称</th>
        <th>年份</th>
        <th>月份</th>
        <th>生成时间</th>
        <th>下载次数</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
          #{list items:reports, as:'r'}
          <tr>
            <td>${r.id}</td>
            <td>${r.reporttype?r.reporttype.label():''}</td>
            <td>${r.filename}</td>
            <td>${r.year}</td>
            <td>${r.month}</td>
            <td>${r.createAt}</td>
            <td>${r.downloadcount}</td>
            <td><a class="btn btn-primary" href="@{ReportDownloads.download(r.id)}">下载</a>
                #{if r.canBeRecalculated()}
                  <a class="btn btn-primary" id="repeatcalculate" data-url="@{ReportDownloads.repeatCalculate(r.id)}">重新计算</a>
                #{/if}
            </td>
          </tr>
          #{/list}
      </tbody>
    </table>
  </div>
</div>
#{/form}


<div class="row-fluid">
  <div class="span12">
    <div class="bs-docs-form">
      <form class="search_form" action="@{Excels.purchaseOrderDetailReport()}" target="_blank">
        <div class="inline" style="margin-top:4px;">
          <span class="label label-info">采购订单明细报表:</span>
        </div>

        <div class="input-prepend input-append inline" style="margin-left:10px;">
          <span class="add-on">From:</span>
          <input type="date" name="p.from" value="${helper.Dates.aMonthAgo().date()}">
          <span class="add-on">To:</span>
          <input type="date" name="p.to" value="${new org.joda.time.DateTime()}">
        </div>

        <div class="input-prepend input-append inline" style="margin-left:10px;">
          <span class="add-on">供应商:</span>
          <input type="text" id="cooperator_input" autocomplete="off" style="width:150px;">
          <input type="hidden" id="cooperator_id" name="p.cooperatorId" value="">
        </div>

        <div class="input-prepend input-append inline" style="margin-left:10px;">
          <span class="add-on">阶段:</span>
          <select class="" name="p.stage" style="width:120px;">
            <option value="">采购计划阶段</option>
          #{list items: models.procure.ProcureUnit.STAGE, as: 'm'}
              #{if m.label() != '审批中'}
                <option value="${m.name()}">${m.label()}</option>
              #{/if}
          #{/list}
          </select>
        </div>

        <div class="input-prepend input-append inline" style="margin-left:10px;">
          <span class="add-on">关键字:</span>
          <input type="text" name="p.search" autocomplete="off" style="width:150px;" placeholder="采购单号、SKU">
        </div>
        &nbsp;
        <button class="btn">导出</button>
      </form>
    </div>
  </div>
</div>