#{set tr_key: key ? key : 'unit'/}

<table class="table table-condensed table-bordered dataTable" id="unit_table">
  <tr>
  #{if checkbox}
    <th width="20px;">
      <label class="checkbox">
        <input type="checkbox" id="${key ? tr_key + '_' : ''}checkbox_all" class="${tr_key} checkall" value="">
      </label>
    </th>
  #{/if}
  #{if relationPage}
    <th width="20px;">
      <input type="checkbox" name="checkAll" data-index="${dpIndex}">
    </th>
  #{/if}
    <th width="40px;">#</th>
    <th width="40px;">阶段</th>
    <th>物料编码</th>
    <th>物料名称</th>
    <th>采购数</th>
    <th>采购余量</th>
    <th>单价</th>
    <th>总价</th>
    <th>Action</th>
    <th>项目名称</th>
    <th>创建人</th>
    <th>创建时间</th>
  </tr>
#{list items:units, as:'unit'}
  <tr id="procureUnit_${unit.id}">
    <td>
      <label class="checkbox">
        <input type="checkbox" name="pids" value="${unit.id}" class="${tr_key}" id="checkbox_${unit.id}"
               data-boxnum="" data-num="" data-lastcartonnum="" data-singleboxweight="" data-length=""
               data-width="" data-height="">
      </label>
    </td>
    <td data-toggle="toggle" data-target="#${tr_key}_${unit.id}" style="cursor:pointer;">
    ${unit.id}
    </td>
    <td style="background:${unit.stage.rgb()}">${unit.stage.label()}</td>
    <td>${unit.material?.code}</td>
    <td>${unit.material?.name}</td>
    <td>${unit.planQty}</td>
    <td>${unit.availableQty}</td>
    <td>${unit.planCurrency?.symbol()} ${unit.formatPlanPrice().format('#,###.##')}</td>
    <td>${unit.planCurrency?.symbol()} ${unit.totalAmount().format('#,###.##')}</td>
    <td>
      <a href="javascript:void(0)" name="unitUpdateBtn" class="btn btn-small btn-primary" uid="${unit.id}">修改</a>
      <!-- <a href="@{MaterialUnits.destroy(unit.id)}" data-confirm="确认删除?" class="btn btn-small btn-danger"> 删除</a> -->
    </td>
    <td>${unit.projectName}</td>
    <td>${unit.handler?.username}</td>
    <td>#{time_tooltip time:unit.createDate /}</td>
  </tr>

#{/list}
#{if p != null}
  <tr class="tb_footer">
    <td colspan="25">
        #{bootstrap_pager pi:p, url:'' /}
    </td>
  </tr>
#{/if}
</table>

<!-- Ship To Modal -->
<div id="fba_ship_to_modal" class="modal hide fade">
  <div class="modal-body" id="fba_ship_to_body"></div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
  </div>
</div>

