#{extends 'main_full.html' /}
#{set title:'新增物料采购单' /}
#{set 'moreScripts'}
    #{script 'materialPurchases/blank.es6'/}
#{/set}
#{errorMsgs /}
#{flash_alert/}

#{form @MaterialPurchases.create(), method:'POST', id: 'new_inbound'}
    #{info_row title: '物料采购单'/}

<table class="table table-condensed table-bordered">
  <tr>
    <th>采购单名称<span style="color:red">*</span></th>
    <td>
      <input type="text" name="purchase.name" style="width: 240px;" required>
    </td>

    <th>所属公司</th>
    <td>
      <select name="units[0].projectName" class="inline">
        <option value="${brandName}">${brandName}</option>
      </select>

    </td>
  </tr>
  <tr>


    <th>物料编码</th>
    <td>
      <select name="units[0].material.id" id="unit_material" class="inline selectize" style="width:250px;">
        <option value="">请选择</option>
          #{list items:materials, as:'m'}
            <option value="${m.id}">${m.code}</option>
          #{/list}
      </select>
    </td>
    <th>物料名称</th>
    <td><input type="text" name="units[0].material.name" id="materialName" readonly></td>

  </tr>
  <tr>
    <th>供应商<span style="color:red">*</span></th>
    <td>
      <select name="purchase.cooperator.id" required>
      </select>
    </td>
    <th>价格<span style="color:red">*</span></th>
    <td>
      <input type="text" class="span1 inline" id="unit_price" name="units[0].planPrice">
        #{pickCurrency id:'unit_planCurrency', name:'units[0].planCurrency',class: 'span1 inline',
        c:units[0]?.currency?:helper.Currency.CNY, native: 'aaa'/}
    </td>
  </tr>
  <tr>
    <th>采购数量<span style="color:red">*</span></th>
    <td>
      <input type="text" class="input-mini" placeHolder="具体数量" name="units[0].planQty" required>
      <input type="text" id="box_num" name="box_size" class="input-mini" placeHolder="箱数" boxSize="">
      <span class="add-on">箱</span>
    </td>
    <th>采购未确认数</th>
    <td colspan="3"><input type="text" id="surplusPendingQty" readonly></td>
  </tr>

  <tr>
  </tr>
  <tr id="btn_tr">
    <th>备注</th>
    <td colspan="5">
      <textarea name="purchase.memo" rows="4" class="input-block-level"></textarea>
    </td>
  </tr>


  <tr>
    <td colspan="2">
      <button class="btn btn-primary">保存</button>
    </td>
    <td colspan="2">
      <button class="btn btn-warning" id="addSkuBtn">新增物料</button>
    </td>
  </tr>
</table>


#{/form}


<script type="text/template" id="copy">
  <tr>
    <th>物料编码<span style="color:red"><%= num+1 %></span></th>
    <td>
      <select></select>
    </td>
    <th>物料名称</th>
    <td>
      <input type="text" name="units[<%= num %>].material.name" readonly>
      <button class="btn btn-danger" name="delMt">删除</button>
    </td>
  </tr>
  <tr>
    <th>采购数量<span style="color:red">*</span></th>
    <td>
      <input type="text" class="input-mini" placeHolder="具体数量" name="units[<%= num %>].planQty" required>
      <input type="text" name="box_size" class="input-mini" placeHolder="箱数">
      <span class="add-on">箱</span>
    </td>
    <th>价格<span style="color:red">*</span></th>
    <td>
      <input type="text" class="span1 inline" id="unit_price" name="units[<%= num %>].planPrice" required>
    #{pickCurrency id:'unit_currency', name:'units[<%= num %>].planCurrency',class: 'span1 inline',
    c:units[0]?.currency?:helper.Currency.CNY, native: 'aaa'/}
    </td>
  </tr>
  <tr>

    <th>采购未确认数</th>
    <td>
      <input type="text" name="surplusPendingQty" readonly>
    </td>
    <th>所属公司</th>
    <td colspan="3">
      <select name="units[<%= num %>].projectName">
        <option value="${brandName}">${brandName}</option>
      </select>
    </td>
  </tr>
</script>