#{extends 'main_full_v3.html'/}
#{set title:"物料采购单列表 (${materialPurchases.size()})" /}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
    #{script 'deliveryments/index.es6'/}
    #{script 'procureunits/_unit_list.coffee'/}
#{/set}

#{info_row}
#{/info_row}
#{flash_alert /}
#{errorMsgs /}

<form action="@{MaterialPurchases.index()}" class="form-inline" id="deliverys_form">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <div class="row-fluid">

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">From:</div>
                <input style="width:100px;" class="form-control" id="date_from" name="p.from" value="${p.from.date()}">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">To:</div>
                <input style="width:100px;" class="form-control" id="date_to" name="p.to" value="${p.to.date()}">
              </div>
            </div>

            <select name="p.state" style="width: 150px;" class="form-control">
              <option value="">状态</option>
            #{list items:models.material.MaterialPurchase.S.values(), as:'t'}
              <option value="${t.name()}" ${t.name() == p.state?.name() ? 'selected' : ''}>${t.label()}</option>
            #{/list}
            </select>

            <select name="p.cooperId" class="form-control selectize" style="width:150px;">
              <option value="">供应商</option>
            #{list items:suppliers, as:'sp'}
              <option ${sp.id == p.cooperId ? 'selected' : ''} value="${sp.id}">${sp.name}</option>
            #{/list}
            </select>

            <div class="input-group">
              <div class="input-group-addon"><i class="icon-search"></i></div>
              <input style="width:200px;" class="form-control" name="p.search" placeHolder="搜索 物料编码 or 采购单ID" value="${p.search}">
              <input type="hidden" name="p.page" value="${p.page}">
            </div>
            <button class="btn btn-primary" data-loading>搜索</button>


            <div class="inline">
              <a target="_blank" class="btn btn-primary" href='@{MaterialPurchases.blank()}'>
                <i class="icon-plus"></i>新增物料手动单
              </a>

              <a href="@{Excels.deliveryments(p)}" class="btn btn-success" target="_blank">
                <i class="icon-download-alt"></i>下载Excel</a>
            </div>
          </div>
        </div>


        <div class="box-body">
          <table class="table table-condensed table-bordered">
            <tr>
              <th width="20px;"></th>
              <th>物料采购单ID</th>
              <th>Name</th>
              <th>供应商</th>
              <th>State</th>
              <th>单据类型</th>
              <th>User</th>
              <th>Create</th>
            </tr>
          #{list items:materialPurchases, as:'dmt'}
            <tr>
              <td>
                  #{if dmt.apply == null}
                    <input type="checkbox" name="deliverymentIds" value="${dmt.id}">
                  #{/if}
              </td>
              <td>
                <a href="@{MaterialPurchases.show(dmt.id)}" target="_blank">${dmt.id}</a>
              </td>
              <td style="cursor:pointer;" data-url="@{MaterialPurchases.showMaterialUnitList(dmt.id)}" data-id="${dmt.id}" name="clickTd">
                <span><i class="icon-reorder"></i></span>
                <span>${dmt.name}</span>
                <span class="badge badge-info">${dmt.units.size()}</span>
              </td>

              <td>${dmt.supplier()?.name}</td>
              <td style="color:${dmt.state?.rgb()}">${dmt.state.label()}</td>
              <td>${dmt.deliveryType?.label()}</td>
              <td>${dmt.handler.username}</td>
              <td>#{time_tooltip time:dmt.createDate/}</td>
            </tr>

          #{/list}
          </table>
        </div>

        <div class="box-footer">
        #{bootstrap_pager_v3 pi:p, url:'' /}
        </div>
      </div>
    </div>
  </div>

</form>