#{extends 'main_full.html'/}
#{set title:'AmazonReview Click Page'/}
#{set 'moreScripts'}
    #{script 'amazonreviews/index.coffee'/}
#{/set}

<div class="row-fluid">

    <div class="span3 well">
        <div style="min-height:70px;">
            <div id='search_form'>
                <select name="m" style="width:80px;">
                    <option value="auk">UK</option>
                    <option value="ade">DE</option>
                    <option value="afr">FR</option>
                </select>
                <input name="asin" type="text" placeHolder="输入 ASIN">

                <p class="help-block">一个神奇的搜索框框</p>
            </div>
        </div>

        <hr>

        <div style="min-height:600px;">
            User 列表?
        </div>
    </div>


    <div id="reviews" class="span9 well" style="min-height:750px;">
        Waiting for you  ^.^ 
    </div>
</div>
