#{extends 'main_full.html'/}
#{set title:'AmazonReview Click Page'/}
#{set 'moreScripts'}
    #{script 'amazonreviews/index.coffee'/}
#{/set}

<div class="row-fluid">

    <div class="span3 well">
        <div style="min-height:70px;">
            <form>
                <input name="asin" type="text" placeHolder="输入 ASIN">
                <select name="aount" style="width:80px;">
                    <option>UK</option>
                    <option>DE</option>
                </select>

                <p class="help-block">一个神奇的搜索框框</p>
            </form>
        </div>

        <hr>

        <div style="min-height:600px;">
            User 列表?
        </div>
    </div>


    <div class="span9 well" style="min-height:750px;">
        Waiting for you  ^.^ 
    </div>
</div>
