# elcuk2 项目的依赖:
# 1. redis
# 2. elasticsearch
# 3. mysql
# PS:
# * 使用 docker-compose version 1
# * 如果不是 Linux 环境, 在 Mac OS 下是虚拟机中 IP, 不是 127.0.0.1
db:
  image: mysql:5.6
  container_name: elcuk2-db
  environment:
    MYSQL_ROOT_PASSWORD: crater10lake
    MYSQL_DATABASE: elcuk2
  ports:
   - "3306:3306"
redis:
  image: redis:3.0.7-alpine
  container_name: elcuk2-redis
  ports:
   - "6379:6379"
es:
  image: elasticsearch:5.5.1
  container_name: elcuk2-es
  ports:
   - "9200:9200"
   - "9300:9300"

