<!-- 非销售账号, IT -->
<table class="table table-bordered table-striped account_list">
  <tr>
    <img src="https://e.easyacc.com/@{Activitis.processimage(pdId,piId)}">
  </tr>
  <div class="row-fluid">
    <table class="table table-bordered table-condensed">
      <tr>
        <th>节点</th>
        <th>审批人</th>
        <th>开始时间</th>
        <th>审批时间</th>
        <th>审批意见</th>
      </tr>
    #{list items:infos, as:'info'}
      <tr>
        <td>${info.get("name")}</td>
        <td colspan="1">${info.get("assignee")}</td>
        <td colspan="1">${info.get("begintime")}</td>
        <td colspan="1">${info.get("endtime")}</td>
        <td>${info.get("opition")}</td>
      </tr>
    #{/list}
    </table>
  </div>
</table>