#{extends 'main_full.html'/}
#{set title:'流程定义'/}
#{set 'moreStyles'}
    #{stylesheet 'feetypes.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'activitis/definition.coffee'/}
#{/set}
#{info_row title:'流程定义' /}


<div class="btn-toolbar">
  <button class="btn btn-success" data-toggle="toggle" data-target="#add_form">
    <i class="icon-plus-sign-alt"></i>
    新添加 流程模板
  </button>
</div>

<div class="row-fluid" id="add_form">
  <form method="post" action="@{Activitis.create()}">
    <label>菜单编码</label>
    <input type="text" name="ad.menuCode">
    <label>菜单名称</label>
    <input type="text" name="ad.menuName">
    <label>流程名称</label>
    <input type="text" name="ad.processName">
    <label>流程XML</label>
    <input type="text" name="ad.processXml">
    <label>流程ID</label>
    <input type="text" name="ad.processid">
    <button class="btn btn-primary">创建</button>
  </form>
</div>

<div class="row-fluid">
  <table class="table table-bordered table-condensed types">
    <tr>
      <th>ID</th>
      <th>菜单编码</th>
      <th>菜单名称</th>
      <th>流程名称</th>
      <th>流程XML</th>
      <th>流程ID</th>
      <th>操作</th>
    </tr>
  #{list items:ads, as:'ad'}
  <tr>
    <td>${ad.id}</td>
    <td><input type="text" name="menuCode" value="${ad.menuCode}"></td>
    <td><input type="text" name="menuName" value="${ad.menuName}"></td>
    <td><input type="text" name="processName" value="${ad.processName}"></td>
    <td><input type="text" name="processXml" value="${ad.processXml}"></td>
    <td><input type="text" name="processXml" value="${ad.processid}"></td>
    <td>
      <button class="btn btn-primary submit">更新</button>
      <button class="btn btn-danger delete">删除</button>
    </td>
  #{/list}
  </table>
</div>