<div class="row-fluid">
  <div class="row-fluid">
    <div class="span3 well well-small" id="deal_slider">
      <table class="table table-bordered table-condensed">
        <tr>
          <th>ID</th>
          <th>菜单名称</th>
          <th>流程名称</th>
          <th>单据ID</th>
          <th>时间</th>
        </tr>
      #{list items:aps, as:'aps_left'}
        <tr>
          <td>${aps_left.id}</td>
          <td>${aps_left.menuName}</td>
          <td>
            <a href="#" id="dealprocessSearch" data-form="dealprocessform" data-div="dealprocessinfo">${aps_left
            .processName}</a>
          </td>
          <td>${aps_left.objectId}</td>
          <td>${aps_left.createAt?.dateTimeString}</td>
        </tr>
      #{/list}
      </table>
    </div>

    <div class="span8 well well-small" id="deal_detail">


    #{info_row title:'单据信息'}
    #{/info_row}
      <div>
      #{if ap.id!=null}
        #{render 'Activitis/_processhistory.html', pdId:ap.processDefinitionId,piId:ap.processInstanceId/}
      #{/if}
      </div>

    </div>
  </div>
</div>