#{extends 'main_full.html'/}
#{set title:'待处理流程' /}
#{set 'moreScripts'}
    #{script_cdn name: 'activitis/index.coffee'/}
#{/set}

<ul class="nav nav-tabs" id="below_tab">
  <li class="active">
    <a href="#activeprocess" data-toggle='tab'>待处理流程</a>
  </li>
  <li>
    <a href="#runprocess" data-toggle='tab'>正在执行流程</a>
  </li>
  <li>
    <a href="#dealprocess" data-toggle='tab'>已结束流程</a>
  </li>
</ul>


<div id="below_tabContent" class="tab-content">
  <div class="tab-pane fade active in" id='activeprocess'>
  #{info_row title:'待处理流程'/}
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span3 well well-small" id="acitviti_slider">
          <table class="table table-bordered table-condensed">
            <tr>
              <th>流程ID</th>
              <th>菜单名称</th>
              <th>流程名称</th>
              <th>单据ID</th>
              <th>时间</th>
            </tr>
          #{list items:aps, as:'aps_left'}
            <tr>
                #{if ((new java.util.Date())-aps_left.createAt)>=2 }
                  <td><font color="red" >${aps_left.id}</font></td>
                  <td><font color="red" >${aps_left.definition?.menuName}</font></td>
                  <td>
                    <a href="@{Activitis.index()}/${aps_left.id}"><font color="red">  ${aps_left.definition?.processName}</font></a>
                  </td>
                  <td><font color="red" >${aps_left.billId}</font></td>
                  <td><font color="red" >${aps_left.createAt?.dateTimeString}</font></td>
                #{/if}
                #{else}
                  <td>${aps_left.id}</td>
                  <td>${aps_left.definition?.menuName}</td>
                  <td>
                    <a href="@{Activitis.index()}/${aps_left.id}">${aps_left.definition?.processName}</a>
                  </td>
                  <td>${aps_left.billId}</td>
                  <td>${aps_left.createAt?.dateTimeString}</td>
                #{/else}

            </tr>
          #{/list}
          </table>
        </div>
        <div class="span9 well well-small" id="acitviti_detail">

        #{if ap!=null && ap.id!=null}
          <div>
            <iframe frameBorder=0 scrolling=no src="${ap.objectUrl}" width="100%" height="2800px"></iframe>
          </div>
        #{/if}
        </div>
      </div>
    </div>
  </div>


  <div class="tab-pane fade" id='runprocess' data-method="ajaxRunPocesss">
  #{info_row title:'正在执行流程'/}
    <div id="runprocessinfo"></div>
  </div>

  <div class="tab-pane fade" id='dealprocess' data-method="ajaxDealPocesss">
  #{info_row title:'已结束流程'/}
    <div id="dealprocessinfo"></div>
  </div>
</div>

