<div id="btn_div" style="margin-bottom:5px;">
    <button class="btn btn-primary" id="s_sale">Sale</button>
</div>
<div class="alert alert-block alert-success fade in">
    <h4 class="alert-heading">Amazon 上架功能简介</h4>

    <p>&nbsp;</p>

    <p>* 现在在系统中通过 Listing 上架还没有将模板功能实现, 所以现在的参数, 都需要自己手动填写.</p>

    <p>* Preview 功能拥有提示 Amazon 不允许的标签的功能, 能够方便的在这里检查出不允许的标签并查看到预览效果.</p>

    <p>* Price 价格会根据这个 Selling 所在的市场来进行判断单位, 所以只需要填写对应市场的价格数值即可, 不用去转换.</p>

    <p>* MerchantSKU 是根据 SKU 与 UPC 来确定的, 不允许手动修改. 所以对于 FBA 不发, 需要创建一个自卖产品的, 建议不在系统中处理.</p>

    <p>* UPC 会检查并且给出已经上架的 Selling (需要处理历史数据...).</p>

    <p>* RBN 可以的参考信息还需要进行补全.</p>
</div>
#{set pro:lst.product/}
<table class="table table-condensed">
    <tr>
        <th>Title:</th>
        <td colspan="3"><textarea rows="2" name="s.aps.title" class="span10">${pro.productName}</textarea></td>
    </tr>
    <tr>
        <th>MSKU:</th>
        <td><input type="text" name="s.merchantSKU" readonly="" value="${pro.sku}"></td>
        <th>Acc:</th>
        <td>
            <select name="s.account.id" size="1">
            #{list items:accs, as:'acc'}
                <option value="${acc.id}">${acc.prettyName()}</option>
            #{/list}
            </select>
        </td>
    </tr>
    <tr>
        <th>UPC:</th>
        <td>
            <div class="input-prepend">
                <input type="text" class="span2" name="s.aps.upc">
                <button class="btn btn-small btn-warning">@</button>
            </div>
        </td>
        <th>Market/Condition:</th>
        <td>
            <div class="input-prepend">
                <input type="text" readonly="" name="s.aps.condition_" value="NEW" class="span1">
                <span class="add-on">${lst.market}</span>
            </div>
        </td>
    </tr>
    <tr>
        <th>Manufac:</th>
        <td><input type="text" name="s.aps.manufacturer" value="EasyAcc"></td>
        <th>PartNumber:</th>
        <td><input type="text" name="s.aps.manufacturerPartNumber"></td>
    </tr>

    <tr>
        <th>RBN:</th>
        <td>
            <div class="input-prepend">
                <a id="rbn_help" class="btn btn-small" href="#" rel="popover" data-original-title="RBN Helper" data-content="等待添加..">
                    <i class="icon-info-sign"></i>
                </a>
                <input type="text" class="input-mini" name="s.aps.rbns[0]">
                <input type="text" class="input-mini" name="s.aps.rbns[1]">
            </div>
        </td>
        <th>Qty:</th>
        <td><input type="text" name="s.aps.quantity" value="0"></td>
    </tr>

    <tr>
        <th>Price:</th>
        <td>
            <div class="input-prepend">
                <span class="add-on">#{marketCurrency market:lst.market/}</span>
                <input type="text" class="span2" name="s.aps.standerPrice" placeHolder="Ex:19.99">
            </div>
        </td>
        <th>SalePrice:</th>
        <td>
            <div class="input-prepend">
                <div class="input-prepend">
                    <span class="add-on">#{marketCurrency market:lst.market/}</span>
                    <input type="text" class="span2" name="s.aps.salePrice" placeHolder="Ex:15.99">
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <th>StartDate</th>
        <td><input type="text" name="s.aps.startDate" value="2011-01-01"></td>
        <th>EndtDate</th>
        <td><input type="text" name="s.aps.endDate" value="2015-01-01"></td>
    </tr>

    <tr>
        <td colspan="1"><label class="label label-info">功能条</label></td>
        <td colspan="6">
            <div class="input-prepend">
                <label style="display:inline;">From: </label>
                <a class="btn btn-small"
                   href="#" rel="popover" data-original-title="Selling Helper" data-content="输入参考的 SellingId (属于 Category <span style='color:blue;'>${lst.product.category}</span>) 加载 Technical, SearchTerms, Desc 供参考">
                    <i class="icon-info-sign"></i>
                </a>
                <input type="text" class="span2" data-provide="typeahead" style="margin:auto;" data-items="8" data-source="${sellingDataSource}">
                <a class="btn btn-primary">
                    <i class="icon-refresh icon-white"></i>
                </a>
            </div>
        </td>
    </tr>

    <tr>
        <th rowspan="5">Technical:</th>
        <td colspan="3"><input type="text" class="span8" name="s.aps.keyFeturess[0]"></td>
    </tr>
    <tr>
        <td colspan="3"><input type="text" class="span8" name="s.aps.keyFeturess[1]"></td>
    </tr>
    <tr>
        <td colspan="3"><input type="text" class="span8" name="s.aps.keyFeturess[2]"></td>
    </tr>
    <tr>
        <td colspan="3"><input type="text" class="span8" name="s.aps.keyFeturess[3]"></td>
    </tr>
    <tr>
        <td colspan="3"><input type="text" class="span8" name="s.aps.keyFeturess[4]"></td>
    </tr>


    <tr>
        <th rowspan="5">SearchTerms:</th>
        <td colspan="3"><input type="text" class="span8" name="s.aps.searchTermss[0]"></td>
    </tr>
    <tr>
        <td colspan="3"><input type="text" class="span8" name="s.aps.searchTermss[1]"></td>
    </tr>
    <tr>
        <td colspan="3"><input type="text" class="span8" name="s.aps.searchTermss[2]"></td>
    </tr>
    <tr>
        <td colspan="3"><input type="text" class="span8" name="s.aps.searchTermss[3]"></td>
    </tr>
    <tr>
        <td colspan="3"><input type="text" class="span8" name="s.aps.searchTermss[4]"></td>
    </tr>

    <tr>
        <th>ProductDesc:</th>
        <td colspan="3">
            <div class="input-prepend">
                <textarea rows="10" name="s.aps.productDesc" class="span10"></textarea>

                <div class="clearfix"></div>
                <span class="add-on">2000 bytes left</span>
                <button class="btn">Preview</button>
            </div>
            <div style='margin-top:-1px;border-top:1px dashed;'></div>
        </td>
    </tr>
</table>
