<div class="control-group">
  <label #{if _ck!=false}style="color:red;"#{/if} class="control-label" for="${_id}">
  #{if _ck==false}
  ${_label}
  #{/if}
  #{else }
    <input type="checkbox" name="${_checkboxname}" value="true">${_label}
  #{/else}
  </label>
  <div class="controls">
    <input type="text" style="width:100px;" id="${_id}" ${_disabled ? 'disabled' : ''} ${_readonly ? 'readonly' : ''}
           class="${_span?:'span10'}" name="${_name}"
           placeholder="${_placeholder?:_label}"
           value="${_value?:''}">

    <select style="width:100px;" id="${_sid}" name="${_unitname}">
      <option value="KG">kg</option>
      <option value="OZ">oz</option>
    </select>

    <input type="hidden" id="${_hid}" value="${_value?:''}">

    <span class="help-inline" id="${_id}_hint"></span>
  </div>
</div>