*{
type: 用途
payObjId: 付款的 Model 的 Id
}*
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#payment">
            新增付款
        </a>
    </div>
    <div id="payment" class="accordion-body collapse" style="height:0;">
        <table class="table table-condensed">
            <tr>
                <td><a rel="popover" data-content="此项付款的用途| ${_type}">用途</a></td>
                <td><input disabled="" type="text" name="pay.type" value="${_type}"></td>
                <td>采购单</td>
                <td><input disabled="" type="text" name="payObj.id" value="${_payObjId}"></td>
            </tr>
            <tr>
                <td>付款</td>
                <td>
                    <div class="input-prepend">
                        <input type="text" style="width:100px" name="pay.price">
                        <select name="pay.currency" size="1" style="width:80px;">
                        #{list helper.Currency.values()}
                            <option ${_ == helper.Currency.CNY ? 'selected' : ''} value="${_}">${_}</option>
                        #{/list}
                        </select>
                    </div>
                </td>
                <td>付款时间</td>
                <td>
                    <input type="date" name="pay.payDate" placeHolder="留空则为当前时间">
                </td>
            </tr>
            <tr>
                <td>Memo</td>
                <td colspan="3">
                    <textarea class="span8" name="pay.memo"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <button id="pay_for_the_Obj" class="btn btn-small btn-primary">部分付款</button>
                    <button id="payment_clear" rel="popover" data-content="将此采购单标记为款项全清" class="btn btn-small btn-warning">
                        清款检查
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>