*{
_unit :ProcureUnit
}*
<tr>
    <td>预计交货日期</td>
    <td>${_unit.delivery.planDeliveryDate.format('yyyy-MM-dd')}</td>
</tr>
<tr>
    <td>实际交货日期</td>
    <td>
    #{if _unit.delivery.deliveryDate == null}
        <span class="label label-warning">还未交货</span>
    #{/if}
    #{else }
    ${_unit.delivery.deliveryDate.format('yyyy-MM-dd')}
    #{/else}
    </td>
</tr>
<tr>
    <td>实际交货数量</td>
    <td>
    #{if _unit.delivery.deliveryQty == null}
        <span class="label label-warning">还未交货</span>
    #{/if}
    #{else }
    ${_unit.delivery.deliveryQty}
    #{/else}
    </td>
</tr>
<tr>
    <td>采购单</td>
    <td>
        <a href="@{Deliveryments.detail(_unit.deliveryment.id)}" target="_blank">${_unit.deliveryment.id}</a>
        @ <span class="badge badge-info">${_unit.deliveryment.units.size()}</span> units
    </td>
</tr>