<div class="control-group">
  <label class="control-label" for="${_id}">${_label}</label>

  <div class="controls">
    <select id="${_id}" name="${_name}" class="${_span ? _span : 'span10'}" ${_native ? "native=" + _native : ''}>
    #{if _blank}
      <option value="">请选择</option>
    #{/if}
    #{list items:_items}
        #{if _.getClass().toString().indexOf("models.market.M") > -1}
          <option ${_value ? (_ == _value ? 'selected' : '') : ''} value="${_.name()}">${_}</option>
        #{/if}
        #{elseif _.getClass().toString().contains("lang.String")}
          <option ${_value ? (_ == _value ? 'selected' : '') : ''} value="${_}">${_}</option>
        #{/elseif}
        #{elseif _ != null }
          <option ${_value ? (_ == _value ? 'selected' : '') : ''} value="${_propertyVal ? _[_propertyVal] : _['id']}">${_}</option>
        #{/elseif}
    #{/list}
    </select>
    <span class="help-inline" id="${_id}_hint"></span>
  </div>
</div>