*{
item: pending 的 Items
}*
<table class="table table-condensed table-bordered">
    <tr>
        <td>#</td>
        <td>货运方式</td>
        <td>运输 SID 数量</td>
        <td>开始运输时间</td>
        <td>预计到达时间</td>
        <td>实际到达时间</td>
        <td>运输时长(day)</td>
        <td>货代</td>
        <td>国际运输商</td>
        <td>创建时间</td>
    </tr>
#{list items:_item, as:'p'}
    <tr row style="cursor:pointer">
        <td>${p.id}</td>
        <td>${p.type}</td>
        <td>${p.items.size()}</td>
        <td>${p.beginDate.date()}</td>
        <td>${p.planArrivDate.date()}</td>
        <td>${p.arriveDate.date()}</td>
        <td>${p.shippingDays()}</td>
        <td>${p.shipper}</td>
        <td>${p.internationExpress}</td>
        <td>${p.createDate.date()}</td>
    </tr>
#{/list}
</table>