#{extends 'main_full.html'/}
#{set title:"年度销售目标 (${salesTargets.size()})"/}
#{set 'moreScripts'}
#{/set}
#{errorMsgs /}
#{flash_alert /}

#{power.ck "saletargets.create"}
<div class="btn-toolbar">
  <a href="@{SaleTargets.blank()}" class="btn btn-success">创建年度目标</a>
</div>
#{/power.ck}

<div class="row-fluid">
  <div class="span12">
    <table class="table table-condensed table-bordered">
      <tr>
        <th>目标名称</th>
        <th>年份</th>
        <th>总销售额(万)</th>
        <th>创建人</th>
        <th>创建时间</th>
      </tr>
    #{list items:salesTargets, as:'st'}
      <tr>
        <td>
          <a target="_blank" href="@{SaleTargets.show(st.id)}">${st.name}</a>
        </td>
        <td>${st.targetYear}</td>
        <td>${st.saleAmounts}</td>
        <td>${st.createuser.username}</td>
        <td>${st.createDate}</td>
      </tr>
    #{/list}
    </table>
  </div>
</div>
