#{extends 'main_full.html'/}
#{set title:"年度销售目标#" + st.id /}
#{set 'moreScripts'}
    #{script 'saleTargets/details.coffee'/}
#{/set}

<div class="row">
  <div class="span12" style="margin-left:385px;">
  #{errorMsgs /}
  #{flash_alert /}

  #{info_row title:'查看年度目标'/}

  #{form @SaleTargets.updateAnnual(), method: 'POST'}
    <table class="table table-condensed table-bordered">
        #{include 'SaleTargets/_saleTargetInfo.html'/}
      <tr>
        <th>明细</th>
        <td colspan="4">
          <table class="table table-hover table-bordered table-condensed">
            <tr>
              <th>Team</th>
              <th>年销售额</th>
              <th>年利润率</th>
              <th>操作</th>
            </tr>
              #{list items:saleTargets, as:'sa'}
                <tr>
                  <td>
                  ${sa.fidToName()}
                  </td>

                  <td>
                    <div class="input-prepend">
                      <span class="add-on">$</span>
                      <input type="text" name="sa.saleAmounts" id="${sa_index}_saleAmounts" value="${sa.saleAmounts}">
                      <input type="hidden" name="sa.id" id="${sa_index}_Id" value="${sa.id}">
                      <input type="hidden" name="sa.fid" id="${sa_index}_fid" value="${sa.fid}">
                      <input type="hidden" name="sa.parentId" id="${sa_index}_parentId" value="${sa.parentId}">
                    </div>
                  </td>

                  <td>
                    <div class="input-append">
                      <input type="text" name="sa.profitMargin" id="${sa_index}_profitMargin" value="${sa.profitMargin}">
                      <span class="add-on">%</span>
                    </div>
                  </td>
                  <td>
                    <input type="button" class="btn btn-success" id="${sa_index}" value="保存"/>
                  </td>
                </tr>
              #{/list}
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <button class="btn btn-success">保存</button>
        </td>
      </tr>
    </table>
  #{/form}
  </div>
</div>
