#{extends 'main.html' /}
#{set title:"Category销售目标#" + categorySt.id /}
#{set 'moreScripts'}
    #{script name: 'saleTargets/split.coffee'/}
#{/set}

#{errorMsgs /}
#{flash_alert /}

#{set team: categorySt.fetchTeam()/}
<div class="row">
  <div class="span12">
    <form action="@{SaleTargets.doSplit(categorySt.id)}" method="POST" id="submitSaleTargetsForm">
    #{info_row title:'Category 年度目标'/}
      <table class="table table-bordered">
        <tr>
          <th>年份</th>
          <td colspan="4">
          #{select_year value: categorySt.targetYear, disabled:true/}
          </td>
        </tr>

        <tr>
          <th>Team</th>
          <td>
          ${team.name}
          </td>

          <th>产品线</th>
          <td>
          ${categorySt.fid}
          </td>
        </tr>

        <tr>
          <th>年度销售额</th>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on">$</span>
              <input type="text" value="${categorySt.saleAmounts}" disabled>
              <span class="add-on">万</span>
            </div>
          </td>

          <th>年度销售额(修正)</th>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on">$</span>
              <input type="text" id="reviseSaleAmounts" readonly rel="popover"
                     content="年度销售额(修正)值为各月目标销售额与实际销售额对比计算得出" placement="right">
              <span class="add-on">万</span>
            </div>
          </td>
        </tr>

        <tr>
          <th>利润率</th>
          <td colspan="4">
            <div class="input-append">
              <input type="text" value="${categorySt.profitMargin}" disabled>
              <span class="add-on">%</span>
            </div>
          </td>
        </tr>
      </table>

    #{info_row title:'Category 目标月度分解'/}
      <table class="table table-bordered" id="monthSaletargets">
        <tr>
          <th>月份</th>
          <th>目标销售额(万)</th>
          <th>实际销售额(万)</th>
          <th>利润率</th>
        </tr>
      <tr>
      #{list items:sts, as:'st'}
        <tr>
          <td>
          ${st.targetMonth}月
          </td>
          <td>
            <div>
              <input type="text" class="input-small" value="${st.saleAmounts}" name="sts[${st_index - 1}].saleAmounts"
                     data-old="${st.saleAmounts}">
            </div>
          </td>
          <td>
              #{set reallySt: (st.reallySaleAmounts()/10000).format("#.##")/}
            <div>
              <input type="text" style="width:90px;" value="${reallySt}" name="reallySaleAmounts" data-old="${reallySt}">
            </div>
          </td>
          <td>
            <div class="input-append">
              <input type="text" class="input-mini" value="${st.profitMargin}" name="sts[${st_index - 1}].profitMargin"
                     id="categoryprofitMargin">
              <span class="add-on">%</span>
            </div>
          </td>
        </tr>
        <input type="hidden" name="sts[${st_index - 1}].id" value="${st.id}">
      #{/list}
        <tr>
          <th>全年汇总</th>
          <td>
            <input type="text" style="width:90px;" id="saleAmountsSUM">
          </td>
          <td>
            <input type="text" style="width:90px;" id="reallySaleAmountsSUM">
          </td>
          <td></td>
        </tr>
        </tr>
      </table>
    </form>

    <div class="btn-toolbar">
      <button class="btn btn-primary" id="submit">更新</button>
    </div>
  #{records records:records/}
  </div>
</div>
