<!DOCTYPE html>
<html>
<head>
<title>${title}</title>
</head>
<body>
Sehr geehrte/r ${order.buyer == null ? 'Customer' : order.buyer}，
<br/><br/>
Sie haben vor einiger Zeit Ihre/n<br/>
#{list items:order.items, as:'oi'}
<a target="_blank" title="${oi.selling.aps.title}" href="${oi.selling.asinLink()}">${oi.selling.aps.title.omis(75)}</a><br/>
${oi.selling.asinLink()}
<br/>
<br/>
#{/list}
von EasyAcc auf Amazon.de gekauft. Wir möchten gerne Erfahren wie Sie mit dem Produkt zufrieden sind.
<br/><br/>
Sollten Sie aus irgendeinem Grund nicht komplett zufrieden sein, drücken Sie bitte den "Antworten" Button in Ihrem eMail Programm und melden Sie sich bei uns.
Wir nehmen jedes Feedback von Ihnen ernst und werden unser bestes versuchen Ihr Problem zu lösen. Außerdem helfen Sie mit Ihren Kommentaren dabei unsere Produkte und unseren Service zu verbessen.
<br/><br/>
In der Zwischenzeit würden wir uns sehr freuen wenn Sie eine Rezension für unser Produkt hinterlassen würden. Den Link dazu finden Sie hier:<br/>
#{list items:order.items, as:'oi'}
<a target="_blank" href="${oi.selling.makeReviewLink()}">${oi.selling.makeReviewLink()}</a><br/>
#{/list}
<br/><br/>
Ihre Rezension hilft auch anderen Kunden bei einer Einschätzung des Produkts und hilft uns unsere Produkte und unseren Service zu verbessern.
<br/><br/>
Vielen herzlichen Dank für Ihre Zeit und für Ihre Hilfe.
<br/><br/>
Mit freundlichen Grüßen
<br/>
Ihr EasyAcc Team
(support ( a t ) easyacc ( p u n k t ) com)
</body>
</html>