<!DOCTYPE html>
<html>
<head>
<title>${title}</title>
</head>
<body>
Dear ${order.buyer == null ? 'Customer' : order.buyer},
<br/><br/>
It has been a period of time since you purchased your<br/>
#{list items:order.items, as:'oi'}
<a target="_blank" title="${oi.selling.aps.title}" href="${oi.selling.asinLink()}">${oi.selling.aps.title.omis(75)}</a><br/>
${oi.selling.asinLink()}
<br/>
<br/>
#{/list}
from EasyAcc on Amazon.com. We want to check back and see how you are finding things.
<br/><br/>
If you are not completely satisfied with our products and service for any reason, please just hit reply and drop us an
email. We take all customer feedback seriously and will do our best to resolve the issue. Your comments will help us improve our products and service.
<br/><br/>
Meanwhile, we invite you to review our products via the link(s) below:<br/>
#{list items:order.items, as:'oi'}
<a target="_blank" href="${oi.selling.makeReviewLink()}">${oi.selling.makeReviewLink()}</a><br/>
#{/list}
<br/><br/>
Your review would benefit other customers as well as help us improve our products.<br/><br/>
Thank you very much for your time and support!
<br/><br/>
Sincerely,
<br/>
The EasyAcc Team
<br/>
(support ( a t ) easyacc ( d o t ) com)
</body>
</html>