<!DOCTYPE html>
<html>
<head>
    <title>Thanks for purchasing EasyAcc Product on Amazon.co.uk</title>
</head>
<body>
Dear ${order.buyer == null ? 'Customer' : order.buyer}:

Thanks for your recent order from EasyAcc. We invite you to submit reviews for the products you purchased, share an experience that would benefit other customers. Your input will make online marketplace more reliable and help customer choose best products on Amazon.

You can review your products by following simple steps:
Step 1: Log into your Amazon.co.uk account. Click on “Your Account” in the upper right hand corner to go “Your Account” page, then click “Your Order” to your orders page.
Step 2: Click on “Available Actions” button next to the product you purchased from us, choose “Write a Product Review” in the drop down menu and follow the instructions. This is your assessment of the overall quality of the product and comments for the Amazon community.

We take our 100% satisfaction guarantee seriously and hope you are completely happy with your purchase from us. If for any reason you are not completely satisfied, please contact our customer service team by email support@easyacceu.com.
Thanks for your patronage! We are waiting for your review.

Warmest regards
EasyAcc
</body>
</html>