<!DOCTYPE html>
<html>
<head>
    <title>Listing ${lis.asin} find another seller!</title>
</head>
<body>
<strong>Listing[${lis.market.toString()}] <a href="${lis.link()}" target="_blank">${lis.asin}</a> have another
    seller!</strong>
<br/>
<br/>
<span style="font-size:18px">${lis.title}</span><span style="font-size:10px"> by ${lis.byWho}</span>
<hr/>
<br/>
#{list items:lis.offers, as:'of'}
    #{if of.offerId == offer.offerId}
    <div><span style="color:red">${of.name} | ${of.offerId}</span></div>
    #{/if}
    #{else }
    <div>${of.name} | ${of.offerId}</div>
    #{/else}
<br/>
#{/list}
</body>
</html>