#{extends 'main_full.html' /}
#{set title:'新建物料出库单' /}
#{set 'moreScripts'}
    #{script 'materialOutbounds/blank.js'/}
#{/set}
<style>
  .table td{
    vertical-align:middle;
  }
</style>

#{errorMsgs /}
#{flash_alert/}

#{form @MaterialOutbounds.create(), method:'POST', id: 'new_outbound'}
    #{info_row title:'物料出库单'/}
<div class="row-fluid">
  <div class="span12">
    <table class="table table-bordered">
      <tr>
        <th>物料出库单ID</th>
        <td><input type="text" name="outbound.id" value="${outbound?.id}" readonly/></td>
        <th>出库单名称<span style="color:red">*</span></th>
        <td><input type="text" class="span8" name="outbound.name" required></td>
      </tr>
      <tr>
        <th>物料分配项目</th>
        <td>
          <input type="text" value="${outbound?.projectName}" readonly>
        </td>
        <th>出库类型<span style="color:red">*</span></th>
        <td>
          <select name="outbound.type" required>
              <option value="">出库类型</option>
              #{list items:models.material.MaterialOutbound.C, as:'t'}
                <option value="${t.name()}">${t.label()}</option>
              #{/list}
          </select>
        </td>
      </tr>

      <tr>
        <th>收货方</th>
        <td>
          <select name="outbound.cooperator.id" class="inline selectize" style="width:150px;" id="outCooperator">
            <option value="">请选择供应商</option>
              #{list items:cooperators, as:'cop'}
                <option #{if outbound?.cooperator?.id==cop.id} selected #{/if} value="${cop.id}">${cop.name}</option>
              #{/list}
          </select>
        </td>
        <th>目的地</th>
        <td><input type="text" class="span8" name="outbound.whouse" id="whouse" ></td>
      </tr>

      <tr>
        <th>发货人</th>
        <td><input type="text" name="outbound.consignor" /></td>
        </td>
        <th>出库日期<span style="color:red">*</span></th>
        <td><input type="date" name="outbound.outboundDate" required></td>
      </tr>
      <tr>
        <th>备注</th>
        <td colspan="5">
          <textarea name="outbound.memo" rows="4" class="input-block-level"></textarea>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <button class="btn btn-primary" name="create_record">创建/更新</button>
          <a target="_blank" href="@{ProcureUnits.exportLogs()}" class="btn btn-info inline">
            <i class="icon-list-alt"></i>导出</a>
        </td>
      </tr>
    </table>
  </div>
</div>
    #{info_row title:'已添加进入【出库单】的【物料单元  】'/}
<div class="row-fluid">
  <div class="span12">
    <table class="table table-condensed table-bordered" id="data_table">
      <tr>
        <th><input type="checkbox"></th>
        <th>物料编码</th>
        <th>物料名称</th>
        <th>供应商</th>
        <th>物料可用数</th>
        <th>物料出库数</th>
        <th>项目名称</th>
        <th>备注</th>
      </tr>

        #{list items:units, as:'unit'}
          <tr class="text-center" id="unit_${unit.id}">
            <td>
              <input type="checkbox" name="ck" value="${unit.id}">
              <input type="hidden" name="dtos[${unit_index-1}].id" value="${unit.id}">
            </td>
            <td>${unit.code}</td>
            <td>${unit.name}</td>
            <td>${unit.cooperators()}</td>
            <td>${unit.availableQty()}</td>
            <td>
              <input type="text" style="width:40px;" data-origin="${unit.availableQty()}" name="dtos[${unit_index-1}].outQty">
            </td>
            <td>${unit.projectName}</td>
            <td>${unit.memo}</td>
          </tr>
        #{/list}

    </table>
  </div>
</div>

#{/form}

<div id="fba_carton_contents_modal" class="modal hide fade" style="width:1000px;left: 40%;">
  <div class="modal-body">
    <div id="refresh_div"></div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <a class="btn btn-primary" id="submitBoxInfoBtn" data-action="@{Inbounds.updateBoxInfo()}">提交</a>
  </div>
</div>

