#{extends 'main_full_v3.html' /}
#{set title:"物料出库单列表"  /}
#{set 'moreScripts'}
    #{script 'materialOutbounds/index.es6'/}
    #{script 'component/pagination.coffee'/}
#{/set}
<style>
  .table td{
    vertical-align:middle;
  }
</style>
#{errorMsgs /}
#{flash_alert /}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">

      <div class="box-header with-border">
        <form action="@{MaterialOutbounds.index()}" method="get" class="form-inline" id="search_Form">
          <div class="row-fluid">

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">From:</div>
                <input style="width:100px;" class="form-control" id="date_from" name="p.from" value="${p.from.date()}">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">To:</div>
                <input style="width:100px;" class="form-control" id="date_to" name="p.to" value="${p.to.date()}">
              </div>
            </div>

            <select name="p.status" class="form-control">
              <option value="">状态</option>
            #{list items:models.whouse.Outbound.S, as:'s'}
              <option #{if p.status==s} selected #{/if} value="${s.name()}">${s.label()}</option>
            #{/list}
            </select>

            <select name="p.cooperId" class="form-control selectize" style="width:150px;">
              <option value="">收货方</option>
            #{list items:cooperators, as:'cop'}
              <option value="${cop.id}" #{if cop.id==p.cooperId} selected #{/if}>${cop.name}</option>
            #{/list}
            </select>

            <select name="p.type" class="form-control">
              <option value="">出库类型</option>
            #{list items:models.material.MaterialOutbound.C, as:'t'}
              <option value="${t.name()}" #{if t==p.type} selected #{/if}>${t.label()}</option>
            #{/list}
            </select>

            <div class="input-group">
              <div class="input-group-addon"><i class="icon-search"></i></div>
              <input type="text" style="width:200px;" class="form-control" name="p.search" placeholder="物料出库单ID,物料编码" value="${p.search}">
              <input type="hidden" name="p.page" value="${p.page}">
            </div>

            <button class="btn btn-primary" data-loading>搜索</button>
            <a href="javascript:void(0)" class="btn btn-primary" id="confirmOutboundBtn">确认出库</a>
            <a target="_blank" href="@{ProcureUnits.exportLogs()}" class="btn btn-success">
              <i class="icon-list-alt"></i>导出</a>
          </div>
        </form>
      </div>

      <form method="post" id="submit_form" action="@{MaterialOutbounds.confirmMaterialOutbound()}">
        <div class="box-body">
          <table class="table table-condensed table-bordered" id="data_table">
            <tr>
              <th style="width:15px;">
                <input type="checkbox" id="checkbox_all" class="checkall">
              </th>
              <th width="120px;">出库单ID</th>
              <th>名称</th>
              <th>物料分配项目</th>
              <th width="100px;">出库类型</th>
              <th width="80px;">状态</th>
              <th width="80px;">收货方</th>
              <th width="200px;">目的地</th>
              <th width="80px;">发货人</th>
              <th>创建人</th>
              <th width="120px;">出库日期</th>
              <th width="200px;">备注</th>
            </tr>
          #{list items: materialOutbounds, as: 'o'}
            <tr>
              <td><input type="checkbox" name="ids" value="${o.id}" status="${o.status.name()}"></td>
              <td><a href="@{MaterialOutbounds.edit(o.id)}">${o.id}</a></td>
              <td style="cursor:pointer;" name="clickTd" data-url="@{MaterialOutbounds.showMaterialOutboundUnitList(o.id)}"
                  data-id="${o.id}" data-type="${o.type?.name()}">
                <span><i class="icon-reorder"></i></span>
                <span>${o.name}</span>
                <span class="badge badge-info">${o.units.size()}</span>
              </td>
              <td>${o.projectName}</td>
              <td>${o.type?.label()}</td>
              <td style="background-color:${o.status.rgb()}">${o.status?.label()}</td>
              <td>${o.cooperator?.name}</td>
              <td title="${o.whouse}">${o.whouse.overLong()}</td>
              <td>${o.consignor}</td>
              <td>${o.handler?.username}</td>
              <td>#{time_tooltip time:o.outboundDate/}</td>
              <td title="${o.memo}">${o.memo.overLong()}</td>
            </tr>
          #{/list}
          </table>
        </div>
      </form>

      <div class="box-footer">
      #{bootstrap_pager_v3 pi:p, url:'' /}
      </div>

    </div>
  </div>
</div>


<div id="fba_carton_contents_modal" class="modal hide fade" style="width:1000px;left:40%;">
  <div class="modal-body">
    <div id="refresh_div"></div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <a class="btn btn-primary" id="submitBoxInfoBtn">提交</a>
  </div>
</div>


