#{if prods.size() == 0}
<p class="muted text-center">等待添加新产品.</p>
#{/if}
#{else }
<table class="table table-condensed table-bordered">
  <tr>
    <th style="width:40px;"></th>
    <th style="width:150px;">SKU</th>
    <th style="width:100px;">Family</th>
    <th style="width:350px;">Name</th>
    <th style="width:100px;">最近采购价格</th>
    <th style="width:120px;">最近采购供应商</th>
    <th style="width:70px;">产品状态</th>
    <th style="width:70px;">销售级别</th>
  </tr>
    #{list items:prods, as:'prod'}
      <tr data-toggle="collapse" data-target="#prod_details_${prod.sku}">
        <td>
          <a href="https://kod.easya.cc/data/User/elcuk2/home/SKU/${prod.sku}/0.jpg" target="_blank">
            <img src="https://kod.easya.cc/data/User/elcuk2/home/SKU/${prod.sku}/0.jpg" style="width:40px;height:40px;">
          </a>
        </td>
        <td><a target="_blank" href="@{Products.show(prod.sku)}">${prod.sku}</a></td>
        <td>${prod.family?.family}</td>
        <td data-toggle="tooltip" title="${prod.productName}">${prod.productName.xxLong()}</td>
          #{set unit: prod.recentlyUnit()/}
        <td>${unit.attrs.currency?.symbol()} ${unit.attrs.price}</td>
        <td><a href="@{Cooperators.show(unit.cooperator?.id)}" target="_blank">${unit.cooperator?.name}</a></td>
        <td>
          <select name='pro.state' style="width:90px;" class="form-control" data-sku="${prod.sku}">
            <option>请选择</option>
              #{list items: models.product.Product.S.values(), as: 's'}
                <option value="${s}" ${prod.state == s? 'selected' : ''}>${s}</option>
              #{/list}
          </select>
        </td>
        <td>
          <select name='pro.salesLevel' style="width:80px;" class="form-control" data-sku="${prod.sku}">
            <option>请选择</option>
              #{list items: models.product.Product.E.values(), as: 's'}
                <option value="${s}" ${prod.salesLevel == s? 'selected' : ''}>${s}</option>
              #{/list}
          </select>
        </td>
      </tr>
    #{/list}
</table>
#{/else}

