<table class="table table-condensed table-bordered">
#{if fmys.size() == 0}
  <p class="muted text-center">等待添加新的 Family.</p>
#{/if}
#{else }
  <tr>
    <th>Name</th>
    <th>Action</th>
  </tr>
    #{list items:fmys, as:'f'}
      <tr>
        <td action="products" fid="${f.family}" style="cursor: pointer;">${f.family}</td>
        <td>
            #{power.ck "familys.delete"}
              <a href="javascript:;" class="btn btn-danger" action='remove' data-url='@{Familys.destroy(f.family)}'>删除</a>
            #{/power.ck}
        </td>
      </tr>
    #{/list}
#{/else}
  <tr>
    <td colspan="2">
      <div class="row-fluid">
        <input type="hidden" name="f.category.categoryId" value="${c.categoryId}">
        <input type="hidden" name="f.brand.name" value="${b.name}">
        <input type="text" name="f.family" value="${c.categoryId}${b.name}">
        <button id="add_family" class="btn btn-success">添加 Family</button>
      </div>
    </td>
  </tr>
</table>
