[mysql]
default-character-set=utf8

[mysqld]
# GENERAL #
character-set-server=utf8


# SAFETY #

#避免MySQL的外部锁定，减少出错几率增强稳定性。
skip-locking
max_allowed_packet             = 16M 
max_connect_errors             = 1000000 


# LOGGING # 
log_error                      = /var/log/mysql/mysql-error.log 
log_queries_not_using_indexes  = 1 
slow_query_log                 = 1 
long_query_time                = 6 
slow_query_log_file            = /var/log/mysql/data/mysql-slow.log 

# Buffer size #

#key_buffer_size指定用于索引的缓冲区大小，增加它可得到更好的索引处理性能。对于内存在4GB左右的服务器该参数可设置为256M或384M。注意：该参数值设置的过大反而会是服务器整体效率降低！ default: 16MB
key_buffer_size = 128M
#查询排序时所能使用的缓冲区大小。注意：该参数对应的分配内存是每连接独占，如果有100个连接，那么实际分配的总共排序缓冲区大小为100 × 6 ＝ 600MB。所以，对于内存在4GB左右的服务器推荐设置为6-8M。 default: 2MB
sort_buffer_size = 3M
#读查询操作所能使用的缓冲区大小。和sort_buffer_size一样，该参数对应的分配内存也是每连接独享。 default: 256KB
read_buffer_size = 1M
#联合查询操作所能使用的缓冲区大小，和sort_buffer_size一样，该参数对应的分配内存也是每连接独享。 default: 128KB
join_buffer_size = 3M
#指定MySQL查询缓冲区的大小。可以通过在MySQL控制台观察，如果Qcache_lowmem_prunes的值非常大，则表明经常出现缓冲不够的情况；如果Qcache_hits的值非常大，则表明查询缓冲使用非常频繁，如果该值较小反而会影响效率，那么可以考虑不用查询缓冲；Qcache_free_blocks，如果该值非常大，则表明缓冲区中碎片很多。 default: 16MB
query_cache_size = 32M
#默认为16M，调到64-256最挂
tmp_table_size = 64M


# INNODB #
innodb_file_per_table          = 1
innodb_buffer_pool_size        = 256M
