#{set tr_key: key ? key : 'unit'/}
<table class="table table-condensed table-bordered">
  <tr>
    <th>
      <label class="checkbox">
        <input type="checkbox" id="${key ? tr_key + '_' : ''}checkbox_all" class="${tr_key} checkall">
      </label>
    </th>
    <th style="width:40px;">采购计划</th>
    <th>Selling</th>
    <th>Sku</th>
    <th style="width:10%;">产品名称</th>
    <th>采购单</th>
    <th>去往仓库</th>
    <th>供应商</th>
    <th>数量(计划/交货/入库)</th>
    <th>FBA</th>
    <th>FnSku</th>
  #{if key.equals('delivery')}
    <th>报关类型</th>
  #{/if}
    <th>运输方式</th>
    <th>预计交货时间</th>
    <th>预计运输时间</th>
    <th>状态</th>
    <th>创建时间</th>
  </tr>
#{list items:units, as:'unit'}
  <tr id="procureUnit_${unit.id}">
    <td>
      <label class="checkbox">
          #{set cooperItem: unit.cooperator?.cooperItem(unit.sku)/}
          #{if unit.fba && unit.fba.dto}
            <!-- 优先使用自身的 FBA 箱包装数据 -->
              #{set dto: unit.fba.dto/}
            <input type="checkbox" name="pids" value="${unit.id}" class="${tr_key}" id="checkbox_${unit.id}"
                   data-boxnum="${dto.boxNum}" data-num="${dto.num}" data-lastcartonnum="${dto.lastCartonNum}"
                   data-singleboxweight="${dto.singleBoxWeight}" data-length="${dto.length}"
                   data-width="${dto.width}" data-height="${dto.height}">
          #{/if}
          #{elseif cooperItem}
            <!-- 使用维护好的合作伙伴的数据 -->
            <input type="checkbox" name="pids" value="${unit.id}" class="${tr_key}" id="checkbox_${unit.id}"
                   data-boxnum="${cooperItem.boxNum(unit.qty())}" data-num="${cooperItem.boxSize}"
                   data-lastcartonnum="${cooperItem.lastCartonNum(unit.qty())}"
                   data-singleboxweight="${cooperItem.singleBoxWeight}" data-length="${cooperItem.length}"
                   data-width="${cooperItem.width}" data-height="${cooperItem.height}">
          #{/elseif}
          #{else}
            <input type="checkbox" name="pids" value="${unit.id}" class="${tr_key}" id="checkbox_${unit.id}"
                   data-boxnum="" data-num="" data-lastcartonnum="" data-singleboxweight="" data-length=""
                   data-width="" data-height="">
          #{/else}
      </label>
    </td>
    <td>
      <a href="/ProcureUnits/index?p.search=${unit.id}" target="_blank">${unit.id}</a>
    </td>
    <td class="selling_id">
      <a href="@{Sellings.selling(unit.selling?.sellingId)}" target="_blank">${unit.selling?.sellingId}</a>
    </td>
    <td>
      <a href="@{Products.show(unit.sku)}" target="_blank">${unit.sku}</a>
    </td>
    <td>${unit.product.abbreviation}</td>
    <td>
        #{if unit.deliveryment}
          <a href="@{Deliveryments.show(unit.deliveryment.id)}">${unit.deliveryment.id}</a>
        #{/if}
    </td>
    <td>${unit.whouse?.name()}</td>
    <td>${unit.cooperator?.name}</td>
    <td>
        #{set qtys: unit.qtys()/}
      <span>${qtys._1 == null ? 0 : qtys._1}</span>
      /<span style="${qtys._1 != null && qtys._2 != null && qtys._2 < qtys._1 ? 'color:red' : ''}">${qtys._2 == null ? 0 : qtys._2}</span>
      /<span style="${qtys._2 != null && qtys._3 != null && qtys._3 < qtys._2 ? 'color:red' : ''}">${qtys._3 == null ? 0 : qtys._3}</span>
    </td>
    <td>
        #{if unit.fba}
        ${unit.fba.shipmentId}
            #{set feeds: unit.fba.feeds()/}
            #{if feeds.size() > 0}
                #{render '/app/views/gt_templates/feeds.html', feeds: feeds, key: unit.fba.shipmentId, fid: unit.fba.id/}
                #{if feeds.get(0).isFailed()}
                  <i style="color:#dc143c;" class="icon-warning-sign" name="showFeedsPage" data-feeds-page="${unit.fba.shipmentId}"></i>
                #{/if}
                #{else }
                  <i class="icon-search" name="showFeedsPage" data-feeds-page="${unit.fba.shipmentId}"></i>
                #{/else}
            #{/if}
        #{/if}
    </td>
    <td>
      <!-- FnSku 下载 Label -->
        #{if unit.selling?.fnSku}
          <a href="@{ProcureUnits.fnSkuLable(unit.sid, unit.id, false)}" class="btn btn-success btn-block">
            <i class="icon-download-alt"></i> ${unit.selling.fnSku}
          </a>
        #{/if}
        #{elseif unit.selling != null}
          <a class="btn btn-warning btn-block" href="@{Sellings.selling()}/${unit.selling?.sellingId}">
            补全 FnSku
          </a>
        #{/elseif}
    </td>
      #{if key.equals('delivery')}
        <td>
          <select name="customsClearanceTypeSetter" data-unitid="${unit.id}" style="width: 90px;">
              #{list items:models.procure.DeliverPlan.CT.values(), as:'ct'}
                <option ${unit.clearanceType == ct ? 'selected' : ''} value="${ct.name()}">${ct.label()}</option>
              #{/list}
          </select>
        </td>
      #{/if}
    <td style="color:${unit.shipType.rgb()}">${unit.shipType?.label()}</td>
    <td>#{time_tooltip time:unit.attrs.planDeliveryDate/}</td>
    <td>#{time_tooltip time:unit.attrs.planShipDate /}</td>
    <td style="background:${unit.stage.rgb()}">${unit.stage.label()}</td>
    <td>#{time_tooltip time:unit.createDate/}</td>
  </tr>
#{/list}
</table>