#{extends 'main_full.html'/}
#{set title:"出货单列表 (${deliverplans.size()})" /}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
    #{script 'deliverplans/index.coffee'/}
#{/set}

#{info_row}
<ul>
  <li><strong>[最先交货时间]</strong>为采购单有交货情况后, 记录的第一次交货时间</li>
  <li><strong>[最后交货时间]</strong>为采购单有交货情况后, 记录的第后一次交货时间</li>
</ul>
#{/info_row}
#{flash_alert /}
#{errorMsgs /}

#{form @DeliverPlans.index(), class:'search_form', id:'deliverys_form'}
<div class="row-fluid">
  <div class="span12">
    <div class="input-prepend input-append inline">
      <span class="add-on">From:</span>
      <input type="date" name="p.from" value="${p.from.date()}">
      <span class="add-on">To:</span>
      <input type="date" name="p.to" value="${p.to.date()}">
    </div>
    <select name="p.planState" class="inline">
      <option value="">状态</option>
        #{list items:models.procure.DeliverPlan.P.values(), as:'sp'}
          <option ${sp == p.planState ? 'selected' : ''} value="${sp.name()}">${sp.label()}</option>
        #{/list}
    </select>
    <select name="p.handler" class="inline">
      <option value="">下单人</option>
        #{list items: handlers, as: 'handler'}
          <option ${handler.equalsIgnoreCase(p.handler) ? 'selected' : ''} value="${handler}">${handler}</option>
        #{/list}
    </select>
    <select name="p.cooperId" class="inline selectize" style="width: 100px;">
      <option value="">供应商</option>
        #{list items:suppliers, as:'sp'}
          <option ${sp.id == p.cooperId ? 'selected' : ''} value="${sp.id}">${sp.name}</option>
        #{/list}
    </select>
    <div class="input-prepend input-append inline">
      <span class="add-on"><i class="icon-search"></i></span>
      <input type="text" name="p.search" class="input-medium" value="${p.search}" placeHolder="搜索 id 自动识别, +N 语法">
      <input type="hidden" name="p.page" value="${p.page}">
      <button class="btn btn-primary" data-loading>搜索</button>
    </div>

    <div class="inline">
      <a class="btn btn-success" data-url="@{DeliverPlans.confirm()}" name="triggerReceiveRecordsBtn">确认发货</a>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <table class="table table-condensed table-bordered">
      <tr>
        <th width="1%">
          <label class="checkbox">
            <input type="checkbox" id="deliverplan_check_all">
          </label>
        </th>
        <th>#</th>
        <th>Name</th>
        <th>供应商</th>
        <th>状态</th>
        <th>User</th>
        <th>Create</th>
      </tr>
        #{list items:deliverplans, as:'dp'}
          <tr>
            <td>
              <label class="checkbox">
                <input type="checkbox" name="ids" value="${dp.id}" class="deliverplan">
              </label>
            </td>
            <td>
              <a href="@{DeliverPlans.show(dp.id)}" target="_blank">${dp.id}</a>
            </td>
            <td style="cursor:pointer;" data-toggle="toggle" data-target="#dp_${dp_index}">
              <span><i class="icon-reorder"></i></span>
              <span>${dp.name}</span>
              <span class="badge badge-info">${dp.units.size()}</span>
            </td>
            <td>${dp.supplier()?.name}</td>
            <td>${dp.state.label()}</td>
            <td>${dp.handler.username}</td>
            <td>#{time_tooltip time:dp.createDate/}</td>
          </tr>
          <tr id="dp_${dp_index}" style="display:none;">
            <td colspan="14" style="padding:0;border:none">
              <table class="table table-condensed table-bordered">
                <tr>
                  <th style="width:40px;">采购计划</th>
                  <th>Selling</th>
                  <th>Sku</th>
                  <th style="width:10%;">产品名称</th>
                  <th>采购单</th>
                  <th>FBA</th>
                  <th>去往仓库</th>
                  <th>数量(计划/交货/入库)</th>
                  <th>预计交货时间</th>
                  <th>实际交货时间</th>
                  <th>FnSku</th>
                  <th>报关类型</th>
                  <th>运输方式</th>
                  <th>预计运输时间</th>
                  <th>状态</th>
                  <th>创建时间</th>
                  <th>创建人</th>
                </tr>
                  #{list items:dp.units, as:'unit'}
                    <tr>
                      <td><a href="@{ProcureUnits.edit(unit.id)}" target="_blank">${unit.id}</a></td>
                      <td class="selling_id">
                        <a href="@{Sellings.selling(unit.selling?.sellingId)}" target="_blank">${unit.selling?.sellingId}</a>
                      </td>
                      <td>
                        <a href="@{Products.show(unit.sku)}" target="_blank">${unit.sku}</a>
                      </td>
                      <td>${unit.product.abbreviation}</td>
                      <td>
                          #{if unit.deliveryment}
                            <a href="@{Deliveryments.show(unit.deliveryment.id)}">${unit.deliveryment.id}</a>
                          #{/if}
                      </td>
                      <td>${unit.fba?.shipmentId}</td>
                      <td>${unit.whouse?.name()}</td>
                      <td>
                          #{set qtys: unit.qtys()/}
                        <span>${qtys._1 == null ? 0 : qtys._1}</span>
                        /<span style="${qtys._1 != null && qtys._2 != null && qtys._2 < qtys._1 ? 'color:red' : ''}">${qtys._2 == null ? 0 : qtys._2}</span>
                        /<span style="${qtys._2 != null && qtys._3 != null && qtys._3 < qtys._2 ? 'color:red' : ''}">${qtys._3 == null ? 0 : qtys._3}</span>
                      </td>
                      <td>#{time_tooltip time:unit.attrs.planDeliveryDate/}</td>
                      <td>#{time_tooltip time:unit.attrs.deliveryDate/}</td>
                      <td>
                        <!-- FnSku 下载 Label -->
                          #{if unit.selling?.fnSku}
                            <a href="@{Sellings.sellingLabel(unit.sid)}" class="btn btn-success btn-block">
                              <i class="icon-download-alt"></i> ${unit.selling.fnSku}
                            </a>
                          #{/if}
                          #{elseif unit.selling != null}
                            <a class="btn btn-warning btn-block" href="@{Sellings.selling()}/${unit.selling?.sellingId}">
                              补全 FnSku
                            </a>
                          #{/elseif}
                      </td>
                      <td>${unit.clearanceType?.label()}</td>
                      <td style="color:${unit.shipType.rgb()}">${unit.shipType?.label()}</td>
                      <td>#{time_tooltip time:unit.attrs.planShipDate /}</td>
                      <td style="background:${unit.stage.rgb()}">${unit.stage.label()}</td>
                      <td>#{time_tooltip time:unit.createDate/}</td>
                      <td>${unit.creator?.username}</td>
                    </tr>
                  #{/list}
              </table>
            </td>
          </tr>
        #{/list}
    </table>
  </div>
</div>
#{/form}
<div class="row-fluid" id="order_list">
  <div class="span12">
  #{if deliverplans.size() == 0}
    暂时还没有收货记录
  #{/if}
  #{else }
      #{bootstrap_pager pi:p, url:'' /}
  #{/else}
  </div>
</div>
