<table class="table table-condensed table-bordered">
    <tr>
        <th>UserId</th>
        <th>Create</th>
        <th>LastMsg</th>
        <th>Email</th>
        <th>Order</th>
        <th>OsTicket</th>
        <th>Buyer</th>
        <th>Score</th>
    </tr>

#{list items:tickets, as:'t'}
    #{set f:t.feedback/}
    <tr>
        <td>
            <a href="#" target="_blank"><i class="icon-comment"></i> ${f.orderr.userid}</a>
        </td>
        <td>${f.createDate.since()}</td>
        <td>
            #{if t.lastMessageTime}
            ${t.lastMessageTime.since()}
            #{/if}
            #{else }
                <i class="icon-warning-sign"></i>
            #{/else}
        </td>

        #{set fdbkL_C:f.feedbacklengthColor()/}
        <td data-toggle='toggle' data-target="#toggle_${t.id}" style="cursor:pointer;background:${'#' + fdbkL_C._2}">
            <span class="badge badge-inverse">${fdbkL_C._1}</span>
            <span>${f.email}</span>
            #{list items:t.reasons, as:'tag'}
                <span class="badge badge-important">${tag.name()}</span>
            #{/list}

            <span class="pull-right badge badge-info">${t.responseTimes}</span>
            <span class="pull-right badge badge-warning">${t.messageTimes}</span>

            <!-- 这个是此 Ticket 的处理者 -->
            #{if t.resolver}
                <span class="pull-right badge badge-inverse"><i class="icon-user"></i> ${t.resolver.username.capAll()}</span>
            #{/if}
        </td>
        <td>
            <a href="@{Feedbacks.show(t.fid)}" target="_blank">${t.fid}</a>
            <i class="pull-right icon-shopping-cart"></i>
        </td>
        <td>
            #{if t.osTicketId()}
                <a href="${t.osTicketLink()}" target="_blank">
                    <i class="icon-external-link"></i> ${t.osTicketId()}
                </a>
            #{/if}
            #{else }
                <i class="icon-warning-sign"></i>
            #{/else}
        </td>
        <td>
            #{if f.orderr.buyer}
            ${f.orderr.buyer}
            #{/if}
            #{else }
                <i class="icon-warning-sign"></i>
            #{/else}
        </td>
        <td style="background:${'#' + f.score.color()}">${f.score}</td>
    </tr>
    <tr id="toggle_${t.id}" style="display:none;">
        <td colspan="7">
            <ul class="nav nav-tabs" style="margin-bottom:3px;">
                <li class="active"><a href="#feedback_${t.id}" data-toggle="tab">Review</a></li>
                <li><a href="#close_${t.id}" data-toggle="tab">Close</a></li>
            </ul>

            <div class="tab-content" id="tab_content_${t.id}">
                <div id="feedback_${t.id}" class="tab-pane fade in active" style="background:#fff;">
                    <div class="row-fluid">
                        <div class="span6">
                            <h3>Comment</h3>
                        ${f.feedback}
                        </div>

                        <div class="span6">
                            <h3>Feedback Memo</h3>
                        ${f.memo}
                        </div>
                    </div>
                </div>

                <div id="close_${t.id}" class="tab-pane fade" style="background:#fff;">
                    <div class="row-fluid">
                        <div class="span12" style="margin-top:10px;">
                            <textarea rows="4" id="close_reason_${t.id}" class="span12" placeHolder="输入关闭这个 Ticket 的理由, 必须填写"></textarea>

                            #{if t.reasons.size() == 0}
                                <span class="alert alert-danger">需要先指定原因才可以关闭</span>
                            #{/if}
                            #{else }
                                <button tid="${t.id}" class="close_btn btn btn-danger">Close</button>
                            #{/else}
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
#{/list}
</table>