#{extends 'main_full.html'/}
#{set title:'Feedbacks(' + totalNeedDealFeedbacks + ')'/}
#{set 'moreScripts'}
    #{script 'tickets/reviewAndFeedback.coffee'/}
#{/set}

<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs" style="margin-bottom:5px;">
            <li class="active">
                <a href="#news" data-toggle='tab'>首次跟进<span class="badge badge-inverse">${newFeedbacks.size()}</span></a>
            </li>
            <li>
                <a href="#overtime" data-toggle='tab'>首次跟进-超时<span class="badge badge-inverse">${newOverdueFeedbacks.size()}</span></a>
            </li>

            <li>
                <a href="#rp2" data-toggle='tab'>需二次跟进<span class="badge badge-inverse">${twoMailFeedbacks.size()}</span></a>
            </li>
            <li>
                <a href="#overtime_rp2" data-toggle='tab'>需二次跟进-超时<span class="badge badge-inverse">${twoMailOverdueFeedbacks.size()}</span></a>
            </li>
            <li>
                <a href="#noresp" data-toggle='tab'>跟进无响应<span class="badge badge-inverse">${noRespFeedbacks.size()}</span></a>
            </li>
            <li>
                <a href="#newcome" data-toggle='tab'>有新回复<span class="badge badge-inverse">${newMsgFeedbacks.size()}</span></a>
            </li>
        #{ck 'manager'}
            <li>
                <a href="#funcs" data-toggle='tab'>功能 Tab</a>
            </li>
        #{/ck}


        </ul>

        <div class="tab-content">
            <div id="news" class="tab-pane active fade in">
            #{render 'Feedbacks/_feedback.html', tickets:newFeedbacks/}
            </div>

            <div id="overtime" class="tab-pane fade">
            #{render 'Feedbacks/_feedback.html', tickets:newOverdueFeedbacks/}
            </div>


            <div id="rp2" class="tab-pane fade">
            #{render 'Feedbacks/_feedback.html', tickets:twoMailFeedbacks/}
            </div>

            <div id="overtime_rp2" class="tab-pane fade">
            #{render 'Feedbacks/_feedback.html', tickets:twoMailOverdueFeedbacks/}
            </div>

            <div id="noresp" class="tab-pane fade">
            #{render 'Feedbacks/_feedback.html', tickets:noRespFeedbacks/}
            </div>

            <div id="newcome" class="tab-pane fade">
            #{render 'Feedbacks/_feedback.html', tickets:newMsgFeedbacks/}
            </div>

        #{ck 'manager'}
            <div id="funcs" class="tab-pane fade">
                <button id="ostickt_sync" class="btn btn-primary">手动同步 OsTicket</button>
            </div>
        #{/ck}


        </div>

    </div>

</div>
