#{extends 'main.html'/}
#{set title:'Feedback #' + feedback.orderId /}
#{set 'moreScripts'}
    #{script 'reviews/reviewAndFeedback.coffee'/}
#{/set}

#{set haveTicket:feedback.ticket != null/}

<div class="label label-info">Feedback</div>
<div>
    <table class="table table-condensed table-bordered">
        <tr>
            <th>OrderId</th>
            <td>${feedback.orderId}</td>
            <th>UserId</th>
            <td>${feedback.orderr.userid}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>${feedback.email}</td>
            <th>Score</th>
            <td>${feedback.score}</td>
        </tr>

        <tr>
            <th>Market</th>
            <td>${feedback.market}</td>
            <th>OsTicketId</th>
            <td>${feedback.osTicketId}</td>
        </tr>

    #{if haveTicket}
        <tr>
            <th>最后同步时间</th>
            <td>${feedback.ticket.lastSyncTime?.since()}</td>
            <th>客户最后回复时间</th>
            <td title="${feedback.ticket.lastMessageTime?.datetime()}">${feedback.ticket.lastMessageTime?.since()}</td>
        </tr>
        <tr>
            <th>最后联系客户时间</th>
            <td title="${feedback.ticket.lastResponseTime?.datetime()}">${feedback.ticket.lastResponseTime?.since()}</td>
            <th>客户回复 / 我方联系</th>
            <td>${feedback.ticket.messageTimes} / ${feedback.ticket.responseTimes}</td>
        </tr>

        <tr>
            <td colspan="4">
                <div class="row-fluid" id="reason_div">
                    <div class="span5">
                        #{list items:feedback.ticket.reasons, as:'tag'}
                            <span class="reason badge badge-important">${tag.name()}</span>
                        #{/list}
                    </div>

                    <div class="span7 input-prepend">
                        <input type="hidden" id="ticketId" value="${feedback.ticket.id}">
                        #{list items:unTagAndAll._1, as:'unTag'}
                            <span class="unTagReason badge badge-info">${unTag.name()}</span>
                        #{/list}
                    </div>
                </div>
            </td>
        </tr>
    #{/if}

        <tr>
            <td colspan="4">
                <div class="row-fluid">
                    <div class="span6">

                        <!-- 此 Ticket 的处理者 -->
                    #{if haveTicket && (feedback.ticket.resolver == null)}
                        <button id="take_it" tid="${feedback.ticket.id}" rel="popover" content="由我[${session.get("username")}]来处理这个 Ticket" class="btn btn-primary">
                            Take It
                        </button>
                    #{/if}
                    #{elseif haveTicket}
                        <span class="badge badge-info">由 <i class="icon-user"></i> ${feedback.ticket.resolver.username.capAll()}
                            处理
                        </span>
                    #{/elseif}

                    #{if haveTicket}
                        <div style="margin:5px 0">
                            <a data-toggle="toggle" data-target="#close_div" class="btn btn-danger">
                                <i class="icon-edit"></i> Close
                            </a>
                        </div>
                    #{/if}
                    </div>

                    <div class="span6">
                    #{list items:feedback.orderr.items, as:'oitm'}
                    *{<img src="${oitm.selling.listing.picUrls}">}*
                    ${oitm.selling.listing.picUrls}
                #{/list}
                    </div>
                </div>

            #{if haveTicket}
                <div class="row-fluid">
                    <div id="close_div" class="span12" style="display:none;margin-top:10px;">
                        <textarea rows="4" id="close_reason" class="span12" placeHolder="输入关闭这个 Ticket 的理由, 必须填写"></textarea>

                        <button id="close_btn" tid="${feedback.ticket.id}" class="btn btn-danger">Close</button>
                    </div>
                </div>
            #{/if}
            </td>
        </tr>


        <tr>
            <td colspan="4">
                <h3 rel="popover" content="Feedback 的留言" placement="left" width='auto'>
                    <i class="icon-question-sign"></i> Feedback</h3>
            ${feedback.feedback.raw()}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h3 rel="popover" content="系统自行添加的对 Feedback 的记录" placement="left" width='auto'>
                    <i class="icon-question-sign"></i> Feedback Comment</h3>
            ${feedback.memo.raw()}
            </td>
        </tr>

    #{if haveTicket}
        <tr>
            <td colspan="4">
                <h3 rel="popover" content="系统自行添加的对 Feedback 对应的 Ticket 的记录" placement="left" width='auto'>
                    <i class="icon-question-sign"></i> Ticket Comment</h3>
            ${feedback.ticket.memo.raw()}
            </td>
        </tr>
    #{/if}
    </table>
</div>

#{if feedback.orderr != null}
    #{render 'Orders/show.html', ord: feedback.orderr, part: true/}
#{/if}
