<tr>
  <th>仓库名称</th>
  <td><input type="text" name="wh.name" value="${wh.name}" required></td>

  <th>仓库类型</th>
  <td>
    <select name="wh.type" style="width: 100px;">
    #{list items:models.whouse.Whouse.T.values(), as:'t'}
      <option ${t == wh.type ? 'selected' : ''} value="${t.name()}">${t.label()}</option>
    #{/list}
    </select>
  </td>

  <th>Account</th>
  <td>
    <select name="wh.account.id">
      <option value="">请选择</option>
    #{list items:accs, as:'acc'}
      <option ${acc.id == wh.account?.id ? 'selected' : ''} value="${acc.id}">${acc.prettyName()}</option>
    #{/list}
    </select>
  </td>
</tr>

<tr>
  <th>Address</th>
  <td><input type="text" name="wh.address" value="${wh.address}"></td>

  <th>City</th>
  <td>
    <input type="text" name="wh.city" value="${wh.city}">
  </td>

  <th>Country</th>
  <td>
    <input type="text" name="wh.country" value="${wh.country}">
  </td>
</tr>

<tr>
  <th>PostalCode</th>
  <td>
    <input type="text" name="wh.postalCode" value="${wh.postalCode}">
  </td>

  <th>Province</th>
  <td>
    <input type="text" name="wh.province" value="${wh.province}">
  </td>

  <th>Market</th>
  <td>
    <select name="wh.market">
      <option value="">请选择</option>
    #{list items: models.market.M.amazonVals(), as: 'm'}
      <option value="${m.name()}" ${wh.market == m ? 'selected' : ''}>${m.name()}</option>
    #{/list}
    </select>
  </td>
</tr>

<tr style="display:none" id="forward_shipment_tr">
  <th>货代</th>
  <td>
    <select name="wh.cooperator.id">
      <option value="">请选择</option>
    #{list items:cooperators, as:'c'}
      <option ${c.id == wh.cooperator?.id ? 'selected' : ''} value="${c.id}">${c.name}</option>
    #{/list}
    </select>
  </td>

  <th>运输方式</th>
  <td colspan="3">
    <select name="p.type" style="width: 100px;" class="inline">
      <option value="">运输方式</option>
    #{list items:models.procure.Shipment.shipTypes(), as:'t'}
      <option value="${t.name()}" ${t == wh.shipType ? 'selected' : ''}>${t}</option>
    #{/list}
    </select>
  </td>
</tr>
