#{extends 'main.html'/}
#{set title:'修改仓库 ' + wh.name() /}
#{set 'moreScripts'}
    #{script 'whouse/blank.coffee'/}
#{/set}

#{errorMsgs /}
#{flash_alert /}
#{info_row title:'修改仓库' /}

<div class="row-fluid">
    <div class="span12">
        <form id="update_form">
            <table class="table table-condensed table-bordered">
            #{render 'Whouses/_whouse_tr.html', wh:wh, accs:accs, cooperators: cooperators/}

                <tr>
                    <td colspan="6">
                        <a href="@{Whouses.index()}" class="btn btn-success">返回</a>
                        <input type="hidden" name="wh.id" value="${wh.id}">
                        <button class="btn btn-primary" id="submit_update_btn">更新</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>