#{extends 'main_full_v3.html'/}
#{set title:'修改仓库 ' + wh.name() /}
#{set 'moreScripts'}
    #{script 'whouse/blank.coffee'/}
#{/set}

#{errorMsgs /}
#{flash_alert /}

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <form id="update_form" class="form-horizontal">
        <div class="box-header with-border"><h4 class="box-title">修改仓库</h4></div>
        <div class="box-body">
          <table class="table table-condensed table-bordered">
          #{render 'Whouses/_whouse_tr.html', wh:wh, accs:accs, cooperators: cooperators/}
          </table>
        </div>
        <div class="box-footer">
          <input type="hidden" name="wh.id" value="${wh.id}">
          <button class="btn btn-warning" id="submit_update_btn">更新</button>
          <a href="@{Whouses.index()}" class="btn btn-default">返回</a>
        </div>
      </form>
    </div>
  </div>
</div>