#{extends 'main.html'/}
#{set title:'Whouse(' + whs.size() + ')'/}
#{set 'moreScripts'}
    #{script_cdn name: 'component/pagination.coffee'/}
#{/set}

#{flash_alert /}
#{info_row title:'货代仓库' /}

<div class="row-fluid">
  <form action="@{Whouses.forwards()}" method="get" class="search_form">
    <div class="span12">
      <select name="p.cooperatorId" class="span2">
        <option value="">货代</option>
      #{list items:cooperators, as:'c'}
        <option value="${c.id}" ${p.cooperatorId == c.id? 'selected': ''}>${c.name}</option>
      #{/list}
      </select>

      <select name="p.userId" class="span2">
        <option value="">质检员</option>
      #{list items:users, as:'user'}
        <option value="${user.id}" ${p.userId == user.id? 'selected': ''}>${user.username}</option>
      #{/list}
      </select>

      <input type="hidden" name="p.type" value="${p.type}">

      <div class="input span2">
        <button class="btn">搜索</button>
      </div>
    </div>
  </form>
</div>

<div class="row-fluid">
  <form action="@{Whouses.updates()}">
    <table class="table table-condensed table-bordered">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>货代</th>
        <th>质检员</th>
      </tr>
    #{list items:whs, as:'wh'}
      <tr>
        <td>${wh.id}</td>
        <td>${wh.name}</td>
        <td>${wh.cooperator?.fullName}</td>
        <td>
          <select name="whs[${wh_index - 1}].user.id" class="inline">
              <option value="">请选择</option>
              #{list items:users, as:'user'}
                <option value="${user.id}" ${wh.user?.id == user.id? 'selected': ''}>${user.username}</option>
              #{/list}
          </select>
          <input type="hidden" name="whs[${wh_index - 1}].id" value="${wh.id}">
        </td>
      </tr>
    #{/list}
    </table>
    <input type="submit" class="btn btn-success" value="更新">
  </form>
</div>
