#{if dto==null}
    #{set ratingT3: review.iconRating()/}
    #{if ratingT3._1}
    <i rel="tooltip" title="From ${review.lastRating} TO ${review.rating}" style="color:${'#' + ratingT3._2};" class="pull-right ${ratingT3._3}"></i>
    #{/if}
#{/if}
#{else}
    #{set ratingT3: dto.iconRating()/}
    #{if ratingT3._1}
        <i rel="tooltip" title="最近2次平均评分: ${dto.lastRating}" style="color:${'#'+ratingT3._2}" class="text-center ${ratingT3._3}"></i>
    #{/if}
    #{else}
        <i rel="tooltip" title="持平" style="color:${'#'+ratingT3._2}">-</i>
    #{/else}
#{/else}



