#{extends 'main_full.html'/}
#{set title:"Reviews(" + totalNeedDealReview + ")" /}
#{set 'moreScripts'}
    #{script 'tickets/reviewAndFeedback.coffee'/}
#{/set}

<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs" style="margin-bottom:5px;">
            <li class="active">
                <a href="#news" data-toggle='tab'>首次跟进<span class="badge badge-inverse">${newReviews.size()}</span></a>
            </li>
            <li>
                <a href="#overtime" data-toggle='tab'>首次跟进-超时<span class="badge badge-inverse">${newOverdueReviews.size()}</span></a>
            </li>
            <li>
                <a href="#rp2" data-toggle='tab'>需二次跟进<span class="badge badge-inverse">${twoMailReviews.size()}</span></a>
            </li>
            <li>
                <a href="#overtime_rp2" data-toggle='tab'>需二次跟进-超时<span class="badge badge-inverse">${twoMailOverdueReviews.size()}</span></a>
            </li>
            <li>
                <a href="#noresp" data-toggle='tab'>跟进无响应<span class="badge badge-inverse">${noRespReviews.size()}</span></a>
            </li>
            <li>
                <a href="#newcome" data-toggle='tab'>有新回复<span class="badge badge-inverse">${newMsgReviews.size()}</span></a>
            </li>
            <li>
                <a href="#preclose" data-toggle='tab'>等待确认关闭<span class="badge badge-inverse">${preCloseReviews.size()}</span></a>
            </li>
        #{ck 'manager'}
            <li>
                <a href="#funcs" data-toggle='tab'>功能 Tab</a>
            </li>
        #{/ck}
        </ul>

        <div class="tab-content">
            <div id="news" class="tab-pane active fade in">
            #{render 'Reviews/_review.html', tickets:newReviews/}
            </div>

            <div id="overtime" class="tab-pane fade">
            #{render 'Reviews/_review.html', tickets:newOverdueReviews/}
            </div>

            <div id="rp2" class="tab-pane fade">
            #{render 'Reviews/_review.html', tickets:twoMailReviews/}
            </div>

            <div id="overtime_rp2" class="tab-pane fade">
            #{render 'Reviews/_review.html', tickets:twoMailOverdueReviews/}
            </div>

            <div id="noresp" class="tab-pane fade">
            #{render 'Reviews/_review.html', tickets:noRespReviews/}
            </div>

            <div id="newcome" class="tab-pane fade">
            #{render 'Reviews/_review.html', tickets:newMsgReviews/}
            </div>

            <div id="preclose" class="tab-pane fade">
            #{render 'Reviews/_review.html', tickets:preCloseReviews/}
            </div>

        #{ck 'manager'}
            <div id="funcs" class="tab-pane fade">
                <button id="ostickt_sync" class="btn btn-primary">手动同步 OsTicket</button>
            </div>
        #{/ck}
        </div>

    </div>

</div>