#{extends 'main.html'/}
#{set title:'Review #' + review.reviewId /}
#{set 'moreScripts'}
    #{script 'reviews/show.coffee'/}
    #{script 'tickets/reviewAndFeedback.coffee'/}
#{/set}

#{set haveTicket:review.ticket != null/}
#{set isClosed:review.ticket.state == models.support.TicketState.CLOSE/}
#{if haveTicket}
<!-- Ticket 操作所需要的值 -->
<input type="hidden" id="ticketId" value="${review.ticket.id}">
#{/if}


#{render 'Tickets/_success.html', success:review.ticket.isSuccess/}

<!-- Review -->
<div class="label label-info">Review</div>
<div>
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Title</th>
            <td>${review.title}</td>
            <th>UserId</th>
            <td id="userId">${review.userid}</td>
            <th>UserName</th>
            <td>${review.username}</td>
        </tr>

        <tr>
            <th>ReviewDate</th>
            <td>${review.reviewDate.date()}</td>
            <th>isVedio</th>
            <td>#{yesOrNo f:review.isVedio /}</td>
            <th>isVineVoise</th>
            <td>#{yesOrNo f:review.isVineVoice /}</td>
        </tr>

        <tr>
            <th>isPurchase</th>
            <td>#{yesOrNo f:review.purchased /}</td>
            <th>isRealName</th>
            <td>#{yesOrNo f:review.isRealName /}</td>
            <th>ReviewId</th>
            <td>
                <a href="${review.reviewLink()}" target="_blank">
                    <i class="icon-external-link"></i>
                    <span id="reviewId">${review.reviewId}</span>
                </a>
            </td>
        </tr>

        <tr>
            <th>Listing</th>
            <td>
                <a href="${review.listing.asinLink()}" target="_blank">
                    <i class="icon-external-link"></i> ${review.listingId}
                </a>
            </td>
            <th>Rating</th>
            <td>${review.rating}</td>
            <th>OsTicketId</th>
            <td>
            #{if review.ticket != null}
                <a href="http://t.easya.cc/scp/tickets.php?id=${review.ticket.osTicketId()}" target="_blank">
                    <i class="icon-external-link"></i> ${review.ticket.osTicketId()}
                </a>
            #{/if}
            #{else }
                <span><i class="icon-thumbs-up"></i> No Need</span>
            #{/else}
            </td>
        </tr>

        <!-- 如果有 Ticket 如此, 没有 Ticket 换成另外一种输出 -->
    #{if haveTicket}
        <tr>
            <th rel="popover" content="${review.ticket.state.explan()}"><i class="icon-question-sign"></i> State</th>
            <td>${review.ticket.state}</td>
            <th>isSuccess</th>
            <td>#{yesOrNo f:review.ticket.isSuccess /}</td>
            <th>TopN</th>
            <td>${review.topN}</td>
        </tr>
        <tr>
            <th>最后同步时间</th>
            <td>${review.ticket.lastSyncTime?.since()}</td>
            <th>最后联系客户时间</th>
            <td title="${review.ticket.lastResponseTime?.datetime()}">${review.ticket.lastResponseTime?.since()}</td>
            <th>客户最后回复时间</th>
            <td title="${review.ticket.lastMessageTime?.datetime()}">${review.ticket.lastMessageTime?.since()}</td>
        </tr>
        <tr>
            <th>Click</th>
            <td>${review.helpUp} / ${review.helpClick}</td>
            <th>客户回复 / 我方联系</th>
            <td colspan="3">${review.ticket.messageTimes} / ${review.ticket.responseTimes}</td>
        </tr>

        <tr>
            <td colspan="6">
                <div class="row-fluid" id="reason_div">
                    <div class="span5">
                        #{list items:review.ticket.reasons, as:'ra'}
                            <span rel="popover" content="${ra.memo}" class="reason badge badge-important">${ra.name()}</span>
                        #{/list}
                    </div>

                    <div class="span7">
                        #{list items:unTagReasons, as:'ura'}
                            <span rel="popover" content="${ura.memo}" class="unTagReason badge badge-info">${ura.name()}</span>
                        #{/list}
                    </div>
                </div>
            </td>
        </tr>
    #{/if}
    #{else }
        <tr>
            <th>TopN</th>
            <td>${review.topN}</td>
            <th>Click</th>
            <td colspan="3">${review.helpUp} / ${review.helpClick}</td>
        </tr>
    #{/else}



    #{if review.isVedio}
        <tr>
            <td colspan="6">
                <img src="${review.vedioPicUrl}" alt="${review.reviewId}">
            </td>
        </tr>
    #{/if}

        <tr>
            <td colspan="6">
                <div class="row-fluid">
                    <div class="span6">

                        <div style="margin:5px" class="pull-left">
                            <!-- 寻找用户的相关订单 -->
                        #{if review.orderr == null}
                            <button id="try_order" class="btn btn-primary">Try Order</button>
                        #{/if}

                            <!-- 此 Ticket 的处理者 -->
                        #{if haveTicket && (review.ticket.resolver == null)}
                            <button id="take_it" rel="popover" content="由我[${session.get("username")}]来处理这个 Ticket" class="btn btn-primary">
                                Take It
                            </button>
                        #{/if}
                        #{elseif haveTicket}
                            <span class="badge badge-info">由 <i class="icon-user"></i> ${review.ticket.resolver.username.capAll()}
                                处理
                            </span>
                        #{/elseif}
                        </div>

                        <div style="margin:5px" class="pull-left">
                            <a class="btn btn-success" href="@{Products.show(review.listing.product.sku)}" target="_blank">${review.listing.product.sku}</a><br/>
                        </div>

                    #{if haveTicket && !isClosed}
                        <div style="margin:5px" class="pull-left">
                            <a data-toggle="toggle" data-target="#close_div" class="btn btn-danger">
                                <i class="icon-edit"></i> Close
                            </a>
                        </div>
                    #{/if}


                    #{if haveTicket}
                        <div style="margin:5px" class="pull-left">
                            <button tid="${review.ticket.id}" class="star_it btn btn-primary">
                                <i class="${review.ticket.isStart ? 'icon-star' : 'icon-star-empty'}"></i>
                            </button>
                        </div>
                    #{/if}


                    </div>

                    <div class="span6">
                        <img src="${review.listing.picUrls}" alt="${review.listingId}">
                    </div>
                </div>

            #{if haveTicket && !isClosed}
                <div class="row-fluid">
                    <div id="close_div" class="span12" style="display:none;margin-top:10px;">
                        <textarea rows="4" id="close_reason" class="span12" placeHolder="输入关闭这个 Ticket 的理由, 必须填写"></textarea>

                        <button id="close_btn" class="btn btn-danger">Close</button>
                    </div>
                </div>
            #{/if}
            </td>
        </tr>


        <tr>
            <td colspan="6" class="alert alert-info">
                <h4>Review</h4>

                <p>${review.review.raw()}</p>
            </td>
        </tr>


        <tr>
            <td colspan="6" class="alert alert-success">
                <h4>System Comment</h4>

                <p>${review.comment.raw()}</p>
            </td>
        </tr>

    #{if haveTicket}
        <tr>
            <td colspan="6" class="alert alert-info">
                <h4>Ticket Comment</h4>

                <p>${review.ticket.memo.raw()}</p>
            </td>
        </tr>
    #{/if}


    </table>
</div>

#{if review.orderr != null}
    #{render 'Orders/show.html', ord: review.orderr, part: true/}
#{/if}
