#{extends 'main.html'/}
#{set title:'Review #' + review.reviewId /}
#{set 'moreScripts'}
    #{script_cdn name: 'reviews/show.coffee'/}
#{/set}

<!-- Review -->
<div class="label label-info">Review</div>
<div>
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Title</th>
            <td>${review.title}</td>
            <th>UserId</th>
            <td id="userId">${review.userid}</td>
            <th>UserName</th>
            <td>${review.username}</td>
        </tr>

        <tr>
            <th>ReviewDate</th>
            <td>${review.reviewDate.date()}</td>
            <th>isVedio</th>
            <td>#{yesOrNo f:review.isVedio /}</td>
            <th>isVineVoise</th>
            <td>#{yesOrNo f:review.isVineVoice /}</td>
        </tr>

        <tr>
            <th>isPurchase</th>
            <td>#{yesOrNo f:review.purchased /}</td>
            <th>isRealName</th>
            <td>#{yesOrNo f:review.isRealName /}</td>
            <th>ReviewId</th>
            <td>
                <a href="${review.reviewLink()}" target="_blank">
                    <i class="icon-external-link"></i>
                    <span id="reviewId">${review.reviewId}</span>
                </a>
            </td>
        </tr>

        <tr>
            <th><a href="@{Listings.listing(review.listingId)}">Listing</a></th>
            <td>
                <a href="${review.listing.asinLink()}" target="_blank">
                    <i class="icon-external-link"></i> ${review.listingId}
                </a>
            </td>
            <th>Rating</th>
            <td>
                #{render 'Reviews/_rating_icon.html', review:review/}
                    <span>${review.rating}</span>
            </td>
            <th>OsTicketId</th>
            <td><span><i class="icon-thumbs-up"></i> No Ticket</span></td>
        </tr>

        <tr>
            <th>TopN</th>
            <td>${review.topN}</td>
            <th>Click</th>
            <td colspan="3">${review.helpUp} / ${review.helpClick}</td>
        </tr>

    #{if review.isVedio}
        <tr>
            <td colspan="6">
                <img src="${review.vedioPicUrl}" alt="${review.reviewId}">
            </td>
        </tr>
    #{/if}

        <tr>
            <td colspan="6">
                <div class="row-fluid">
                    <div class="span6">

                        <div style="margin:5px" class="pull-left">
                            <!-- 寻找用户的相关订单 -->
                        #{if review.orderr == null}
                            <button id="try_order" class="btn btn-primary">Try Order</button>
                        #{/if}
                        </div>

                        <div style="margin:5px" class="pull-left">
                            <a class="btn btn-success" href="@{Products.show(review.listing.product.sku)}" target="_blank">${review.listing.product.sku}</a><br/>
                        </div>

                    </div>

                    <div class="span6">
                        <img src="${review.listing.picUrls}" alt="${review.listingId}">
                    </div>
                </div>

            </td>
        </tr>


        <tr>
            <td colspan="6" class="alert alert-info">
                <h4>Review</h4>

                <p>${review.review.raw()}</p>
            </td>
        </tr>


        <tr>
            <td colspan="6" class="alert alert-success">
                <h4>System Comment</h4>

                <p>${review.comment.raw()}</p>
            </td>
        </tr>


    </table>
</div>

#{if review.orderr != null}
    #{render 'Orders/show.html', ord: review.orderr, part: true/}
#{/if}
