<table class="table table-condensed table-bordered" id="data_table">
  <tr>
    <td><input type="checkbox" id="checkbox_all" class="checkall" value=""></td>
    <td width="30px">Image</td>
    <th width="30px;">采购单<br/>采购ID</th>
    <th width="350px;">Selling<br/>产品名称</th>
    <th>SKU<br/>供应商</th>
    <th>剩余库存</th>
    <th>出库数量</th>
    <th>包装信息</th>
    <th>仓库名称</th>
    <th>收货入库记录ID</th>
    <th>阶段</th>
    <th>项目名称</th>
    <th>备注</th>
  </tr>
#{list items:records, as:'r'}
  <tr id="unit_${r.unit.id}">
    <td><input type="checkbox" value="${r.id}"></td>
    <td style="text-align:center;"><img height="40px;" width="45px;" src="${r.unit?.selling?.aps?.imageUrl}"></td>
    <td>${r.unit.deliveryment?.id}<br/>${r.unit.id}</td>
    <td data-toggle="tooltip" title="${r.unit.product.abbreviation}">${r.unit.selling?.sellingId}<br/>
      <span style="color:blue">${r.unit.product.abbreviation?.xxLong()}</span>
    </td>
    <td>${r.unit.sku}<br/>${r.unit.cooperator?.name}</td>
    <td>${r.unit.availableQty}</td>
    <td>${r.qty}</td>
    <td>
      <input type="button" class="btn btn-xs btn-success" data-id="${r.unit.id}" name="editBoxInfo" value="填写">
    </td>
    <td>${r.unit.currWhouse?.name}</td>
    <td>${r.unit.showInboundIds()}</td>
    <td style="background-color:${r.unit.stage.rgb()}">${r.unit.stage?.label()}</td>
    <td>${r.unit?.projectName}</td>
    <td rel="tooltip" title="${r.unit.comment}"><a>${r.unit.comment.xxLong()}</a></td>
  </tr>
#{/list}
</table>