<table class="table table-condensed table-bordered" id="data_table">
  <tr>
    <td><input type="checkbox" id="checkbox_all" class="checkall" value=""></td>
    <th>采购计划ID</th>
    <th>采购单</th>
    <th>Selling</th>
    <th>SKU</th>
    <th>产品名称</th>
    <th>供应商</th>
    <th>剩余库存</th>
    <th>出库数量</th>
    <th>包装信息</th>
    <th>仓库名称</th>
    <th>收货入库记录ID</th>
    <th>阶段</th>
    <th>项目名称</th>
    <th>备注</th>
  </tr>
#{list items:records, as:'r'}
  <tr class="text-center" id="unit_${r.unit.id}">
    <td><input type="checkbox" value="${r.id}"></td>
    <td>${r.unit.id}</td>
    <td>${r.unit.deliveryment?.id}</td>
    <td>${r.unit.selling?.sellingId}</td>
    <td>${r.unit.sku}</td>
    <td>${r.unit.product.abbreviation}</td>
    <td>${r.unit.cooperator?.name}</td>
    <td>${r.unit.availableQty}</td>
    <td>${r.qty}</td>
    <td>
      <input type="button" class="btn btn-mini btn-success" data-id="${r.unit.id}" name="editBoxInfo" value="填写">
    </td>
    <td>${r.unit.currWhouse?.name}</td>
    <td>${r.unit.showInboundIds()}</td>
    <td style="background-color:${r.unit.stage.rgb()}">${r.unit.stage?.label()}</td>
    <td>${r.unit?.projectName}</td>
    <td rel="tooltip" title="${r.unit.comment}"><a>${r.unit.comment.xxLong()}</a></td>
  </tr>
#{/list}
</table>