#{extends 'main_full_v3.html' /}
#{set title:"出库单列表"  /}
#{set 'moreScripts'}
    #{script 'jquery.filedrop.js'/}
    #{script 'component/dropUpload.coffee'/}
    #{script 'component/pagination.coffee'/}
    #{script 'outbounds/blank.js'/}
    #{script 'outbounds/index.es6'/}
#{/set}

#{errorMsgs /}
#{flash_alert /}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <form action="@{Outbounds.index()}" method="get" class="form-inline" id="search_Form">
        <div class="box-header with-border">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">From:</div>
              <input style="width:100px;" class="form-control" role="date" name="p.from" value="${p.from.date()}">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">To:</div>
              <input style="width:100px;" class="form-control" role="date" name="p.to" value="${p.to.date()}">
            </div>
          </div>

          <select name="p.dateType" class="form-control">
          #{list items:models.view.post.OutboundPost.DateType.values(), as:'d'}
            <option value="${d.name()}" ${d.name() == p.dateType?.name()? 'selected' : ''}>${d.label()}</option>
          #{/list}
          </select>

          <select name="p.status" class="form-control">
            <option value="">状态</option>
          #{list items:models.whouse.Outbound.S, as:'s'}
            <option #{if p.status==s} selected #{/if} value="${s.name()}">${s.label()}</option>
          #{/list}
          </select>

          <select name="p.cooperatorId" class="form-control selectize" style="width:150px;">
            <option value="">供应商</option>
          #{list items:cooperators, as:'cop'}
            <option value="${cop.id}">${cop.name}</option>
          #{/list}
          </select>

          <select name="p.type" class="form-control">
            <option value="">出库类型</option>
          #{list items:models.whouse.StockRecord.C, as:'t'}
            <option #{if t==p.type} selected #{/if} value="${t.name()}">${t.label()}</option>
          #{/list}
          </select>

          <select name="p.type" class="form-control">
            <option value="">目的国家</option>
          #{list items:tragets, as:'t'}
            <option value="${t.id}">${t.name}</option>
          #{/list}
          </select>

          <select name="p.shipType" class="form-control" style="width:82px;">
            <option value="">运输方式</option>
          #{list items:models.procure.Shipment.T.values(), as:'t'}
            <option ${t == p.shipType ? 'selected' : ''} value="${t.name()}">${t.label()}</option>
          #{/list}
          </select>

          <select name="p.projectName" class="form-control">
            <option value="">项目名称</option>
          #{list items:models.view.post.ProcurePost.projectNames, as:'n'}
            <option ${n == p.projectName ? 'selected' : ''} value="${n}">${n}</option>
          #{/list}
          </select>

          <div class="input-group">
            <div class="input-group-addon"><i class="icon-search"></i></div>
            <input style="width:200px;" class="form-control" name="p.search" placeholder="出库单ID,采购计划ID,SKU" value="${p.search}">
            <input type="hidden" name="p.page" value="${p.page}">
            <input type="hidden" name="p.whichPage" id="whichPage" value="${p.whichPage}">
          </div>
          <button class="btn btn-primary" data-loading>搜索</button>

          <a href="@{Outbounds.otherBlank()}" class="btn btn-info" target="_blank">其他出库</a>
          <a href="javascript:void(0)" class="btn btn-success" id="confirmOutboundBtn">确认出库</a>
          <a class="btn btn-default" href="javascript:void(0)" id="printBtn" target="_blank">
            <i class="icon-print"></i> 打印出库单</a>
          <a class="btn btn-default" href="javascript:void(0)" id="exportExcel" target="_blank"
             data-url="@{Excels.exportOutBoundDetailReport()}"><i class="icon-list-alt"></i> 导出Excel</a>
        </div>
      </form>

      <form method="post" id="submit_form" action="@{Outbounds.confirmOutBound()}">
        <div class="box-body">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active" id="below_tab">
                <a href="#currentPage" data-toggle='tab' id="amazonBtn" name="checkPage" page="amazonBtn">Amazon 出库</a>
              </li>
              <li>
                <a href="#b2bOut" data-toggle='tab' id="b2bBtn" name="checkPage" page="b2bBtn">B2B出库</a>
              </li>
              <li>
                <a href="#otherOut" data-toggle='tab' id="otherBtn" name="checkPage" page="otherBtn">其他出库</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade active in" id='currentPage'>
                <table class="table table-condensed table-bordered" id="data_table">
                  <tr>
                    <th style="width:15px;">
                      <input type="checkbox" id="checkbox_all" class="checkall">
                    </th>
                    <th width="100px;">出库单ID</th>
                    <th>名称</th>
                    <th width="80px;">目的国家</th>
                    <th>项目名称</th>
                    <th width="80px;">状态</th>
                    <th width="80px;">运输方式</th>
                    <th width="100px;">出库类型</th>
                    <th width="180px;">货代公司</th>
                    <th width="100px;">出库日期</th>
                    <th width="80px;">发货人</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <th width="150px;">备注</th>
                  </tr>
                #{list items: outbounds, as: 'o'}
                  <tr>
                    <td><input type="checkbox" name="ids" value="${o.id}" status="${o.status.name()}"></td>
                    <td><a href="@{Outbounds.edit(o.id)}">${o.id}</a></td>
                    <td style="cursor:pointer;" name="clickTd" data-id="${o.id}" data-type="${o.type?.name()}">
                      <span><i class="icon-reorder"></i></span>
                      <span>${o.name}</span>
                      <span class="badge bg-light-blue">${o.units.size()}</span>
                    </td>
                    <td>${o.whouse?.name}</td>
                    <td>${o.projectName}</td>
                    <td style="background-color:${o.status.rgb()}">${o.status?.label()}</td>
                    <td style="color:${o.shipType.rgb()}">${o.shipType?.label()}</td>
                    <td>${o.type?.label()}</td>
                    <td>${o.showCompany()}</td>
                    <td>#{time_tooltip time:o.outboundDate/}</td>
                    <td>${o.consignor?.username}</td>
                    <td>${o.creator?.username}</td>
                    <td>#{time_tooltip time:o.createDate/}</td>
                    <td title="${o.memo}">${o.memo.overLong()}</td>
                  </tr>
                #{/list}
                  <tr>
                    <td colspan="14">
                    #{if outbounds.size() == 0}
                      暂时还没有入库记录
                    #{/if}
                    #{else }
                        #{bootstrap_pager_v3 pi:p, url:'' /}
                    #{/else}
                    </td>
                  </tr>
                </table>
              </div>

              <div class="tab-pane fade" id='b2bOut'>
                <table class="table table-condensed table-bordered" id="b2bOut">
                  <tr>
                    <th style="width:15px;">
                      <input type="checkbox" id="checkbox_all" class="checkall">
                    </th>
                    <th width="120px;">出库单ID</th>
                    <th>名称</th>
                    <th width="80px;">目的国家</th>
                    <th>项目名称</th>
                    <th width="80px;">状态</th>
                    <th width="80px;">运输方式</th>
                    <th width="100px;">出库类型</th>
                    <th width="180px;">货代公司</th>
                    <th width="120px;">出库日期</th>
                    <th width="80px;">发货人</th>
                    <th>创建人</th>
                    <th width="200px;">备注</th>
                  </tr>
                #{list items: b2bOutbounds, as: 'o'}
                  <tr>
                    <td><input type="checkbox" name="ids" value="${o.id}" status="${o.status.name()}"></td>
                    <td><a href="@{Outbounds.edit(o.id)}">${o.id}</a></td>
                    <td style="cursor:pointer;" name="clickTd" data-id="${o.id}" data-type="${o.type?.name()}">
                      <span><i class="icon-reorder"></i></span>
                      <span>${o.name}</span>
                      <span class="badge bg-light-blue">${o.units.size()}</span>
                    </td>
                    <td>${o.whouse?.name}</td>
                    <td>${o.projectName}</td>
                    <td style="background-color:${o.status.rgb()}">${o.status?.label()}</td>
                    <td style="color:${o.shipType.rgb()}">${o.shipType?.label()}</td>
                    <td>${o.type?.label()}</td>
                    <td>${o.showCompany()}</td>
                    <td>#{time_tooltip time:o.outboundDate/}</td>
                    <td>${o.consignor?.username}</td>
                    <td>${o.creator?.username}</td>
                    <td title="${o.memo}">${o.memo.overLong()}</td>
                  </tr>
                #{/list}
                  <tr>
                    <td colspan="14">
                    #{if b2bOutbounds.size() == 0}
                      暂时还没有入库记录
                    #{/if}
                    #{else }
                        #{bootstrap_pager_v3 pi:b2bPost, url:'' /}
                    #{/else}
                    </td>
                  </tr>
                </table>
              </div>

              <div class="tab-pane fade" id='otherOut'>
                <table class="table table-condensed table-bordered" id="other_table">
                  <tr>
                    <th style="width:15px;">
                      <input type="checkbox" id="checkbox_all" class="checkall">
                    </th>
                    <th width="120px;">出库单ID</th>
                    <th>名称</th>
                    <th width="80px;">目的国家</th>
                    <th>项目名称</th>
                    <th width="80px;">状态</th>
                    <th width="80px;">运输方式</th>
                    <th width="100px;">出库类型</th>
                    <th width="180px;">货代公司</th>
                    <th width="120px;">出库日期</th>
                    <th width="80px;">发货人</th>
                    <th>创建人</th>
                    <th width="200px;">备注</th>
                  </tr>
                #{list items: others, as: 'o'}
                  <tr>
                    <td><input type="checkbox" name="ids" value="${o.id}" status="${o.status.name()}"></td>
                    <td><a href="@{Outbounds.edit(o.id)}">${o.id}</a></td>
                    <td style="cursor:pointer;" name="clickTd" data-id="${o.id}" data-type="${o.type?.name()}">
                      <span><i class="icon-reorder"></i></span>
                      <span>${o.name}</span>
                      <span class="badge bg-light-blue">${o.records.size()}</span>
                    </td>
                    <td>${o.whouse?.name}</td>
                    <td>${o.projectName}</td>
                    <td style="background-color:${o.status.rgb()}">${o.status?.label()}</td>
                    <td style="color:${o.shipType.rgb()}">${o.shipType?.label()}</td>
                    <td>${o.type?.label()}</td>
                    <td>${o.showCompany()}</td>
                    <td>#{time_tooltip time:o.outboundDate/}</td>
                    <td>${o.consignor?.username}</td>
                    <td>${o.creator?.username}</td>
                    <td title="${o.memo}">${o.memo.overLong()}</td>
                  </tr>
                #{/list}
                  <tr>
                    <td colspan="14">
                    #{if others.size() == 0}
                      暂时还没有入库记录
                    #{/if}
                    #{else }
                        #{bootstrap_pager_v3 pi:otherPost, url:'' /}
                    #{/else}
                    </td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="fba_carton_contents_modal" class="modal fade bs-example-modal-lg">
  <div class="modal-dialog modal-lg" role="document" style="width:1200px;">
    <div class="modal-content">
      <div class="modal-body">
        <div id="refresh_div"></div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <a class="btn btn-primary" id="submitBoxInfoBtn">提交</a>
      </div>
    </div>
  </div>
</div>




