#{extends 'main_full.html' /}
#{set title:"销售财务分析"  /}
#{set 'moreStyles'}
    #{stylesheet 'payments.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'sellingrecords/index.coffee'/}
#{/set}

<div class="row-fluid">
  页面上访两个图
</div>

<div class="row-fluid">
  <div class="span12">
    <form class="search_form">
      <div class="input-prepend inline">
        <span class="add-on">From:</span>
        <input type="date" id="a_from" class="input input-small" name="p.from" value="${p.from.date()}">
      </div>

      <div class="input-prepend inline">
        <span class="add-on">TO:</span>
        <input type="date" id="a_to" name="p.to" value="${p.to.date()}">
      </div>
      <select name="p.market" class="input-small inline">
        <option value="">Market</option>
      #{list items:models.market.M.values()}
        <option value="${_.name()}">${_.toString()}</option>
      #{/list}
      </select>

      <input type="hidden" id="post_page" name="p.page" value="1">
      <input type="hidden" id="post_type" name="p.type" value="selling">
    </form>
  </div>
</div>

<ul id="divTabs" class='nav nav-tabs'>
  <li>
    <a href="#selling" data-toggle="tab">Selling</a>
  </li>
  <li>
    <a href="#sku" data-toggle="tab">SKU</a>
  </li>
</ul>
<div id="sellingSkuCategoryDivs" class="tab-content">
  <div class="tab-pane" id="selling"></div>
  <div class="tab-pane" id="sku"></div>
</div>
