#{if flash.error}
${flash.error}
#{/if}
#{elseif records == null || records.size() == 0}
没有记录
#{/elseif}
#{else }
<table class="table table-bordered table-condensed">
  <tr>
    <td class="span3">Key</td>
    <td orderby='units'>销量 <i class="icon-sort"></i></td>
    <td orderby='sales'>销售额 <i class="icon-sort"></i></td>
    <td orderby='income'>实际收入 <i class="icon-sort"></i></td>
    <td orderby='procureCost'>采购成本 <i class="icon-sort"></i></td>
    <td orderby='shipCost'>运输成本 <i class="icon-sort"></i></td>
    <td orderby='profit'>利润 <i class="icon-sort"></i></td>
    <td orderby='costProfitRatio'>成本利润率 <i class="icon-sort"></i></td>
    <td orderby='saleProfitRatio'>销售利润率 <i class="icon-sort"></i></td>
  </tr>
    #{list items:records, as: 'record'}
      <tr>
        <td class="point" style="cursor:pointer">${record.selling.sellingId}</td>
        <td>${record.units}</td>
        <td>${record.sales.format('#.####')}</td>
        <td>${record.income.format('#.####')}</td>
        <td>${record.procureCost.format('#.####')}</td>
        <td>${record.shipCost.format('#.####')}</td>
        <td>${record.profit.format('#.####')}</td>
        <td>${record.costProfitRatio.format('#.####')}</td>
        <td>${record.saleProfitRatio.format('#.####')}</td>
      </tr>
    #{/list}
  <tr class="tb_footer">
    <td colspan="9">
        #{bootstrap_pager pi:p, url:'' /}
    </td>
  </tr>
</table>
#{/else}
