#{extends 'main_full.html'/}
#{set title:'Listing'/}
#{set 'moreScripts'}
    #{script 'listings/listings.coffee'/}
#{/set}

<div class="row-fluid">
#{cache 'listings#index', for:'6h'}
    <div class="span3 well" style="min-height:700px;">
        <button class="btn btn-mini" id="reload_tree">Reload Tree</button>
        <ul id="slider" class="nav nav-list nav-collapse" style="font-size:1em;cursor:pointer;">
            <!-- Category; cursor 继承下去了 -->
            #{list items:cats, as:'cat'}
                <li>
                    <a data-toggle="collapse" data-target="#${cat.categoryId}" style="display:inline-block;padding-left:5px;">
                        <nobr>${cat}(${cat.brands.size()})</nobr>
                    </a>
                </li>
                <ul id="${cat.categoryId}" class="nav nav-list collapse"> <!-- Brand -->
                    #{list items:cat.brands, as:'bd'}
                        <li>
                            <a data-toggle="collapse" data-target="#${cat.categoryId}_${bd.name}" style="display:inline;padding-left:0;">
                                <nobr>${bd.name} ${bd.families.size() == 0 ? '(0)' :''}</nobr>
                            </a>
                        </li>
                        <ul id="${cat.categoryId}_${bd.name}" class="nav nav-list collapse"> <!-- Family -->
                            #{list items:bd.families, as:'fm'}
                                #{if fm.category == cat}
                                    <li>
                                        <a data-toggle="collapse" data-target="#${cat.categoryId}_${fm.family}" style="display:inline;padding-left:0;">
                                            <nobr>${fm.family} (${fm.products.size()})</nobr>
                                        </a>
                                    </li>
                                    <ul id="${cat.categoryId}_${fm.family}" class="nav nav-list collapse">
                                        <!-- Product -->
                                        #{list items:fm.products, as:'prod'}
                                            <li>
                                                <a level="sku" cid="${cat.categoryId}" bid="${bd.name}" fid="${fm.family}" pid="${prod.sku}" style="display:inline;padding-left:0;font-size:0.9em;">
                                                    <nobr><i class="icon-map-marker"></i>${prod.sku}</nobr>
                                                </a>
                                            </li>
                                        #{/list}
                                    </ul>
                                #{/if}
                            #{/list}
                        </ul>
                    #{/list}
                </ul>
            #{/list}
        </ul>
    </div>
#{/cache}

    <div class="span9">
        <div class="row well" style="min-height:300px;">
            <div id="l_list" style="height:30%;">
                listings
            </div>
        </div>
    </div>
</div>

