<div class="row">
    <div class="span12" style="margin-bottom:5px">
        <a href="#" id='l_sale' class="btn btn-small" rel="popover" data-content="向这个 Listing 上进行上架[<span style='color:red'>未完成</span>]" data-original-title="上架">上架</a>
        <!-- Bind Selling BTN BEGIN -->
        <a class="btn btn-small" id="l_bselling"
           rel="popover" data-content="手动绑定一个 Selling.如果这个 Selling 存在则进行绑定, 否则会抓取回 Selling 进行绑定." data-original-title="绑 Selling"
           data-toggle="modal" href="#bind_selling_modal">绑 Selling</a>

        <div id='bind_selling_modal' class="modal hide fade">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>

                <h3>手动绑定一个 Selling</h3>
            </div>
            <div class="modal-body">
                <form id="bind_selling_form" class="form-horizontal">
                    <table class="table">
                        <tr>
                            <td colspan="4" class="label-info">价格信息</td>
                        </tr>
                        <tr>
                            <td>Title:</td>
                            <td colspan="3">
                                <textarea rows="3" class="input-large uneditable-input uneditable-textarea span5" readonly name="s.title" id="s_title"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Cost:</td>
                            <td><input name="s.priceStrategy.cost" class="span10" placeHolder="输入产品所有成本(含运输)/GBP"></td>
                            <td>Margin:</td>
                            <td><input name="s.priceStrategy.margin" class="span10" placeHolder="产品的利润率"></td>
                        </tr>
                        <tr>
                            <td>Lowest:</td>
                            <td><input name="s.priceStrategy.lowest" class="span10" placeHolder="最低价格/GBP"></td>
                            <td>Max:</td>
                            <td><input name="s.priceStrategy.max" class="span10" placeHolder="最高价格/GBP"></td>
                        </tr>
                        <tr>
                            <td>ShipPrice:</td>
                            <td>
                                <input name="s.priceStrategy.shippingPrice" class="span10" value="0" placeHolder="运费/GBP">
                            </td>
                            <td>ShipPlus:</td>
                            <td>
                                <input name="s.priceStrategy.shippingPlus" class="span10" value="0" placeHolder="多于一个时增加的运费/GBP">
                            </td>
                        </tr>
                        <tr>
                            <td>Type:</td>
                            <td colspan="3">
                                <select name="s.priceStrategy.type" class="span10">
                                #{list items:models.market.PriceStrategy.T.values(), as:'t'}
                                    <option value="${t.name()}">${t}</option>
                                #{/list}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="label-info">Selling 信息</td>
                        </tr>
                        <tr>
                            <td>MSKU:</td>
                            <td><input name="s.merchantSKU" id="s_merchantsku" class="span10"></td>
                            <td>ASIN:</td>
                            <td><input name="s.asin" id="s_asin" class="span10"></td>
                        </tr>
                        <tr>
                            <td>State:</td>
                            <td>
                                <select name="s.state" class="span10">
                                #{list items:models.market.Selling.S.values(), as:'s'}
                                    <option value="${s.name()}">${s}</option>
                                #{/list}
                                </select>
                            </td>
                            <td>PS:</td>
                            <td><input name="s.ps" class="span10" value="5"></td>
                        </tr>
                        <tr>
                            <td>Market:</td>
                            <td>
                                <select name="s.market" class="span10">
                                #{list items:models.market.Account.M.values(), as:'m'}
                                    <option value="${m.name()}">${m}</option>
                                #{/list}
                                </select>
                            </td>
                            <td>Type:</td>
                            <td>
                                <select name="s.type" class="span10">
                                #{list items:models.market.Selling.T.values(), as:'t'}
                                    <option value="${t.name()}">${t}</option>
                                #{/list}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Account:</td>
                            <td colspan="3">
                            #{if accs.size() == 0}
                                <span class="span10">没有用户</span>
                            #{/if}
                            #{else }
                                <select name="s.account.uniqueName" class="span10">
                                    #{list items:accs, as:'acc'}
                                        <option value="${acc.uniqueName}">${acc.uniqueName}</option>
                                    #{/list}
                                </select>
                            #{/else}
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="l_bind_selling_btn">绑定</a>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
        <!-- Bind Selling BTN END -->
    </div>
</div>

<div class="row">
    <div class="span11">
        <blockquote>
            <h2>BasicInfo</h2>
            <table class="table table-bordered">
                <tr>
                    <td class="label">Title:</td>
                    <td colspan="5">
                        <span id="ll_title">${lst.title}</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">ListingId:</td>
                    <td>${lst.listingId}</td>
                    <td class="label">RS:</td>
                    <td><a href="#" rel="tooltip" data-original-title="Reviews 的数量">${lst.reviews}</a></td>
                    <td class="label">RT:</td>
                    <td><a href="#" rel="tooltip" data-original-title="Rating 的值">${lst.rating}</a></td>
                </tr>
                <tr>
                    <td class="label">ASIN:</td>
                    <td>${lst.asin}</td>
                    <td class="label">Market:</td>
                    <td>${lst.market}</td>
                    <td class="label">SaleRank:</td>
                    <td><a href="#" rel="tooltip" data-original-title="这个 SaleRank 仅供参考">${lst.saleRank}</a></td>
                </tr>
            </table>
        </blockquote>
    </div>
    <div class="span6 offset5">
        <img src="${lst.picUrls} " title="${lst.title}">
    </div>
    <div class="span11">
        <blockquote>
        ${lst.technicalDetails.raw()}
        </blockquote>
    </div>
    <div class="span11">
        <blockquote>
        ${lst.productDescription.raw()}
        </blockquote>
    </div>
    <div class="span11">
        <blockquote>
            <h2>ListingOffers</h2>

        #{list items:lst.offers, as:'offer'}
            <blockquote>
                <div class="container-fluid">
                    <div class="span3"><span class="label">Name:</span>${offer.name}</div>
                    <div class="span3">
                        <span class="label">OfferId:</span>${offer.offerId ? offer.offerId : "&nbsp;".raw()}</div>
                    <div class="span3"><span class="label">Price:</span>${offer.price}</div>
                    <div class="span3"><span class="label">Shipping:</span>${offer.shipprice}</div>
                    <div class="span3">
                        #{if offer.fba}
                            <span class="label label-important">FBA:</span>
                            <span style="color:green;">${offer.fba}</span>
                        #{/if}
                        #{else }
                            <span class="label">FBA:</span>
                            <span>${offer.fba}</span>
                        #{/else}
                    </div>
                    <div class="span3">
                        #{if offer.buybox}
                            <span class="label label-important">BuyBox:</span>
                            <span style="color:green">${offer.buybox}</span>
                        #{/if}
                        #{else }
                            <span class="label">BuyBox:</span>
                            <span>${offer.buybox}</span>
                        #{/else}
                    </div>
                </div>
            </blockquote>
        #{/list}
        </blockquote>
    </div>
</div>


<script type="text/javascript">
    $('.btn[rel="popover"]').popover({placement:'bottom'});
    $('a[rel="tooltip"]').tooltip();

    $('#l_recrawl').click(function(){
        alert("还未实现!" + $.HASH.val());
    });

    $('#l_sale').click(function(){
        alert('暂时还没有实现!');
        return false;
    });

    $('#bind_selling_modal').on('show', function(){
        $('#s_title').val($('#ll_title').text());
        $('#s_asin').val($.HASH.listing.split('_')[0]);
        $('#s_merchantsku').val($.HASH.listing.split('_')[0] + "," + $.HASH.sku);
    });
    $('#l_bind_selling_btn').click(function(){
        $.varClosure.params = {lid:$.HASH.listing};
        $('#bind_selling_form :input').map($.varClosure);
        $.ajax({
            url:'/listings/bindSelling',
            data:$.varClosure.params,
            dataType:'json',
            success:function(data){
                if(data['message']){
                    alert(data['key'] + ":" + data['message']);
                }else{
                    alert('绑定成功.');
                }
            },
            error:function(xhr, state, err){
                alert(err);
            }
        });
    });
</script>