#{if prod == null}
SKU 错误
#{/if}
#{elseif prod.listings.size() <= 0}
没有关联的 Listing
#{/elseif}
#{else }
<div id='list_middle'>
    <table class="l_List_table">
        <tr>
            <th>Asin</th>
            <th>M</th>
            <th>RW</th>
            <th>RT</th>
            <th>By</th>
        </tr>
        #{list items:prod.listings, as:'lst'}
            <tr class="l_List_table_item" lid="listing_${lst.listingId}" title="${lst.title}">
                <td><a target="_blank" href="${lst.link()}">${lst.asin}</a></td>
                <td>${lst.market.name()}</td>
                <td>${lst.reviews}</td>
                <td>${lst.rating}</td>
                <td>${lst.byWho}</td>
            </tr>
        #{/list}
    </table>
</div>

<script type="text/javascript">
    $('.l_List_table_item').click(function(){
        var lid = $(this).addClass('l_checked').attr('lid').substr(8); //切割掉前面的 listing_ 前缀
        $("tr[lid='listing_" + $.HASH['listing'] + "']").removeClass('l_checked');
        $.HASH['listing'] = lid;
        $.HASH['selling'] = '';
        window.location.hash = $.HASH.val();
        // listing
        $.get('/listings/l_listingDetail', {lid:lid}, function(data){
            $('#listing').html(data);
            $('.l_tabs a:eq(1)').click();
        });
        // selling
        $.get('/listings/l_selling', {lid:lid}, function(data){
            $('#l_Sell').html(data);
        });
        return false;
    });
</script>
#{/else}
