<table class="table table-bordered">
    <tr>
        <td class="label">Title:</td>
        <td colspan="9">${prod.productName}</td>
    </tr>
    <tr>
        <td class="label">SKU:</td>
        <td>${prod.sku}</td>
        <td class="label">Category:</td>
        <td>${prod.category.name}</td>
        <td class="label">Length:</td>
        <td>${prod.lengths ? prod.lengths : 0}</td>
        <td class="label">Heigh:</td>
        <td>${prod.heigh ? prod.width : 0}</td>
        <td class="label">Weight:</td>
        <td>${prod.weight ? prod.weight : 0}</td>
    </tr>
</table>
