<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#s_1" data-toggle="tab">1</a></li>
        <li><a href="#s_2" data-toggle="tab">2</a></li>
        <li><a href="#s_3" data-toggle="tab">3</a></li>
    </ul>
    <div class="tab-content" id="l_sell_info_panels">
        <div class="tab-pane active" id="s_1">
            <div class="container-fluid">
                <div class="span1 label large">Title:</div>
                <div class="span10">
                    <textarea name="s.title" rows="2" class="span12">${sell.title}</textarea>
                </div>

                <div class="span1 label large">MSKU:</div>
                <div class="span4">
                    <input type="text" name="s.merchantSKU" readonly value="${sell.merchantSKU}">
                </div>

                <div class="span1 label large">
                    <a href="#" rel="tooltip" data-original-title="Amazon 上架使用的 Moder Number 参数">MN:</a>
                </div>
                <div class="span5">
                    <input type="text" name="s.modelNumber" value="${sell.modelNumber}">
                </div>

                <div class="span1 label large">Condition:</div>
                <div class="span4">
                    <input type="text" name="s.condition_" value="${sell.condition_}">
                </div>

                <div class="span1 label large">
                    <a href="#" rel="tooltip" data-original-title="Amazon 上架使用的 Manufacturer 参数">MFer:</a>
                </div>
                <div class="span5">
                    <input type="text" name="s.manufacturer" value="${sell.manufacturer}">
                </div>

                <div class="span1 label large">State:</div>
                <div class="span4">
                    <select name="s.state" class="span8">
                    #{list items:models.market.Selling.S.values(), as:'s'}
                        <option value="${s.name()}">${s}</option>
                    #{/list}
                    </select>
                </div>

                <div class="span1 label large">
                    <a href="#" rel="tooltip" data-original-title="自己设置的每天的 PS 值">PS:</a>
                </div>
                <div class="span5">
                    <input type="text" name="s.ps" value="${sell.ps}">
                </div>

                <div class="span1 label large">
                    <a href="#" rel="tooltip" data-original-title="Amazon 上架使用的 StanderPrice 参数">SPrice:</a>
                </div>
                <div class="span4">
                    <input type="text" name="s.standerPrice" value="${sell.standerPrice}">
                </div>

                <div class="span1 label large">SalePrice:</div>
                <div class="span5">
                    <input type="text" name="s.salePrice" value="${sell.salePrice}">
                </div>

                <div class="span1 label large">StartDate:</div>
                <div class="span4">
                    <input type="date" name="s.startDate" value="${sell.startDate}">
                </div>

                <div class="span1 label large">EndDate:</div>
                <div class="span5">
                    <input type="date" name="s.endDate" value="${sell.endDate}">
                </div>

                <div class="span1 label large">
                    <a href="#" rel="tooltip" data-original-title="Recommended Browse Nodes">RBN</a>
                </div>
                <div class="span4">
                    <input type="text" name="s.RBN" value="${sell.RBN}">
                </div>

                <div class="span1 label large">LaunchDate:</div>
                <div class="span5">
                    <input type="date" name="s.launchDate" value="${sell.launchDate}">
                </div>


                <div class="span1 label large">KeyFeatures:</div>
                <div class="span4">
                    <span id='kf'></span>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="s_2">
            <div class="span1 label large">ProductDesc:</div>
            <div class="span10">
                <textarea rows="5" class="span12" name="s.productDesc">${sell.productDesc}</textarea>
            </div>

            <div class="span1 label large">
                <a href="#" rel="tooltip" data-original-title="Seller Warranty Description">Warranty:</a>
            </div>
            <div class="span10">
                <textarea rows="5" class="span12" name="s.sellerWarrantyDesc">${sell.sellerWarrantyDesc}</textarea>
            </div>

            <div class="span1 label large">
                <a href="#" rel="tooltip" data-original-title="Legal Disclaimer Description">LegalDesc:</a>
            </div>
            <div class="span10">
                <textarea rows="3" class="span12" name="s.legalDisclaimerDesc">${sell.legalDisclaimerDesc}</textarea>
            </div>
        </div>
        <div class="tab-pane" id="s_3">
            <div class="span1 label large">SearchTerms:</div>
            <div class="span4">
                <span id="st"></span>
                <!-- Dynamic -->
            </div>

            <div class="span1 label large">
                <a href="#" rel="tooltip" data-original-title="Platinum Keywrods">PKeys:</a>
            </div>
            <div class="span5">
            <span class="l_val" id='pk'>
                    <!-- Dynamic -->
            </span>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="#" id="l_sell_update_btn" class="btn">更新</a>
    <a href="#" id="l_sell_updatelocal_btn" class="btn">本地更新</a>
    <a href="#" id="l_sell_hold_btn" class="btn">暂停销售</a>
    <a href="#" id="l_sell_down_btn" class="btn">下架</a>
</div>

<script type="text/javascript">

    $('a[rel="tooltip"]').tooltip();

    var searchTerms = '${sell.searchTerms}'.split("|-|");
    var platkeys = '${sell.platinumKeywords}'.split("|-|");
    var keyFeatures = '${sell.keyFetures}'.split("|-|");
    for(var i = 0; i < 5; i++){
        $('#kf').append('<input type="text" kf="' + i + '" name="keyFetures[' + i + ']" value="' + (keyFeatures[i] ? keyFeatures[i] :'') + '">');
        $('#st').append('<input type="text" st="' + i + '" name="searchTerms[' + i + ']" value="' + (searchTerms[i] ? searchTerms[i] :'') + '">');
        $('#pk').append('<input type="text" pk="' + i + '" name="platinumKeywords[' + i + ']" value="' + (platkeys[i] ? platkeys[i] :'') + '">');
    }
    $(':input[type=date]').dateinput();


    // -- 为了进行 Tab 化
    window.location.hash = '';

    window.location.hash = $.HASH.val();

    var basicUpdate = function(){
        $.varClosure.params = {};
        $('#l_sell_info_panels :input').map($.varClosure);
        for(var i = 0; i < 5; i++){
            delete $.varClosure.params['keyFetures[' + i + ']'];
            delete $.varClosure.params['searchTerms[' + i + ']'];
            delete $.varClosure.params['platinumKeywords[' + i + ']'];
        }

        var singleParam = function(selector){
            var p = '';
            $(selector).each(function(){
                var val = $(this).val();
                if(val) p += val + '|-|';
            });
            return p;
        };

        var keyFetures = singleParam('#kf > :input');
        var searchTerms = singleParam('#st > :input');
        var platkeys = singleParam('#pk > :input');
        $.varClosure.params['s.keyFetures'] = keyFetures.substring(0, keyFetures.length - 3);
        $.varClosure.params['s.searchTerms'] = searchTerms.substring(0, searchTerms.length - 3);
        $.varClosure.params['s.platinumKeywords'] = platkeys.substring(0, platkeys.length - 3);
    };
    $('#l_sell_update_btn').click(function(){
        basicUpdate();
        $.ajax({
            url:'/listings/deploy',
            data:$.varClosure.params,
            dataType:'json',
            success:function(data){
                if(data['merchantSKU'] != undefined && data['merchantSKU'] == $.HASH.selling){
                    alert('本地更新成功.');
                }else{
                    alert("更新失败:\r\n " + JSON.stringify(data));
                }
            },
            error:function(xhr, state, err){
                alert(xhr.responseText);
            }
        });
    });

    $('#l_sell_updatelocal_btn').click(function(){
        basicUpdate();
        $.ajax({
            url:'/listings/update',
            data:$.varClosure.params,
            dataType:'json',
            success:function(data){
                alert('更新成功!');
            },
            error:function(xhr, state, err){
                alert(xhr.responseText);
            }
        })
    });
</script>