<div style="height:100%;">
    <ul class="l_sell_info_tabs l_tabs">
        <li><a href="#">&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="#">&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="#">&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;</a></li>
    </ul>
    <div class="clear"></div>
    <div class="l_sell_info_tab_div" style="height:86%;">
        <div class="l_sell_info_panels">
            <div id="l_sell_panel_1">
                <div>
                    <span class="l_label" title="MerchantSKU">Title</span>
                    <span class="l_val">
                        <textarea style="width:100%;" name="s.title" rows="3">${sell.title}</textarea>
                    </span>
                    <span class="l_label" title="MerchantSKU">MSku</span>
                    <span class="l_val"><input type="text" name="s.merchantSKU" readonly
                                               value="${sell.merchantSKU}"></span>
                    <span class="l_label" title="Model Number">ModerNO</span>
                    <span class="l_val"><input type="text" name="s.modelNumber" value="${sell.modelNumber}"></span>
                    <span class="l_label">KeyFeatures</span>
                    <span class="l_val" id='kf'>
                        <!-- Dynamic -->
                    </span>
                    <span class="l_label">Condition</span>
                    <span class="l_val_25"><input type="text" name="s.condition_" value="${sell.condition_}"></span>
                    <span class="l_label">Manufacturer</span>
                    <span class="l_val_25"><input type="text" name="s.manufacturer" value="${sell.manufacturer}"></span>
                    <span class="l_label">State</span>
                    <span class="l_val_25">
                        <select name="s.state">
                        #{list items:models.market.Selling.S.values(), as:'s'}
                            <option value="${s.name()}">${s}</option>
                        #{/list}
                        </select>
                    </span>
                    <span class="l_label" title="自己设置的每天的 PS 值">PS</span>
                    <span class="l_val_25"><input type="text" name="s.ps" value="${sell.ps}"></span>
                    <span class="l_label">StanderPrice</span>
                    <span class="l_val_25"><input type="text" name="s.standerPrice" value="${sell.standerPrice}"></span>
                    <span class="l_label">SalePrice</span>
                    <span class="l_val_25"><input type="text" name="s.salePrice" value="${sell.salePrice}"></span>
                    <span class="l_label">StartDate</span>
                    <span class="l_val_25"><input type="date" name="s.startDate" value="${sell.startDate}"></span>
                    <span class="l_label">EndDate</span>
                    <span class="l_val_25"><input type="date" name="s.endDate" value="${sell.endDate}"></span>
                    <span class="l_label" title="Recommended Browse Nodes">RBN</span>
                    <span class="l_val_25"><input type="text" name="s.RBN" class="date" value="${sell.RBN}"></span>
                    <span class="l_label">LaunchDate</span>
                    <span class="l_val_25"><input type="date" name="s.launchDate" value="${sell.launchDate}"></span>

                </div>
            </div>
            <div id="l_sell_panel_2">
                <span class="l_label" title="Product Description">ProductDesc</span>
                <span class="l_val">
                    <textarea rows="5" name="s.productDesc">${sell.productDesc}</textarea>
                </span>
                <span class="l_label" title="Seller Warranty Description">Warranty</span>
                <span class="l_val">
                    <textarea rows="5" name="s.sellerWarrantyDesc">${sell.sellerWarrantyDesc}</textarea>
                </span>
                <span class="l_label" title="Legal Disclaimer Description">LegalDesc</span>
                <span class="l_val">
                    <textarea rows="3" name="s.legalDisclaimerDesc">${sell.legalDisclaimerDesc}</textarea>
                </span>
            </div>
            <div id="l_sell_panel_3">
                <span class="l_label">SearchTerms</span>
                <span class="l_val" id='st'>
                        <!-- Dynamic -->
                </span>
                <span class="l_label" title="Platinum Keywrods">PKeys</span>
                <span class="l_val" id='pk'>
                        <!-- Dynamic -->
                </span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="l_sell_btns">
        <button id="l_sell_update_btn">更新</button>
        <button id="l_sell_updatelocal_btn">本地更新</button>
        <button id="l_sell_hold_btn" title="暂停销售">Hold</button>
        <button id="l_sell_down_btn">下架</button>
    </div>
</div>

<script type="text/javascript">
    var searchTerms = '${sell.searchTerms}'.split("|-|");
    var platkeys = '${sell.platinumKeywords}'.split("|-|");
    var keyFeatures = '${sell.keyFetures}'.split("|-|");
    for(var i = 0; i < 5; i++){
        $('#kf').append('<input type="text" kf="' + i + '" name="keyFetures[' + i + ']" value="' + (keyFeatures[i] ? keyFeatures[i] :'') + '">');
        $('#st').append('<input type="text" st="' + i + '" name="searchTerms[' + i + ']" value="' + (searchTerms[i] ? searchTerms[i] :'') + '">');
        $('#pk').append('<input type="text" pk="' + i + '" name="platinumKeywords[' + i + ']" value="' + (platkeys[i] ? platkeys[i] :'') + '">');
    }
    $(':date').dateinput();


    // -- 为了进行 Tab 化
    window.location.hash = '';
    $('.l_sell_info_tabs').tabs('.l_sell_info_panels > div');
    window.location.hash = $.HASH.val();

    var basicUpdate = function(){
        $.varClosure.params = {};
        $('.l_sell_info_panels :input').map($.varClosure);
        for(var i = 0; i < 5; i++){
            delete $.varClosure.params['keyFetures[' + i + ']'];
            delete $.varClosure.params['searchTerms[' + i + ']'];
            delete $.varClosure.params['platinumKeywords[' + i + ']'];
        }

        var singleParam = function(selector){
            var p = '';
            $(selector).each(function(){
                var val = $(this).val();
                if(val) p += val + '|-|';
            });
            return p;
        };

        var keyFetures = singleParam('#kf > :input');
        var searchTerms = singleParam('#st > :input');
        var platkeys = singleParam('#pk > :input');
        $.varClosure.params['s.keyFetures'] = keyFetures.substring(0, keyFetures.length - 3);
        $.varClosure.params['s.searchTerms'] = searchTerms.substring(0, searchTerms.length - 3);
        $.varClosure.params['s.platinumKeywords'] = platkeys.substring(0, platkeys.length - 3);
    };
    $('#l_sell_update_btn').click(function(){
        basicUpdate();
        $.ajax({
            url:'/listings/deploy',
            data:$.varClosure.params,
            dataType:'json',
            success:function(data){
                if(data['merchantSKU'] != undefined && data['merchantSKU'] == $.HASH.selling){
                    alert('本地更新成功.');
                }else{
                    alert("更新失败:\r\n " + JSON.stringify(data));
                }
            },
            error:function(xhr, state, err){
                alert(err);
            }
        });
    });

    $('#l_sell_updatelocal_btn').click(function(){
        basicUpdate();
        $.ajax({
            url:'/listings/update',
            data:$.varClosure.params,
            dataType:'json',
            success:function(data){
            },
            error:function(xhr, state, err){
                alert(err);
            }
        })
    });
</script>