<table class="table table-bordered table-condensed">
    <tr>
        <th>&nbsp;</th>
        <th>SellingId</th>
        <th>Market</th>
        <th>Type</th>
        <th>Acc</th>
    </tr>
#{list items:sells, as:'sell'}
    <tr>
        <td>
            <div class="btn-group">
                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-wrench"></i><span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">等待</a></li>
                    <li><a href="#">添加</a></li>
                    <li><a href="#">新功能</a></li>
                </ul>
            </div>
        </td>
        <td><a target="_blank" href="@{Sellings.selling(sell.sellingId)}">${sell.sellingId}</a></td>
        <td>${sell.market}</td>
        <td>${sell.type}</td>
        <td>${sell.account.prettyName()}</td>
    </tr>
#{/list}
</table>