<table class="table table-bordered table-condensed">
    <tr>
        <th>Sells</th>
        <th>ListingId</th>
        <th>Title (<a href="@{Products.show(p.sku)}" target="_blank">${p.sku}</a>)</th>
        <th>Review</th>
    </tr>
#{list items:lsts, as:'l'}
    <tr>
        <td data-toggle="toggle" data-target="#selling_${l_index}"><i class="icon-reorder"></i> ${l.sellings.size()}
        </td>
        <td><a href="@{Listings.listing(l.listingId)}" target="_blank">${l.listingId}</a></td>
        <td title="${l.title}">
            <a href="${l.asinLink()}" target="_blank">${l.title.length() <= 100 ? l.title : (l.title.subSequence(0, 100) + "...")}</a>
        </td>
        <td>${l.reviews == null ? 0 : l.reviews}
            (<span style="color:${l.rating <= 3 ? 'red;' : 'green'}">${l.rating}</span>)
        </td>
    </tr>
    <tr id="selling_${l_index}" style="display:none;">
        <td colspan="4" style="padding:0">
            <table class="table table-bordered table-condensed" style="margin:0">
                <tr>
                    <th>&nbsp;</th>
                    <th>SellingId</th>
                    <th>Market</th>
                    <th>Type</th>
                    <th>State</th>
                    <th>Acc</th>
                </tr>
                #{list items:l.sellings, as:'sell'}
                    <tr>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-wrench"></i><span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">等待</a></li>
                                    <li><a href="#">添加</a></li>
                                    <li><a href="#">新功能</a></li>
                                </ul>
                            </div>
                        </td>
                        <td><a target="_blank" href="@{Sellings.selling(sell.sellingId)}">${sell.sellingId}</a></td>
                        <td>${sell.market}</td>
                        <td>${sell.type}</td>
                        <td>${sell.state}</td>
                        <td>${sell.account.prettyName()}</td>
                    </tr>
                #{/list}
            </table>
        </td>
    </tr>
#{/list}
</table> 