#{extends 'main_full.html'/}
#{set title:'Tracked Listings'/}

#{flash_alert /}
<div class="container">
    <table class="table table-bordered table-condensed">
        <tr>
            <th>Offers</th>
            <th>ListingId</th>
            <th>Title</th>
            <th>TotalOffers</th>
            <th>上次关闭时间</th>
            <th>Warnning</th>
        </tr>
    #{list items:lsts,as:'list'}
        <tr>
            <td data-toggle="toggle" data-target="#offer_${list_index}">
                <i class="icon-reorder"></i> ${list.offers.size()}
            </td>
            <td>
                <a href="@{Listings.listing(list.listingId)}" target="_blank">${list.listingId}</a>
            </td>
            <td>
                <a href="${list.asinLink()}" target="_blank">${list.title.length() <= 100 ? list.title : (list.title.subSequence(0, 100) + "...")}</a>
            </td>
            <td>
                ${list.totalOffers}
            </td>
            <td>
                ${list.closeWarnningTime.format("yyyy-MM-dd hh:mm:ss")}
            </td>
            <td>
                <a href="@{Listings.closeWarnning(list.listingId)}" class="btn-link">关闭</a>
            </td>
        </tr>

        <tr id="offer_${list_index}" style="display:none;">
            <td colspan="5" style="padding:0">
                <table class="table table-bordered table-condensed" style="margin:0">
                    <tr>
                        <th>OfferId</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>FBA</th>
                        <th>State</th>
                    </tr>
                    #{list items:list.offers, as:'sell'}
                        <tr>
                            <td>${sell.offerId}</td>
                            <td>${sell.name}</td>
                            <td>${sell.price}</td>
                            <td>${sell.fba}</td>
                            <td>${sell.cond}</td>
                        </tr>
                    #{/list}
                </table>
            </td>
        </tr>
    #{/list}
    </table>
</div>