#{extends 'main_full.html'/}
#{set title:"物料出货单列表 (${materialPlans.size()})" /}
#{set 'moreScripts'}
    #{script 'materialPlans/index.es6'/}
#{/set}

#{flash_alert /}
#{errorMsgs /}

<!-- 搜索form begin -->
#{form @MaterialPlans.index(), class:'search_form', id:'deliverys_form'}
<div class="row-fluid">
  <div class="span12">
    <div class="input-prepend input-append inline">
      <span class="add-on">From:</span>
      <input type="date" name="p.from" value="${p.from.date()}">
      <span class="add-on">To:</span>
      <input type="date" name="p.to" value="${p.to.date()}">
    </div>


    <select name="p.cooperId" class="inline">
      <option value="">供应商</option>
        #{list items:suppliers, as:'sp'}
          <option ${sp.id == p.cooperId ? 'selected' : ''} value="${sp.id}">${sp.name}</option>
        #{/list}
    </select>

    <select name="p.planState" style="width: 150px;" class="inline">
      <option value="">状态</option>
        #{list items:models.material.MaterialPlan.P.values(), as:'t'}
          <option value="${t.name()}" ${t.name() == p.planState?.name() ? 'selected' : ''}>${t.label()}</option>
        #{/list}
    </select>

    <div class="input-prepend input-append inline">
      <span class="add-on"><i class="icon-search"></i></span>
      <input type="text" style="width:180px;" name="p.search" class="input-medium" value="${p.search}"
             placeHolder="搜索 物料编码 or 物料出货单ID">
      <input type="hidden" name="p.page" value="${p.page}">
      <button class="btn btn-primary" data-loading>搜索</button>
    </div>

    <div class="input-prepend input-append inline">
      <a href="javascript:void(0)" data-url='@{MaterialPlans.approveBatch()}' class="btn btn-warning inline"
         id="confirmMaterialPlanBtn">财务审核</a>
    </div>

  </div>
</div>
#{/form}
<!-- 搜索form end -->


<!-- 操作('发给供应商','批量发货','批量签收')form begin -->
<form method="post" id="create_deliveryment">
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-condensed table-bordered" id="data-table">
        <tr>
          <th width="20px;">
            <label class="checkbox">
              <input type="checkbox" id="${key ? tr_key + '_' : ''}checkbox_all" class="${tr_key} checkall" value="">
            </label>
          </th>
          <th>物料出货单ID</th>
          <th>出货单名称</th>
          <th>供应商</th>
          <th>状态</th>
          <th>收货类型</th>
          <th>收货方</th>
          <th>财务审核</th>
          <th width="125px;">出货时间</th>
          <th>User</th>
          <th>Create</th>
        </tr>
      #{list items:materialPlans, as:'dp'}
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" name="pids" value="${dp.id}" class="${tr_key}" id="checkbox_${dp.id}"
                     data-boxnum="" data-num="" data-lastcartonnum="" data-singleboxweight="" data-length=""
                     data-width="" data-height="" financeState="${dp.financeState}">
            </label>
          </td>
          <td>
            <a href="@{MaterialPlans.show(dp.id)}" target="_blank">${dp.id}</a>
          </td>

          <td style="cursor:pointer;" data-url="@{MaterialPlans.showMaterialPlanUnitList(dp.id)}" data-id="${dp.id}" name="clickTd">
            <span><i class="icon-reorder"></i></span>
            <span>${dp.name}</span>
            <span class="badge badge-info">${dp.units.size()}</span>
          </td>

          <td>${dp.cooperator?.name}</td>
          <td>${dp.state.label()}</td>
          <td>${dp.receipt?.label()}</td>
          <td>${dp.receiveCooperator?.name}</td>
          <td>

              #{if dp.financeState.name() == financeState.name()}
                <!-- 只有出货单状态在 已出货 并且财务未审核的情况下 才出现财务审核的按钮 -->
                <a  href="javascript:void(0)" name="approveBtn" data-url='@{MaterialPlans.approve(dp.id)}'
                    class="btn btn-small btn-warning" uid="${dp.id}">审核</a>
              #{/if}
              #{else}
              ${dp.financeState?.label()}
              #{/else}
          </td>
          <td>${dp.deliveryDate.datetime()}</td>
          <td>${dp.handler.username}</td>
          <td>#{time_tooltip time:dp.createDate/}</td>
        </tr>
      #{/list}
      </table>
    </div>
  </div>
</form>
<!-- 操作('发给供应商','批量发货','批量签收')form end -->

#{bootstrap_pager pi:p, url:'' /}


<!--  修改签收数量 弹出div begin   -->
<div id="bom_modal" class="modal hide fade">
  <div class="modal-header">
    <h4>签收数量修改</h4>
  </div>
  <div class="modal-body">
    <form action="@{MaterialPlans.updateMaterialPlanUnit()}" method="post" id="updateUnit_form">
      <input type="hidden" name="unit.id" id="unit_id">
      <table class="table table-condensed table-bordered">
        <tr>
          <th width="30%">实际签收数量</th>
          <td>
            <input type="text" placeHolder="实际签收数量" id="unit_receiptQty" name="unit.receiptQty">
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary" id="submitUpdateBtn">提交</button>
  </div>
</div>
<!--  修改签收数量 弹出div end   -->