#{extends 'main.html'/}
#{set title:'更新[' + lr.reason + ']'/}
#{set 'moreScripts'}
#{/set}

<div>
#{errorMsgs /}

#{info_row title:'为 Category ' + lr.category.name + '更新 Listing 原因'/}
    <form action="@{TicketReasons.update()}" method="post">
    #{render 'TicketReasons/_table.html', lr:lr/}
        <tr>
            <td colspan="2">
                <a href="@{Categorys.show()}/${lr.category.categoryId}" class="btn btn-success">回退</a>
                <input type="hidden" name="lr.id" value="${lr.id}">
                <button data-loading class="btn btn-primary">更新</button>
            </td>
        </tr>
    </form>
</div>