#{extends 'main_full_v3.html' /}
#{set title:'B2B销售订单信息列表' /}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
    #{script 'btbcustoms/btbOrder.coffee'/}
#{/set}

#{flash_alert /}

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <form action="@{BtbCustoms.btbOrderIndex()}" method="POST" class="form-inline" id='search_form'>
        <div class="box-header with-border">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">From:</div>
              <input style="width:100px;" class="form-control" role="date" name="p.from" value="${p.from.date()}">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">To:</div>
              <input style="width:100px;" class="form-control" role="date" name="p.to" value="${p.to.date()}">
            </div>
          </div>

          <select name="p.categoryId" class="form-control">
            <option value="">品线</option>
          #{list items:categorys, as:'c'}
            <option value="${c}" #{if c==p.categoryId} selected #{/if}>${c}</option>
          #{/list}
          </select>

          <select name="p.btbCustomId" style="width:220px;" class="form-control selectize">
            <option value="">客户/公司名称</option>
          #{list items:customList, as:'c'}
            <option value="${c.id}" #{if c.id==p.btbCustomId} selected #{/if}>${c.customName}</option>
          #{/list}
          </select>

          <div class="input-group">
            <div class="input-group-addon"><i class="icon-search"></i>关键字</div>
            <input style="width:200px;" class="form-control" name="p.keywords" placeHolder="SKU/订单号" value="${p.keywords}">
            <input type="hidden" name="p.page" value="${p.page}">
          </div>
          <input type="hidden" name="p.page" value="${p.page}">
          <button data-url='@{BtbCustoms.btbOrderIndex()}' class="btn btn-primary" data-disable-with='提交中...'>搜索</button>
          <a href="javascript:void(0)" id="download_excel" class="btn btn-info">导出excel</a>
          <a href="@{BtbCustoms.createBtbOrderPage()}" class="btn btn-success">添加订单</a>
        </div>

      </form>

      <div class="box-body">
      #{render 'BtbCustoms/_order_list.html', orderList:orderList, p:p/}
      </div>
      <div class="box-footer">
      #{bootstrap_pager_v3 pi:p, url:'' /}
      </div>

    </div>
  </div>
</div>


