#demo{
    margin-top:120px;
}

.tooltip{
    background:url(http://flowplayer.org/tools/img/tooltip/black_arrow.png);
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#fff;
}