.header{
    margin-top:10px;
}

.header div{
    height:24px;
    border:1px solid #4080ff;
    padding:0 9px;
}

ul.dropdown{
    font-size:15px;
    margin:0;
    z-index:99;
}

ul.dropdown ul{
    margin:0;
    visibility:hidden;
    z-index:99;
}

ul.dropdown, ul.dropdown ul{
    list-style-type:none;
}

ul.dropdown li{
    z-index:99;
    height:23px;
    text-align:center;
    padding-top:5px;
    margin-left:0;
    border:1px solid #ccc;
    background:url("/public/images/nav1.jpg");
}

ul.dropdown a{
    z-index:99;
    color:#8020c0;
    position:relative;
    width:100%;
    text-decoration:none;
    display:inline-block;
}

ul.dropdown li a:hover{
    z-index:99;
    background:url("/public/images/nav_hover.jpg");
    color:#608040;
}

ul.dropdown > li{
    z-index:99;
    width:24.5%;
    display:inline-block;
}

ul.dropdown a{
    z-index:99;
    position:relative;
    top:-3px;
}

/* Page */
.page{
    z-index:0;
    margin-top:10px;
    height:100%;
}

/* Footer */
.footer{
    margin-top:10px;
    background:#600020;
    text-align:center;
}

/*{{{ buttons */

button{
    border-width:1px;
    border-bottom:0.2em solid #666;
    font-size:1em;
    padding:0.3em 0.6em;
    color:#fff;
    line-height:1;
    text-shadow:0 0 0.1em #222;
    cursor:pointer;
    background-color:#5D689A;
    -moz-box-shadow:0 0.1em 0.2em rgba(0, 0, 0, 0.5);
    -moz-border-radius:10.2em;

    -webkit-box-shadow:0 0.1em 0.2em rgba(0, 0, 0, 0.5);
    -webkit-border-radius:10.2em;
}

button em{
    color:yellow;
    font-style:normal;
}

/* button.custom */
button.custom{
    background:transparent url(/public/images/form/btn/normal.png) 0 0 no-repeat;
    height:32px;
    width:99px;
    border:0;
    outline:0;
}

button.custom:hover{
    background-position:0 -34px;
}

button.custom:active{
    background-position:0 -68px;
}

button.custom span{
    position:relative;
    top:-1px;
}

button.custom.large{
    background-image:url(/public/images/form/btn/large.png);
    width:119px;
}

button.custom.low{
    background-image:url(/public/images/form/btn/low_small.png);
    width:75px;
    height:24px;
    font-size:11px;
}

button.low:hover{
    background-position:0 -26px;
}

button.low:active{
    background-position:0 -52px;
}

button.custom.low.large{
    background-image:url(/public/images/form/btn/low_large.png);
    width:115px;
}

button.custom.low.medium{
    background-image:url(/public/images/form/btn/low.png);
    width:94px;
}

button.custom.low.xlarge{
    background-image:url(/public/images/form/btn/low_xlarge.png);
    width:155px;
}

button.delete{
    background-image:url(/public/images/form/btn/delete.png);
    width:94px;
    height:24px;
}

button.delete:hover{
    background-position:0 -26px;
}

button.delete:active{
    background-position:0 -52px;
}

button.custom.low span{
    top:-2px;
}

/* 通用的弹出(添加Product,Category,Whouse)对话框 */
.add_dialog{
    z-index:999;
    background:#fff;
    display:none;
    border:2px solid #333;
    width:350px;
    height:400px;
    padding:15px;
    opacity:0.9;
    overflow:auto;

    /*圆角 + 阴影*/
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow:0 0 50px #ccc;
    -webkit-box-shadow:0 0 50px #ccc;
}

.add_dialog h2{
    border-bottom:1px solid #333;
}

/* 添加元素的表格通用的 */
.add_form{
    width:100%;
}

.add_form .label{
    padding:4px 4px 0 4px;
    text-align:right;
    font-size:12px;
}

.add_form input[type='text'],
.add_form textarea{
    border:1px solid maroon;
    margin-left:0;
    margin-right:0;
}

div.end{
    height:1px;
    border:0 none;
    border-bottom:1px solid #333;
}

.tb_footer input.page{
    text-align:left;
    border:1px dashed black;
    width:30px;
}

.tabs{
    list-style:none;
    margin:0 !important;
    padding:0;
    height:30px;
    border-bottom:1px solid #666;
}

.tabs li{
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
}

.tabs a{
    background:url(/public/images/blue.png) no-repeat -553px 0;
    font-size:11px;
    display:block;
    height:30px;
    line-height:30px;
    width:82px;
    text-align:center;
    text-decoration:none;
    color:#000;
    padding:0;
    margin:0;
    position:relative;
    top:1px;
}

.tabs a:active{
    outline:none;
}

.tabs a:hover{
    background-position:-553px -31px;
    color:#fff;
}

.tabs .current, .tabs .current:hover, .tabs li.current a{
    background-position:-553px -62px;
    cursor:default !important;
    color:#000 !important;
}

/* jquery Tool Tooltip*/
.tooltip_form{
    background-color:#000;
    border:2px solid #600020;
    padding:10px 15px;
    width:100px;
    display:none;
    color:#fff;
    text-align:center;
    font-size:12px;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;

}
