.table .active{
    background:#EEE;
}

form.cmxform label.error, label.error{
    color:red;
    font-style:italic;
}

span.highlight{
    background:#FE9532;
    font-size:1.5em;
}

.sortable{
    cursor:pointer;
    background:#F5F5F5;
}

#sku .sku, #sid .sid{
    cursor:pointer;
}

.table-condensed td.toggle_table_td{
    padding:0;
    border-top:0;
    border-right:0;
}

[data-toggle="toggle"]{
    cursor:pointer;
}

/*对 progress bar 中的数据进行一下修复. width 参数写死了 - -|| */
.progress .bar p{
    position:relative;
    width:80px;
    left:20px;
}

.alert ul{
    margin-top:10px;
}

div .alert{
    margin-bottom:5px;
}

.table input, textarea, select{
    margin-bottom:0;
}

/* Search Form */
.search_form{

}

.search_form div.inline{
    float:left;
    display:inline;
    margin-right:5px;
}

.search_form div input.date{
    width:100px;
}

.search_form div select{
    width:100px;
}

.search_form div select.inline{
    float:left;
    margin-right:5px;
}

.search_form label.checkbox{
    padding-right:5px;
}

.search_form label.checkbox.inline{
    float:left;
    margin-right:5px;
}

.search_form div input[type=text]{
    width:100px;
}

.tab-content .tab-pane{
    background-color:#ffffff;
}

/* table 的行 hover*/
.table tr:hover{
    background-color:#F4F4F4;
}

/* 使用在 table tr 控制 td 的宽度 */
.ten{
    width:10%;
}

.five{
    width:5%;
}

.twenty{
    width:20%;
}
