#footer{
    margin-top:60px;
}

.table .active{
    background:hsl(100, 96%, 96%);
}

.table tr.selected{
    background-color:hsl(100, 96%, 96%);
}

form.cmxform label.error, label.error{
    color:red;
    font-style:italic;
}

span.highlight{
    background:#FE9532;
    font-size:1.0em;
}

.sortable{
    cursor:pointer;
    background:#F5F5F5;
}

tr.striped{
    background:#F5F5F5;
}

#sku .sku, #sid .sid{
    cursor:pointer;
}

.table-condensed td.toggle_table_td{
    padding:0;
    border-top:0;
    border-right:0;
}

[data-toggle="toggle"]{
    cursor:pointer;
}

/*对 progress bar 中的数据进行一下修复. width 参数写死了 - -|| */
.progress .bar p{
    position:relative;
    width:80px;
    left:20px;
}

.alert ul{
    margin-top:10px;
}

div .alert{
    margin-bottom:5px;
}

.table input, textarea, select{
    margin-bottom:0;
}

/* Search Form */
.search_form{

}

.search_form div.inline{
    float:left;
    display:inline;
    margin-right:5px;
}

.search_form div input.date{
    width:100px;
}

.search_form div select{
    width:100px;
}

.search_form div select.inline{
    float:left;
    margin-right:5px;
}

.search_form label.checkbox{
    padding-right:5px;
}

.search_form label.checkbox.inline{
    float:left;
    margin-right:5px;
}

.search_form div input[type=text]{
    width:100px;
}

.tab-content .tab-pane{
    background-color:#ffffff;
}

/* table 的行 hover*/
.table tr:hover{
    background-color:hsl(100, 96%, 96%);
}

/* 使用在 table tr 控制 td 的宽度 */
.three{
    width:3%;
}

.five{
    width:5%;
}

.ten{
    width:10%;
}

.fifteen{
    width:15%;
}

.twenty{
    width:20%;
}

.template{
    display:none;
}

.table-checkboxk label{
    padding-left:5px;
}

#shipping_details{
    max-height:200px;
    overflow:auto;
}

/* amazon workflow */
.workflow{
    background-color:#5A7DC8;
    height:30px;
    margin-top:20px;
    margin-bottom:20px;
}

.workflow .corner_top_right{
    background:url('http://sellercentral.amazon.com/css/images/fba/wf_nav_rnd_top_right.gif') right top no-repeat;
    float:right;
    margin:-1px -1px 0 0;
    position:relative;
    width:12px;
}

.workflow ul{
    margin:0;
    padding-left:8px;
}

.workflow li{
    background:url('http://sellercentral.amazon.com/css/images/fba/wf_nav_sprite.gif') repeat-x;
    display:inline;
    float:left;
    height:30px;
    list-style-type:none;
    margin-right:-17px;
    padding:0;
}

.workflow li a:link, .workflow li a:visited, .workflow li div{
    background:url('http://sellercentral.amazon.com/css/images/fba/wf_nav_sprite.gif') no-repeat;
    color:#FFF;
    cursor:pointer;
    display:block;
    float:left;
    font-family:Helvetica, Arial, sans-serif;
    font-size:13px;
    font-weight:bold;
    height:30px;
    line-height:28px;
    margin:0;
    padding:0 25px;
    position:relative;
    text-decoration:none;
    vertical-align:middle;
    white-space:nowrap;
}

.workflow li a .wf-locked, .workflow li div .wf-locked{
    background:url('http://sellercentral.amazon.com/css/images/fba/icon_padlock.gif') 5px center no-repeat;
    height:14px;
    padding-left:13px;
}

.workflow li.enabled,
.workflow li.enabled-last{
    background-position:0 0;
    color:#FFF;
}

.workflow li.selected,
.workflow li.selected-last{
    background-position:0 -32px;
    color:#000;
}

.workflow li.disabled,
.workflow li.disabled-last{
    background-position:0 -64px;
    color:#000;
}

.workflow li.enabled a:link, .workflow li.enabled a:visited, .workflow li.enabled div{
    background-position:right -96px;
}

.workflow li.enabled-last a:link, .workflow li.enabled-last a:visited, .workflow li.enabled-last div{
    background-position:right -192px;
}

.workflow li.selected a:link, .workflow li.selected a:visited, .workflow li.selected div{
    background-position:right -128px;
    color:#000;
}

.workflow li.selected-last a:link, .workflow li.selected-last a:visited, .workflow li.selected-last div{
    background-position:right -224px;
    color:#000;
}

.workflow li.disabled a:link, .workflow li.disabled a:visited, .workflow li.disabled div{
    background-position:right -160px;
    color:#DDD;
}

.workflow li.disabled-last a:link, .workflow li.disabled-last a:visited, .workflow li.disabled-last div{
    background-position:right -256px;
    color:#DDD;
}

/* docs exapmle */
/* Base class */
.bs-docs-form{
    position:relative;
    margin:15px 0;
    padding:39px 19px 14px;
    background-color:#fff;
    border:1px solid #ddd;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

/* Echo out a label for the example */
.bs-docs-form:after{
    content:"表单";
    position:absolute;
    top:-1px;
    left:-1px;
    padding:3px 7px;
    font-size:12px;
    font-weight:bold;
    background-color:#f5f5f5;
    border:1px solid #ddd;
    color:#9da0a4;
    -webkit-border-radius:4px 0 4px 0;
    -moz-border-radius:4px 0 4px 0;
    border-radius:4px 0 4px 0;
}

/* shipment.show  */
ul li.stripe{
    border-left:3px solid #EEEEEE;
}

ul .block label{
    padding-left:10px;
    float:left;
    margin:0 10px 5px 0;
}

ul .block label abbr{
    color:#569FD3;
}

ul .block label:after{
    content:':';
}

ul .block span{
    float:right;
}

input.logged{
    background:greenyellow;
}

.records{
    max-height:200px;
    overflow-y:auto;
    margin:10px 0;
}

/* payment.show */
#boc_rate, #ex_rate{
    overflow:auto;
}


/* datatable */
.sorting { background: url('../images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }



.dataTables_paginate {
	float: right;
	text-align: right;
}

.paging_full_numbers a.paginate_button,
 	.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}
.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}
.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}
.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}
table.display tr.even.row_selected td {
	background-color: #B0BED9;
}
table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}
