.inner_form{
    margin:0;
}

#add_form{
    display:none;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
}

label.checkbox input[type=checkbox]{
    margin-right:5px;
}

#exchange div{
    max-height:150px;
    overflow-y:auto;
    margin-bottom:15px;
}
