#{extends 'main.html'/}
#{set title:'Asynchronous Jobs'/}
#{set 'moreScripts'}
    #{script 'jobs/jobs.js'/}
#{/set}

<div class="row" style="margin:10px 0">
    <div class="span12">
        <a class="btn btn-primary" data-toggle="modal" href="#add_modal" id="add_wh">添加</a>

        <div id="add_modal" class="modal hide fade">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>

                <h3>添加一个 Asynchronous Job</h3>
            </div>
            <div class="modal-body">
                <form id="job_add_form" class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label for="j_className">ClassName</label>

                            <div class="controls">
                                <input type="text" id="j_className" name="j.className">

                                <p class="help-block">Job 的类限定类名</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="j_duration">Duration</label>

                            <div class="controls">
                                <input type="text" id="j_duration" name="j.duration">

                                <p class="help-block">Job 的执行周期, 可以使用 1s, 1mn, 1h 三个单位时间</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="j_close">Close</label>

                            <div class="controls">
                                <input type="checkbox" id="j_close" name="j.close" value="">

                                <p class="help-block">Job 是否能够关闭, 如果关闭则不会执行</p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="add_job_btn">Save</a>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
    #{if jobs.size() == 0}
        无任务
    #{/if}
    #{else }
        <table class="table table-striped">
            <caption class="label label-info">Jobs</caption>
            <tr>
                <th>Id</th>
                <th>ClassName</th>
                <th>Duration</th>
                <th>LastUpdateTime</th>
                <th>Closed</th>
                <th>Func</th>
            </tr>
            #{list items:jobs, as:'job'}
                <tr class="job_itm" id='job_itm_${job.id}'>
                    <td>
                    ${job.id}
                        <input type="hidden" name="j.id" value="${job.id}">
                    </td>
                    <td><input type="text" name="j.className" value="${job.className}"></td>
                    <td><input type="text" name="j.duration" value="${job.duration}"></td>
                    <td>${job.lastUpdateTime.asdate('yyyy-MM-dd HH:mm:ss')}</td>
                    <td>
                        #{if job.close}
                            <input type="checkbox" name="j.close" checked>
                        #{/if}
                        #{else }
                            <input type="checkbox" name="j.close">
                        #{/else}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class='runOnce' href="#" jid='${job.id}' title="立即执行一次">执行</a></li>
                                <li><a class='j_update' href="#" jid='${job.id}' title="更新修改了的参数">更新</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            #{/list}
        </table>
    #{/else}
    </div>
</div>

<div class="row">
    <div class="span12">
    #{if jobReqs.size() == 0}
        没有 JobRequest
    #{/if}
    #{else }
        <table class="table table-striped">
            <caption class="label label-info">JobRequests</caption>
            <tr>
                <th>Id</th>
                <th>RequestDate</th>
                <th>RequestId</th>
                <th>ReportId</th>
                <th>State</th>
                <th>Type</th>
                <th>Path</th>
            </tr>
            #{list items:jobReqs, as:'req'}
                <tr>
                    <td>${req.id}</td>
                    <td>${req.requestDate}</td>
                    <td>${req.requestId}</td>
                    <td>${req.reportId}</td>
                    <td>${req.state}</td>
                    <td>${req.type}</td>
                    <td><a href="#" rel="tooltip" data-original-title="${req.path}">${req.path?.substring(0, 3)}...</a>
                    </td>
                </tr>
            #{/list}
        </table>
    #{/else}
    </div>
</div>
