#{extends 'main_full.html' /}
#{set title:'Category 销售分析' /}
#{set 'moreScripts'}
    #{script 'jquery.dataTables.js'/}
    #{script 'categoryinfos/categoryinfo.coffee'/}
#{/set}



<div class="row-fluid">
#{if cates.size() == 0}
  <div>
    等待添加新类别
  </div>
#{/if}
#{else }
  <div class="row-fluid">
    <div class="span3 well well-small" id="cat_slider">
      <table class="table table-bordered table-condensed">
        <tr>
          <th class="span1">CategoryId</th>
          <th>Name</th>
        </tr>
          #{list items:cates, as:'cat'}
            <tr>
              <td>
              ${cat.categoryId}
              </td>
              <td>
                <a href="@{CategoryInfos.show()}/${cat.categoryId}">${cat.name}</a>
              </td>
            </tr>
          #{/list}
      </table>
    </div>

    <div class="span8 well well-small">
        #{if dtos == null}
          <h4>正在后台计算中, 请 10 mn 后再尝试</h4>
        #{/if}
        #{else }
            #{info_row title: "SKU 列表信息"/}
          <table id="example"   class="table table-bordered table-condensed dataTable">
            <thead>
            <tr>
              <th class="span3">SKU</th>
              <th title="系统上线至今">总销量</th>
              <th>生命周期</th>
              <th title="本月销量">DAY(30)销量</th>
              <th>销售等级</th>
              <th title="单个 SKU 利润占 Category 利润比重">类别贡献比重</th>
              <th>利润率(%)</th>
              <th title="上上周六到上周五期间销售额对比同期">销售额趋势</th>
              <th title="上上周六到上周五期间销量对比同期">销量趋势</th>
            </tr>
            </thead>

            <tbody>
              #{list items:dtos, as: 'dto'}
                <tr>
                  <td>
                    <a href="@{Products.show(dto.sku)}" target="_blank">${dto.sku}</a>
                  </td>

                  <td>
                  ${dto.total}
                  </td>

                  <td>
                  ${dto.productState}
                  </td>

                  <td>
                  ${dto.day30}
                  </td>

                  <td>
                  ${dto.salesLevel}
                  </td>

                  <td>
                      #{render 'CategoryInfos/_percent.html', dto:dto, categoryProfit: categoryProfit/}
                  </td>

                  <td>
                  ${dto.profitMargins.format('#.##')}%
                  </td>

                  <td>
                      #{render 'CategoryInfos/_sales_icon.html', dto:dto/}
                  </td>

                  <td>
                      #{render 'CategoryInfos/_qty_icon.html', dto:dto/}
                  </td>
                </tr>
              #{/list}
            </tbody>
          </table>
        #{/else}

    </div>
  </div>
#{/else}
</div>
