#{extends 'main_full.html' /}
#{set title:'Category 信息' /}
#{set 'moreScripts'}
#{/set}

<div class="row-fluid">
#{if cates.size() == 0}
  <div>
    等待添加新类别
  </div>
#{/if}
#{else }
  <div class="row-fluid">
    <div class="span3 well well-small" id="cat_slider">
      <table class="table table-bordered table-condensed">
        <tr>
          <th class="span1">CategoryId</th>
          <th>Name</th>
        </tr>
          #{list items:cates, as:'cat'}
            <tr>
              <td>
              ${cat.categoryId}
              </td>
              <td>
                <a href="@{CategoryInfos.show()}/${cat.categoryId}">${cat.name}</a>
              </td>
            </tr>
          #{/list}
      </table>
    </div>

    <div class="span8 well well-small">
        #{info_row title: "SKU 列表信息"/}
      <table class="table table-bordered table-condensed">
        <tr>
          <th class="span1">SKU</th>
          <th>总销量</th>
          <th>生命周期</th>
          <th>本月DAY(30)销量</th>
          <th>销售等级</th>
          <th>类别贡献比重</th>
          <th>利润率</th>
          <th>销售额趋势</th>
          <th>销量趋势</th>
        </tr>
          #{list items:dtos, as: 'dto'}
            <tr>
              <td>${dto.sku}</td>
              <td>

              </td>
              <td>

              </td>
              <td>

              </td>
              <td>

              </td>
              <td>

              </td>
              <td>

              </td>
              <td style="color:${dto.difference.rgb()}">

              </td>
              <td style="color:${dto.difference.rgb()}">

              </td>
            </tr>
          #{/list}
      </table>
    </div>
  </div>
#{/else}
</div>
