#{extends 'main_full.html' /}
#{set title:'Category 信息' /}
#{set 'moreScripts'}
    #{script 'highstock.js'/}
    #{script 'CategoryInfos/column.coffee'/}
    #{script 'CategoryInfos/dateline.coffee'/}
#{/set}

<div class="row-fluid">
#{if cates.size() == 0}
  <div>
    等待添加新类别
  </div>
#{/if}
#{else }
  <div class="row-fluid">
    <div class="span3 well well-small" id="cat_slider">
      <table class="table table-bordered table-condensed">
        <tr>
          <th class="span1">CategoryId</th>
          <th>Name</th>
        </tr>
          #{list items:cates, as:'cat'}
            <tr>
              <td>
                ${cat.categoryId}
              </td>
              <td>
                <a href="@{CategoryInfos.show()}/${cat.categoryId}">${cat.name}</a>
              </td>
            </tr>
          #{/list}
      </table>
    </div>

    <div class="span8 well well-small">

      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#categoryInfo" data-toggle='tab'>Category 状态</a>
        </li>
        <li>
          <a href="#SKUInfo" data-toggle='tab'>SKU 列表信息</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade active in" id='categoryInfo'>
          <div class="row-fluid">
            <div class="span6" style="height:450px;" data-method="ajaxCategorySalesAmount" id='c_column'></div>
            <div class="span6" style="height:450px;" data-method="ajaxCategorySalesProfit" id='c_line'></div>
            <input type="hidden" value="${ca.categoryId}" id="cateId">
          </div>
        </div>

        <div class="tab-pane fade" id='SKUInfo'>
        </div>
      </div>
    </div>
  </div>
#{/else}
</div>
