.page > div{
    height:96%;
    overflow:auto;
}

#l_list_btns{
    height:4%;
    overflow:hidden;
    background:#F4F4F4;
    margin-bottom:5px;
}

#l_list_btns > button{
    position:relative;
    font-size:11px;
    top:25%;
    height:50%;
    text-align:center;
    margin:0 5px;
}

ul, li{
    list-style-type:none;
    margin-left:3px;
}

/* 最左侧的 Category And Product 的导航栏*/
#l_CatAndProd{
    background:#F4F4F4;
}

#cat_prod_list ul{
    display:none;
}

#cat_prod_list .sub_prod a{
    /*Category 级别*/
    color:#004B91;
}

#cat_prod_list .sub_prod a:focus{
    border:1px dashed orange;
}

#l_CatAndProd li{
    position:relative;
    width:90%;
    float:left;
}

#l_CatAndProd li a{
    color:black;
    text-decoration:none;
}

#l_CatAndProd li a:hover{
    color:#FFFFC0;
}

.sub_prod_hover{
    display:block;
}

/* ------------------- ------------------------*/
.l_List_table{
    width:100%;
    border:1px solid #004B91;
}

.l_List_table th, td{
    border-left:1px solid #004B91;
    border-bottom:1px solid #004B91;
    font-size:11px;
    text-align:center;
}

.l_List_table td{
    font-size:10px;
    padding:2px;
    text-align:center;
}

.l_List_table_item{
    cursor:pointer;
}

.l_List_table_item:hover{
    background:#E8D1A3;
}

/* ------------------------------------------------- */

#l_ListAndSell{
    background:#F4F4F4;
}

#l_ListAndSell > div{
    height:47%;
    width:100%;
    float:left;
}

#l_Details{
    background:#F4F4F4;
}

.l_list_basic{
    /*Listing详细信息*/
}

.l_list_basic > div{
    position:relative;
    width:100%;
}

.l_list_basic span{
    display:block;
    float:left;
}

.l_list_basic .l_label{
    width:5em;
    color:#004B91;
    text-align:center;
    padding:0 2px;
}

.l_list_basic .l_val{
    width:35%;
    border-bottom:1px dashed orange;
}

.l_list_img{
    padding:0 15%;
}

.l_list_html span{
    display:block;
    padding:5px;
}

.l_list_offer{
    border-left:2px solid orange;
    margin-top:.5em;
    padding-left:.7em;
}

.l_list_offer .l_label{
    text-align:left;
}

.l_list_offer .l_val{
    text-align:left;
}

.l_list_offer span{
    width:23%;
    display:block;
    float:left;
}

/* Listing 页面的 Product Tab */
.l_prod_info{
    margin-top:.6em;
    border-left:2px solid orange;
}

.l_prod_info span{
    position:relative;
    display:block;
    float:left;
}

.l_prod_info span.l_label{
    text-align:center;
    width:30%;
}

.l_prod_info span.l_val{
    width:67%;
    border-bottom:1px dashed orange;
}

.l_prod_qtys{
    margin-top:5px;
}

.l_prod_qtys ul{
    margin:0;
}

.l_prod_qtys li{
    position:relative;
    float:left;
    width:97%;
    border-left:2px solid purple;
    margin-top:5px;
}

.l_prod_qtys span{
    padding:3px 5px;
    display:block;
    float:left;
    width:22.5%;
    text-align:center;
}

.l_prod_qtys span.l_val{
    text-align:left;
}

/* Selling 列表*/
.l_sell_list{
    border-top:1px solid black;
    border-left:1px solid black;
    width:100%;
}

.l_sell_list th, .l_sell_list td{
    font-size:10px;
    text-align:center;
    border-right:1px solid black;
    border-bottom:1px solid black;
}

.l_sell_list tr{
    cursor:pointer;
}

/* 绑定 Selling DIV*/
#l_bind_selling_div span{
    float:left;
    display:block;
    margin-top:2px;
}

#l_bind_selling_div span.l_label{
    text-align:center;
    width:20%;
}

#l_bind_selling_div span.l_val{
    width:30%;
}

#l_bind_selling_div input{
    position:relative;
    width:100%;
}

.select_width{
    position:relative;
    width:100%;
}

/* --------------------------------------------------- */
.l_tabs{
    margin:0;
}

.l_tabs li{
    margin:0 5px 0 0;
    padding:0;
    background:#B1C6D8;
    position:relative;
    float:left;
}

.l_tabs li a{
    padding:5px 5px 5px 5px;
    display:block;
    position:relative;
    height:100%;
    color:black;
    text-decoration:none;
}

.l_tabs li:hover{
    background:#004B91;
}

.l_panels{
    border-top:1px solid black;
    clear:both;
}

.l_current{
    background:#004B91;
}

.l_checked{
    background:#F3E378;
}