<tr>
  <td style="font-family:STXihei" colspan="3" rowspan="4" class="td1">
  #{if country == 'DE' }
    Buyer : ${models.OperatorConfig.getVal("shipmenteuropedebuyer")} <br>
    VAT No. : DE ${models.OperatorConfig.getVal("shipmenteuropedevat")}<br>
  #{/if}
  #{elseif country == 'FR'}
    Sold to : ${models.OperatorConfig.getVal("shipmenteuropefrsold")}<br>
    Address:${models.OperatorConfig.getVal("shipmenteuropefraddress")}<br>
    VAT No. : ${models.OperatorConfig.getVal("shipmenteuropefrvat")}<br>
  #{/elseif}
  #{elseif country == 'GB'}
    Buyer : ${models.OperatorConfig.getVal("shipmenteuropeukbuyer")}<br>
    VAT No. : ${models.OperatorConfig.getVal("shipmenteuropeukvat")}<br>
  #{/elseif}
  #{elseif country == 'IT'}
    Buyer : ${models.OperatorConfig.getVal("shipmenteuropeitbuyer")}<br>
    VAT No. : ${models.OperatorConfig.getVal("shipmenteuropeitvat")}<br>
  #{/elseif}
  #{else}
    Buyer : ${models.OperatorConfig.getVal("shipmenteuropeotherbuyer")} <br>
    VAT No. : ${models.OperatorConfig.getVal("shipmenteuropeothervat")}<br>
  #{/else}
    Attn : ${models.OperatorConfig.getVal("shipmenteuropeattn")} <br>
    Tel :
  #{if country == 'DE' }
  ${models.OperatorConfig.getVal("shipmenteuropedetel")}
  #{/if}
  #{elseif country == 'FR'}
  ${models.OperatorConfig.getVal("shipmenteuropefrtel")}
  #{/elseif}
  #{elseif country == 'GB'}
  ${models.OperatorConfig.getVal("shipmenteuropeuktel")}
  #{/elseif}
  #{if country == 'IT' }
  ${models.OperatorConfig.getVal("shipmenteuropeittel")}
  #{/if}
    <br>
    Email: ${models.OperatorConfig.getVal("shipmenteuropeemail")} <br>
    Add: ${address}
  </td>
  <td>Buyer EORI NO.：</td>
#{if country == 'DE' }
  <td>${models.OperatorConfig.getVal("shipmenteuropedeeori")}</td>
#{/if}
#{elseif country == 'FR'}
  <td>${models.OperatorConfig.getVal("shipmenteuropefreori")}</td>
#{/elseif}
#{elseif country == 'IT'}
  <td>${models.OperatorConfig.getVal("shipmenteuropeiteori")}</td>
#{/elseif}
#{else}
  <td>${models.OperatorConfig.getVal("shipmenteuropeothereori")}</td>
#{/else}
</tr>


<tr>
  <td>Buyer VAT No. :</td>

#{if country == 'DE' }
  <td>DE ${models.OperatorConfig.getVal("shipmenteuropedevat")}</td>
#{/if}
#{elseif country == 'FR' }
  <td>${models.OperatorConfig.getVal("shipmenteuropefrvat")}</td>
#{/elseif}
#{elseif country == 'IT' }
  <td>${models.OperatorConfig.getVal("shipmenteuropeitvat")}</td>
#{/elseif}
#{else}
  <td>${models.OperatorConfig.getVal("shipmenteuropeothervat")}</td>
#{/else}
</tr>
<tr>
  <td>INVOICE NO.:</td>
  <td>${invoiceNo}</td>
</tr>
<tr>
  <td>Issue Date :</td>
  <td>${new java.util.Date().format('yyyy.MM.dd')}</td>
</tr>