<tr>
  <td colspan="3" rowspan="4" class="td1">

    Buyer : Edeer Network Technology CO., LTD <br>
    VAT No. : GB117317336<br>
    Attn : Yeping Xie <br>
    Tel :
  #{if country == 'DE' }
    +4915211641438
  #{/if}
  #{elseif country == 'GB'}
    00447466355519
  #{/elseif}
  #{if country == 'IT' }
    +390707040008
  #{/if}
    <br>
    Email：Jason@easyacceu.com <br>
    Add : ${address}
  </td>
  <td>Buyer EORI NO.：</td>
  <td>GB117317336000</td>
</tr>
<tr>
  <td>Buyer VAT No. :</td>
  <td>GB117317336</td>
</tr>
<tr>
  <td>INVOICE NO.:</td>
  <td></td>
</tr>
<tr>
  <td>Issue Date :</td>
  <td>${new java.util.Date().format('yyyy.MM.dd')}</td>
</tr>