<tr>
  <td style="font-family:STXihei" colspan="3" rowspan="4" class="td1">
  #{if country == 'DE' }
    Sold to : TUGGLE ELECTRONIC COMMERCE CO.,LTD <br>
    Address:Rosenstrasse 5,24768 Rendsburg,Germany<br>
    VAT No. : DE 292695920<br>
  #{/if}
  #{elseif country == 'FR'}
    Sold to : SERF Europefides SAS<br>
    Address:5.rue Denis Poisson 75017 Paris<br>
    VAT No. : FR63328387212<br>
  #{/elseif}
  #{elseif country == 'UK'}
    Sold to : Edeer Network Technology CO., LTD<br>
    Address:53A Woodgrange Road London E7 0EL United Kingdom<br>
    VAT No. : GB117317336<br>
  #{/elseif}
  #{elseif country == 'IT'}
    Sold to : ACIT S.R.L<br>
    Address: Via Scarlatti 30,20124 Milano(MI),ITALY<br>
    VAT No. : IT07289420965<br>
  #{/elseif}
  #{else}
    Buyer : Edeer Network Technology CO., LTD <br>
    VAT No. : GB117317336<br>
  #{/else}
    Attn : Yeping Xie <br>
    Tel :
  #{if country == 'DE' }
    +4915211641438
  #{/if}
  #{elseif country == 'FR'}
    +33 605717467
  #{/elseif}
  #{elseif country == 'GB'}
    00447466355519
  #{/elseif}
  #{if country == 'IT' }
    +390707040008
  #{/if}
    <br>
    Email: Jason@easyacceu.com <br>
    Ship to: ${address}
  </td>
  <td>Buyer EORI NO.：</td>
#{if country == 'DE' }
  <td>GB117317336000</td>
#{/if}
#{elseif country == 'FR'}
  <td>GB117317336000</td>
#{/elseif}
#{elseif country == 'IT'}
  <td>GB117317336000</td>
#{/elseif}
#{else}
  <td>GB117317336000</td>
#{/else}
</tr>


<tr>
  <td>Buyer VAT No. :</td>

#{if country == 'DE' }
  <td>DE 292695920</td>
#{/if}
#{elseif country == 'FR' }
  <td>FR63328387212</td>
#{/elseif}
#{else}
  <td>GB117317336</td>
#{/else}
</tr>
<tr>
  <td>INVOICE NO.:</td>
  <td>${invoiceNo}</td>
</tr>
<tr>
  <td>Issue Date :</td>
  <td>${new java.util.Date().format('yyyy.MM.dd')}</td>
</tr>