*{
1. checkbox: [true]|false; 是否拥有 checkbox 框框
2. shipmentId: [null]|<shipmentId>; 是否体现取消运输项目功能
}*
#{set useCheckbox: checkbox == null || checkbox /}
<table class="table table-condensed table-bordered">
  <tr>
  #{if useCheckbox}
    <th>
      <label class="checkbox">
        <input type="checkbox" class="checkbox_all">
      </label>
    </th>
  #{/if}
    <th>#</th>
    <th>Sku</th>
    <th>Selling</th>
    <th>Ship(Plan|Qty)</th>
    <th>Received</th>
    <th>采购单</th>
    <th>预计到库时间</th>
    <th>TurnOver</th>
    <th>供应商</th>
    <th>总重量(kg)</th>
    <th>总体积(m3)(kg)</th>
    <th>总申报价格</th>
    <th>抵达?</th>
  #{if useCheckbox}
    <th>运往仓库</th>
    <th>FBA</th>
  #{/if}
  </tr>
#{list items:items, as:'itm'}
  <tr>
      #{if useCheckbox}
        <td>
          <label class="checkbox">
            <input type="checkbox" name="shipItemId" value="${itm.id}" id="checkbox_${itm.id}">
          </label>
        </td>
      #{/if}
    <td>${itm.id}</td>
    <td><a href="@{Products.show(itm.unit.sku)}" target="_blank">${itm.unit.sku}</a></td>
    <td><a href="@{Sellings.selling(itm.unit.sid)}">${itm.unit.sid}</a></td>
    <td style="${itm.qty != itm.unit.qty() ? 'background:#F2DEDE' : ''}">
    ${itm.qty} (${itm.unit.attrs.planQty} | ${itm.unit.attrs.qty})
    </td>
    <td style="${itm.recivedQty != itm.qty ? 'background:#F2DEDE' : ''}" ${}>${itm.recivedQty}</td>
    <td>
      <a href="@{Deliveryments.show(itm.unit.deliveryment?.id)}#${itm.unit.id}">
      ${itm.unit.deliveryment?.id}
      </a>
    </td>
    <td>#{time_tooltip time:itm.unit.attrs.planArrivDate/}</td>
    <td>${itm.getTurnOverT4()._1}</td>
    <td>${itm.unit.cooperator?.name}</td>
    <td>${itm.totalWeight()} / ${itm.unit.product.weight}</td>
      #{set totalVolume:itm.totalVolume()/}
    <td>${totalVolume._2.format('#.######')} ${totalVolume._3.format('#.#')}
      / ${totalVolume._1.format('#.######')}</td>
    <td>${(itm.qty * itm.unit.product.declaredValue).formatCurrency('USD').raw()}</td>
    <td>#{yesOrNo f:itm.unit.isPlaced /}</td>

      #{if useCheckbox}
        <td>${itm.unit.whouse.name()}</td>
        <td>${itm.unit?.fba?.shipmentId}</td>
      #{/if}
  </tr>
#{/list}
#{if shipmentId}
  <tr>
    <td colspan="${useCheckbox ? 15 : 13}">
      <input type="hidden" name="id" value="${shipmentId}">
        #{power.ck "shipments.cancelship"}
          <button id="cancel_shipitem" class="btn btn-warning">取消运输</button>
        #{/power.ck}
    </td>
  </tr>
#{/if}
</table>