<form action="@{Shipments.update()}" method="post" id="shipment_form">
#{authenticityToken /}
  <table class="table table-condensed table-bordered">
    <tr>
      <th>Title (Create By ${ship.creater ? ship.creater.username : "System"})</th>
      <td colspan="3">
        <input type="text" name="ship.title" class="span10" value="${ship.title ? ship.title : ship.title()}">
      </td>
    </tr>
    <tr>
      <th>运输单号</th>
      <td>
      ${ship.id}
        <input type="hidden" id="shipmentId" name="shipid" value="${ship.id}">
      </td>
      <th>创建时间</th>
      <td>${ship.createDate.datetime()}</td>
    </tr>

    <tr>
      <th>预计运输时间</th>
      <td>
        <input type="date" name="ship.dates.planBeginDate" value="${ship.dates.planBeginDate.date()}">
      #{ifnot ship.state in [models.procure.Shipment.S.PLAN, models.procure.Shipment.S.CANCEL, models.procure.Shipment.S.CONFIRM]}
        <span class="pull-right">运输时间 #{time_tooltip time:ship.dates.beginDate/}</span>
      #{/ifnot}
      </td>
      <th>预计到库时间</th>
      <td>
        <input type="date" name="ship.dates.planArrivDate" value="${ship.dates.planArrivDate.date()}">
      #{if ship.dates.oldPlanArrivDate != null}
        <span class="add-on">比原预计到库日期${ship.dates.oldPlanArrivDate.date()}
          差异${(ship.dates.planArrivDate.getTime()-ship.dates.oldPlanArrivDate.getTime())/(24*60*60*1000)}天</span>
      #{/if}
      </td>
    </tr>

    <tr>
      <th>约定到货时间</th>
      <td>
        <input type="date" name="ship.dates.planArrivDateForCountRate" value="${ship.dates.planArrivDateForCountRate.date()}"
               rel="popover" content="用于计算准时到货率(只有在 '计划' 与 '锁定准备运输' 状态下的运输单才允许修改该字段)" placement="right">
      </td>

      <th>晚到货原因</th>
      <td>
        <input name="ship.reason" class="span8" rel="popover" placement="right" value="${ship.reason}"/>
      </td>
    </tr>

    <tr>
      <th>Track No.</th>
      <td>
        <div class="input-append">


          <table class="table table-hover table-condensed table-bordered" id="trackno_table">
          #{if ship.tracknolist==null || ship.tracknolist.size()<=0}
            <tr>
              <td class="span3">
                <input type="text" class="input-medium" name="ship.tracknolist[${0}]" value="">
              </td>
            </tr>
          #{/if}
          #{else }

              #{list items:ship.tracknolist, as:'trackno'}
                <tr>
                  <td class="span4">
                    <input type="text" class="input-medium" name="ship.tracknolist[${trackno_index - 1}]" value="${trackno}">
                      #{if ship.internationExpress && trackno}
                        <a href="${ship.internationExpress.trackUrl(trackno)}" target="_blank" class="btn btn-primary"><i class="icon-external-link"></i></a>
                      #{/if}
                  </td>
                  <td>
                    <a class="btn" name='delete_trackno_row'>删除</a>
                  </td>
                </tr>
              #{/list}
          #{/else}
          </table>
          <a class="btn" rel="popover" content="不够?再来一行" placement="right"
             id="more_trackno_btn" data-table="trackno_table">
            <i class="icon-plus"></i> More
          </a>


        </div>
      </td>
      <th>工作号</th>
      <td>
        <input type="text" name="ship.jobNumber" value="${ship.jobNumber}" id="jobNumber"/>
      </td>
    </tr>

    <tr>
      <th>国际快递商</th>
      <td>
      #{select 'ship.internationExpress', items: models.procure.Shipment.Express(), value: ship.internationExpress}
          #{option ''}选择快递商#{/option}
      #{/select}
      </td>
      <th>总质量(kg)质检</th>
      <td>${ship.totalWeightQuaTest()}</td>
    </tr>

    <tr>
      <th>运输商</th>
      <td>
      #{select 'ship.cooper.id', items: shippers, labelProperty: 'fullName',  value: ship.cooper?.id}
          #{option ''}选择运输商#{/option}
      #{/select}
      </td>
      <th>总体积(m³)质检</th>
      <td>${ship.totalVolumeQuaTest().format('#.##')}</td>
    </tr>

    <tr>
      <th>仓库</th>
      <td>
      #{select 'ship.whouse.id', items: whouses, labelProperty: 'name', value: ship.whouse?.id}
          #{option ''}选择仓库#{/option}
      #{/select}
      </td>
      <th>总箱数(件)质检</th>
      <td>${ship.totalUnitQuaTest()}</td>
    </tr>

    <tr>
      <th>运输方式</th>
      <td style="color:${ship?.type?.rgb()}">${ship?.type?.label()}</td>
      <th>总重量(kg)货代</th>
      <td>
        <input type="text" name="ship.totalWeightShipment" value="${ship.totalWeightShipment}" id="totalWeightShipment"/>
      <td>
    </tr>

    <tr>
      <th>目的地</th>
      <td>${ship.target}</td>
      <th>总体积(m³)货代</th>
      <td>
        <input type="text" name="ship.totalVolumeShipment" value="${ship.totalVolumeShipment}" id="totalVolumeShipment"/>
      </td>
    </tr>

    <tr>
      <th>始发地</th>
      <td>${ship.source}</td>
      <th>货代计费方式</th>
      <td>
        <select name="ship.shipmentTpye">
          <option value="">请选择</option>
          <option value="weight" #{if 'weight'==ship.shipmentTpye}selected='selected'#{/if}>重量</option>
          <option value="volume" #{if 'volume'==ship.shipmentTpye}selected='selected'#{/if}>体积</option>
        </select>
      </td>
    </tr>

    <tr>
      <th>运输单总重量</th>
      <td>${ship.totalWeight()} kg</td>
      <th>总托盘数(货代)</th>
      <td>
        <input type="text" name="ship.totalStockShipment" value="${ship.totalStockShipment}" id="totalStockShipment"/>
      </td>
    </tr>

    <tr>
      <td colspan="4">
        <h4>Comment</h4>
        <textarea rows="4" id="ship_memo" name="ship.memo" class="span12">${ship.memo}</textarea>
      </td>
    </tr>

    <tr>
      <td colspan="4">
      #{set isPlanAndConfirm:ship.state == models.procure.Shipment.S.PLAN || ship.state == models.procure.Shipment.S.CONFIRM || ship.state == models.procure.Shipment.S.SHIPPING|| ship.state == models.procure.Shipment.S.CLEARANCE|| ship.state == models.procure.Shipment.S.PACKAGE|| ship.state == models.procure.Shipment.S.BOOKED|| ship.state == models.procure.Shipment.S.DELIVERYING/}
      #{if isPlanAndConfirm}
        <button class="btn btn-primary">更新</button>
      #{/if}
      #{if !isPlanAndConfirm}
        <button id="ship_comment" class="btn btn-primary">部分更新</button>
      #{/if}
      </td>
    </tr>
  </table>
</form>