<table class="table table-condensed table-bordered" id="shipmentTable">
  <tr>
    <th style="width:2%"><input type="checkbox" class="checkbox_all" value="0"/></th>
    <th style="width:10% ">#</th>
    <th style="width:15%">Track No.</th>
    <th style="width:10%">运输商</th>
    <th style="width:5%">国际快递</th>
    <th style="width:5%">运输方式</th>
    <th style="width:10%">去往仓库</th>
    <th style="width:10%">状态</th>
    <th style="width:8%">预计开始时间</th>
    <th style="width:8%">创建时间</th>
    <th style="width:8%">预计到库时间</th>
    <th style="width:8%">创建者</th>
    <t>出库单ID</t>
  </tr>
#{list items:shipments, as:'ship'}
  <tr>
    <td>
      <input type="checkbox" name="shipmentId" value="${ship.id}" coop="${ship.cooper?.name}" apply="${ship.applyId}"
             way="${ship.type}">
    </td>
    <td>
      <a target="_blank" href="@{Shipments.show(ship.id)}">${ship.id}</a>
    </td>
    <td style="cursor:pointer;" name="clickTd" shipment_id="${ship.id}" memo="${ship.memo.raw()}">
      <i class="icon-reorder"></i>
        #{list items:ship.tracknolist, as:'trackno'}
        ${trackno+" "}
        #{/list}
      <span class="badge badge-info">${ship.itemsNum}</span>
    </td>
    <td>${ship.cname}</td>
    <td>${ship.iExpressName}</td>
    <td style="color:${ship.type.rgb()}">${ship.type.label()}</td>
    <td>${ship.wname}</td>
    <td style="color:${ship.state.rgb()}">${ship.state.label()}</td>
    <td>#{time_tooltip time:ship.dates.planBeginDate/}</td>
    <td>#{time_tooltip time:ship.createDate/}</td>
    <td>#{time_tooltip time:ship.dates.planArrivDate/}</td>
    <td>${ship.uname}</td>
    <td></td>
  </tr>

#{/list}
</table>