<table class="table table-condensed table-bordered" id="shipmentTable">
  <tr>
    <th style="width:15px;"><input type="checkbox" class="checkbox_all" value="0"/></th>
    <th style="width:60px;">#</th>
    <th style="width:240px;">Track No.</th>
    <th style="width:200px;">运输商</th>
    <th style="width:80px;">国际快递</th>
    <th style="width:80px;">运输方式</th>
    <th style="width:80px;">去往仓库</th>
    <th style="width:100px;">状态</th>
    <th style="width:100px;">预计开始时间</th>
    <th style="width:100px;">实际完成天数</th>
    <th style="width:120px;">创建时间</th>
    <th style="width:120px;">预计到库时间</th>
    <th style="width:70px;">创建者</th>
    <th style="width:100px;">出库单ID</th>
    <th style="width:80px;">项目名称</th>
  </tr>
#{list items:shipments, as:'ship'}
  <tr>
    <td>
      <input type="checkbox" name="shipmentId" value="${ship.id}" coop="${ship.cooper?.name}" apply="${ship.apply?.id}"
             way="${ship.type}" country="${ship.whouse?.name}" company="${ship.cooper?.name}" outId="${ship.out?.id}">
    </td>
    <td>
      <a target="_blank" href="@{Shipments.show(ship.id)}">${ship.id}</a>
    </td>
    <td style="cursor:pointer;" name="clickTd" shipment_id="${ship.id}" memo="${ship.memo.raw()}">
      <i class="icon-reorder"></i>
        #{list items:ship.tracknolist, as:'trackno'}
        ${trackno+" "}
        #{/list}
      <span class="label ${ship.items?.size()==0 ? 'label-default' : 'label label-success'}">${ship.items.size()}</span>
    </td>
    <td>${ship.cooper?.name}</td>
    <td>${ship.internationExpress}</td>
    <td style="color:${ship.type.rgb()}">${ship.type?.label()}</td>
    <td>${ship.whouse?.name}</td>
    <td style="color:${ship.state.rgb()}">${ship.state.label()}</td>
    <td>#{time_tooltip_v3 time:ship.dates?.planBeginDate/}</td>
    <td>${ship.showRealDay()}</td>
    <td>#{time_tooltip_v3 time:ship.createDate/}</td>
    <td>#{time_tooltip_v3 time:ship.dates?.planArrivDate/}</td>
    <td>${ship.creater?.username}</td>
    <td><a target="_blank" href="@{Outbounds.edit(ship.out?.id)}">${ship.out?.id}</a></td>
    <td>${ship.projectName?.name()}</td>
  </tr>
#{/list}
</table>