<table class="table table-condensed table-bordered">
    <tr>
        <th>
            <label class="checkbox">
                <input type="checkbox" class="checkbox_all">
            </label>
        </th>
        <th>#</th>
        <th>Sku</th>
        <th>Sid</th>
        <th>Qty</th>
        <th>采购单</th>
        <th>预计到库时间</th>
        <th>供应商</th>
        <th>ProductName</th>
        <th>运往仓库</th>
        <th>ProcreUnit</th>
    </tr>
#{list items:items, as:'itm'}
    <tr>
        <td>
            <label class="checkbox">
                <input type="checkbox" name="shipItemId" value="${itm.id}" id="checkbox_${itm.id}">
            </label>
        </td>
        <td>${itm.id}</td>
        <td><a href="@{Products.show(itm.unit.sku)}" target="_blank">${itm.unit.sku}</a></td>
        <td>${itm.unit.sid}</td>
        <td>${itm.qty}</td>
        <td><a href="@{Deliveryments.show()}/${itm.unit.deliveryment?.id}">${itm.unit.deliveryment?.id}</a></td>
        <td>#{time_tooltip time:itm.unit.attrs.planDeliveryDate/}</td>
        <td>${itm.unit.cooperator?.name}</td>
        <td>${itm.unit.product.productName.omis(80)}</td>
        <td>${itm.unit.whouse.name()}</td>
        <td><a href="@{Procures.index()}?p.search=id:${itm.unit.id}" target="_blank">${itm.unit.id}</a></td>
    </tr>
#{/list}
#{if shipmentId}
    <tr>
        <td colspan="11">
            <input type="hidden" name="id" value="${shipmentId}">
            <button id="cancel_shipitem" class="btn btn-warning">取消运输</button>
        </td>
    </tr>
#{/if}
</table>