<table class="table table-condensed table-bordered" id="shipmentTable">
  <tr>
    <th style="width:2%"><input type="checkbox" class="checkbox_all" value="0"/></th>
    <th style="width:3%">#</th>
    <th style="width:15%">Track No.</th>
    <th style="width:5%">运输商</th>
    <th style="width:5%">国际快递</th>
    <th style="width:5%">运输方式</th>
    <th style="width:10%">去往仓库</th>
    <th style="width:5%">目的地</th>
    <th style="width:10%">状态</th>
    <th style="width:10%">预计开始时间</th>
    <th style="width:10%">创建时间</th>
    <th style="width:10%">预计到库时间</th>
    <th style="width:10%">创建者</th>
  </tr>
#{list items:shipments, as:'ship'}
  <tr>
    <td>
      <input type="checkbox" name="shipmentId" value="${ship.id}" apply="${ship.apply}">
    </td>
    <td>
      <a target="_blank" href="@{Shipments.show(ship.id)}">${ship.id}</a>
    </td>
    <td style="cursor:pointer;" data-toggle="toggle" data-target="#ship_${ship_index}">
      <i class="icon-reorder"></i>
      #{list items:ship.tracknolist, as:'trackno'}
        ${trackno+" "}
      #{/list}
      <span class="badge badge-info">${ship.items.size()}</span>
    </td>
    <td>${ship.cooper?.name}</td>
    <td>${ship.internationExpress}</td>
    <td style="color:${ship.type.rgb()}">${ship.type.label()}</td>
    <td>${ship.whouse?.name()}</td>
    <td>${ship.target}</td>
    <td style="color:${ship.state.rgb()}">${ship.state.label()}</td>
    <td>#{time_tooltip time:ship.dates.planBeginDate/}</td>
    <td>#{time_tooltip time:ship.createDate/}</td>
    <td>#{time_tooltip time:ship.dates.planArrivDate/}</td>
    <td>${ship.creater?.username}</td>
  </tr>
  <tr id="ship_${ship_index}" style="display:none;">
    <td colspan="14">
      <div>
        <h4 class="text-info">Commemt</h4>
      ${ship.memo.raw()}
      </div>
      <hr>
      <div>
          #{render 'Shipments/_shipitem.html', items:ship.items/}
      </div>
    </td>
  </tr>
#{/list}
</table>