
#{set needCheckBoxAndWhouse:(needCheckBoxAndWhouse==null) /}
<table class="table table-condensed table-bordered">
    <tr>
        #{if needCheckBoxAndWhouse }
        <th>
            <label class="checkbox">
                <input type="checkbox" class="checkbox_all">
            </label>
        </th>
        #{/if}
        <th>#</th>
        <th>Sku</th>
        <th>Sid</th>
        <th>Ship(Plan|Qty)</th>
        <th>Received</th>
        <th>采购单</th>
        <th>预计到库时间</th>
        <th>TurnOver</th>
        <th>供应商</th>
        <th>总重量(kg)</th>
        <th>总体积(m3)(kg)</th>
        <th>总申报价格</th>
        <th>抵达?</th>
        #{if needCheckBoxAndWhouse }
        <th>运往仓库</th>
        #{/if}
        <th>ProcreUnit</th>
    </tr>
#{list items:items, as:'itm'}
    <tr>
        #{if needCheckBoxAndWhouse }
        <td>
            <label class="checkbox">
                <input type="checkbox" name="shipItemId" value="${itm.id}" id="checkbox_${itm.id}">
            </label>
        </td>
        #{/if}
        <td>${itm.id}</td>
        <td><a href="@{Products.show(itm.unit.sku)}" target="_blank">${itm.unit.sku}</a></td>
        <td>
        ${itm.unit.sid}
            #{if itm.fba}
                <span class="pull-right">${itm.fba.shipmentId}</span>
            #{/if}
        </td>
        <td style="${itm.qty != itm.unit.qty() ? 'background:#F2DEDE' : ''}">
        ${itm.qty} (${itm.unit.attrs.planQty} | ${itm.unit.attrs.qty})
        </td>
        <td style="${itm.recivedQty != itm.qty ? 'background:#F2DEDE' : ''}" ${}>${itm.recivedQty}</td>
        <td>
            <a href="@{Deliveryments.show(itm.unit.deliveryment?.id)}">${itm.unit.deliveryment?.id}</a>
        </td>
        <td>#{time_tooltip time:itm.unit.attrs.planArrivDate/}</td>
        <td>${itm.getTurnOverT4()._1}</td>
        <td>${itm.unit.cooperator?.name}</td>
        <td>${itm.totalWeight()} / ${itm.unit.product.weight}</td>
        #{set totalVolume:itm.totalVolume()/}
        <td>${totalVolume._2.format('#.######')} ${totalVolume._3.format('#.#')}
            / ${totalVolume._1.format('#.######')}</td>
        <td>${(itm.qty * itm.unit.product.declaredValue).formatCurrency('USD').raw()}</td>
        <td>#{yesOrNo f:itm.unit.isPlaced /}</td>

        #{if needCheckBoxAndWhouse } <td>${itm.unit.whouse.name()}</td>  #{/if}
        <td><a href="@{Procures.index()}?p.search=id:${itm.unit.id}" target="_blank">${itm.unit.id}</a></td>
    </tr>
#{/list}
#{if shipmentId}
    <tr>
        <td colspan="${needCheckBoxAndWhouse?15:13}">
            <input type="hidden" name="id" value="${shipmentId}">
            #{ck "shipments.cancelship"}
                <button id="cancel_shipitem" class="btn btn-warning">取消运输</button>
            #{/ck}
        </td>
    </tr>
#{/if}
</table>