<div class="box-body">
#{shipmentWorkflow state: ship.state/}
  <!-- 运输单运输进度部分 -->
  <div class="col-sm-11 offset1">
    <ul class="list-inline">
      <li class="stripe">
        <div class="block">
          <label>开始运输时间</label>
          <span>#{time_tooltip time: ship.dates.beginDate/}</span>
        </div>
        <div class="block">
          <label>预计下一阶段时间</label>
          <span>#{time_tooltip time: ship.nextStateDate()/}</span>
        </div>
        <div class="block">
          <label>预计结束时间</label>
          <span>#{time_tooltip time: ship.predictArriveDate()/}</span>
        </div>
      </li>
    #{if ship.state >= models.procure.Shipment.S.CLEARANCE}
      <li class="stripe">
        <div class="block">
          <label>平均<abbr>运输</abbr></label>
            #{set atport: ship.config("atport") /}
          <span>${atport.toInteger()} 天</span>
        </div>
        <div class="block">
          <label>实际<abbr>运输</abbr></label>
          <span>${ship.betweenDays(models.procure.Shipment.S.CLEARANCE)}</span>
        </div>
        <div class="block">
          <label>到港时间</label>
          <span>#{time_tooltip time: ship.dates.atPortDate /}</span>
        </div>
      </li>
    #{/if}

    #{if ship.state >= models.procure.Shipment.S.BOOKED}
      <li class="stripe">
        <div class="block">
          <label>平均<abbr>提货</abbr></label>
            #{set pick: ship.config("pick")/}
          <span>${pick.toInteger()} 天</span>
        </div>
        <div class="block">
          <label>实际<abbr>提货</abbr></label>
          <span>${ship.betweenDays(models.procure.Shipment.S.BOOKED)}</span>
        </div>
        <div class="block">
          <label>预约时间</label>
          <span>#{time_tooltip time: ship.dates.bookDate/}</span>
        </div>
      </li>
    #{/if}
    #{if ship.state >= models.procure.Shipment.S.DELIVERYING}
      <li class="stripe">
        <div class="block">
          <label>平均<abbr>预约</abbr></label>
            #{set book: ship.config("book")/}
          <span>${book.toInteger()} 天</span>
        </div>
        <div class="block">
          <label>实际<abbr>预约</abbr></label>
          <span>${ship.betweenDays(models.procure.Shipment.S.DELIVERYING)}</span>
        </div>
        <div class="block">
          <label>派送时间</label>
          <span>#{time_tooltip time: ship.dates.deliverDate/}</span>
        </div>
      </li>
    #{/if}
    #{if ship.state >= models.procure.Shipment.S.RECEIPTD}
      <li class="stripe">
        <div class="block">
          <label>平均<abbr>派送</abbr></label>
            #{set deliver: ship.config("deliver")/}
          <span>${deliver.toInteger()} 天</span>
        </div>
        <div class="block">
          <label>实际<abbr>派送</abbr></label>
          <span>${ship.betweenDays(models.procure.Shipment.S.RECEIPTD)}</span>
        </div>
        <div class="block">
          <label>签收时间</label>
          <span>#{time_tooltip time: ship.dates.receiptDate/}</span>
        </div>
      </li>
    #{/if}
    #{if ship.state >= models.procure.Shipment.S.RECEIVING}
      <li class="stripe">
        <div class="block">
          <label>平均<abbr>签收</abbr></label>
            #{set receipt: ship.config("receipt") /}
          <span>${receipt.toInteger()} 天</span>
        </div>
        <div class="block">
          <label>实际<abbr>签收</abbr></label>
          <span>${ship.betweenDays(models.procure.Shipment.S.RECEIVING)}</span>
        </div>
        <div class="block">
          <label>入库时间</label>
          <span>#{time_tooltip time: ship.dates.inbondDate/}</span>
        </div>
      </li>
    #{/if}
    #{if ship.state >= models.procure.Shipment.S.DONE}
      <li class="stripe">
        <div class="block">
          <label>平均<abbr>入库</abbr></label>
            #{set inbound: ship.config("inbound") /}
          <span>${inbound.toInteger()} 天</span>
        </div>
        <div class="block">
          <label>实际<abbr>入库</abbr></label>
          <span>${ship.betweenDays(models.procure.Shipment.S.DONE)}</span>
        </div>
        <div class="block">
          <label>完成时间</label>
          <span>#{time_tooltip time: ship.dates.arriveDate/}</span>
        </div>
      </li>
      <li class="stripe">
        <div class="block">
          <label>平均<abbr>总运输</abbr></label>
          <span>
                ${atport.toInteger() + pick.toInteger() + book.toInteger() + deliver.toInteger() + receipt.toInteger() + inbound.toInteger()}
                </span>
        </div>
        <div class="block">
          <label>实际<abbr>总运输</abbr></label>
            #{if ship.dates.beginDate}
              <span>${ship.dates.arriveDate - ship.dates.beginDate} 天</span>
            #{/if}
        </div>
      </li>
    #{/if}
    </ul>
  </div>
</div>
<div class="box-footer" id="btnFucs">
#{if ship.apply}
  <a href="@{Applys.transport(ship.apply.id)}" class="btn btn-success">${ship.apply.serialNumber}</a>
#{/if}
#{if ship.state == models.procure.Shipment.S.PLAN}
  <a href="@{Shipments.confirm(ship.id, false)}" data-confirm="确认操作?" data-method="POST"
     class="btn  btn-warning" data-disable-with="确认中...">
    确认运输单
  </a>
#{/if}
#{if ship.state == models.procure.Shipment.S.CONFIRM}
  <a href="@{Shipments.confirm(ship.id, true)}" data-confirm="确认操作?" data-method="POST"
     class="btn btn-warning" data-disable-with="确认中...">
    取消确认运输单
  </a>
#{/if}
#{power.ck "shipments.beginship"}
    #{if ship.state == models.procure.Shipment.S.CONFIRM}
      <button class="btn btn-success func" url="@{Shipments.beginShip(ship.id)}">
        开始运输
      </button>
    #{/if}
#{/power.ck}
#{power.ck "shipments.revertstate"}
  <a class="btn btn-warning" href="@{Shipments.revertState(ship.id)}" data-method='DELETE'
     data-confirm='确认操作?' data-disable-with='返回中...'>
    回到前一个状态
  </a>
#{/power.ck}
#{power.ck "shipments.handleprocess"}
    #{if ship.state == models.procure.Shipment.S.SHIPPING}
      <button class="btn btn-success func" url="@{Shipments.landPort(ship.id)}">
        运输到港
      </button>
    #{/if}

    #{if ship.state == models.procure.Shipment.S.CLEARANCE}
      <button class="btn btn-success func" url="@{Shipments.pickGoods(ship.id)}">
        开始提货
      </button>
    #{/if}

    #{if ship.state == models.procure.Shipment.S.BOOKED}
      <button class="btn btn-success func" url="@{Shipments.deliverying(ship.id)}">
        派送
      </button>
    #{/if}
    #{if ship.state == models.procure.Shipment.S.DELIVERYING}
      <button class="btn btn-success func" url="@{Shipments.receipt(ship.id)}">
        签收
      </button>
    #{/if}
    #{if ship.state == models.procure.Shipment.S.RECEIPTD}
      <button class="btn btn-success func" url="@{Shipments.inbounding(ship.id)}">
        开始入库
      </button>
    #{/if}
#{/power.ck }
#{if ship.state == models.procure.Shipment.S.RECEIVING}
  <button class="btn btn-success func" url="@{Shipments.endShip(ship.id)}">
    完成运输
  </button>
#{/if}
  <a href="#logForm" class="btn btn-default" data-toggle='modal'>记录事件</a>

#{power.ck 'shipments.cancel'}
    #{if ship.state == models.procure.Shipment.S.PLAN}
      <a href="@{Shipments.cancel(ship.id)}" class="btn btn-danger" data-confirm="确认取消运输?"
         data-method="DELETE" data-disable-with="取消中...">
        取消运输单
      </a>
    #{/if}
#{/power.ck}

#{if !(ship.state in [models.procure.Shipment.S.CANCEL ,models.procure.Shipment.S.PLAN ])}
  <a href="@{Shipments.invoice(ship.id)}" class="btn btn-success" target="_blank">
    运输单发票 <i class="icon-download-alt"></i>
  </a>
  <a href="@{Excels.declare(ship.id)}" class="btn btn-success" target="_blank">
    报关要素下载 <i class="icon-download-alt"></i>
  </a>
  <a href="@{Shipments.arns(ship.id)}" class="btn btn-success" target="_blank">
    AmazonReferenceID 下载 <i class="icon-download-alt"></i>
  </a>
#{/if}
</div>

<!-- 隐藏 Model -->
<div class="modal fade" id="funcsForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="#" method="POST" class="form-horizontal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">设置时间</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="inputEmail">日期:</label>
            <div class="col-sm-4">
              <input role="date" name="date" class="form-control">
            </div>
          </div>

          <!-- 权限控制判断是否显示 "同步亚马逊" 按钮-->
        #{power.ck "shipment.syncdatabase"}
          <div class="form-group">
            <label class="col-sm-4 control-label" for="inputEmail"></label>
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="sync"> 是否只同步数据库
                </label>
              </div>
            </div>
          </div>
        #{/power.ck}
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
          <button href="#" class="btn btn-primary" data-disable-with="更新中..." data-confirm="确认操作?">
            <span id="action">Save Changes</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>