<table class="table table-condensed table-bordered" id="shipmentTable">
  <tr>
    <th>出库Id</th>
    <th>状态</th>
    <th>SKU</th>
    <th>selling</th>
    <th>产品名称</th>
    <th>最新采购价</th>
    <th>报关类型</th>
    <th>去往仓库</th>
    <th>FBA</th>
    <th>CenterId</th>
    <th>Qty(计划/实际)</th>
    <th>Receive</th>
    <th>Qty1</th>
    <th>预计运输时间</th>
    <th>预计到库时间</th>
    <th>箱数</th>
    <th>总重量</th>
    <th>总体积</th>
    <th>运营对接人</th>
    <th>仓库对接人</th>
    <th>丢失量/赔偿金额</th>
  </tr>
#{list items:items, as:'item'}
    #{if item.plan}
    #{set plan: item.plan/}
      <tr>
        <td>
          <a target="_blank" href="@{ShipPlans.show(plan.id)}">${plan.id}</a>
        </td>
        <td>${plan.state.label()}</td>
        <td><a href="@{Products.show(plan.product?.sku)}" target="_blank">${plan.product?.sku}</a></td>
        <td><a href="@{Sellings.selling(plan.selling?.sellingId)}" target="_blank">${plan.selling?.sellingId}</a></td>
        <td>${plan.product?.abbreviation}</td>
        <td></td>
        <td>${plan.out?.clearanceType?.label()}</td>
        <td>${plan.whouse.name}</td>

        <td>${plan.fba?.shipmentId}</td>
        <td>${plan.fba?.centerId}</td>
        <td>${plan.planQty}/${plan.qty}</td>
        <td></td>
        <td></td>
        <td>#{time_tooltip time:plan.planShipDate/}</td>
        <td>#{time_tooltip time:plan.planArrivDate/}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    #{/if}
    #{else }
      <tr>


      </tr>
    #{/else}
#{/list}
</table>