#{set useCheckbox: checkbox == null || checkbox /}
<table class="table table-condensed table-bordered" id="shipmentTable">
  <tr>
  #{if useCheckbox}
    <th>
      <label class="checkbox">
        <input type="checkbox" class="checkbox_all"/>
      </label>
    </th>
  #{/if}
    <th>出库计划</th>
    <th>状态</th>
    <th>SKU</th>
    <th style="width:120px;">selling</th>
    <th>产品名称</th>
    <th>最新采购价</th>
    <th>报关类型</th>
    <th>供应商</th>
    <th>去往仓库</th>
    <th>FBA</th>
    <th>CenterId</th>
    <th>Qty(计划/实际)</th>
    <th>Receive</th>
    <th>Qty1</th>
    <th>预计运输时间</th>
    <th>预计到库时间</th>
    <th>箱数</th>
    <th>总重量(预估)</th>
    <th>总重量</th>
    <th>总体积</th>
    <th>运营对接人</th>
    <th>仓库对接人</th>
    <th>丢失量/赔偿金额</th>
  #{power.ck 'paymentunits.postfromtransport'}
      #{if isExpress}
        <th>记录运费</th>
      #{/if}
  #{/power.ck}
  </tr>
#{list items:items, as:'item'}
    #{if item.plan}
        #{set plan: item.plan/}
        #{set out: plan.outboundRecord()/}
      <tr id="${item.id}" data-received-url='@{ShipItems.received(item.id)}'
          data-lossqty='${item.lossqty}' data-compenamt='${item.compenamt}'
          data-currency='${item.currency?.name()}' data-compentype='${item.compentype}'>
          #{if useCheckbox}
            <td>
              <label class="checkbox">
                <input type="checkbox" name="shipItemId" value="${item.id}" id="checkbox_${item.id}">
              </label>
            </td>
          #{/if}
        <td>
          <i class="icon-reorder" name="click_plan" planId="${plan.id}" style="cursor:pointer;" title="详情"></i>
          <a target="_blank" href="@{ShipPlans.show(plan.id)}">${plan.id}</a>
        </td>
        <td>${plan.state.label()}</td>
        <td><a href="@{Products.show(plan.product?.sku)}" target="_blank">${plan.product?.sku}</a></td>
        <td><a href="@{Sellings.selling(plan.selling?.sellingId)}" target="_blank">${plan.selling?.sellingId}</a></td>
        <td>${plan.product?.abbreviation}</td>
        <td>
            #{if plan.unit}${plan.unit.attrs.price}#{/if}
            #{else}${item.showSkuPrice()}#{/else}
        </td>
        <td>${out?.clearanceType?.label()}</td>
        <td>${plan.unit?.cooperator?.name}</td>
        <td>${plan.whouse.name}</td>
        <td>${plan.fba?.shipmentId}</td>
        <td>${plan.fba?.centerId}</td>
        <td>${plan.planQty}/${plan.qty}</td>
        <td>${item.recivedQty}</td>
        <td>${item.adjustQty}</td>
        <td>#{time_tooltip time:plan.planShipDate/}</td>
        <td>#{time_tooltip time:plan.planArrivDate/}</td>
        <td>${plan.totalBoxNum()}</td>
        <td>${item.estimateWeight()}</td>
        <td>${plan.totalWeight()}</td>
        <td>${plan.totalVolume()}</td>
        <td>${plan.creator?.username}</td>
        <td>${item.showName()}</td>
        <td>${item.lossqty}/${item.compenamt}${item.currency?.name()}</td>
          #{power.ck 'paymentunits.postfromtransport'}
              #{if isExpress}
                <td>
                  <a class="btn btn-mini" data-url='@{PaymentUnits.fromShipItem(item.id)}'>L</a>
                </td>
              #{/if}
          #{/power.ck}
      </tr>
      <tr style="display:none;" id="plan_${plan.id}">
        <td colspan="23" style="background-color:#9FAFD1;">
          <table class="table table-condensed table-bordered" style="width:800px;">
            <tr>
              <th rowspan="2">总重量kg</th>
              <th rowspan="2">总体积m³</th>
              <th colspan="6" style="text-align:center">主箱</th>
              <th colspan="6" style="text-align:center">尾箱</th>
            </tr>
            <tr>
              <th>箱数</th>
              <th>数量</th>
              <th>重量(kg)</th>
              <th>长(cm)</th>
              <th>宽(cm)</th>
              <th>高(cm)</th>
              <th>箱数</th>
              <th>数量</th>
              <th>重量(kg)</th>
              <th>长(cm)</th>
              <th>宽(cm)</th>
              <th>高(cm)</th>
            </tr>
            <tr>
              <td>${plan.totalWeight()}</td>
              <td>${plan.totalVolume()}</td>
              <td>${out?.mainBox?.boxNum}</td>
              <td>${out?.mainBox?.num}</td>
              <td>${out?.mainBox?.singleBoxWeight}</td>
              <td>${out?.mainBox?.length}</td>
              <td>${out?.mainBox?.width}</td>
              <td>${out?.mainBox?.height}</td>
              <td>${out?.lastBox?.boxNum}</td>
              <td>${out?.lastBox?.num}</td>
              <td>${out?.lastBox?.singleBoxWeight}</td>
              <td>${out?.lastBox?.length}</td>
              <td>${out?.lastBox?.width}</td>
              <td>${out?.lastBox?.height}</td>
            </tr>
          </table>
        </td>
      </tr>
    #{/if}
    #{else}
      <tr id="${item.id}" data-received-url='@{ShipItems.received(item.id)}'
          data-lossqty='${item.lossqty}' data-compenamt='${item.compenamt}'
          data-currency='${item.currency?.name()}' data-compentype='${item.compentype}'>
          #{if useCheckbox}
            <td>
              <label class="checkbox">
                <input type="checkbox" name="shipItemId" value="${item.id}" id="checkbox_${item.id}">
              </label>
            </td>
          #{/if}
        <td>
          <a target="_blank" href="@{Deliveryments.show(item.unit.deliveryment?.id)}#${item.unit.id}">${item.unit.id}</a>
        </td>
        <td>${item.unit?.isOut?.label()}</td>
        <td>
            #{if item.unit?.product}
              <a href="@{Products.show(item.unit.product.sku)}" target="_blank">${item.unit.product.sku}</a>
            #{/if}
        </td>
        <td>${item.unit?.sid}</td>
        <td>${item.unit?.product?.abbreviation}</td>
        <td>${item.unit?.attrs?.price}</td>
        <td></td>
        <td>${item.unit?.cooperator?.name}</td>
        <td>${item.unit?.whouse?.name()}</td>
        <td><a href="${item.unit?.fba?.fbaLink()}" target="_blank">${item.unit?.fba?.shipmentId}</a></td>
        <td>${item.unit?.fba?.centerId}</td>
        <td>
        ${item.qty - item.unit.returnPurchaseSample() - item.unit.fetchCheckTaskQcSample()}
          (${item.unit?.attrs?.planQty} | ${item.unit?.attrs?.qty})
        </td>
        <td style="#{if item.recivedQty != item.qty || item.changeFromZero()}background:#F2DEDE#{/if}"
            name='recivedQty' placement='right' rel='popover'>${item.recivedQty}
        </td>
        <td style="${item.adjustQty != item.qty ? 'background:#F2DEDE' : ''}" name="adjustQty"
            content='#{records_ul records: item.recivedLogs()/}'>${item.adjustQty}<i class="icon-wrench"></i>
        </td>
        <td style="background:${item.overdue()}">#{time_tooltip time: item.unit?.attrs?.planShipDate/}</td>
        <td>#{time_tooltip time: item.unit?.attrs?.planArrivDate/}</td>
        <td>${item.boxNumber()}</td>
        <td>${item.estimateWeight()}</td>
        <td>${item.weight()}</td>
        <td>${item.volume()}</td>
        <td></td>
        <td></td>
        <td>${item.lossqty}/${item.compenamt}${item.currency?.name()}</td>
          #{power.ck 'paymentunits.postfromtransport'}
              #{if isExpress}
                <td>
                  <a class="btn btn-mini" data-url='@{PaymentUnits.fromShipItem(item.id)}'>L</a>
                </td>
              #{/if}
          #{/power.ck}
      </tr>
    #{/else}
#{/list}
</table>