<tr>
  <td style="font-family:STXihei" colspan="3" rowspan="3" class="td1">
    Buyer : ${models.OperatorConfig.getVal("shipmentusbuyer")}<br>
    Attn : ${models.OperatorConfig.getVal("shipmenteuropeattn")} <br>
    Tel : ${models.OperatorConfig.getVal("shipmentustel")} <br>
    Email：${models.OperatorConfig.getVal("shipmenteuropeemail")} <br>
    Add :${address}
  </td>
  <td>Buyer TAX ID.：</td>
  <td>${models.OperatorConfig.getVal("shipmentustaxid")}</td>
</tr>
<tr>
  <td>INVOICE NO.:</td>
  <td>${invoiceNo}</td>
</tr>
<tr>
  <td>Issue Date :</td>
  <td>${new java.util.Date().format('yyyy.MM.dd')}</td>
</tr>