#{extends 'main_full.html' /}
#{set title:'运输单列表 (' + shipments.size() + ')' /}
#{set 'moreScripts'}
#{/set}

#{info_row}
<ul>
    <li>带有 <i style="color:#dc143c;" class="icon-warning-sign"></i> 符号表示此运输单没有创建者,没有确认负责人,需要进行确认</li>
    <li>带有 <i style="color:#C09853;" class="icon-star"></i> 符号表示此运输单为周期型的运输单</li>
    <li>带有 <i style="color:#FFA601;" class="icon-amazon"></i> 符号表示此运输单已经拥有 FBA Shipment</li>
    <li><span class="text-warning">特殊搜索 1:</span> 直接输入 id 可直接访问对应 id 的运输单 (其他搜索条件会被忽略)</li>
    <li><span class="text-warning">特殊搜索 2:</span> 输入 +N 可以搜索运输项目 >N 的运输单(包含其他搜索条件)</li>
    #{li_net /}
</ul>
#{/info_row}

<form action="@{Shipments.index()}" method="post">
    <div class="row">
        <div class="span5 input-prepend">
            <span class="add-on">From:</span>
            <input type="date" style="width:90px;" name="p.from" value="${p.from.date()}">
            <span class="add-on" style="margin-left:20px;">To:</span>
            <input type="date" style="width:90px;" name="p.to" value="${p.to.date()}">
            <select name="p.dateType" style="width:130px;margin-left:20px;">
            #{list items:dateTypes, as:'t'}
                <option ${t._1 == p.dateType ? 'selected' : ''} value="${t._1}">${t._2}</option>
            #{/list}
            </select>
        </div>

        <div class="span3 input-append input-prepend">
            <span class="add-on"><i class="icon-search"></i></span>
            <input type="text" name="p.search" style="width:170px;" value="${p.search}" placeHolder="自动识别 ID 搜索">
            <button class="btn btn-primary" data-loading>搜索</button>
        </div>
        <div class="span2">
            <a href="@{Shipments.blank()}" class="btn btn-primary">创建新运输单</a>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <select name="p.pype" style="width:90px">
                <option value="">计价方式</option>
            #{list items:models.procure.Shipment.P.values(), as:'pype'}
                <option ${pype == p.pype ? 'selected' : ''} value="${pype.name()}">${pype}</option>
            #{/list}
            </select>

            <select name="p.type" style="width:90px;margin-left:2px;">
                <option value="">运输方式</option>
            #{list items:models.procure.Shipment.T.values(), as:'t'}
                <option ${t == p.type ? 'selected' : ''} value="${t.name()}">${t}</option>
            #{/list}
            </select>

            <select name="p.state" style="width:90px;margin-left:2px;">
                <option ${state == p.state ? 'selected' : ''} value="NOCANCEL">非 Cancel</option>
                <option value="">状态</option>
            #{list items:models.procure.Shipment.S.values(), as:'state'}
                <option ${state == p.state ? 'selected' : ''} value="${state.name()}">${state}</option>
            #{/list}
            </select>

            <select name="p.iExpress" style="width:98px;margin-left:2px;">
                <option value="">国际快递商</option>
            #{list items:models.procure.Shipment.Express(), as:'express'}
                <option ${express == p.iExpress ? 'selected' : ''} value="${express.name()}">${express}</option>
            #{/list}
            </select>

            <select name="p.whouseId" style="width:98px;margin-left:2px;">
                <option value="">运往仓库</option>
            #{list items:whouses, as:'wh'}
                <option ${wh.id == p.whouseId ? 'selected' : ''} value="${wh.id}">${wh.name()}</option>
            #{/list}
            </select>

            <select name="p.isCycle" style="width:80px;margin-left:2px;">
                <option value="">全型</option>
                <option ${p.isCycle == true ? 'selected' : ''} value="true">周期型</option>
                <option ${p.isCycle == false ? 'selected' : ''} value="false">非周期型</option>
            </select>

            <select name="p.isHaveFBA" style="width:80px;margin-left:2px;">
                <option value="">有FBA?</option>
                <option ${p.isHaveFBA == true ? 'selected' : ''} value="true">拥有</option>
                <option ${p.isHaveFBA == false ? 'selected' : ''} value="false">未创建</option>
            </select>
        </div>
    </div>
</form>

<div class="row-fluid">
    <div class="span12">
    #{render 'Shipments/_shipment_list.html', shipments:shipments/}
    </div>
</div>
