#{extends 'main.html' /}
#{set title:'Shipments' /}
#{set 'moreScripts'}
    #{script 'shipments/index.coffee'/}
#{/set}

<div style="margin:10px;">
    <a href="@{Shipments.blank()}" target="_blank" class="btn btn-small btn-primary">创建新运输单</a>
</div>

<div>
    <ul id="shipments_tab" class="nav nav-tabs">
        <li class="active"><a href="#pending" data-toggle="tab">PLAN</a></li>
        <li><a href="#shipping" data-toggle="tab">SHIPPING</a></li>
        <li><a href="#clearing" data-toggle="tab">CLEARING</a></li>
        <li><a href="#done" data-toggle="tab">DONE</a></li>
    </ul>

    <div id="shipments_content" class="tab-content" style="height:300px;overflow:auto;">
        <div class="tab-pane fade in active" id="pending">
        #{shipment_planTabl item:pendings/}
        </div>
        <div class="tab-pane fade" id="shipping">
        #{shipment_shippingTab item:shippings/}
        </div>
        <div class="tab-pane fade" id="clearing">
        #{shipment_shippingTab item:clear /}
        </div>
        <div class="tab-pane fade" id="done">
        #{shipment_doneTabl item:dones/}
        </div>
    </div>
</div>

<hr/>

<div id="shipment_detail">
</div>