#{extends 'main_full_v3.html' /}
#{set title:'运输单列表 (' + shipments.size() + ')' /}
#{set 'moreStyles'}
    #{stylesheet 'bootstrap-multiselect.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'bootstrap-multiselect.js'/}
    #{script 'shipments/index.js'/}
#{/set}

#{flash_alert /}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <form action="@{Shipments.index()}" method="POST" class="form-inline" id='search_form'>
        <div class="box-header with-border">
          <div class="row-fluid">
            <button class="btn btn-default" id="today"><i class="icon-search"></i> Today</button>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">From:</div>
                <input style="width:100px;" class="form-control" role="date" name="p.from" value="${p.from.date()}">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">To:</div>
                <input style="width:100px;" class="form-control" role="date" name="p.to" value="${p.to.date()}">
              </div>
            </div>

            <select name="p.dateType" style="width: 120px;" class="form-control">
            #{list items:dateTypes, as:'t'}
              <option value="${t._1}" ${t._1 == p.dateType ? 'selected' : ''}>${t._2}</option>
            #{/list}
            </select>

            <select name="p.type" class="form-control">
              <option value="">运输方式</option>
            #{list items:models.procure.Shipment.T.values(), as:'t'}
              <option value="${t.name()}" ${t == p.type ? 'selected' : ''}>${t.label()}</option>
            #{/list}
            </select>

            <select name="p.iExpress" style="width: 100px;" class="form-control">
              <option value="">国际快递商</option>
            #{list items:models.procure.Shipment.express(), as:'express'}
              <option ${express == p.iExpress ? 'selected' : ''} value="${express.name()}">${express}</option>
            #{/list}
            </select>

            <select name="p.whouseIds" style="width:120px;" id="whouse_id" multiple="multiple" class="form-control">
            #{list items:whouses, as:'wh'}
              <option ${p.whouseIds.contains(wh.id) ? 'selected' : ''} value="${wh.id}">${wh.name}</option>
            #{/list}
            </select>

            <select name="p.cooperId" style="width: 120px;" class="form-control">
              <option value="">运输商</option>
            #{list items:cooperators, as:'cooper'}
              <option ${p.cooperId == cooper.id ? 'selected' : ''} value="${cooper.id}">${cooper.name}</option>
            #{/list}
            </select>


            <select name="p.states" id="states" multiple="multiple" style="width:150px;" class="form-control">
            #{list items:models.procure.Shipment.S.values(), as:'state'}
              <option value="${state.name()}" ${p.states.contains(state) ? 'selected' : ''}>${state.label()}</option>
            #{/list}
            </select>

            <div class="input-group">
              <div class="input-group-addon"><i class="icon-search"></i></div>
              <input style="width:200px;" class="form-control" name="p.search" placeholder="sellingId or SKU" value="${p.search}">
              <input type="hidden" name="p.page" value="${p.page}">
            </div>

            <button data-url='@{Shipments.index()}' class="btn btn-primary" data-loading='提交中...'>搜索</button>
            <a href="@{Shipments.blank()}" class="btn btn-warning" data-loading>创建新运输单</a>
          </div>
        </div>

        <div class="box-body">
        #{render 'Shipments/_shipment_list.html', shipments:shipments/}
        </div>
        <div class="box-footer">
        #{power.ck 'applys.shipmenttoapply'}
          <button id="createApplyBtn" class="btn btn-default" data-url='@{Applys.shipmentToApply()}'
                  data-disable-with='创建请款单中...'><b>创建运输请款单</b>
          </button>
        #{/power.ck}
        #{power.ck 'outbounds.index'}
          <a href="javascript:void(0)" data-url="@{Shipments.outbound()}" class="btn btn-default" id="outboundBtn">
            <b>创建出库单</b>
          </a>
        #{/power.ck}
          <a href="javascript:void(0)" data-url="@{Excels.shipmentDetails()}" id="download_excel" class="btn btn-success">
            <i class="icon-download-alt"></i> 运输单发货明细excel</a>
          <a href="javascript:void(0)" data-url="@{Excels.shipmentDetailCost()}" target="_blank" id="exportBtn" class="btn btn-success">
            <i class="icon-download-alt"></i> 物流费用报表</a>
          <a href="javascript:void(0)" data-url="@{Excels.packingList()}" target="_blank" id="packingBtn" class="btn btn-primary">
            <i class="icon-download-alt"></i> 装箱单</a>
        #{power.ck 'shipments.deliveryment'}
          <a href="javascript:void(0)" data-url="@{Excels.exportDeliverymentByShipment()}" target="_blank"
             id="deliverymentBtn" class="btn btn-warning">
            <i class="icon-download-alt"></i> 生成进出口采购合同</a>
        #{/power.ck}
        </div>
      </form>
    </div>
  </div>
</div>


<!--  修改签收数量 弹出div begin   -->
<div id="fba_carton_contents_modal" class="modal fade bs-example-modal-lg">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">签收数量</h4>
      </div>
      <div class="modal-body" id="refresh_div">

      </div>
      <div class="modal-footer">
        <button class="btn btn-default btn-xs" data-dismiss="modal" aria-hidden="true">关闭</button>
      </div>
    </div>
  </div>
</div>
<!--  修改签收数量 弹出div end   -->

