#{script 'shipments/pending.coffee'/}
<!-- 处理需要货运的 ProcureUnit -->
<div class="row" style="min-height:300px">
    <div class="span6" id="procureUnit">
        <table class="table table-condensed">
            <tr>
                <td>Deliveryment</td>
                <td>剩余量</td>
                <td>SID</td>
                <td>转移数量</td>
                <td>&nbsp;</td>
            </tr>
        #{list items:units, as:'unit'}
            #{set leftQtyTuple:unit.leftTransferQty() /}
            #{set isZero:leftQtyTuple._1 == 0/}
            <tr uid="${unit.id}" style="background:${isZero ? '#eee' : '#fff'}">
                <td>
                    <a href="@{Deliveryments.detail(unit.deliveryment.id)}" target="_blank">${unit.deliveryment.id}</a>
                </td>
                <td>
                    <a rel="popover" trigger='toggle' class="btn btn-mini ${isZero ? 'btn-danger' : 'btn-info'}" data-content="Relate ShipmentId:<br> ${leftQtyTuple._2}">${leftQtyTuple._1}</a>
                </td>
                <td>
                    #{shipment_sid sid:unit.sid/}
                <td><input class="input-mini" style="padding:0"></td>
                <td>
                    #{if isZero}
                        <i class="icon-lock"></i>
                    #{/if}
                    #{else }
                        <button uid="${unit.id}" class="btn btn-mini btn-success"><i class="icon-arrow-right"></i>
                        </button>
                    #{/else}
                </td>
            </tr>
        #{/list}
        </table>
    </div>
    <div class="span6" id="shipitem">
        <table class="table table-condensed">
            <tr>
                <td>SID</td>
                <td>运输数量</td>
                <td>&nbsp;</td>
            </tr>
        #{list items:s.items, as:'itm'}
            <tr shipitem='${itm.id}'>
                #{set t3:models.market.Selling.sidT3(itm.unit.sid)/}
                <td>
                    <a href="@{Products.p_detail(t3._1)}" target="_blank">${t3._1}</a>|<a href="@{Sellings.selling(itm.unit.sid)}" target="_blank">${t3._2}
                    |${t3._3}</a></td>
                <td>${itm.qty}</td>
                <td>
                    <button class="btn btn-mini"><i class="icon-remove-sign"></i></button>
                </td>
            </tr>
        #{/list}
        </table>
    </div>
</div>

<hr>

<div>
    <table class="table table-condensed table-bordered">
    #{shipment_basicTRs shipment:s /}
    </table>
</div>


<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#confirmShipment">快递单确认运输</a>
    </div>

    <div id="confirmShipment" class="accordion-body collapse" style="height:0">
        <table class="table table-condensed">
            <tr>
                <td>快递单号</td>
                <td><input style="padding:0" type="text" name="trckNo" value="${s.trackNo}"></td>

                <td>国际快递商</td>
                <td>
                    <select name="iExpress" size="1">
                        <option value="DHL">DHL</option>
                        <option value="FEDEX">FEDEX</option>
                    </select>
                    <input type="hidden" name="shipmentId" value="${s.id}">
                </td>
            </tr>
            <tr>
                <td>起运时间</td>
                <td><input type="date" name="bTime" placeHolder="开始运输的时间"></td>

                <td>预计到达时间</td>
                <td><input type="date" name="planTime" placeHolder="预计运输到达的时间"></td>
            </tr>
            <tr>
                <td colspan="4">
                    <button class="btn btn-small btn-primary">Confirm Ship</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- 付款信息 -->
#{payment_listPayment items:s.payments /}
<!-- 付款 -->
#{payment_addPayment type:'SHIP', payObjId:s.id /}
