#{extends 'main_full.html' /}
#{set title:'调整运输项目 #' + ship.id /}
#{set 'moreScripts'}
    #{script 'shipments/shipitem.coffee'/}
#{/set}

#{ifErrors }
    #{errorMsgs /}
#{/ifErrors}

#{info_row title:'运输单'/}
<div class="row-fluid">
    <div class="span12">
        <table class="table table-condensed table-bordered">
            <tr>
                <th>运输单号</th>
                <td>
                    <span id="shipmentId">${ship.id}</span>
                </td>
                <th>创建时间</th>
                <td>${ship.createDate.datetime()}</td>
            </tr>

            <tr>
                <th>预计运输时间</th>
                <td>${ship.beginDate.date()} | ${ship.beginDate.los()}</td>
                <th>预计到库时间</th>
                <td>${ship.planArrivDate.date()} | ${ship.planArrivDate.los()}</td>
            </tr>

            <tr>
                <th>状态</th>
                <td>${ship.state}</td>
                <th>运输方式</th>
                <td>${ship.type}</td>
            </tr>

            <tr>
                <th>目的地</th>
                <td>${ship.target}</td>
                <th>始发地</th>
                <td>${ship.source}</td>
            </tr>

            <tr>
                <th>去往仓库</th>
                <td>${ship.whouse?.name()}</td>

                <th>创建者</th>
                <td>${ship.creater?.username}</td>
            </tr>

            <tr>
                <td colspan="4">
                    <a href="@{Shipments.show()}/${ship.id}" class="btn btn-success">回到运输单</a>
                </td>
            </tr>
        </table>
    </div>
</div>

#{info_row title:'确定运输的货物'}
<ul>
    <li>还没有交货的[采购单元]会使用 <span style="color:#FF7F1C;">橙色</span>高亮, 并有 <i class="icon-question-sign"></i> 标记</li>
    <li>如果实际交货数量大于[采购单元]的预计交货数量会使用 <span style="color:#84F000;">亮绿色</span>高亮</li>
    <li>如果超额交货, 则多余的数量会继续显示在下面的 <span class="text-warning">等待运输的货物</span> 中, 可根据实际运输数量对原有的运输数量进行修正</li>
    <li>如果交货不足, 在[交货]操作之前可按照规定进行采购计划进行[分拆]操作, <span class="text-warning">等待运输的货物</span> 中会出现为<strong>负数</strong>的采购计划,
        请添加进入运输单进行修正.
    </li>
</ul>
#{/info_row}

<div class="row-fluid">
    <div class="span12">
        <form method="post">
        #{render 'Shipments/_shipitem.html', items:ship.items, shipmentId:ship.id/}
        </form>
    </div>
</div>

#{warning_row title:'等待运输的货物'}
<ul>
    <li>采购单的状态 -> 确认并已下单, 完成交货</li>
    <li>采购计划的阶段 -> 计划中, 采购中, 已交货, 部分运输</li>
    <li>运输方式 -> ${ship.type}</li>
    <li>去往仓库 -> ${ship.whouse?.name()}</li>
</ul>
#{/warning_row}
<div class="row-fluid">
    <div class="span12">
        <form id="units_form" method="post">
            <table class="table table-condensed table-bordered">
                <tr>
                    <th>
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox_all" id="units">
                        </label>
                    </th>
                    <th>Sku</th>
                    <th>Sid</th>
                    <th>采购单</th>
                    <th>预计到库日期</th>
                    <th>供应商</th>
                    <th>交货数量</th>
                    <th rel="popover" content="如果有五角星, 表示货物已经到达货代处">
                        <i class="icon-question-sign"></i> 剩余可运数量
                    </th>
                    <th>运输数量</th>
                    <th>运输方式</th>
                    <th>运往仓库</th>
                    <th>阶段</th>
                    <th>ProductName</th>
                    <th>ProcureUnit</th>
                </tr>
            #{list items:units, as:'unit'}
                #{set leftQty: unit.leftQty()/}
                #{if leftQty._1 != 0}
                    <tr>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox" name="unitId" id="checkbox_${unit.id}" value="${unit.id}">
                            </label>
                        </td>
                        <td><a href="@{Products.show(unit.sku)}" target="_blank">${unit.sku}</a></td>
                        <td>${unit.sid}</td>
                        <td><a href="@{Deliveryments.show()}/${unit.deliveryment.id}">${unit.deliveryment.id}</a></td>
                        <td>#{time_tooltip time:unit.attrs.planDeliveryDate/}</td>
                        <td>${unit.cooperator?.name}</td>
                        <td>
                            #{if unit.attrs.qty}
                            ${unit.attrs.qty}
                            #{/if}
                            #{else }
                                <span style="color:#f9a021;" rel="tooltip" title="还没有交货, 使用的是计划数量"><i class="icon-question-sign"></i> ${unit.attrs.planQty}</span>
                            #{/else}
                        </td>
                        <td data-toggle="toggle" data-target="#unit_${unit_index}" style="cursor:pointer;background:${'#' + unit.leekOrOverRgb()}">
                            #{if unit.isPlaced}
                                <i class="icon-star" style="color:#FF2200"></i>
                                <i style="color:#84F000"></i>
                            #{/if}
                            <i class="icon-reorder"></i> ${leftQty._1}
                            <span class="badge badge-info">${leftQty._3.size()}</span>
                        </td>
                        <td>
                            <input type="text" name="shipQty" disabled="" class="input-mini" value="${leftQty._1}">
                        </td>
                        <td>${unit.shipType}</td>
                        <td>${unit.whouse.name()}</td>
                        <td style="color:${'#' + unit.stage.rgb()}">${unit.stage}</td>
                        <td>${unit.product.productName.omis(80)}</td>
                        <td><a href="@{Procures.index()}?p.search=id:${unit.id}" target="_blank">${unit.id}</a></td>
                    </tr>
                    <tr id="unit_${unit_index}" style="display:none;">
                        <td colspan="14">
                            <h4>采购单元所涉及的运输单</h4>
                            #{list items:leftQty._3, as:'lk'}
                                <a href="@{Shipments.show()}/${lk}" target="_blank">${lk}</a>
                            #{/list}
                        </td>
                    </tr>
                #{/if}
            #{/list}
                <tr>
                    <td colspan="14">
                        <input type="hidden" name="id" value="${ship.id}">
                        <button id="submit_delivery" class="btn btn-primary">提交运输货物</button>
                        <span id="ship_size" class="badge badge-info">0</span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>