#{script 'jquery.filedrop.js' /}
#{script 'component/dropUpload.coffee'/}
#{script 'shipments/shipping.coffee'/}

<div>
    <table class="table table-condensed table-bordered">
    #{shipment_basicTRs shipment:s /}
        <tr>
            <td>总费用</td>
            <td>${s.totalPayedCNY()} CNY</td>

            <td>TracNo</td>
            <td>${s.trackNo}</td>

            <td>国际快递商</td>
            <td>${s.internationExpress}</td>

            <td colspan="2"></td>
        </tr>

        <tr>
            <td>
                <button id="add_memo" rel="popover" width="auto" data-content="保存 Memo" class="btn btn-small btn-primary">
                    Memo
                </button>
            </td>
            <td colspan="7">
                <textarea rows="5" class="span11">${s.memo}</textarea>
            </td>
        </tr>

    </table>
</div>

<div>
    <table class="table table-condensed">
        <tr>
            <td>#</td>
            <td>SID</td>
            <td>运输数量</td>
            <td>Unit(实际采购/剩余)</td>
        </tr>
    #{list items:s.items, as:'itm'}
        <tr>
            <td>${itm.id}</td>
            <td>
                #{shipment_sid sid:itm.unit.sid/}
            </td>
            <td>
            ${itm.qty}
            </td>
            <td>
            ${itm.unit.delivery.deliveryQty}/${itm.unit.leftTransferQty()._1}
            </td>
        </tr>
    #{/list}
    </table>
</div>

<div style="min-height:300px;background:#eee;" id="dropbox">
    <ul class="thumbnails uploaded"></ul>
    <div class="message" style="height:150px;padding-top:145px;text-align:center;">Drag & Drop</div>
</div>


<hr>
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#confirmShipment">国际快递商的运输信息</a>
    </div>

    <div id="confirmShipment" class="accordion-body collapse" style="height:0">
        <div class="alert alert-info" id="alter">
            <div class="input-prepend">
                <span class="add-on">更新 ${s.internationExpress} 上的信息</span>
                <button shipmentId="${s.id}" class="btn btn-small"><i class="icon-refresh"></i></button>
            </div>
            <div id="expressHtml">
            ${s.iExpressHTML.raw()}
            </div>
        </div>
    </div>
</div>

