#{extends 'main_full.html' /}
#{set title:"运输单 #" + ship.id /}
#{set 'moreScripts'}
    #{script 'jquery.filedrop.js'/}
    #{script 'component/dropUpload.coffee'/}
    #{script 'shipments/show.coffee'/}
#{/set}

#{errorMsgs /}

#{info_row title:'采购单信息 <i class="icon-caret-down"></i>'.raw() /}
<div class="row-fluid">
  <div class="span12">
  #{render './_shipment.html', ship: ship, whouses: whouses, shippers: shippers/}
  </div>
</div>

#{flash_alert /}

#{shipmentWorkflow state: ship.state/}

#{render './_show_progress.html', ship: ship/}

#{render './_show_items.html', ship: ship/}

<!-- 运输单记录信息 -->
<div class="row-fluid" style="margin-top:20px;">
  <div class="span6" style="overflow:auto;height:280px;">
  #{records_ul records: records/}
  </div>

  <div class="span6">
    <div class="row-fluid">
      <div class="span12">
        <h4 class="text-warning">
          运输进度
          <i class="icon-sort-down"></i>
          &nbsp;
          <a href="@{Shipments.refreshProcuress(ship.id)}" class="btn btn-mini btn-danger" data-method='PUT'>
            <i class="icon-refresh"></i>
          </a>
        </h4>
      </div>
    </div>

    <div id="shipping_details" class="span12" style="overflow:auto;height:280px;">
    #{set logEvents: ship.logEvents()/}
    #{records_ul records: ship.logEvents()/}
    #{if ship.iExpressHTML.trim().size() > 0}
    ${ship.iExpressHTML.raw()}
    #{/if}
    #{elseif logEvents.size() == 0}
      还没有跟踪信息
    #{/elseif}
    </div>
  </div>
</div>


<!-- 请款信息 -->
<div>
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-bordered table-condensed" id='paymentInfo'>
        <caption class="alert alert-success" style="text-align:left"><h4>运输单费用信息</h4></caption>
        <tr>
          <th>#</th>
          <th class="span2">费用类型</th>
          <th class="span2">币种</th>
          <th>单价</th>
          <th>数量</th>
          <th>总价</th>
          <th>备注</th>
          <th>申请人</th>
          <th class="span2"></th>
        </tr>
      #{list items:ship.allFees(), as:'fee'}
        <tr>
          <td>${fee.id}</td>
          <td>${fee.feeType.nickName}</td>
          <td>${fee.currency}</td>
          <td>${fee.unitPrice}</td>
          <td>${fee.unitQty}</td>
          <td>${fee.amount}</td>
          <td>${fee.memo}</td>
          <td>${fee.payee.username}</td>
          <td>
            <button class="btn btn-info"><i class="icon-edit"></i></button>
            <button class="btn btn-warning"><i class="icon-trash"></i></button>
          </td>
        </tr>
      #{/list}
      </table>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <form id='add_payment' class="form-inline" method="GET">
        <label>费用类型
        #{select 'fee.feeType.name', items: feeTypes, labelProperty:'nickName', valueProperty:'name', as:'type', class: 'input-small'}#{/select}
        </label>

        <label>币种
        #{select 'fee.currency', items:helper.Currency.values(), class: 'input-small', value: 'CNY'}#{/select}
        </label>

        <label>单价
          <input name="fee.unitPrice" type="number" step="any" class="input-mini" value="0">
        </label>

        <label>数量
          <input name="fee.unitQty" type="number" step="any" class="input-mini" value="1">
        </label>

        <label>总价
          <input type="number" readonly="" class="input-mini amount">
        </label>

        <label>备注
          <textarea name="fee.memo" class="input"></textarea>
        </label>

        <label>
          <button type="submit" class="btn btn-success" data-url='@{Shipments.billingOne(ship.id)}'>添加费用</button>
        </label>
        <label>
          <button type="submit" class="btn btn-info" data-url='@{Shipments.calDuty(ship.id)}'>计算剩余关税</button>
        </label>

        <label>
          <span class="hide alert alert-error"></span>
        </label>
      </form>
    </div>
  </div>
</div>

<div class="modal hide fade" id="popModel"></div>


<!-- 附件信息 -->
<div class="row-fluid">
  <div class="span12">
    <h4 class="alert alert-success">附件 <i class="icon-sort-down"></i></h4>
  </div>
</div>
<div class="row-fluid">
  <div style="min-height:300px;" class="span12 well" id="dropbox">
    <ul class="thumbnails uploaded"></ul>
    <div class="message" style="height:150px;padding-top:145px;text-align:center;">Drag & Drop</div>
  </div>
</div>


<script type="text/template" id='form-logfee-model-template'>
  <form action="<%= url %>" method="POST" class="form-horizontal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h4>添加运输项目 <%= itm.id %> 费用</h4>
    </div>
    <div class="modal-body row-fluid">
      <div class="control-group">
        <label class="control-label">币种</label>

        <div class="controls">
        #{select 'fee.currency', items:helper.Currency.values(), class: 'input-small', value: 'CNY'}#{/select}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">单价</label>

        <div class="controls">
          <input name="fee.unitPrice" type="number" step="any" class="input-mini" value="1">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">数量</label>

        <div class="controls">
          <input name="fee.unitQty" type="number" step="any" class="input-mini" value="1">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">总价</label>

        <div class="controls">
          <input type="number" step="any" class="input-mini amount" value="0" readonly>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">备注</label>

        <div class="controls">
          <textarea role="5" name="fee.memo" class="span11"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <button class="btn btn-primary" data-disable-with="更新中..." data-confirm="确认操作?">
        添加
      </button>
    </div>
  </form>
</script>

<script type="text/template" id='form-destroyfee-model-template'>
  <form action="<%= fee.url %>" method="POST" data-method='DELETE'>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>删除 <%= fee.id %></h3>
    </div>

    <div class="modal-body">
      <label>原因</label>
      <textarea name="reason" required=""></textarea>
    </div>

    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn">取消</a>
      <button class="btn btn-primary" data-disable-with='删除中...'>删除</button>
    </div>
  </form>
</script>

<script type="text/template" id='tr-paymentunit-template'>
  <tr>
    <td><%= fee.id %></td>
    <td><%= fee.feeType.nickName %></td>
    <td><%= fee.currency %></td>
    <td><%= fee.unitPrice %></td>
    <td><%= fee.unitQty %></td>
    <td><%= fee.amount %></td>
    <td><%= fee.memo %></td>
    <td><%= fee.payee.username %></td>
    <td>
      <button class="btn btn-info"><i class="icon-edit"></i></button>
      <button class="btn btn-warning"><i class="icon-trash"></i></button>
    </td>
  </tr>
</script>

<script type='text/template' id='tr-edit-paymentunit-template'>
  <tr>
    <td><%= fee.id %></td>
    <td><%= fee.feeType.nickName %></td>
    <td>
    #{select 'fee.currency', items:helper.Currency.values(), class: 'input-small'}#{/select}
    </td>
    <td>
      <input type="number" step='any' name='fee.unitPrice' value="<%= fee.unitPrice %>"
    </td>
    <td>
      <input type="number" step='any' name="fee.unitQty" value="<%= fee.unitQty %>">
    </td>
    <td>
      <input type="number" readonly="" value="<%= fee.amount %>">
    </td>
    <td>
      <textarea name="fee.memo"><%= fee.memo %></textarea>
    </td>
    <td><%= fee.payee.username %></td>
    <td>
      <button class="btn btn-success"><i class="icon-ok"></i></button>
      <button class="btn btn-danger"><i class="icon-remove"></i></button>
    </td>
  </tr>
</script>
