#{extends 'main_full.html' /}
#{set title:"运输单 #" + ship.id /}
#{set 'moreScripts'}
    #{script 'jquery.filedrop.js'/}
    #{script 'component/dropUpload.coffee'/}
    #{script 'shipments/show.coffee'/}
#{/set}

#{ifErrors }
    #{errorMsgs /}
#{/ifErrors}

#{if flash.success}
<div class="row-fluid">
    <div class="span12 alert alert-success">
    ${flash.success}
    </div>
</div>
#{/if}

<div class="row-fluid">
    <div class="span12 alert alert-info">
        <h4>采购单信息 <i class="icon-caret-down"></i></h4>
        <ul>
            <li>运输单只能运往一个仓库, 其运输的货物也需要是同一个仓库的</li>
            <li>运输单的 Title 处理用来标识系统内的运输单外, 也是 Amazon FBA Shipment 的 Title</li>
            <li>"运输项目确认" 之后, 则无法再对运输单的运输项目进行修改.</li>
            <li>"运输项目确认" 之后, 会同步在 Amazon 创建对应的 FBA Shipment 进行跟踪</li>
            <li>"运输项目确认" 之后, 可以下载对于 FBA ShipmentId 的箱内外麦</li>
            <li>当运输单开始运输的时候, 需要将数据补全, 并且开始运输以后, 信息不再可以修改</li>
            <li>"开始运输" 之后, 会同步 FBA Shipment 标记 Shipped</li>
            <li>Fnsku 会在运输单确认以后, 进行一次同步</li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <form action="@{Shipments.update()}" method="post">
        #{authenticityToken /}
            <table class="table table-condensed table-bordered">
                <tr>
                    <th>Title</th>
                    <td colspan="3">
                        <input type="text" name="ship.title" class="span10" value="${ship.title ? ship.title : ship.title()}">
                    </td>
                </tr>
                <tr>
                    <th>运输单号</th>
                    <td>
                        <span>${ship.id}</span>
                        <input type="hidden" id="shipmentId" name="ship.id" value="${ship.id}">
                    </td>
                    <th>创建时间</th>
                    <td>${ship.createDate.datetime()}</td>
                </tr>

                <tr>
                    <th>状态</th>
                    <td>${ship.state}</td>
                    <th>运输方式</th>
                    <td>${ship.type}</td>
                </tr>

                <tr>
                    <th>预计运输时间</th>
                    <td>
                        <input type="date" name="ship.beginDate" value="${ship.beginDate.date()}">
                    </td>
                    <th>预计到库时间</th>
                    <td>
                        <input type="date" name="ship.planArrivDate" value="${ship.planArrivDate.date()}">
                    </td>
                </tr>

                <tr>
                    <th>运输体积(m3)</th>
                    <td>
                        <input type="text" class="input-mini" name="ship.volumn" value="${ship.volumn}">
                    </td>
                    <th>运输重量(kg)</th>
                    <td>
                        <input type="text" class="input-mini" name="ship.weight" value="${ship.weight}">
                    </td>
                </tr>

                <tr>
                    <th>申报价格(单位 USD)</th>
                    <td>
                        <input type="text" class="input-mini" name="ship.declaredValue" value="${ship.declaredValue}">
                    </td>
                    <th>押金(例:预付款)</th>
                    <td>
                        <input type="text" class="input-mini" name="ship.deposit" value="${ship.deposit}">
                    </td>
                </tr>

                <tr>
                    <th>其他费用(例:手续费)</th>
                    <td>
                        <input type="text" class="input-mini" name="ship.otherFee" value="${ship.otherFee}">
                    </td>
                    <th>运费</th>
                    <td>
                        <input type="text" class="input-mini" name="ship.shipFee" value="${ship.shipFee}">
                    </td>
                </tr>

                <tr>
                    <th>Track No.</th>
                    <td>
                        <div class="input-append">
                            <input type="text" class="input-medium" name="ship.trackNo" value="${ship.trackNo}">
                            <a href="${ship.internationExpress.trackUrl(ship.trackNo)}" target="_blank" class="btn btn-primary"><i class="icon-external-link"></i></a>
                        </div>
                    </td>
                    <th>国际快递商</th>
                    <td>
                        <select name="ship.internationExpress">
                            <option value="">选择快递商</option>
                        #{list items:models.procure.Shipment.iExpress(), as:'ie'}
                            <option ${ie == ship.internationExpress ? 'selected' : ''} value="${ie}">${ie}</option>
                        #{/list}
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>货代</th>
                    <td>
                        <select name="ship.cooper.id">
                            <option value="">选择货代</option>
                        #{list items:shippers, as:'shiper'}
                            <option ${shiper == ship.cooper ? 'selected' : ''} value="${shiper.id}">${shiper.fullName}</option>
                        #{/list}
                        </select>
                    </td>
                    <th>总运费(RMB)</th>
                    <td>1111, 需要计算</td>
                </tr>

                <tr>
                    <th>仓库</th>
                    <td>
                        <select name="ship.whouse.id">
                            <option value="">选择仓库</option>
                        #{list items:whouses, as:'whouse'}
                            <option ${whouse == ship.whouse ? "selected" : ""} value="${whouse.id}">${whouse.name()}</option>
                        #{/list}
                        </select>
                    </td>
                    <td>计价类型</td>
                    <td>
                        <select name="ship.pype">
                        #{list items:models.procure.Shipment.P.values(), as:'p'}
                            <option ${p == ship.pype ? 'selected' : ''} value="${p.name()}">${p}</option>
                        #{/list}
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>目的地</th>
                    <td>${ship.target}</td>
                    <th>始发地</th>
                    <td>${ship.source}</td>
                </tr>

                <tr>
                    <td colspan="4">
                        <h4>Comment</h4>
                        <textarea rows="8" id="ship_memo" name="ship.memo" class="span12">${ship.memo}</textarea>
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                    #{set isPlanAndConfirm:ship.state == models.procure.Shipment.S.PLAN || ship.state == models.procure.Shipment.S.CONFIRM /}
                    #{if isPlanAndConfirm}
                        <button class="btn btn-primary">更新</button>
                    #{/if}
                    #{if !isPlanAndConfirm}
                        <button id="ship_comment" class="btn btn-primary">Comment</button>
                    #{/if}
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

#{if ship.fbaShipment}
    #{render 'Shipments/_fba_shipment.html', fba:ship.fbaShipment/}
#{/if}
<div class="row-fluid">
    <div class="span12" style="margin-bottom:15px;">
    #{if ship.state == models.procure.Shipment.S.PLAN}
        <a href="@{Shipments.shipItem()}/${ship.id}" style="margin-right:10px;" class="btn btn-primary pull-left">修改运输项目</a>
    #{/if}

    #{if ship.state == models.procure.Shipment.S.PLAN}
        <form action="@{Shipments.confirm()}" method="post" class="pull-left">
            <input type="hidden" name="id" value="${ship.id}">
            #{authenticityToken /}
            <div class="input-append input-prepend" style="margin-right:10px;">
                <span class="add-on" rel="popover" content="确认运输项目以后, 则不再允许修改运输项目, 同时会将对应的运输单向 Amazon 创建 Shipment"><i class="icon-question-sign"></i></span>
                <button data-confirm="confirm" class="btn btn-warning">运输项目确认</button>
            </div>
        </form>
    #{/if}

    #{if isPlanAndConfirm}
        <form action="@{Shipments.beginShip()}" method="post" class="pull-left">
            <input type="hidden" name="id" value="${ship.id}">
            #{authenticityToken /}
            <button style="margin-right:10px;" data-confirm="confirm" class="btn btn-danger">
                开始运输
            </button>
        </form>
    #{/if}
    #{if ship.state == models.procure.Shipment.S.CLEARANCE}
        <form action="@{Shipments.ensureDone()}" method="post">
            <input type="hidden" name="id" value="${ship.id}">
            #{authenticityToken /}
            <button style="margin-right:10px;" data-confirm="confirm" class="btn btn-success">确认到货</button>
        </form>
    #{/if}
    </div>
</div>

<div class="row-fluid">
    <div class="span12 alert alert-info">
        <h4>运输项目 <i class="icon-caret-down"></i></h4>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
    #{render 'Shipments/_shipitem.html', items:ship.items/}
    </div>
</div>

<div class="row-fluid">
    <div class="span12 alert alert-danger">
        <h4 data-toggle="toggle" data-target="#shipping_details" style="cursor:pointer;" class="span2">
            运输进程 <i class="icon-reorder"></i>
        </h4>

        <form action="@{Shipments.refreshProcuress()}" method="post" style="margin:0">
            <input type="hidden" name="id" value="${ship.id}">
        #{authenticityToken /}
            <button class="btn btn-danger"><i class="icon-refresh"></i></button>
        </form>
    </div>
</div>
<div class="row-fluid">
    <div id="shipping_details" class="span12" style="display:none;padding-left:30px">
    ${ship.iExpressHTML.raw()}
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h4 class="alert alert-success">附件 <i class="icon-sort-down"></i></h4>
    </div>
</div>
<div class="row-fluid">
    <div style="min-height:300px;" class="span12 well" id="dropbox">
        <ul class="thumbnails uploaded"></ul>
        <div class="message" style="height:150px;padding-top:145px;text-align:center;">Drag & Drop</div>
    </div>
</div>
