<table class="table table-condensed table-bordered">
  <tr>
    <th></th>
    <th>#</th>
    <th>标题</th>
    <th>运输方式</th>
    <th>状态</th>
    <th>运输开始时间</th>
    <th>运输总量(kg)</th>
    <th>运输项目数量</th>
    <th>创建者</th>
  </tr>
#{list items:unitRelateShipments, as:'ship'}
  <tr>
    <td><input type="radio" name="shipmentId" value="${ship.id}"></td>
    <td>
      <a href="@{Shipments.show()}/${ship.id}" target="_blank">${ship.id}</a>
    </td>
    <td>${ship.title}</td>
    <td style="color:${'#' + ship.type?.rgb()}">${ship.type}</td>
    <td>${ship.state?.label()}</td>
    <td>${ship.dates?.planBeginDate?.date()} ${ship.dates?.planBeginDate?.dayOfWeek()}</td>
    <td>
    ${ship.totalWeight().format("0.00")}
        #{set diff: ship.totalWeight() - ship.minimumTraffic() /}
        #{if ship.type?.name() == 'EXPRESS'}
            #{if diff > 0} 超出${+diff.format("0.00")}#{/if}
        #{/if}
        #{else }
            #{if diff < 0} 差${(-diff).format("0.00")}#{/if}
        #{/else}
    </td>
    <td>${ship.items.size()}</td>
    <td>${ship.creater?.username}</td>
  </tr>
#{/list}
</table>