<table class="table table-condensed table-bordered">
    <tr>
        <td></td>
        <td>#</td>
        <td>标题</td>
        <td>运输方式</td>
        <td>运输开始时间</td>
        <td>运输项目数量</td>
        <td>创建者</td>
    </tr>
#{list items:unitRelateShipments, as:'ship'}
    <tr>
        <td><input type="checkbox" value="${ship.id}"></td>
        <td><a href="@{Shipments.show()}/${ship.id}" target="_blank">${ship.id}</a></td>
        <td>${ship.title}</td>
        <td>${ship.type}</td>
        <td>${ship.beginDate.date()}</td>
        <td>${ship.items.size()}</td>
        <td>#{if ship.cycle}<i style="color:#C09853;" class="icon-star"></i>#{/if} ${ship.creater?.username}</td>
    </tr>
#{/list}
</table>