#{extends 'main_full.html'/}
#{set title:'Mail Records'/}
#{set 'moreScripts'}
    #{script name: 'highstock.js'/}
    #{script name: 'mailsrecord/mailsrecord.coffee'/}
#{/set}
<div class="container">
  <form id="params" class="search_form">

    <div class="btn-toolbar">
      <div class="input-prepend inline">
        <span class="add-on">From:</span>
        <input type="date" id="_from" class="date" name="from">
      </div>

      <div class="input-prepend input-append inline">
        <span class="add-on">TO:</span>
        <input type="date" id="_to" name="to" class="date">
      </div>

      <div class="input-prepend inline">

        <select name="success" class="inline">
          <option value="true">成功</option>
          <option value="false" selected="selected">失败</option>
        </select>
      </div>

      <div class="inline">

        <select name="group" class="inline" style="width:100">
          <option value="">选择收件人</option>
          <option value="@easya.cc">@easya.cc</option>
          <option value="@amazon.de">@amazon.de</option>
          <option value="@amazon.com">@amazon.com</option>
          <option value="@easyacceu.com">@easyacceu.com</option>
        </select>
      </div>
      <div class="inline">
        <select name="type" class="inline">
          <option value="NORMAL" selected="selected">NORMAL</option>
          <option value="FBA">FBA</option>
          <option value="SYSTEM">SYSTEM</option>
        </select>
      </div>
      <div class="inline">
        <button type="button" class="btn inline" id="tmp" data-toggle="collapse" data-target="#tmp_target">
          选择模板
        </button>
        <div id="tmp_target" class="collapse">
        </div>
      </div>
      <div class="inline" style="margin-left:0">

        <button id="search_btn" url="@{MailsRecords.ajaxRecord()}" class="btn"><i class="icon-search"></i>搜索
        </button>
      </div>

    </div>
  </form>

  <div class="row-fluid">
    <div id="mail_records" class="span10" style="height:280px"></div>

  </div>

  <div class="row-fluid">
    <div id="tl" class="span12" style="height:280px;line-height:10px;font-size:8pt;"></div>
  </div>

</div>