#{extends 'main_full.html'/}
#{set title:'Mail Records'/}
#{set 'moreScripts'}
    #{script 'highcharts.js'/}
    #{script 'mailsrecord/mailsrecord.coffee'/}
#{/set}

    <form   id="params"  class="search_form">
        <div class="span12">
            <div class="input-prepend inline">
                <span class="add-on">From:</span>
                <input type="date" id="_from" class="date" name="from">
            </div>

            <div class="input-prepend input-append inline">
                <span class="add-on">TO:</span>
                <input type="date" id="_to" name="to" class="date">
            </div>

            <div class="input-prepend inline">
               <span class="add-on">STATUS:</span>
                <select name="success" class="inline">
                        <option value="true" >成功</option>
                        <option value="false" selected="selected">失败</option>
                </select>
            </div>

            <div class="input-prepend inline">
                <span class="add-on">类型:</span>
                <select name="type" class="inline">
                        <option value="NORMAL" selected="selected">NORMAL</option>
                        <option value="FBA">FBA</option>
                        <option value="SYSTEM">SYSTEM</option>
                </select>
            </div>


            <div class="input-append inline">
                <span class="inline">GROUP:</span>
                <select name="group" class="inline">
                    <option value=""></option>
                    <option value="@easya.cc">@easya.cc</option>
                    <option value="@amazon.de">@amazon.de</option>
                    <option value="@amazon.com" >@amazon.com</option>
                    <option value="@easyacceu.com">@easyacceu.com</option>
                </select>
            </div>

            <div class="input-prepend inline">

               <button  id="search_btn" class="btn icon-search">搜索</button>
            </div>

        </div>
    </form>




<div class="row-fluid">
   <div id="mail_records"  class="span6" style="height:280px"></div>

</div>

<div class="row-fluid">
   <div id="tl" class="span12" style="height:280px;line-height:10px;font-size:8pt;"></div>
</div>




