#{script 'jquery-2.0.3.min.js'/}
#{script 'lodash.min.js'/}
#{script 'noty/jquery.noty.js'/}
#{script 'noty/themes/default.js'/}
#{script 'noty/layouts/top.js'/}
#{script 'noty/layouts/topCenter.js'/}
#{script 'rails.js'/}
#{script 'jquery.color.js'/}
#{script 'bootstrap.min.js'/}
#{script 'bootstrapSwitch.js'/}
#{script 'jquery.loadmask.min.js'/}
#{script 'jquery.highlight.js'/}
#{script 'jquery.form.js'/}
#{script 'dateinput.js'/}
#{script 'selectize.js'/}
#{script 'bootstrap-datetimepicker.min.js'/}
#{script 'component/notify.coffee'/}
#{script 'component/popover.coffee'/}
#{script 'main.js'/}