#{script_cdn name:'jquery-1.7.2.min.js'/}
#{script_cdn name: 'lodash.min.js'/}
#{script_cdn name: 'noty/jquery.noty.js'/}
#{script_cdn name: 'noty/themes/default.js'/}
#{script_cdn name: 'noty/layouts/top.js'/}
#{script_cdn name: 'noty/layouts/topCenter.js'/}
#{script_cdn name: 'rails.js'/}
#{script_cdn name: 'jquery.animate-colors-min.js'/}
#{script_cdn name: 'bootstrap.min.js'/}
#{script_cdn name: 'bootstrapSwitch.js'/}
#{script_cdn name: 'jquery.loadmask.min.js'/}
#{script_cdn name: 'jquery.highlight.js'/}
#{script_cdn name: 'jquery.form.js'/}
*{#{script_cdn name: 'bootstrap-datepicker.min.js'/}}*
#{script_cdn name: 'jquery.tools.date.min.js'/}
#{script_cdn name: 'component/notify.coffee'/}
#{script_cdn name: 'component/popover.coffee'/}
#{script_cdn name: 'main.js'/}