#{script 'bootstrap3/jquery-3.1.1.min.js'/}
#{script 'bootstrap3/bootstrap.min.js'/}
#{script 'bootstrap3/bootstrap3-typeahead.js'/}
#{script 'bootstrap3/app.js'/}
#{script 'bootstrap3/fastclick.js'/}
#{script 'bootstrap3/bootstrap-datepicker.js'/}

#{script 'noty/jquery.noty.js'/}
#{script 'noty/themes/default.js'/}
#{script 'noty/layouts/top.js'/}
#{script 'noty/layouts/topCenter.js'/}
#{script 'selectize.js'/}
#{script 'jquery.loadmask.min.js'/}
#{script 'main.js'/}
#{script 'jquery.form.js'/}
#{script 'underscore-min.js'/}
#{script 'bootstrap3/init.es6'/}
#{script 'rails.js'/}
#{script 'bootstrap3/bootstrap-switch.min.js'/}
