#{script name:'jquery-1.12.3.min.js'/}
#{script name: 'lodash.min.js'/}
#{script name: 'noty/jquery.noty.js'/}
#{script name: 'noty/themes/default.js'/}
#{script name: 'noty/layouts/top.js'/}
#{script name: 'noty/layouts/topCenter.js'/}
#{script name: 'rails.js'/}
#{script name: 'jquery.color.js'/}
#{script name: 'bootstrap.min.js'/}
#{script name: 'bootstrapSwitch.js'/}
#{script name: 'jquery.loadmask.min.js'/}
#{script name: 'jquery.highlight.js'/}
#{script name: 'jquery.form.js'/}
#{script name: 'dateinput.js'/}
#{script name: 'selectize.js'/}
#{script name: 'bootstrap-datetimepicker.min.js'/}
#{script name: 'component/notify.coffee'/}
#{script name: 'component/popover.coffee'/}
#{script name: 'main.js'/}