<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/reset.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/960.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/text.css'}">
#{stylesheet 'main.css'/}
#{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
#{script src:'jquery.tools.min.js'/}
#{get 'moreScripts' /}
    <script type="text/javascript">
        $(function() { //初始化 Menu
            $("ul.dropdown li").hover(function() {
                $(this).addClass("hover");
                $('ul:first', this).css('visibility', 'visible');
            }, function() {
                $(this).removeClass("hover");
                $('ul:first', this).css('visibility', 'hidden');
            });
            $("ul.dropdown li ul li:has(ul)").find("a:first").append(" &raquo; ");
        });
    </script>
</head>
<body>
<div class="container_12 header">
    <ul class="dropdown">
        <li>
            <a>首页</a>
            <ul>
                <li><a href="@{Application.index()}">Home</a></li>
            </ul>
        </li>
        <li>
            <a>市场模块</a>
            <ul>
                <li><a href="#">Listing</a></li>
                <li><a href="#">Listing</a></li>
            </ul>
        </li>
        <li>
            <a>产品模块</a>
            <ul>
                <li><a href="@{Products.p_index(1, 20)}">Product</a></li>
                <li><a href="@{Products.c_index(1, 20)}">Category</a></li>
                <li><a href="@{Products.w_index(1, 20)}">Whouse</a></li>
            </ul>
        </li>
        <li>
            <a>采购模块</a>
            <ul>
                <li><a href="#">Category</a></li>
                <li><a href="#">Category</a></li>
                <li><a href="#">Whouse</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="container_12 page">
#{doLayout /}
</div>
<div class="container_12 footer">
    footer
</div>
</body>
</html>
