<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
#{if play.Play.mode.isDev()}
    <script type="text/javascript">
        PLAY_MODE = "DEV";
    </script>
#{/if}
#{stylesheet 'bootstrap.min.css'/}
#{stylesheet 'font-awesome.css'/}
#{stylesheet 'jquery.loadmask.css'/}
#{stylesheet 'main.css'/}
#{stylesheet 'dateinput.css'/}
#{get 'moreStyles' /}
#{script 'jquery.1.7.2.min.js'/}
#{script 'jquery.animate-colors-min.js'/}
#{script 'bootstrap.min.js'/}
#{script 'jquery.loadmask.min.js'/}
#{script 'jquery.highlight.js'/}
#{script 'jquery.form.js'/}
#{script 'jquery.tools.date.min.js'/}
#{script 'component/notify.coffee'/}
#{script 'component/popover.coffee'/}
#{script 'main.js'/}
#{get 'moreScripts' /}
</head>
<body style="padding-top: 40px;">

#{render 'header.html'/}
<div class="container-fluid" id="container" style="margin-top:20px;">
#{doLayout /}
</div>
#{render 'footer.html'/}

</body>
</html>
