<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>

<!--

https://sellercentral.amazon.de/gp/ssof/product-label.pdf/ref=ag_xx_cont_fbaprntlab?ie=UTF8&ascending=1&sortAttribute=MerchantSKU

是 0(零) 不是 O(字母)
qty.0:27
fnSku.0:X0003U9PEH
mSku.0:10HTCG14-1900S
labelType:ItemLabel_A4_27


 -->


<form action="https://sellercentral.amazon.de/gp/ssof/product-label.pdf/ref=ag_xx_cont_fbaprntlab?ie=UTF8&ascending=1&sortAttribute=MerchantSKU" method="post" name="frmLabelItems" _lpchecked="1">
    <div class="pg-act">
        <div class="pg-act-content">
            <table class="dt-table">
                <thead>
                <tr>
                    <th class="dt-sortable dt-asc" onclick="submitForm('MerchantSKU', 'https://sellercentral.amazon.de/gp/ssof/print-item-labels.html/ref=ag_fbaprntlab_cont_fbaprntlab?ie=UTF8&amp;ascending=0&amp;sortAttribute=MerchantSKU');">
                        <div class="dt-header">Merchant SKU</div>
                    </th>
                    <th class="dt-sortable " onclick="submitForm('Title', 'https://sellercentral.amazon.de/gp/ssof/print-item-labels.html/ref=ag_fbaprntlab_cont_fbaprntlab?ie=UTF8&amp;ascending=1&amp;sortAttribute=Title');">
                        <div class="dt-header">Title</div>
                    </th>
                    <th class="right">Number of labels to print</th>
                </tr>
                </thead>
                <tbody>
                <tr class="dt-odd">
                    <td>10HTCG14-1900S</td>
                    <td>SANER 1900mAh Li-ion Akku für HTC Sensation, Sensation XE, EVO 3D, Mytouch 4G Slide (battery
                        BA-S560/S580/S590) - 1900mAh
                    </td>
                    <td class="right">
                        <input type="text" name="qty.0" class="integer" size="5" maxlength="10" value="1">
                        <input type="hidden" name="fnSku.0" value="X0003U9PEH">
                        <input type="hidden" name="mSku.0" value="10HTCG14-1900S">
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2" class="total">Totals</td>
                    <td class="right" id="label-count">27</td>
                </tr>
                </tfoot>
            </table>
            <div class="pg-actions">
                <table class="pg-act-table">
                    <tbody>
                    <tr>
                        <th style="vertical-align: middle;">Paper/Sticker Type:</th>
                        <td style="vertical-align: middle;">


                            <select class="tiny" name="labelType" style="">
                                <option value="ItemLabel_A4_21">21-up labels 63.5 mm x 38.1 mm on A4</option>
                                <option value="ItemLabel_A4_24i">24-up labels 63.5 mm x 33.9 mm on A4</option>
                                <option value="ItemLabel_A4_24_64x33">24-up labels 64.6 mm x 33.8 mm on A4</option>
                                <option value="ItemLabel_A4_24">24-up labels 66.0 mm x 33.9 mm on A4</option>
                                <option value="ItemLabel_A4_24_66x35">24-up labels 66.0 mm x 35.0 mm on A4</option>
                                <option value="ItemLabel_A4_24_70x36">24-up labels 70.0 mm x 36.0 mm on A4</option>
                                <option value="ItemLabel_A4_24_70x37">24-up labels 70.0 mm x 37.0 mm on A4</option>
                                <option value="ItemLabel_A4_27" selected="selected">27-up labels 63.5 mm x 29.6 mm on
                                    A4
                                </option>
                                <option value="ItemLabel_Letter_30">30-up&nbsp;labels&nbsp;1" x&nbsp;2&nbsp;5/8"&nbsp;on&nbsp;US&nbsp;Letter</option>
                                <option value="ItemLabel_A4_40_52x29">40-up labels 52.5 mm x 29.7 mm on A4</option>
                                <option value="ItemLabel_A4_44_48x25">44-up labels 48.5 mm x 25.4 mm on A4</option>
                            </select>

                        </td>
                        <td style="vertical-align: middle;">


                            <button type="submit">Print Item Labels</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

<hr>
<table>
    <tr>
        <th>Msku</th>
        <th>FnSku</th>
        <th>Asin</th>
        <th>Account</th>
    </tr>

    <tr>
        <td>15HTCG14-MB2SP</td>
        <td>X0002UTQWJ</td>
        <td>B0062ZSZ86</td>
        <td>A_UK.wyatt</td>
    </tr>

    <tr>
        <td>15HTCG14-MS2SP</td>
        <td>X0002UTQVZ</td>
        <td>B0062ZZKO8</td>
        <td>A_UK.wyatt</td>
    </tr>

    <tr>
        <td>15SS5ACE-LUB2SP</td>
        <td>X0002UR0DV</td>
        <td>B0062N1G20</td>
        <td>A_UK.wyatt</td>
    </tr>

    <tr>
        <td>15SSI9100-LUB2SP</td>
        <td>X0002UR0E5</td>
        <td>B0062MXZ48</td>
        <td>A_UK.wyatt</td>
    </tr>

    <tr>
        <td>4N-GGOQ-2H0M</td>
        <td>X0002SGG47</td>
        <td>B005XMAMOO</td>
        <td>A_UK.wyatt</td>
    </tr>

    <tr>
        <td>50-TPLED-2B21BG,B00345EQ7Q</td>
        <td>X0002IPV7P</td>
        <td>B00345EQ7Q</td>
        <td>A_UK.wyatt</td>
    </tr>

    <tr>
        <td>67-STRASSABS-80W29SG</td>
        <td>X0002SFY5J</td>
        <td>B005X93JT2</td>
        <td>A_UK.wyatt</td>
    </tr>

    <tr>
        <td>67-STRASSABS-80W29SG,B003FNPZNG</td>
        <td>X0002MMDVX</td>
        <td>B003FNPZNG</td>
        <td>A_UK.wyatt</td>
    </tr>

    <tr>
        <td>70-SMP1000-BTKBBG,B004OWZXEI</td>
        <td>X0002HXYON</td>
        <td>B004OWZXEI</td>
        <td>A_UK.wyatt</td>
    </tr>

    <tr>
        <td>70-SMP1000-BTKBBG,B004OWZXEI,2</td>
        <td>X0002IURHT</td>
        <td>B004OWZXEI</td>
        <td>A_UK.wyatt</td>
    </tr>

    <tr>
        <td>70-SMP1000-BTKBBG,B004P42G04</td>
        <td>X0002HXI03</td>
        <td>B004P42G04</td>
        <td>A_UK.wyatt</td>
    </tr>

    <tr>
        <td>71-APSL13-BG,B00433VI06</td>
        <td>X0002PBXK7</td>
        <td>B00433VI06</td>
        <td>A_UK.wyatt</td>
    </tr>

    <tr>
        <td>71-APSL15-BG,B00433PQRW</td>
        <td>X0002PBXJX</td>
        <td>B00433PQRW</td>
        <td>A_UK.wyatt</td>
    </tr>

    <tr>
        <td>71SMP3100-BPU</td>
        <td>X00047VTK7</td>
        <td>B0083QX8AW</td>
        <td>A_UK.wyatt</td>
    </tr>

    <tr>
        <td>71-SAMGT101-BPU</td>
        <td>X0003R3RNF</td>
        <td>B005QSWWUW</td>
        <td>A_DE.wyatt</td>
    </tr>

    <tr>
        <td>71ASTF700T-BPU</td>
        <td>X0004BX8K7</td>
        <td>B008HDH7Y4</td>
        <td>A_DE.wyatt</td>
    </tr>

    <tr>
        <td>71KDT-BPUL-2S,2</td>
        <td>X00040NIN5</td>
        <td>B007TR9VRU</td>
        <td>A_DE.wyatt</td>
    </tr>

    <tr>
        <td>71SMGT101-BPU</td>
        <td>X0003R4GH1</td>
        <td>B005QSWWUW</td>
        <td>A_DE.wyatt</td>
    </tr>

</table>


</body>
</html>

