#{extends 'main_full_v3.html'/}
#{set title:"SKU 利润分析" /}
#{set 'moreStyles'}
    #{stylesheet 'bootstrap3/dataTables.bootstrap.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'bootstrap3/jquery.dataTables.js'/}
    #{script 'bootstrap3/dataTables.bootstrap.js'/}
    #{script 'profits/index.coffee'/}
#{/set}

#{flash_alert /}
#{errorMsgs /}


<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <form action="@{Profits.index()}" method="post" class="form-inline" id="profits_form">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">From:</div>
              <input style="width:100px;" class="form-control" role="date" name="p.begin" value="${p.begin.date()}">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">To:</div>
              <input style="width:100px;" class="form-control" role="date" name="p.end" value="${p.end.date()}">
            </div>
          </div>
        #{select_enum name:'p.pmarket', items:models.market.M.values(), value:p.market, class: 'form-control'}
          <option value="market">Market</option>
          <option value="total">汇总</option>
        #{/select_enum}

          <select class="form-control" style="width:100px;" name="p.category">
            <option value="">Category</option>
          #{list items:categories, as:'c'}
            <option value="${c.categoryId}" ${p.category==c.categoryId?'selected':''}>${c.categoryId}</option>
          #{/list}
          </select>

          <div class="input-group">
            <div class="input-group-addon">SKU</div>
            <input id="unit_sku" name="p.sku" data-provide="typeahead" data-source="${skus}" value="${p?.sku}" class="form-control">
          </div>

          <button class="btn btn-primary" data-loading>搜索</button>
          <button class="btn btn-success" id="exceldown"><i class="icon-download-alt"></i> 导出Excel</button>
          <button class="btn btn-info" id="reportInventory">计算Inventory成本</button>
        </form>
      </div>
      <div class="box-body">
        <table id="profit" class="table table-condensed table-bordered">
          <thead>
          <tr>
            <th>SKU</th>
            <th>市场</th>
            <th>SKU总利润(USD)</th>
            <th>SKU利润率(%)</th>
            <th>SKU销售额(USD)</th>
            <th>亚马逊费用(USD)</th>
            <th>FBA费用(USD)</th>
            <th>SKU销量</th>
            <th>平均采购价(USD)</th>
            <th>平均运费单价(USD)</th>
            <th>关税和VAT单价(USD)</th>

            <th>(制作中+已交货)库存量</th>
            <th>在途库存量</th>
            <th>(入库+在库)库存量</th>
            <th>(制作中+已交货)库存占用资金总金额(USD)</th>
            <th>在途库存占用资金总金额(USD)</th>
            <th>(入库+在库)库存占用资金总金额(USD)</th>
            <th>备注</th>
          </tr>
          </thead>
          <tbody>
          #{list items:profits, as:'pro'}
          <tr>
            <td>${pro.sku}</td>
            <td>${pro.market?pro.market.label():"汇总"}</td>
            <td>${pro.totalprofit}</td>
            <td>${pro.profitrate}</td>
            <td>${pro.totalfee}</td>
            <td>${pro.amazonfee}</td>
            <td>${pro.fbafee}</td>
            <td>${pro.quantity.format("#")}</td>
            <td>${pro.procureprice}</td>
            <td>${pro.shipprice}</td>
            <td>${pro.vatprice}</td>
            <td>${pro.workingqty}</td>
            <td>${pro.wayqty}</td>
            <td>${pro.inboundqty}</td>
            <td>${pro.workingfee}</td>
            <td>${pro.wayfee}</td>
            <td>${pro.inboundfee}</td>
            <td>${pro.memo}</td>
          </tr>
          #{/list}
          </tbody>
        </table>
      </div>
    </div>

  #{records_v3 records:records/}
  </div>
</div>