#{info_row title:'Feedback 信息'/}
<div class="row-fluid">
#{list items:feedbacksOverView.keySet(), as:'feedbackKey'}
    <div class="span4">
        <table class="table table-bordered table-condensed">
            #{set t3:feedbacksOverView.get(feedbackKey)/}
            <tr>
                <th>${feedbackKey}</th>
                <th style="color:#219907">Positive</th>
                <th style="color:#98000B">Negative</th>
                <th>Count</th>
            </tr>
            <tr>
                <td>30</td>
                <td style="color:#219907">${((t3[0]._1 / (t3[0]._3 == 0 ? 1 : t3[0]._3)) * 100).format('.##')}%
                    (${t3[0]._1})
                </td>
                <td style="color:#98000B">${((t3[0]._2 / (t3[0]._3 == 0 ? 1 : t3[0]._3)) * 100).format('.##')}%
                    (${t3[0]._2})
                </td>
                <td>${t3[0]._3}</td>
            </tr>
            <tr>
                <td>90</td>
                <td style="color:#219907">${((t3[1]._1 / (t3[1]._3 == 0 ? 1 : t3[1]._3)) * 100).format('.##')}%
                    (${t3[1]._1})
                </td>
                <td style="color:#98000B">${((t3[1]._2 / (t3[1]._3 == 0 ? 1 : t3[1]._3)) * 100).format('.##')}%
                    (${t3[1]._2})
                </td>
                <td>${t3[1]._3}</td>
            </tr>
            <tr>
                <td>365</td>
                <td style="color:#219907">${((t3[2]._1 / (t3[2]._3 == 0 ? 1 : t3[2]._3)) * 100).format('.##')}%
                    (${t3[2]._1})
                </td>
                <td style="color:#98000B">${((t3[2]._2 / (t3[2]._3 == 0 ? 1 : t3[2]._3)) * 100).format('.##')}%
                    (${t3[2]._2})
                </td>
                <td>${t3[2]._3}</td>
            </tr>
            <tr>
                <td>ALL</td>
                <td style="color:#219907">${((t3[3]._1 / (t3[3]._3 == 0 ? 1 : t3[3]._3)) * 100).format('.##')}%
                    (${t3[3]._1})
                </td>
                <td style="color:#98000B">${((t3[3]._2 / (t3[3]._3 == 0 ? 1 : t3[3]._3)) * 100).format('.##')}%
                    (${t3[3]._2})
                </td>
                <td>${t3[3]._3}</td>
            </tr>
        </table>
    </div>
#{/list}
</div>