#{extends 'main_full.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
    #{script_cdn name: 'highstock.js'/}
    #{script_cdn name: 'Application/app.coffee'/}
#{/set}

#{info_row title:'FBA 仓库库存容量总览'/}
#{list items:fbaWhouse, as:'fba'}
<div class="row-fluid" style="margin-bottom:20px;">
${fba.capaticyContent.raw()}
</div>
#{/list}

#{render 'Application/_orderTable.html', dashborad: dashborad /}

<div class="row-fluid">
  <div class="span6" style="height:450px;" id='cat_percent'></div>
  <div class="span3" style="height:400px;" id='cat_percent_us'></div>
  <div class="span3" style="height:400px;" id='cat_percent_uk'></div>
</div>

<div class="row-fluid">
  <div class="span3" style="height:400px;" id='cat_percent_de'></div>
  <div class="span3" style="height:400px;" id='cat_percent_es'></div>
  <div class="span3" style="height:400px;" id='cat_percent_it'></div>
  <div class="span3" style="height:400px;" id='cat_percent_fr'></div>
</div>

