#{extends 'main_full_v3.html' /}
#{set title:'ERP更新记录' /}

<div class="box box-default">
  <div class="box-header with-border"><h3 class="box-title">ERP更新记录</h3></div>
  <div class="box-body">
    <ul class="timeline">
      <li class="time-label"><span class="bg-red">10 Sep. 2017</span></li>
      <li>
        <i class="fa fa-envelope bg-blue"></i>
        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
          <h3 class="timeline-header"><a href="#">全新页面UI</a> ...</h3>
          <div class="timeline-body">
            ERP系统由以前的Bootstrap2 升级到 Bootstrap3，因为涉及页面非常多，所以目前只改了访问量前20的页面,余下页面在随后时间会逐步替换
          </div>

          <div class="timeline-footer">
            <a class="btn btn-primary btn-xs" href="https://v3.bootcss.com/" target="_blank">详情</a>
            <a class="btn btn-success btn-xs" href="${url}/application/indexv3">开始使用</a>
          </div>
        </div>
      </li>

      <li class="time-label"><span class="bg-yellow">10 Sep. 2017</span></li>
      <li>
        <i class="fa fa-envelope bg-blue"></i>
        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
          <h3 class="timeline-header"><a href="#">程序猿奋笔疾书中.....</a> ...</h3>
          <div class="timeline-body">
            Coding...
          </div>

          <div class="timeline-footer">
            <a class="btn btn-primary btn-xs">...</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

