#{extends 'main_full.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
    #{script 'timeline/timeline_js/timeline-api.js' /}
#{/set}
<script type="text/javascript">
    var resizeTimerID = null;
    function onResize(){
        if(resizeTimerID == null){
            resizeTimerID = window.setTimeout(function(){
                resizeTimerID = null;
                tl.layout();
            }, 500);
        }
    }

    $(function(){

        var bandInfos = [
            Timeline.createBandInfo({
                width:"70%",
                intervalUnit:Timeline.DateTime.MONTH,
                intervalPixels:100
            }),
            Timeline.createBandInfo({
                width:"30%",
                intervalUnit:Timeline.DateTime.YEAR,
                intervalPixels:200
            })
        ];
        var tl = Timeline.create(document.getElementById("tl"), bandInfos);

        $('body').onResize = onResize
    });
</script>
<div id="tl" style="height:150px;"></div>

