<div class="row-fluid">
#{if lst != null}
  <div class="span12">
    <a target="_blank" href="${lst.asinLink()}"><i class="icon-external-link"></i> ${lst.asin}
    </a>|
    <a target="_blank" href="@{Listings.listing(lst.listingId)}">${lst.listingId}</a>
    <span class="badge badge-info">Rating (${lst.rating})</span>|
    <span class="badge badge-info">Offer (${lst.offers.size()})</span>
    <span class="badge badge-info">Reviews (${savedReviews.size()})</span>
  </div>
#{/if}
</div>
<table class="table table-condensed table-bordered">
  <tr>
    <th>Up/Click</th>
    <th>Ve</th>
    <th width="auto" rel="popover" placement="right" content="<img src='/helper/vineVoice.png'>">
      Vi
    </th>
    <th width="auto" rel="popover" placement="right" content="<img src='/helper/purchase.png'>">
      P
    </th>
    <th width="auto" rel="popover" placement="right" content="<img src='/helper/realName.png'>">
      N
    </th>
    <th width="auto" rel="popover" placement="right" content="<img src='/helper/rating.png'>">
      Rating
    </th>
    <th width="500" rel="popover" placement='bottom' content="<img src='/helper/topN.png'>">#
      Title
    </th>
    <th width="170">UserId</th>
    <th width="170">ReviewId</th>
    <th>Reviewer</th>
    <th>ReviewDate</th>
    <th>SKU</th>
  </tr>
#{list items:savedReviews, as:'r'}
  <tr drop="${r.reviewId}" style="${r.isRemove ? 'background:#C09853;': ''}">
    <td>${r.helpUp}/${r.helpClick}</td>
    <td>#{yesOrNo f:r.isVedio /}</td>
    <td>#{yesOrNo f:r.isVineVoice /}</td>
    <td>#{yesOrNo f:r.purchased /}</td>
    <td>#{yesOrNo f:r.isRealName /}</td>
    <td style="background-color:${r.rating.color()}">${r.rating}</td>
    <td style="cursor:pointer;background:${r.color()}" data-toggle="toggle" data-target="#review_${r.reviewId}">
      <span class="badge badge-inverse">${r.length()}</span>
        #{if r.isWithinTop1000()}
          <span class="badge badge-success">Top ${r.topN}</span>
        #{/if}
      | ${r.title}
    </td>
    <td>
        #{if r.reviewRecords.size() > 0}
          <span class="badge badge-warning">${r.reviewRecords.size()}</span>
        #{/if}
      <a href="${r.userReviewLink()}" target="_blank"><i class="icon-external-link"></i> ${r.userid}
      </a>
    </td>
    <td>
      <span class="badge badge-inverse" id='accleft_${r.reviewId}'>?</span>
      <a href="${r.reviewLink()}" target="_blank"><i class="icon-external-link"></i> ${r.reviewId}
      </a>
    </td>
    <td>${r.username}</td>
    <td>${r.reviewDate.date()}</td>
    <td>${r.listing.product?.sku}</td>
  </tr>
  <tr id="review_${r.reviewId}" style="display:none;">
    <td colspan="12">
      <ul class="nav nav-tabs" style="margin-bottom:3px;">
        <li class="active"><a href="#info_${r.reviewId}" data-toggle="tab">Info</a></li>
        <li><a href="#records_${r.reviewId}" data-toggle="tab">Records</a></li>
      </ul>
      <div class="tab-content">

        <div class="tab-pane fade in active" id="info_${r.reviewId}">
          <div class="row-fluid">
            <div class="span6">
              <h3>${r.title}</h3>

                #{if r.isVedio}
                  <p><img src="${r.vedioPicUrl}"></p>
                #{/if}

              <p class="review">${r.review}</p>
            </div>
            <div class="span6">
              <p>
                <button class="btn btn-primary trans">
                  <i class="icon-external-link"></i> E
                </button>
                <button class="btn btn-success makeUp">
                  <i class="icon-thumbs-up"></i>
                </button>
                <button class="btn btn-danger makeDown">
                  <i class="icon-thumbs-down"></i>
                </button>
              </p>
              <div id="after_${r.reviewId}" style="word-break:break-all;"></div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="records_${r.reviewId}">
          <table class="table table-condensed">
            <tr>
              <th>#</th>
              <th>Click Acc</th>
              <th>Click User</th>
              <th>Click At</th>
            </tr>
              #{list items:r.reviewRecords, as:'red'}
                <tr>
                  <td>${red.id}</td>
                  <td>${red.account.prettyName()}</td>
                  <td>${red.username}</td>
                  <td>${red.createAt.datetime()}</td>
                </tr>
              #{/list}
          </table>
        </div>
      </div>
    </td>
  </tr>
#{/list}
</table>
