#{extends 'main_full.html'/}
#{set title:'AmazonReview Click Page'/}
#{set 'moreScripts'}
    #{script_cdn name: 'amazonoperations/index.coffee'/}
#{/set}

<div class="row-fluid">

    <div class="span2 well">
        <div>
            <div id='search_form'>
                <select name="m" style="width:60px;">
                    <option value="ade">DE</option>
                    <option value="auk">UK</option>
                    <option value="afr">FR</option>
                    <option value="aus">US</option>
                    <option value="ait">IT</option>
                    <option value="ajp">JP</option>
                    <option value="aca">CA</option>
                </select>
                <select name="orderby" style="width:80px;">
                    <option value="rating">Rating</option>
                    <option value="reviewDate">Date</option>
                </select>

                <div class="input-append">
                    <input id="load_asin" data-provide="typeahead" data-source="${asins}" name="asin" class="span8" type="text" placeHolder="输入 ASIN">
                    <button id='load_review_btn' class="btn btn-success">
                        <i class="icon-circle-arrow-right"></i>
                    </button>
                </div>

                <p class="help-block">一个神奇的搜索框框</p>
            </div>
        </div>

        <hr>

        <div style="min-height:600px;">
        #{info_row title:'帮助'}
            <ul>
                <li>背景为 <span style="background:#C09853;">这个颜色</span> 表示此 Review 已经被删除</li>
            </ul>
        #{/info_row}
        </div>
    </div>


    <div class="span10 well" style="min-height:750px;">
        <ul id="tabs" class="nav nav-tabs">
            <li class="active">
                <a href="#review_list" data-toggle="tab">Review 列表</a>
            </li>
            <li>
                <a href="#review_table" data-toggle="tab">Review 表格</a>
            </li>
            <li>
                <a href="#wish_list" data-toggle="tab">WishList 列表</a>
            </li>
        </ul>

        <div id="tab_content" class="tab-content">
            <div id="review_list" class="tab-pane fade active in">
                <div style="margin-bottom:5px;">
                    <button id="recrawl_review" class="btn btn-primary">Review 重抓</button>
                    <button id="recrawl_listing" class="btn btn-primary">Listing 重抓</button>
                    <button id="click_like" class="btn btn-primary">点击 Like</button>
                    <button id="check_left_clicks" data-loading-text="可点击数计算完成" class="btn btn-primary">检查
                        Review 可点击数
                    </button>
                </div>
                <div id="reviews">
                    Waiting for you  ^.^ 
                </div>
            </div>
            <div id="review_table" class="tab-pane fade in"></div>
            <div id="wish_list" class="tab-pane fade in"></div>
        </div>
    </div>
</div>
