<div class="row">
  <div class="box box-warning">
    <div class="box-header">
      <button class="btn btn-warning" id="img_cal" content="图片按照 0~8 设置好编号以后,点击此按钮更新到AMAZON." placement='bottom'
              rel="popover">AMZ图片更新
      </button>
    </div>
    <div class="box-body">
      <div class="col-sm-12" id="images" sku='${s.merchantSKU.split(",")[0]}'>

      </div>
      <div class="input-prepend span12">
        <input type="hidden" class="span10" name="s.aps.imageName" readonly value="${s.aps.imageName}">
      </div>
    </div>
  </div>
</div>