<div class="row-fluid">
#{form @Products.saleAmazonListing(), class: 'form-horizontal', id: 'saleAmazonForm'}
  <div class="span5">
      #{text_field id:'msku', name: 's.merchantSKU', readonly: true, label: 'Merchant SKU', value: product.sku+","+product.upc/}
      #{text_field id:'upc', name: 's.aps.upc', label: 'UPC', value: product.upc, readonly: true /}
      #{text_field id:'manufacturer', name: 's.aps.manufacturer', label: 'Manufacturer', value: 'EasyAcc' /}
      #{text_field id:'brand', name: 's.aps.brand', label: '品牌', value: 'EasyAcc'/}
      #{text_field id:'standerPrice', name: 's.aps.standerPrice', label: '标准价格', value: '' /}
      #{text_field id:'startDate', name: 's.aps.startDate', label: '优惠价格开始日期',  value: '2013-12-01' /}
      #{text_field id:'RBN', name: 's.aps.rbns[]', label: 'Recommanded Browser Nodes',  value: '' /}
      #{text_field id:'itemType', name: 's.aps.itemType', label: 'ItemType',  value: '' /}
      #{checkbox_wrap id:'giftwrap', label: '附加选项'}
        <label class="checkbox">
          <input type="checkbox" id='giftwrap' checked name="s.aps.isGiftWrap" value="true">
          GiftWrap
        </label>
      #{/checkbox_wrap}
  </div>
  <div class="span5">
      #{select_field id:'account', name: 's.account.id', label: '上架账户', blank: true, items: accs /}
      #{select_field id:'market', name: 's.market', label:'市场', blank: true, items: models.market.M.values() /}
      #{select_field id: 'templateType', name: 's.aps.templateType', label: '模板类型', items: ['Computers',
      'ConsumerElectronics', 'Wireless', 'HomeImprovement','Home', 'Games', 'Sports', 'Lighting']/}
      #{select_field id:'feedProductType', name: 's.aps.feedProductType', label: 'Feed Product Type', items:null /}
      #{text_field id:'salePrice', name: 's.aps.salePrice', label: '优惠销售价格', value: '' /}
      #{text_field id:'endDate', name: 's.aps.endDate', label: '优惠价格截止日期', value: '2018-01-01' /}
      #{text_field id:'partNumber',readonly: true, name: 's.aps.manufacturerPartNumber', label: 'Part Number', value: product.partNumber /}
      #{text_field id:'fnSku', name: 's.fnSku', label: 'FBA 的 FNSKU', value: s.fnSku /}
    <div class="control-group">
      <label class="control-label" for="sellingCycle">生命周期</label>

      <div class="controls">
        <select name="s.sellingCycle" class="span10">
            #{list items:models.market.Selling.SC.values(), as: 'cycle'}
              <option value="${cycle}" ${cycle == s.sellingCycle? 'selected':''}>${cycle.label()}</option>
            #{/list}
        </select>
      </div>
    </div>
  </div>

  <div class="span5" style="text-align:right;">
      #{input_append /}
  </div>

  <div class="span10">
      #{textarea_field id:'title', name: 's.aps.title', rows: 3, label: '标题', value: '' /}
  </div>

  <div class="span10">
    <div id="hardwarePlatformHome" style="display: none">
        #{text_field id:'hardwarePlatform1', name: 's.aps.hardwarePlatformss[0]', label: 'Hardware Platform 1~5', value: '' /}
         #{text_field id:'hardwarePlatform2', name: 's.aps.hardwarePlatformss[1]', label: '', value: '' /}
         #{text_field id:'hardwarePlatform3', name: 's.aps.hardwarePlatformss[2]', label: '', value: '' /}
         #{text_field id:'hardwarePlatform4', name: 's.aps.hardwarePlatformss[3]', label: '', value: '' /}
         #{text_field id:'hardwarePlatform5', name: 's.aps.hardwarePlatformss[4]', label: '', value: '' /}
    </div>

      #{text_field id:'bulletPoint1', name: 's.aps.keyFeturess[0]', label: 'BulletPoint 1~5',  value: ''/}
      #{text_field id:'bulletPoint2', name: 's.aps.keyFeturess[1]', label: '', value: '' /}
      #{text_field id:'bulletPoint3', name: 's.aps.keyFeturess[2]', label: '', value: ''/}
      #{text_field id:'bulletPoint4', name: 's.aps.keyFeturess[3]', label: '', value: ''/}
      #{text_field id:'bulletPoint5', name: 's.aps.keyFeturess[4]', label: '', value: ''/}

      #{text_field id:'searchTerms1', name: 's.aps.searchTermss[0]', label: 'SearchTerms 1~5', value: ''/}
      #{text_field id:'searchTerms2', name: 's.aps.searchTermss[1]', label: '', value: ''/}
      #{text_field id:'searchTerms3', name: 's.aps.searchTermss[2]', label: '', value: ''/}
      #{text_field id:'searchTerms4', name: 's.aps.searchTermss[3]', label: '', value: ''/}
      #{text_field id:'searchTerms5', name: 's.aps.searchTermss[4]', label: '', value: ''/}
      #{textarea_field id:'productDesc', name: 's.aps.productDesc', rows: 10, label: '产品详细描述', value: '' /}
  </div>
  <div class="offset1 span9" id="previewDesc"></div>
#{/form}

#{include 'Sellings/_invalid_characters.html'/}
</div>

<input type="hidden" id="upc_init" value="${product.upc}"/>
<input type="hidden" id="partNumber_init" value="${product.partNumber}"/>
<input type="hidden" id="upc_jp" value="${product.upcJP}"/>
<input type="hidden" id="partNumber_jp" value="${product.partNumberJP}"/>


#{tsp_show_template /}