#{extends 'main_full_v3.html' /}
#{set title:'Selling列表' /}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
    #{script 'sellings/index.coffee'/}
#{/set}

#{flash_alert /}
#{errorMsgs /}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <form action="@{Sellings.index()}" method="POST" class="form-inline" id="search_form">
          <div class="row-fluid">
            <div class="form-group">
              <p class="form-control-static">feed更新状态</p>
              <select style="width:120px;" name="p.analyzeResult" class="form-control">
                <option value="">全部</option>
                <option value="成功">成功</option>
                <option value="失败">失败</option>
                <option value="更新中">更新中</option>
              </select>
            </div>

            <div class="form-group">
              <p class="form-control-static">市场</p>
              <select name="p.market" style="width:120px;" class="form-control">
                <option value="">ALL</option>
              #{list items:models.market.M, as:'m'}
                <option value="${m.name()}" #{if m.name()==p.market?.name()} selected #{/if}>${m.name()}</option>
              #{/list}
              </select>
            </div>

            <div class="form-group">
              <p class="form-control-static">系统内上架</p>
              <select name="p.systemUp" class="form-control" style="width:80px;">
                <option value="">ALL</option>
                <option value="是" #{if "是".equals(p.systemUp)} selected #{/if}>是</option>
                <option value="否" #{if "否".equals(p.systemUp)} selected #{/if}>否</option>
              </select>
            </div>

            <div class="form-group">
              <p class="form-control-static">生命周期</p>
              <select name="p.sellingCycle" style="width:120px;" class="form-control">
                <option value="">ALL</option>
              #{list items:models.market.Selling.SC, as:'s'}
                <option value="${s.name()}" #{if s.name()==p.sellingCycle?.name()} selected #{/if}>${s.label()}</option>
              #{/list}
              </select>
            </div>

            <div class="form-group">
              <p class="form-control-static">品线</p>
              <select name="p.categoryid" style="width:80px;" class="form-control">
                <option value="">ALL</option>
              #{list items:categoryList, as:'c'}
                <option value="${c}" #{if c==p.categoryid} selected #{/if}>${c}</option>
              #{/list}
              </select>
            </div>

            <div class="input-group">
              <div class="input-group-addon">关键字</div>
              <input class="form-control" style="width:200px;" name="p.keywords" value="${p.keywords}" placeHolder="sellingID/SKU/ASIN"/>
              <input type="hidden" name="p.page" value="${p.page}">
            </div>
            <button class="btn btn-primary" data-loading="提交中...">搜索</button>
            <a href="@{Sellings.createSelling()}" class="btn btn-success">创建Selling</a>
            <a href="javascript:void(0);" id="batchDown" data-uri="" class="btn btn-warning">批量系统内下架</a>

          </div>
        </form>
      </div>

      <div class="box-body">
      #{include '/Sellings/_selling_list.html', sellings: sellings/}
      </div>
      <div class="box-footer clearfix">
      #{bootstrap_pager_v3 pi:p, url:'' /}
      </div>
    </div>
  </div>
</div>