#{extends 'main_full.html' /}
#{set title:'Selling列表' /}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
    #{script 'sellings/index.coffee'/}
#{/set}

#{flash_alert /}

<form action="@{Sellings.index()}" method="POST" class="search_form" id='search_form'>
  <div class="row-fluid">
    <div class="span12">
      <div class="input-prepend inline">
        <span class="add-on">feed更新状态</span>
        <select style="width:180px;" name="p.analyzeResult">
          <option value="">全部</option>
          <option value="成功">成功</option>
          <option value="失败">失败</option>
          <option value="更新中">更新中</option>
        </select>
      </div>
      <div class="input-prepend inline">
        <span class="add-on">市场</span>
        <select name="p.market" style="width:120px;">
          <option value="">ALL</option>
        #{list items:models.market.M, as:'m'}
          <option value="${m.name()}" #{if m.name()==p.market?.name()} selected #{/if}>${m.name()}</option>
        #{/list}
        </select>
      </div>
      <div class="input-prepend inline">
        <span class="add-on">系统内上架</span>
        <select name="p.systemUp">
          <option value="">ALL</option>
          <option value="是" #{if "是".equals(p.systemUp)} selected #{/if}>是</option>
          <option value="否" #{if "否".equals(p.systemUp)} selected #{/if}>否</option>
        </select>
      </div>
      <div class="input-prepend inline">
        <span class="add-on">生命周期</span>
        <select name="p.sellingCycle">
          <option value="">ALL</option>
        #{list items:models.market.Selling.SC, as:'s'}
          <option value="${s.name()}" #{if s.name()==p.sellingCycle?.name()} selected #{/if}>${s.label()}</option>
        #{/list}
        </select>
      </div>
      <div class="input-prepend inline">
        <span class="add-on">品线</span>
        <select name="p.categoryid">
          <option value="">ALL</option>
        #{list items:categorys, as:'c'}
          <option value="${c}" #{if c==p.categoryid} selected #{/if}>${c}</option>
        #{/list}
        </select>
      </div>
      <div class="input-prepend inline">
        <span class="add-on">关键字</span>
        <input type="text" style="width:200px;" name="p.keywords" value="${p.keywords}" placeHolder="sellingID/SKU/ASIN"/>
      </div>

      <div class="input-append input-prepend inline">
        <button data-url='@{Shipments.index()}' class="btn btn-primary" data-disable-with='提交中...'>搜索</button>
        &nbsp;
      </div>
      <div class="input-append input-prepend inline">
        <a href="@{Sellings.createSelling()}" class="btn btn-success">创建Selling</a>
      </div>

      <input type="hidden" name="p.page" value="${p.page}">
    </div>
  </div>
</form>

<div class="row-fluid" style="overflow-x:auto;">
  <table class="table table-bordered table-condensed">
    <tr>
      <th><input type="checkbox" class="checkall"></th>
      <th>编号</th>
      <th width="360px;">SellingID</th>
      <th>SKU</th>
      <th>市场</th>
      <th>实时价格</th>
      <th>ASIN</th>
      <th>生命周期</th>
      <th>系统内上架</th>
      <th>feed更新时间</th>
      <th>feed更新状态</th>
      <th>创建时间</th>
      <th>系统内下架时间</th>
      <th>操作</th>
    </tr>
  #{list items:sellings , as:'s'}
    <tr>
      <td>
          #{if !s.state.name().equals("DOWN")}
            <input type="checkbox" value="${s.sellingId}">
          #{/if}
      </td>
      <td>${(p.page-1)*p.perSize + s_index}</td>
      <td><a href="@{Sellings.selling(s.sellingId)}" target="_blank">${s.sellingId}</a></td>
      <td>${s.listing?.product?.sku}</td>
      <td>${s.market.countryName()}</td>
      <td>${s.aps.salePrice}</td>
      <td>${s.asin}</td>
      <td>${s.sellingCycle?.label()}</td>
      <td>${s.state.name().equals("DOWN") ? '否' : '是'}</td>
      <td>#{time_tooltip time:s.recentlyFeed()?.createdAt, datetime:true/}</td>
      <td>${s.recentlyFeed()?.analyzeResult}</td>
      <td>#{time_tooltip time:s.createDate, datetime:true /}</td>
      <td>#{time_tooltip time:s.showDownDate(), datetime:true /}</td>
      <td>
        <a href="javascript:void(0);" class="btn btn-mini btn-danger" rel="popover" title="删除" name='remove'
           data-url='@{Sellings.destroy(s.sellingId)}'>Del</a>
        <a href="@{Sellings.selling(s.sellingId)}" class="btn btn-mini btn-info">Edit</a>
          #{if !s.state.name().equals("DOWN")}
            <button class="btn btn-mini btn-warning" name="amz-sync" content="从 Amazon 同步回来更新到数据库" placement='bottom'
                    data-sid="${s.sellingId}" rel="popover" title="Sync From Amazon Button">Sync
            </button>
          #{/if}
        <a href="@{ProcureUnits.blank(s.sellingId)}" target="_blank" class="btn btn-mini btn-inverse" rel="popover"
           title="创建采购计划">Create</a>
      </td>
    </tr>
  #{/list}
    <tr class="tb_footer">
      <td colspan="14">
      #{bootstrap_pager pi:p, url:'' /}
      </td>
    </tr>
  </table>
</div>
<a href="javascript:void(0);" id="batchDown" data-uri="" class="btn btn-warning">批量系统内下架</a>

