#{if s.id > 0}
<form action="@{Servers.update()}" method="POST">
    <input type="hidden" name="s.id" value="${s.id}">
#{/if}
#{else }
<form action="@{Servers.create()}" method="POST">
#{/else}
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Server Name</th>
            <td>
                <input type="text" name="s.name" class="input" value="${s.name}">
            </td>
        </tr>

        <tr>
            <th>UserName</th>
            <td>
                <input type="text" name="s.username" class="input" value="${s.username}">
            </td>
        </tr>

        <tr>
            <th>Password</th>
            <td>
                <input type="text" name="s.password" class="input" value="${s.password}">
            </td>
        </tr>

        <tr>
            <th>Type</th>
            <td>
            #{pickServerType name:'s.type', t:s.type/}
            </td>
        </tr>

        <tr>
            <th>Ratio</th>
            <td>
                <input type="text" name="s.ratio" class="input input-mini" value="${s.ratio}">
            </td>
        </tr>

        <tr>
            <th>URL</th>
            <td>
                <input type="text" name="s.url" class="input" value="${s.url}">
            </td>
        </tr>

        <tr>
            <th>IP</th>
            <td>
                <input type="text" name="s.ipAddress" class="input" value="${s.ipAddress}">
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button class="btn btn-primary">${s.id > 0 ? '更新' : '创建'}</button>
            </td>
        </tr>
    </table>
</form>