#{extends 'main_fluid.html'/}
#{set title:'服务器管理'/}
#{set 'moreScripts'}
    #{script 'servers/index.js'/}
#{/set}

<table class="table table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Raito</th>
        <th>Type</th>
        <th>URL</th>
        <th>&nbsp;</th>
    </tr>
#{list items:sers, as:'s'}
    <tr>
        <td>
            <input type="hidden" name="s.id" value="${s.id}">${s.id}
        </td>
        <td><input type="text" name="s.name" value="${s.name}"></td>
        <td><input type="text" name="s.username" value="${s.username}"></td>
        <td><input type="text" name="s.password" value="${s.password}"></td>
        <td><input type="text" class="span1" value="${s.ratio}"></td>
        <td>
            #{select name:'s.type', items:models.Server.T.values(), value:s.type}#{/select}
        </td>
        <td>
            <input type="text" class="span6" value="${s.url}">
        </td>
        <td>
            <a href="#" class="btn" sid='${s.id}'>更新</a>
        </td>
    </tr>
#{/list}
</table>