<h2>系统内 Product 产品图片检查</h2>
<div>
    <p>已经 SKU 的产品图片不足 4 张, 需要对这些产品的图片进行补全, 然后才能在系统的 Selling 页面进行图片的上传,更新等等操作.</p>
    <p>请将点击 SKU 的链接, 进行图片的补全.</p>
</div>
<table>
    <tr>
        <th>SKU</th>
        <th>Day1</th>
        <th>Day7</th>
        <th>Day30</th>
        <th>Pics</th>
        <th>Sellings</th>
    </tr>
    #{list items:productAndSellT2s, as:'t2'}
    #{set prod:t2._1/}
    #{set sell:t2._2/}
    <tr>
        <td><a href="@@{Products.show(prod.sku)}" target="_blank">${prod.sku}</a></td>
        <td>${sell.d1}</td>
        <td>${sell.d7}/${(sell.d7 / 7).format("#.##")}</td>
        <td>${sell.d30}/${(sell.d30 / 30).format("#.##")}</td>
        <td>${prod.pictureCount()}</td>
        #{set sellings:prod.sellingCount() /}
        <td>
            #{list items:sellings, as:'s'}
            <a href="@@{Sellings.selling(s.sellingId)}" target="_blank">${s.sellingId}</a><br/>
            #{/list}
        </td>
    </tr>
    #{/list}
</table>