<table class="table table-condensed table-bordered dataTable" id="unit_table">
  <tr>
  #{if materialUnitsIndex}
    <th width="20px;">
      <input type="checkbox" id="checkbox_all" class="checkall" value="">
    </th>
  #{/if}
    <th width="40px;">#</th>
    <th width="60px;">阶段</th>
    <th width="240px;">物料编码</th>
    <th width="250px;">物料名称</th>
    <th>工厂物料代码</th>
    <th width="95px;">物料采购单</th>
    <th width="100px;">供应商</th>
    <th width="70px;">采购数</th>
    <th width="80px;">单价</th>
    <th width="100px;">总价</th>
    <th width="70px;">采购余量</th>
  #{if materialUnitsIndex}
    <th width="30px;">Action</th>
  #{/if}
    <th width="70px;">项目名称</th>
    <th width="60px;">创建人</th>
    <th width="90px;">创建时间</th>
  </tr>
#{list items:units, as:'unit'}
  <tr id="procureUnit_${unit.id}">
      #{if materialUnitsIndex}
        <td>
          <input type="checkbox" name="pids" value="${unit.id}" project="${unit.projectName}" cooper="${unit.cooperator?.id}">
        </td>
      #{/if}
    <td data-toggle="toggle" data-target="#${tr_key}_${unit.id}" style="cursor:pointer;">${unit.id}</td>
    <td style="background:${unit.stage?.rgb()}">${unit.stage.label()}</td>
    <td>${unit.material?.code}${str}</td>
    <td data-toggle="tooltip" title="${unit.material?.name}">${unit.material?.name?.xxLong()}</td>
    <td>${unit.material?.version}</td>
    <td><a href="@{MaterialPurchases.show(unit.materialPurchase?.id)}" target="_blank">${unit.materialPurchase?.id}</a></td>
    <td>${unit.cooperator?.name}</td>
    <td>${unit.planQty}</td>
    <td>${unit.planCurrency?.symbol()} ${unit.planPrice}</td>
    <td>${unit.planCurrency?.symbol()} ${unit.totalAmount().format('#,###.##')}</td>
    <td>
      <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="出货可用数">${unit.material?.surplusConfirmQty(cooperId)}</a>
    </td>
      #{if materialUnitsIndex}
        <td>
          <a href="javascript:void(0)" name="unitUpdateBtn" class="btn btn-xs btn-primary" uid="${unit.id}">修改</a>
        </td>
      #{/if}
    <td>${unit.projectName}</td>
    <td>${unit.handler?.username}</td>
    <td>#{time_tooltip_v3 time:unit.createDate/}</td>
  </tr>
#{/list}
</table>
