#{extends 'main_full_v3.html'/}
#{set title:'库存异动记录(' + p.totalCount + ')'/}
#{set 'moreStyles'}
    #{stylesheet 'bootstrap-multiselect.css'/}
#{/set}
#{set 'moreScripts'}
    #{script 'bootstrap-multiselect.js'/}
    #{script 'component/pagination.coffee'/}
    #{script 'stockrecords/index.es6'/}
#{/set}

#{flash_alert /}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <form action="@{StockRecords.index()}" class="form-inline" id="payments_form">
        <div class="box-header with-border">
          <div class="row-fluid">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">From:</div>
                <input style="width:100px;" class="form-control" role="date" name="p.from" value="${p.from.date()}">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">To:</div>
                <input style="width:100px;" class="form-control" role="date" name="p.to" value="${p.to.date()}">
              </div>
            </div>

            <select name="p.whouse.id" class="form-control">
              <option value="">仓库</option>
            #{list items:whouses, as:'whouse'}
              <option ${whouse.id == p.whouse?.id ? 'selected' : ''} value="${whouse.id}">
              ${whouse.name}
              </option>
            #{/list}
            </select>

            <select name="p.cooperatorId" class="form-control selectize" style="width:150px;">
              <option value="">供应商</option>
            #{list items:cooperators, as:'cop'}
              <option ${cop.id == p.cooperatorId ? 'selected' : ''} value="${cop.id}">${cop.name}</option>
            #{/list}
            </select>

            <select name="p.typeList" class="form-control" multiple="multiple" id="type_select">
            #{list items:models.whouse.StockRecord.T.values(), as:'t'}
              <option value="${t.name()}" ${p.typeList.contains(t.name()) ? 'selected' : ''}>${t.label()}</option>
            #{/list}
            </select>

            <div class="input-group">
              <div class="input-group-addon"><i class="icon-search"></i></div>
              <input class="form-control" name="p.search" style="width: 180px;" value="${p.search}" placeHolder="SKU,采购计划ID,FBA">
            </div>

            <button class="btn btn-primary" data-loading>搜索</button>
            <input type="hidden" name="p.page" value="${p.page}">

            <a href="javascript:void(0)" data-url="@{Excels.stockRecords(p)}" data-target="_blank" class="btn btn-success"
               id="exportBtn">导出</a>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-condensed table-bordered">
            <tr>
              <th>仓库</th>
              <th width="60px;">采购ID</th>
              <th>Selling</th>
              <th>SKU</th>
              <th>FBA</th>
              <th>FBA 仓库</th>
              <th>供应商</th>
              <th width="45px;" data-toggle="tooltip" title="运输方式">运输</th>
              <th>项目名称</th>
              <th width="145px;">异动时间</th>
              <th>异动数量</th>
              <th>异动类型</th>
              <th>异动类别</th>
              <th>来源记录ID</th>
              <th>操作人</th>
            </tr>
          #{list items: records, as: 'r'}
            <tr>
              <td>${r.whouse?.name}</td>
              <td>
                <a href="@{ProcureUnits.detail(r.unit?.id)}#${r.unit?.id}" target="_blank">${r.unit?.id}</a>
              </td>
              <td>${r.unit?.selling?.sellingId}</td>
              <td>
                <a target="_blank" href="@{Products.show(r.unit?.sku)}" data-toggle="tooltip"
                   title="${r.unit?.product?.abbreviation}">${r.unit?.sku}</a>
              </td>
              <td>${r.unit?.fba?.shipmentId}</td>
              <td>${r.unit?.whouse?.name}</td>
              <td>${r.unit.cooperator?.name}</td>
              <td style="color:${r.unit?.shipType?.rgb()}">${r.unit?.shipType?.label()}</td>
              <td>${r.unit?.projectName}</td>
              <td>#{time_tooltip_v3 time: r.createDate, datetime: true/}</td>
              <td>${r.qty}</td>
              <td>${r.type.label()}</td>
              <td>
                  #{if r.type == models.whouse.StockRecord.T.Unqualified_Transfer}
                  ${r.inboundType?.label()}
                  #{/if}
                  #{else }${r.category?.label()}#{/else}
              </td>
              <td>
                <a href="${r.showRecordLink()}" target="_blank">${r.type.label()}记录 ${r.recordId}</a>
              </td>
              <td>${r.creator?.username}</td>
            </tr>
          #{/list}
          </table>
        </div>
        <div class="box-footer">
        #{if records.size() == 0}
          暂时还没有库存异动记录
        #{/if}
        #{else }
            #{bootstrap_pager_v3 pi:p, url:'' /}
        #{/else}
        </div>
      </form>
    </div>
  </div>
</div>

