<table class="table table-condensed table-bordered">
    <tr>
        <th>SKU</th>
        <th id="total" rel="popover" content="包含 '总' 的为所有数据外, 其余的数据都是根据时间段所计算"><i class="icon-question-sign"></i>
            总 ${tab} 数
            <i class="icon-sort-down"></i></th>
        <th id="negtive">负评个数 <i class="icon-sort-down"></i></th>
        <th id="historyNegtive">历史负评数 <i class="icon-sort-down"></i></th>
        <th id="success">成功数 <i class="icon-sort-down"></i></th>
        <th id="successRatio">成功比率 <i class="icon-sort-down"></i></th>
        <th id="s1"><i class="icon-star"></i> * 1 <i class="icon-sort-down"></i></th>
        <th id="s2"><i class="icon-star"></i> * 2 <i class="icon-sort-down"></i></th>
        <th id="s3"><i class="icon-star"></i> * 3 <i class="icon-sort-down"></i></th>
        <th id="s4"><i class="icon-star"></i> * 4 <i class="icon-sort-down"></i></th>
        <th id="s5"><i class="icon-star"></i> * 5 <i class="icon-sort-down"></i></th>
        <th id="sales">总销量 <i class="icon-sort-down"></i></th>
        <th id="negtiveRatio">负平比率 <i class="icon-sort-down"></i></th>
    </tr>

#{list items:tickets, as:'rv'}
    <tr>
        <td>${rv.fid}</td>
        <td>${rv.total}</td>
        <td>${rv.negtive}</td>
        <td>${rv.historyNegtive}</td>
        <td style="background:${rv.success > 0 ? '#A9ED00' : '#fff'}">${rv.success}</td>
        <td style="background:${rv.successRatio >= 1 ? '#00ED7E' : '#fff'}">${rv.successRatio.format('#.###')}</td>
        <td>${rv.s1}</td>
        <td>${rv.s2}</td>
        <td>${rv.s3}</td>
        <td>${rv.s4}</td>
        <td>${rv.s5}</td>
        <td>${rv.sales}</td>
        <td>${rv.negtiveRatio.format('#.#####')}</td>
    </tr>
#{/list}
</table>