#{extends 'main_full.html'/}
#{set title:'Ticket 的分析页面'/}
#{set 'moreScripts'}
    #{script 'ticketAnalyzes/index.coffee'/}
#{/set}

<div class="row-fluid">
    <div id="param_form" class="input-prepend span5">
        <span class="add-on">From</span>
        <input name="from" type="date" style="width:100px;">
        <span class="add-on">To</span>
        <input name="to" type="date" style="width:100px;">
        <button id="do_cal" class="btn btn-primary">计算</button>
    </div>
</div>

<div>
    <ul class="nav nav-tabs" style="margin-bottom:10px;">
        <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
        <li><a href="#feedbacks" data-toggle="tab">Feedbacks</a></li>
    </ul>

    <div class="tab-content">
        <div id="reviews" class="tab-pane fade in active">
            Review 的分析数据
        </div>
        <div id="feedbacks" class="tab-pane fade">
            Feedback 的分析数据
        </div>
    </div>
</div>
