#{extends 'main_full.html'/}
#{set title:'Ticket 的分析页面'/}
#{set 'moreStyles'}
    #{stylesheet 'ticketAnalyzes.css'/}
#{/set}
<div class="row-fluid">
    <table class="table table-bordered table-condensed">
        <tr>
            <th colspan="2">等待回信(${new Date().date()})</th>
        </tr>
        <tr>
            <td>类型</td>
            <td>等待回复</td>
        </tr>
        <tr>
            <td>Ticket</td>
            <td>${ticketsWaitForReply}</td>
        </tr>
        <tr>
            <td>Review</td>
            <td>${reviewsWaitForReply}</td>
        </tr>
        <tr>
            <td>Feedback</td>
            <td>${feedbacksWaitForReply}</td>
        </tr>
    </table>
</div>

<div class="row-fluid">
    <table class="table table-bordered table-condensed">
        <tr>
            <th colspan="5">90 天内处理情况</th>
        </tr>
        <tr>
            <td class="label_td text-success" rowspan="4">处理成功</td>
            <td>类型</td>
            <td>数量</td>
            <td>百分比</td>
            <td>总数</td>
        </tr>
        <tr>
        #{set ticket: day90SuccInfo.get("ticket")/}
            <td>Ticket</td>
            <td>${ticket._1}</td>
            <td>${ticket._3.format("#.##%")}</td>
            <td>${ticket._2}</td>
        </tr>
        <tr>
        #{set review: day90SuccInfo.get("review")/}
            <td>Review</td>
            <td>${review._1}</td>
            <td>${review._3.format('#.##%')}</td>
            <td>${review._2}</td>
        </tr>
        <tr>
        #{set feedback: day90SuccInfo.get("feedback")/}
            <td>Feedback</td>
            <td>${feedback._1}</td>
            <td>${feedback._3.format('#.##%')}</td>
            <td>${feedback._2}</td>
        </tr>
        <tr>
            <td class="label_td text-error" rowspan="4">处理失败</td>
        </tr>
        <tr>
        #{set reviewF: day90FailInfo.get("review")/}
            <td>Review</td>
            <td>${reviewF._1}</td>
            <td>${reviewF._3.format('#.##%')}</td>
            <td>${reviewF._2}</td>
        </tr>
        <tr>
        #{set feedbackF: day90FailInfo.get("feedback")/}
            <td>Feedback</td>
            <td>${feedbackF._1}</td>
            <td>${feedbackF._3.format('#.##%')}</td>
            <td>${feedbackF._2}</td>
        </tr>
    </table>
</div>
