<div><span class="label label-success">Basic Info</span></div>
<div id="detail_${cat.categoryId}">
    <table class="table table-bordered table-condensed">
        <tr>
            <td class="span1">CategoryId:</td>
            <td>${cat.categoryId}</td>
            <td class="span1">Name:</td>
            <td><input class="input-medium" type="text" name="c.name" value="${cat.name}"></td>
        </tr>
        <tr>
            <td class="span1">Memo:</td>
            <td colspan="3">
                <textarea name="c.memo" rows="3" cols="30">${cat.memo}</textarea>
                <input type="hidden" name="c.categoryId" value="${cat.categoryId}">
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <a href="#" id="btn_${cat.categoryId}" class="btn btn-small btn-primary">Save</a>
            </td>
        </tr>
    </table>
</div>


<div><span class="label label-success">Relate Brand</span></div>
<div class="row">
    <div class="span3">
    #{select name:'b.name', items:brands, valueProperty:'name'}#{/select}
        <input type="hidden" name="c.categoryId" value="${cat.categoryId}">
    </div>
    <div class="span3">
        <button class="btn btn-mini btn-primary" cid="${cat.categoryId}" bind>Bind</button>
    </div>
</div>
<div id="brands_${cat.categoryId}" style="height:250px;overflow:auto;margin-bottom:18px;">
    <table class="table table-bordered table-condensed" style="margin-bottom:0;">
        <tr>
            <th>Brand</th>
            <th>Memo</th>
            <th class="span1">Op</th>
        </tr>
    #{list items:cat.brands, as:'b'}
        <tr>
            <td>${b.name}</td>
            <td>${b.memo}</td>
            <td>
                <button class="btn btn-mini btn-warning" unbind cid="${cat.categoryId}" bid="${b.name}">UnBind
                </button>
            </td>
        </tr>
    #{/list}
    </table>
</div>

<div><span class="label label-success">Attrs</span></div>
<div class="row">
    <div class="span3.5">从下面选择此 Category 所拥有的 Attrs 然后点击</div>
    <div class="span2"><a href="#" id="cat_atts_btn" cid="${cat.categoryId}" class="btn btn-mini btn-primary">保存</a>
    </div>
</div>
<div style="height:250px;overflow:auto;" class="row-fluid" id="cat_atts">
#{list items:attrs, as:'a'}
    <label class="checkbox inline"><input type="checkbox" ${cat.attrNames.contains(a) ? 'checked' : ''} value="${a.name}" lval="${a.fullName}">${a.fullName}
    </label>
#{/list}
</div>
