<div class="label label-info">Basic Info</div>
<div id="detail_${cat.categoryId}">
    <table class="table table-bordered table-condensed">
        <tr>
            <td>CategoryId:</td>
            <td>${cat.categoryId}</td>
            <td>Name:</td>
            <td><input class="input-medium" type="text" name="c.name" value="${cat.name}"></td>
        </tr>
        <tr>
            <td>Memo:</td>
            <td colspan="3">
                <textarea name="c.memo" class="span12" rows="3">${cat.memo}</textarea>
                <input type="hidden" name="c.categoryId" value="${cat.categoryId}">
            </td>
        </tr>
        <tr>
            <td>AmzNode:</td>
            <td colspan="3">
                <input type="text" class="span12" name="c.settings.amazonNode" value="${cat.settings?.amazonNode}" placeHolder="此类别需要检查的 Node 值[,]分割">
            </td>
        </tr>
        <tr>
            <td style="width:100px;">AmzCategory:</td>
            <td colspan="3">
                <input type="text" class="span12" name="c.settings.amazonCategory" value="${cat.settings?.amazonCategory}" placeHolder="Amazon CLASSIFY 阶段的类型">
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <a href="#" id="btn_${cat.categoryId}" class="btn btn-primary">保存</a>
            </td>
        </tr>
    </table>
</div>


<div class="label label-info">Reason</div>
<div>
    <table class="table table-condensed table-bordered">
        <tr>
            <th>#</th>
            <th>Reason</th>
            <th>Memo</th>
            <th width="70"></th>
        </tr>
    #{list items:cat.reasons, as:'ra'}
        <tr>
            <td>${ra.id}</td>
            <td>${ra.reason}</td>
            <td>${ra.memo}</td>
            <td>
                <a href="@{TicketReasons.edit(ra.id)}" class="btn btn-mini btn-primary"><i class="icon-edit"></i></a>
                <a href="@{TicketReasons.remove}?lrid=${ra.id}" class="remove btn btn-mini btn-danger"><i class="icon-trash"></i></a>
            </td>
        </tr>
    #{/list}
        <tr>
            <td colspan="4">
                <a href="@{TicketReasons.blank()}?catId=${cat.categoryId}" class="btn btn-primary">添加原因</a>
            </td>
        </tr>
    </table>
</div>

<div class="label label-info">Relate Brand</div>
<div class="input-prepend" style="margin-top:3px;">
#{select name:'b.name', items:brands, valueProperty:'name'}#{/select}
    <input type="hidden" name="c.categoryId" value="${cat.categoryId}">
    <button class="btn btn-mini btn-primary" cid="${cat.categoryId}" bind>Bind</button>
</div>
<div class="clearfix"></div>
<div id="brands_${cat.categoryId}" style="height:250px;overflow:auto;margin-bottom:18px;">
    <table class="table table-bordered table-condensed" style="margin-bottom:0;">
        <tr>
            <th>Brand</th>
            <th>Memo</th>
            <th>Op</th>
        </tr>
    #{list items:cat.brands, as:'b'}
        <tr>
            <td>${b.name}</td>
            <td>${b.memo}</td>
            <td>
                <button class="btn btn-mini btn-warning" unbind cid="${cat.categoryId}" bid="${b.name}">UnBind
                </button>
            </td>
        </tr>
    #{/list}
    </table>
</div>


<div class="label label-info">Attrs</div>
<div class="input-prepend">
    <span>从下面选择此 Category 所拥有的 Attrs 然后点击</span>
    <a href="#" id="cat_atts_btn" cid="${cat.categoryId}" class="btn btn-mini btn-primary">保存</a>
</div>
<div style="height:250px;overflow:auto;" class="row-fluid" id="cat_atts">
#{list items:attrs, as:'a'}
    <label class="checkbox inline"><input type="checkbox" ${cat.attrNames.contains(a) ? 'checked' : ''} value="${a.name}" lval="${a.fullName}">${a.fullName}
    </label>
#{/list}
</div>
