#{extends 'main_full.html'/}
#{set title:'Category' /}
#{set 'moreScripts'}
#{/set}
<div class="row-fluid">
#{if cates.size() == 0}
  <div>
    等待添加新类别
  </div>
#{/if}
#{else }
  <div class="row-fluid">
    <div class="span3 well well-small" id="cat_slider">
      <table class="table table-bordered table-condensed">
        <tr>
          <th class="span1">CategoryId</th>
          <th>Name</th>
        </tr>
          #{list items:cates, as:'cat_left'}
            <tr>
              <td>${cat_left.categoryId}</td>
              <td>
                <a href="@{Categorys.show()}/${cat_left.categoryId}">${cat_left.name}</a>
              </td>
            </tr>
          #{/list}
      </table>
      <a href="@{Categorys.blank()}" class="btn btn-primary">创建新 Category</a>

      <form action="@{Categorys.delete()}" method="post" style="display:inline-block;">
        <input type="hidden" name="id" value="${cat.categoryId}">
          #{authenticityToken /}
        <button data-confirm='确认删除?' class="btn btn-danger">删除 Category: ${cat}</button>
      </form>
    </div>

    <div class="span8 well well-small" id="cat_detail">
        #{flash_alert /}
        #{errorMsgs /}

        #{info_row title:'Basic Info'}
          <ul>
            <li>产品要求: 每一个条款占据一行, 不要换行</li>
            <li>不需要填写前缀 1. 2. 之类的, 系统会自行处理</li>
          </ul>
        #{/info_row}
      <div>
        <form action="@{Categorys.update()}" method="post">
          <table class="table table-bordered table-condensed">
            <tr>
              <td>CategoryId:</td>
              <td>${cat.categoryId}</td>
              <td>Name:</td>
              <td>
                <input class="input-medium" type="text" name="cat.name" value="${cat.name}">
              </td>
            </tr>
            <tr>
              <td>AmzNode:</td>
              <td colspan="3">
                <input type="text" class="span12" name="cat.settings.amazonNode" value="${cat.settings?.amazonNode}" placeHolder="此类别需要检查的 Node 值[,]分割">
              </td>
            </tr>
            <tr>
              <td style="width:100px;">AmzCategory:</td>
              <td colspan="3">
                <input type="text" class="span12" name="cat.settings.amazonCategory" value="${cat.settings?.amazonCategory}" placeHolder="Amazon.com CLASSIFY 阶段的类型">
              </td>
            </tr>
            <tr>
              <td style="width:100px;">AmzUKCategory:</td>
              <td colspan="3">
                <input type="text" class="span12" name="cat.settings.amazonUKCategory" value="${cat.settings?.amazonUKCategory}" placeHolder="Amazon.co.uk CLASSIFY 阶段的类型">
              </td>
            </tr>
            <tr>
              <td style="width:100px;">AmzDECategory:</td>
              <td colspan="3">
                <input type="text" class="span12" name="cat.settings.amazonDECategory" value="${cat.settings?.amazonDECategory}" placeHolder="Amazon.de CLASSIFY 阶段的类型">
              </td>
            </tr>
            <tr>
              <td style="width:100px;">AmzFRCategory:</td>
              <td colspan="3">
                <input type="text" class="span12" name="cat.settings.amazonFRCategory" value="${cat.settings?.amazonFRCategory}" placeHolder="Amazon.fr CLASSIFY 阶段的类型">
              </td>
            </tr>
            <tr>
              <td style="width:100px;">AmzITCategory:</td>
              <td colspan="3">
                <input type="text" class="span12" name="cat.settings.amazonITCategory" value="${cat.settings?.amazonITCategory}" placeHolder="Amazon.it CLASSIFY 阶段的类型">
              </td>
            </tr>
            <tr>
              <td style="width:100px;">AmzESCategory:</td>
              <td colspan="3">
                <input type="text" class="span12" name="cat.settings.amazonESCategory" value="${cat.settings?.amazonESCategory}" placeHolder="Amazon.es CLASSIFY 阶段的类型">
              </td>
            </tr>
            <tr>
              <td>产品要求</td>
              <td colspan="3">
                <textarea name="cat.productTerms" class="span12" rows="10">${cat.productTerms}</textarea>
              </td>
            </tr>
            <tr>
              <td>Memo:</td>
              <td colspan="3">
                <textarea name="cat.memo" class="span12" rows="5">${cat.memo}</textarea>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <input type="hidden" name="cat.categoryId" value="${cat.categoryId}">
                <button class="btn btn-primary" data-loading>保存</button>
              </td>
            </tr>
          </table>
        </form>
      </div>


        #{info_row title:'Reason'/}
      <div>
        <table class="table table-condensed table-bordered">
          <tr>
            <th>#</th>
            <th>Reason</th>
            <th>Memo</th>
            <th width="70"></th>
          </tr>
            #{list items:cat.reasons, as:'ra'}
              <tr>
                <td>${ra.id}</td>
                <td>${ra.reason}</td>
                <td>${ra.memo}</td>
                <td>
                  <a href="@{TicketReasons.edit(ra.id)}" class="btn btn-mini btn-primary"><i class="icon-edit"></i></a>
                  <a href="@{TicketReasons.remove}?lrid=${ra.id}" class="remove btn btn-mini btn-danger"><i class="icon-trash"></i></a>
                </td>
              </tr>
            #{/list}
          <tr>
            <td colspan="4">
              <a href="@{TicketReasons.blank()}?catId=${cat.categoryId}" class="btn btn-primary">添加原因</a>
            </td>
          </tr>
        </table>
      </div>


        #{info_row title:'Relate Brand'/}
      <div class="row-fluid">
        <div class="span6">
          <form method="post" action="@{Categorys.brand()}">
            <div style="margin-bottom:10px;">
              <input type="hidden" name="id" value="${cat.categoryId}">
              <button class="btn btn-primary">绑定</button>
            </div>
            <table class="table table-bordered table-condensed">
              <tr>
                <th></th>
                <th>Brand</th>
                <th>FullName</th>
                <th>Memo</th>
              </tr>
                #{list items:cat.unbrands(), as:'brand'}
                  <tr>
                    <td>
                      <label><input type="checkbox" name="brandIds" value="${brand.name}"></label>
                    </td>
                    <td>${brand.name}</td>
                    <td>${brand.fullName}</td>
                    <td>${brand.memo}</td>
                  </tr>
                #{/list}
            </table>
          </form>
        </div>
        <div class="span6">
          <form method="post" action="@{Categorys.unbrand()}">
            <div style="margin-bottom:10px;">
              <input type="hidden" name="id" value="${cat.categoryId}">
              <button class="btn btn-warning">解除绑定</button>
            </div>
            <table class="table table-bordered table-condensed">
              <tr>
                <th></th>
                <th>Brand</th>
                <th>FullName</th>
                <th>Memo</th>
              </tr>
                #{list items:cat.brands, as:'b'}
                  <tr>
                    <td>
                      <label><input type="checkbox" name="brandIds" value="${b.name}"></label>
                    </td>
                    <td>${b.name}</td>
                    <td>${b.fullName}</td>
                    <td>${b.memo}</td>
                  </tr>
                #{/list}
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
#{/else}
</div>
