#{extends 'main_full.html'/}
#{set title:'自定义销售报表'/}
#{set 'moreScripts'}
    #{script 'analyzeskus/skuSalesReport.coffee'/}
#{/set}

<div class="row-fluid" style="margin-top:15px">
  <div id="a_toolbar" class="row-fluid">
    <form action="#" method="get" id="click_param" class="search_form">
      <div class="span12">
        <div class="input-prepend input-append inline">
          <span class="add-on">From:</span>
          <input type="date" name="from" value="${from.date()}">
          <span class="add-on">To:</span>
          <input type="date" name="to" value="${to.date()}">
        </div>

        <div class="input-append input-prepend inline">
          <span class="add-on"><i class="icon-search"></i></span>
          <input id="skusearch" type="text" autocomplete="off" data-provide="typeahead" data-items="15"
                 data-source="${products}" style="width:172px;" placeHolder="SKU">
        </div>
        <div class="input-append input-prepend inline">
          <label><input type="checkbox" name="islike" id="islike"/>模糊匹配</label>
        </div>
        <input type="hidden" id="postVal" name="val">

        <div class="span8">
          <form method="post" class="privilege_form" id="sku_form">
            <table id="skutable">
              <tr id="skutr" class="table table-condensed table-bordered">
              </tr>
            </table>
          </form>

          <div style="margin-top: 3px;">
            <button class="btn btn-success">Search</button>
            <button class="btn btn-info">Export</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<br/>
#{success_row title:'Sales Info'/}
<div id="sku_records" class="row-fluid">
  <div class="well well-small span12" style="height: 300px;">
    <p class="text-center" style="line-height:300px;">No data.</p>
  </div>
</div>

















