#{extends 'main_full_v3.html' /}
#{set title:'编辑物料' /}
#{set 'moreScripts'}
#{/set}
<style>
  .table td{
    vertical-align:middle;
  }
</style>

#{errorMsgs /}
#{flash_alert/}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border"><h3 class="box-title">编辑物料</h3></div>
      <form action="@{Materials.update()}" method="post" class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label for="pro_category" class="col-sm-2 control-label">物料编码<span style="color:red">*</span></label>
            <div class="col-sm-3">
              <input class="form-control" name="m.code" required autocomplete="off" value="${material.code}">
              <input type="hidden" name="m.id" value="${material.id}">
            </div>

            <label for="pro_family" class="col-sm-2 control-label">物料名称<span style="color:red">*</span></label>
            <div class="col-sm-3">
              <input class="form-control" name="m.name" value="${material.name}" required>
            </div>
          </div>

          <div class="form-group">
            <label for="pro_category" class="col-sm-2 control-label">物料类型<span style="color:red">*</span></label>
            <div class="col-sm-3">
              <select name="m.type" required class="form-control">
              #{list items:models.material.Material.T, as:'t'}
                <option value="${t.name()}" ${t==material.type?'selected':''}>${t.label()}</option>
              #{/list}
              </select>
            </div>

            <label for="pro_family" class="col-sm-2 control-label">B0M—ID</label>
            <div class="col-sm-3">
              <select name="boms[0].id" class="inline selectize" style="width:220px;">
                <option value="">请输入包装组</option>
              #{list items:materialBoms, as:'b'}
                <option #{if boms[0]?.id==b.id} selected #{/if} value="${b.id}">${b.number}-${b.name}</option>
              #{/list}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="pro_category" class="col-sm-2 control-label">规格</label>
            <div class="col-sm-3">
              <input class="form-control" name="m.specification" value="${material.specification}" autocomplete="off">
            </div>

            <label for="pro_family" class="col-sm-2 control-label">材质</label>
            <div class="col-sm-3">
              <input class="form-control" name="m.texture" value="${material.texture}" autocomplete="off">
            </div>
          </div>

          <div class="form-group">
            <label for="pro_category" class="col-sm-2 control-label">工厂物料代码</label>
            <div class="col-sm-3">
              <input class="form-control" name="m.version" value="${material.version}" autocomplete="off">
            </div>

            <label for="pro_family" class="col-sm-2 control-label">工艺</label>
            <div class="col-sm-3">
              <input class="form-control" name="m.technology" value="${material.technology}" autocomplete="off">
            </div>
          </div>

          <div class="form-group">
            <label for="pro_category" class="col-sm-2 control-label">备注</label>
            <div class="col-sm-8">
              <textarea class="form-control" name="m.memo" rows="4" class="input-block-level">${material.memo}</textarea>
            </div>
          </div>
        </div>

        <div class="box-footer">
          <input type="hidden" name="record.origin" value="">
          <input type="hidden" name="record.state" value="">
          <button class="btn btn-primary" name="create_record" data-loading>保存</button>
          <a href="@{Materials.index()}" class="btn btn-default">取消</a>
        </div>
      </form>
    </div>
  </div>
</div>

