#{extends 'main.html' /}
#{set title:'编辑物料' /}
#{set 'moreScripts'}
#{/set}
<style>
  .table td{
    vertical-align:middle;
  }
</style>

#{errorMsgs /}
#{flash_alert/}

#{form @Materials.update(), method:'POST'}
    #{info_row title: '编辑物料'/}
<div class="row-fluid">
  <div class="span12">
    <table class="table table-bordered">
      <tr>
        <th>物料编码<span style="color:red">*</span></th>
        <td>
          <input type="text" name="m.code" required autocomplete="off" value="${material.code}">
          <input type="hidden" name="m.id" value="${material.id}">
        </td>
        <th>物料名称<span style="color:red">*</span></th>
        <td style="width: 40%;"><input type="text" name="m.name" value="${material.name}" required></td>
      </tr>
      <tr>
        <th>物料类型<span style="color:red">*</span></th>
        <td>
          <select name="m.type" required>
              #{list items:models.material.Material.T, as:'t'}
                <option value="${t.name()}" ${t==material.type?'selected':''}>${t.label()}</option>
              #{/list}
          </select>
        </td>
        <th>B0M—ID</th>
        <td>
          <select name="boms[0].id" class="inline selectize" style="width:220px;" >
            <option value="">请输入包装组</option>
              #{list items:materialBoms, as:'b'}
                <option #{if boms[0]?.id==b.id} selected #{/if} value="${b.id}">${b.number}-${b.name}</option>
              #{/list}
          </select>
        </td>

      </tr>
      <tr>
        <th>规格</th>
        <td><input type="text" name="m.specification" value="${material.specification}" autocomplete="off"></td>
        <th>材质</th>
        <td><input type="text" class="input-xxlarge" name="m.texture" value="${material.texture}" autocomplete="off">
        </td>
      </tr>
      <tr>
        <th>图号/版本</th>
        <td><input type="text" name="m.version" value="${material.version}" autocomplete="off"></td>
        <th>工艺</th>
        <td>
          <input type="text" class="input-xxlarge" name="m.technology" value="${material.technology}" autocomplete="off">
        </td>
      </tr>
      <tr>
        <th>备注</th>
        <td colspan="4">
          <textarea name="m.memo" rows="4" class="input-block-level">${material.memo}</textarea>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <input type="hidden" name="record.origin" value="">
          <input type="hidden" name="record.state" value="">
          <button class="btn btn-primary" name="create_record">保存</button>
          <a href="@{Materials.index()}" class="btn btn-success">取消</a>
        </td>
      </tr>
    </table>
  </div>
</div>

#{/form}

