#{extends 'main_full_v3.html'/}
#{set title:"物料列表"  /}
#{set 'moreScripts'}
    #{script 'component/pagination.coffee'/}
    #{script 'materials/indexBom.es6'/}
#{/set}
<style>
  .table td{
    vertical-align:middle;
  }
</style>
#{errorMsgs /}
#{flash_alert /}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <form action="@{Materials.index()}" method="get" class="form-inline" id="search_Form">
          <div class="row-fluid">
            <select name="p.type" style="width: 150px;" class="form-control">
              <option value="">物料类别</option>
            #{list items:models.material.Material.T, as:'t'}
              <option #{if p.type==t} selected #{/if} value="${t.name()}">${t.label()}</option>
            #{/list}
            </select>

            <select name="p.status" style="width: 100px;" class="form-control">
              <option value="">物料状态</option>
            #{list items:models.view.post.MaterialPost.S.values(), as:'d'}
              <option value="${d.name()}" ${d.name() == p.status?.name()? 'selected' : ''}>${d.label()}</option>
            #{/list}
            </select>

            <div class="input-group">
              <div class="input-group-addon"><i class="icon-search"></i></div>
              <input type="text" class="form-control" style="width:220px;" name="p.search"
                     placeholder="物料编码 or 物料名称 or 规格 or 工艺 or 工厂物料代码" value="${p.search}">
              <input type="hidden" name="p.page" value="${p.page}">
              <input type="hidden" name="id" id="mid">
            </div>
            <button class="btn btn-primary" data-loading>搜索</button>
            <a class="btn btn-warning" href="@{controllers.Materials.blank()}" id="printBtn" target="_blank">
              <i class="icon-shopping-cart"></i> 新增物料</a>
          </div>
        </form>
      </div>

      <form method="post" id="inboundForm">
        <div class="box-body">
          <table class="table table-condensed table-bordered" id="data-table">
            <tr>
              <th width="150px;">物料编码</th>
              <th>物料名称</th>
              <th width="70px;">物料类别</th>
              <th width="70px;">B0M—ID</th>
              <th>规格</th>
              <th width="280px;">材质</th>
              <th width="150px;">工艺</th>
              <th width="120px;">工厂物料代码</th>
              <th width="100px;">最近采购价</th>
              <th width="100px;">操作</th>
            </tr>
          #{list items:materials, as:'m'}
            <tr>
              <td>${m.code}</td>
              <td>${m.name}</td>
              <td>${m.type.label()}</td>
              <td title=">${m.boms[0]?.number}" data-toggle="tooltip">${m.boms[0]?.number?.nineLong()}</td>
              <td title="${m.specification}" data-toggle="tooltip">${m.specification.xxLong()}</td>
              <td title="${m.texture}" data-toggle="tooltip">${m.texture.xxLong()}</td>
              <td title="${m.technology}" data-toggle="tooltip">${m.technology.nineLong()}</td>
              <td title="${m.version}" data-toggle="tooltip">${m.version.overLong()}</td>
              <td>${m.nowPurchasePlanPrice()}</td>
              <td>
                <a href="@{Materials.edit(m.id)}" class="btn btn-xs btn-primary">编辑</a>
                  #{if m.isDel}
                    <a href="javascript:void(0)" data-url='@{Materials.deleteMaterial(m.id)}' msg='确定上架数据吗'
                       uid="${m.id}" name="delBtn" class="btn btn-xs btn-success">上架</a>
                  #{/if}
                  #{else }
                    <a href="javascript:void(0)" data-url='@{Materials.deleteMaterial(m.id)}' msg='确定下架数据吗'
                       uid="${m.id}" name="delBtn" class="btn btn-xs btn-danger">下架</a>
                  #{/else}
              </td>
            </tr>
          #{/list}
          </table>
        </div>
      </form>
      <div class="box-footer">
      #{bootstrap_pager_v3 pi:p, url:'' /}
      </div>
    </div>
  </div>
</div>

#{records_v3 records:logs/}


